USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [AFFILIATE].[COMPARE_sp_Protokollierung]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		DJU Juhr, Dennis
-- Create date: 20.07.2018
-- Description:	Protokollierung um die Laufzeit von Affiliate Postings zu messen
-- =============================================
CREATE PROCEDURE [AFFILIATE].[COMPARE_sp_Protokollierung] 
	-- Add the parameters for the stored procedure here
	@Hauptschritt VARCHAR(100), 
	@Unterschritt VARCHAR(100), 
	@StartEnde VARCHAR(10) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [COMPARE_Affiliate Postings - Protokoll] ([Zeitstempel], [Hauptschritt], [Unterschritt], [Start/Ende])
	VALUES (CURRENT_TIMESTAMP, @Hauptschritt, @Unterschritt, @StartEnde)
END
GO
