USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [AFFILIATE].[sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)]    Script Date: 10.04.2024 14:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SAK ACS-2563
TMA ACS-3756 
EXEC [AFFILIATE].[sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)]
*/
CREATE PROCEDURE [AFFILIATE].[sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)]
AS
BEGIN

   UPDATE AP SET AP.[PaymentNONCommisionableStay]=0,AP.[PaymentCancelation] =0, AP.[PaymentNoShow] =0
     FROM [HRS$Affiliate Postings]           AP WITH (READUNCOMMITTED)
LEFT JOIN [HRS$CDG Import Zahlungszentralen] ZA WITH (READUNCOMMITTED)
       ON ZA.[Reservierungsnummer] = AP.[ReservationNo]
    WHERE (COALESCE(AP.[PaymentNONCommisionableStay],0) = 1
       OR COALESCE(AP.[PaymentCancelation]         ,0) = 1
       OR COALESCE(AP.[PaymentNoShow]              ,0) = 1)
      AND ZA.Reservierungsnummer IS NULL

-- TMA ACS-3756 +++
CREATE TABLE #R ([Reservierungsnummer] int, [PaymentNONCommisionableStay] int, [PaymentCancelation] int, [PaymentNoShow] int)

   INSERT INTO #R
   SELECT CLE.[Reservierungsnr_]
        , CASE WHEN CLE.[Description] LIKE '%/NON Commisionable Stay%' THEN 1 ELSE 0 END [PaymentNONCommisionableStay]
        , CASE WHEN CLE.[Description] LIKE '%/Cancellation%'           THEN 1 ELSE 0 END [PaymentCancelation]
        , CASE WHEN CLE.[Description] LIKE '%/NoShow%'                 THEN 1 ELSE 0 END [PaymentNoShow]
     FROM DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] CLE WITH (NOLOCK)
LEFT JOIN DynNavHRS.dbo.[HRS$CDG Import Zahlungszentralen] ZA WITH (NOLOCK) ON ZA.[Reservierungsnummer] = CAST(CLE.[Reservierungsnr_] AS varchar(20))
    WHERE CLE.[Reservierungsnr_]>0
      AND (
              CLE.[Description] LIKE '%/NoShow%'
           OR CLE.[Description] LIKE '%/Cancellation%'
           OR CLE.[Description] LIKE '%/NON Commisionable Stay%'
          )
      AND ZA.[Reservierungsnummer] IS NULL
-- TMA ACS-3756 ---

EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'Init', 'Start'
;WITH ZZ AS
(
  SELECT ZZ.[Reservierungsnummer]
       , MAX(CASE WHEN (([Buch_ Description] LIKE '%/NON Commisionable Stay%' OR [Action Code] = 'NETC') AND [Reverse Cust_ Ledger Entry No_] = 0) THEN 1 ELSE 0 END) [PaymentNONCommisionableStay]
       , MAX(CASE WHEN ([Buch_ Description] LIKE '%/Cancellation%'           OR [Action Code] = 'CXLD') THEN 1 ELSE 0 END) [PaymentCancelation]
       , MAX(CASE WHEN ([Buch_ Description] LIKE '%/NoShow%'                 OR [Action Code] = 'NSHW') THEN 1 ELSE 0 END) [PaymentNoShow]
       -- ACS-844: Feld wird nicht verwendet >>
       --, SUM(ZZ.NetCommissionPaymentCurrency) NetCommissionPaymentCurrency 
	   -- ACS-844 <<
    FROM [HRS$CDG Import Zahlungszentralen] ZZ WITH (NOLOCK)
   WHERE [Reservierungsnummer]<>0
GROUP BY [Reservierungsnummer]
-- TMA ACS-3756 +++
UNION
  SELECT DISTINCT ZZ.[Reservierungsnummer]
       , ZZ.[PaymentNONCommisionableStay]
       , ZZ.[PaymentCancelation]
       , ZZ.[PaymentNoShow]
       -- ACS-844: Feld wird nicht verwendet >>
       --, SUM(ZZ.NetCommissionPaymentCurrency) NetCommissionPaymentCurrency 
	   -- ACS-844 <<
    FROM #R ZZ
-- TMA ACS-3756 ---
)
UPDATE AP SET
       AP.[PaymentNONCommisionableStay] = ZZ.[PaymentNONCommisionableStay]
     , AP.[PaymentCancelation]          = ZZ.[PaymentCancelation]       
     , AP.[PaymentNoShow]               = ZZ.[PaymentNoShow]               
  FROM [HRS$Affiliate Postings]           AP WITH (READUNCOMMITTED)
-- TMA ACS-3756 +++
--  JOIN [HRS$CDG Import Zahlungszentralen] ZA WITH (READUNCOMMITTED)
--    ON ZA.[Reservierungsnummer] = AP.[ReservationNo]
-- TMA ACS-3756 ---
  JOIN ZZ ON ZZ.Reservierungsnummer = AP.[ReservationNo]
 WHERE COALESCE(AP.[PaymentNONCommisionableStay],0) <> ZZ.[PaymentNONCommisionableStay]
    OR COALESCE(AP.[PaymentCancelation],0)          <> ZZ.[PaymentCancelation]        
    OR COALESCE(AP.[PaymentNoShow],0)               <> ZZ.[PaymentNoShow]            

DECLARE @ReservationNo int, @ReservationPartNo int, @InvoiceNo varchar(20)
EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'Init', 'Ende'

EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'UPDATE 1', 'Start'
-- ACS-844: Cursor ersetzt >>
--DECLARE cur CURSOR FOR  
-- SELECT ReservationNo, ReservationPartNo, InvoiceNo
--   FROM DynNavHRS.dbo.[HRS$Affiliate Postings] AP WITH (NOLOCK)   
--  WHERE AP.[Amount_LCY_corr] <> 0 
--    AND (AP.[PaymentNONCommisionableStay] =1 OR AP.[PaymentCancelation]  = 1 OR AP.[PaymentNoShow]  = 1)

--OPEN cur

--FETCH NEXT FROM cur INTO @ReservationNo, @ReservationPartNo, @InvoiceNo  

--WHILE @@FETCH_STATUS=0
--BEGIN
--  UPDATE DynNavHRS.dbo.[HRS$Affiliate Postings] SET [Amount_LCY_corr] = 0, [Amount_corr] = 0
--   WHERE ReservationNo=@ReservationNo 
--     AND ReservationPartNo=@ReservationPartNo
--     AND InvoiceNo=@InvoiceNo
--  FETCH NEXT FROM cur INTO @ReservationNo, @ReservationPartNo, @InvoiceNo 
--END   

--CLOSE cur
--DEALLOCATE cur

DECLARE @cnt int

SELECT @cnt=COUNT(1) FROM DynNavHRS.dbo.[HRS$Affiliate Postings] WHERE [Amount_LCY_corr] <> 0 AND ([PaymentNONCommisionableStay] =1 OR [PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)

WHILE @cnt>0
BEGIN
	PRINT @cnt

	UPDATE TOP(10000) DynNavHRS.dbo.[HRS$Affiliate Postings] SET [Amount_LCY_corr] = 0, [Amount_corr] = 0, [Agency Amount (LCY) (corr_)]=0
	 WHERE [Amount_LCY_corr] <> 0 
	   AND ([PaymentNONCommisionableStay] =1 OR [PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)

	SELECT @cnt=COUNT(1) FROM DynNavHRS.dbo.[HRS$Affiliate Postings] WHERE [Amount_LCY_corr] <> 0 AND ([PaymentNONCommisionableStay] =1 OR [PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)
END
-- ACS-844 <<
EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'UPDATE 1', 'Ende'

EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'UPDATE 2', 'Start'
-- ACS-844: Cursor ersetzt >>
----DECLARE @ReservationNo int, @ReservationPartNo int, @InvoiceNo varchar(20)   
--DECLARE cur CURSOR FOR  
--SELECT ReservationNo, ReservationPartNo, InvoiceNo
--  FROM DynNavHRS.dbo.[HRS$Affiliate Postings] AP WITH (NOLOCK)     
-- WHERE AP.[Turnover_LCY_corr] <> 0 
--   AND (AP.[PaymentCancelation]  = 1 OR AP.[PaymentNoShow]  = 1)

--OPEN cur

--FETCH NEXT FROM cur INTO @ReservationNo, @ReservationPartNo, @InvoiceNo  

--WHILE @@FETCH_STATUS=0
--BEGIN
--  UPDATE DynNavHRS.dbo.[HRS$Affiliate Postings] SET [Turnover_LCY_corr] = 0, [Turnover_corr] = 0
--   WHERE ReservationNo=@ReservationNo 
--     AND ReservationPartNo=@ReservationPartNo
--     AND InvoiceNo=@InvoiceNo
--  FETCH NEXT FROM cur INTO @ReservationNo, @ReservationPartNo, @InvoiceNo 
--END   

--CLOSE cur
--DEALLOCATE cur

SELECT @cnt=COUNT(1) FROM DynNavHRS.dbo.[HRS$Affiliate Postings] WHERE [Turnover_LCY_corr] <> 0 AND ([PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)

WHILE @cnt>0
BEGIN
	PRINT @cnt

	UPDATE TOP(10000) DynNavHRS.dbo.[HRS$Affiliate Postings] SET [Turnover_LCY_corr] = 0, [Turnover_corr] = 0, [Agency Amount (LCY) (corr_)]=0
	 WHERE [Turnover_LCY_corr] <> 0 
	   AND ([PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)

	SELECT @cnt=COUNT(1) FROM DynNavHRS.dbo.[HRS$Affiliate Postings] WHERE [Turnover_LCY_corr] <> 0 AND ([PaymentCancelation]  = 1 OR [PaymentNoShow]  = 1)
END
-- ACS-844 <<
EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'UPDATE 2', 'Ende'

EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'sp_HRS$Accor TAF', 'Start'
EXEC [AFFILIATE].[sp_HRS$Accor TAF]
EXEC AFFILIATE.[sp_Protokollierung] 'sp_HRS$Update aus Zahlungszentralen (Affiliate Posting)', 'sp_HRS$Accor TAF', 'Ende'
END

GO
