USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [BC].[GetLastCustLedgerEntry]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BC].[GetLastCustLedgerEntry] ()RETURNS int
AS
BEGIN
  DECLARE @MaxEntryNo int=0
  SELECT @MaxEntryNo=MAX([Entry No_]) FROM BC.CustLedgerEntry
  RETURN @MaxEntryNo
END
GO
