USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [BC].[InsertUpdateCustLedgerEntry]    Script Date: 10.04.2024 14:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BC].[InsertUpdateCustLedgerEntry]
  @EntryNo int
, @CustomerNo nvarchar(20)
, @Open tinyint
, @DocumentType int
, @DocumentNo nvarchar(20)
, @DocumentDate date
, @PostingDate date
AS
BEGIN
    IF EXISTS(SELECT * FROM BC.CustLedgerEntry WHERE [Entry No_]=@EntryNo)
        UPDATE BC.CustLedgerEntry SET 
               [Open]=@Open 
             , [Document Type]=@DocumentType
             , [Document No_]=@DocumentNo
             , [Document Date]=@DocumentDate
             , [Posting Date]=@PostingDate
         WHERE [Entry No_]=@EntryNo
    ELSE
        INSERT INTO BC.CustLedgerEntry([Entry No_],[Customer No_],[Open],[Document Type],[Document No_],[Document Date],[Posting Date])
        SELECT @EntryNo, @CustomerNo, @Open, @DocumentType, @DocumentNo, @DocumentDate, @PostingDate
END
GO
