USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [BC].[InsertUpdateSalesCrMemoHeader]    Script Date: 10.04.2024 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [BC].[InsertUpdateSalesCrMemoHeader]
	@No [nvarchar] (20)
  , @CustomerNo [nvarchar] (20)
  , @PostingDate date
  , @DocumentDate date
  , @Amount decimal(38,20)
  , @AmountInclVAT decimal(38,20)
  , @CurrencyFactor decimal(38,20)
AS
BEGIN
    IF EXISTS(SELECT * FROM BC.SalesCrMemoHeader WHERE [No_]=@No)
        UPDATE BC.SalesCrMemoHeader SET 
               [Amount]=@Amount
             , [Amount incl_ VAT]=@AmountInclVAT
             , [Document Date]=@DocumentDate
             , [Posting Date]=@PostingDate
             , [Currency Factor]=@CurrencyFactor
         WHERE [No_]=@No
    ELSE
        INSERT INTO BC.SalesCrMemoHeader ([No_],[Amount],[Amount incl_ VAT],[Document Date],[Posting Date],[Currency Factor])
        SELECT @No, @Amount, @AmountInclVAT, @DocumentDate, @PostingDate, @CurrencyFactor
END
GO
