USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [BC].[InsertUpdateDtldCustLedgerEntry]    Script Date: 10.04.2024 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [BC].[InsertUpdateDtldCustLedgerEntry]
  @EntryNo int
, @DocumentType int
, @DocumentNo nvarchar(20)
, @DueDate date
, @CustLedgEntryNo int
, @EntryType int
, @AmountLCY dec(38,20)
AS
BEGIN
    IF EXISTS(SELECT * FROM BC.DtldCustLedgerEntry WHERE [Entry No_]=@EntryNo)
        UPDATE BC.DtldCustLedgerEntry SET 
               [Document Type]=@DocumentType
             , [Document No_]=@DocumentNo
             , [Due Date]=@DueDate
             , [Cust_ Ledger Entry No_]=@CustLedgEntryNo
             , [Entry Type]=@EntryType
             , [Amount (LCY)]=@AmountLCY
         WHERE [Entry No_]=@EntryNo
    ELSE
        INSERT INTO BC.DtldCustLedgerEntry([Entry No_],[Document Type],[Document No_],[Due Date],[Cust_ Ledger Entry No_],[Entry Type],[Amount (LCY)])
        SELECT @EntryNo, @DocumentType, @DocumentNo, @DueDate, @CustLedgEntryNo, @EntryType, @AmountLCY
END
GO
