USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [BI].[InsertSEPAInitiative]    Script Date: 10.04.2024 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [BI].[InsertSEPAInitiative]
AS
BEGIN
TRUNCATE TABLE BI.SEPAInitiative
;WITH MH AS
(
   SELECT MH.[Mandate ID]
        , [Account No_] [Customer No_]
        , MAX(MH.[Payment Proposal Date]) [Payment Proposal Date]
     FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
    WHERE MH.[Account Type]=0
 GROUP BY MH.[Mandate ID]
        , [Account No_]
), CU AS
(
   SELECT 'HRS GmbH' [Legal Entity]
        , CAST(CU.[No_] as varchar(20)) [No_]
        , CU.[Name]
        , CU.[Name 2]
        , CU.[Address]
        , CU.[Address 2]
        , CU.[Post Code]
        , CU.[City]
        , CR.[Name] [Country]
        , CU.[E-Mail]
        , CU.[Phone No_]
        , CU.[Fax No_]
        , CU.[Contract Status]
        , CU.[Chain]
        , CU.[Brand]
        , BAL.[SUM$Amount (LCY)] [Balance (LCY)]
        , BA.[Mandate Date]
        , CU.[Country_Region Code]
        , CO.[GTC Status]
        , CU.[Export Center]
        , CU.[Accounting Center]
        , MH.[Payment Proposal Date] [SEPA Last Use]
        , CASE WHEN CH.[Code] IS NULL THEN '' ELSE '('+CH.[Code]+') '+CH.[Name] END [CHAIN NAME]
        , CASE WHEN BR.[Code] IS NULL THEN '' ELSE '('+BR.[Code]+') '+BR.[Name] END [BRAND NAME]
        , CASE WHEN CS.[Code] IS NULL THEN '' ELSE '('+CS.[Code]+') '+CS.[Name] END [CONTRACT STATUS / FIT STATUS]
        , CASE WHEN HS.[Status] IS NULL THEN '' ELSE '('+CAST(HS.[Status] AS varchar(10))+') '+HS.[Description] END [HOTEL STATUS]
     FROM [HRS$Customer] CU WITH (NOLOCK)
LEFT JOIN [HRS$Dimension Value] CH WITH (NOLOCK) ON CH.[Dimension Code]='CHAIN' AND CH.[Code]=CU.[Chain]
LEFT JOIN [HRS$Dimension Value] BR WITH (NOLOCK) ON BR.[Dimension Code]='BRAND' AND BR.[Code]=CU.[Brand]
LEFT JOIN [HRS$Dimension Value] CS WITH (NOLOCK) ON CS.[Dimension Code]='CONTRACT STATUS' AND CS.[Code]=CU.[Contract Status]
LEFT JOIN [HRS$Hotel Status] HS ON HS.[Status]=CU.[Hotel Status]
     JOIN [HRS$Contact] CO WITH (NOLOCK) ON CU.[No_]=CO.[No_]
     JOIN [HRS$Detailed Cust_ Ledg_ Entry$Customer No_] BAL ON BAL.[Customer No_]=CAST(CU.[No_] as varchar(20))
     JOIN [HRS$Country_Region] CR WITH  (NOLOCK) ON CR.[Code]=CU.[Country_Region Code]
LEFT JOIN [HRS$Customer Bank Account] BA WITH (NOLOCK) ON [BA].[Customer No_]=CAST(CU.[No_] as varchar(20)) AND BA.[Clearing]=1
LEFT JOIN MH ON MH.[Customer No_]=BAL.[Customer No_] AND MH.[Mandate ID]=BA.[Mandate ID]
    WHERE CU.[Testhotel]=''
      AND CU.[No_]<2000000
), TA AS
(
   SELECT DLE.[Customer No_]
        , MIN(DLE.[Posting Date]) [First Posting Date]
        , MAX(DLE.[Posting Date]) [Last Posting Date]
        , SUM(DLE.[Amount (LCY)]) [Total Sales Amount (LCY)]
        , DATEDIFF(MM,MIN(DLE.[Posting Date]),MAX(DLE.[Posting Date]))+1 [Periods]
        , ROUND(SUM(DLE.[Amount (LCY)]) / (DATEDIFF(MM,MIN(DLE.[Posting Date]),MAX(DLE.[Posting Date]))+1),2) [Avg. Monthly Sales Amount (LCY)]
     FROM [HRS$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
    WHERE DLE.[Entry Type]=1
      AND DLE.[Document Type] IN (2,3)
 GROUP BY DLE.[Customer No_]
), AP AS
(
  SELECT DE1.[Customer No_]
       , DE1.[Cust_ Ledger Entry No_]
       , MAX(CASE WHEN CE.[Document Type]=2 THEN CE.[Document No_] ELSE '' END) [Invoice No_]
       , MAX(CASE WHEN CE.[Document Type]=1 THEN CE.[Document No_] ELSE '' END) [Payment No_]
       , MAX(CASE WHEN CE.[Document Type]=2 THEN CE.[Posting Date] ELSE '' END) [Invoice Posting Date] 
       , MAX(CASE WHEN CE.[Document Type]=1 THEN CE.[Posting Date] ELSE '' END) [Payment Posting Date] 
       , DATEDIFF(DD,MAX(CASE WHEN CE.[Document Type]=2 THEN CE.[Posting Date] ELSE '' END),MAX(CASE WHEN CE.[Document Type]=1 THEN CE.[Posting Date] ELSE '' END)) [Payment Duration]
    FROM [HRS$Detailed Cust_ Ledg_ Entry] DE1 WITH (NOLOCK)
    JOIN [HRS$Detailed Cust_ Ledg_ Entry] DE2 WITH (NOLOCK) ON DE1.[Applied Cust_ Ledger Entry No_]=DE2.[Applied Cust_ Ledger Entry No_]
    JOIN [HRS$Cust_ Ledger Entry] CE WITH (NOLOCK) ON CE.[Entry No_]=DE2.[Cust_ Ledger Entry No_]
   WHERE DE1.[Applied Cust_ Ledger Entry No_]<>0
     AND CE.[Document Type] IN (1,2)
GROUP BY DE1.[Customer No_]
       , DE1.[Cust_ Ledger Entry No_]
  HAVING MAX(CASE WHEN CE.[Document Type]=1 THEN CE.[Document No_] ELSE '' END)<>''
     AND MAX(CASE WHEN CE.[Document Type]=2 THEN CE.[Posting Date] ELSE '' END)<>''
), AA AS
(
  SELECT [Customer No_], AVG([Payment Duration]) [Avg. Payment Duration] FROM AP GROUP BY [Customer No_]
)
  INSERT INTO [BI].[SEPAInitiative] ([Legal Entity]
           ,[Classification]
           ,[Customer No_]
           ,[Name]
           ,[Name 2]
           ,[Address]
           ,[Address 2]
           ,[Post Code]
           ,[City]
           ,[Country]
           ,[E-Mail]
           ,[Phone No_]
           ,[Fax No.]
           ,[Chain]
           ,[Brand]
           ,[Balance (LCY)]
           ,[Mandate Date]
           ,[First Posting Date]
           ,[Last Posting Date]
           ,[Total Sales Amount (LCY)]
           ,[Periods]
           ,[Avg_ Monthly Sales Amount (LCY)]
           ,[Avg_ Payment Duration]
           ,[CHAIN NAME]
           ,[BRAND NAME]
           ,[CONTRACT STATUS / FIT STATUS]
           ,[HOTEL STATUS]
           ,[SEPA Last Use]
           ,[Accounting Center]
           )
  SELECT CU.[Legal Entity]
       , CASE 
            WHEN CU.[Country_Region Code] IN ('176','114','15','25','199','169','156','32','201','42','33','49','160','62','65','223','173','234','98','110','122','123','125','171','200','198','140','132')
              THEN  CASE
                WHEN (NOT CU.[Mandate Date] IS NULL) -- auskommentiert wg. EMail von Maciej 12.12.23 -- AND (DATEDIFF(mm,COALESCE([SEPA Last Use],'1900-01-01'),GETDATE())<=36)
                  THEN '(2) SEPA sign-up'
                WHEN AA.[Avg. Payment Duration] < 30
                  THEN '(3) good Payment Behaviour'
                WHEN CU.[Contract Status] IN ('10','11') THEN
                  CASE 
                    WHEN CU.[Chain] IN ('17','19','28','60','128','187','219','221','226','396','430','519','528','594','619','664','753','787','923','964','1055','1087','1089','1098','1130','1164','1196','1557','1957','2057','2098','2432','2457','2661','2725','2727','2800','2802','2893','2902','3004','3129','1','37','42','67','78','101','112','146','178','210','237','269','271','312','369','378','446','512','569','571','603','614','671','680','905','1005','1014','1073','1173','1307','1314','1316','1407','1441','1516','1716','1805','2009','2075','2252','2341','2375','2377','2518','2609','2750','2850','2877','2911','2950','3077','3084','3111','20','27','70','109','127','177','188','227','263','277','345','352','388','470','495','502','538','713','745','795','888','920','931','945','956','1045','1113','1145','1299','1363','1424','1456','1463','1499','1656','1667','1688','1917','2006','2181','2185','2449','2474','2492','2524','2642','2703','2753','2803','2853','2910','2928','2978','3010','0','13','15','30','32','64','81','100','132','166','215','230','266','347','432','483','500','534','549','649','651','951','1000','1066','1166','1185','1236','1253','1383','1417','1434','1617','1636','1668','1955','1968','2019','2038','2138','2387','2436','2453','2638','2657','2672','2689','3021','16','50','63','163','165','180','214','267','282','316','350','431','514','518','550','748','765','784','901','1086','1152','1286','1484','1603','1735','2052','2071','2437','2454','2471','2488','2503','2522','2656','2720','2724','2805','2888','2971','3056','3058','5','88','173','174','192','206','241','291','356','391','441','456','509','574','606','723','960','991','1059','1091','1128','1192','1328','1360','1395','1409','1410','1510','1560','1660','1710','1828','1995','2213','2346','2378','2445','2446','2495','2563','2699','2713','2714','2732','2931','2946','2963','2964','2996','2999','3081','NULL','8','22','122','172','240','275','358','407','490','493','576','793','957','958','1007','1058','1161','1208','1412','1475','1511','1612','1662','1979','2030','2112','2161','2348','2430','2462','2479','2665','2729','2747','2830','2898','2998','3083','3098','18','29','61','68','79','118','136','143','204','229','268','279','354','447','479','529','572','579','597','636','711','761','936','954','965','972','1004','1054','1065','1072','1079','1122','1204','1304','1372','1422','1454','1658','1733','1822','1890','1958','2040','2158','2190','2201','2215','2351','2358','2376','2433','2444','2451','2458','2483','2683','2719','2726','2876','2937','2951','2962','3019','3051') OR CU.[Export Center]<>''
                      THEN '(4) Central Payment'
                    ELSE '(6) Migration SEPA'
                  END
                WHEN CU.[GTC Status]=1
                  THEN '(5) GTC rejected'
                ELSE
                  '(6) Migration SEPA'
                END
              ELSE '(0) no SEPA Country'
          END [Classification]
       , CU.[No_] [Customer No_]
       , CU.[Name]
       , CU.[Name 2]
       , CU.[Address]
       , CU.[Address 2]
       , CU.[Post Code]
       , CU.[City]
       , CU.[Country]
       , CU.[E-Mail]
       , CU.[Phone No_]
       , CU.[Fax No_]
       , CU.[Chain]
       , CU.[Brand]
       , CU.[Balance (LCY)]
       , CASE WHEN (NOT CU.[Mandate Date] IS NULL) AND (DATEDIFF(mm,COALESCE([SEPA Last Use],'1900-01-01'),GETDATE())<=36) THEN CU.[Mandate Date] ELSE null END [Mandate Date]
       , TA.[First Posting Date]
       , TA.[Last Posting Date]
       , TA.[Total Sales Amount (LCY)]
       , TA.[Periods]
       , TA.[Avg. Monthly Sales Amount (LCY)]
       , AA.[Avg. Payment Duration]
       , CU.[CHAIN NAME]
       , CU.[BRAND NAME]
       , CU.[CONTRACT STATUS / FIT STATUS]
       , CU.[HOTEL STATUS]
       , CASE WHEN (NOT CU.[Mandate Date] IS NULL) AND (DATEDIFF(mm,COALESCE([SEPA Last Use],'1900-01-01'),GETDATE())<=36) THEN CU.[SEPA Last Use] ELSE null END [SEPA Last Use]
       , CU.[Accounting Center]
    FROM CU
    JOIN TA ON TA.[Customer No_]=CU.[No_]
    JOIN AA ON AA.[Customer No_]=CU.[No_]
ORDER BY CAST(CU.[No_] as int)

--SELECT TOP 10 * FROM [dbo].[HRS$Detailed Cust_ Ledg_ Entry$Customer No_]

END
GO
