USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [BI].[InsertOutstandingBalances]    Script Date: 10.04.2024 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [BI].[InsertOutstandingBalances]
AS
BEGIN
TRUNCATE TABLE BI.OutstandingBalances
;WITH CU AS
(
    SELECT 'HRS GmbH' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , DE.[SUM$Amount (LCY)] [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry$Customer No_] DE WITH (NOLOCK)
      JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK) ON CU.[No_]=DE.[Customer No_]
     WHERE DE.[SUM$Amount (LCY)]<>0
       AND ISNUMERIC(DE.[Customer No_])>0
UNION
    SELECT 'DS Destination Solutions GmbH' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , SUM(DE.[Amount (LCY)]) [Balance (LCY)]
         , 'Customer' [Customer Group]
      FROM [BC].[DtldCustLedgerEntry] DE WITH (NOLOCK)
      JOIN [BC].[CustLedgerEntry] CE WITH (NOLOCK) ON DE.[Cust_ Ledger Entry No_]=CE.[Entry No_]
      JOIN [BC].[Customer] CU WITH (NOLOCK) ON CU.[No_]=CE.[Customer No_]
  GROUP BY CU.[No_], CU.[Name]
    HAVING SUM(DE.[Amount (LCY)])<>0
UNION
    SELECT 'Hotel Reservation Service (Shanghai) Co., Ltd.' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , DE.[SUM$Amount (LCY)] [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM DynNavHRS.dbo.[HRS-CN$Detailed Cust_ Ledg_ Entry$Customer No_] DE WITH (NOLOCK)
      JOIN DynNavHRS.dbo.[HRS-CN$Customer] CU WITH (NOLOCK) ON CU.[No_]=DE.[Customer No_]
     WHERE DE.[SUM$Amount (LCY)]<>0
       AND ISNUMERIC(DE.[Customer No_])>0
UNION
    SELECT 'Hotel Reservation Service Brasil Ltda.' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , DE.[SUM$Amount (LCY)] [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM DynNavHRS.dbo.[HRS-BR$Detailed Cust_ Ledg_ Entry$Customer No_] DE WITH (NOLOCK)
      JOIN DynNavHRS.dbo.[HRS-BR$Customer] CU WITH (NOLOCK) ON CU.[No_]=DE.[Customer No_]
     WHERE DE.[SUM$Amount (LCY)]<>0
       AND ISNUMERIC(DE.[Customer No_])>0
UNION
    SELECT 'HRS Pay GmbH' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , DE.[SUM$Amount (LCY)] [Balance (LCY)]
         , CASE 
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 70110000 AND 70119999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 70990000 AND 70999999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 71000001 AND 71009999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 701100000 AND 701109999 THEN 'Customer'
             WHEN 1=1 THEN CU.[Customer Posting Group]
           END [Customer Group]
      FROM DynNavHRS.dbo.[HRS Payment$Detailed Cust_ Ledg_ Entry$VSIFT$14] DE WITH (NOLOCK)
      JOIN DynNavHRS.dbo.[HRS Payment$Customer] CU WITH (NOLOCK) ON CU.[No_]=DE.[Customer No_]
     WHERE DE.[SUM$Amount (LCY)]<>0
       AND ISNUMERIC(DE.[Customer No_])>0
UNION
    SELECT 'HRS PaySol GmbH' [Legal Entity]
         , CU.[No_] [Customer No_] 
         , CU.[Name]
         , DE.[SUM$Amount (LCY)] [Balance (LCY)]
         , CASE 
             WHEN CU.[No_] BETWEEN 99000000 AND 99009999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 70990000 AND 70999999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 80000000 AND 80009999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 90000000 AND 90009999 THEN 'Customer'
             WHEN 1=1 THEN CU.[Customer Posting Group]
           END [Customer Group]
      FROM DynNavHRS.dbo.[HRS PaySol$Detailed Cust_ Ledg_ Entry$VSIFT$14] DE WITH (NOLOCK)
      JOIN DynNavHRS.dbo.[HRS PaySol$Customer] CU WITH (NOLOCK) ON CU.[No_]=DE.[Customer No_]
     WHERE DE.[SUM$Amount (LCY)]<>0
       AND ISNUMERIC(DE.[Customer No_])>0
), RC AS
(
    SELECT COALESCE([Customer No_],'999999999') [Customer No_]
         , [Legal Entity]
      FROM BI.[Outstandings]
  GROUP BY COALESCE([Customer No_],'999999999'), [Legal Entity]
), RCM AS
(
    SELECT RC.[Customer No_]
         , RC.[Legal Entity]
      FROM RC
 LEFT JOIN CU ON CU.[Customer No_]=RC.[Customer No_] AND CU.[Legal Entity]=RC.[Legal Entity]
     WHERE CU.[Customer No_] IS NULL
), CM AS
(
    SELECT RCM.[Legal Entity]
         , RCM.[Customer No_]
         , CU.[Name]
         , 0 [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM RCM
      JOIN [HRS$Customer] CU ON CU.[No_]=RCM.[Customer No_]
     WHERE [Legal Entity]='HRS GmbH'
UNION
    SELECT RCM.[Legal Entity]
         , RCM.[Customer No_]
         , CU.[Name]
         , 0 [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM RCM
      JOIN [HRS-CN$Customer] CU ON CU.[No_]=RCM.[Customer No_]
     WHERE [Legal Entity]='Hotel Reservation Service (Shanghai) Co., Ltd.'
UNION
    SELECT RCM.[Legal Entity]
         , RCM.[Customer No_]
         , CU.[Name]
         , 0 [Balance (LCY)]
         , CASE 
             WHEN CU.[No_]<2000000 THEN 'Hotel'
             WHEN CU.[No_] BETWEEN 2000000 AND 9000000 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 50000000 AND 70999999 THEN 'misc receivables'
             WHEN CU.[Customer Posting Group]='KOMMISSION' THEN 'Chain or OTA'
             WHEN CU.[Customer Posting Group]='INTERCO' THEN 'Intercompany'
             WHEN CU.[Customer Posting Group]='EVENT' THEN 'Event'
           END [Customer Group]
      FROM RCM
      JOIN [HRS-BR$Customer] CU ON CU.[No_]=RCM.[Customer No_]
     WHERE [Legal Entity]='Hotel Reservation Service Brasil Ltda.'
UNION
    SELECT RCM.[Legal Entity]
         , RCM.[Customer No_]
         , CU.[Name]
         , 0 [Balance (LCY)]
         , CASE 
             WHEN CU.[No_] BETWEEN 9900001 AND 9909999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 70110000 AND 70119999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 70990000 AND 70999999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 71000001 AND 71009999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 701100000 AND 701109999 THEN 'Customer'
             WHEN 1=1 THEN CU.[Customer Posting Group]
           END [Customer Group]
      FROM RCM
      JOIN [HRS Payment$Customer] CU ON CU.[No_]=RCM.[Customer No_]
     WHERE [Legal Entity]='HRS Pay GmbH' 
UNION
    SELECT RCM.[Legal Entity]
         , RCM.[Customer No_]
         , CU.[Name]
         , 0 [Balance (LCY)]
         , CASE 
             WHEN CU.[No_] BETWEEN 99000000 AND 99009999 THEN 'unallocated Payments'
             WHEN CU.[No_] BETWEEN 70990000 AND 70999999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 80000000 AND 80009999 THEN 'Customer'
             WHEN CU.[No_] BETWEEN 90000000 AND 90009999 THEN 'Customer'
             WHEN 1=1 THEN CU.[Customer Posting Group]
           END [Customer Group]
      FROM RCM
      JOIN [HRS PaySol$Customer] CU ON CU.[No_]=RCM.[Customer No_]
     WHERE [Legal Entity]='HRS PaySol GmbH' 
)
INSERT INTO BI.OutstandingBalances
SELECT * 
  FROM CU 
UNION
SELECT *
  FROM CM
UNION
    SELECT LE.[String] [Legal Entity]
         , '999999999' [Customer No_]
         , 'unknown Customer' [Customer Name]
         , 0 [Balance (LCY)]
         , 'Customer' [Customer Group]
      FROM Split('HRS GmbH|Hotel Reservation Service (Shanghai) Co., Ltd.|Hotel Reservation Service Brasil Ltda.|HRS Pay GmbH|HRS PaySol GmbH','|') LE     
END
GO
