USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentCompanyInfo]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Soner Akdemir
-- Create date: 26.02.2019
-- Description:	Updated Company Infos
--
-- HRS001   Create

/*
  EXECUTE [dbo].[sp_UpdatePaymentCompanyInfo]
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdatePaymentCompanyInfo] 
WITH RECOMPILE
AS
BEGIN

----
-- Mandant HRS Payment
----

---Company
INSERT INTO [HRS Payment$Paym_ Company] ([Company No_]
, [Company Name]
)
SELECT CAST(AP.No_ AS int), SUBSTRING(AP.[Company-Name],1,100)  
 from [Affiliate Partner] AP
LEFT JOIN [HRS Payment$Paym_ Company] PC  ON AP.No_ = PC.[Company No_]
WHERE PC.[Company No_] IS NULL

-- Service Code 
DECLARE @CustomerNo int;  
  
DECLARE customer_cursor CURSOR FOR  
Select PC.[Company No_] from [HRS Payment$Paym_ Company] PC 
LEFT JOIN  [HRS Payment$Paym_ Service Code] PSC ON PC.[Company No_] = PSC.[Company No_]
WHERE PSC.[Company No_] IS NULL

  
OPEN customer_cursor  
  
FETCH NEXT FROM customer_cursor   
INTO @CustomerNo
  
WHILE @@FETCH_STATUS = 0  
BEGIN 


INSERT INTO [dbo].[HRS Payment$Paym_ Service Code]
           ([Company No_]
           ,[Service Code]
           ,[Service Description]
           ,[Gen_ Prod_ Posting Group]
           ,[VAT Prod_ Posting Group])
     VALUES
			(@CustomerNo, 'BRE', 'Frühstück', 'V0', 'V0'),
			(@CustomerNo, 'BUS', 'Business Package', 'V0', 'V0'),
			(@CustomerNo, 'DEP', 'Deposit', 'V0', 'V0'),
			(@CustomerNo, 'FAB', 'Breakfast', 'V0', 'V0'),
			(@CustomerNo, 'INT', 'WLAN/Internet', 'V0', 'V0'),
			(@CustomerNo, 'KOM', 'Communications', 'V0', 'V0'),
			(@CustomerNo, 'LOG', 'Logis', 'V0', 'V0'),
			(@CustomerNo, 'LTA', 'Local Taxes', 'V0', 'V0'),
			(@CustomerNo, 'NOS', 'No Show', 'V0', 'V0'),
			(@CustomerNo, 'PAR', 'Parking', 'V0', 'V0'),
			(@CustomerNo, 'SON', 'Miscellaneous Costs', 'V0', 'V0'),
			(@CustomerNo, 'STR', 'No Show', 'V0', 'V0'),
			(@CustomerNo, 'TKO', 'Technical Equipment', 'V0', 'V0'),
			(@CustomerNo, 'TRA', 'Transfer', 'V0', 'V0');

			   
	FETCH NEXT FROM customer_cursor   
    INTO @CustomerNo  
END   
CLOSE customer_cursor;  
DEALLOCATE customer_cursor;  


----
-- Mandant HRS
----

---Company
INSERT INTO [HRS$Paym_ Company] ([Company No_]
, [Company Name]
)
SELECT CAST(AP.No_ AS int), SUBSTRING(AP.[Company-Name],1,100)  
 from [Affiliate Partner] AP
LEFT JOIN [HRS$Paym_ Company] PC  ON AP.No_ = PC.[Company No_]
WHERE PC.[Company No_] IS NULL

-- Service Code 
  
DECLARE customer_cursor CURSOR FOR  
Select PC.[Company No_] from [HRS$Paym_ Company] PC 
LEFT JOIN  [HRS$Paym_ Service Code] PSC ON PC.[Company No_] = PSC.[Company No_]
WHERE PSC.[Company No_] IS NULL

  
OPEN customer_cursor  
  
FETCH NEXT FROM customer_cursor   
INTO @CustomerNo
  
WHILE @@FETCH_STATUS = 0  
BEGIN 


INSERT INTO [dbo].[HRS$Paym_ Service Code]
           ([Company No_]
           ,[Service Code]
           ,[Service Description]
           ,[Gen_ Prod_ Posting Group]
           ,[VAT Prod_ Posting Group])
     VALUES
			(@CustomerNo, 'BRE', 'Frühstück', 'V0', 'V0'),
			(@CustomerNo, 'BUS', 'Business Package', 'V0', 'V0'),
			(@CustomerNo, 'DEP', 'Deposit', 'V0', 'V0'),
			(@CustomerNo, 'FAB', 'Breakfast', 'V0', 'V0'),
			(@CustomerNo, 'INT', 'WLAN/Internet', 'V0', 'V0'),
			(@CustomerNo, 'KOM', 'Communications', 'V0', 'V0'),
			(@CustomerNo, 'LOG', 'Logis', 'V0', 'V0'),
			(@CustomerNo, 'LTA', 'Local Taxes', 'V0', 'V0'),
			(@CustomerNo, 'NOS', 'No Show', 'V0', 'V0'),
			(@CustomerNo, 'PAR', 'Parking', 'V0', 'V0'),
			(@CustomerNo, 'SON', 'Miscellaneous Costs', 'V0', 'V0'),
			(@CustomerNo, 'STR', 'No Show', 'V0', 'V0'),
			(@CustomerNo, 'TKO', 'Technical Equipment', 'V0', 'V0'),
			(@CustomerNo, 'TRA', 'Transfer', 'V0', 'V0');

			   
	FETCH NEXT FROM customer_cursor   
    INTO @CustomerNo  
END   
CLOSE customer_cursor;  
DEALLOCATE customer_cursor;  



END;
GO
