USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DecodeUnicode]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 22.07.2011
-- Description:	Wandelt 'Köln' in 'K\u00F6ln' um und '最后催款通知' in '\u6700\u540E\u50AC\u6B3E\u901A\u77E5'
/*
SELECT [dbo].[fn_DecodeUnicode](N'Köln     a           ')
SELECT [dbo].[fn_DecodeUnicode](N'最后催款通知')
*/
-- =============================================
CREATE FUNCTION [dbo].[fn_DecodeUnicode]
(
  @InStr nvarchar(max)
)
RETURNS nvarchar(max)
AS
BEGIN
  DECLARE @OutStr nvarchar(max)
   SELECT @OutStr = ''
  
  DECLARE @l int, @p int
   SELECT @l=LEN(@InStr), @p=0
  WHILE @p<@l
  BEGIN
    SELECT @p = @p+1
         , @OutStr = @OutStr 
         + CASE WHEN UNICODE(SUBSTRING(@InStr,@p,1)) < 128 THEN 
             CAST(SUBSTRING(@InStr,@p,1) AS varchar)
           ELSE 
             CAST('\u'+dbo.fn_IntToHex(UNICODE(SUBSTRING(@InStr,@p,1)),4) AS varchar)
           END
  END
  
  RETURN @OutStr
END


GO
