USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFromKETTE]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 18.12.14
-- Description:	Aktualisiert BRAND, CHAIN und [xxx$Dimension Value] aus der Tabelle HRSDB.KETTE
/*
DECLARE @Chain int = 2197
      , @Brand int = 2197
      , @BrandName varchar(100) = 'Private Hotels'
      , @CTS date = '2014-12-16'
EXEC [dbo].[sp_UpdateFromKETTE] @Chain, @Brand, @BrandName, @CTS
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateFromKETTE]
(
        @Chain int = 2197
      , @Brand int = 2197
      , @BrandName varchar(100) = 'Private Hotels'
      , @CTS datetime = '2014-12-16'
)
AS
BEGIN
SET NOCOUNT ON

SET @BrandName = REPLACE(@BrandName,'''','''''')

IF EXISTS(SELECT * FROM [Brand] WHERE [Code]=@Brand)
  UPDATE [Brand] SET [Description] = @BrandName, [Chain Code] = @Chain, [CTS] = @CTS WHERE [Code] =@Brand
ELSE
  INSERT INTO [Brand] ([Code],[Description],[Chain Code],[CTS],[Salesperson Code],[Includes Extranet Hotels])
       VALUES (@Brand, @BrandName, @Chain, @CTS, '',0)

IF @Chain = @Brand
BEGIN
	IF EXISTS(SELECT * FROM [Chain] WHERE [Code]=@Chain)
	  UPDATE [Chain] SET [Description] = @BrandName, [CTS] = @CTS WHERE [Code] =@Chain
	ELSE
	  INSERT INTO [Chain]([Code],[Description],[CTS],[Salesperson Code],[Default Correspondence Type],[Commission Calculation Base],[Bill-to Customer No_],[Country Filter],[Includes Extranet Hotels],[Default GTC Status])
      VALUES (@Chain,@BrandName,@CTS,'',0,0,'','',0,0)
END

DECLARE @SQLBrand varchar(max)
DECLARE @SQLChain varchar(max)
DECLARE @Company  varchar(30)

DECLARE cur CURSOR FOR
SELECT REPLACE([Name] ,'.','_')[Name]
  FROM [Company] 
 WHERE [Name] IN ('HRS','HRS Payment','HRS-BR','HRS-CN','TISCOVER','hotel.de','HRS PaySol')
 
OPEN cur

FETCH NEXT FROM cur INTO @Company

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @SQLBrand = '
	IF EXISTS(SELECT * FROM ['+@Company+'$Dimension Value] WHERE [Code]='''+CAST(@Brand AS varchar(max))+''' AND [Dimension Code]=''BRAND'')
	  UPDATE ['+@Company+'$Dimension Value] SET [Name] = SUBSTRING('''+ @BrandName+''',1,50) WHERE [Code] = '''+CAST(@Brand AS varchar(max))+''' AND [Dimension Code]=''BRAND''
	ELSE
	  INSERT INTO ['+@Company+'$Dimension Value]([Dimension Code],[Code],[Name],[Dimension Value Type],[Totaling],[Blocked],[Consolidation Code],[Indentation],[Global Dimension No_],[Map-to IC Dimension Code],[Map-to IC Dimension Value Code],[Default Cost Account Schedule],[Reference Unit Code],[Default Correspondence Type])
		   VALUES (''BRAND'','''+CAST(@Brand AS varchar(max))+''',SUBSTRING('''+ @BrandName+''',1,50),0,'''',0,'''',0,0,'''','''','''','''',0)'
    EXECUTE(@SQLBrand)
    
	IF @Chain = @Brand
	BEGIN
		SET @SQLChain = '
		IF EXISTS(SELECT * FROM ['+@Company+'$Dimension Value] WHERE [Code]='''+CAST(@Brand AS varchar(max))+''' AND [Dimension Code]=''CHAIN'')
		  UPDATE ['+@Company+'$Dimension Value] SET [Name] = SUBSTRING('''+ @BrandName+''',1,50) WHERE [Code] = '''+CAST(@Brand AS varchar(max))+''' AND [Dimension Code]=''CHAIN''
		ELSE
		  INSERT INTO ['+@Company+'$Dimension Value]([Dimension Code],[Code],[Name],[Dimension Value Type],[Totaling],[Blocked],[Consolidation Code],[Indentation],[Global Dimension No_],[Map-to IC Dimension Code],[Map-to IC Dimension Value Code],[Default Cost Account Schedule],[Reference Unit Code],[Default Correspondence Type])
			   VALUES (''CHAIN'','''+CAST(@Brand AS varchar(max))+''',SUBSTRING('''+ @BrandName+''',1,50),0,'''',0,'''',0,0,'''','''','''','''',0)'
		EXECUTE(@SQLChain)
	END
	FETCH NEXT FROM cur INTO @Company
END

CLOSE cur
DEALLOCATE cur
END
GO
