USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[UpdateExchangeRates]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 20.09.2022
-- Description:	Adjust Currencies and Exhange Rates
-- Ticket :     ACS-3477
/*
EXEC [dbo].[UpdateExchangeRates] @CreationDate='2022-09-30'
*/
-- =============================================
CREATE PROC [dbo].[UpdateExchangeRates]
  @CreationDate date
AS
BEGIN
UPDATE DL SET 
       DL.[Currency Code] = DH.[Currency Code]
     , DL.[Currency Faktor] = DH.[Currency Factor]
     , DL.[Commission Base Amount]=ROUND(DL.[Commission Base Amount (LCY)] * DH.[Currency Factor],2)
     , DL.[Commission Amount]=ROUND(DL.[Commission Amount (LCY)] * DH.[Currency Factor],2)
     , DL.[Line Amount]=ROUND(DL.[Line Amount (LCY)] * DH.[Currency Factor],2)
     , DL.[Agency Line Amount]=ROUND(DL.[Agency Line Amount (LCY)] * DH.[Currency Factor],2)
     , DL.[TAF Line Amount]=ROUND(DL.[TAF Line Amount (LCY)] * DH.[Currency Factor],2)
     , DL.[Room Price]=ROUND(DL.[Room Price] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Net Room Price]=ROUND(DL.[Net Room Price] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Breakfast Price]=ROUND(DL.[Breakfast Price] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Net Breakfast Price]=ROUND(DL.[Net Breakfast Price] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Amount]=ROUND(DL.[Foreign Tax Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Base Amount]=ROUND(DL.[Foreign Tax Base Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[TAF Fix]=ROUND(DL.[TAF Fix] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Hotel sales incl_ VAT]=ROUND(DL.[Hotel sales incl_ VAT] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Roomnight Base Amt]=ROUND(DL.[Foreign Tax Roomnight Base Amt] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Breakf Base Amount]=ROUND(DL.[Foreign Tax Breakf Base Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Commission Roomnight Base Amnt]=ROUND(DL.[Commission Roomnight Base Amnt] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Commission Breakf Base Amount]=ROUND(DL.[Commission Breakf Base Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Roomnight Amount]=ROUND(DL.[Foreign Tax Roomnight Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Foreign Tax Breakf Amount]=ROUND(DL.[Foreign Tax Breakf Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Commission Roomnight Amount]=ROUND(DL.[Commission Roomnight Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
     , DL.[Commission Breakf Amount]=ROUND(DL.[Commission Breakf Amount] * DH.[Currency Factor] / DL.[Currency Faktor],2)
  FROM [HRS$Agency Display Line]   DL WITH (NOLOCK) 
  JOIN [HRS$Agency Display Header] DH WITH (NOLOCK) ON DL.[Display Case No_]=DH.[Case No_]
 WHERE DH.[Creation Date] = @CreationDate
   AND DH.[Status]=0
   AND DH.[Correction from]=''
   AND (DL.[Currency Code] <> DH.[Currency Code] OR DL.[Currency Faktor] <> DH.[Currency Factor])
END
GO
