USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Affiliate_ADAC_all]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		  Harald Sichert
-- Create date: 20170906
-- Description:	ADAC Bonuspunkte-Export, alle
/*
EXEC [dbo].[sp_Affiliate_ADAC_all] '2016-12-01', '2016-12-31'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_Affiliate_ADAC_all] 
  --  @DateFrom date = '2016-12-01'
  --, @DateTo date = '2016-12-31'
    @DateFrom date = NULL
   , @DateTo date =NULL
     
  
AS
BEGIN
  SET NOCOUNT ON 

  DECLARE @Result TABLE
  (
      [ProcessNumber]        bigint
    , [AffiliatePartnerNo]   bigint
    , [Company-Name]         varchar(100)
    , [ArivalDate]           date
    , [DepartureDate]        date
    , [ReservationNo]        bigint
    , [ReservationDate]      date
    , [Guest1]               varchar(100)
    , [Guest2]               varchar(100)
    , [MuseID]               varchar(100)
    , [successfull]          bit
    , [Commission (corr.)]   decimal(37,20)
    , [Turnover (corr.)]     decimal(37,20)
    , [HotelName]            varchar(200)
    , [City]                 varchar(2000)
    , [HotelNo]              int
    , [ADAC Mitgliedsnummer] varchar(2000)
    , [Nachname]             varchar(2000)
    , [Vorname]              varchar(2000)
    , [Adresszusatz]         varchar(2000)
    , [Straße]               varchar(2000)
    , [Hausnummer]           varchar(2000)
    , [PLZ]                  varchar(2000)
    , [Ort]                  varchar(2000)
    , [Land]                 varchar(2000)
    , [Anrede]               varchar(2000)
    , [Status]               int
    , [ReservationSource]     int
    , [ReservationSourceName] varchar(200)
    , [Email]                varchar(2000)
  )      

  INSERT INTO @Result   
  exec dbo.[sp_Affiliate_ADAC] @DateFrom, @DateTo;

  INSERT INTO @Result
  exec dbo.[sp_Affiliate_ADAC_neu] @DateFrom, @DateTo;

  SELECT * FROM @Result
  ORDER BY [ADAC Mitgliedsnummer], [HotelName], [ArivalDate];

END

GO
