USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[AnalyzeRevShareNonComm]    Script Date: 10.04.2024 14:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AnalyzeRevShareNonComm] AS
BEGIN
DECLARE @RecreateAP_NONCOMM int=0, @CountAP_NONCOMM int = 0

IF @RecreateAP_NONCOMM=1
  IF OBJECT_ID('tempdb..#AP_NONCOMM ') IS NOT NULL
    DROP TABLE #AP_NONCOMM

IF OBJECT_ID('tempdb..#AP_NONCOMM ') IS NULL
BEGIN
  CREATE TABLE #AP_NONCOMM ([Reservation No_] int, [Position No_] int, [Turnover (LCY)] decimal(37,20), PRIMARY KEY ([Reservation No_], [Position No_]))
END

SELECT @CountAP_NONCOMM = COUNT(1) FROM #AP_NONCOMM

IF @CountAP_NONCOMM=0
BEGIN
  INSERT INTO #AP_NONCOMM ([Reservation No_],[Position No_],[Turnover (LCY)])
  SELECT AP.ReservationNo
       , AP.ReservationPartNo
	   , AP.[Turnover_LCY_corr] [Turnover (LCY)]
    FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
   WHERE ABS(AP.[Turnover_LCY_corr])>=0.01
     AND AP.[Amount_LCY_corr]=0
     AND [DepartureDate] >= '2019-01-01'
     --AND AP.[IsNetRate_corr]<>1
END

SELECT RL.[Rebate Agreement No_],RL.[Rebate-to Vendor No_], RL.[Reservation No_], RL.[MuseID], SUM(AP.[Turnover (LCY)])[Turnover (LCY) (corr_)]
  FROM [HRS$Posted Rebate Line] RL WITH (NOLOCK)
  JOIN #AP_NONCOMM AP
    ON AP.[Reservation No_] = RL.[Reservation No_]
   AND AP.[Position No_] = RL.[Reservation Part No_]
  JOIN [HRS$Rebate Agreement Header] RAH WITH (NOLOCK)
    ON RAH.[No_] = RL.[Rebate Agreement No_]
 WHERE RL.[Amount (LCY) (corr_)]<>0
   AND RL.[Turnover (LCY)]<>0
   AND (RAH.[Enable retroactive correction]=1 OR RAH.[Interval]=3)
   --AND RL.[Reservation No_] IN (226982135,1217974229)
GROUP BY RL.[Rebate Agreement No_],RL.[Rebate-to Vendor No_],RL.[Reservation No_], RL.[MuseID]
END
GO
