USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[TempQuery]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TempQuery] AS
WITH Q AS (SELECT Q.* FROM (VALUES (136902676),(136999871),(136166349),(137497627),(134632291),(135921856),(138663394),(128997553),(134470644),(138003005),(138853178),(139350448),(122491648),(136425936),(138121489),(139648027),(137012224),(136784311),(131131609),(136588151),(135769873),(137938161),(137629581),(130845001),(122681000),(123259571),(139647489),(128862045),(128014061),(134934637),(128653144),(123949003),(138215017),(139559325),(124759334),(138103307),(136376369),(138881312),(136907015),(137890969),(139774418),(138055444),(141891098),(134470143),(137974059),(131734901),(136998123),(129222852),(136365701),(134685197),(135061866),(139298623),(124652657),(136083887),(138195834),(137971446),(139643790),(139409255),(138364846),(125043075),(124023316),(140283452),(139676867),(138908739),(133743440),(136363457),(139796748),(140700318),(135842423),(139935708),(139671227),(122534047),(136879782),(139800007),(139649633),(137912312),(137990729),(139911075),(120588889),(140685966),(138142195),(140405425),(135797844),(135014927),(140429055),(137425773),(139222446),(139905939),(139642824),(134672287),(135798066),(138659386),(136484356),(140268144),(135864592),(137850467),(131832277),(122827410),(140815048),(135147253),(135716356),(136326225),(135215162),(138358621),(138374413),(139362801),(139060983),(129359842),(135145492),(139613382),(141441122),(130907327),(136425509),(139017084),(139800442),(140431999),(124378194),(133786203),(136919944),(138149619),(140443148),(139298408),(138269623),(137901597),(131796597),(139882395),(137230647),(134288104),(137433176),(138020338),(123950460),(140541228),(135864193),(137907684),(137262654),(123531591),(136522973),(138643079),(138032416),(129103885),(140862822),(137404025),(136336052),(139644204),(140431671),(135035712),(135254158),(124702553),(140485470),(140126170),(138139860),(129258179),(137041124),(137641382),(137655566),(136344957),(135325848),(139692327),(137421207),(135014656),(138852354),(134800047),(139755289),(132505549),(132874796),(136426030),(133239796),(123539899),(135223563),(138851507),(135818752),(139462910),(140213234),(138851901),(135275553),(139060875),(125905751),(128375601),(135796493),(139547964),(140885033),(140759774),(132796334),(139903693),(141017174),(130917694),(135259358),(137404389),(138032888),(123683725),(131645717),(134581508),(134337394),(139984056),(139894851),(133031524),(134834849),(137586418),(136250828),(139529717),(138184654),(139271973),(139895690),(123882279),(137505495),(131785536),(138448064),(137901572),(140688992),(135340347),(136746693),(137914109),(139716138),(135144475),(136866202),(138148975),(135021200),(134572104),(121671246),(140283507),(140429513),(140082757),(139694868),(139552152),(140121476),(136258816),(137407242),(137986337),(129205464),(134998668),(137908908),(137969495),(135443928),(140267427),(137399781),(135668896),(128766516),(123020798),(135345455),(138101532),(136194691),(138230303),(134969887),(138851633),(138340730),(139506935),(139195532),(139120323),(135168596),(139324462),(124849754),(134931136),(139957511),(138366238),(135642202),(135443984),(139642451),(139250947),(136424434),(134396306),(134120966),(136381050),(139881278),(136425781),(137137783),(135654668),(139904404),(137823949),(135864105),(133466737),(140612300),(138679608),(121237711),(137385447),(135591794),(140757082),(136511071),(124294354),(139920516),(135865467),(140693111),(140494589),(128136763),(134559272),(138426748),(140705346),(136329229),(137144372),(123321128),(123378947),(138025197),(135399485),(139781427),(138678866),(138374240),(134728287),(140460004),(122747896),(137485677),(136856831),(137587690),(133527460),(131797327),(135214693),(139550925),(137427654),(135202541),(138555909),(135156189),(139805323),(138150823),(134137253),(137917373),(134620524),(137713268),(138666470),(138230330),(138528540),(122824101),(141752541),(137995688),(137971092),(136547767),(137437066),(136425080),(135865853),(135121593),(137156795),(136484136),(135465025),(122106347),(139599660),(134752806),(134638872),(134745977),(134627873),(134746790),(134758515),(134638934),(134761535),(134760109),(134449570),(133311513),(134868315),(134754202),(134750633),(134448999),(134494405),(134623248),(134746917),(133550894),(134638224),(134753427),(134746171),(133551131),(134638573),(133312031),(134760291),(134638151),(134759996),(134623127),(134638280),(133550761),(134749972),(134639115),(134332225),(134638998),(134752713),(134745492),(138258099),(140079656),(138684254),(136062193),(138557104),(137886793),(129052444),(138126165),(138749893),(136043264),(138186293),(138021960),(138124795),(129270085),(123156630),(133652045),(137787046),(138116667),(137856714),(131263989),(137712726),(138682137),(138186248),(138291687),(137394894),(139391785),(140360300),(139185667),(138038816),(137916341),(138433421),(136365733),(137701918),(138409228),(138287482),(137381679),(138049711),(138141230),(139413102),(137971786),(141755514),(138186499),(138291947),(137304451),(138049847),(137699852),(137782675),(137040821),(138684222),(132018323),(138050984),(130317526),(138239553),(138363942),(128994897),(137702966),(132704852),(130036923),(135975915),(140590286),(134701077),(138289660),(123156774),(137693293),(130778823),(137853048),(134779351),(138820315),(138677752),(129280189),(138056467),(140003066),(138376876),(138000428),(130878653),(138403758),(138686583),(137696609),(139064014),(138200605),(138917597),(138684294),(126255707),(138595800),(140931481),(138659444),(137701781),(137868016),(138592455),(141817726),(138187835),(136698919),(137801431),(140587583),(138058163),(134003346),(137785498),(125243286),(138057978),(134716316),(137777746),(140063105),(140975171),(136433488),(140191826),(138683196),(138039548),(137971800),(135193748),(128900331),(135656504),(137785586),(139091426),(137694873),(128714534),(141230812),(138304139),(138603925),(138438108),(140174706),(137692895),(137793411),(138238160),(134418814),(137913370),(138274425),(137718974),(136451967),(137970724),(138353325),(138036266),(138182934),(137722607),(134330690),(138047069),(137792312),(140644597),(138652713),(137690870),(139182749),(130908682),(138433496),(138355531),(137791163),(137788692),(138058775),(138370588),(137733368),(136366649),(137733456),(139834352),(136626789),(137699808),(138683214),(139169976),(138568053),(134262129),(138673757),(138662501),(141183932),(138200951),(139059058),(137721619),(137789548),(137782509),(137783062),(137789292),(138587166),(137699242),(140259322),(138054736),(136478148),(137791792),(133369176),(140603269),(128641139),(138684090),(137700131),(137733251),(138091532),(130302132),(138117162),(138513859),(129104790),(135739549),(133301671),(139981191),(140229173),(138376923),(140100954),(132004540),(140329987),(141161150),(140078873),(138325793),(130960071),(122827410),(122534047),(122491648),(122345318),(126834868)) Q ([ProcessNumber]))
SELECT AP.[ProcessNumber]
     , SUM(AP.Turnover_LCY) [Hotel Turnover pre correction in EUR]
	 , SUM(AP.Turnover_LCY_corr) [Hotel Turnover post correction in EUR]
	 , SUM(AP.Amount_LCY) [HRS Turnover pre correction in EUR]
	 , SUM(AP.Amount_LCY_corr) [HRS Turnover post correction in EUR]
  FROM DynNavHRS.dbo.[HRS$Affiliate Postings] AP
  JOIN Q ON Q.[ProcessNumber]=AP.[ProcessNumber]
GROUP BY AP.[ProcessNumber]
--SELECT * FROM HRSDB.BUCHUNG WHERE BP_KEY=136902676
GO
