USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sCaptureDeadlockGraph]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sCaptureDeadlockGraph]
 AS BEGIN

 SET NOCOUNT ON
 SET CONCAT_NULL_YIELDS_NULL ON
 SET ANSI_PADDING ON
 SET ANSI_WARNINGS ON

 DECLARE @SQLProcedureName [varchar](64)
 SET @SQLProcedureName = 'sCaptureDeadlockGraph'

 BEGIN TRY

 DECLARE @message_body [xml]
 , @EventTime [datetime]
 , @EventType [varchar](128) 
 , @message_type_name [nvarchar](256)
 , @dialog [uniqueidentifier]

 -- Endless loop
 WHILE (1 = 1)
 BEGIN
 BEGIN TRANSACTION ;

 -- Receive the next available message
 WAITFOR (RECEIVE TOP(1)
 @message_type_name = [message_type_name],
 @message_body = [message_body],
 @dialog = [conversation_handle]
 FROM [dbo].[DeadlockGraphQueue]), TIMEOUT 2000

 -- Rollback and exit if no messages were found
 IF (@@ROWCOUNT = 0)
 BEGIN
 ROLLBACK TRANSACTION;
 BREAK;
 END;

 -- End conversation of end dialog message
 IF (@message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/EndDialog')
 BEGIN
 PRINT 'End Dialog received for dialog # ' + CAST(@dialog as [nvarchar](40));
 END CONVERSATION @dialog;
 END;

 ELSE
 BEGIN

 SET @EventTime = CAST(CAST(@message_body.query('/EVENT_INSTANCE/PostTime/text()') AS [nvarchar](max)) AS [datetime])
 SET @EventType = CAST(@message_body.query('/EVENT_INSTANCE/EventType/text()') AS [nvarchar](128))

 INSERT INTO [dbo].[SQLDeadlockEvents] ([EventType], [AlertTime], [DeadlockGraph])
 VALUES (@EventType, @EventTime, @message_body)
 END

 COMMIT TRANSACTION

 END --End of loop

 END TRY 

 BEGIN CATCH 

 SELECT ERROR_NUMBER() 
 ,ERROR_SEVERITY() 
 ,ERROR_STATE() 
 ,ISNULL(ERROR_PROCEDURE(), @SQLProcedureName)
 ,ERROR_LINE() 
 ,ERROR_MESSAGE() 

 END CATCH 

 END 
GO
