USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateGroupCustomerSummary_HDE]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 08.07.2013
-- Description:	Statistische Zusammenfassung zur Gutschriftsanzeige einer Gruppe
/*
EXEC [dbo].[sp_RebateGroupCustomerSummary_HDE] 'K0000011220'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateGroupCustomerSummary_HDE] 
    @RebateNo varchar(20)
WITH RECOMPILE 
AS
BEGIN
DECLARE @PrintNet int, @ResultText VARCHAR(MAX), @TableName VARCHAR(120), @CompanyName VARCHAR(30), @FieldName varchar(20)
 SELECT @TableName = 'RL', @FieldName = 'Reservation Source'
 
DECLARE @SQL VARCHAR(max) = ''
      , @SQL1 VARCHAR(max)
      , @FilterText VARCHAR(max)
      , @CurrencyCode VARCHAR(20)
      , @RebateNoFilter VARCHAR(max)
      , @Group varchar(20)
      , @IntervalStartDate date
      , @IntervalEndDate date

SET @RebateNoFilter = '''' + @RebateNo + ''''

SET @FilterText = ''
SET @CurrencyCode = ''

DECLARE @CustList VARCHAR(MAX)
SELECT @CustList = ''

DECLARE @AP AS TABLE([Affiliate Partner No_] int, [Rebate No_] varchar(20))
DECLARE @RH AS TABLE([Rebate No_] varchar(20))
DECLARE @ActualCustomer int, @PreviousCustomer int, @FirstCustomer int
 SELECT @ActualCustomer = 0, @PreviousCustomer = 0, @FirstCustomer = 0

;WITH AG AS
(
SELECT RH.[Group contract Code]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
FROM [hotel_de$Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[No_] = @RebateNo
   AND RH.[Group contract Code] <> ''
UNION
SELECT RH.[Group contract Code]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
  FROM [hotel_de$Posted Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Rebate No_] = @RebateNo 
   AND RH.[Group contract Code] <> ''
UNION
SELECT RH.[Group contract Code]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
  FROM [hotel_de$Posted Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[No_] = @RebateNo
   AND RH.[Group contract Code] <> ''
)
SELECT @Group             = AG.[Group contract Code]
     , @IntervalStartDate = AG.[Interval Start Date]
     , @IntervalEndDate   = AG.[Interval End Date]
  FROM AG

-- ----------------------
-- Alle beteiligten 
--
;WITH RH AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Posted Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
), AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM RH
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_]
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM RH
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
)
INSERT INTO @AP
SELECT AV.[Affiliate Partner No_], AH.[No_]
  FROM [hotel_de$Affiliate Partner Vendor] AV WITH (NOLOCK)
  JOIN AgreementHeader AH
    ON AH.[Rebate-to Vendor No_] = AV.[Vendor No_]
    
SELECT @RebateNoFilter += ','''+ [Rebate No_]+''''
  FROM @AP    

DECLARE cur CURSOR FOR SELECT * FROM @AP ORDER BY 1

OPEN cur

FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo

SELECT @FirstCustomer = @ActualCustomer

WHILE @@FETCH_STATUS = 0
BEGIN
  IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
    IF (@PreviousCustomer<> 0) BEGIN
      SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
      SET @CustList = @CustList 
                    + CASE WHEN @PreviousCustomer = @FirstCustomer THEN 
                        CAST(@PreviousCustomer AS varchar)
                      ELSE
                        CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                      END
      SELECT @FirstCustomer = @ActualCustomer
    END 
  END
  
  SELECT @PreviousCustomer = @ActualCustomer
  FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
END

IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
  IF (@PreviousCustomer<> 0) BEGIN
    SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
    SET @CustList = @CustList 
                  + CASE WHEN @PreviousCustomer = @FirstCustomer THEN 
                      CAST(@PreviousCustomer AS varchar)
                    ELSE
                      CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                    END
    SELECT @FirstCustomer = @ActualCustomer
  END 
END

CLOSE cur
DEALLOCATE cur

;WITH RH AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Posted Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
), AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM RH
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
), SourceFilter AS
(
  SELECT MAX(P.[Reservation Source Filter Txt]) [Filter Text]
    FROM [hotel_de$Parameter]              P
    JOIN [hotel_de$Rebate Agreement Line] AL
      ON AL.[Input Parameter 1 Code] = P.[Code]
      OR AL.[Input Parameter 2 Code] = P.[Code]
      OR AL.[Input Parameter 3 Code] = P.[Code]
      OR AL.[Input Parameter 4 Code] = P.[Code]
      OR AL.[Input Parameter 5 Code] = P.[Code]
    JOIN AgreementHeader             AH
      ON AH.[No_]                     = AL.[Rebate No_]     
)
SELECT @FilterText = CASE WHEN [Filter Text]='' THEN RH.[Online Reservation Source] ELSE [Filter Text] END
     , @CurrencyCode = RH.[Currency Code]
  FROM SourceFilter,[hotel_de$Rebate Header] RH
   
IF (@FilterText='' )
BEGIN
;WITH RH AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , RH.[No_]
     , RH.[Rebate Agreement No_]
  FROM [hotel_de$Posted Rebate Header]           RH WITH (NOLOCK)
 WHERE RH.[Group contract Code] = @Group
   AND RH.[Interval Start Date] = @IntervalStartDate
   AND RH.[Interval End Date]   = @IntervalEndDate
), AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM RH
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
), SourceFilter AS
(
  SELECT MAX(P.[Reservation Source Filter Txt]) [Filter Text]
    FROM [hotel_de$Parameter]              P
    JOIN [hotel_de$Rebate Agreement Line] AL
      ON AL.[Input Parameter 1 Code] = P.[Code]
      OR AL.[Input Parameter 2 Code] = P.[Code]
      OR AL.[Input Parameter 3 Code] = P.[Code]
      OR AL.[Input Parameter 4 Code] = P.[Code]
      OR AL.[Input Parameter 5 Code] = P.[Code]
    JOIN AgreementHeader             AH
      ON AH.[No_]                     = AL.[Rebate No_]     
)
SELECT @FilterText = CASE WHEN [Filter Text]='' THEN RH.[Online Reservation Source] ELSE [Filter Text] END
     , @CurrencyCode = RH.[Currency Code]
  FROM SourceFilter,[hotel_de$Posted Rebate Header] RH
 WHERE (RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo)
END

;WITH AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM [hotel_de$Rebate Header]           RH WITH (NOLOCK)
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo
UNION 
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM [hotel_de$Posted Rebate Header]    RH WITH (NOLOCK)
  JOIN [hotel_de$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE (RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo)
)
SELECT @PrintNet = COALESCE([Print Net Turnover],0) FROM AgreementHeader

SELECT @ResultText= ''  
IF @FilterText <>'' 
BEGIN
SELECT @ResultText = @ResultText + 
       CASE WHEN CHARINDEX('&', @FilterText) > 0 THEN 
         CASE WHEN @ResultText <> '' THEN ' AND ' ELSE '' END 
       + RS.SqlFilterAND('' + [String] + '', @TableName + '.[' + @FieldName +']',0)
       ELSE
         CASE WHEN @ResultText <> '' THEN ' OR ' ELSE '' END 
       + RS.SqlFilterOR('' + [String] + '', @TableName + '.[' + @FieldName +']',0)
       END
  FROM RS.Split(@FilterText,'&')
SELECT @ResultText = 'AND (' + @ResultText + ')'
END

PRINT @ResultText

SET @SQL = '
;WITH BankAccount AS
(
SELECT [Vendor No_], [Name], [IBAN], [Bank Branch No_], [Bank Account No_], [SWIFT Code]
  FROM [hotel_de$Vendor Bank Account] WITH (READUNCOMMITTED) 
 WHERE [Clearing] = 1
), HeaderInfo AS
(
   SELECT ''' + @RebateNo + ''' [Rebate No_]
        , RH.[Rebate Agreement No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , ''' + @CustList + ''' [Affiliate Partner List]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='''' THEN ''0'' ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'''')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'''')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'''')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'''')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '''') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], COALESCE( L2.[Value Decimal], P2.[Value Decimal])  [Value P2]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, CASE WHEN VE.[VAT Registration No_] <> '''' THEN 
		    ''txtVATRegistrationNo''
		  ELSE
            ''txtRegistrationNo''
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '''' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[hotel_de$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='''' THEN ''0'' ELSE RH.[Language Code] END,0,1,RA.[No_]) [Saludation]
		, COALESCE(SP.[E-Mail],''kreditoren@hrs.de'')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],''377'')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'''')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],''800'')               [Salesperson Phone No_]
		, COALESCE(CR.[EU Country_Region Code],'''')     [EU Country_Region Code]
		, COALESCE(CR.[Name],'''')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, RH.[No_]
     FROM [hotel_de$Rebate Header]           RH WITH (READUNCOMMITTED) 
     JOIN [hotel_de$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [hotel_de$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
 JOIN [hotel_de$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
 JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [hotel_de$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
LEFT JOIN [hotel_de$Parameter]               P2 WITH (READUNCOMMITTED) ON P2.[Code]                = RA.[Input Parameter 2 Code]
LEFT JOIN [hotel_de$Rebate Line]             L2 WITH (READUNCOMMITTED) ON L2.[Document No_]        = RH.[No_]                    AND L2.[No_]                 = RA.[Input Parameter 2 Code] AND L2.[Type]                IN (1,2)
   WHERE RH.[No_] IN (' + @RebateNoFilter + ')
UNION
   SELECT ''' + @RebateNo + ''' [Rebate No_]
        , RH.[Rebate Agreement No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , ''' + @CustList + ''' [Affiliate Partner List]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='''' THEN ''0'' ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'''')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'''')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'''')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'''')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '''') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], COALESCE( L2.[Value Decimal], P2.[Value Decimal])  [Value P2]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, CASE WHEN VE.[VAT Registration No_] <> '''' THEN 
		    ''txtVATRegistrationNo''
		  ELSE
            ''txtRegistrationNo''
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '''' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[hotel_de$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='''' THEN ''0'' ELSE RH.[Language Code] END,0,1,RA.[No_])
		, COALESCE(SP.[E-Mail],''kreditoren@hrs.de'')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],''377'')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'''')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],''800'')               [Salesperson Phone No_]
		, COALESCE(CR.[EU Country_Region Code],'''')     [EU Country_Region Code]
		, COALESCE(CR.[Name],'''')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, RH.[No_]
     FROM [hotel_de$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
     JOIN [hotel_de$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [hotel_de$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [hotel_de$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
LEFT JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [hotel_de$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
LEFT JOIN [hotel_de$Parameter]               P2 WITH (READUNCOMMITTED) ON P2.[Code]                = RA.[Input Parameter 2 Code]
LEFT JOIN [hotel_de$Posted Rebate Line]      L2 WITH (READUNCOMMITTED) ON L2.[Document No_]        = RH.[No_]                    AND L2.[No_]                 = RA.[Input Parameter 2 Code] AND L2.[Type]                IN (1,2)
   WHERE RH.[No_] IN (' + @RebateNoFilter + ')
), Summary AS
(
  SELECT RL.[Affiliate Partner No_]
       , RL.[Document No_]
       , CASE WHEN SUM(RL.[Amount (LCY)]) = 0 THEN 0 ELSE (SUM(RL.[Amount (LCY)]) - SUM(RL.[Amount (LCY) (corr_)])) / SUM(RL.[Amount (LCY)]) END [Amount Correction Ratio]
       , CASE WHEN SUM(RL.[Turnover (LCY)]) = 0 THEN 0 ELSE (SUM(RL.[Turnover (LCY)]) - SUM(RL.[Turnover (LCY) (corr_)])) / SUM(RL.[Turnover (LCY)]) END [Turnover Correction Ratio]
       , CASE WHEN SUM(RL.[Turnover (LCY) (corr_)]) = 0 THEN 0 ELSE SUM(CASE WHEN RL.[Commission Type] = 13 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) / SUM(RL.[Turnover (LCY) (corr_)]) END [Net Rate Share Ratio]
       , SUM(CASE WHEN RL.[Commission Type] = 13 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Net Rate Share]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non Commissionables]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 THEN 0 ELSE RL.[Turnover (LCY) (corr_)] END) [Commissionable Turnover]
       , SUM(RL.[Amount (LCY)]) [Amount (LCY)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Amount (LCY) (corr_)]
       , SUM(RL.[Turnover (LCY)]) [Turnover (LCY)]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
    FROM HeaderInfo                    RE
    JOIN [hotel_de$Rebate Line]             RL WITH (NOLOCK)
      ON RL.[Rebate Agreement No_]     = RE.[Rebate Agreement No_]
     AND RL.[Document No_]             = RE.[No_]
    JOIN [hotel_de$Rebate Header]           RH WITH (NOLOCK)
      ON RH.[No_]                      = RL.[Document No_]
     AND RH.[Document Date] BETWEEN RE.[Year Start Date] AND RE.[Interval End Date]
   WHERE RL.[Type]                     = 5
     AND RL.[Eligible RevShare] = 0
     ' + @ResultText +'
GROUP BY RL.[Affiliate Partner No_]
       , RL.[Document No_]
UNION   
  SELECT RL.[Affiliate Partner No_]
       , RL.[Document No_]
       , CASE WHEN SUM(RL.[Amount (LCY)]) = 0 THEN 0 ELSE (SUM(RL.[Amount (LCY)]) - SUM(RL.[Amount (LCY) (corr_)])) / SUM(RL.[Amount (LCY)]) END [Amount Correction Ratio]
       , CASE WHEN SUM(RL.[Turnover (LCY)]) = 0 THEN 0 ELSE (SUM(RL.[Turnover (LCY)]) - SUM(RL.[Turnover (LCY) (corr_)])) / SUM(RL.[Turnover (LCY)]) END [Turnover Correction Ratio]
       , CASE WHEN SUM(RL.[Turnover (LCY) (corr_)]) = 0 THEN 0 ELSE SUM(CASE WHEN RL.[Commission Type] = 13 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) / SUM(RL.[Turnover (LCY) (corr_)]) END [Net Rate Share Ratio]
       , SUM(CASE WHEN RL.[Commission Type] = 13 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Net Rate Share]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non Commissionables]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 THEN 0 ELSE RL.[Turnover (LCY) (corr_)] END) [Commissionable Turnover]
       , SUM(RL.[Amount (LCY)]) [Amount (LCY)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Amount (LCY) (corr_)]
       , SUM(RL.[Turnover (LCY)]) [Turnover (LCY)]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
    FROM HeaderInfo                    RE
    JOIN [hotel_de$Posted Rebate Line]      RL WITH (NOLOCK)
      ON RL.[Rebate Agreement No_]     = RE.[Rebate Agreement No_]
     AND RL.[Document No_]             = RE.[No_]
    JOIN [hotel_de$Posted Rebate Header]    RH WITH (NOLOCK)
      ON RH.[No_]                      = RL.[Document No_]
     AND RH.[Document Date] BETWEEN RE.[Year Start Date] AND RE.[Interval End Date]
   WHERE RL.[Type]                     = 5
     AND RL.[Eligible RevShare] = 0
     AND RH.Cancels                    = 0
   ' + @ResultText +'
GROUP BY RL.[Affiliate Partner No_]
       , RL.[Document No_]
), Sums AS
(
  SELECT ''' + @CurrencyCode + '''          [CurrencyCode]
       , [Affiliate Partner No_]
       , [Document No_] [R No_]
       , SUM([Amount (LCY)])                [Amount (LCY)]
       , SUM([Amount (LCY) (corr_)])        [Amount (LCY) (corr_)]
       , SUM([Turnover (LCY)]) [Turnover (LCY)]
       , SUM([Turnover (LCY) (corr_)])      [Turnover (LCY) (corr_)]
       , CASE WHEN SUM([Amount (LCY)]) = 0 
         THEN 0 ELSE 
         (SUM([Amount (LCY)]) - SUM([Amount (LCY) (corr_)])) 
       / SUM([Amount (LCY)]) END            [Amount Correction Ratio]   
       , SUM([Turnover Correction Ratio])   [Turnover Correction Ratio]
       , SUM([Net Rate Share Ratio])        [Net Rate Share Ratio]
       , SUM([Net Rate Share])              [Net Rate Share]
       , SUM([Non Commissionables])         [Non Commissionables]
       , SUM([Commissionable Turnover])     [Commissionable Turnover]
       , CASE WHEN SUM([Commissionable Turnover]) = 0 THEN 0 ELSE 
         SUM([Amount (LCY) (corr_)]) 
       / SUM([Commissionable Turnover]) END [Average Commission Rate]
    FROM Summary
GROUP BY [Affiliate Partner No_]
       , [Document No_]
)
SELECT AP.[Company-Name] + '' - '' + AP.[Company Division] [Company-Name], S.*, HI.*, COALESCE(CR.[Name],'''') [AP Country_Region Name]
  FROM Sums S, [Affiliate Partner] AP, HeaderInfo HI,[hotel_de$Country_Region] CR
 WHERE AP.[No_] = S.[Affiliate Partner No_]
   AND S.[R No_] = HI.[No_]
   AND CR.[Code]= AP.[Country Code]
ORDER BY S.[Affiliate Partner No_]'

PRINT (SUBSTRING(@SQL,1,8000))
PRINT (SUBSTRING(@SQL,8001,8000))
PRINT (SUBSTRING(@SQL,16001,8000))
PRINT (SUBSTRING(@SQL,24001,8000))
EXEC(@SQL) 
END

GO
