USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Monatliche_Kommissionlauf_Statistik]    Script Date: 10.04.2024 14:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= [HRS$Agency Display Header]
-- Author:		Mohamed Zayed
-- Create date: 14.08.2014
-- Description:	Report for Monthly Commission
--

-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 08.08.14 HRS001    XXXX   ZM     Creating the SP
-- 14.08.14 HRS002    XXXX   ZM     Adding addtional Filters for Frank (Contract Status = 01|02 OR <>01&<>02) 
-- 
-- ============================================= 52092780
CREATE PROCEDURE [dbo].[sp_Monatliche_Kommissionlauf_Statistik] 
AS
BEGIN

;WITH EJ AS
(
  SELECT [No_]
       , [Send Type]
       , [Type]
       , [Status]
    FROM DynNavHRS.dbo.[HRS$EBPP Journal] EJ WITH (NOLOCK)
   WHERE [Document Date]='2014-07-31'
UNION   
  SELECT [No_]
       , [Send Type]
       , [Type]
       , 7 [Status]
    FROM DynNavHRS.dbo.[HRS$EBPP Journal Archive] EJ WITH (NOLOCK)
   WHERE [Document Date]='2014-07-31'
), CI AS
(
   SELECT DH.[Case No_]
        , DH.[Posted Invoice No_]
        , SUM(DL.[Line Amount]) [Line Amount]
     FROM DynNavHRS.dbo.[HRS$Agency Display Header] DH WITH (NOLOCK)
     JOIN DynNavHRS.dbo.[HRS$Agency Display Line]   DL WITH (NOLOCK)
       ON DL.[Display Case No_] = DH.[Case No_]
    WHERE DH.[Posting Date]    = '2014-07-31'
      AND DH.[Case No_]     LIKE 'V%'
      AND DH.[Correction from] = ''      
 GROUP BY DH.[Case No_]
        , DH.[Posted Invoice No_]      
)
   SELECT SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [E-Mail Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [E-Mail Original Delivered]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [E-Mail Copy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [E-Mail Copy Delivered]        
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [Failed E-Mail Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed E-Mail Original Delivered]     
        
-- >>>>> Zmo02 14.08.2014 adding the new Filter for Frank  Orginal Mails *****
		, SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> '' AND (COALESCE(J.[Contract Status],'')=01OR COALESCE(J.[Contract Status],'')=02)   THEN 1 ELSE 0 END)       [Contract Equal 01|02 (Mail Original)]		               
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> '' AND (COALESCE(J.[Contract Status],'')<> 01 AND COALESCE(J.[Contract Status],'') <> 02)   THEN 1 ELSE 0 END)[Contract NotEqual 01|02(Mail Original]
-- <<<<<   
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [Failed E-Mail Copy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed E-Mail Copy Delivered]    

-- >>>>> Zmo02 14.08.2014 adding the new Filter for Frank  Copy Mails *****
		, SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')=01 OR COALESCE(J.[Contract Status],'')=02)   THEN 1 ELSE 0 END)          [Contract Equal01|02 (Mail Copy)]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 1 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')<> 01 AND COALESCE(J.[Contract Status],'')<>02)   THEN 1 ELSE 0 END)      [Contract NotEqual 01&02 (Mail Copy)]
-- <<<<<  
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [Fax Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Fax Original Delivered]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [Fax Copy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Fax Copy Delivered]        
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [Failed Fax Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed Fax Original Delivered]

-- >>>>> Zmo02 14.08.2014 adding the new Filter for Frank  Orginal FAX *****
 		, SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')=01 OR COALESCE(J.[Contract Status],'')=02)   THEN 1 ELSE 0 END)           [Contract Equal 01|02 (FAX Original)]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')<> 01 AND COALESCE(J.[Contract Status],'')<>02)   THEN 1 ELSE 0 END)       [Contract NotEqual 01&02 (FAX Original)]
 --<<<<<       

        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [Failed Fax Copy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed Fax Copy Delivered]
 
 -->>>>>Zmo02 14.08.2014 adding the new Filter for Frank  Orginal FAX *****
 		, SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')=01 OR COALESCE(J.[Contract Status],'')=02)   THEN 1 ELSE 0 END)           [Contract Equal 01|02 (FAX Copy)]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],0) = 2 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> '' AND(COALESCE(J.[Contract Status],'')<> 01 AND COALESCE(J.[Contract Status],'')<>02)   THEN 1 ELSE 0 END)                                        [Contract NotEqual 01&02 (FAX Copy)]
 --<<<<<
 
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [Print Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Print Original Delivered]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [Print Copy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0)<> 0 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Print Copy Delivered]        
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 0                                  THEN 1 ELSE 0 END) [Failed Print Original Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 0 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed Print Original Delivered]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 1                                  THEN 1 ELSE 0 END) [Failed PrintCopy Count]
        , SUM(CASE WHEN COALESCE(EJ.[Status],0) = 4 AND COALESCE([Send Type],-1) = 0 AND COALESCE([Type],0) = 1 AND COALESCE(EJ.[No_],'') <> ''  THEN 1 ELSE 0 END) [Failed PrintCopy Delivered]             
     FROM DynNavHRS.dbo.[HRS$Agency Display Header] DH WITH (NOLOCK)
     JOIN CI
       ON CI.[Case No_] = DH.[Case No_]
LEFT JOIN EJ  
       ON EJ.[No_] = DH.[Posted Invoice No_]  
LEFT Join [DynNavHRS].[dbo].[HRS$Job] J
       ON J.[Bill-to Customer No_]= DH.[Bill-to Customer No_]       
    WHERE DH.[Posting Date] = '2014-07-31'
      AND DH.[Case No_]LIKE 'V%'
      AND DH.[Correction from] = ''

END
GO
