USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[CorrectedSummaryAgingHRS2023]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CorrectedSummaryAgingHRS2023]
AS
BEGIN
;WITH GE AS
(
  SELECT SUM(CASE WHEN [Posting Date]>='2024-01-01' THEN Amount ELSE 0 END) [Change 2024]
       , CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END [Customer No_]
    FROM DynNavHRS.dbo.[HRS$G_L Entry] GL WITH (NOLOCK)
   WHERE GL.[G_L Account No_] IN ('140100','140200','140320','140500','140510','147000','159000') 
     --AND GL.[Source No_]='6'
GROUP BY CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END
), VE AS
(
    SELECT SUM (DE.[Amount (LCY)])	[Balance]
         , C.[No_] [Customer No_]
	  FROM DynNavHRS.dbo.[HRS$Customer] C WITH (NOLOCK)
	  JOIN DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry] DE WITH (NOLOCK)
		ON DE.[Customer No_] = CAST(C.[No_] AS VARCHAR(20)) 	
	  JOIN DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] VE WITH (NOLOCK)
		ON VE.[Entry No_] = DE.[Cust_ Ledger Entry No_] 	
	   AND VE.[Open] = 1 -- NAV-196 
       --AND C.[No_]='6'
  GROUP BY C.[No_]
), CE AS
(
	SELECT CU.[No_]
		 , CU.[Name]
		 , CASE WHEN CR.[Name] IS NULL THEN '' ELSE CR.[Name] END [Country_Region_Name]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] >= '2023-12-31' THEN DE.[Amount (LCY)] ELSE 0 END)	[nicht fällig]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN '2023-12-01' AND '2023-12-30' THEN DE.[Amount (LCY)] ELSE 0 END)	[0-30 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN '2023-11-01' AND '2023-11-30' THEN DE.[Amount (LCY)] ELSE 0 END)	[31-60 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN '2023-10-02' AND '2023-10-31' THEN DE.[Amount (LCY)] ELSE 0 END)	[61-90 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] <= '2023-10-01' THEN DE.[Amount (LCY)] ELSE 0 END) [über 90 Tage]	  		 
	  FROM [HRS$Customer] CU
 LEFT JOIN [HRS$Country_Region] CR
		ON CR.[Code] = CU.[Country_Region Code] 	
	  JOIN [HRS$Cust_ Ledger Entry] CE 
	    ON CE.[Customer No_] = CU.[No_] 	
	  JOIN [HRS$Detailed Cust_ Ledg_ Entry] DE
		ON CE.[Entry No_] = DE.[Cust_ Ledger Entry No_] 	
 LEFT JOIN [HRS$Currency]
		ON [HRS$Currency].[Code] = DE.[Currency Code]
 	 WHERE CU.[Testhotel] <> 'TESTHOTEL'
       --AND CU.[No_] = '6'
 GROUP BY CU.[No_], CU.[Name], CASE WHEN CR.[Name] IS NULL THEN '' ELSE CR.[Name] END
), R AS
(
   SELECT CE.[No_] [Nr.]
        , CE.[Name]
        , CE.[Country_Region_Name] [Land]
        , CE.[nicht fällig] [nicht fällig]
        , CE.[0-30 Tage]
        , CE.[31-60 Tage]
        , CE.[61-90 Tage]
        , CE.[über 90 Tage]
        , COALESCE(GE.[Change 2024],0) [Change 2024]
     FROM CE
LEFT JOIN GE ON CE.[No_]=GE.[Customer No_]
)
--SELECT * FROM VE
   SELECT R.[Nr.]
        , R.[Name]
        , R.[Land]
        , COALESCE(VE.[Balance],0) - R.[Change 2024] - R.[0-30 Tage] - R.[31-60 Tage] - R.[61-90 Tage] - R.[über 90 Tage] [nicht fällig]
        , R.[0-30 Tage]
        , R.[31-60 Tage]
        , R.[61-90 Tage]
        , R.[über 90 Tage]
        , COALESCE(VE.[Balance],0) - R.[Change 2024] [offen 31.12.23]
     FROM R
LEFT JOIN VE ON VE.[Customer No_]=R.[Nr.]
END
GO
