USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPRefundSalesInvoiceLine]    Script Date: 10.04.2024 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jens Högg
-- Create date: 14.03.2013
-- Description:	Rechnungszeile der Refundrechnung
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 14.03.13 HRS001    66653  JHO    Neue Stored Procedure
/*
EXEC [dbo].[sp_RPRefundSalesInvoiceLine] 'R003897900', 'HRS'
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPRefundSalesInvoiceLine]
    @ReNr varchar(25)
  , @Company varchar(30)
AS
BEGIN
	SET NOCOUNT ON;
	CREATE TABLE #RESULTS 
	( 
		[Document No_]						VARCHAR(20)
	  , [Beschreibung]						VARCHAR(50)	  
	  , [VAT]								DECIMAL(38,20)
	  , [Amount]							DECIMAL(38,20)
	  , [MWSt]								DECIMAL(38,20)
	  , [Total]								DECIMAL(38,20)
	  , [Currency Code]						VARCHAR(10)
	)
	
	DECLARE @SQLStatement VARCHAR(max)

    SET @SQLStatement = 
'IF EXISTS(SELECT * FROM [' + @Company + '$Sales Invoice Header] WHERE [No_] = ''' + @ReNr + ''')
      SELECT [Document No_]
           , [Description]                         [Beschreibung]           
           , SL.[VAT %]                            [VAT]
           , SL.Amount                             [Amount]
           , SL.[Amount Including VAT] - SL.Amount [MWSt]
           , SL.[Amount Including VAT]             [Total]
           , SH.[Currency Code]
        FROM [' + @Company + '$Sales Invoice Line] SL WITH (READUNCOMMITTED)
   LEFT JOIN [' + @Company + '$Sales Invoice Header] SH WITH (READUNCOMMITTED)
          ON SH.[No_] = SL.[Document No_]
       WHERE [Document No_] = ''' + @ReNr + ''''
	EXECUTE(@SQLStatement)       

    SET @SQLStatement = 
'IF EXISTS(SELECT * FROM [' + @Company + '$Sales Header] WHERE [No_] = ''' + @ReNr + ''')
      SELECT [Document No_]
           , [Description]							[Beschreibung]
           , SL.[VAT %]								[VAT]
           , SL.[Line Amount]						[Amount]
           , SL.[Line Amount]*SL.[VAT %]/100		[MWSt]
           , SL.[Line Amount]*(1+SL.[VAT %]/100)	[Total]
           , SH.[Currency Code]
        FROM [' + @Company + '$Sales Line] SL WITH (READUNCOMMITTED)
   LEFT JOIN [' + @Company + '$Sales Header] SH WITH (READUNCOMMITTED)
          ON SH.[No_] = SL.[Document No_]
       WHERE [Document No_] = ''' + @ReNr + ''''      
	EXECUTE(@SQLStatement)
END

GO
