USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[QueryPaidMP]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[QueryPaidMP]
AS
BEGIN
;WITH _EJ AS
(
  SELECT [No_], MIN(EL.[Date _ Time]) [Date _ Time] FROM DynNavHRS.dbo.[HRS$EBPP Journal Archive] EJ WITH (NOLOCK) JOIN DynNavHRS.dbo.[HRS$EBPP Journal Archive Subtable] EL WITH (NOLOCK) ON EJ.[EBPP Provider Code]=EL.[EBPP Provider Code] AND EJ.[Reference]=EL.[Reference] WHERE EJ.[Document Type]=32 GROUP BY [No_]
UNION 
  SELECT [No_], MIN(EL.[Date _ Time]) [Date _ Time] FROM DynNavHRS.dbo.[HRS$EBPP Journal] EJ WITH (NOLOCK) JOIN DynNavHRS.dbo.[HRS$EBPP Journal Subtable] EL WITH (NOLOCK) ON EJ.[EBPP Provider Code]=EL.[EBPP Provider Code] AND EJ.[Reference]=EL.[Reference] WHERE EJ.[Document Type]=32 GROUP BY [No_]
), EJ AS
(
  SELECT [No_], MIN([Date _ Time]) [Date _ Time] FROM _EJ GROUP BY [No_]
)
  SELECT CL.[Customer No_]
       , CL.[Document No_]
       , CT.[String] [Contract Type]
       , MP.[Company No_]
       , MP.[RFP Name]
       , CL.[Sales (LCY)]
       , CL.[Payment Method Code]
       , CB.[SUM$Amount (LCY)] [Balance (LCY)]
       , CASE WHEN DATEDIFF(dd,EJ.[Date _ Time], CE.[Posting Date])<0 THEN 0 ELSE DATEDIFF(dd,EJ.[Date _ Time], CE.[Posting Date]) END [Payment after x Days]
       , EJ.[Date _ Time] [Delivery Date]
       , CL.[Posting Date] [Invoice Posting Date]
       , CE.[Posting Date] [Payment Posting Date]
    FROM DynNavHRS.dbo.[HRS$Markeplace Fee RFP] MP WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] CL WITH (NOLOCK) 
      ON CL.[Document No_]=MP.[Posted Invoice No_]
      --ON CASE WHEN CHARINDEX(CL.[Document No_],'/')>0 THEN LEFT(CL.[Document No_], CHARINDEX(CL.[Document No_],'/')-1) ELSE CL.[Document No_] END = MP.[Posted Invoice No_] 
     AND CL.[Document Type] = 2
    JOIN DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] CE WITH (NOLOCK) 
      ON CL.[Closed by Entry No_]=CE.[Entry No_]
    JOIN EJ ON EJ.[No_]=CL.[Document No_]
    JOIN DynNavHRS.dbo.Split('MP1.0,MP2.0,MP3.0,MPP1.0,MPP2.0,MPP3.0,MPS1.0,MPP4.0,MPP5.0,MPS',',') CT On CT.[Index]-1=MP.[Contract Type]
    JOIN DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry$VSIFT$14] CB WITH (NOLOCK) ON CB.[Customer No_]=CL.[Customer No_]
   WHERE MP.[Posted Invoice No_]<>''
     AND CE.[Document Type]=1
     AND DATEDIFF(dd,EJ.[Date _ Time], CE.[Posting Date])<28
ORDER BY DATEDIFF(dd,EJ.[Date _ Time], CE.[Posting Date])

--payment date, invoice no, hkey, rfp, amount, current balance and payment method
END
GO
