USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[$ndo$getstn]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[$ndo$getstn](@tableId INTEGER)       RETURNS NVARCHAR(30)         AS BEGIN         IF @tableId = 2000000079 RETURN N'Object Tracking'         RETURN N''       END
GO
