USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[CorrectedSummaryAgingHRSYearsatDate]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CorrectedSummaryAgingHRSYearsatDate]
  @referenceDate date = '2023-08-31'
AS
BEGIN
DECLARE @dateMinus1Day date, @dateMinus30End date, @dateMinus30Start date, @dateMinus60End date, @dateMinus60Start date, @dateMinus90End date, @dateMinus90Start date
 SELECT @dateMinus1Day = DATEADD(dd,-1,@referenceDate)
      , @dateMinus30End = DATEADD(dd,-2,@referenceDate)
      , @dateMinus30Start = DATEADD(dd,-31, @referenceDate)
      , @dateMinus60End = DATEADD(dd,-32, @referenceDate)
      , @dateMinus60Start = DATEADD(dd,-61, @referenceDate)
      , @dateMinus90End = DATEADD(dd,-62, @referenceDate)
      , @dateMinus90Start = DATEADD(dd,-91, @referenceDate)
;WITH GE AS
(
  SELECT SUM(CASE WHEN [Posting Date]>@referenceDate THEN Amount ELSE 0 END) [Change after]
       , CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END [Customer No_]
    FROM DynNavHRS.dbo.[HRS$G_L Entry] GL WITH (NOLOCK)
   WHERE GL.[G_L Account No_] IN ('140100','140200','140320','140500','140510','147000','159000') 
     --AND GL.[Source No_]='6'
GROUP BY CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END
), VE AS
(
    SELECT SUM (DE.[Amount (LCY)])	[Balance]
         , C.[No_] [Customer No_]
	  FROM DynNavHRS.dbo.[HRS$Customer] C WITH (NOLOCK)
	  JOIN DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry] DE WITH (NOLOCK)
		ON DE.[Customer No_] = CAST(C.[No_] AS VARCHAR(20)) 	
	  JOIN DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] VE WITH (NOLOCK)
		ON VE.[Entry No_] = DE.[Cust_ Ledger Entry No_] 	
	   AND VE.[Open] = 1 -- NAV-196 
       --AND C.[No_]='6'
  GROUP BY C.[No_]
), CE AS
(
  SELECT DLE.[Customer No_]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] >= @dateMinus1Day THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [nicht fällig]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN @dateMinus90Start AND @dateMinus1Day THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig < 90T aktuelles Jahr]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN '2023-01-01' AND DATEADD(dd,-1,@dateMinus90Start) THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig >= 90T aktuelles Jahr]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN '2022-01-01' AND '2022-12-31' THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig 2022]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN '2021-01-01' AND '2021-12-31' THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig 2021]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN '2020-01-01' AND '2020-12-31' THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig 2020]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] BETWEEN '2019-01-01' AND '2019-12-31' THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig 2019]
       , SUM(CASE WHEN DLE.[Initial Entry Due Date] <'2019-01-01' THEN DLE.[SUM$Amount (LCY)] ELSE 0 END) [fällig 2018 und davor]
       , SUM(DLE.[SUM$Amount (LCY)]) [offen]
    FROM DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry$VSIFT$4] DLE WITH (NOLOCK)
   --WHERE DLE.[Posting Date]<@referenceDate
GROUP BY DLE.[Customer No_]
), R AS
(
   SELECT CE.[Customer No_]
        , CE.[nicht fällig] 
        , CE.[fällig < 90T aktuelles Jahr]
        , CE.[fällig >= 90T aktuelles Jahr]
        , CE.[fällig 2022]
        , CE.[fällig 2021]
        , CE.[fällig 2020]
        , CE.[fällig 2019]
        , CE.[fällig 2018 und davor]
        , COALESCE(GE.[Change after],0) [Change after]
     FROM CE
LEFT JOIN GE ON CE.[Customer No_]=GE.[Customer No_]
)
   SELECT R.[Customer No_]  
        , R.[fällig 2018 und davor]
        , R.[fällig 2019]
        , R.[fällig 2020]
        , R.[fällig 2021]
        , R.[fällig 2022]
        , R.[fällig >= 90T aktuelles Jahr]
        , R.[fällig < 90T aktuelles Jahr]
        , COALESCE(VE.[Balance],0) - R.[Change after] - R.[fällig < 90T aktuelles Jahr] - R.[fällig >= 90T aktuelles Jahr] - R.[fällig 2022] - R.[fällig 2021] - R.[fällig 2020] - R.[fällig 2019] - R.[fällig 2018 und davor] [nicht fällig]
        , COALESCE(VE.[Balance],0) - R.[Change after] [offen]
     FROM R
LEFT JOIN VE ON VE.[Customer No_]=R.[Customer No_]
--    WHERE R.[Customer No_]='99990171'
END
GO
