USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateHotelReferenceMuseID]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 18.02.20
-- Description:	Update [Hotel Reference MuseID] in Customer + Contact from HRSDB.HOTEL_REFERENCE 
--
/*
EXEC [dbo].[p_UpdateHotelReferenceMuseID]
*/
-- Date     Version   RFC        Sign.  Description
-- ------------------------------------------------------------
-- 18.02.20 HRS001    ACS-2173   TM     
CREATE PROC [dbo].[sp_UpdateHotelReferenceMuseID] 
AS 
BEGIN

IF OBJECT_ID('tempdb..#HR_MUSE') IS NOT NULL
  DROP TABLE #HR_MUSE

CREATE TABLE #HR_MUSE (H_KEY int not null, MUSE_ID varchar(250) COLLATE Latin1_General_CS_AS not null, PRIMARY KEY (H_KEY)) 

;WITH HR_MUSE AS
(
   SELECT DISTINCT HR.H_KEY,
          STUFF((SELECT ','+ RTRIM(HR1.MUSE_ID)
                  FROM HRSDB.HOTEL_REFERENCE HR1 WITH (NOLOCK)
                 WHERE HR1.H_KEY = HR.H_KEY
              GROUP BY HR1.MUSE_ID
                   FOR XML PATH(''), TYPE).value('.','VARCHAR(max)'), 1, 1, '') MUSE_ID
     FROM HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
)
INSERT INTO #HR_MUSE
SELECT * FROM HR_MUSE

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[HRS$Customer] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[HRS$Contact] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[HRS-CN$Customer] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[HRS-CN$Contact] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[TISCOVER$Customer] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[TISCOVER$Contact] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[hotel_de$Customer] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')

   UPDATE CU SET 
          CU.[Hotel Reference Code]           = COALESCE(HR.[HR_CODE],'')
        , CU.[Hotel Reference Avail Priority] = COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
        , CU.[Hotel Reference CTS]            = COALESCE(HR.CTS,'1753-01-01')
        , CU.[Hotel Reference MuseID]         = COALESCE(HR_MUSE.MUSE_ID,'')
     FROM [DynNavHRS].dbo.[hotel_de$Contact] CU
LEFT JOIN [DynNavHRS].[HRSDB].[HOTEL_REFERENCE] HR ON HR.H_KEY = CU.[No_]
LEFT JOIN #HR_MUSE HR_MUSE ON HR_MUSE.H_KEY = CU.[No_]
    WHERE CU.[Hotel Reference Code]           <> COALESCE(HR.[HR_CODE],'')
       OR CU.[Hotel Reference Avail Priority] <> COALESCE(CASE WHEN CU.[Contract Status] IN ('10','11') THEN COALESCE(HR.[HR_AVAIL_PRIORITY],-1) ELSE -1 END,-1)
       OR CU.[Hotel Reference MuseID]         <> COALESCE(HR_MUSE.MUSE_ID,'')
END
GO
