USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_updatesecurity]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  PROCEDURE [dbo].[sp_updatesecurity] 
@UserID VARCHAR(65),
@RoleID VARCHAR(20),
@CompanyName VARCHAR(30),
@TableID INTEGER,
@InVersionNo BIGINT,
@InSecurityNTAuthority BIGINT,
@InSecurityNTNonUnique BIGINT,
@InMachineIdentification  BIGINT,
@InMachineIdentification2 BIGINT,
@InMachineIdentification3 BIGINT,
@InUniqueUserID BIGINT,
@ClearPriorPermissions INTEGER
AS

SET XACT_ABORT ON
BEGIN TRANSACTION SecurityUpdate

/* Declarations */
DECLARE @VersionNo BINARY(1)
DECLARE @SecurityNTAuthority BINARY(1)
DECLARE @SecurityNTNonUnique BINARY(7)
DECLARE @MachineIdentification BINARY(4)
DECLARE @MachineIdentification2 BINARY(4)
DECLARE @MachineIdentification3 BINARY(4)
DECLARE @UniqueUserID BINARY(4)
DECLARE @SystemObjects CURSOR
DECLARE @SystemObjectsClear CURSOR
DECLARE @Permissions CURSOR
DECLARE @SIFTPermissions CURSOR
DECLARE @SystemObjectsSIFT CURSOR
DECLARE @ApplicationRoleID VARCHAR(250)
DECLARE @VersionNoString VARCHAR(4)
DECLARE @SecurityNTAuthorityString VARCHAR(4)
DECLARE @SecurityNTNonUniqueString VARCHAR(16)
DECLARE @MachineIdentificationString VARCHAR(10)
DECLARE @MachineIdentification2String VARCHAR(10)
DECLARE @MachineIdentification3String VARCHAR(10)
DECLARE @UniqueUserIDString VARCHAR(10)
DECLARE @TableString VARCHAR(250)
DECLARE @TableName VARCHAR(250)
DECLARE @ObjectType INTEGER
DECLARE @ObjectID INTEGER
DECLARE @ReadPermission INTEGER
DECLARE @InsertPermission INTEGER
DECLARE @ModifyPermission INTEGER
DECLARE @DeletePermission INTEGER
DECLARE @ExecutePermission INTEGER

/* Convert incoming integers to binary values */
SET @VersionNo = CAST(@InVersionNo AS BINARY(1))
SET @SecurityNTAuthority = CAST(@InSecurityNTAuthority AS  BINARY(1))
SET @SecurityNTNonUnique = CAST(@InSecurityNTNonUnique AS  BINARY(7))
SET @MachineIdentification = CAST(@InMachineIdentification AS  BINARY(4))
SET @MachineIdentification2 = CAST(@InMachineIdentification2  AS  BINARY(4))
SET @MachineIdentification3 = CAST(@InMachineIdentification3 AS  BINARY(4))
SET @UniqueUserID = CAST(@InUniqueUserID AS  BINARY(4))

/* Convert binary values to binary string values */
SELECT @VersionNoString              = UPPER(master.dbo.Fn_varbintohexstr(@VersionNo))
     , @SecurityNTAuthorityString    = UPPER(master.dbo.Fn_varbintohexstr(@SecurityNTAuthority))
     , @SecurityNTNonUniqueString    = UPPER(master.dbo.Fn_varbintohexstr(@SecurityNTNonUnique))
     , @MachineIdentificationString  = UPPER(master.dbo.Fn_varbintohexstr(@MachineIdentification))
     , @MachineIdentification2String = UPPER(master.dbo.Fn_varbintohexstr(@MachineIdentification2))
     , @MachineIdentification3String = UPPER(master.dbo.Fn_varbintohexstr(@MachineIdentification3))
     , @UniqueUserIDString           = UPPER(master.dbo.Fn_varbintohexstr(@UniqueUserID))

/* Set the application role information */
SET @ApplicationRoleID = '$ndo$ar$000005' + RIGHT(@VersionNoString,2) + RIGHT(@SecurityNTAuthorityString,2) +
  RIGHT(@SecurityNTNonUniqueString,14) + RIGHT(@MachineIdentificationString,8) + 
  RIGHT(@MachineIdentification2String,8) + RIGHT(@MachineIdentification3String,8) +
  RIGHT(@UniqueUserIDString,8)

/* Revoke all permissions on tables in database */
IF @ClearPriorPermissions = 1 
BEGIN
  SET @SystemObjectsClear = CURSOR FAST_FORWARD FOR
    SELECT name FROM sysobjects WHERE xtype = 'U' AND NOT name IN ('BUCHUNG','BUCHTEIL','BUCH_TEXTE','HOTEL','BKG_CI_DATA_TEXT_DA','BUCH_MUSE')
  OPEN @SystemObjectsClear
  FETCH NEXT FROM @SystemObjectsClear INTO @TableName

  WHILE (@@FETCH_STATUS = 0)
  BEGIN  
    exec ('REVOKE SELECT ON ' + '[' + @TableName + ']' +  ' TO ' + '[' + @ApplicationRoleID + ']')
    exec ('REVOKE INSERT ON ' + '[' + @TableName + ']' +  ' TO ' + '[' + @ApplicationRoleID + ']')
    exec ('REVOKE UPDATE ON ' + '[' + @TableName + ']' +  ' TO ' + '[' + @ApplicationRoleID + ']')
    exec ('REVOKE DELETE ON ' + '[' + @TableName + ']' +  ' TO ' + '[' + @ApplicationRoleID + ']')
    FETCH NEXT FROM @SystemObjectsClear INTO @TableName
  END

  CLOSE @SystemObjectsClear
  DEALLOCATE @SystemObjectsClear
END

/* Loop through Role Permissions and Update Tables */
SET @Permissions = CURSOR FAST_FORWARD FOR
  SELECT [Role ID], [Object Type], [Object ID], [Read Permission], [Insert Permission], [Modify Permission], [Delete Permission], [Execute Permission] 
  FROM Permission 
  WHERE (
             [Role ID] = @RoleID 
         AND [Object Type] = 0 
         AND (([Object ID] != 0 AND @TableID=0) OR ([Object ID]=@TableID AND @TableID<>0)) 
        )
OPEN @Permissions
FETCH NEXT FROM @Permissions INTO @RoleID, @ObjectType, @ObjectID, @ReadPermission, @InsertPermission, @ModifyPermission, @DeletePermission, @ExecutePermission
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF @CompanyName != '' 
  BEGIN
    IF @ObjectID = '2000000001' OR @ObjectID = '2000000007' OR @ObjectID = '2000000009' OR @ObjectID = '2000000010' OR
       @ObjectID = '2000000020' OR @ObjectID = '2000000022' OR @ObjectID = '2000000024' OR @ObjectID = '2000000026' OR
       @ObjectID = '2000000028' OR @ObjectID = '2000000029' OR @ObjectID = '2000000037' OR @ObjectID = '2000000038' OR
       @ObjectID = '2000000039' OR @ObjectID = '2000000040' OR @ObjectID = '2000000041' OR @ObjectID = '2000000042' OR
       @ObjectID = '2000000043' OR @ObjectID = '2000000044' OR @ObjectID = '2000000045' OR @ObjectID = '2000000046' OR
       @ObjectID = '2000000047' OR @ObjectID = '2000000048' OR @ObjectID = '2000000049' OR @ObjectID = '2000000050' OR
       @ObjectID = '2000000052' OR @ObjectID = '2000000055' OR @ObjectID = '2000000056' OR @ObjectID = '2000000058' OR
       @ObjectID = '2000000059'
    BEGIN
      IF @ObjectID = '2000000001' SET @TableString = 'Object'
      IF @ObjectID = '2000000007' SET @TableString = 'Date'
      IF @ObjectID = '2000000009' SET @TableString = 'Session'
      IF @ObjectID = '2000000010' SET @TableString = 'Database File'
      IF @ObjectID = '2000000020' SET @TableString = 'Drive'
      IF @ObjectID = '2000000022' SET @TableString = 'File'
      IF @ObjectID = '2000000024' SET @TableString = 'Monitor'
      IF @ObjectID = '2000000026' SET @TableString = 'Integer'
      IF @ObjectID = '2000000028' SET @TableString = 'Table Information'
      IF @ObjectID = '2000000029' SET @TableString = 'System Object'
      IF @ObjectID = '2000000037' SET @TableString = 'Performance'
      IF @ObjectID = '2000000038' SET @TableString = 'AllObj'
      IF @ObjectID = '2000000039' SET @TableString = 'Printer'
      IF @ObjectID = '2000000040' SET @TableString = 'License Information'
      IF @ObjectID = '2000000041' SET @TableString = 'Field'
      IF @ObjectID = '2000000042' SET @TableString = 'OLE Control'
      IF @ObjectID = '2000000043' SET @TableString = 'License Permission'
      IF @ObjectID = '2000000044' SET @TableString = 'Permission Range'
      IF @ObjectID = '2000000045' SET @TableString = 'Windows Language'
      IF @ObjectID = '2000000046' SET @TableString = 'Automation Servers'
      IF @ObjectID = '2000000047' SET @TableString = 'Server'
      IF @ObjectID = '2000000048' SET @TableString = 'Database'
      IF @ObjectID = '2000000049' SET @TableString = 'Code Coverage'
      IF @ObjectID = '2000000050' SET @TableString = 'Windows Object'
      IF @ObjectID = '2000000052' SET @TableString = 'Windows Group Member'
      IF @ObjectID = '2000000055' SET @TableString = 'SID - Account ID'
      IF @ObjectID = '2000000056' SET @TableString = 'User SID'
      IF @ObjectID = '2000000058' SET @TableString = 'AllObjWithCaption'
      IF @ObjectID = '2000000059' SET @TableString = 'Breakpoints'
    END ELSE
    BEGIN
      SET @TableString = @CompanyName + '$' + (SELECT Name FROM Object WHERE ([ID] = @ObjectID AND Type = @ObjectType AND[Company Name] = @CompanyName))
    END
  END ELSE
  BEGIN 
    IF @ObjectID = '2000000001' OR @ObjectID = '2000000007' OR @ObjectID = '2000000009' OR @ObjectID = '2000000010' OR
       @ObjectID = '2000000020' OR @ObjectID = '2000000022' OR @ObjectID = '2000000024' OR @ObjectID = '2000000026' OR
       @ObjectID = '2000000028' OR @ObjectID = '2000000029' OR @ObjectID = '2000000037' OR @ObjectID = '2000000038' OR
       @ObjectID = '2000000039' OR @ObjectID = '2000000040' OR @ObjectID = '2000000041' OR @ObjectID = '2000000042' OR
       @ObjectID = '2000000043' OR @ObjectID = '2000000044' OR @ObjectID = '2000000045' OR @ObjectID = '2000000046' OR
       @ObjectID = '2000000047' OR @ObjectID = '2000000048' OR @ObjectID = '2000000049' OR @ObjectID = '2000000050' OR
       @ObjectID = '2000000052' OR @ObjectID = '2000000055' OR @ObjectID = '2000000056' OR @ObjectID = '2000000058' OR
       @ObjectID = '2000000059'
    BEGIN
      IF @ObjectID = '2000000001' SET @TableString = 'Object'
      IF @ObjectID = '2000000007' SET @TableString = 'Date'
      IF @ObjectID = '2000000009' SET @TableString = 'Session'
      IF @ObjectID = '2000000010' SET @TableString = 'Database File'
      IF @ObjectID = '2000000020' SET @TableString = 'Drive'
      IF @ObjectID = '2000000022' SET @TableString = 'File'
      IF @ObjectID = '2000000024' SET @TableString = 'Monitor'
      IF @ObjectID = '2000000026' SET @TableString = 'Integer'
      IF @ObjectID = '2000000028' SET @TableString = 'Table Information'
      IF @ObjectID = '2000000029' SET @TableString = 'System Object'
      IF @ObjectID = '2000000037' SET @TableString = 'Performance'
      IF @ObjectID = '2000000038' SET @TableString = 'AllObj'
      IF @ObjectID = '2000000039' SET @TableString = 'Printer'
      IF @ObjectID = '2000000040' SET @TableString = 'License Information'
      IF @ObjectID = '2000000041' SET @TableString = 'Field'
      IF @ObjectID = '2000000042' SET @TableString = 'OLE Control'
      IF @ObjectID = '2000000043' SET @TableString = 'License Permission'
      IF @ObjectID = '2000000044' SET @TableString = 'Permission Range'
      IF @ObjectID = '2000000045' SET @TableString = 'Windows Language'
      IF @ObjectID = '2000000046' SET @TableString = 'Automation Servers'
      IF @ObjectID = '2000000047' SET @TableString = 'Server'
      IF @ObjectID = '2000000048' SET @TableString = 'Database'
      IF @ObjectID = '2000000049' SET @TableString = 'Code Coverage'
      IF @ObjectID = '2000000050' SET @TableString = 'Windows Object'
      IF @ObjectID = '2000000052' SET @TableString = 'Windows Group Member'
      IF @ObjectID = '2000000055' SET @TableString = 'SID - Account ID'
      IF @ObjectID = '2000000056' SET @TableString = 'User SID'
      IF @ObjectID = '2000000058' SET @TableString = 'AllObjWithCaption'
      IF @ObjectID = '2000000059' SET @TableString = 'Breakpoints'
    END ELSE
    BEGIN
      SET @TableString = '%' + (SELECT TOP 1 Name FROM Object WHERE [ID] = @ObjectID AND Type = @ObjectType) + '%'
    END
  END
   
  /* Eliminate invalid characters */
  SET @TableString = REPLACE(@TableString,'.','_')
  SET @TableString = REPLACE(@TableString,'"','_')
  SET @TableString = REPLACE(@TableString,'\','_')
  SET @TableString = REPLACE(@TableString,'/','_')
  SET @TableString = REPLACE(@TableString,'''','_')
  
  SET @SystemObjects = CURSOR FAST_FORWARD FOR
    SELECT name FROM sysobjects WHERE name LIKE @TableString AND xtype = 'U'
  OPEN @SystemObjects
  FETCH NEXT FROM @SystemObjects INTO @TableName
  WHILE (@@FETCH_STATUS = 0)
  BEGIN  
    IF @ReadPermission = 1
      exec ('GRANT SELECT ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @InsertPermission = 1
      exec ('GRANT INSERT ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @ModifyPermission = 1
      exec ('GRANT UPDATE ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @DeletePermission = 1
      exec ('GRANT DELETE ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    FETCH NEXT FROM @SystemObjects INTO @TableName
  END 
  FETCH NEXT FROM @Permissions INTO @RoleID, @ObjectType, @ObjectID, @ReadPermission, @InsertPermission, @ModifyPermission, @DeletePermission, @ExecutePermission
END

CLOSE @SystemObjects
DEALLOCATE @SystemObjects
CLOSE @Permissions
DEALLOCATE @Permissions

/* Update SIFT Tables */
SET @SIFTPermissions = CURSOR FAST_FORWARD FOR
  SELECT [Role ID], [Object Type], [Object ID], [Read Permission], [Insert Permission], [Modify Permission], [Delete Permission], [Execute Permission] 
  FROM Permission 
  WHERE (
             [Role ID] = @RoleID 
         AND [Object Type] = 0 
         AND (([Object ID] != 0 AND @TableID=0) OR ([Object ID]=@TableID AND @TableID<>0)) 
        )
OPEN @SIFTPermissions
FETCH NEXT FROM @SIFTPermissions INTO @RoleID, @ObjectType, @ObjectID, @ReadPermission, @InsertPermission, @ModifyPermission, @DeletePermission, @ExecutePermission
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF @CompanyName != '' 
  BEGIN
    SET @TableString = @CompanyName + '$' + CAST((SELECT [ID] FROM Object WHERE ([ID] = @ObjectID AND Type = @ObjectType AND[Company Name] = @CompanyName)) AS VARCHAR) + '$' + '%'
  END ELSE
  BEGIN 
    SET @TableString = '%' + CAST((SELECT TOP 1 [ID] FROM Object WHERE [ID] = @ObjectID AND Type = @ObjectType) AS VARCHAR) + '$' + '%'
  END
  
  /* Elminate invalid characters */
  SET @TableString = REPLACE(@TableString,'.','_')
  SET @TableString = REPLACE(@TableString,'"','_')
  SET @TableString = REPLACE(@TableString,'\','_')
  SET @TableString = REPLACE(@TableString,'/','_')
  SET @TableString = REPLACE(@TableString,'''','_')
  
  SET @SystemObjectsSIFT = CURSOR FAST_FORWARD FOR
    SELECT name FROM sysobjects WHERE name LIKE @TableString AND xtype = 'U'
  OPEN @SystemObjectsSIFT
  FETCH NEXT FROM @SystemObjectsSIFT INTO @TableName
  WHILE (@@FETCH_STATUS = 0) 
  BEGIN
    IF @ReadPermission = 1
      exec ('GRANT SELECT ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @InsertPermission = 1
      exec ('GRANT INSERT ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @ModifyPermission = 1
      exec ('GRANT UPDATE ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    IF @DeletePermission = 1
      exec ('GRANT DELETE ON ' + '[' + @TableName + ']' + ' TO ' + '[' + @ApplicationRoleID + ']')
    FETCH NEXT FROM @SystemObjectsSIFT INTO @TableName
  END
  FETCH NEXT FROM @SIFTPermissions INTO @RoleID, @ObjectType, @ObjectID, @ReadPermission, @InsertPermission, @ModifyPermission, @DeletePermission, @ExecutePermission
END

CLOSE @SystemObjectsSIFT
DEALLOCATE @SystemObjectsSIFT
CLOSE @SIFTPermissions
DEALLOCATE @SIFTPermissions

COMMIT TRANSACTION SecurityUpdate



GO
