USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[CorrectedSummaryAgingHRSatDate]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CorrectedSummaryAgingHRSatDate]
  @referenceDate date = '2023-08-31'
AS
BEGIN
DECLARE @dateMinus1Day date, @dateMinus30End date, @dateMinus30Start date, @dateMinus60End date, @dateMinus60Start date, @dateMinus90End date, @dateMinus90Start date
 SELECT @dateMinus1Day = DATEADD(dd,-1,@referenceDate)
      , @dateMinus30End = DATEADD(dd,-2,@referenceDate)
      , @dateMinus30Start = DATEADD(dd,-31, @referenceDate)
      , @dateMinus60End = DATEADD(dd,-32, @referenceDate)
      , @dateMinus60Start = DATEADD(dd,-61, @referenceDate)
      , @dateMinus90End = DATEADD(dd,-62, @referenceDate)
      , @dateMinus90Start = DATEADD(dd,-91, @referenceDate)
;WITH GE AS
(
  SELECT SUM(CASE WHEN [Posting Date]>@referenceDate THEN Amount ELSE 0 END) [Change after]
       , CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END [Customer No_]
    FROM DynNavHRS.dbo.[HRS$G_L Entry] GL WITH (NOLOCK)
   WHERE GL.[G_L Account No_] IN ('140100','140200','140320','140500','140510','147000','159000') 
     --AND GL.[Source No_]='6'
GROUP BY CASE WHEN ISNUMERIC(GL.[Source No_])>0 THEN GL.[Source No_] ELSE '' END
), VE AS
(
    SELECT SUM (DE.[Amount (LCY)])	[Balance]
         , C.[No_] [Customer No_]
	  FROM DynNavHRS.dbo.[HRS$Customer] C WITH (NOLOCK)
	  JOIN DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry] DE WITH (NOLOCK)
		ON DE.[Customer No_] = CAST(C.[No_] AS VARCHAR(20)) 	
	  JOIN DynNavHRS.dbo.[HRS$Cust_ Ledger Entry] VE WITH (NOLOCK)
		ON VE.[Entry No_] = DE.[Cust_ Ledger Entry No_] 	
	   AND VE.[Open] = 1 -- NAV-196 
       --AND C.[No_]='6'
  GROUP BY C.[No_]
), CE AS
(
	SELECT DE.[Customer No_]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] >= @dateMinus1Day THEN DE.[SUM$Amount (LCY)] ELSE 0 END)	[nicht fällig]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN @dateMinus30Start AND @dateMinus30End THEN DE.[SUM$Amount (LCY)] ELSE 0 END)	[0-30 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN @dateMinus60Start AND @dateMinus60End THEN DE.[SUM$Amount (LCY)] ELSE 0 END)	[31-60 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] BETWEEN @dateMinus90Start AND @dateMinus90End THEN DE.[SUM$Amount (LCY)] ELSE 0 END)	[61-90 Tage]
		 , SUM (CASE WHEN DE.[Initial Entry Due Date] < @dateMinus90Start THEN DE.[SUM$Amount (LCY)] ELSE 0 END)	[über 90 Tage]	  		 
         , SUM(DE.[SUM$Amount (LCY)]) [offen]
      FROM DynNavHRS.dbo.[HRS$Detailed Cust_ Ledg_ Entry$VSIFT$4] DE WITH (NOLOCK)
  GROUP BY DE.[Customer No_]
), R AS
(
   SELECT CE.[Customer No_]
        , CE.[nicht fällig] [nicht fällig]
        , CE.[0-30 Tage]
        , CE.[31-60 Tage]
        , CE.[61-90 Tage]
        , CE.[über 90 Tage]
        , COALESCE(GE.[Change after],0) [Change after]
     FROM CE
LEFT JOIN GE ON CE.[Customer No_]=GE.[Customer No_]
)
--SELECT * FROM VE
   SELECT CU.[No_] [Nr.]
        , CU.[Name]
        , COALESCE(CR.[Name],'') [Land]
        , COALESCE(VE.[Balance],0) - R.[Change after] - R.[0-30 Tage] - R.[31-60 Tage] - R.[61-90 Tage] - R.[über 90 Tage] [nicht fällig]
        , R.[0-30 Tage]
        , R.[31-60 Tage]
        , R.[61-90 Tage]
        , R.[über 90 Tage]
        , COALESCE(VE.[Balance],0) - R.[Change after] [offen]
     FROM R
     JOIN [HRS$Customer] CU WITH (NOLOCK) ON R.[Customer No_] = CU.[No_]
LEFT JOIN [HRS$Country_Region] CR WITH (NOLOCK) ON CR.[Code] = CU.[Country_Region Code] 	
LEFT JOIN VE ON VE.[Customer No_]=R.[Customer No_]
--WHERE R.[Customer No_]='99990171'
END
GO
