USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_KRV.ImportTopBonusData_AirBerlin]    Script Date: 10.04.2024 14:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.08.2012
-- Description:	Affiliate Import
-- 
/*
DECLARE @LastDate				VARCHAR(20)
      , @ActualDate				VARCHAR(20)
SELECT @LastDate = '2015-05-01 00:00:00', @ActualDate = '2015-05-31 00:00:00'
execute [dbo].[sp_KRV.ImportTopBonusData_AirBerlin] @LastDate, @ActualDate
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_KRV.ImportTopBonusData_AirBerlin] 
    @LastDate				VARCHAR(20)
  , @ActualDate				VARCHAR(20)
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @SQLStatement varchar(max)
  DECLARE @Result TABLE 
  (
      [EntryNo]          int
    , [MembershipNumber] varchar(20)
    , [FamilyName]       varchar(25)
    , [GivenName]        varchar(30)
    , [Anreisedatum]     date
    , [Abreisedatum]     date
    , [HotelNo]          int
    , [Punkte]           int
    , [Reservierungsnr_] int
    , [DocumentNo]       varchar(20)
    , [CustomerNo]       varchar(20)
    , [CreationDate]     date
    , [NewContract]      tinyint
  )
  ;WITH RESULT AS
  (
  SELECT LEFT([MembershipNumber],20) [MembershipNumber]
       , LEFT([FamilyName],25) [FamilyName]
       , LEFT([GivenName],30) [GivenName]
       , [Anreisedatum]
       , [Abreisedatum]
       , [HotelNo]
       , CASE WHEN [NewContract] = 1 THEN 500 ELSE SUM([Punkte]) END [Punkte]
       , [Reservierungsnr_]
       , [DocumentNo]
       , [CustomerNo]
       , MAX([CreationDate]) [CreationDate] 
       , [NewContract]
    FROM (SELECT AP.[AffiliateReference1] [MembershipNumber]
             , CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN 
                 SUBSTRING(AP.[Description], 0, CHARINDEX(',',AP.[Description]) ) 
               ELSE 
                 AP.[Description] 
               END [FamilyName]
             , CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN 
                 LTRIM(SUBSTRING(AP.[Description], CHARINDEX(',',AP.[Description])+1, LEN(AP.[Description])-CHARINDEX(',',AP.[Description])+1) ) 
               ELSE 
                 AP.[Description] 
               END [GivenName]
             , AP.[ArivalDate] [Anreisedatum]
             , AP.[DepartureDate] [Abreisedatum]
             , AP.[HotelNo]
             , ROUND(AP.[Turnover_LCY_corr] * 3,0) [Punkte]
             , AP.[ReservationNo] [Reservierungsnr_]
             , AP.[InvoiceNo] [DocumentNo]
             , AP.[AffiliatePartnerNo] [CustomerNo]
             , GETDATE() [CreationDate] 
             , CASE WHEN AP.[ReservationDate] < '2014-07-01' THEN 0 ELSE 1 END [NewContract]
          FROM [HRS$Affiliate Postings] AP JOIN [Affiliate Partner] PA 
            ON PA.[No_] = AP.[AffiliatePartnerNo] 
         WHERE AP.[DepartureDate] BETWEEN @LastDate AND @ActualDate
           AND PA.[Company-No_] = 7357 
           AND NOT AP.[AffiliateReference1]  = '' 
           AND NOT AP.[AffiliateReference1]  LIKE 'FALLBACK%'
           AND NOT AP.[AffiliateReference1]  LIKE 'STATISTIC%' 
           AND NOT AP.[AffiliateReference1]  LIKE 'CLUSTER%' 
         ) X
LEFT JOIN [HRS-Global$Job Journal Line] JL WITH (NOLOCK)
       ON JL.[Document No_] = CAST([Reservierungsnr_] AS VARCHAR(20))
    WHERE JL.[Document No_] IS NULL
GROUP BY [MembershipNumber]
       , [FamilyName]
       , [GivenName]
       , [Anreisedatum]
       , [Abreisedatum]
       , [Reservierungsnr_]
       , [DocumentNo]
       , [CustomerNo] 
       , [HotelNo]
       , [NewContract]
  HAVING SUM([Punkte])>0
UNION
  SELECT LEFT([MembershipNumber],20) [MembershipNumber]
       , LEFT([FamilyName],25) [FamilyName]
       , LEFT([GivenName],30) [GivenName]
       , [Anreisedatum]
       , [Abreisedatum]
       , [HotelNo]
       , CASE WHEN [NewContract] = 1 THEN 500 ELSE SUM([Punkte]) END [Punkte]
       , [Reservierungsnr_]
       , [DocumentNo]
       , [CustomerNo]
       , MAX([CreationDate]) [CreationDate]   
       , [NewContract]     
    FROM (SELECT AP.[AffiliateReference1] [MembershipNumber]
             , CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN 
                 SUBSTRING(AP.[Description], 0, CHARINDEX(',',AP.[Description]) ) 
               ELSE 
                 AP.[Description] 
               END [FamilyName]
             , CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN 
                 LTRIM(SUBSTRING(AP.[Description], CHARINDEX(',',AP.[Description])+1, LEN(AP.[Description])-CHARINDEX(',',AP.[Description])+1) ) 
               ELSE 
                 AP.[Description] 
               END [GivenName]
             , AP.[ArivalDate] [Anreisedatum]
             , AP.[DepartureDate] [Abreisedatum]
             , AP.[HotelNo]
             , ROUND(AP.[Turnover_LCY_corr] * 3,0) [Punkte]
             , AP.[ReservationNo] [Reservierungsnr_]
             , AP.[InvoiceNo] [DocumentNo]
             , AP.[AffiliatePartnerNo] [CustomerNo]
             , GETDATE() [CreationDate] 
             , CASE WHEN AP.[ReservationDate] < '2014-07-01' THEN 0 ELSE 1 END [NewContract]
          FROM [HRS-CN$Affiliate Postings] AP JOIN [Affiliate Partner] PA 
            ON PA.[No_] = AP.[AffiliatePartnerNo] 
         WHERE AP.[DepartureDate] BETWEEN @LastDate AND @ActualDate
           AND PA.[Company-No_] = 7357 
           AND NOT AP.[AffiliateReference1]  = '' 
           AND NOT AP.[AffiliateReference1]  LIKE 'FALLBACK%'
           AND NOT AP.[AffiliateReference1]  LIKE 'STATISTIC%' 
           AND NOT AP.[AffiliateReference1]  LIKE 'CLUSTER%' 
         ) X
LEFT JOIN [HRS-Global$Job Journal Line] JL WITH (NOLOCK)
       ON JL.[Document No_] = CAST([Reservierungsnr_] AS VARCHAR(20))
    WHERE JL.[Document No_] IS NULL
 GROUP BY [MembershipNumber]
        , [FamilyName]
        , [GivenName]
        , [Anreisedatum]
        , [Abreisedatum]
        , [Reservierungsnr_]
        , [DocumentNo]
        , [CustomerNo] 
        , [HotelNo]
        , [NewContract]
   HAVING SUM([Punkte])>0
  )
   INSERT INTO @Result
   SELECT ROW_NUMBER() OVER(ORDER BY R.[MembershipNumber], UPPER(R.[FamilyName]), UPPER(R.[GivenName]), R.[Anreisedatum])
        , R.[MembershipNumber]
        , R.[FamilyName]
        , R.[GivenName]
        , R.[Anreisedatum]
        , R.[Abreisedatum]
        , R.[HotelNo]
        , R.[Punkte]
        , R.[Reservierungsnr_]
        , R.[DocumentNo]
        , R.[CustomerNo]
        , R.[CreationDate]
        , R.[NewContract]
     FROM RESULT R 
     
  UPDATE R2 SET R2.[Punkte] = 0
    FROM @Result R1
    JOIN @Result R2 
      ON R1.[MembershipNumber]  = R2.[MembershipNumber] 
     AND R1.[HotelNo]           = R2.[HotelNo]
     AND UPPER(R1.[FamilyName]) = UPPER(R2.[FamilyName])
     AND UPPER(R1.[GivenName])  = UPPER(R2.[GivenName])
     AND DATEDIFF(dd, R1.[Abreisedatum], R2.[Anreisedatum]) = 0
     AND R1.[NewContract]       = 1
     AND R2.[NewContract]       = 1

  SELECT * FROM @Result ORDER BY Abreisedatum
END
GO
