USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitandDistinct4FullText]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 16.10.2015
-- Description:	Baut Filterstring auf für die CONTAINS Bedingung
--				
/*
SELECT [dbo].[SplitandDistinct4FullText] ('Rujana  Immobilien Ferienwohnungen auf Rügen GmbH Deutsches Haus Roy Burwitz RUJANA IMMOBILIEN FERIENWOHNUNGEN AUF RÜGEN GMBH', ' ')	
*/
-- ================================================
create FUNCTION [dbo].[SplitandDistinct4FullText]
(
	  @StringToSplit	VARCHAR(2048)
	, @Separator		VARCHAR(1)
)
RETURNS varchar(2048)

AS
BEGIN
	DECLARE		@Pos					INT
			  , @Piece					VARCHAR(500)
			  , @StrinIsSplit			VARCHAR(2048) = ''
	DECLARE		@DistinctTable			AS TABLE
				(
					[StingValue]		VARCHAR(200)
				)
	;
	WITH Splitter (StartPos, EndPos) AS
		( SELECT 1												AS StartPos
		, CHARINDEX(@Separator, @StringToSplit + @Separator)	AS EndPos
          UNION ALL
		  SELECT EndPos + 1								
		, CHARINDEX(@Separator,@StringToSplit + @Separator, EndPos + 1) 
	FROM Splitter
    WHERE CHARINDEX(@Separator, @StringToSplit + @Separator, EndPos + 1) <> 0
	)
	
	INSERT INTO @DistinctTable
	SELECT StingValue = SUBSTRING(UPPER(@StringToSplit), StartPos,EndPos-StartPos) 
	  FROM Splitter

	--baut neuen String auf mit ' OR ' Verknüpfung, aber mit eindeutigen Werten
	SELECT @StrinIsSplit  = @StrinIsSplit  + CASE WHEN LEN(@StrinIsSplit ) > 0
													THEN ' OR ' 
													ELSE ''
											 END			
										   + [StingValue] 
	 FROM @DistinctTable
 GROUP BY [StingValue]


	Return @StrinIsSplit
END

GO
