USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[hotel_de$GetSalutation]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 07.12.12
-- Description:	Anredeformel für Anschreiben
-- =============================================
CREATE FUNCTION [dbo].[hotel_de$GetSalutation]
(
    @SalutationCode varchar(10)
  , @LanguageCode   varchar(10)
  , @SalutationType int
  , @Source         int
  , @SourceCode     varchar(20)
)
RETURNS varchar(max)
AS
BEGIN
  DECLARE @Result varchar(max), @Type1 int, @Type2 int, @Type3 int, @Type4 int, @Type5 int
        , @Name1 varchar(max), @Name2 varchar(max), @Name3 varchar(max), @Name4 varchar(max), @Name5 varchar(max)
   SELECT @Result = ''
  IF @Source=1 BEGIN
    SELECT @Result = SF.Salutation
         , @Type1 = [Name 1]
         , @Type2 = [Name 2]
         , @Type3 = [Name 3]
         , @Type4 = [Name 4]
         , @Type5 = [Name 5]
      FROM [hotel_de$Salutation Formula] SF
     WHERE SF.[Salutation Type] = @SalutationType
       AND SF.[Language Code]   = @LanguageCode
       AND SF.[Salutation Code] = @SalutationCode
    SELECT @Name1 = T.[Job Title]
         , @Name2 = T.[First Name]         
         , @Name3 = T.[Middle Name]         
         , @Name4 = T.[Surname]         
         , @Name5 = T.[Initials]         
      FROM [hotel_de$Rebate Agreement Header] T
     WHERE [No_] = @SourceCode
  END
  
  SELECT @Result = REPLACE(@Result,'%1', CASE @Type1 WHEN 1 THEN @Name1 WHEN 2 THEN @Name2 WHEN 3 THEN @Name3 WHEN 4 THEN @Name4 WHEN 5 THEN @Name5 ELSE '' END)
  SELECT @Result = REPLACE(@Result,'%1', CASE @Type2 WHEN 1 THEN @Name1 WHEN 2 THEN @Name2 WHEN 3 THEN @Name3 WHEN 4 THEN @Name4 WHEN 5 THEN @Name5 ELSE '' END)
  SELECT @Result = REPLACE(@Result,'%1', CASE @Type3 WHEN 1 THEN @Name1 WHEN 2 THEN @Name2 WHEN 3 THEN @Name3 WHEN 4 THEN @Name4 WHEN 5 THEN @Name5 ELSE '' END)
  SELECT @Result = REPLACE(@Result,'%1', CASE @Type4 WHEN 1 THEN @Name1 WHEN 2 THEN @Name2 WHEN 3 THEN @Name3 WHEN 4 THEN @Name4 WHEN 5 THEN @Name5 ELSE '' END)
  SELECT @Result = REPLACE(@Result,'%1', CASE @Type5 WHEN 1 THEN @Name1 WHEN 2 THEN @Name2 WHEN 3 THEN @Name3 WHEN 4 THEN @Name4 WHEN 5 THEN @Name5 ELSE '' END)
  
  RETURN @Result
END


GO
