USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[SelectCreditorAmount]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SelectCreditorAmount]
 @DateFrom varchar(10)='2020-07-01'
,@DateTo varchar(10)='2020-12-31'
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '
CREATE TABLE #V ([BUKRS] varchar(4), [Mandant] varchar(35), [Vendor No_] varchar(20), [Name] varchar(100), [Balance (LCY)] dec(38,20),[Sub Type] varchar(10))
' ELSE '
' END
     + ';WITH VLE AS (SELECT VLE.[Vendor No_], SUM(DVLE.[Amount (LCY)]) [Balance (LCY)] FROM DynNavHRS.dbo.['+BUKRS+'$Vendor Ledger Entry] VLE WITH (NOLOCK) JOIN DynNavHRS.dbo.['+BUKRS+'$Detailed Vendor Ledg_ Entry] DVLE WITH (NOLOCK) ON VLE.[Entry No_]=DVLE.[Vendor Ledger Entry No_] WHERE VLE.[Posting Date] BETWEEN ''' + @DateFrom+''' AND ''' + @DateTo+''' AND VLE.[Document Type] IN (2,3) AND DVLE.[Entry Type]=1 GROUP BY VLE.[Vendor No_] HAVING SUM(DVLE.[Amount (LCY)])<>0)
INSERT INTO #V
SELECT '''+lkpBUKRS+''' [BUKRS]
     , '''+BUKRS+''' [Mandant]
	 , [No_] [Vendor No_]
	 , V.[Name]
	 , COALESCE([Balance (LCY)],0)
	 , ES.[Sub Type]
  FROM DynNavHRS.dbo.['+BUKRS+'$Vendor] V WITH (NOLOCK) JOIN VLE ON V.[No_]=VLE.[Vendor No_]
  JOIN DynNavHRS.dbo.[HRS$Country_Region] CR WITH (NOLOCK) ON CR.[Code] = CASE WHEN V.[Country_Region Code]='''' THEN ''33'' ELSE V.[Country_Region Code] END
LEFT JOIN DynNavHRS.dbo.['+BUKRS+'$Value Mapping] VM ON VM.[Source Table No_]=23 AND VM.[Source Value]=V.[No_]
LEFT JOIN DynNavHRS.dbo.[Export Structure] ES ON ES.[Entry No_]=VM.[Export Structure Entry No_]
'
FROM Q

SET @SQL = @SQL + '
SELECT * FROM #V ORDER BY BUKRS, CAST([Vendor No_] AS int)
'
EXEC(@SQL)
EXEC DebugPrint @SQL
END
GO
