USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_AMADEUS_UpdateTravelagency]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 06.03.15
-- Description:	Aktualisiert die Reisebürozuordnung entsprechend AMADEUS-Lieferung
/*
  EXEC [sp_AMADEUS_UpdateTravelagency]
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_AMADEUS_UpdateTravelagency]
AS
BEGIN
  -- SABRE ----------
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS$Affiliate Postings] AP
    JOIN [dbo].[SABRE Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)
   
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-CN$Affiliate Postings] AP
    JOIN [dbo].[SABRE Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-BR$Affiliate Postings] AP
    JOIN [dbo].[SABRE Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [TISCOVER$Affiliate Postings] AP
    JOIN [dbo].[SABRE Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  -- AMADEUS ----------
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS$Affiliate Postings] AP
    JOIN [dbo].[HRS$Amadeus Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)
   
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-CN$Affiliate Postings] AP
    JOIN [dbo].[HRS$Amadeus Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-BR$Affiliate Postings] AP
    JOIN [dbo].[HRS$Amadeus Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [TISCOVER$Affiliate Postings] AP
    JOIN [dbo].[HRS$Amadeus Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] IN (AP.[ReservationNo],AP.[ProcessNumber])
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  -- TRAVELPORT ----------
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS$Affiliate Postings] AP
    JOIN [dbo].[Travelport Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] = AP.[ProcessNumber]
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     --AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)
   
  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-CN$Affiliate Postings] AP
    JOIN [dbo].[Travelport Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] = AP.[ProcessNumber]
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     --AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [HRS-BR$Affiliate Postings] AP
    JOIN [dbo].[Travelport Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] = AP.[ProcessNumber]
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     --AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

  UPDATE AP SET
         AP.[Travelagency No_] = CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
    FROM [TISCOVER$Affiliate Postings] AP
    JOIN [dbo].[Travelport Import Line] AI WITH (NOLOCK)
      ON AI.[Process No_] = AP.[ProcessNumber]
    JOIN [HRS$Booking Source] BS
      ON BS.[No_] = AP.[ReservationSource]
   WHERE COALESCE(AP.[Travelagency No_],0) <> CASE WHEN BS.[Is GDS]=1 THEN AI.[Travelagency No_] ELSE 0 END
     --AND YEAR(AI.[Departure Date]) = YEAR(AP.DepartureDate)

END

GO
