USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[HRS-CN$TransferJournaltoArchivviaWeb]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 05.09.2011
-- Description:	Ablösung der NAV-Funktion TransferJournaltoArchivviaWeb
-- =============================================
CREATE PROCEDURE [dbo].[HRS-CN$TransferJournaltoArchivviaWeb] 
    @EBPPCode   varchar(10)
  , @EBPPNo     varchar(20)
AS
BEGIN
  INSERT INTO [DynNavHRS].[dbo].[HRS-CN$EBPP Journal Archive]
    (
        [EBPP Provider Code]
      ,  [Reference]
      ,  [Document Type]
      ,  [No_]
      ,  [Bill-to Customer No_]
      ,  [Status]
      ,  [No_ Series]
      ,  [Send Type]
      ,  [Send To]
      ,  [Batch Mode]
      ,  [Salesperson Code]
      ,  [Amount]
      ,  [Amount (LCY)]
      ,  [Currency Code]
      ,  [Currency Rate]
      ,  [Document Date]
    )
 SELECT [EBPP Provider Code]
      ,  [Reference]
      ,  [Document Type]
      ,  [No_]
      ,  [Bill-to Customer No_]
      ,  [Status]
      ,  [No_ Series]
      ,  [Send Type]
      ,  [Send To]
      ,  [Batch Mode]
      ,  [Salesperson Code]
      ,  [Amount]
      ,  [Amount (LCY)]
      ,  [Currency Code]
      ,  [Currency Rate]
      ,  [Document Date]
   FROM [DynNavHRS].[dbo].[HRS-CN$EBPP Journal]
  WHERE [EBPP Provider Code] = @EBPPCode
    AND [Reference]          = @EBPPNo
    
 DELETE
   FROM [DynNavHRS].[dbo].[HRS-CN$EBPP Journal]
  WHERE [EBPP Provider Code] = @EBPPCode
    AND [Reference]          = @EBPPNo

  INSERT INTO [DynNavHRS].[dbo].[HRS-CN$EBPP Journal Archive Subtable]
    (
        [EBPP Provider Code]
      , [Reference]
      , [Line No_]
      , [Status]
      , [Error Flag]
      , [Date _ Time]
      , [User ID]
    )
 SELECT [EBPP Provider Code]
      , [Reference]
      , [Line No_]
      , [Status]
      , [Error Flag]
      , [Date _ Time]
      , [User ID]
   FROM [DynNavHRS].[dbo].[HRS-CN$EBPP Journal Subtable]
  WHERE [EBPP Provider Code] = @EBPPCode
    AND [Reference]          = @EBPPNo

 DELETE 
   FROM [DynNavHRS].[dbo].[HRS-CN$EBPP Journal Subtable]
  WHERE [EBPP Provider Code] = @EBPPCode
    AND [Reference]          = @EBPPNo

END
GO
