USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPBankInformation]    Script Date: 10.04.2024 14:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.08.2012
-- Description:	Bankinfotexte für Belege
-- 
/*
execute [dbo].[sp_RPBankInformation] '33',1,'HRS'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RPBankInformation] 
    @Custcountry varchar(10)
  , @Position int
  , @Company varchar(30)
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @SQLText varchar(max)
  
CREATE TABLE #RESULTS 
	( [Bank]								VARCHAR(max)
	, [BankTxt]								ntext
	, [BLZ]									NVARCHAR(50)
	, [Swift]								NVARCHAR(50)
	, [IBAN]								NVARCHAR(50)
	, [Account]								NVARCHAR(50)
	, [Description]							NVARCHAR(50)
	, [Reihenfolgen]						INTEGER
)
  
  SET @SQLText = 
'INSERT INTO #RESULTS
SELECT BK.[Bank]
     , BK.[BankTxt]
     , BK.[BLZ]
     , BK.[Swift]
     , BK.[IBAN]
     , BK.[Account]
     , BK.[Description]
     , BR.[Sequences]    [Reihenfolgen]
  FROM [' + @Company + '$Bank Regulation] BR WITH (READUNCOMMITTED)
  JOIN [' + @Company + '$Bank Account]    BA WITH (READUNCOMMITTED)
    ON BR.[Bank No_] = BA.[No_]
  JOIN [Bank] BK WITH (READUNCOMMITTED)
    ON BR.[Bank No_] = BK.[BankCode] COLLATE Latin1_General_CI_AS
 WHERE BR.[Country Code] = ''' + @Custcountry + '''
   AND BR.[Sequences] = ' + CAST(@Position AS varchar)
   
EXECUTE (@SQLText) 
SELECT * FROM #RESULTS  

END


GO
