USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_TabelleZuRolle]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TabelleZuRolle] AS
SELECT P."Object ID", P.Objektname, P.Vorkommen, P.ADOKOM, P.ALLE, P."ÄNDPROT-ANSEHEN", P."ÄNDPROT-EINRICHTEN", P."ÄNDPROT-LÖSCHEN", P."ANL-ANLAGE", P."ANL-ANLAGE, ÄNDERN", P."ANL-BUCHBL, BUCHEN", P."ANL-BUCHBLATT", P."ANL-EINRICHTUNG", P."ANL-JOURNALE", P."ANL-PERIODISCH", P."ANL-VERS BU-BL, BUCH", P."ANL-VERS BUCHBLATT", P."ANL-VERS JOURNAL", P."ANL-VERS, ÄNDERN", P."ANL-VERSICHERUNG", P."ART./STÜCKL., BEARB", P."ARTIKEL BU-BL,BUCHEN", P."ARTIKEL BUCH.-BLATT", P."ARTIKEL/STÜCKLISTE", P.ARTIKELJOURNALE, P.BANKKONTO, P."BANKKONTO, BEARB.", P.DEBUG, P."DIMENSION, BEARB.", P."EINKAUF-A/B/R/G", P."EINKAUF-A/B/R/G,BUCH", P."EINKAUF-BU-BL,BUCHEN", P."EINKAUF-BUCH.-BLATT", P."EINKAUF-EINRICHTEN", P."EINKAUF-GEB. L/R/G", P."EINKAUF-INTRS, BEARB", P."EINKAUF-JOURNALE", P."EINKAUF-KRED, BEARB", P."EINKAUF-KREDITOR", P."EINKAUF-PERIODISCH", P."EINKAUF-WIEDK. BU-BL", P."FIBU-BUCH-BL.,BUCHEN", P."FIBU-BUCHUNGSBLATT", P."FIBU-EINRICHTEN", P."FIBU-PERIODISCH", P.HRS_ADMIN, P.HRS_CONTRACTING_ADM, P.HRS_CONTROLLING_ADM, P.HRS_FINANCE_ADMIN, P.HRS_FINANCE_POSTING, P.HRS_HR_ADMIN, P.HRS_INVENTORY_ADMIN, P."HRS_INVENTORY_POST.", P.HRS_LESEN, P.HRS_MARKETING_ADMIN, P.HRS_PURCHASE_POSTING, P.HRS_SALES_ADMIN, P.HRS_SALES_POSTING, P."INTRASTAT-EINRICHTEN", P."INTRASTAT-PERIODISCH", P."INVENTUR BUCH.-BLATT", P.KONTENSCHEMA, P."KONTENSCHEMA, BEARB.", P."LAGER PERIODISCH", P."LAGER-EINRICHTEN", P."LOHN-BUCH", P."LOHN-EIN", P."MKTG-AKTION", P."MKTG-AKTION, BEARB", P."MKTG-DEB/KRED, BEARB", P."MKTG-EINRICHTEN", P."MKTG-INT/KONT, BEARB", P."MKTG-INTRS/KONTP", P."MKTG-KAMPAGNE", P."MKTG-KAMPGN, BEARB", P."MKTG-PERIODISCH", P.OPPLUS, P."PROJEKT-BU-BL,BUCHEN", P."PROJEKT-BUCH.-BLATT", P."PROJEKT-BUD., BEARB", P."PROJEKT-BUDGET", P."PROJEKT-EINRICHTEN", P."PROJEKTE-PERIODISCH", P."PROJEKT-JOURNALE", P."PROJEKT-PROJ., BEARB", P."PROJEKT-PROJEKTE", P."PW-ABWESENH", P."PW-EINRICHTEN", P."PW-MITARB", P."PW-MITARB, BEARB", P."PW-VERTRAULICH", P."RESS-BU-BLTT, BUCHEN", P."RESS-BUCH.-BLATT", P."RESS-EINRICHTEN", P."RESS-JOURNALE", P."RESS-KAPAZIT., BEARB", P."RESS-PERIODISCH", P."RESS-RESSOUR., BEARB", P."RESS-RESSOURCE", P."SACHKONTEN-BUD BEARB", P."SACHKONTEN-BUDGET", P."SACHKONTEN-JOURNALE", P.SACHKONTO, P."SACHKONTO, BEARB.", P.SICHERHEIT, P."STÜCKL. BU-BL,BUCHEN", P."STÜCKL. BUCH.-BLATT", P."STÜCKLISTEN JOURNALE", P.SUPER, P."SUPER (DATEN)", P."VERKAUF-A/A/R/G", P."VERKAUF-A/A/R/G,BUCH", P."VERKAUF-BU-BL,BUCHEN", P."VERKAUF-BUCH.-BLATT", P."VERKAUF-DEBIT, BEARB", P."VERKAUF-DEBITOR", P."VERKAUF-EINRICHTEN", P."VERKAUF-GEB. L/R/G", P."VERKAUF-INTRS, BEARB", P."VERKAUF-JOURNALE", P."VERKAUF-PERIODISCH", P."VKSTEUER-EINRICHTEN"
FROM DynNavHRS.dbo.v_Permission P
ORDER BY 1
GO
