USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[DebugPrint]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 22.01.2021
-- Description:	Ausgabe einer überlangen Zeichenkette
-- =============================================
CREATE PROCEDURE [dbo].[DebugPrint] @SQL varchar(max)

AS
BEGIN
  DECLARE @TotalLength int, @OffSet int=1, @PartLength int=8000
  SET @TotalLength = LEN(@SQL)

  WHILE @TotalLength>=@OffSet
  BEGIN
    PRINT(SUBSTRING(@SQL,@OffSet,@PartLength))
	SET @OffSet += @PartLength
  END
  PRINT(SUBSTRING(@SQL,@OffSet,@PartLength))
END
GO
