USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateHeader_TEST190401]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 27.07.2011
-- Description:	Kopfinformationen zur Gutschriftsanzeige
-- 20110909 RP1 Ausgabe erweitert um  [Kreditor].[MwSt.-Geschäftsbuchungsgruppe]
--									, [Kreditor].[Currency Code]
-- 20150206 RP  Erweit um API, GDS, RD und RR 
--				Basisverion: [sp_RebateHeader_SIK_20150206]
-- 	            [sp_RebateHeader2] hier reingemerged
--              NAV Filter von [Travelagency].IATA aufgebaut
/*
DECLARE @ReNr VARCHAR(20)
SELECT @ReNr = 'K0000042470'
EXEC [dbo].[sp_RebateHeader_TEST190401] @ReNr

*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateHeader_TEST190401] 
    --@RebateNo varchar(20) = 'K0000042649'
WITH RECOMPILE
AS
BEGIN
DECLARE
       @DateEnd                   DATETIME = '2018-12-31'
  , @DateStart                    DATETIME = '2018-01-01'

DECLARE @Result Table
(
		  [Rebate No_]					varchar(150)
		, [Rebate-to Vendor No_]		varchar(150)
        , [Rebate-to Customer Name]		varchar(150)
        , [Rebate-to Customer Name 2]	varchar(150)
        , [Rebate-to Address]			varchar(150)
        , [Rebate-to Address 2]			varchar(150)
        , [Rebate-to City]				varchar(150)
        , [Rebate-to Contact]			varchar(150)
        , [Rebate-to Post Code]			varchar(150)
        , [Rebate-to Country_Region Code]	varchar(10)
        , [Affiliate Partner List]		varchar(max)
        , [Currency Code]				varchar(10)
        , [Currency Factor]				DEC(37,20)
        , [Interval]					INT
        , [Posting Date]				datetime
        , [Document Date]				datetime
        , [Language Code]				varchar(10)
        , [Year Start Date]				datetime		
        , [Year End Date]				datetime		
        , [Till Start Date]				datetime
        , [Interval Start Date]				datetime
        , [Interval End Date]				datetime
        , [Document Type (Statement)]		int
        , [Document Type (Cr_ Memo)]		int
        , [Correspondence Type]				int
        , [Vendor Bank Name]				varchar(150)			
        , [Vendor IBAN]						varchar(150)
        , [Vendor SWIFT Code]				varchar(150)
        , [Vendor Bank Branch No_]			varchar(150)
        , [Vendor Bank Account No_]			varchar(150)	
        , [Template Type]					int
        , [Matrix _ Vector Code]			varchar(150)
        , [Code P1]							varchar(100)
		, [Name P1]							varchar(100)
        , [Value P1]						DEC(37,20)
        , [Constant Value P1] DEC(37,20)
        , [Code P2]							varchar(100)
		, [Name P2]							varchar(100)
        , [Value P2]						DEC(37,20)
        , [Constant Value P2] DEC(37,20)
        , [Code P3]							varchar(100)
		, [Name P3]							varchar(100)
        , [Value P3]						DEC(37,20)
        , [Constant Value P3] DEC(37,20)
        , [Code P4]							varchar(100)
		, [Name P4]							varchar(100)
        , [Value P4]						DEC(37,20)
        , [Constant Value P4] DEC(37,20)
        , [Code P5]							varchar(100)
		, [Name P5]							varchar(100)
        , [Value P5]						DEC(37,20)
        , [Constant Value P5] DEC(37,20)
        , [Code P6]							varchar(100)
		, [Name P6]							varchar(100)
        , [Value P6]						DEC(37,20)
        , [Constant Value P6] DEC(37,20)
        , [Code P7]							varchar(100)
		, [Name P7]							varchar(100)
        , [Value P7]						DEC(37,20)
        , [Constant Value P7] DEC(37,20)
        , [Code P8]							varchar(100)
		, [Name P8]							varchar(100)
        , [Value P8]						DEC(37,20)
        , [Constant Value P8] DEC(37,20)
        , [Code P9]							varchar(100)
		, [Name P9]							varchar(100)
        , [Value P9]						DEC(37,20)
        , [Constant Value P9] DEC(37,20)
        , [Code P10]							varchar(100)
		, [Name P10]							varchar(100)
        , [Value P10]						DEC(37,20)
        , [Constant Value P10] DEC(37,20)
        , [Code PA]							varchar(100)
		, [Name PA]							varchar(100)
        , [Value PA]						DEC(37,20)
        , [Constant Value PA] DEC(37,20)
		, [VatBusPostingGroup]	varchar(10)
		, [CurrencyCode] 	varchar(10)
		, [VAT Registration Label] varchar(30)
		, [VAT Registration No_] varchar(30)
		, [Salutation Code] varchar(150)
		, [Salesperson E-Mail] varchar(150)
		, [Salesperson Fax No_] varchar(150)
		, [Salesperson Name] varchar(150)
		, [Salesperson Phone No_] varchar(150)
		, [EU Country_Region Code] varchar(150)
		, [Country_Region Name] varchar(150)
		, [Online Reservation Source] varchar(150)
		, [Offline Reservation Source] varchar(150)
		, [Print Booking Source]  varchar(150)
		, [Enable retroactive correction] varchar(150)
		, [Estimated Commission] varchar(150)
		, [Vector Range] varchar(150)
		, [EU affiliation] INT
		, [Partner Type] INT
		, [Group contract Code] varchar(150)
		, [Output Reservation Source] varchar(150)
		, [Output Commission Type] int
        , [Payed Rebate Interval Start Date] datetime	
        , [Payed Rebate Interval End Date] datetime	
        , [Include online cancellation] int
		, [Include offline bookings] int
		, [TMC API Base Code] varchar(150)
		, [TMC API Base Value] DEC(37,20)
		, [TMC API Result Value] DEC(37,20)
		, [TMC API Result Code] varchar(150)
		, [TMC API Text] varchar(150)
		, [TMC GDS Base Code] varchar(150)
		, [TMC GDS Base Value] DEC(37,20)
		, [TMC GDS Result Value] DEC(37,20)
		, [TMC GDS Result Code] varchar(150)
		, [TMC GDS Text] varchar(150)
		, [TMC RD Base Code] varchar(150)
		, [TMC RD Base Value] DEC(37,20)
		, [TMC RD Result Value] DEC(37,20)
		, [TMC RD Result Code] varchar(150)
		, [TMC RD Text] varchar(150)
		, [TMC RR Base Code] varchar(150)
		, [TMC RR Base Value] DEC(37,20)
		, [TMC RR Result Value] DEC(37,20)
		, [TMC RR Result Code]  varchar(150)
		, [TMC RR Text] varchar(150)
		, [TMC OBE Base Code] varchar(150)
		, [TMC OBE Base Value] DEC(37,20)
		, [TMC OBE Result Value] DEC(37,20)
		, [TMC OBE Result Code] varchar(150)
		, [TMC OBE Text] varchar(150)
		, [TMC IATA Filter] varchar(250)
)

DECLARE @RANumbers TABLE
(
	    No_				VARCHAR(20)
	  , [Rebate No_]	VARCHAR(20)
	  , [Vendor No_]	VARCHAR(20)
)

PRINT('After DECLARE')

DECLARE cur CURSOR LOCAL for
	SELECT RA.No_
	FROM [HRS$Rebate Agreement Header] RA with (readuncommitted)
	JOIN [HRS$Posted Rebate Header] RH with (readuncommitted)
	ON RH.[Rebate Agreement No_] = RA.No_
	WHERE RH.[Document Date] = @DateEnd
	AND RH.Cancels = 0

DECLARE @RANo VARCHAR(20)
DECLARE @pRebNo VARCHAR(20)
DECLARE @VNo VARCHAR(20)
--SELECT @ReNr = 'K0000045846/01'

--INSERT INTO @Result 
--EXEC [dbo].[sp_RebateHeader] @ReNr

open cur 
fetch next from cur into @RANo
while @@FETCH_STATUS = 0 BEGIN
   
    SET @pRebNo = ''
	SELECT @pRebNo = MAX(RH.[Rebate No_]), @VNo = MAX(RA.[Rebate-to Vendor No_])
	FROM [HRS$Rebate Agreement Header] RA with (readuncommitted)
	JOIN [HRS$Posted Rebate Header] RH with (readuncommitted)
	ON RH.[Rebate Agreement No_] = RA.No_
	WHERE RA.No_ = @RANo
	
	if (@pRebNo = '')
	SELECT @pRebNo = MAX(RH.[No_]), @VNo = MAX(RA.[Rebate-to Vendor No_])
	FROM [HRS$Rebate Agreement Header] RA with (readuncommitted)
	JOIN [HRS$Rebate Header] RH with (readuncommitted)
	ON RH.[Rebate Agreement No_] = RA.No_
	WHERE RA.No_ = @RANo

	PRINT(@pRebNo)
    --execute your sproc on each row
	INSERT INTO @Result 
    EXEC [dbo].[sp_RebateHeader_Special] @pRebNo
		
    --INSERT INTO @RANumbers (@RANo, @RebNo, @VNo);

    fetch next from cur into @RANo
END

close cur
deallocate cur

PRINT('AFTER Cursor')

;WITH Summary_CI AS(
  SELECT RH.[Rebate Agreement No_]
	   , SUM(CASE WHEN R.[TMC RD Base Value] + R.[TMC RR Base Value] <> 0 then R.[TMC RD Base Value] + R.[TMC RR Base Value] ELSE 0 END)	[Turnover (LCY) (corr_)]
	   , SUM(CASE WHEN R.[TMC RD Result Value] + R.[TMC RR Result Value] <> 0 then R.[TMC RD Result Value] + R.[TMC RR Result Value] ELSE 0 END) [RevShare Amount]
    FROM @Result R
    JOIN [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED) ON RH.[Rebate No_]			 = R.[Rebate No_]
	JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
	GROUP BY RH.[Rebate Agreement No_]
), Summary_CI2 AS(
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 2)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
  GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 2)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
  GROUP BY RH.[Rebate Agreement No_]
),Summary_API AS(
  SELECT RH.[Rebate Agreement No_]
	   , SUM(R.[TMC API Base Value])		[Turnover (LCY) (corr_)]
	   , SUM(R.[TMC API Result Value])		[RevShare Amount]
    FROM @Result R
    JOIN [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED) ON RH.[Rebate No_]			 = R.[Rebate No_]
	JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
	GROUP BY RH.[Rebate Agreement No_]
), Summary_API2 AS(
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 4)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
  GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 4)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
  GROUP BY RH.[Rebate Agreement No_]
),Summary_GDS AS(
  SELECT RH.[Rebate Agreement No_]
	   , SUM(R.[TMC GDS Base Value])		[Turnover (LCY) (corr_)]
	   , SUM(R.[TMC GDS Result Value])		[RevShare Amount]
    FROM @Result R
    JOIN [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED) ON RH.[Rebate No_]			 = R.[Rebate No_]
	JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
	GROUP BY RH.[Rebate Agreement No_]
), Summary_GDS2 AS(
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 3)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
  GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 3)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
  GROUP BY RH.[Rebate Agreement No_]
),Summary_OBE AS(
  SELECT RH.[Rebate Agreement No_]
	   , SUM(R.[TMC OBE Base Value])		[Turnover (LCY) (corr_)]
	   , SUM(R.[TMC OBE Result Value])		[RevShare Amount]
    FROM @Result R
    JOIN [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED) ON RH.[Rebate No_]			 = R.[Rebate No_]
	JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
	GROUP BY RH.[Rebate Agreement No_]
), Summary_OBE2 AS(
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 5)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
  GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
     --  , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (SELECT No_ FROM [HRS$Booking Source] WITH (READUNCOMMITTED) WHERE [Source Class] = 5)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
  GROUP BY RH.[Rebate Agreement No_]
)
,Summary_HDE AS (
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                    
   WHERE RL.[Reservation Source] = '383'
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                    
   WHERE RL.[Reservation Source] = '383'
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     --AND RH.[Cancels] = 0
GROUP BY RH.[Rebate Agreement No_]
), Summary_Meetago AS(
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Posted Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                     
   WHERE RL.[Reservation Source] IN (5,7)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     AND RH.[Cancels] = 0
GROUP BY RH.[Rebate Agreement No_]
UNION
  SELECT RH.[Rebate Agreement No_]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]=0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Non-Commissionable Turnover]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)]<>0 THEN RL.[Turnover (LCY) (corr_)] ELSE 0 END) [Commissionable Turnover]
       , SUM(RL.[Turnover (LCY) (corr_)]) [Turnover (LCY) (corr_)]
       , SUM(RL.[Amount (LCY) (corr_)]) [Commission Amount (LCY) (corr_)]
    FROM [HRS$Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN [HRS$Rebate Line]      RL WITH (READUNCOMMITTED) ON RL.[Document No_]        = RH.[No_]                    
   WHERE RL.[Reservation Source] IN (5,7)
     AND RH.[Document Date] BETWEEN @DateStart AND @DateEnd
     --AND RH.[Cancels] = 0
GROUP BY RH.[Rebate Agreement No_]
)

--WHERE somefield = anyvalue

--INSERT INTO @RANumbers

--Select @MaxI = @@RowCount, @i = 1

/*
While @i <= @MaxI
Begin
	SELECT MAX(RH.[Rebate No_])
	FROM [HRS$Rebate Agreement Header] RA with (readuncommitted)
	JOIN [HRS$Posted Rebate Header] RH with (readuncommitted)
	ON RH.[Rebate Agreement No_] = RA.No_
	WHERE RA.No_ = 

	set @i = @i + 1
END*/

SELECT * 
FROM @Result


END
GO
