USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[SelectWyndham]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectWyndham]
    @CaseNo varchar(20)
AS
BEGIN
   SELECT BU.KE_BID, BU.KE_ID
        ,DL.[Display Case No_]
      ,DL.[Reservation No_]
      ,DL.[Position No_]
      ,DL.[Reservation Status]
      ,DL.[Reservation Date from]
      ,DL.[Reservation Date to]
      ,DL.[Number of Rooms]
      ,DL.[Room Type]
      ,DL.[Rate Description]
      ,DL.[Room Price]
      ,DL.[Breakfast Type]
      ,DL.[Breakfast Price]
      ,DL.[Commission Type]
      ,DL.[Commission Rate]
      ,DL.[Commission Fix]
      ,DL.[Rate Type]
      ,DL.[Rate Key]
      --,DL.[Currency Code]
      --,DL.[Currency Faktor]
      --,DL.[Room Number]
      --,DL.[Activity Code]
      --,DL.[Number of Person]
      --,DL.[Hotel No_]
      --,DL.[Commission Tax Type]
      --,DL.[timestamp Source]
      --,DL.[Price Type]
      --,DL.[Process Number]
      --,DL.[Inserted by User]
      --,DL.[Inserted at]
      --,DL.[Modified by User]
      --,DL.[Modified at]
      --,DL.[Number of Nights]
      --,DL.[Commission Base Amount]
      --,DL.[Commission Amount]
      --,DL.[Commission Base Amount (LCY)]
      --,DL.[Commission Amount (LCY)]
      --,DL.[Foreign Tax %]
      --,DL.[Foreign Tax Amount]
      --,DL.[Line Amount]
      ,DL.[Line Amount (LCY)]
      --,DL.[Foreign Tax Base Amount]
      --,DL.[Hotel sales incl_ VAT]
      --,DL.[Client No_]
      --,DL.[Reservation Activator]
      --,DL.[Reservation State]
      --,DL.[Reservation Date]
      --,DL.[Reservation Time]
      --,DL.[Reservation Source]
      --,DL.[Arrival Date]
      --,DL.[Departure Date]
      --,DL.[Action]
      ,DL.[Calculated with Contract Code]
      ,DL.[Calculated with Function ID]
      ,DL.[Calculated with Function Desc_]
      ,DL.[Client Company]
      ,DL.[Client Guestname 1]
      ,DL.[Client Guestname 2]
      ,DL.[Description]
      ,DL.[MuseID]
      ,DL.[Handbooking]
      ,DL.[ProcessNumber]
      ,DL.[Booking Quality]
      ,DL.[Booking Code]
      --,DL.[Invoice No_ Old System]
      --,DL.[Invoice Line No_ Old System]
      --,DL.[Loyality Rewards Account No_]
      --,DL.[Foreign Tax Roomnight Base Amt]
      --,DL.[Foreign Tax Breakf Base Amount]
      --,DL.[Commission Roomnight Base Amnt]
      --,DL.[Commission Breakf Base Amount]
      --,DL.[Foreign Tax Roomnight Amount]
      --,DL.[Foreign Tax Breakf Amount]
      --,DL.[Commission Roomnight Amount]
      --,DL.[Commission Breakf Amount]
      --,DL.[Foreign Tax % Roomnight]
      --,DL.[Foreign Tax % Breakf]
      --,DL.[Confirmed Reservation No_]
      --,DL.[Quality by User]
      --,DL.[Quality at]
      --,DL.[Ranking Booster]
      --,DL.[Corporate Rate Discount]
      --,DL.[Net Room Price]
      --,DL.[Net Breakfast Price]
      --,DL.[Booking Comment]
      --,DL.[Agency Business Rules Code]
      --,DL.[Deduction Type]
      --,DL.[Deductible Amount]
      --,DL.[Booking Rating]
      --,DL.[Multisourced]
      --,DL.[Segment]
      --,DL.[Reason For Change]
      --,DL.[Breakfast Approval Status]
      --,DL.[Rate Plan Code]
      --,DL.[Agency Line Amount]
      --,DL.[Agency Line Amount (LCY)]
      --,DL.[TAF Line Amount]
      --,DL.[TAF Line Amount (LCY)]
      --,DL.[TAF Type]
      --,DL.[TAF Rate]
      --,DL.[TAF Fix]
      --,DL.[TAF Contract Code]
      --,DL.[TAF Function ID]
      --,DL.[TAF Function Desc_]
      --,DL.[TAF Business Rules Code]
     FROM DynNavHRS.dbo.[HRS$Agency Display Line] DL WITH (NOLOCK) 
LEFT JOIN DynNavHRS.dbo.[HRS$CDG Import Zahlungszentralen] ZZ WITH (NOLOCK)ON DL.[Reservation No_]=ZZ.[Reservierungsnummer] 
     JOIN DynNavHRS.HRSDB.BUCHUNG BU WITH (NOLOCK) ON CAST(BU.B_KEY AS varchar(20))=DL.[Reservation No_] 
    WHERE DL.[Display Case No_]=@CaseNo --'K001212045'
      AND ZZ.Reservierungsnummer IS NULL
END
GO
