USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[GetTemplateVariants]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 2019-09-17
-- Description:	creates all used variants of new templates
-- =============================================
CREATE PROCEDURE [dbo].[GetTemplateVariants] 
	@DateFrom date = '2018-01-01'
AS
BEGIN
	SET NOCOUNT ON;
DECLARE @RecreateTemplateUsage tinyint = 0
      , @ActualTyp int

IF @RecreateTemplateUsage=1
  IF OBJECT_ID('tempdb..#TemplateUsage') IS NOT NULL
    DROP TABLE #TemplateUsage
IF OBJECT_ID('tempdb..#TemplateUsage') IS NULL
  CREATE TABLE #TemplateUsage ([Typ] int, [Case No_] varchar(20) COLLATE Latin1_General_CS_AS, [Language Code] varchar(10) COLLATE Latin1_General_CS_AS, [Row Number] int, [Country Code] varchar(10) COLLATE Latin1_General_CS_AS, [Net Based] tinyint, [Payment Method Code] varchar(10) COLLATE Latin1_General_CS_AS, [Contract Status] varchar(10) COLLATE Latin1_General_CS_AS, [OIP] tinyint, [MuseID] varchar(20) COLLATE Latin1_General_CS_AS, [Local Currency] tinyint, [Multisource] tinyint, CONSTRAINT IX_TemplateUsage2 PRIMARY KEY CLUSTERED ([Case No_],[Typ],[Language Code]) )
-- Typ 1
SET @ActualTyp=1
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)
  INSERT INTO #TemplateUsage
  SELECT '1' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , 1 [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Agency Display Line] ADL WITH (NOLOCK)
      ON ADL.[Display Case No_] = ADH.[Case No_]
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON CU.[Bill-to Customer No_] = CU.[No_]
   WHERE CU.[Treat Hotel as multisource] = 0
     AND ADH.[Creation Date] >= '2018-01-01'--@DateFrom
GROUP BY ADH.[Case No_]
	   , ADH.[Language Code]
  HAVING MAX(ADL.[Multisourced])=1

-- Typ 2
SET @ActualTyp=2
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '2' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , CU.[Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] = '50'
     AND CU.[Payment Method Code] = 'LAST-UK'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 3
SET @ActualTyp=3
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '3' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , 1 [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
	JOIN DynNavHRS.dbo.[HRS$Country_Region] CR WITH (NOLOCK)
      ON CR.[Code] = ADH.[Bill-to Country_Region Code] 
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE CR.[Invoicing in local currency]=1
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 4
SET @ActualTyp=4
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '4' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] IN ('202','197','224','230')
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 5
SET @ActualTyp=5
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '5' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , 1 [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] IN ('151','95','137')
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 6
SET @ActualTyp=6
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '6' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , 1 [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] IN ('140','110','122','123','125','132','15','156','160','169','173','176','177','198','199','200','201','223','234','25','254','32','49','62','63','91','98','50','43','65')
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 7
SET @ActualTyp=7
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '7' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , CU.[Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE CU.[Payment Method Code] = 'CC-AUTO'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 8
SET @ActualTyp=8
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '8' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] = '58'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
 -- Typ 9
SET @ActualTyp=9
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)
  INSERT INTO #TemplateUsage
  SELECT '9' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , 0 [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Agency Display Line] ADL WITH (NOLOCK)
      ON ADL.[Display Case No_] = ADH.[Case No_]
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON CU.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Creation Date] >= '2018-01-01'--@DateFrom
	 AND ADH.[Bill-to Country_Region Code] NOT IN ('33','114','202')
     AND T.[Case No_] IS NULL
GROUP BY ADH.[Case No_]
	   , ADH.[Language Code]
  HAVING MAX(CASE WHEN ADL.[Calculated with Function ID] IN ('8','9','10') THEN 1 ELSE 0 END)=1
 -- Typ 10
SET @ActualTyp=10
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)
  INSERT INTO #TemplateUsage
  SELECT '10' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , 1 [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Agency Display Line] ADL WITH (NOLOCK)
      ON ADL.[Display Case No_] = ADH.[Case No_]
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON CU.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Creation Date] >= '2018-01-01'--@DateFrom
	 AND ADH.[Bill-to Country_Region Code] NOT IN ('33','114')
     AND T.[Case No_] IS NULL
GROUP BY ADH.[Case No_]
	   , ADH.[Language Code]
  HAVING MAX(CASE WHEN ADL.[Calculated with Function ID] IN ('8','9','10') THEN 1 ELSE 0 END)=0
-- Typ 11
SET @ActualTyp=11
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '11' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] = '114'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 12
SET @ActualTyp=12
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '12' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , CU.[Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE CU.[Payment Method Code] <> 'LAST-UK'
     AND LEFT(CU.[Payment Method Code],4) = 'LAST'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 13
SET @ActualTyp=13
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '13' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , CU.[Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE CU.[Payment Method Code] IN ('CORE','SEPA')
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 14
SET @ActualTyp=14
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '14' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , CU.[Contract Status]
	   , NULL [OIP]
	   , ADH.[MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE CU.[Contract Status] NOT IN ('10','11')
     AND ADH.[MuseID] NOT IN ('MEETAGO','MEETAGO_HDE')
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 15
SET @ActualTyp=15
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '15' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , NULL [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , 1 [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
	 AND CASE 
           WHEN ([CU].[HPP Webportal enabled] = 1) 
            AND ([CU].[HPP Webportal registered] = 0)
            AND ([CU].[HPP Refused] = 0)
            AND (([CU].[Contract Status] = '01') OR ([CU].[Contract Status] = '02'))
            AND (ADH.[Creation Date] >= @DateFrom)
            AND (([CU].[Reminder Terms Code] = 'AT&DE_PEND') OR ([CU].[Reminder Terms Code] = 'STANDARD'))
          THEN 1 ELSE 0 
		END=1
-- Typ 16
SET @ActualTyp=16
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '16' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , 0 [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Creation Date] >= @DateFrom
     AND ADH.[Bill-to Country_Region Code] = '200'
     AND T.[Case No_] IS NULL
	 AND CASE 
           WHEN ([CU].[HPP Webportal enabled] = 1) 
            AND ([CU].[HPP Webportal registered] = 0)
            AND ([CU].[HPP Refused] = 0)
            AND (([CU].[Contract Status] = '01') OR ([CU].[Contract Status] = '02'))
            AND (ADH.[Creation Date] >= @DateFrom)
            AND (([CU].[Reminder Terms Code] = 'AT&DE_PEND') OR ([CU].[Reminder Terms Code] = 'STANDARD'))
          THEN 1 ELSE 0 
		END=0
-- Typ 17
SET @ActualTyp=17
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '17' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , CU.[Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] <> '33'
     AND CU.[Contract Status] = '01'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL
-- Typ 18
SET @ActualTyp=18
IF NOT EXISTS(SELECT * FROM #TemplateUsage WHERE [Typ]=@ActualTyp)  
  INSERT INTO #TemplateUsage
  SELECT '18' [Typ]
       , ADH.[Case No_]
	   , ADH.[Language Code]
	   , ROW_NUMBER () OVER(ORDER BY ADH.[Case No_]) [Row Number]
	   , ADH.[Bill-to Country_Region Code] [Country Code]
	   , NULL [Net Based]
	   , NULL [Payment Method Code]
	   , NULL [Contract Status]
	   , NULL [OIP]
	   , NULL [MuseID]
	   , NULL [Local Currency]
	   , NULL [Multisource]
    FROM DynNavHRS.dbo.[HRS$Agency Display Header] ADH WITH (NOLOCK)
	JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK)
	  ON ADH.[Bill-to Customer No_] = CU.[No_]
LEFT JOIN (SELECT DISTINCT [Case No_] FROM #TemplateUsage) T ON T.[Case No_]=ADH.[Case No_]	  
   WHERE ADH.[Bill-to Country_Region Code] = '99'
     AND ADH.[Creation Date] >= @DateFrom
     AND T.[Case No_] IS NULL

--SELECT * FROM #TemplateUsage WHERE [Typ]=14
--DELETE FROM #TemplateUsage WHERE [Typ]=9

IF OBJECT_ID('tempdb..#TemplateUsage2') IS NOT NULL
  DROP TABLE #TemplateUsage2

CREATE TABLE #TemplateUsage2 ([Typ] int, [Case No_] varchar(20) COLLATE Latin1_General_CS_AS, [Language Code] varchar(10) COLLATE Latin1_General_CS_AS, [Row Number] int, [Country Code] varchar(10) COLLATE Latin1_General_CS_AS, [Net Based] tinyint, [Payment Method Code] varchar(10) COLLATE Latin1_General_CS_AS, [Contract Status] varchar(10) COLLATE Latin1_General_CS_AS, [OIP] tinyint, [MuseID] varchar(20) COLLATE Latin1_General_CS_AS, [Local Currency] tinyint, [Multisource] tinyint, [Body Text] NVARCHAR(max), CONSTRAINT IX_TemplateUsage2a PRIMARY KEY CLUSTERED ([Case No_],[Typ],[Language Code]) )

;WITH TUSUM AS
(
   SELECT TU1.[Typ]
        , MIN(TU1.[Case No_])[Case No_]
		, TU1.[Language Code]
		, COUNT(1) CountAss
     FROM #TemplateUsage TU1
LEFT JOIN #TemplateUsage TU2
       ON TU1.[Case No_] = TU2.[Case No_]
      AND TU1.[Typ] <> TU2.[Typ]
 GROUP BY TU1.[Typ]
		, TU1.[Language Code]
), TUMIN AS
(
   SELECT [Typ]
		, [Language Code]
        , MAX([Case No_]) [Case No_]
     FROM TUSUM
 GROUP BY [Typ]
 		, [Language Code]
)
INSERT INTO #TemplateUsage2
SELECT TU.*,NULL FROM TUMIN JOIN #TemplateUsage TU ON TU.[Case No_]=TUMIN.[Case No_] AND TU.[Typ] = TUMIN.[Typ] AND TU.[Language Code]=TUMIN.[Language Code]

DECLARE cur CURSOR FOR
SELECT [Typ],[Case No_],[Language Code] FROM #TemplateUsage2

DECLARE @Typ int, @CaseNo varchar(20), @LanguageCode varchar(10), @bodytext NVARCHAR(max)

OPEN cur
FETCH NEXT FROM CUR INTO @Typ, @CaseNo, @LanguageCode

WHILE @@FETCH_STATUS=0
BEGIN
  EXEC [dbo].[sp_RPKommSalesInvoiceHeader_NewLayout] @CaseNo,@bodytext OUTPUT
  UPDATE #TemplateUsage2 SET [Body Text]=@bodytext WHERE [Typ]=@Typ AND [Case No_]=@CaseNo AND [Language Code]=@LanguageCode
  FETCH NEXT FROM CUR INTO @Typ, @CaseNo, @LanguageCode
END

CLOSE cur
DEALLOCATE cur

SELECT * FROM #TemplateUsage2

END
GO
