USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[SelectMeetago]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectMeetago]
  @CreationDate date = null
, @MuseID varchar(20)=null
AS
BEGIN
  SELECT DL.[Process Number]
       , DL.[Reservation No_]
       , DL.[Hotel No_]
       , CAST(DL.[Process Number] as varchar(20))+'|'+CAST(DL.[Reservation No_] as varchar(20)) [Search Column]
       , SUM(DL.[Hotel sales incl_ VAT]/DL.[Currency Faktor]) [Commission Base Amount (LCY)]
       , SUM(DL.[Line Amount (LCY)]) [Line Amount (LCY)]
       , MAX(CASE WHEN DL.[Position No_]=100 THEN DL.[Commission Rate] ELSE 0 END) [Commission Rate Meeting]
       , MAX(CASE WHEN DL.[Position No_]=200 THEN DL.[Commission Rate] ELSE 0 END) [Commission Rate NoShow]
       , MAX(CASE WHEN DL.[Position No_]=300 THEN DL.[Commission Rate] ELSE 0 END) [Commission Rate Other]
       , MAX(CASE WHEN DL.[Position No_]=400 THEN DL.[Commission Rate] ELSE 0 END) [Commission Rate Room]
       , MAX(CASE WHEN DL.[Position No_]=100 THEN DL.[Hotel sales incl_ VAT]/DL.[Currency Faktor] ELSE 0 END) [Commission Base Amount (LCY) Meeting]
       , MAX(CASE WHEN DL.[Position No_]=200 THEN DL.[Hotel sales incl_ VAT]/DL.[Currency Faktor] ELSE 0 END) [Commission Base Amount (LCY) NoShow]
       , MAX(CASE WHEN DL.[Position No_]=300 THEN DL.[Hotel sales incl_ VAT]/DL.[Currency Faktor] ELSE 0 END) [Commission Base Amount (LCY) Other]
       , MAX(CASE WHEN DL.[Position No_]=400 THEN DL.[Hotel sales incl_ VAT]/DL.[Currency Faktor] ELSE 0 END) [Commission Base Amount (LCY) Room]
    FROM [HRS$Agency Display Line] DL WITH (NOLOCK)
    JOIN [HRS$Agency Display Header] DH WITH (NOLOCK) ON DH.[Case No_]=DL.[Display Case No_]
   WHERE DH.[Creation Date]=@CreationDate
     AND DH.[MuseID]=@MuseID
GROUP BY DL.[Process Number]
       , DL.[Reservation No_]
       , DL.[Hotel No_]
END
GO
