USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[DataSet_Trace_QueryDetails]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DataSet_Trace_QueryDetails] @Hash bigint AS 
SELECT TOP 1 [Hash], 
  REPLACE (REPLACE (CONVERT (nvarchar(4000), OrigText), CHAR(10), ' '), CHAR(13), ' ') AS OrigText, 
  REPLACE (REPLACE (CONVERT (nvarchar(4000), TemplateText), CHAR(10), ' '), CHAR(13), ' ') AS TemplateText, 
  ApplicationName, DatabaseID, DatabaseName
FROM DistinctBatches (NOLOCK) b 
WHERE [Hash] = @Hash
GO
