USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPCentralBillingFeeLine_Lines]    Script Date: 10.04.2024 14:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.05.2015
-- Description:	Attachment of Collective Central Billing Invoice
--

-- Datum    Version     RFC       Sign.  Beschreibung
-- ------------------------------------------------------------------
-- 01.05.15   HRS001    -----     TM     Created
-- 15.02.17	            NAV-520   SAK 
-- 26.04.17             NAV-379   SAK	
-- 13.09.17             NAV-709   SAL    Dynamic calculation of DBI fields instead of static values in where clause
-- 03.09.18             ACS-432   SAK    Central Billing Sammelrechnung - Fehler bei Abreise Datum
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = 'R000011703'
EXEC [dbo].[sp_RPCentralBillingFeeLine_Lines] @ReNr
*/
-- ============================================= 52092780

CREATE PROCEDURE [dbo].[sp_RPCentralBillingFeeLine_Lines] 
    @ReNr varchar(25)
AS
BEGIN
	SET NOCOUNT ON;
IF OBJECT_ID (N'tempdb..#DBI') IS NOT NULL
  DROP TABLE #DBI
  CREATE TABLE #DBI ([ATTRIBUTE_NUMBER] int, [ATTRIBUTE_NAME] varchar(20))
  INSERT INTO #DBI
  SELECT [ATTRIBUTE_NUMBER], [ATTRIBUTE_NAME] FROM [HRSDB].[CUS_CI_CUSTOM_BOOKING_ATTRIBUTE] where [ATTRIBUTE_NAME] IN ('DBI_PK','DBI_KS','DBI_AK','DBI_RZ','DBI_DS','DBI_AU','DBI_PR','DBI_BD','DBI_IK')

IF OBJECT_ID (N'tempdb..#RC') IS NOT NULL
  DROP TABLE #RC
CREATE TABLE #RC ([Process No_] int, B_KEY int, VAT_Amount decimal(38,20), primary key (B_KEY))
;WITH RC AS
(
 	SELECT INV.[Process No_]
	     , SUM(IL.[Sales VAT Amount]) VAT_Amount
	  FROM [HRS Payment$Paym_ Solution Invoice]      INV WITH (NOLOCK)
      JOIN [HRS Payment$Paym_ Solution Invoice Line] IL WITH (NOLOCK)
        ON IL.[Invoice GUID]                       = INV.[Invoice GUID]
      JOIN [HRS Payment$Cust_ CC Invoice Line] CC WITH (NOLOCK)
	    ON CC.[Invoice GUID]                       = IL.[Invoice GUID]
	   AND CC.[Invoice Position GUID]              = IL.[Invoice Position GUID]	          
	 WHERE CC.[Document No_] = @ReNr
  GROUP BY INV.[Process No_]
), BP AS
(
   SELECT BU.BP_KEY
        , MAX(BU.B_KEY) B_KEY
     FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
     JOIN RC ON RC.[Process No_]=BU.BP_KEY
 GROUP BY BU.BP_KEY
)
  INSERT INTO #RC ([Process No_],B_KEY, VAT_Amount)
  SELECT BP.BP_KEY, BP.B_KEY, RC.VAT_Amount
    FROM RC
    JOIN BP ON RC.[Process No_]=BP.BP_KEY

;WITH BA AS
(
   SELECT RC.[Process No_]
        , RC.B_KEY
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_PK' THEN DA.BCDT_VALUE ELSE '' END) DBI_PK
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_KS' THEN DA.BCDT_VALUE ELSE '' END) DBI_KS
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_AK' THEN DA.BCDT_VALUE ELSE '' END) DBI_AK
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_RZ' THEN DA.BCDT_VALUE ELSE '' END) DBI_RZ
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_DS' THEN DA.BCDT_VALUE ELSE '' END) DBI_DS
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_AU' THEN DA.BCDT_VALUE ELSE '' END) DBI_AU
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_AE' THEN DA.BCDT_VALUE ELSE '' END) DBI_AE
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_PR' THEN DA.BCDT_VALUE ELSE '' END) DBI_PR
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_BD' THEN DA.BCDT_VALUE ELSE '' END) DBI_BD
        , MAX(CASE WHEN COALESCE(DBI.[ATTRIBUTE_NAME],'')='DBI_IK' THEN DA.BCDT_VALUE ELSE '' END) DBI_IK
     FROM #RC RC 
LEFT JOIN HRSDB.BKG_CI_DATA_TEXT_DA DA WITH (NOLOCK) ON RC.B_KEY=DA.B_KEY
LEFT JOIN #DBI DBI ON DBI.ATTRIBUTE_NUMBER=DA.BP_GROUP_ID
 GROUP BY RC.[Process No_]
        , RC.B_KEY
), BU AS
(
   SELECT B.BP_KEY [Process No_]
	    , B.B_KEY [B_KEY]
        , B.B_GAST1 [Guest]
        , B.K_KEY [Company No_]
        , B.H_KEY [Hotel No_]
        , B.B_AN_DATUM [Arrival Date]
	    , B.B_DATUM [Reservation Date]
		, B.B_EMAIL_NEW [EMail New]
        , BA.DBI_PK
        , BA.DBI_KS
        , BA.DBI_AK
        , BA.DBI_RZ
        , BA.DBI_DS
        , BA.DBI_AU
        , BA.DBI_AE
        , BA.DBI_PR
        , BA.DBI_BD
        , BA.DBI_IK
     FROM HRSDB.BUCHUNG B WITH (NOLOCK)
     JOIN BA ON BA.B_KEY=B.B_KEY
    ), IP AS
    (
      SELECT IP.[Process No_]
           , BU.[Hotel No_]
           , IP.[Currency Code (Ag)] [Currency Code]
           , CASE 
               WHEN CR.[Customer Template Code] = 1 THEN VA.[Vendor No_ Domestic]
               WHEN CR.[EU affiliation]         = 1 THEN VA.[Vendor No_ EU]
               WHEN CR.[EU affiliation]         = 1 THEN VA.[Vendor No_ Other]
             END [Vendor No_]
           , VA.[Customer No_]
           , BU.[Arrival Date]
           , BUCHUNG.B_AB_DATUM [Departure Date]
		   , BU.[Reservation Date]
           , CO.[Name] + ' ' + CO.[Name 2] [Hotel Name]
           , CO.[City] [Hotel City]
           , CR.[Name] [Country]
           , BU.[Guest]
		   , BU.[EMail New]
           , BU.DBI_PK
           , BU.DBI_KS
		   , BU.DBI_AK
		   , BU.DBI_RZ
		   , BU.DBI_DS
		   , BU.DBI_AU
		   , BU.DBI_AE
		   , BU.DBI_PR
		   , BU.DBI_BD
		   , BU.DBI_IK
        FROM [HRS Payment$Paym_ Solution Case]          IP WITH (NOLOCK)
        JOIN BU ON BU.[Process No_] = IP.[Process No_]
		JOIN HRSDB.BUCHUNG BUCHUNG WITH (NOLOCK) ON BUCHUNG.B_KEY = BU.B_KEY
        JOIN [HRS Payment$Paym_ Cust _ Vend Assignment] VA WITH (NOLOCK)
          ON VA.[Company No_] = BU.[Company No_]
        JOIN [HRS$Contact]                              CO WITH (NOLOCK)
          ON CO.[No_] = BU.[Hotel No_]
        JOIN [HRS$Country_Region]                       CR WITH (NOLOCK)
          ON CR.[Code] = CO.[Country_Region Code]
    ), INV AS
    (
    SELECT DISTINCT SH.[No_]
         , SH.[Sell-to Customer No_]
         , SL.[VAT %]                  AS VAT
         , SL.[Unit Price]-SL.[Line Discount Amount] AS Amount
         , SL.[Outstanding Amount] - (SL.[Unit Price] - SL.[Line Discount Amount]) AS Mwst
         , SL.[Outstanding Amount]   AS Total
         , CASE WHEN SH.[Language Code]='' THEN CO.[Primary Language Code] ELSE SH.[Language Code] END [Language Code]
         , IP.[Process No_]
         , IP.[Hotel No_]
         , IP.[Currency Code]
         , IP.[Vendor No_]
         , IP.[Customer No_]
         , IP.[Arrival Date]
         , IP.[Departure Date]
         , IP.[Hotel Name]
         , IP.[Country]
         , IP.[Guest]
		 , IP.[EMail New]
         , IP.[Hotel City]
         , IP.DBI_PK
         , IP.DBI_KS
		 , IP.DBI_AK
		 , IP.DBI_RZ
		 , IP.DBI_DS
		 , IP.DBI_AU
		 , IP.DBI_AE
		 , IP.DBI_PR
		 , IP.DBI_BD
		 , IP.DBI_IK
		 , IP.[Reservation Date]
		 , SL.[Description] [Invoice No_]
      FROM [HRS Payment$Sales Header] AS SH WITH (READUNCOMMITTED)
      JOIN [HRS Payment$Customer] AS CU WITH (READUNCOMMITTED) 
        ON SH.[Sell-to Customer No_] = CU.[No_]
      JOIN [HRS Payment$Country_Region] AS CO WITH (READUNCOMMITTED) 
        ON CASE WHEN SH.[Bill-to Country_Region Code] = '0' THEN '33' ELSE SH.[Bill-to Country_Region Code] END = CO.Code 
      JOIN [HRS Payment$Sales Line] AS SL WITH (READUNCOMMITTED) 
        ON SH.No_ = SL.[Document No_] 
      JOIN IP ON IP.[Process No_] = SL.[Reservation No_]
     WHERE (SH.No_ = @ReNr)
UNION ALL
    SELECT DISTINCT SH.[No_]
         , SH.[Sell-to Customer No_]
         , SL.[VAT %]                                  [VAT]
         , SL.[Unit Price] - SL.[Line Discount Amount] [Amount]
         , SL.[Amount Including VAT] - SL.Amount       [Mwst]
         , SL.[Amount Including VAT]                   [Total]
         , CASE WHEN SH.[Language Code]='' THEN 
             CO.[Primary Language Code] 
           ELSE 
             SH.[Language Code] 
           END                                         [Language Code]
         , IP.[Process No_]
         , IP.[Hotel No_]
         , IP.[Currency Code]
         , IP.[Vendor No_]
         , IP.[Customer No_]
         , IP.[Arrival Date]
         , IP.[Departure Date]
         , IP.[Hotel Name]
         , IP.[Country]
         , IP.[Guest]
		 , IP.[EMail New]
         , IP.[Hotel City]
         , IP.DBI_PK
         , IP.DBI_KS
		 , IP.DBI_AK
		 , IP.DBI_RZ
		 , IP.DBI_DS
		 , IP.DBI_AU
		 , IP.DBI_AE
		 , IP.DBI_PR
		 , IP.DBI_BD
		 , IP.DBI_IK
		 , IP.[Reservation Date]
		 , SL.[Description] [Invoice No_]
      FROM [HRS Payment$Sales Invoice Header] AS SH WITH (READUNCOMMITTED)
      JOIN [HRS Payment$Customer]             AS CU WITH (READUNCOMMITTED) 
        ON SH.[Sell-to Customer No_]           = CU.[No_]
      JOIN [HRS Payment$Country_Region]       AS CO WITH (READUNCOMMITTED) 
        ON CASE WHEN SH.[Bill-to Country_Region Code] = '0' THEN '33' ELSE SH.[Bill-to Country_Region Code] END = CO.Code 
      JOIN [HRS Payment$Sales Invoice Line]   AS SL WITH (READUNCOMMITTED) 
        ON SH.No_                              = SL.[Document No_] 
      JOIN IP ON IP.[Process No_] = SL.[Reservation No_]
     WHERE (SH.No_ = @ReNr)
     ), IPL AS
     (
      SELECT IP.[Process No_]
           , IL.[Service Date]
           , IL.[Service Code]
           , IL.[Service Description]
	       , CASE WHEN IL.[Sales VAT Amount]<>0 OR SH.[VAT Bus_ Posting Group]='AUSLAND' THEN CC.[Gross Amount (BC)]/(100+IL.[Sales VAT Rate]) * 100 ELSE IL.[Sales VAT Base Amount (LCY)] END [VAT Base Amount]
	       , IL.[Sales VAT Rate] [VAT Rate]
	       , CASE WHEN IL.[Sales VAT Amount]<>0 OR SH.[VAT Bus_ Posting Group]='AUSLAND' THEN IL.[Sales VAT Rate]*CC.[Gross Amount (BC)]/(100+IL.[Sales VAT Rate]) ELSE IL.[Sales VAT Amount (LCY)]  END [VAT Amount]
	       , CASE WHEN IL.[Sales VAT Amount]<>0 OR SH.[VAT Bus_ Posting Group]='AUSLAND' THEN CC.[Gross Amount (BC)] ELSE IL.[Sales VAT Base Amount (LCY)] END [Hotel Amount]
  		   , IP.[Invoice No_]       [Hotel Invoice No_]
           , CASE WHEN IL.[Currency Code]='' THEN 'EUR' ELSE IL.[Currency Code] END [Currency Code]
		   , CL.[Posting Date]      [Cust_ Posting Date]
		   --, (CC.[Net Amount (SC)] + CC.[Tax(SC)])/CC.[Gross Amount (BC)] [Currency Factor]
		   , CASE WHEN CC.[Gross Amount (BC)] > 0 THEN (CC.[Net Amount (SC)] + CC.[Tax(SC)])/CC.[Gross Amount (BC)] ELSE 1 END [Currency Factor]
		   , IP.[Invoice GUID]
        FROM [HRS Payment$Sales Header] SH
		JOIN [HRS Payment$Paym_ Solution Invoice]      IP WITH (NOLOCK) ON 1=1
        JOIN [HRS Payment$Paym_ Solution Invoice Line] IL WITH (NOLOCK)
          ON IL.[Invoice GUID] = IP.[Invoice GUID]
	    JOIN [HRS Payment$Cust_ CC Invoice Line] CC WITH (NOLOCK)
  	      ON CC.[Invoice GUID]                       = IL.[Invoice GUID]
	     AND CC.[Invoice Position GUID]              = IL.[Invoice Position GUID]
		 AND CC.[Document No_]                       = SH.[No_]
	    JOIN [HRS Payment$Cust_ Ledger Entry]                   CL WITH (NOLOCK)
	      ON CL.[Entry No_] = IP.[Cust_ Ledger Entry No_]
	   WHERE IP.[Invoice No_] <> '2115I0075986'
  	     AND IP.[Cancel] = 0
		 AND SH.[No_] = @ReNr
	), CC AS
	 (
	SELECT BP.BP_KEY                                            [Process No_]
         , MIN(CC.UATP_CARD_NUMBER)                                  [UATP Card Number]
         , MIN(CC.UATP_CARD_VALID_UNTIL)                             [UATP Card Valid Until]
         , MIN(CC.UATP_CARD_HOLDER)                                  [UATP Card Holder]
         , MIN(CI.PAYMENT_CONFIGURATION_ID) PAYMENT_CONFIGURATION_ID
		 , COUNT(1)                                             [Bookings]
      FROM HRSDB.BKG_PROCESS_LIST_ALL_DA      BP WITH (NOLOCK)
 LEFT JOIN HRSDB.BUCHUNG                      BU WITH (NOLOCK)
        ON BU.B_KEY                         = BP.B_KEY 
 LEFT JOIN HRSDB.BKG_CI_DATA_DA               CI WITH (NOLOCK)
        ON CI.B_KEY                         = BU.B_KEY
 LEFT JOIN HRSDB.CUS_CI_PAYMENT_CONFIGURATION CC WITH (NOLOCK)
        ON CC.ID_VALUE                      = CI.PAYMENT_CONFIGURATION_ID
  GROUP BY BP.BP_KEY
         --, CC.UATP_CARD_NUMBER
         --, CC.UATP_CARD_VALID_UNTIL
         --, CC.UATP_CARD_HOLDER
         --, CI.PAYMENT_CONFIGURATION_ID
	 )
	 --SELECT * FROM IPL
    SELECT ROW_NUMBER() OVER(ORDER BY INV.[Process No_]) [Position]
	     , ROW_NUMBER() OVER(PARTITION BY INV.[Process No_] ORDER BY INV.[Process No_]) [Invoice Position]
	     , [Cust_ Posting Date]
		 , INV.[Hotel No_]
		 , INV.[Hotel Name]
		 , INV.[Hotel City]
		 , [Hotel Invoice No_]
	     , INV.[Process No_]
		 , INV.Guest
		 , INV.[Reservation Date]
		 , INV.[Arrival Date]
		 , INV.[Departure Date]
		 , IPL.[VAT Base Amount]
		 , IPL.[Currency Code]
		 , IPL.[Service Code]
		 , IPL.[Service Description]
		 , IPL.[VAT Rate]
		 , IPL.[VAT Amount]
		 , IPL.[Hotel Amount]	
		 , INV.[EMail New]
		 , INV.DBI_PK
		 , INV.DBI_KS
		 , INV.DBI_AK
		 , INV.DBI_RZ
		 , INV.DBI_DS
		 , INV.DBI_AU
		 , INV.DBI_AE
		 , INV.DBI_PR
		 , INV.DBI_BD
		 , INV.DBI_IK 
		 , INV.[Invoice No_]
      FROM INV
 LEFT JOIN IPL 
        ON IPL.[Process No_]               = INV.[Process No_]
	   AND IPL.[Invoice GUID]              = INV.[Invoice No_]
 LEFT JOIN CC
        ON CC.[Process No_]                 = INV.[Process No_]

END


GO
