USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPTAFInvoiceDetail]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sascha Altgeld
-- Create date: 27.11.18
-- Description:	Rechnungsdetails der Transaction Fee
-- Datum    Version   RFC    Sign.  Description
-- ------------------------------------------------------------
-- 06.11.18 HRS001	ACS-1291  SAL	
-- 
/*
DECLARE @ReNr varchar(20), @Company varchar(30)
 SELECT @ReNr = '15472075', @Company = 'HRS'
EXEC [dbo].[sp_RPTAFInvoiceDetail] @ReNr, @Company 
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPTAFInvoiceDetail] 
    @ReNr varchar(20),
	@Company varchar (30)
AS
BEGIN
  IF @Company='HRS'
  BEGIN
    SELECT DISTINCT 
           ADL.[Process Number]		[HRS Process No_]
         , ADL.[Reservation No_]			[HRS Reservation No_]
         , ADL.[Booking Code]			[CRS Booking Code]
         , ADL.[Arrival Date]
         , ADL.[Departure Date]
         , ADL.[Client Guestname 1]		[Guestname 1]  	
         , ADL.[Client Guestname 2]		[Guestname 2]
         , ADL.[Client Company]			
         , CASE WHEN CU.[Language Code] = '0' THEN '0' ELSE '1' END [Language Code]
         , CU.[No_]						[Customer No_]
      FROM [HRS$TAF Invoice Header] TAFInv with (nolock)
      JOIN [HRS$Agency Display Line] ADL with (nolock)
        ON ADL.[Process Number] IN (
				SELECT [Process No_] 
				FROM [HRS$TAF Invoice Line] with (nolock)
				WHERE [TAF Invoice No_] = TAFInv.No_
			    )
       AND ADL.[Action] <> 3
	   AND ADL.[Display Case No_] = TAFInv.[Display Case No_]
      JOIN [HRS$Customer] CU with (nolock)
        ON CU.No_ = TAFInv.[Bill-to Customer No_]
     WHERE @ReNr IN (TAFInv.[Posted Sales Invoice No_], TAFInv.[No_])
  ORDER BY ADL.[Process Number], ADL.[Reservation No_]
  END
  IF @Company='HRS-CN'
  BEGIN
    SELECT DISTINCT 
           ADL.[Process Number]		[HRS Process No_]
         , ADL.[Reservation No_]			[HRS Reservation No_]
         , ADL.[Booking Code]			[CRS Booking Code]
         , ADL.[Arrival Date]
         , ADL.[Departure Date]
         , ADL.[Client Guestname 1]		[Guestname 1]  	
         , ADL.[Client Guestname 2]		[Guestname 2]
         , ADL.[Client Company]			
         , CASE WHEN CU.[Language Code] = '0' THEN '0' ELSE '1' END [Language Code]
         , CU.[No_]						[Customer No_]
      FROM [HRS-CN$TAF Invoice Header] TAFInv with (nolock)
      JOIN [HRS-CN$Agency Display Line] ADL with (nolock)
        ON ADL.[Process Number] IN (
				SELECT [Process No_] 
				FROM [HRS-CN$TAF Invoice Line] with (nolock)
				WHERE [TAF Invoice No_] = TAFInv.No_
			    )
       AND ADL.[Action] <> 3
	   AND ADL.[Display Case No_] = TAFInv.[Display Case No_]
      JOIN [HRS-CN$Customer] CU with (nolock)
        ON CU.No_ = TAFInv.[Bill-to Customer No_]
     WHERE @ReNr IN (TAFInv.[Posted Sales Invoice No_], TAFInv.[No_])
  ORDER BY ADL.[Process Number], ADL.[Reservation No_]
  END
  IF @Company='HRS-BR'
  BEGIN
    SELECT DISTINCT 
           ADL.[Process Number]		[HRS Process No_]
         , ADL.[Reservation No_]			[HRS Reservation No_]
         , ADL.[Booking Code]			[CRS Booking Code]
         , ADL.[Arrival Date]
         , ADL.[Departure Date]
         , ADL.[Client Guestname 1]		[Guestname 1]  	
         , ADL.[Client Guestname 2]		[Guestname 2]
         , ADL.[Client Company]			
         , CASE WHEN CU.[Language Code] = '0' THEN '0' ELSE '1' END [Language Code]
         , CU.[No_]						[Customer No_]
      FROM [HRS-BR$TAF Invoice Header] TAFInv with (nolock)
      JOIN [HRS-BR$Agency Display Line] ADL with (nolock)
        ON ADL.[Process Number] IN (
				SELECT [Process No_] 
				FROM [HRS-BR$TAF Invoice Line] with (nolock)
				WHERE [TAF Invoice No_] = TAFInv.No_
			    )
       AND ADL.[Action] <> 3
	   AND ADL.[Display Case No_] = TAFInv.[Display Case No_]
      JOIN [HRS-BR$Customer] CU with (nolock)
        ON CU.No_ = TAFInv.[Bill-to Customer No_]
     WHERE @ReNr IN (TAFInv.[Posted Sales Invoice No_], TAFInv.[No_])
  ORDER BY ADL.[Process Number], ADL.[Reservation No_]
  END
END
GO
