USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[SelectACS-4491]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectACS-4491]
AS
BEGIN

DECLARE @RequerySource int=0
      , @EnableCS int = 0, @EnableCCS int = 0, @EnableCUS int = 0, @EnableBS int = 1, @EnableCUSR int = 0, @EnablePU int = 0, @EnableAH int = 1

IF @RequerySource=1
BEGIN
  IF OBJECT_ID('tempdb..#CS') IS NOT NULL
    DROP TABLE #CS
  IF OBJECT_ID('tempdb..#CCS') IS NOT NULL
    DROP TABLE #CCS
  IF OBJECT_ID('tempdb..#CUS') IS NOT NULL
    DROP TABLE #CUS 
  IF OBJECT_ID('tempdb..#BS') IS NOT NULL
    DROP TABLE #BS
  IF OBJECT_ID('tempdb..#CUSR') IS NOT NULL
    DROP TABLE #CUSR
  IF OBJECT_ID('tempdb..#PU') IS NOT NULL
    DROP TABLE #PU
  IF OBJECT_ID('tempdb..#AH') IS NOT NULL
    DROP TABLE #AH
END

IF (OBJECT_ID('tempdb..#CS') IS NULL) AND (@EnableCS=1)
BEGIN
  CREATE TABLE #CS   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, ChainCode VARCHAR(10) COLLATE Latin1_General_CS_AS, ChainSaldo DECIMAL(37,20),PRIMARY KEY (Company,ChainCode))
  ; WITH [_ChainSaldo_HRS] AS  (   SELECT 'HRS' AS Company        , [HRS$Customer].[Chain] 											AS ChainCode        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0)	AS ChainSaldo     FROM [HRS$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]        AND [HRS$Cust_ Ledger Entry].[Document Date] BETWEEN '01.01.1753' AND '31.12.2999'    WHERE (1=1) --CLE.[Posting Date] BETWEEN '01.01.1753' AND '31.12.2999' GROUP BY [HRS$Customer].[Chain]  )  INSERT INTO #CS  SELECT * FROM [_ChainSaldo_HRS]
END
IF (OBJECT_ID('tempdb..#CCS') IS NULL) AND (@EnableCCS=1)
BEGIN
  CREATE TABLE #CCS  (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, CountryCode varchar(20) COLLATE Latin1_General_CS_AS, ChainCode VARCHAR(10) COLLATE Latin1_General_CS_AS, CountryChainSaldo DECIMAL(37,20), PRIMARY KEY (Company,CountryCode, ChainCode))
  ;WITH [_CountryChainSaldo_HRS] AS  (   SELECT 'HRS' AS Company        , [HRS$Customer].[Country_Region Code]     AS CountryCode        , [HRS$Customer].[Chain]                   AS ChainCode        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS CountryChainSaldo     FROM [HRS$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS$Customer].[Country_Region Code]        , [HRS$Customer].[Chain]   )  INSERT INTO #CCS  SELECT * FROM [_CountryChainSaldo_HRS]

  ; WITH [_ChainSaldo_HRS-BR] AS  (   SELECT 'HRS-BR' AS Company        , [HRS-BR$Customer].[Chain] 											AS ChainCode        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0)	AS ChainSaldo     FROM [HRS-BR$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS-BR$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS-BR$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS-BR$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS-BR$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS-BR$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS-BR$Customer].[Chain]  )  INSERT INTO #CS  SELECT * FROM [_ChainSaldo_HRS-BR]

  ; WITH [_ChainSaldo_HRS-CN] AS  (   SELECT 'HRS-CN' AS Company        , [HRS-CN$Customer].[Chain] 											AS ChainCode        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0)	AS ChainSaldo     FROM [HRS-CN$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS-CN$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS-CN$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS-CN$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS-CN$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS-CN$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS-CN$Customer].[Chain]  )  INSERT INTO #CS  SELECT * FROM [_ChainSaldo_HRS-CN]
END
IF (OBJECT_ID('tempdb..#CUS') IS NULL) AND (@EnableCUS=1)
BEGIN
  CREATE TABLE #CUS  (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, Customer varchar(20) COLLATE Latin1_General_CS_AS, Saldo DECIMAL(37,20), CustSaldo DECIMAL(37,20), PRIMARY KEY (Company,Customer))
  ;WITH [_CustomerSaldo_HRS] AS  (   SELECT 'HRS' AS Company        , [HRS$Customer].[No_]                     AS Customer        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS Saldo        , COALESCE(SUM(CLE.[SUM$Amount]), 0)       AS CustSaldo     FROM [HRS$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS$Customer].[No_]  )  INSERT INTO #CUS  SELECT * FROM [_CustomerSaldo_HRS]

  ;WITH [_CustomerSaldo_HRS-CN] AS  (   SELECT 'HRS-CN' AS Company        , [HRS-CN$Customer].[No_]                     AS Customer        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS Saldo        , COALESCE(SUM(CLE.[SUM$Amount]), 0)       AS CustSaldo     FROM [HRS-CN$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS-CN$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS-CN$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS-CN$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS-CN$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS-CN$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS-CN$Customer].[No_]  )  INSERT INTO #CUS  SELECT * FROM [_CustomerSaldo_HRS-CN]

  ;WITH [_CustomerSaldo_HRS-BR] AS  (   SELECT 'HRS-BR' AS Company        , [HRS-BR$Customer].[No_]                     AS Customer        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS Saldo        , COALESCE(SUM(CLE.[SUM$Amount]), 0)       AS CustSaldo     FROM [HRS-BR$Customer]                                WITH (READUNCOMMITTED)LEFT JOIN [HRS-BR$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)       ON [HRS-BR$Customer].[No_] = CLE.[Customer No_]LEFT JOIN [HRS-BR$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)       ON [HRS-BR$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_]     WHERE [HRS-BR$Cust_ Ledger Entry].[Open]=1 GROUP BY [HRS-BR$Customer].[No_]  )  INSERT INTO #CUS  SELECT * FROM [_CustomerSaldo_HRS-BR]

END
IF (OBJECT_ID('tempdb..#BS') IS NULL) AND (@EnableBS=1)
BEGIN
  CREATE TABLE #BS   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, [Reservierungsnr_] int primary key, [Unknown_R] DECIMAL(37,20), [Initial Entry_R] DECIMAL(37,20), [Application_R] DECIMAL(37,20), [Unrealized Loss_R] DECIMAL(37,20), [Unrealized Gain_R] DECIMAL(37,20), [Realized Loss_R] DECIMAL(37,20), [Realized Gain_R] DECIMAL(37,20), [Payment Discount_Payment_R] DECIMAL(37,20), [Payment Discount (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Discount (VAT Adjustment)_Payment_R] DECIMAL(37,20), [ppln. Rounding_Payment_R] DECIMAL(37,20), [Correction of Remaining Amount_Payment_R] DECIMAL(37,20), [Payment Tolerance_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance_Payment_R] DECIMAL(37,20), [Payment Tolerance (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Tolerance (VAT Adjustment)_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance (VAT Adjustment)_Payment_R] DECIMAL(37,20))
  ;WITH [_BookingSums_HRS] AS  (   SELECT 'HRS' AS Company        , [HRS$Cust_ Ledger Entry].[Reservierungsnr_]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  0 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unknown_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  1 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  2 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Application_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  3 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  4 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  5 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  6 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  7 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  8 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] =  9 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 10 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 11 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 12 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 13 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 14 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 15 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 16 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] = 17 THEN [HRS$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]     FROM [HRS$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS$Cust_ Ledger Entry].[Entry No_]	  JOIN [HRS$Customer]	    ON [HRS$Customer].[No_] = [HRS$Cust_ Ledger Entry].[Customer No_]    WHERE [HRS$Cust_ Ledger Entry].[Open]=1      AND [HRS$Cust_ Ledger Entry].[Reservierungsnr_]<>0 GROUP BY [Reservierungsnr_]  )  INSERT INTO #BS  SELECT * FROM [_BookingSums_HRS]

  ;WITH [_BookingSums_HRS-CN] AS  (   SELECT 'HRS-CN' AS Company        , [HRS-CN$Cust_ Ledger Entry].[Reservierungsnr_]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  0 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unknown_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  1 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  2 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Application_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  3 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  4 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  5 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  6 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  7 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  8 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] =  9 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 10 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 11 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 12 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 13 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 14 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 15 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 16 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] = 17 THEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]     FROM [HRS-CN$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS-CN$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS-CN$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS-CN$Cust_ Ledger Entry].[Entry No_]	 JOIN [HRS-CN$Customer]	   ON [HRS-CN$Customer].[No_] = [HRS-CN$Cust_ Ledger Entry].[Customer No_]    WHERE [HRS-CN$Cust_ Ledger Entry].[Open]=1      AND [HRS-CN$Cust_ Ledger Entry].[Reservierungsnr_]<>0 GROUP BY [Reservierungsnr_]  )  INSERT INTO #BS  SELECT * FROM [_BookingSums_HRS-CN]

  ;WITH [_BookingSums_HRS-BR] AS  (   SELECT 'HRS-BR' AS Company        , [HRS-BR$Cust_ Ledger Entry].[Reservierungsnr_]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  0 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unknown_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  1 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  2 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Application_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  3 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  4 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  5 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  6 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  7 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  8 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] =  9 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 10 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 11 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 12 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 13 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 14 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 15 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 16 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]        , SUM(CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] = 17 THEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]     FROM [HRS-BR$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS-BR$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS-BR$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS-BR$Cust_ Ledger Entry].[Entry No_]	 JOIN [HRS-BR$Customer]	   ON [HRS-BR$Customer].[No_] = [HRS-BR$Cust_ Ledger Entry].[Customer No_]    WHERE [HRS-BR$Cust_ Ledger Entry].[Open]=1      AND [HRS-BR$Cust_ Ledger Entry].[Reservierungsnr_]<>0 GROUP BY [Reservierungsnr_]  )  INSERT INTO #BS  SELECT * FROM [_BookingSums_HRS-BR]

END
IF (OBJECT_ID('tempdb..#CUSR') IS NULL) AND (@EnableCUSR=1)
BEGIN
  CREATE TABLE #CUSR (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, DebPostenNr int, [Restbetrag (LCY)] DECIMAL(37,20), [Betrag] DECIMAL(37,20), [MWBetrag] DECIMAL(37,20), PRIMARY KEY (Company,DebPostenNr))
  ;WITH [_DebPostenRestbetragErmitteln_HRS] AS  (   SELECT DISTINCT 'HRS' AS Company        , [Cust_ Ledger Entry No_]                         AS DebPostenNr        , SUM([Amount (LCY)])                              AS [Restbetrag (LCY)]        , SUM([HRS$Detailed Cust_ Ledg_ Entry].[Amount])   AS [Betrag]        , SUM(		  CASE WHEN [HRS$Detailed Cust_ Ledg_ Entry].[Entry Type] <> 2 		    THEN [Amount (LCY)] 			ELSE 0           END)                                             AS [MWBetrag]     FROM [HRS$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS$Cust_ Ledger Entry].[Entry No_]     JOIN [HRS$Customer]        ON [HRS$Customer].[No_] = [HRS$Detailed Cust_ Ledg_ Entry].[Customer No_]    WHERE [HRS$Cust_ Ledger Entry].[Open]=1 GROUP BY [Cust_ Ledger Entry No_]  )  INSERT INTO #CUSR  SELECT * FROM [_DebPostenRestbetragErmitteln_HRS]

  ;WITH [_DebPostenRestbetragErmitteln_HRS-CN] AS  (   SELECT DISTINCT 'HRS-CN' AS Company        , [Cust_ Ledger Entry No_]                         AS DebPostenNr        , SUM([Amount (LCY)])                              AS [Restbetrag (LCY)]        , SUM([HRS-CN$Detailed Cust_ Ledg_ Entry].[Amount])   AS [Betrag]        , SUM(		  CASE WHEN [HRS-CN$Detailed Cust_ Ledg_ Entry].[Entry Type] <> 2 		    THEN [Amount (LCY)] 			ELSE 0           END)                                             AS [MWBetrag]     FROM [HRS-CN$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS-CN$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS-CN$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS-CN$Cust_ Ledger Entry].[Entry No_]     JOIN [HRS-CN$Customer]        ON [HRS-CN$Customer].[No_] = [HRS-CN$Detailed Cust_ Ledg_ Entry].[Customer No_]    WHERE [HRS-CN$Cust_ Ledger Entry].[Open]=1 GROUP BY [Cust_ Ledger Entry No_]  )  INSERT INTO #CUSR  SELECT * FROM [_DebPostenRestbetragErmitteln_HRS-CN]

  ;WITH [_DebPostenRestbetragErmitteln_HRS-BR] AS  (   SELECT DISTINCT 'HRS-BR' AS Company        , [Cust_ Ledger Entry No_]                         AS DebPostenNr        , SUM([Amount (LCY)])                              AS [Restbetrag (LCY)]        , SUM([HRS-BR$Detailed Cust_ Ledg_ Entry].[Amount])   AS [Betrag]        , SUM(		  CASE WHEN [HRS-BR$Detailed Cust_ Ledg_ Entry].[Entry Type] <> 2 		    THEN [Amount (LCY)] 			ELSE 0           END)                                             AS [MWBetrag]     FROM [HRS-BR$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)     JOIN [HRS-BR$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)       ON [HRS-BR$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=[HRS-BR$Cust_ Ledger Entry].[Entry No_]     JOIN [HRS-BR$Customer]        ON [HRS-BR$Customer].[No_] = [HRS-BR$Detailed Cust_ Ledg_ Entry].[Customer No_]    WHERE [HRS-BR$Cust_ Ledger Entry].[Open]=1 GROUP BY [Cust_ Ledger Entry No_]  )  INSERT INTO #CUSR  SELECT * FROM [_DebPostenRestbetragErmitteln_HRS-BR]

END
IF (OBJECT_ID('tempdb..#PU') IS NULL) AND (@EnablePU=1)
BEGIN
  CREATE TABLE #PU   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, [Reservierungsnr_] int, [User] varchar(20),PRIMARY KEY (Company,[Reservierungsnr_]))
  ;WITH [_PaymentUser_HRS] AS  (   SELECT 'HRS' AS Company        , I.[Reservierungsnummer] AS [Reservierungsnr_]        , MAX(I.[User]) AS [User]     FROM [HRS$CDG Import Zahlungszentralen] I WITH (READUNCOMMITTED)    WHERE [Reservierungsnummer]<>0 GROUP BY [Reservierungsnummer]  )  INSERT INTO #PU  SELECT * FROM [_PaymentUser_HRS]
END
IF (OBJECT_ID('tempdb..#AH') IS NULL) AND (@EnableAH=1)
BEGIN
  CREATE TABLE #AH (Company VARCHAR(30) COLLATE Latin1_General_CS_AS,[Posted Invoice No_] VARCHAR(20) COLLATE Latin1_General_CS_AS, [MuseID] VARCHAR(20) COLLATE Latin1_General_CS_AS, [Reservation No_] int, [Guestname 1] VARCHAR(250) COLLATE Latin1_General_CS_AS, [Guestname 2] VARCHAR(250) COLLATE Latin1_General_CS_AS, Arrival date,  Departure date, Buchungscode VARCHAR(100) COLLATE Latin1_General_CS_AS, [Rate Typ] int, [Rate Bezeichnung] VARCHAR(250) COLLATE Latin1_General_CS_AS, [Amount of Debits] dec(38,20), [Commission Amount] dec(38,20), [TAF Amount] dec(38,20), [Segment] VARCHAR(50) COLLATE Latin1_General_CS_AS)
  ;WITH [_AgencyHeader_HRS] AS  (   SELECT 'HRS' AS Company        , AH.[Posted Invoice No_]        , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]     AS [Guestname 1]        , AL.[Client Guestname 2]     AS [Guestname 2]        , MIN(AL.[Arrival Date])      AS Arrival        , MAX(AL.[Departure Date])    AS Departure        , AL.[Booking Code]           AS Buchungscode        , AL.[Rate Type]              AS [Rate Typ]        , AL.[Rate Description]       AS [Rate Bezeichnung]        , SUM(AL.[Line Amount]         / AL.[Currency Faktor])       AS [Amount of Debits]        , SUM(AL.[Line Amount]        - AL.[TAF Line Amount])       AS [Commission Amount]        , SUM(AL.[TAF Line Amount])   AS [TAF Amount]        , CASE WHEN MAX(AL.[Segment]) = 0 THEN ' ' WHEN MAX(AL.[Segment]) = 1 THEN 'Corporate unmanaged' WHEN MAX(AL.[Segment]) = 2 THEN 'Leisure' WHEN MAX(AL.[Segment]) = 3 THEN 'Corporate managed commissionable' WHEN MAX(AL.[Segment]) = 4 THEN 'Corporate managed net' WHEN MAX(AL.[Segment]) = 5 THEN 'MICE' END AS [Segment]     FROM [HRS$Agency Display Line]   AL WITH (NOLOCK)     JOIN [HRS$Agency Display Header] AH WITH (NOLOCK)       ON AH.[Case No_] = AL.[Display Case No_]      AND AL.[Action] <> 3     JOIN [HRS$Customer]                 WITH (NOLOCK)       ON [HRS$Customer].[No_] = AH.[Bill-to Customer No_]     JOIN [HRS$Cust_ Ledger Entry] CLE WITH (READUNCOMMITTED) ON CLE.[Document No_]=AH.[Posted Invoice No_] AND CLE.[Document Type]=2 AND CLE.[Open]=1 GROUP BY AH.[Posted Invoice No_]         , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]        , AL.[Client Guestname 2]        , AL.[Booking Code]        , AL.[Rate Type]        , AL.[Rate Description]                )  INSERT INTO #AH  SELECT * FROM [_AgencyHeader_HRS]  ;WITH [_AgencyHeader_HRS-CN] AS  (   SELECT 'HRS-CN' AS Company        , AH.[Posted Invoice No_]        , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]     AS [Guestname 1]        , AL.[Client Guestname 2]     AS [Guestname 2]        , MIN(AL.[Arrival Date])      AS Arrival        , MAX(AL.[Departure Date])    AS Departure        , AL.[Booking Code]           AS Buchungscode        , AL.[Rate Type]              AS [Rate Typ]        , AL.[Rate Description]       AS [Rate Bezeichnung]        , SUM(AL.[Line Amount]         / AL.[Currency Faktor])       AS [Amount of Debits]        , SUM(AL.[Line Amount]        - AL.[TAF Line Amount])       AS [Commission Amount]        , SUM(AL.[TAF Line Amount])   AS [TAF Amount]        , CASE WHEN MAX(AL.[Segment]) = 0 THEN ' ' WHEN MAX(AL.[Segment]) = 1 THEN 'Corporate unmanaged' WHEN MAX(AL.[Segment]) = 2 THEN 'Leisure' WHEN MAX(AL.[Segment]) = 3 THEN 'Corporate managed commissionable' WHEN MAX(AL.[Segment]) = 4 THEN 'Corporate managed net' WHEN MAX(AL.[Segment]) = 5 THEN 'MICE' END AS [Segment]     FROM [HRS-CN$Agency Display Line]   AL WITH (NOLOCK)     JOIN [HRS-CN$Agency Display Header] AH WITH (NOLOCK)       ON AH.[Case No_] = AL.[Display Case No_]      AND AL.[Action] <> 3     JOIN [HRS-CN$Cust_ Ledger Entry] CLE WITH (READUNCOMMITTED) ON CLE.[Document No_]=AH.[Posted Invoice No_] AND CLE.[Document Type]=2 AND CLE.[Open]=1     JOIN [HRS-CN$Customer]                 WITH (NOLOCK)       ON [HRS-CN$Customer].[No_] = AH.[Bill-to Customer No_] GROUP BY AH.[Posted Invoice No_]         , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]        , AL.[Client Guestname 2]        , AL.[Booking Code]        , AL.[Rate Type]        , AL.[Rate Description]                )  INSERT INTO #AH  SELECT * FROM [_AgencyHeader_HRS-CN]  ;WITH [_AgencyHeader_HRS-BR] AS  (   SELECT 'HRS-BR' AS Company        , AH.[Posted Invoice No_]        , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]     AS [Guestname 1]        , AL.[Client Guestname 2]     AS [Guestname 2]        , MIN(AL.[Arrival Date])      AS Arrival        , MAX(AL.[Departure Date])    AS Departure        , AL.[Booking Code]           AS Buchungscode        , AL.[Rate Type]              AS [Rate Typ]        , AL.[Rate Description]       AS [Rate Bezeichnung]        , SUM(AL.[Line Amount]         / AL.[Currency Faktor])       AS [Amount of Debits]        , SUM(AL.[Line Amount]        - AL.[TAF Line Amount])       AS [Commission Amount]        , SUM(AL.[TAF Line Amount])   AS [TAF Amount]        , CASE WHEN MAX(AL.[Segment]) = 0 THEN ' ' WHEN MAX(AL.[Segment]) = 1 THEN 'Corporate unmanaged' WHEN MAX(AL.[Segment]) = 2 THEN 'Leisure' WHEN MAX(AL.[Segment]) = 3 THEN 'Corporate managed commissionable' WHEN MAX(AL.[Segment]) = 4 THEN 'Corporate managed net' WHEN MAX(AL.[Segment]) = 5 THEN 'MICE' END AS [Segment]     FROM [HRS-BR$Agency Display Line]   AL WITH (NOLOCK)     JOIN [HRS-BR$Agency Display Header] AH WITH (NOLOCK)       ON AH.[Case No_] = AL.[Display Case No_]      AND AL.[Action] <> 3     JOIN [HRS-BR$Cust_ Ledger Entry] CLE WITH (READUNCOMMITTED) ON CLE.[Document No_]=AH.[Posted Invoice No_] AND CLE.[Document Type]=2 AND CLE.[Open]=1     JOIN [HRS-BR$Customer]                 WITH (NOLOCK)       ON [HRS-BR$Customer].[No_] = AH.[Bill-to Customer No_] GROUP BY AH.[Posted Invoice No_]         , AL.[MuseID]        , AL.[Reservation No_]        , AL.[Client Guestname 1]        , AL.[Client Guestname 2]        , AL.[Booking Code]        , AL.[Rate Type]        , AL.[Rate Description]                )  INSERT INTO #AH  SELECT * FROM [_AgencyHeader_HRS-BR]END     SELECT CH.Code [Chain Nummer]          , CH.[Description] [Chain Name]          , CR.[Name] [Land]          , BU.H_KEY          , HO.[Name] + ' ' + HO.[Name 2] [Hotelname]          , AH.[Reservation No_] [Reservierungsnummer]          , AH.[Posted Invoice No_] [Rechnungsnummer]          , AH.[Guestname 1] + ' ' + AH.[Guestname 2] [Gastname]          , AH.Arrival [Anreise]          , AH.[Departure] [Abreise]          , ROUND(AH.[Amount of Debits],2) + COALESCE(BS.[Initial Entry_R],0) [Remaining Amount]       FROM #AH AH       JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON BU.B_KEY=AH.[Reservation No_]       JOIN [HRS$Customer] HO WITH (NOLOCK) ON HO.[No_]=BU.H_KEY       JOIN [Chain] CH WITH (NOLOCK) ON BU.KE_BID=CH.Code       JOIN [HRS$Country_Region] CR WITH (NOLOCK) ON CR.[Code]=HO.[Country_Region Code]  LEFT JOIN #BS BS ON BS.[Reservierungsnr_]=AH.[Reservation No_] WHERE AH.[Segment]='Leisure'   AND DATEDIFF(dd,AH.Arrival,AH.Departure)>8   AND ROUND(AH.[Amount of Debits],2) + COALESCE(BS.[Initial Entry_R],0)>0   AND AH.[Departure]>='2022-01-01'END
GO
