USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[HRS-CN$DeliveryNotice]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 05.09.2011
-- Description:	Ablösung der WebService-Funktion DeliferyNotice
-- =============================================
CREATE PROCEDURE [dbo].[HRS-CN$DeliveryNotice]
    @EBPPCode   varchar(10)
  , @EBPPNo     varchar(20)
  , @Status     bit
  , @StatusText varchar(250)
AS
BEGIN
  DECLARE @CURRENTDATETIME   datetime
        , @USERID            varchar(20)
        , @OLDSTATUS         tinyint
        , @LINENO            int
        , @NEWSTATUS         tinyint
   SELECT @CURRENTDATETIME = GETDATE()
        , @USERID = UPPER(SUBSTRING(SYSTEM_USER,CHARINDEX('\',SYSTEM_USER)+1,LEN(SYSTEM_USER)-CHARINDEX('\',SYSTEM_USER)))
   SELECT @OLDSTATUS = [Status]        FROM [HRS-CN$EBPP Journal]          WHERE [EBPP Provider Code] = @EBPPCode AND [Reference] = @EBPPNo
   SELECT @LINENO    = MAX([Line No_]) FROM [HRS-CN$EBPP Journal Subtable] WHERE [EBPP Provider Code] = @EBPPCode AND [Reference] = @EBPPNo
--  ,Sent,Resent,Acknowledge,Error,Warning,Correction,On Hold,Cancel
   SELECT @NEWSTATUS = CASE 
                         WHEN @OLDSTATUS <> 1 AND @Status = 1 THEN 1
                         WHEN @OLDSTATUS  = 1 AND @Status = 1 THEN 2
                         WHEN                     @Status = 0 THEN 4
                       END
   UPDATE [HRS-CN$EBPP Journal] SET [Status] = @NEWSTATUS WHERE [EBPP Provider Code] = @EBPPCode AND [Reference] = @EBPPNo
                       
   INSERT INTO [HRS-CN$EBPP Journal Subtable] 
     (
         [EBPP Provider Code]
       , [Reference]
       , [Line No_]
       , [Status]
       , [Date _ Time]
       , [User ID]
       , [Error Flag]
       , [Sent]
     )
   VALUES
     (
         @EBPPCode
       , @EBPPNo
       , @LINENO + 10000
       , @StatusText
       , @CURRENTDATETIME
       , @USERID
       , CASE WHEN @Status = 1 THEN 0 ELSE 1 END
       , CASE WHEN @Status = 1 THEN 1 ELSE 0 END
     )
     
   -- EXEC [HRS-CN$TransferJournaltoArchivviaWeb] @EBPPCode, @EBPPNo
    
END
GO
