USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceHeader]    Script Date: 10.04.2024 14:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.08.2012
-- Description:	Rechnungskopf der Marketingrechnung
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = 'MA151593'
EXEC [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceHeader] @ReNr
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceHeader] 
    @ReNr varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

IF EXISTS(SELECT * FROM [HRS-CN$Sales Invoice Header] WHERE [No_] = @ReNr)
  SELECT SH.[No_]
       , SH.[Sell-to Customer No_]
       , SH.[Sell-to Customer Name]
       , SH.[Sell-to Customer Name 2]
       , SH.[Sell-to Address]
       , SH.[Sell-to Address 2]
       , SH.[Sell-to Post Code]
       , SH.[Sell-to City]
       , SH.[Bill-to Country_Region Code] AS [Bill-to Country Code]
       , SH.[Bill-to Customer No_]
       , SH.[Posting Date]
       , SH.[Payment Method Code]
       , CO.[EU Country_Region Code]      AS [EU Ländercode]
       , SH.[Language Code]               AS [ISO_Code]
       , SP.[Fax Extension]               AS [Durchwahl Fax]
       , SP.[Phone Extension]             AS [Durchwahl Telefon]
       , CO.Name
       , SH.[Document Date]
       , SH.[Posting Description]       
       , SH.[Currency Code]
       , MAX(SL.[VAT %])                  AS VAT
       , SUM(SL.Amount)                   AS Amount
       , SUM(SL.[Amount Including VAT]) - SUM(SL.Amount) AS Mwst
       , SUM(SL.[Amount Including VAT])   AS Total
    FROM [HRS-CN$Sales Invoice Header] AS SH WITH (READUNCOMMITTED)
    JOIN [HRS-CN$Customer] AS CU WITH (READUNCOMMITTED) 
      ON SH.[Sell-to Customer No_] = CU.[No_]
    JOIN [HRS-CN$Country_Region] AS CO WITH (READUNCOMMITTED) 
      ON CASE WHEN SH.[Bill-to Country_Region Code] = '0' THEN '33' ELSE SH.[Bill-to Country_Region Code] END = CO.Code 
    JOIN [HRS-CN$Printer Group] AS SP WITH (READUNCOMMITTED) 
      ON SH.[Salesperson Code] = SP.Code 
    JOIN [HRS-CN$Sales Invoice Line] AS SL WITH (READUNCOMMITTED) 
      ON SH.No_ = SL.[Document No_] 
   WHERE (SH.No_ = @ReNr)
GROUP BY SH.[No_]
       , SH.[Sell-to Customer No_]
       , SH.[Sell-to Customer Name]
       , SH.[Sell-to Customer Name 2]
       , SH.[Sell-to Address]
       , SH.[Sell-to Address 2]
       , SH.[Sell-to Post Code]
       , SH.[Sell-to City]
       , SH.[Bill-to Country_Region Code]
       , SH.[Bill-to Customer No_]
       , SH.[Posting Date]
       , SH.[Payment Method Code]
       , CO.[EU Country_Region Code]     
       , SH.[Language Code]                  
       , SP.[Fax Extension]              
       , SP.[Phone Extension]            
       , CO.Name
       , SH.[Document Date]
       , SH.[Posting Description]       
       , SH.[Currency Code]

IF EXISTS(SELECT * FROM [HRS-CN$Sales Header] WHERE [No_] = @ReNr)
  SELECT SH.[No_]
       , SH.[Sell-to Customer No_]
       , SH.[Sell-to Customer Name]
       , SH.[Sell-to Customer Name 2]
       , SH.[Sell-to Address]
       , SH.[Sell-to Address 2]
       , SH.[Sell-to Post Code]
       , SH.[Sell-to City]
       , SH.[Bill-to Country_Region Code] AS [Bill-to Country Code]
       , SH.[Bill-to Customer No_]
       , SH.[Posting Date]
       , SH.[Payment Method Code]
       , CO.[EU Country_Region Code]      AS [EU Ländercode]
       , SH.[Language Code]               AS [ISO_Code]
       , SP.[Fax Extension]               AS [Durchwahl Fax]
       , SP.[Phone Extension]             AS [Durchwahl Telefon]
       , CO.Name
       , SH.[Document Date]
       , SH.[Posting Description]       
       , SH.[Currency Code]
       , MAX(SL.[VAT %])                  AS VAT
       , SUM(SL.Amount)                   AS Amount
       , SUM(SL.[Amount Including VAT]) - SUM(SL.Amount) AS Mwst
       , SUM(SL.[Amount Including VAT])   AS Total
    FROM [HRS-CN$Sales Header] AS SH WITH (READUNCOMMITTED)
    JOIN [HRS-CN$Customer] AS CU WITH (READUNCOMMITTED) 
      ON SH.[Sell-to Customer No_] = CU.[No_]
    JOIN [HRS-CN$Country_Region] AS CO WITH (READUNCOMMITTED) 
      ON CASE WHEN SH.[Bill-to Country_Region Code] = '0' THEN '33' ELSE SH.[Bill-to Country_Region Code] END = CO.Code 
    JOIN [HRS-CN$Printer Group] AS SP WITH (READUNCOMMITTED) 
      ON SH.[Salesperson Code] = SP.Code 
    JOIN [HRS-CN$Sales Line] AS SL WITH (READUNCOMMITTED) 
      ON SH.No_ = SL.[Document No_] 
   WHERE (SH.No_ = @ReNr)
GROUP BY SH.[No_]
       , SH.[Sell-to Customer No_]
       , SH.[Sell-to Customer Name]
       , SH.[Sell-to Customer Name 2]
       , SH.[Sell-to Address]
       , SH.[Sell-to Address 2]
       , SH.[Sell-to Post Code]
       , SH.[Sell-to City]
       , SH.[Bill-to Country_Region Code]
       , SH.[Bill-to Customer No_]
       , SH.[Posting Date]
       , SH.[Payment Method Code]
       , CO.[EU Country_Region Code]     
       , SH.[Language Code]                   
       , SP.[Fax Extension]              
       , SP.[Phone Extension]
       , CO.Name
       , SH.[Document Date]
       , SH.[Posting Description]       
       , SH.[Currency Code]
END

GO
