USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IntToHex]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_IntToHex]
( 
    @xi int 
  , @l int    
) 
RETURNS varchar(12) 
AS 
BEGIN 
        declare @s varchar(10) 
        set @s = '' 
        declare @r int 
        declare @m int 
        set @r = @xi 
        while @r > 0 
        begin 
                set @m = @r % 16 
                set @r = (@r - @m)/16 
                set @s = 
                        case @m 
                                when 10 then 'A' 
                                when 11 then 'B'         
                                when 12 then 'C' 
                                when 13 then 'D' 
                                when 14 then 'E' 
                                when 15 then 'F' 
                                else convert(varchar,@m)                 
                        end + @s 
                end                 
        return RIGHT(REPLICATE('0',@l)+@s,@l)
END 


GO
