USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetUpCommission_BR]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author:		Soner Akdemir
-- Create date: 15.01.2019
-- Description:	Prepare Commission Process
--
-- Date       | Version |  Ticket  | Sign | Description
-- -----------+---------+----------+------+----------------------------------------------------------
-- 02.07.2019   HRS001    ACS-1715   SAK01   Create and ACS-1715 MUSE Accor must be posted to NAV BRA - Country 23
-- 25.07.2019   HRS002    ACS-1873   TMA04   Load BOOKING_SEGMENTATION for all Chains but 550,15,165,204
-- 18.02.2019   HRS003    ACS-2173   TMA04   RatePlan Code Aktualisierung
-- 23.01.2023   HRS004    ACS-4208   TMA04   Segment by IATA
-- ================================================================================================
CREATE PROCEDURE [dbo].[sp_SetUpCommission_BR]
AS
SET QUOTED_IDENTIFIER ON

DECLARE @DateFrom datetime, @DateTo datetime

DECLARE @PostingDate DATETIME

IF DATEPART(dd,GETDATE())<5
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME)
END

IF DATEPART(dd,GETDATE())>=5
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME)
END

 SELECT @DateTo = COALESCE(@DateTo,@PostingDate)
      , @DateFrom = COALESCE(@DateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))

-- ----------------------------------------------------------------------------------------------
--  -- ACS-1715 USE Accor must be posted to NAV BRA - Country 23
-- ----------------------------------------------------------------------------------------------

-- 23.01.2023   HRS004    ACS-4208   TMA04  +++
EXEC [sp_CorrectSegmentByIATA]
--;WITH RPC AS
--(
--SELECT HR.H_KEY,F_KEY  
--  FROM HRSDB.RATE_PLAN_CODE RPC WITH (NOLOCK)
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RPC.MUSE_KEY 
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--)
--   UPDATE BU SET BU.B_SEGMENT = CASE WHEN RPC.F_KEY IS NULL THEN 2 ELSE 1 END
--     FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--     JOIN [Affiliate Partner] AP WITH (NOLOCK)
--       ON BU.K_KEY = AP.[No_]
--LEFT JOIN RPC
--       ON AP.[Company-No_] = RPC.F_KEY
--      AND BU.H_KEY = RPC.H_KEY
--	WHERE KE_BID=550 AND B_AB_DATUM >= '2018-11-01'
--      AND COALESCE(BU.B_SEGMENT,0) <> CASE WHEN RPC.F_KEY IS NULL THEN 2 ELSE 1 END


--;WITH RPC2 AS
--(
--SELECT MU.MUSE_ID
--     , HR.H_KEY
--        , AP.[No_] K_KEY
--  FROM HRSDB.RATE_PLAN_CODE RP WITH (NOLOCK)
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RP.MUSE_KEY
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--  JOIN [Affiliate Partner] AP WITH (NOLOCK)
--    ON AP.[Company-No_] = RP.F_KEY
-- WHERE MU.MUSE_ID = 'ACCOR'
--)


--UPDATE AH SET AH.Segment = BU.B_SEGMENT
--  FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--  JOIN [HRS-BR$Agency Header] AH WITH (NOLOCK)
--    ON AH.[Reservation No_] = BU.B_KEY
--  JOIN RPC2
--    ON RPC2.H_KEY = BU.H_KEY
--   AND RPC2.MUSE_ID = BU.MUSE_ID
--   AND RPC2.K_KEY = BU.K_KEY
-- WHERE BU.B_AB_DATUM >= '2018-11-01'
--   AND AH.Segment <> BU.B_SEGMENT 


   
--;WITH RPC3 AS
--(
--SELECT HR.H_KEY,FF.F_KEY_AUTHORIZED  
--  FROM HRSDB.RATE_PLAN_CODE RPC WITH (NOLOCK)
--  JOIN HRSDB.FIRMA_FIRMA_NM FF WITH (NOLOCK)
--	ON FF.F_KEY = RPC.F_KEY
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RPC.MUSE_KEY 
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--)
--   UPDATE BU SET BU.B_SEGMENT = CASE WHEN RPC3.F_KEY_AUTHORIZED IS NOT NULL THEN 1 END
--     FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--     JOIN [Affiliate Partner] AP WITH (NOLOCK)
--       ON BU.K_KEY = AP.[No_]
--LEFT JOIN RPC3
--       ON AP.[Company-No_] = RPC3.F_KEY_AUTHORIZED
--      AND BU.H_KEY = RPC3.H_KEY
--	WHERE KE_BID=550 AND B_AB_DATUM >= '2018-11-01'
--      AND COALESCE(BU.B_SEGMENT,0) <> CASE WHEN RPC3.F_KEY_AUTHORIZED IS NOT NULL THEN 1 END


--;WITH RPC4 AS
--(
--SELECT MU.MUSE_ID
--     , HR.H_KEY
--        , AP.[No_] K_KEY
--  FROM HRSDB.RATE_PLAN_CODE RP WITH (NOLOCK)
--  JOIN HRSDB.FIRMA_FIRMA_NM FF WITH (NOLOCK)
--	ON FF.F_KEY = RP.F_KEY
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RP.MUSE_KEY
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--  JOIN [Affiliate Partner] AP WITH (NOLOCK)
--    ON AP.[Company-No_] = FF.F_KEY_AUTHORIZED
-- WHERE MU.MUSE_ID = 'ACCOR'
--)


--UPDATE AH SET AH.Segment = BU.B_SEGMENT
--  FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--  JOIN [HRS-BR$Agency Header] AH WITH (NOLOCK)
--    ON AH.[Reservation No_] = BU.B_KEY
-- -- JOIN RPC4
-- --   ON RPC4.H_KEY = BU.H_KEY
-- --  AND RPC4.MUSE_ID = BU.MUSE_ID
-- --  AND RPC4.K_KEY = BU.K_KEY
-- WHERE BU.B_AB_DATUM >= '2018-11-01'
--   AND AH.Segment <> BU.B_SEGMENT;
-- 23.01.2023   HRS004    ACS-4208   TMA04 ---
-- HRS002 +++++
-- ----------------------------------------------------------------------------------------------
-- Update Segment Information to all Chains execpt 550,15,165,204
-- ----------------------------------------------------------------------------------------------
/*
DB2 Site Values
1 = Leisure
2 = MICE
3 = Corporate unmanaged
4 = Corporate managed
NAVISION Site Values
1 = Corporate
2 = Leisure	
3 = Managed Commissionable
4 = Managed Net	
5 = Meetings and Groups	
*/
/*
UPDATE BU SET 
	BU.B_SEGMENT =
	CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END		
FROM [HRSDB].[BKG_PROCESS_HIST_DA_BOOKING_SEGMENT] BS WITH (NOLOCK)
	JOIN [HRSDB].[BUCHUNG] BU WITH (NOLOCK)
		ON BU.BP_KEY = BS.BP_KEY  
WHERE BU.[B_AB_DATUM] >= '2018-12-01'
   AND NOT BU.KE_BID IN (550,15,165,204)
   AND BU.KE_ID <> 2023
   AND BU.B_SEGMENT <> CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END;

UPDATE AH SET 
	AH.Segment =
	CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END		
FROM [HRSDB].[BKG_PROCESS_HIST_DA_BOOKING_SEGMENT] BS WITH (NOLOCK)
	JOIN [HRS-BR$Agency Header] AH WITH (NOLOCK)
		ON AH.ProcessNumber = BS.BP_KEY  
WHERE AH.[Departure Date] >= '2018-12-01'
	AND NOT AH.[Chain ID] IN (550,15,165,204)
	AND AH.[Brand ID] <> 2023
	AND AH.Segment <> CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END;
-- HRS002 -----
*/

-- ----------------------------------------------------------------------------------------------
-- RatePlan Code Update
-- ----------------------------------------------------------------------------------------------

EXEC [dbo].[sp_UpdateRatePlanCode_HRS-BR]

-- ----------------------------------------------------------------------------------------------
-- AGB Zustimmung für Freesale auf "Akzeptiert" stellen, sofern kein Wiederspruch eingelegt wurde (ACS-2248)
-- ----------------------------------------------------------------------------------------------
  UPDATE HO SET 
         HO.H_GTC_STATUS =2
    FROM HRSDB.HOTEL HO WITH (NOLOCK)
   WHERE HO.H_GTC_STATUS=0
     AND NOT HO.HJ_FIT_STATUS IN (10,11)

  UPDATE CO SET
         CO.[GTC Status] = HO.H_GTC_STATUS
    FROM [HRS-BR$Contact] CO
	JOIN HRSDB.HOTEL HO WITH (NOLOCK)
	  ON HO.H_KEY = CO.[No_]
   WHERE CO.[GTC Status] <> HO.H_GTC_STATUS
GO
