USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateLinesMatrixShow_TMC]    Script Date: 10.04.2024 14:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ralph Prangenberg
-- Create date: 09.03.2015
-- Description:	Steuert die Sichtbarkeit des Control Matrix
--				im Report RebateLinesYTDSummary_TMC.rdl
/*
DECLARE @ReNr	VARCHAR(20) = 'K0000038750'
	  , @Tab	VARCHAR(3)	= 'ROW'--'GDS'--'API' 
EXEC [dbo].[sp_RebateLinesMatrixShow_TMC] @ReNr , @Tab
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateLinesMatrixShow_TMC] 
	@ReNr	VARCHAR(20)
  , @Tab	VARCHAR(30)
AS
BEGIN

	DECLARE @Feetype	VARCHAR(3)
	SELECT @Feetype = CASE	WHEN CHARINDEX(@Tab, 'API')  > 0 THEN 'API'
							WHEN CHARINDEX(@Tab, 'GDS')  > 0 THEN 'GDS'
							WHEN CHARINDEX(@Tab, 'DACH') > 0 THEN 'xRD'
							WHEN CHARINDEX(@Tab, 'ROW')  > 0 THEN 'xRR'
					  END
SELECT DISTINCT [RAL].[Matrix _ Vector Code] 
	FROM [HRS$Rebate Header]				[RH] WITH (NOLOCK) 
	JOIN [HRS$Rebate Agreement Header]		[RAH] WITH (NOLOCK)
	  ON [RH].[Rebate Agreement No_] = [RAH].[No_]	
	JOIN [HRS$Rebate Agreement Line]		[RAL] WITH (NOLOCK)
	  ON [RAH].[No_] = [RAL].[Rebate No_]
   WHERE [RH].[No_]  = @ReNr
	AND [RAL].[Activity Type] = 5
	AND (([RAH].[Input Parameter TMC API 4]	  = [RAL].[Input Parameter 5 Code]	AND @Feetype = 'API')
		OR ([RAH].[Input Parameter TMC GDS 4] = [RAL].[Input Parameter 5 Code]	AND @Feetype = 'GDS')
		OR ([RAH].[Input Parameter TMC RD 4]  = [RAL].[Input Parameter 5 Code]	AND @Feetype = 'xRD')
		OR ([RAH].[Input Parameter TMC RR 4]  = [RAL].[Input Parameter 5 Code]	AND @Feetype = 'xRR'))
END						
							





GO
