USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ***************************************************************************
/*
SELECT * FROM dbo.[Split]('23,7,8,0,9,1,3,24,25,2,10,11,12,4,13,14,26,15,16,17,19,21,22',',')
*/
-- ***************************************************************************
CREATE FUNCTION [dbo].[Split] ( 
  @StringToSplit varchar(2048)
, @Separator varchar(128)
)
	RETURNS TABLE WITH SCHEMABINDING AS RETURN
	WITH indices AS
	( 
	  SELECT 0 S, 1 E
	  union all
	  SELECT E
		   , CHARINDEX(@Separator, @StringToSplit, E) + len(@Separator)
		FROM indices
	   WHERE E > S 
	)
	SELECT SUBSTRING(@StringToSplit
		 , S
		 , CASE WHEN E > len(@Separator) THEN
			 E-S-len(@Separator)
		   ELSE 
			 LEN(@StringToSplit) - S + 1 
		   END) String
		 , S StartIndex  
		 , ROW_NUMBER() OVER(ORDER BY S) [Index]
	  FROM indices WHERE S >0


GO
