USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Temp]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Temp]
        @DisplayCaseNo varchar(20) = 'V003475243'
	  , @ReservationNo int = 436571
	  , @OldPositionNo int = 401
      , @NewPositionNo int = 400 --@OldPositionNo * 100
AS
BEGIN
DECLARE @NewRateType int = 5000 + 20020 + (@NewPositionNo/100)

UPDATE [HRS$Agency Display Line] SET
       [Position No_] = @NewPositionNo
     , [Rate Type]    = @NewRateType
	 , [Price Type]   = 2
 WHERE [Display Case No_] = @DisplayCaseNo
   AND [Reservation No_] = @ReservationNo
   AND [Position No_] = @OldPositionNo

DECLARE @toDelete int = 0
IF EXISTS (SELECT * FROM [HRS$Agency Line] WHERE [Reservation No_] = @ReservationNo AND [Position No_] = @NewPositionNo)
  SET @toDelete = 1

IF @toDelete = 0
UPDATE [HRS$Agency Line] SET
       [Position No_] = @NewPositionNo
     , [Rate Type]    = @NewRateType
	 , [Price Type]   = 2
 WHERE [Reservation No_] = @ReservationNo
   AND [Position No_] = @OldPositionNo

IF @toDelete = 1
  DELETE FROM [HRS$Agency Line] WHERE [Reservation No_] = @ReservationNo AND [Position No_] = @OldPositionNo

END
GO
