USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateHeader2]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 27.07.2011
-- Description:	Kopfinformationen zur Gutschriftsanzeige
-- 20110909 RP1 Ausgabe erweitert um  [Kreditor].[MwSt.-Geschäftsbuchungsgruppe]
--									, [Kreditor].[Currency Code]
/*
EXEC [dbo].[sp_RebateHeader2] 'K0000007801'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateHeader2] 
    @RebateNo varchar(20)
WITH RECOMPILE
AS
BEGIN

DECLARE @CustList VARCHAR(MAX)
SELECT @CustList = ''

DECLARE @AP AS TABLE([Affiliate Partner No_] int, [Rebate No_] varchar(20))
DECLARE @ActualCustomer bigint, @PreviousCustomer bigint, @FirstCustomer bigint, @RangeMin bigint, @RangeMax bigint, @OldRangeMin bigint, @OldRangeMax bigint, @VendorNo VARCHAR(20)
 SELECT @ActualCustomer = 0, @PreviousCustomer = 0, @FirstCustomer = 0, @RangeMin = 0, @RangeMax = 0
 
DECLARE @ParameterList varchar(max)
 SELECT @ParameterList  = ''
 SELECT @ParameterList  = @ParameterList 
      + ',' + AH.[Input Parameter 1 Code]
      + ',' + AH.[Input Parameter 2 Code]
      + ',' + AH.[Input Parameter 3 Code]
      + ',' + AH.[Input Parameter 4 Code]
      + ',' + AH.[Input Parameter 5 Code]
      + ',' + AH.[Input Parameter 6 Code]
      + ',' + AH.[Input Parameter 7 Code]
      + ',' + AH.[Input Parameter 8 Code]
      + ',' + AH.[Input Parameter 9 Code]
      + ',' + AH.[Input Parameter 10 Code]
      + ',' + AH.[Output Parameter Code]
      , @VendorNo = AH.[Rebate-to Vendor No_]
   FROM [HRS$Rebate Header]    RH WITH (NOLOCK)
   JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo

 SELECT @ParameterList  = @ParameterList 
      + ',' + AH.[Input Parameter 1 Code]
      + ',' + AH.[Input Parameter 2 Code]
      + ',' + AH.[Input Parameter 3 Code]
      + ',' + AH.[Input Parameter 4 Code]
      + ',' + AH.[Input Parameter 5 Code]
      + ',' + AH.[Input Parameter 6 Code]
      + ',' + AH.[Input Parameter 7 Code]
      + ',' + AH.[Input Parameter 8 Code]
      + ',' + AH.[Input Parameter 9 Code]
      + ',' + AH.[Input Parameter 10 Code]
      + ',' + AH.[Output Parameter Code]
      , @VendorNo = AH.[Rebate-to Vendor No_]
   FROM [HRS$Posted Rebate Header]    RH WITH (NOLOCK)
   JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo

DECLARE @PayedRebateBlock TABLE
(
    [Posting Date]        DATETIME
  , [Value Decimal]       DEC(37,20)
  , [Interval Start Date] DATETIME
  , [Interval End Date]   DATETIME
  , [Code P1]             VARCHAR(20)
  , [Name P1]             VARCHAR(50)
  , [Value P1]            DEC(37,20)
  , [Code P2]             VARCHAR(20)
  , [Name P2]             VARCHAR(50)
  , [Value P2]            DEC(37,20)
  , [Code P3]             VARCHAR(20)
  , [Name P3]             VARCHAR(50)
  , [Value P3]            DEC(37,20)
  , [Code P4]             VARCHAR(20)
  , [Name P4]             VARCHAR(50)
  , [Value P4]            DEC(37,20)
  , [Code P5]             VARCHAR(20)
  , [Name P5]             VARCHAR(50)
  , [Value P5]            DEC(37,20)
  , [Code P6]             VARCHAR(20)
  , [Name P6]             VARCHAR(50)
  , [Value P6]            DEC(37,20)
  , [Code P7]             VARCHAR(20)
  , [Name P7]             VARCHAR(50)
  , [Value P7]            DEC(37,20)
  , [Code P8]             VARCHAR(20)
  , [Name P8]             VARCHAR(50)
  , [Value P8]            DEC(37,20)
  , [Code P9]             VARCHAR(20)
  , [Name P9]             VARCHAR(50)
  , [Value P9]            DEC(37,20)
  , [Code P10]            VARCHAR(20)
  , [Name P10]            VARCHAR(50)
  , [Value P10]           DEC(37,20)
  , [Code PA]             VARCHAR(20)
  , [Name PA]             VARCHAR(50)
  , [Value PA]            DEC(37,20)
  , [State]               INT
  , [Rebate No_]          VARCHAR(20)
)

DECLARE @PayedRebate TABLE
(
    [Posting Date]        DATETIME
  , [Value Decimal]       DEC(37,20)
  , [Interval Start Date] DATETIME
  , [Interval End Date]   DATETIME
  , [Code P1]             VARCHAR(20)
  , [Name P1]             VARCHAR(50)
  , [Value P1]            DEC(37,20)
  , [Code P2]             VARCHAR(20)
  , [Name P2]             VARCHAR(50)
  , [Value P2]            DEC(37,20)
  , [Code P3]             VARCHAR(20)
  , [Name P3]             VARCHAR(50)
  , [Value P3]            DEC(37,20)
  , [Code P4]             VARCHAR(20)
  , [Name P4]             VARCHAR(50)
  , [Value P4]            DEC(37,20)
  , [Code P5]             VARCHAR(20)
  , [Name P5]             VARCHAR(50)
  , [Value P5]            DEC(37,20)
  , [Code P6]             VARCHAR(20)
  , [Name P6]             VARCHAR(50)
  , [Value P6]            DEC(37,20)
  , [Code P7]             VARCHAR(20)
  , [Name P7]             VARCHAR(50)
  , [Value P7]            DEC(37,20)
  , [Code P8]             VARCHAR(20)
  , [Name P8]             VARCHAR(50)
  , [Value P8]            DEC(37,20)
  , [Code P9]             VARCHAR(20)
  , [Name P9]             VARCHAR(50)
  , [Value P9]            DEC(37,20)
  , [Code P10]            VARCHAR(20)
  , [Name P10]            VARCHAR(50)
  , [Value P10]           DEC(37,20)
  , [Code PA]             VARCHAR(20)
  , [Name PA]             VARCHAR(50)
  , [Value PA]            DEC(37,20)
  , [State]               INT
  , [Rebate No_]          VARCHAR(20)
)

INSERT INTO @PayedRebateBlock
EXEC [dbo].[sp_RebatePayedRebateBlock2] @RebateNo

INSERT INTO @PayedRebate
EXEC [dbo].[sp_RebatePayedRebate] @RebateNo

DECLARE @PayedRebateAmount                 DEC(37,20) = 0.0
      , @PayedRebateIntervalStartDate      DATETIME = '1753-01-01'
      , @PayedRebateIntervalEndDate        DATETIME = '1753-01-01'
      , @PayedRebateBlockAmount            DEC(37,20) = 0.0
      , @PayedRebateBlockIntervalStartDate DATETIME = '1753-01-01'
      , @PayedRebateBlockIntervalEndDate   DATETIME = '1753-01-01'
SELECT @PayedRebateBlockAmount            = COALESCE(SUM([Value PA]),0.0)
     , @PayedRebateBlockIntervalStartDate = COALESCE(MIN([Interval Start Date]),'2999-12-31')
     , @PayedRebateBlockIntervalEndDate   = COALESCE(MAX([Interval End Date]),'1753-01-01')
  FROM @PayedRebateBlock
  
SELECT @PayedRebateAmount                 = COALESCE(SUM([Value PA]),0.0)-@PayedRebateBlockAmount
     , @PayedRebateIntervalStartDate      = MIN([Interval Start Date])
     , @PayedRebateIntervalEndDate        = MAX(CASE WHEN [Interval End Date] < @PayedRebateBlockIntervalStartDate THEN [Interval End Date] ELSE '1753-01-01' END)
  FROM @PayedRebate

SELECT @PayedRebateIntervalStartDate      = CASE WHEN @PayedRebateIntervalStartDate = '1753-01-01' THEN NULL ELSE @PayedRebateIntervalStartDate END
     , @PayedRebateIntervalEndDate        = CASE WHEN @PayedRebateIntervalEndDate   = '1753-01-01' THEN NULL ELSE @PayedRebateIntervalEndDate   END

PRINT '@PayedRebateAmount' + CAST(@PayedRebateAmount AS varchar)
PRINT '@PayedRebateIntervalStartDate' + CAST(@PayedRebateIntervalStartDate AS varchar)
PRINT '@PayedRebateIntervalEndDate' + CAST(@PayedRebateIntervalEndDate AS varchar)
PRINT '@PayedRebateBlockAmount' + CAST(@PayedRebateBlockAmount AS varchar)
PRINT '@PayedRebateBlockIntervalStartDate' + CAST(@PayedRebateBlockIntervalStartDate AS varchar)
PRINT '@PayedRebateBlockIntervalEndDate' + CAST(@PayedRebateBlockIntervalEndDate AS varchar)

;WITH AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Posted Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[Rebate No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Posted Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo

)
INSERT INTO @AP
SELECT AV.[Affiliate Partner No_], AH.[No_]
  FROM [HRS$Affiliate Partner Vendor] AV WITH (NOLOCK)
  JOIN AgreementHeader AH
    ON AH.[Rebate-to Vendor No_] = AV.[Vendor No_]
    

DECLARE cur CURSOR FOR SELECT * FROM @AP ORDER BY 1

OPEN cur

FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
PRINT @VendorNo
SELECT @FirstCustomer = @ActualCustomer
WHILE @@FETCH_STATUS = 0
BEGIN
  IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
    IF @PreviousCustomer<> 0 AND (@RangeMax<@ActualCustomer OR @RangeMax=0) BEGIN
      SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
      SET @RangeMin=0
      SET @RangeMax=0
      SELECT @RangeMin = [Affiliate Partner No_ (from)]
           , @RangeMax = [Affiliate Partner No_ (to)]
        FROM [HRS$Reserved Customer-No_ Ranges]
       WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
         AND [Vendor No_] = @VendorNo
      IF @RangeMin<@FirstCustomer AND @RangeMin<>0
        SET @FirstCustomer = @RangeMin
      IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
        SET @PreviousCustomer = @RangeMax
      SET @CustList = @CustList 
                    + CASE
                        WHEN @RangeMin>0 AND @RangeMax>0 THEN
                          CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
                        WHEN @PreviousCustomer = @FirstCustomer THEN 
                          CAST(@PreviousCustomer AS varchar)
                        ELSE
                          CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                      END  
      SELECT @FirstCustomer = @ActualCustomer
    END 
  END
  
  SELECT @PreviousCustomer = @ActualCustomer
  FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
END

IF (@PreviousCustomer<> 0) BEGIN
  SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
  SET @RangeMin=0
  SET @RangeMax=0
  SELECT @RangeMin = [Affiliate Partner No_ (from)]
       , @RangeMax = [Affiliate Partner No_ (to)]
    FROM [HRS$Reserved Customer-No_ Ranges]
   WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
     AND [Vendor No_] = @VendorNo
  IF @RangeMin<@FirstCustomer AND @RangeMin<>0
    SET @FirstCustomer = @RangeMin
  IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
    SET @PreviousCustomer = @RangeMax
  SET @CustList = @CustList 
                + CASE
                    WHEN @RangeMin>0 AND @RangeMax>0  THEN
                      CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
                    WHEN @PreviousCustomer = @FirstCustomer THEN 
                      CAST(@PreviousCustomer AS varchar)
                    ELSE
                      CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                  END                   
END 

CLOSE cur
DEALLOCATE cur

DECLARE @Parameter TABLE
(
    [No_]           VARCHAR(20)
  , [Value Decimal] DEC(37,20)
  , [Name]          VARCHAR(120)
)

;WITH RL AS
(
  SELECT RL.[No_], RL.[Value Decimal], PA.[Name]
    FROM [HRS$Rebate Line]   RL WITH (NOLOCK) 
    JOIN [HRS$Rebate Header] RH WITH (NOLOCK) 
      ON RL.[Document No_] = RH.[No_]
    JOIN [HRS$Parameter]     PA WITH (NOLOCK)
      ON PA.[Code]  = RL.[No_]
   WHERE RH.[No_]   = @RebateNo
     AND RL.[Type] IN (1,2)
UNION   
  SELECT RL.[No_], RL.[Value Decimal], PA.[Name]
    FROM [HRS$Posted Rebate Line]   RL WITH (NOLOCK) 
    JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK) 
      ON RL.[Document No_] = RH.[No_]
    JOIN [HRS$Parameter]     PA WITH (NOLOCK)
      ON PA.[Code]  = RL.[No_]
   WHERE (RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo)
     AND RL.[Type] IN (1,2)
)
INSERT INTO @Parameter
SELECT * FROM RL

INSERT INTO @Parameter
SELECT '',0.0,'' UNION
SELECT PA.[Code], PA.[Value Decimal], PA.[Name]
  FROM [HRS$Parameter] PA WITH (NOLOCK)
 WHERE ','+@ParameterList+',' LIKE '%,' + PA.[Code] + ',%'
   AND NOT PA.[Code] IN (SELECT [No_] FROM @Parameter)

;WITH BankAccount AS
(
SELECT [Vendor No_], [Name], [IBAN], [Bank Branch No_], [Bank Account No_], [SWIFT Code]
  FROM [HRS$Vendor Bank Account] WITH (READUNCOMMITTED) 
 WHERE [Clearing] = 1
)
   SELECT @RebateNo [Rebate No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , @CustList [Affiliate Partner List]
        , RH.[Currency Code]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 1 Code]   [Code P1],  P1.[Name]  [Name P1], P1.[Value Decimal]  [Value P1]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], P2.[Value Decimal]  [Value P2]
        , RA.[Input Parameter 3 Code]   [Code P3],  P3.[Name]  [Name P3], P3.[Value Decimal]  [Value P3]
        , RA.[Input Parameter 4 Code]   [Code P4],  P4.[Name]  [Name P4], CASE WHEN P4.[Name] = '' OR RA.[Enable retroactive correction] = 0 THEN 0.0 ELSE @PayedRebateAmount END [Value P4]
        , RA.[Input Parameter 5 Code]   [Code P5],  P5.[Name]  [Name P5], P5.[Value Decimal]  [Value P5]
        , RA.[Input Parameter 6 Code]   [Code P6],  P6.[Name]  [Name P6], P6.[Value Decimal]  [Value P6]
        , RA.[Input Parameter 7 Code]   [Code P7],  P7.[Name]  [Name P7], P7.[Value Decimal]  [Value P7]
        , RA.[Input Parameter 8 Code]   [Code P8],  P8.[Name]  [Name P8], P8.[Value Decimal]  [Value P8]
        , RA.[Input Parameter 9 Code]   [Code P9],  P9.[Name]  [Name P9], P9.[Value Decimal]  [Value P9]
        , RA.[Input Parameter 10 Code] [Code P10],  P10.[Name] [Name P10],P10.[Value Decimal] [Value P10]
        , RA.[Output Parameter Code]    [Code PA],  PA.[Name]  [Name PA], CASE WHEN P3.[Name] = '' OR RA.[Enable retroactive correction] = 0 THEN PA.[Value Decimal] ELSE P3.[Value Decimal]-@PayedRebateAmount END [Value PA]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, VE.[Currency Code]							   [CurrencyCode] 	
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    'txtVATRegistrationNo'
		  ELSE
            'txtRegistrationNo'
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[HRS$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END,0,1,RA.[No_]) [Salutation]
		, COALESCE(SP.[E-Mail],'kreditoren@hrs.de')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],'377')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],'800')               [Salesperson Phone No_]
		, CASE WHEN VE.[VAT Bus_ Posting Group] = 'INLAND2' THEN '' ELSE 
		    COALESCE(CR.[EU Country_Region Code],'') 
		  END                                          [EU Country_Region Code]
		, COALESCE(CR.[Name],'')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, dbo.fnc_RebateVectorSelection(RA.[Matrix _ Vector Code],P5.[Value Decimal]) [Vector Range]
		, CR.[EU affiliation]
		, RA.[Partner Type]
		, RA.[Group contract Code]
		, RA.[Output Reservation Source]
        , @PayedRebateIntervalStartDate [Payed Rebate Interval Start Date]
        , @PayedRebateIntervalEndDate   [Payed Rebate Interval End Date]
     FROM [HRS$Rebate Header]           RH WITH (READUNCOMMITTED) 
     JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [HRS$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
LEFT JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
     JOIN @Parameter P1  ON P1.[No_]  = RA.[Input Parameter 1 Code]
     JOIN @Parameter P2  ON P2.[No_]  = RA.[Input Parameter 2 Code]
     JOIN @Parameter P3  ON P3.[No_]  = RA.[Input Parameter 3 Code]
     JOIN @Parameter P4  ON P4.[No_]  = RA.[Input Parameter 4 Code]
     JOIN @Parameter P5  ON P5.[No_]  = RA.[Input Parameter 5 Code]
     JOIN @Parameter P6  ON P6.[No_]  = RA.[Input Parameter 6 Code]
     JOIN @Parameter P7  ON P7.[No_]  = RA.[Input Parameter 7 Code]
     JOIN @Parameter P8  ON P8.[No_]  = RA.[Input Parameter 8 Code]
     JOIN @Parameter P9  ON P9.[No_]  = RA.[Input Parameter 9 Code]
     JOIN @Parameter P10 ON P10.[No_] = RA.[Input Parameter 10 Code]
     JOIN @Parameter PA  ON PA.[No_]  = RA.[Output Parameter Code]
   WHERE RH.[No_] = @RebateNo
UNION
   SELECT @RebateNo [Rebate No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , @CustList [Affiliate Partner List]
        , RH.[Currency Code]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 1 Code]   [Code P1],  P1.[Name]  [Name P1], P1.[Value Decimal]  [Value P1]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], P2.[Value Decimal]  [Value P2]
        , RA.[Input Parameter 3 Code]   [Code P3],  P3.[Name]  [Name P3], P3.[Value Decimal]  [Value P3]
        , RA.[Input Parameter 4 Code]   [Code P4],  P4.[Name]  [Name P4], CASE WHEN P4.[Name] = '' OR RA.[Enable retroactive correction] = 0 THEN 0.0 ELSE @PayedRebateAmount END [Value P4]
        , RA.[Input Parameter 5 Code]   [Code P5],  P5.[Name]  [Name P5], P5.[Value Decimal]  [Value P5]
        , RA.[Input Parameter 6 Code]   [Code P6],  P6.[Name]  [Name P6], P6.[Value Decimal]  [Value P6]
        , RA.[Input Parameter 7 Code]   [Code P7],  P7.[Name]  [Name P7], P7.[Value Decimal]  [Value P7]
        , RA.[Input Parameter 8 Code]   [Code P8],  P8.[Name]  [Name P8], P8.[Value Decimal]  [Value P8]
        , RA.[Input Parameter 9 Code]   [Code P9],  P9.[Name]  [Name P9], P9.[Value Decimal]  [Value P9]
        , RA.[Input Parameter 10 Code] [Code P10],  P10.[Name] [Name P10],P10.[Value Decimal] [Value P10]
        , RA.[Output Parameter Code]    [Code PA],  PA.[Name]  [Name PA], CASE WHEN P3.[Name] = '' OR RA.[Enable retroactive correction] = 0 THEN PA.[Value Decimal] ELSE P3.[Value Decimal]-@PayedRebateAmount END [Value PA]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, VE.[Currency Code]							   [CurrencyCode] 	
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    'txtVATRegistrationNo'
		  ELSE
            'txtRegistrationNo'
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[HRS$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END,0,1,RA.[No_])
		, COALESCE(SP.[E-Mail],'kreditoren@hrs.de')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],'377')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],'800')               [Salesperson Phone No_]
		, CASE WHEN VE.[VAT Bus_ Posting Group] = 'INLAND2' THEN '' ELSE 
		    COALESCE(CR.[EU Country_Region Code],'') 
		  END                                          [EU Country_Region Code]
		, COALESCE(CR.[Name],'')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, dbo.fnc_RebateVectorSelection(RA.[Matrix _ Vector Code],P5.[Value Decimal]) [Vector Range]
		, CR.[EU affiliation]
		, RA.[Partner Type]
		, RA.[Group contract Code]
		, RA.[Output Reservation Source]
        , @PayedRebateIntervalStartDate [Payed Rebate Interval Start Date]
        , @PayedRebateIntervalEndDate   [Payed Rebate Interval End Date]
     FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
     JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [HRS$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
LEFT JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
     JOIN @Parameter P1  ON P1.[No_]  = RA.[Input Parameter 1 Code]
     JOIN @Parameter P2  ON P2.[No_]  = RA.[Input Parameter 2 Code]
     JOIN @Parameter P3  ON P3.[No_]  = RA.[Input Parameter 3 Code]
     JOIN @Parameter P4  ON P4.[No_]  = RA.[Input Parameter 4 Code]
     JOIN @Parameter P5  ON P5.[No_]  = RA.[Input Parameter 5 Code]
     JOIN @Parameter P6  ON P6.[No_]  = RA.[Input Parameter 6 Code]
     JOIN @Parameter P7  ON P7.[No_]  = RA.[Input Parameter 7 Code]
     JOIN @Parameter P8  ON P8.[No_]  = RA.[Input Parameter 8 Code]
     JOIN @Parameter P9  ON P9.[No_]  = RA.[Input Parameter 9 Code]
     JOIN @Parameter P10 ON P10.[No_] = RA.[Input Parameter 10 Code]
     JOIN @Parameter PA  ON PA.[No_]  = RA.[Output Parameter Code]
   WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo
END

GO
