USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateCorporateDiscount_CN]    Script Date: 10.04.2024 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- HRS001   02.01.19   SAK01  Create AND ACS-1841 Corparate Discount for ATOUR
-- =============================================
CREATE PROCEDURE [dbo].[sp_CalculateCorporateDiscount_CN]
AS
BEGIN

DECLARE @PostingDate DATETIME
      , @DateFrom datetime = NULL
      , @DateTo   datetime = NULL

IF DATEPART(dd,GETDATE())<5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME) END

IF DATEPART(dd,GETDATE())>=5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME) END

 SELECT @DateTo = COALESCE(@DateTo,@PostingDate)
      , @DateFrom = COALESCE(@DateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))


PRINT @DateTo
PRINT @DateFrom

-- HRS001 ++++++++++ TMCHRS88PPDB
UPDATE AL SET 
       AL.[Corporate Rate Discount]  = 12
FROM [HRS-CN$Agency Line] AL
JOIN [HRS-CN$Agency Header] AH ON AL.[Process Number] =  AH.ProcessNumber 
WHERE 1=1
AND AH.[MuseID] = 'ATOUR'
AND (CHARINDEX('HRQ', AL.[Rate Description]) > 0) OR (CHARINDEX('TMCHRS88PPDB', AL.[Rate Description]) > 0)
AND AL.[Corporate Rate Discount] <> 12
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 

UPDATE AH SET 
       AH.[Corporate Rate Discount]  = 12
FROM [HRS-CN$Agency Line] AL
JOIN [HRS-CN$Agency Header] AH ON AL.[Process Number] =  AH.ProcessNumber 
WHERE 1=1
AND AH.[MuseID] = 'ATOUR'
AND (CHARINDEX('HRQ', AL.[Rate Description]) > 0) OR (CHARINDEX('TMCHRS88PPDB', AL.[Rate Description]) > 0)
AND AL.[Corporate Rate Discount] <> 12
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 
-- HRS001 ---------- 

END
GO
