USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_SendNotSentDocuments_CommissionInvoices]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[sp_SendNotSentDocuments_CommissionInvoices] AS
BEGIN

;WITH [SENT] AS (
  SELECT DISTINCT J.No_
    FROM [HRS$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
), [SENT_BR] AS (
  SELECT DISTINCT J.No_
    FROM [HRS-BR$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS-BR$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS-BR$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS-BR$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
), [SENT_CN] AS (
  SELECT DISTINCT J.No_
    FROM [HRS-CN$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS-CN$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS-CN$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS-CN$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.[Sent] = 1
)
   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS' [Company]
     FROM [HRS$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
     JOIN [HRS$Customer] CU WITH (NOLOCK)
	   ON ADH.[Bill-to Customer No_] = CU.No_
LEFT JOIN [SENT] 
       ON ADH.[Posted Invoice No_] = [SENT].No_
	WHERE ADH.[Creation Date] >= DATEADD(m, -1, GETDATE())
	  AND [SENT].No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''
	  AND CU.[HPP Webportal enabled] = 0 AND CU.[HPP Webportal registered] = 0
	  AND CU.[Correspondence Type] IN (2,3)

	UNION

   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS-BR' [Company]
     FROM [HRS-BR$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS-BR$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
     JOIN [HRS-BR$Customer] CU WITH (NOLOCK)
	   ON ADH.[Bill-to Customer No_] = CU.No_
LEFT JOIN [SENT_BR] [SENT] 
       ON ADH.[Posted Invoice No_] = [SENT].No_
	WHERE ADH.[Creation Date] >= DATEADD(m, -1, GETDATE())
	  AND [SENT].No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''
	  AND CU.[HPP Webportal enabled] = 0 AND CU.[HPP Webportal registered] = 0
	  AND CU.[Correspondence Type] IN (2,3)

	UNION

   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS-CN' [Company]
     FROM [HRS-CN$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS-CN$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
     JOIN [HRS-CN$Customer] CU WITH (NOLOCK)
	   ON ADH.[Bill-to Customer No_] = CU.No_
LEFT JOIN [SENT_CN] [SENT] 
       ON ADH.[Posted Invoice No_] = [SENT].No_
	WHERE ADH.[Creation Date] >= DATEADD(m, -1, GETDATE())
	  AND [SENT].No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''
	  AND CU.[HPP Webportal enabled] = 0 AND CU.[HPP Webportal registered] = 0
	  AND CU.[Correspondence Type] IN (2,3)

END
GO
