USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Eurowings]    Script Date: 10.04.2024 14:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gurbet Celik
-- Create date: 01.10.2019
-- Description:	Eurowings
/*
EXEC [dbo].[sp_Affiliate_ADACzusatzlicheReport] '2019-10-01', '2019-10-30'
*/
-- =============================================
CREATE PROC [dbo].[sp_Eurowings]


AS
BEGIN
(
SELECT  ProcessNumber,
	   [DocumentDate],
	   [DepartureDate],
	   [ReservationDate],
	   [ArivalDate],
	   ClientCompany,
	   TopBonusID,
	   CurrencyCode,
	   CurrencyFaktor,	    	   
	   --[Description],
	  SUM([Turnover_corr]) FinalAmountPaid,
	  SUBSTRING([Description], CHARINDEX(',', [Description]) + 1, LEN( [Description] )) AS 'First Name',
	  SUBSTRING([Description], 1, CHARINDEX(',', [Description])- 1) AS 'Name'
FROM [DynNavHRS].dbo.[HRS$Affiliate Postings] with (nolock) where 1=1 and ClientCompany= 'Eurowings GmbH' and TopBonusID<>'' and CurrencyFaktor<>0
GROUP BY ProcessNumber,
	   ClientCompany,
	   TopBonusID,
	   [Description],
	   DocumentDate,
	   DepartureDate,
	   [ReservationDate],
	   [ArivalDate],
	   CurrencyFaktor,
	   CurrencyCode

--SELECT  ProcessNumber,TopBonusID,SUM([Turnover_corr]) FinalAmountPaid, *FROM [DynNavHRS].dbo.[HRS$Affiliate Postings] with (nolock)where ProcessNumber=126724903 and CurrencyFaktor<>0
--GROUP BY ProcessNumber,TopBonusID

--SELECT *FROM [DynNavHRS].dbo.[HRS$Affiliate Postings] with (nolock)
)
END
GO
