USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[BuchNichtRealAlleKunden]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 09.12.11
-- Description:	Buchungen vor Korrektur auf Kundenebene
-- =============================================
CREATE PROCEDURE [dbo].[BuchNichtRealAlleKunden] 
	-- Add the parameters for the stored procedure here
	@Start	AS Varchar(10) = '01.01.2007',
	@Ende	AS Varchar(10) = '01.01.2007',
	@Kunde	AS Varchar(max) = '406577002'
AS
BEGIN
	SET NOCOUNT ON;
--DECLARE @Kunde	AS Bigint, @Start	AS Varchar(10), @Ende	AS Varchar(10)
-- SELECT @Kunde = 406577002, @Start = '01.11.2011', @Ende = '30.11.2011'
   SELECT @Kunde = ','+@Kunde+','

   SELECT AP.[ReservationNo]                               Reservierungsnummer
        , AP.[AffiliatePartnerNo]                          Kundennummer
        , SUM(AP.[Amount_LCY])                             Betrag
        , CONVERT(char(10), MIN([ArivalDate]), 104)        Anreise
        , CONVERT(char(10), MAX([DepartureDate]), 104)     Abreise
        , AVG(CASE WHEN DL.[Number of Person] = 0 THEN 1 ELSE DL.[Number of Person] END )                       Personen
        , MONTH(AP.[PostingDate])                          Periode
        , YEAR(AP.[PostingDate])                           Jahr
        , AP.[HotelNo]                                     Hotel
        , SUM(AP.[RoomNights])                             Roomnights
        , SUM(AP.[Amount_LCY])                             [€-Betrag]
        , DH.[Currency Code]                               WC
        , DH.[Currency Factor]                             WF
        , MIN(CONVERT(char(10),AP.[ReservationDate], 104)) Buchungsdatum
        , MAX(DL.[Reservation Activator])                  Reservierungsbucher
        , MAX(AP.[ReservationSource])                      Reservierungsquelle
        , SUM(AP.[Turnover_LCY])                           Umsatz
        , SUM(DL.[Breakfast Price]/DH.[Currency Factor])   [Betrag-Frühstück]
        , MAX(AP.[ClientCompany])                          [Kunde Firma]
        , MAX(AP.[CountryCode])                            Ländercode
        , MAX(AP.[Description])                            [Gastname 1]
        , MAX(AP.[Description2])                           [Gastname 2]
        , MAX(COALESCE(DA.BCDT_VALUE,''))                  [Additional Info]
     FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
     JOIN [HRS$Agency Display Line] DL WITH (NOLOCK)
       ON DL.[Reservation No_] = AP.[ReservationNo]
      AND DL.[Position No_]    = AP.[ReservationPartNo]
     JOIN [HRS$Agency Display Header] DH WITH (NOLOCK)
       ON DH.[Case No_] = DL.[Display Case No_]
      AND DH.[Correction from] = ''
LEFT JOIN [HRSDB].[BKG_CI_DATA_TEXT_DA] DA WITH (NOLOCK)
       ON DA.B_KEY = AP.[ReservationNo]
    WHERE @Kunde LIKE '%,'+CAST(AP.[AffiliatePartnerNo] AS varchar)+',%'
      AND AP.[PostingDate] BETWEEN CONVERT(DATETIME,@Start, 104) AND CONVERT(DATETIME,@Ende, 104)
      --AND AP.[IsNetRate_corr] = 1
      AND AP.[Amount_LCY_corr] = 0
      AND AP.[Amount_LCY] <> 0
 GROUP BY AP.[ReservationNo]
        , AP.[AffiliatePartnerNo]
        , AP.[HotelNo]
        , DH.[Currency Code]
        , DH.[Currency Factor]
        , AP.[PostingDate]
 ORDER BY Anreise
END
GO
