USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[SelectASC-2860]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectASC-2860]
AS
BEGIN
   SELECT CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'HQ'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END [Office]
        , GLA.[No_] [Sachkontonummer]
        , GLA.[Name] [Erlösart]
        , COALESCE(CR.[Name],'') [Country]
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) [Posting Month]
        , SUM(GLE.[Amount])[Amount]
     FROM DynNavHRS.dbo.[HRS$G_L Entry] GLE WITH (NOLOCK)
     JOIN DynNavHRS.dbo.[HRS$G_L Account] GLA WITH (NOLOCK) ON GLA.[No_]=GLE.[G_L Account No_]
LEFT JOIN DynNavHRS.dbo.[HRS$Customer] CU WITH (NOLOCK) ON CAST(CU.[No_] AS varchar(20))=GLE.[Source No_] AND GLE.[Source Type]=1
LEFT JOIN DynNavHRS.dbo.[HRS$Country_Region] CR WITH (NOLOCK) ON CR.[Code]=CU.[Country_Region Code]
    WHERE GLE.[G_L Account No_] BETWEEN '800000' AND  '899999'
      AND GLE.[Posting Date] BETWEEN '2020-10-01' AND '2021-04-30'
      AND GLE.[Amount]<>0
 GROUP BY CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'HQ'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END 
        , GLA.[No_]
        , GLA.[Name]
        , COALESCE(CR.[Name],'') 
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) 
UNION
   SELECT CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'BR'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END [Office]
        , GLA.[No_]
        , GLA.[Name]
        , COALESCE(CR.[Name],'') [Country]
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) 
        , SUM(GLE.[Amount])[Amount]
     FROM DynNavHRS.dbo.[HRS-BR$G_L Entry] GLE WITH (NOLOCK)
     JOIN DynNavHRS.dbo.[HRS-BR$G_L Account] GLA WITH (NOLOCK) ON GLA.[No_]=GLE.[G_L Account No_]
LEFT JOIN DynNavHRS.dbo.[HRS-BR$Customer] CU WITH (NOLOCK) ON CAST(CU.[No_] AS varchar(20))=GLE.[Source No_] AND GLE.[Source Type]=1
LEFT JOIN DynNavHRS.dbo.[HRS-BR$Country_Region] CR WITH (NOLOCK) ON CR.[Code]=CU.[Country_Region Code]
    WHERE GLE.[G_L Account No_] BETWEEN '800000' AND  '899999'
      AND GLE.[Posting Date] BETWEEN '2020-10-01' AND '2021-04-30'
      AND GLE.[Amount]<>0
 GROUP BY CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'BR'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END 
        , GLA.[No_]
        , GLA.[Name]
        , COALESCE(CR.[Name],'') 
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) 
UNION
   SELECT CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'CN'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END [Office]
        , GLA.[No_]
        , GLA.[Name]
        , COALESCE(CR.[Name],'') [Country]
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) 
        , SUM(GLE.[Amount])[Amount]
     FROM DynNavHRS.dbo.[HRS-CN$G_L Entry] GLE WITH (NOLOCK)
     JOIN DynNavHRS.dbo.[HRS-CN$G_L Account] GLA WITH (NOLOCK) ON GLA.[No_]=GLE.[G_L Account No_]
LEFT JOIN DynNavHRS.dbo.[HRS-CN$Customer] CU WITH (NOLOCK) ON CAST(CU.[No_] AS varchar(20))=GLE.[Source No_] AND GLE.[Source Type]=1
LEFT JOIN DynNavHRS.dbo.[HRS-CN$Country_Region] CR WITH (NOLOCK) ON CR.[Code]=CU.[Country_Region Code]
    WHERE GLE.[G_L Account No_] BETWEEN '800000' AND  '899999'
      AND GLE.[Posting Date] BETWEEN '2020-10-01' AND '2021-04-30'
      AND GLE.[Amount]<>0
 GROUP BY CASE 
            WHEN LEFT(GLE.[Global Dimension 1 Code],2)='ZZ' THEN 'HQ'
            WHEN COALESCE(CR.[Cost Center Code Sourcing_MP],'')<>'' THEN LEFT(COALESCE(CR.[Cost Center Code Sourcing_MP],''),2)
            WHEN CU.[No_] IS NULL THEN 'CN'
            ELSE LEFT(GLE.[Global Dimension 1 Code],2)
          END
        , GLA.[No_]
        , GLA.[Name]
        , COALESCE(CR.[Name],'') 
        , CU.[Post Code]
        , DATEADD(dd,-datepart(dd,[Posting Date])+1, GLE.[Posting Date]) 
END
GO
