USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPKommSalesInvoiceLine]    Script Date: 10.04.2024 14:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 20.06.2011
-- Description:	Kopie der SP vom P-NAV-MSSQL-1
-- 21.11.11 HRS002           TM     Ausblender der als gelöscht gekennzeichneten Zeilen
/*
DECLARE @ReNr varchar(25)
 SELECT @ReNr = '3373313/02'
EXEC [dbo].[sp_RPKommSalesInvoiceLine] @ReNr
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RPKommSalesInvoiceLine] 
    @ReNr varchar(25)
AS
BEGIN
  SET NOCOUNT ON;
	DECLARE @ReNr2 varchar(25)
	SET @ReNr2 = @ReNr
  SELECT DISTINCT 
         AL1.[Reservation No_]      [Reservierungsnr_]
       , MIN(AL1.[Arrival Date])    [Anreisedatum]
       , 10000        [Line No_]
    FROM [HRS$Agency Display Line]   AL1 WITH (READUNCOMMITTED)
    JOIN [HRS$Agency Display Header] AH1 WITH (READUNCOMMITTED)
      ON AL1.[Display Case No_] = AH1.[Case No_]
   WHERE (AH1.[Posted Invoice No_] = @ReNr2 OR AH1.[Case No_] = @ReNr2)
     AND AL1.[Action]             <> 3
GROUP BY AL1.[Reservation No_]
ORDER BY [Anreisedatum],[Reservierungsnr_]
END



GO
