USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPReminderHeader-BR]    Script Date: 10.04.2024 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 23.06.2014
-- Description:	Mahnungszeilen Für BR Mandant 
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 23.06.14  HRS001    XXXX  ZM     Mahnung für BR Mandant
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = ' BR1000000034'
EXEC [dbo].[sp_RPReminderHeader-BR]  @ReNr='BRM000000467'
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPReminderHeader-BR] 
    @ReNr varchar(25)
AS
BEGIN
  DECLARE @AdrTypes TABLE ([Index] int, AdrType char(3))
  INSERT INTO @AdrTypes
  SELECT [Index],[String] FROM dbo.Split('AL,AV,BAL,LOT,EST,PÇ,R,ROD,TV,',',')      --Field here canot be empty (To avoid PDF error)!
--  SELECT * FROM @AdrTypes 
  
  DECLARE @AdrNames TABLE ([Index] int, AdrName varchar(30))
  INSERT INTO @AdrNames   
  SELECT [Index],[String] FROM dbo.Split('Alameda,Av.,Balneario,Loteamento,Estrada,Praça,Rua,Rodovia,Travessa',',') -- Field here canot be empty (To avoid PDF error)!
--  SELECT * FROM @AdrNames 
  
  DECLARE @CurrencyCode VARCHAR(10), @CurrencyFactor DECIMAL(38,20)
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS-BR$Issued Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
  IF @CurrencyCode IS NULL  
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS-BR$Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
  SET NOCOUNT ON;
    ;WITH BANK AS
    (
      SELECT BR.[Sequences]
           , BR.[Country Code]
           , BK.[BankTxt]
           , BK.[BLZ]
           , BK.[Swift]
           , BK.[IBAN]
           , BK.[Account]
           , BK.[Description]
           , BR.[Sequences]    [Reihenfolgen]
        FROM [HRS-BR$Bank Regulation] BR WITH (READUNCOMMITTED)
        --JOIN [HRS$Bank Account]    BA WITH (READUNCOMMITTED)
        --  ON BR.[Bank No_] = BA.[No_]
        JOIN [Bank] BK WITH (READUNCOMMITTED)
          ON BR.[Bank No_] = BK.[BankCode] COLLATE Latin1_General_CI_AS
--       WHERE BR.[Country Code] IN ('15','114','43')
       )
   SELECT RH.[No_]
        , RH.[Customer No_]
        , AC.[Name]
        + CHAR(10) + AN.[AdrName] + ' ' + AC.[Address] + ', ' + AC.[Address No_]
        + CASE WHEN AC.[Address Complement] <> '' THEN ' - ' + AC.[Address Complement] ELSE '' END
        + CHAR(10) + CASE WHEN AC.[District] <> '' THEN AC.[District] + ', ' ELSE '' END
                   + AC.[City] + ' - ' + AC.[Territory Code] + ', ' + AC.[Post Code] [Address]
        , RH.[Document Date]
        , RH.[Posting Date]
        , DATEADD(dd,14,RH.[Document Date]) [Due Date]
        , CU.[Currency Code] [Customer Currency Code]
        , @CurrencyCode [Currency Code]
        , @CurrencyFactor [Currency Factor]
        , RH.[Reminder Level]
        , RH.[Country_Region Code]
        , RH.[Language Code]
        , [Reminder Commission Amount].[Commission Amount] * @CurrencyFactor [Commission Amount]
        , [Reminder Interest Amount].[Interest Amount]                       [Interest Amount]
        , [Reminder Fee Amount].[Fee Amount]                                 [Fee Amount]
        , [Reminder Remaining Amount].[Remaining Amount]                     [Remaining Amount]
        , [Reminder VAT Amount].[VAT Amount]               * @CurrencyFactor [VAT Amount]
        , CO.[Name] [Countryname]
        , CASE 
            WHEN RH.[Document Type] = '16'           THEN COALESCE(PEG.[Fax Extension for Reminder],'392')
            WHEN CU.[Contract Status] IN ('10','11') THEN '3634'
            WHEN COALESCE(RC.[Fax No_],'') = ''      THEN COALESCE(PG.[Fax Extension for Reminder],'392') 
            ELSE COALESCE(RC.[Fax No_],'') 
          END [Fax Extension]
        , CASE WHEN COALESCE(RC.[Phone No_],'') = '' THEN COALESCE(PG.[Phone Extension],'800') 
          ELSE COALESCE(RC.[Phone No_],'') END [Phone Extension]
        , CO.[Continent]
        , CU.[Payment Method Code]
        , CASE WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN
            ''
          ELSE
            CASE 
              WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +86 (0) 21 5197 6705 Fax: +86(0)21 5197 6449'
              WHEN ',10,103,106,107,118,121,126,128,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,257,258,259,265,266,268,270,30,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +86 (0) 21 5197 6705 Fax: +86(0)21 5197 6448'
              ELSE
                ''
            END    
          END [Special Fax]
        , CASE 
            WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%'       THEN
              'email: accounting_fax@hrs.cn'
            WHEN ',10,103,106,107,118,121,126,128,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,257,258,259,265,266,268,270,30,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
              'email: accounting_fax@hrs.cn'
            WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN 
              '3634@hrs.de'
            WHEN RH.[Document Type] = '16'                                  THEN 
              COALESCE(PEG.[Fax Extension for Reminder],'392') + '@hrs.de'
            WHEN COALESCE(RC.[Fax No_],'') = ''                             THEN 
              COALESCE(PG.[Fax Extension for Reminder],'392') + '@hrs.de' 
            ELSE 
              COALESCE(RC.[Fax No_] + '@hrs.de','') 
          END [Special E-Mail]
        , [Reminder Remaining Amount].[Min_ Document Date]
        , [Reminder Remaining Amount].[Max_ Document Date]
        , [Service].[Hotel Turnover]
        , RH.[Contact]
        , PG.[Description] [Salesperson]
        , AC.[VAT Registration No_]
        , (COALESCE(B1.[Description],'')) [Bank_1_Descrption]
        , (COALESCE(B1.[Account],''))     [Bank_1_Account]
        , (COALESCE(B1.[BLZ],''))         [Bank_1_BLZ]
        , (COALESCE(B1.[Swift],''))       [Bank_1_Swift]
        , (COALESCE(B1.[IBAN],''))        [Bank_1_IBAN]
        , COALESCE(CAST(B1.[BankTxt] AS VARCHAR(max)),'')          [Bank_1_BankTxt]
        , (COALESCE(B2.[Description],'')) [Bank_2_Descrption]
        , (COALESCE(B2.[Account],''))     [Bank_2_Account]
        , (COALESCE(B2.[BLZ],''))         [Bank_2_BLZ]
        , (COALESCE(B2.[Swift],''))       [Bank_2_Swift]
        , (COALESCE(B2.[IBAN],''))        [Bank_2_IBAN]
        , COALESCE(CAST(B2.[BankTxt] AS VARCHAR(max)),'')          [Bank_2_BankTxt]
        , (COALESCE(B3.[Description],'')) [Bank_3_Descrption]
        , (COALESCE(B3.[Account],''))     [Bank_3_Account]
        , (COALESCE(B3.[BLZ],''))         [Bank_3_BLZ]
        , (COALESCE(B3.[Swift],''))       [Bank_3_Swift]
        , (COALESCE(B3.[IBAN],''))        [Bank_3_IBAN]
        , COALESCE(CAST(B3.[BankTxt] AS VARCHAR(max)),'')          [Bank_3_BankTxt]
     FROM [HRS-BR$Issued Reminder Header] RH WITH (READUNCOMMITTED)
     JOIN [HRS-BR$Country_Region]         CO WITH (READUNCOMMITTED)
       ON CO.[Code] = RH.[Country_Region Code]
     JOIN [HRS-BR$Customer]               CU WITH (READUNCOMMITTED)
       ON CU.[No_]  = RH.[Customer No_]
     JOIN [HRS-BR$Additional Customer]    AC WITH (READUNCOMMITTED)     --- ZMO02: Add Left Join if you want the SP to work for all Hotels missing from Additional Customer table 30.7.2014
       ON AC.[No_]  = CU.[No_]
    JOIN @AdrTypes AT ON AT.[AdrType] = AC.[Address Type]				--- ZMO02: Add Left Join if you want the SP to work for all Hotels missing from Additional Customer table 30.7.2014
    JOIN @AdrNames AN ON AN.[Index]   = AT.[Index]                     --- ZMO02: Add Left Join if you want the SP to work for all Hotels missing from Additional Customer table 30.7.2014




LEFT JOIN [HRS-BR$Responsibility Center]  RC WITH (READUNCOMMITTED)
       ON CU.[Responsibility Center] = RC.Code
LEFT JOIN [HRS-BR$Printer Group]          PG WITH (READUNCOMMITTED)
       ON PG.[Code] = CU.[Salesperson Code]
LEFT JOIN [HRS-BR$Printer Group]          PEG WITH (READUNCOMMITTED)
       ON PEG.[Code]                  = 'PEGASUS'
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Commission Amount]
               FROM [HRS-BR$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 3
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Commission Amount] 
       ON RH.[No_] = [Reminder Commission Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Amount] ELSE RL.[Amount] * @CurrencyFactor END
                    ) AS [Interest Amount]
               FROM [HRS-BR$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Interest Amount] ON RH.[No_] = [Reminder Interest Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Fee Amount]
               FROM [HRS-BR$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 1
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Fee Amount] ON RH.[No_] = [Reminder Fee Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , MIN(RL.[Document Date]) AS [Min_ Document Date]
                  , MAX(RL.[Document Date]) AS [Max_ Document Date]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Remaining Amount] ELSE 
                      CASE WHEN @CurrencyCode = RL.[Currency Code (Entry)] THEN RL.[Remaining Amount (Curr)] ELSE
                        RL.[Remaining Amount] * @CurrencyFactor
                      END
                    END
                    ) AS [Remaining Amount]
               FROM [HRS-BR$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Remaining Amount] ON RH.[No_] = [Reminder Remaining Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(DL.[Commission Base Amount] * DL.[Number of Nights])  [Hotel Turnover]
               FROM [HRS-BR$Issued Reminder Line]  RL WITH (NOLOCK )
               JOIN [HRS-BR$Agency Display Header] DH WITH (NOLOCK)
                 ON DH.[Posted Invoice No_] = RL.[Document No_]
               JOIN [HRS-BR$Agency Display Line]   DL WITH (NOLOCK) 
                 ON DL.[Display Case No_] = DH.[Case No_]              
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
                AND DL.Action <> 3
           GROUP BY RL.[Reminder No_]
          ) AS [Service] ON RH.[No_] = [Service].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[VAT Amount]) AS [VAT Amount]
               FROM [HRS-BR$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder VAT Amount] ON RH.[No_] = [Reminder VAT Amount].[Reminder No_]					
 LEFT JOIN BANK B1 ON B1.[Sequences] = 0 AND B1.[Country Code] = RH.[Country_Region Code]       
 LEFT JOIN BANK B2 ON B2.[Sequences] = 1 AND B2.[Country Code] = RH.[Country_Region Code]       
 LEFT JOIN BANK B3 ON B3.[Sequences] = 2 AND B3.[Country Code] = RH.[Country_Region Code]       
    WHERE RH.[No_] = @ReNr
UNION    
   SELECT RH.[No_]
        , RH.[Customer No_]
        , AC.[Name]
        + CHAR(10) + AN.[AdrName] + ' ' + AC.[Address] + ', ' + AC.[Address No_]
        + CASE WHEN AC.[Address Complement] <> '' THEN ' - ' + AC.[Address Complement] ELSE '' END
        + CHAR(10) + CASE WHEN AC.[District] <> '' THEN AC.[District] + ', ' ELSE '' END
                   + AC.[City] + ' - ' + AC.[Territory Code] + ', ' + AC.[Post Code] [Address]
        , RH.[Document Date]
        , RH.[Posting Date]
        , DATEADD(dd,14,RH.[Document Date]) [Due Date]
        , CU.[Currency Code] [Customer Currency Code]
        , @CurrencyCode [Currency Code]
        , @CurrencyFactor [Currency Factor]
        , RH.[Reminder Level]
        , RH.[Country_Region Code]
        , RH.[Language Code]
        , [Reminder Commission Amount].[Commission Amount] * @CurrencyFactor [Commission Amount]
        , [Reminder Interest Amount].[Interest Amount]                       [Interest Amount]
        , [Reminder Fee Amount].[Fee Amount]                                 [Fee Amount]
        , [Reminder Remaining Amount].[Remaining Amount]                     [Remaining Amount]
        , [Reminder VAT Amount].[VAT Amount]               * @CurrencyFactor [VAT Amount]
        , CO.[Name] [Countryname]
        , CASE 
            WHEN RH.[Document Type] = '16'           THEN COALESCE(PEG.[Fax Extension for Reminder],'392')
            WHEN CU.[Contract Status] IN ('10','11') THEN '3634'
            WHEN COALESCE(RC.[Fax No_],'') = ''      THEN COALESCE(PG.[Fax Extension for Reminder],'392') 
            ELSE COALESCE(RC.[Fax No_],'') 
          END [Fax Extension]
        , CASE WHEN COALESCE(RC.[Phone No_],'') = '' THEN COALESCE(PG.[Phone Extension],'800') 
          ELSE COALESCE(RC.[Phone No_],'') END [Phone Extension]
        , CO.[Continent]
        , CU.[Payment Method Code]
        , CASE WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN
            ''
          ELSE
            CASE 
              WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +86 (0) 21 5197 6705 Fax: +86(0)21 5197 6449'
              WHEN ',10,103,106,107,118,121,126,128,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,257,258,259,265,266,268,270,30,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +86 (0) 21 5197 6705 Fax: +86(0)21 5197 6448'
              ELSE
                ''
            END    
          END [Special Fax]
        , CASE 
            WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%'       THEN
              'email: accounting_fax@hrs.cn'
            WHEN ',10,103,106,107,118,121,126,128,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,257,258,259,265,266,268,270,30,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
              'email: accounting_fax@hrs.cn'
            WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN 
              '3634@hrs.de'
            WHEN RH.[Document Type] = '16'                                  THEN 
              COALESCE(PEG.[Fax Extension for Reminder],'392') + '@hrs.de'
            WHEN COALESCE(RC.[Fax No_],'') = ''                             THEN 
              COALESCE(PG.[Fax Extension for Reminder],'392') + '@hrs.de' 
            ELSE 
              COALESCE(RC.[Fax No_] + '@hrs.de','') 
          END [Special E-Mail]
        , [Reminder Remaining Amount].[Min_ Document Date]
        , [Reminder Remaining Amount].[Max_ Document Date]
        , [Service].[Hotel Turnover]
        , RH.[Contact]
        , PG.[Description] [Salesperson]
        , CU.[VAT Registration No_]
        , (COALESCE(B1.[Description],'')) [Bank_1_Descrption]
        , (COALESCE(B1.[Account],''))     [Bank_1_Account]
        , (COALESCE(B1.[BLZ],''))         [Bank_1_BLZ]
        , (COALESCE(B1.[Swift],''))       [Bank_1_Swift]
        , (COALESCE(B1.[IBAN],''))        [Bank_1_IBAN]
        , COALESCE(CAST(B1.[BankTxt] AS VARCHAR(max)),'')          [Bank_1_BankTxt]
        , (COALESCE(B2.[Description],'')) [Bank_2_Descrption]
        , (COALESCE(B2.[Account],''))     [Bank_2_Account]
        , (COALESCE(B2.[BLZ],''))         [Bank_2_BLZ]
        , (COALESCE(B2.[Swift],''))       [Bank_2_Swift]
        , (COALESCE(B2.[IBAN],''))        [Bank_2_IBAN]
        , COALESCE(CAST(B2.[BankTxt] AS VARCHAR(max)),'')          [Bank_2_BankTxt]
        , (COALESCE(B3.[Description],'')) [Bank_3_Descrption]
        , (COALESCE(B3.[Account],''))     [Bank_3_Account]
        , (COALESCE(B3.[BLZ],''))         [Bank_3_BLZ]
        , (COALESCE(B3.[Swift],''))       [Bank_3_Swift]
        , (COALESCE(B3.[IBAN],''))        [Bank_3_IBAN]
        , COALESCE(CAST(B3.[BankTxt] AS VARCHAR(max)),'')          [Bank_3_BankTxt]
     FROM [HRS-BR$Reminder Header] RH WITH (READUNCOMMITTED)
     JOIN [HRS-BR$Country_Region]         CO WITH (READUNCOMMITTED)
       ON CO.[Code] = RH.[Country_Region Code]
     JOIN [HRS-BR$Customer]               CU WITH (READUNCOMMITTED)
       ON CU.[No_]  = RH.[Customer No_]
     JOIN [HRS-BR$Additional Customer]    AC WITH (READUNCOMMITTED)
       ON AC.[No_]  = CU.[No_]
     JOIN @AdrTypes AT ON AT.[AdrType] = AC.[Address Type]
     JOIN @AdrNames AN ON AN.[Index]   = AT.[Index]
LEFT JOIN [HRS-BR$Responsibility Center]  RC WITH (READUNCOMMITTED)
       ON CU.[Responsibility Center] = RC.Code
LEFT JOIN [HRS-BR$Printer Group]          PG WITH (READUNCOMMITTED)
       ON PG.[Code] = CU.[Salesperson Code]
LEFT JOIN [HRS-BR$Printer Group]          PEG WITH (READUNCOMMITTED)
       ON PEG.[Code]                  = 'PEGASUS'
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Commission Amount]
               FROM [HRS-BR$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 3
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Commission Amount] 
       ON RH.[No_] = [Reminder Commission Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Amount] ELSE RL.[Amount] * @CurrencyFactor END
                    ) AS [Interest Amount]
               FROM [HRS-BR$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Interest Amount] ON RH.[No_] = [Reminder Interest Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Fee Amount]
               FROM [HRS-BR$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 1
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Fee Amount] ON RH.[No_] = [Reminder Fee Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Remaining Amount] ELSE 
                      CASE WHEN @CurrencyCode = RL.[Currency Code (Entry)] THEN RL.[Remaining Amount (Curr)] ELSE
                        RL.[Remaining Amount] * @CurrencyFactor
                      END
                    END
                    ) AS [Remaining Amount]
                  , MIN(RL.[Document Date]) AS [Min_ Document Date]
                  , MAX(RL.[Document Date]) AS [Max_ Document Date]
               FROM [HRS-BR$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Remaining Amount] ON RH.[No_] = [Reminder Remaining Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(DL.[Commission Base Amount] * DL.[Number of Nights])  [Hotel Turnover]
               FROM [HRS-BR$Reminder Line]  RL WITH (NOLOCK )
               JOIN [HRS-BR$Agency Display Header] DH WITH (NOLOCK)
                 ON DH.[Posted Invoice No_] = RL.[Document No_]
               JOIN [HRS-BR$Agency Display Line]   DL WITH (NOLOCK) 
                 ON DL.[Display Case No_] = DH.[Case No_]              
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Service] ON RH.[No_] = [Service].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[VAT Amount]) AS [VAT Amount]
               FROM [HRS-BR$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder VAT Amount] ON RH.[No_] = [Reminder VAT Amount].[Reminder No_]					
 LEFT JOIN BANK B1 ON B1.[Sequences] = 0 AND B1.[Country Code] = RH.[Country_Region Code]       
 LEFT JOIN BANK B2 ON B2.[Sequences] = 1 AND B2.[Country Code] = RH.[Country_Region Code]       
 LEFT JOIN BANK B3 ON B3.[Sequences] = 2 AND B3.[Country Code] = RH.[Country_Region Code]       
    WHERE RH.[No_] = @ReNr
END
GO
