USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPCentralBillingInvoiceTax_SIK_20160308]    Script Date: 10.04.2024 14:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 28.11.2014
-- Description:	
--

-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 
-- 
-- 
-- 
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = '50915876'
EXEC [dbo].[sp_RPCentralBillingInvoiceTax] @ReNr
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPCentralBillingInvoiceTax_SIK_20160308] 
    @ReNr varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
    ;WITH IP AS
    (
      SELECT IP.[Process No_]
           , SUM(IL.[VAT Base Amount]) [VAT Base Amount]
           , IL.[VAT Rate]
           , SUM(IL.[VAT Amount])      [VAT Amount]
           , SUM(IL.[Amount])          [Amount]
           , CASE WHEN IL.[Currency Code]='' THEN 'EUR' ELSE IL.[Currency Code] END [Currency Code]
        FROM [HRS Payment$Paym_ Solution Inv_ Imp]      IP WITH (NOLOCK)
        JOIN [HRS Payment$Paym_ Solution Inv_ Line Imp] IL WITH (NOLOCK)
          ON IL.[Invoice GUID] = IP.[Invoice GUID]
    GROUP BY IP.[Process No_]
           , IL.[VAT Rate]
           , CASE WHEN IL.[Currency Code]='' THEN 'EUR' ELSE IL.[Currency Code] END
       UNION
       
      SELECT IP.[Process No_]
           , SUM(IL.[VAT Base Amount]) [VAT Base Amount]
           , IL.[VAT Rate]
           , SUM(IL.[VAT Amount])      [VAT Amount]
           , SUM(IL.[Amount])          [Amount]
           , CASE WHEN IL.[Currency Code]='' THEN 'EUR' ELSE IL.[Currency Code] END [Currency Code]
        FROM [HRS Payment$Paym_ Solution Invoice]      IP WITH (NOLOCK)
        JOIN [HRS Payment$Paym_ Solution Invoice Line] IL WITH (NOLOCK)
          ON IL.[Invoice GUID] = IP.[Invoice GUID]
    GROUP BY IP.[Process No_]
           , IL.[VAT Rate]
           , CASE WHEN IL.[Currency Code]='' THEN 'EUR' ELSE IL.[Currency Code] END
    )
      SELECT ROW_NUMBER() OVER(ORDER BY IP.[Process No_],IP.[Currency Code], IP.[VAT Rate]) [Row Number]
           , IP.*
        FROM IP
       WHERE IP.[Process No_] = @ReNr
  END

GO
