USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_HRS-CN_RPBankInformation]    Script Date: 10.04.2024 14:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.08.2012
-- Description:	Bankinfotexte für Belege
-- execute [dbo].[sp_HRS-CN_RPBankInformation] '33',0
-- =============================================
CREATE PROCEDURE [dbo].[sp_HRS-CN_RPBankInformation] 
    @Custcountry varchar(10)
  , @Position int
AS
BEGIN
  SET NOCOUNT ON;

SELECT BK.[Bank]
     , BK.[BankTxt]
     , BK.[BLZ]
     , BK.[Swift]
     , BK.[IBAN]
     , BK.[Account]
     , BK.[Description]
     , BR.[Sequences]    [Reihenfolgen]
  FROM [HRS-CN$Bank Regulation] BR WITH (READUNCOMMITTED)
  JOIN [HRS-CN$Bank Account]    BA WITH (READUNCOMMITTED)
    ON BR.[Bank No_] = BA.[No_]
  JOIN [Bank] BK WITH (READUNCOMMITTED)
    ON BR.[Bank No_] = BK.[BankCode] COLLATE Latin1_General_CI_AS
 WHERE BR.[Country Code] = @Custcountry
   AND BR.[Sequences] = @Position

END


GO
