USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[PrepareChinalodging]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 14.02.2022
-- Description:	Ändert den Rate Plan Code . Siehe ACS-3452
-- 1219
-- 475
-- =============================================
CREATE PROC [dbo].[PrepareChinalodging]
AS
BEGIN
UPDATE AL SET
       AL.[Rate Plan Code]='CHLODG:0'
     , AL.[Commission Type]=12
  FROM [HRS-CN$Agency Line] AL 
  JOIN [HRS-CN$Agency Header] AH WITH (NOLOCK) ON AH.[Reservation No_]=AL.[Reservation No_]
 WHERE AH.[Departure Date] >= '2022-01-01'
   AND AH.[MuseID] = 'CHINALODGING'
   AND (
           AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][A-Z]-0-%' 
        OR AL.[Rate Plan Code] LIKE 'T:[A-Z][A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] LIKE 'T:[A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] LIKE '[0-9]:[A-Z][A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] LIKE '[0-9]:[A-Z][A-Z][0-9]-0-%' 
        OR AL.[Rate Plan Code] = 'CHLODG:0'
       )
   AND AL.[Rate Plan Code]<>'CHLODG:0'

UPDATE AL SET
       AL.[Rate Plan Code]='CHLODG:3'
     , AL.[Commission Type]=12
  FROM [HRS-CN$Agency Line] AL 
  JOIN [HRS-CN$Agency Header] AH WITH (NOLOCK) ON AH.[Reservation No_]=AL.[Reservation No_]
 WHERE AH.[Departure Date] >= '2022-01-01'
   AND AH.[MuseID] = 'CHINALODGING'
   AND (
           AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] LIKE 'F:[A-Z][A-Z][A-Z]-3-%' 
        OR AL.[Rate Plan Code] LIKE 'T:[A-Z][A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] LIKE 'T:[A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] LIKE '[0-9]:[A-Z][A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] LIKE '[0-9]:[A-Z][A-Z][0-9]-3-%' 
        OR AL.[Rate Plan Code] = 'CHLODG:3'
       )
   AND AL.[Rate Plan Code]<>'CHLODG:3'
END
GO
