USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMPInvoiceData_CN]    Script Date: 10.04.2024 14:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetMPInvoiceData_CN] AS
BEGIN
;WITH SL_RFP AS (SELECT [No_],REPLACE([Comment],'RFP Name:           ','') [Comment] FROM [HRS-CN$Sales Comment Line] WHERE [Comment] LIKE 'RFP Name:%')
, SL_ACC AS (SELECT [No_],LTRIM(REPLACE([Comment],'Acceptance Date:','')) [Comment] FROM [HRS-CN$Sales Comment Line] WHERE [Comment] LIKE 'Acceptance Date:%')
, SH AS
(
SELECT SH.[Sell-to Customer No_]
	 , SH.[Posting Date]
     , SH.[Vertragsbeginn] [Contract Start Date]
     , SH.[Vertragsende] [Contract End Date]
	 , CASE 
	     WHEN ISNUMERIC(REPLACE(SH.[External Document No_],'FKEY: ',''))>0 THEN CAST(REPLACE(SH.[External Document No_],'FKEY: ','') AS int)
		 ELSE 0
	   END [Company No_]
	 , SH.[Posting Description]
	 , SL_RFP.[Comment] RFP
	 , CAST(COALESCE(CASE WHEN LEN(SL_ACC.[Comment])>8 THEN RIGHT(SL_ACC.[Comment],4) ELSE '20'+RIGHT(SL_ACC.[Comment],2) END +'-'+SUBSTRING(SL_ACC.[Comment],4,2)+'-'+LEFT(SL_ACC.[Comment],2),'1753-01-01') as date) [Acceptance Date]
	 , SH.[Shortcut Dimension 1 Code] [Cost Center]
	 , SH.[Shortcut Dimension 2 Code] [Cost Unit]
	 , CASE
	     WHEN REPLACE(SH.[External Document No_],'FKEY: ','')='MP2.0 SUCCESS' THEN 'MP2.0'
		 WHEN SH.[Posting Description]='Market Place Acceptance Fee' THEN 'MP3.0'
		 WHEN SH.[Posting Description]='Market Place Prime Acceptance Fee' AND CLE.[Sales (LCY)]=999 THEN 'MPP3.0'
		 WHEN SH.[Posting Description]='Market Place Fee' AND CLE.[Sales (LCY)]=399 THEN 'MP2.0'
		 WHEN SH.[Posting Description]='Market Place Prime Acceptance Fee' AND CLE.[Sales (LCY)]=399 THEN 'MPP2.0'
		 WHEN SH.[Posting Description]='Market Place Prime Acceptance Fee' THEN 'MPPx.x'
		 WHEN CHARINDEX('Market Place Fee',SH.[Posting Description])>0 AND ABS(CLE.[Sales (LCY)]-750)<1 THEN 'MP1.0 750'
		 WHEN CHARINDEX('Market Place Fee',SH.[Posting Description])>0 AND ABS(CLE.[Sales (LCY)]-500)<1 THEN 'MP1.0 500'
		 WHEN CHARINDEX('Market Place SMART',SH.[Posting Description])>0 AND ABS(CLE.[Sales (LCY)]-249)<2 AND SH.[Shortcut Dimension 2 Code]='C36' THEN 'MPS1.0'
		 ELSE ''
	   END [Contract Type]
     , CLE.[Entry No_] [Cust. Ledg. Entry No_]
	 , CLE.[Document No_] [Posted Invoice No_]
	 , CLE.[Sales (LCY)]
  FROM DynNavHRS.dbo.[HRS-CN$Sales Invoice Header] SH WITH (NOLOCK)
  JOIN DynNavHRS.dbo.[HRS-CN$Cust_ Ledger Entry] CLE WITH (NOLOCK)
    ON CLE.[Document No_]=SH.[No_]
   AND CLE.[Document Type]=2
LEFT JOIN SL_RFP ON SL_RFP.[No_]=SH.[No_]
LEFT JOIN SL_ACC ON SL_ACC.[No_]=SH.[No_]
 WHERE [Order Type]=4
   AND SH.[Document Date]>='2020-01-01'
 )
 SELECT * 
 --UPDATE RFP SET
 --       [RFP].[Posted Invoice No_]=SH.[Posted Invoice No_]
 --     , [RFP].[Cust_ Ledger Entry No_]=SH.[Cust. Ledg. Entry No_]
   FROM SH 
LEFT JOIN [HRS-CN$Markeplace Fee RFP] RFP ON RFP.[Bill-to Customer No_]=SH.[Sell-to Customer No_] AND RFP.[RFP Name]=SH.RFP
  WHERE 1=1
    --AND RFP.[Bill-to Customer No_] IS NULL
    AND (SH.[Contract Start Date] >= '2020-01-01' OR SH.[Contract Start Date]='1753-01-01')
	AND SH.RFP<>''
--	AND SH.[Sell-to Customer No_] IN ('10011','100199','10021','1002530','1002531','1002962','1009981','1011881','1012421','1013225','102356','10236','10255','102584','1026208','103149','1035126','103573','1047','105','1051446','1051953','106333','10714','107770','11149','112171','11233','11300','1133','114115','126242','127393','127768','12859','12944','13333','13421','134666','13586','13980','140033','14112','143491','144','14449','144986','14510','146554','14691','14841','150367','151245','151457','15265','153146','153472','153586','154608','154647','15919','15922','15970','160278','160444','16113','162','162069','164195','168546','169703','17043','171102','171340','171529','171964','1784','179019','1802','18161','18192','183','18561','18813','190367','19845','20661','21192','213309','215436','215529','215919','21666','217056','217338','217489','219841','220043','222557','223092','22603','22728','22842','22872','22898','23585','24125','2421','24212','24306','24393','24468','250313','2535','25440','254716','254755','257400','2581','25840','259921','260077','27065','2716','27176','2824','2879','29286','29858','29888','29901','30057','30296','31162','31166','3138','3158','32','3208','32736','3292','33405','33931','3422','3464','3482','3494','351659','35234','3530','35364','3541','35647','36439','36492','366107','368069','36811','36844','37','370007','370875','371846','37296','373492','373504','373651','373908','37517','375560','377052','37747','378708','379295','379507','379711','379897','3803','380411','380432','380934','382256','382486','383129','38349','387096','38863','389042','389548','3908','391290','391338','391514','391789','391935','391942','392193','395452','396941','397702','39998','400914','402151','402153','402237','403405','403542','407','407068','407314','407748','407880','408769','4090','409230','409505','40977','410002','410073','411930','413675','413905','413975','4148','41736','41737','41739','41756','417636','420538','42062','421354','421412','422180','422503','423439','430175','43046','43055','430635','430779','43119','431680','43356','434366','43933','439448','439556','439942','440699','441064','442235','44336','44356','44427','44455','445921','447772','448022','45250','45360','455725','457690','46','46075','46490','465778','46922','47007','47457','477','47808','48101','48228','48237','484956','487154','4939','50236','50556','50869','510','519295','5238','524321','5307','532050','538089','539539','539937','541025','542329','542408','543026','54386','544446','546510','547186','550031','55166','552038','553388','553451','55585','55723','55976','56','5620','562443','565174','56588','5679','5684','574573','574667','579428','579672','5800','58045','581797','584429','588244','5886','5963','60034','60812','60834','60859','612446','612597','618295','618693','62048','62073','6240','62545','626030','6288','629442','6299','631177','632082','633176','63327','6337','63723','641672','642100','6462','64907','649720','652630','653042','653392','653978','65812','658373','658721','659172','659330','66124','66357','66690','66927','67441','67497','67538','6781','6783','6820','682832','683473','684295','6851','6853','685410','6855','685916','686209','686436','686972','689363','68959','68961','689857','690564','690611','692196','69389','6939','694148','694965','695077','696732','697271','698208','699338','699973','701581','702046','70993','710451','718406','718414','718597','719037','719428','724297','725417','72732','732','73400','73416','735862','73643','73827','741','74163','742418','743062','74976','75287','764306','766291','766802','76802','773303','775265','77639','780033','78130','789782','789911','790592','790968','79125','7921','79329','81375','826503','83148','8361','84832','85133','855','8558','85849','863869','8644','864709','865165','865827','865871','865979','8702','873248','874697','875640','875976','878855','88044','880827','881542','881903','882114','883220','883864','884031','886054','886624','886756','89','891127','89162','89528','899322','905588','931035','931534','932502','932815','936257','937979','943874','957318','957691','957698','957707','957708','958782','959507','962751','962934','963005','963176','963499','97','9819','981941','982438','986493','987271')
	AND [Sales (LCY)]=999

ORDER BY RFP,[Sell-to Customer No_]
END
GO
