USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPReminderHeader_HRS-CN]    Script Date: 10.04.2024 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 26.03.2013
-- Description:	Mahnungszeilen
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = 'CN1000074300'
EXEC [dbo].[sp_RPReminderHeader_HRS-CN] @ReNr
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPReminderHeader_HRS-CN] 
    @ReNr varchar(25)
AS
BEGIN
  DECLARE @CurrencyCode VARCHAR(10), @CurrencyFactor DECIMAL(38,20)
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS-CN$Issued Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
  IF @CurrencyCode IS NULL  
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS-CN$Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
  SET NOCOUNT ON;
   SELECT RH.[No_]
        , REPLACE(RH.[Name 2],CHAR(10),'') [Name 2]
        , RH.[Customer No_]
        , REPLACE(RH.[Name],CHAR(10),'') [Name]
        , REPLACE(RH.[Address],CHAR(10),'') [Address]
        , REPLACE(RH.[Address 2],CHAR(10),'') [Address 2]
        , RH.[Post Code]
        , RH.[City]
        , RH.[Document Date]
        , RH.[Posting Date]
        , RH.[Due Date]
        , CU.[Currency Code] [Customer Currency Code]
        , @CurrencyCode [Currency Code]
        , @CurrencyFactor [Currency Factor]
        , RH.[Reminder Level]
        , RH.[Country_Region Code]
        , RH.[Language Code]
        , [Reminder Commission Amount].[Commission Amount] * @CurrencyFactor [Commission Amount]
        , [Reminder Interest Amount].[Interest Amount]                       [Interest Amount]
        , [Reminder Fee Amount].[Fee Amount]                                 [Fee Amount]
        , [Reminder Remaining Amount].[Remaining Amount]                     [Remaining Amount]
        , [Reminder VAT Amount].[VAT Amount]               * @CurrencyFactor [VAT Amount]
        , CO.[Name] [Countryname]
        , CASE 
            WHEN CU.[Contract Status] IN ('10','11') THEN '3634'
            WHEN COALESCE(RC.[Fax No_],'') = ''      THEN COALESCE(PG.[Fax Extension for Reminder],'392') 
            ELSE COALESCE(RC.[Fax No_],'') 
          END [Fax Extension]
        , CASE WHEN COALESCE(RC.[Phone No_],'') = '' THEN COALESCE(PG.[Phone Extension],'800') 
          ELSE COALESCE(RC.[Phone No_],'') END [Phone Extension]
        , CO.[Continent]
        , CU.[Payment Method Code]
        , CASE WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN
            ''
          ELSE
            CASE 
              WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +49 (0) 221 2077-800 Fax: +86(0)21 5197 6449'
              WHEN ',10,103,106,107,118,121,126,128,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,257,258,259,265,266,268,270,30,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +49 (0) 221 2077-800 Fax: +86(0)21 5197 6448'
              ELSE
                ''
            END    
          END [Special Fax]
     FROM [HRS-CN$Issued Reminder Header] RH WITH (READUNCOMMITTED)
     JOIN [HRS-CN$Country_Region]         CO WITH (READUNCOMMITTED)
       ON CO.[Code] = RH.[Country_Region Code]
     JOIN [HRS-CN$Customer]               CU WITH (READUNCOMMITTED)
       ON CU.[No_]  = RH.[Customer No_]
LEFT JOIN [HRS-CN$Responsibility Center]  RC WITH (READUNCOMMITTED)
       ON CU.[Responsibility Center] = RC.Code
LEFT JOIN [HRS-CN$Printer Group]          PG WITH (READUNCOMMITTED)
       ON PG.[Code] = CU.[Salesperson Code]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Commission Amount]
               FROM [HRS-CN$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 3
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Commission Amount] 
       ON RH.[No_] = [Reminder Commission Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Amount] ELSE RL.[Amount] * @CurrencyFactor END
                    ) AS [Interest Amount]
               FROM [HRS-CN$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Interest Amount] ON RH.[No_] = [Reminder Interest Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Fee Amount]
               FROM [HRS-CN$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 1
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Fee Amount] ON RH.[No_] = [Reminder Fee Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Remaining Amount] ELSE 
                      CASE WHEN @CurrencyCode = RL.[Currency Code (Entry)] THEN RL.[Remaining Amount (Curr)] ELSE
                        RL.[Remaining Amount] * @CurrencyFactor
                      END
                    END
                    ) AS [Remaining Amount]
               FROM [HRS-CN$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Remaining Amount] ON RH.[No_] = [Reminder Remaining Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[VAT Amount]) AS [VAT Amount]
               FROM [HRS-CN$Issued Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder VAT Amount] ON RH.[No_] = [Reminder VAT Amount].[Reminder No_]					
    WHERE RH.[No_] = @ReNr
UNION    
   SELECT RH.[No_]
        , REPLACE(RH.[Name 2],CHAR(10),'') [Name 2]
        , RH.[Customer No_]
        , REPLACE(RH.[Name],CHAR(10),'') [Name]
        , REPLACE(RH.[Address],CHAR(10),'') [Address]
        , REPLACE(RH.[Address 2],CHAR(10),'') [Address 2]
        , RH.[Post Code]
        , RH.[City]
        , RH.[Document Date]
        , RH.[Posting Date]
        , RH.[Due Date]
        , CU.[Currency Code] [Customer Currency Code]
        , @CurrencyCode [Currency Code]
        , @CurrencyFactor [Currency Factor]
        , RH.[Reminder Level]
        , RH.[Country_Region Code]
        , RH.[Language Code]
        , [Reminder Commission Amount].[Commission Amount] * @CurrencyFactor [Commission Amount]
        , [Reminder Interest Amount].[Interest Amount]                       [Interest Amount]
        , [Reminder Fee Amount].[Fee Amount]                                 [Fee Amount]
        , [Reminder Remaining Amount].[Remaining Amount]                     [Remaining Amount]
        , [Reminder VAT Amount].[VAT Amount]               * @CurrencyFactor [VAT Amount]
        , CO.[Name] [Countryname]
        , CASE 
            WHEN CU.[Contract Status] IN ('10','11') THEN '3634'
            WHEN COALESCE(RC.[Fax No_],'') = ''      THEN COALESCE(PG.[Fax Extension for Reminder],'392') 
            ELSE COALESCE(RC.[Fax No_],'') 
          END [Fax Extension]
        , CASE WHEN COALESCE(RC.[Phone No_],'') = '' THEN COALESCE(PG.[Phone Extension],'800') 
          ELSE COALESCE(RC.[Phone No_],'') END [Phone Extension]
        , CO.[Continent]
        , CU.[Payment Method Code]
        , CASE WHEN CU.[Contract Status] = '10' OR CU.[Contract Status] = '11' THEN
            ''
          ELSE
            CASE 
              WHEN ',29,57,92,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +49 (0) 221 2077-800 Fax: +86(0)21 5197 6449'
              WHEN ',10,103,107,118,121,137,139,151,153,166,170,186,191,20,233,235,238,24,242,251,253,266,41,59,67,74,83,86,95,96,' LIKE '%,'+RH.[Country_Region Code]+',%' THEN
                'Tel： +49 (0) 221 2077-800 Fax: +86(0)21 5197 6448'
              ELSE
                ''
            END    
          END [Special Fax]
     FROM [HRS-CN$Reminder Header] RH WITH (READUNCOMMITTED)
     JOIN [HRS-CN$Country_Region]         CO WITH (READUNCOMMITTED)
       ON CO.[Code] = RH.[Country_Region Code]
     JOIN [HRS-CN$Customer]               CU WITH (READUNCOMMITTED)
       ON CU.[No_]  = RH.[Customer No_]
LEFT JOIN [HRS-CN$Responsibility Center]  RC WITH (READUNCOMMITTED)
       ON CU.[Responsibility Center] = RC.Code
LEFT JOIN [HRS-CN$Printer Group]          PG WITH (READUNCOMMITTED)
       ON PG.[Code] = CU.[Salesperson Code]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Commission Amount]
               FROM [HRS-CN$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 3
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Commission Amount] 
       ON RH.[No_] = [Reminder Commission Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Amount] ELSE RL.[Amount] * @CurrencyFactor END
                    ) AS [Interest Amount]
               FROM [HRS-CN$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Interest Amount] ON RH.[No_] = [Reminder Interest Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[Amount]) AS [Fee Amount]
               FROM [HRS-CN$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 1
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Fee Amount] ON RH.[No_] = [Reminder Fee Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(
                    CASE WHEN @CurrencyCode = 'EUR' THEN RL.[Remaining Amount] ELSE 
                      CASE WHEN @CurrencyCode = RL.[Currency Code (Entry)] THEN RL.[Remaining Amount (Curr)] ELSE
                        RL.[Remaining Amount] * @CurrencyFactor
                      END
                    END
                    ) AS [Remaining Amount]
               FROM [HRS-CN$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Type] = 2
                AND RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder Remaining Amount] ON RH.[No_] = [Reminder Remaining Amount].[Reminder No_]
LEFT JOIN (
             SELECT RL.[Reminder No_]
                  , SUM(RL.[VAT Amount]) AS [VAT Amount]
               FROM [HRS-CN$Reminder Line] RL WITH (READUNCOMMITTED)
              WHERE RL.[Reminder No_] = @ReNr
           GROUP BY RL.[Reminder No_]
          ) AS [Reminder VAT Amount] ON RH.[No_] = [Reminder VAT Amount].[Reminder No_]					
    WHERE RH.[No_] = @ReNr
END


GO
