USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPAccountOverviewDetails_SIK]    Script Date: 10.04.2024 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 
-- Description:	
/*
SET Language German
DECLARE   @ReNr VARCHAR(20)
 SELECT @ReNr  = '1328353000' -- 3-facher Wert
 SELECT @ReNr  = '1323418000' -- zu hoher Restbetrag
 SELECT @ReNr  = '1325275000' -- kein Betrag
EXEC [dbo].[sp_RPAccountOverviewDetails] @ReNr 
*/
-- ================================================
CREATE PROCEDURE [dbo].[sp_RPAccountOverviewDetails_SIK] 
(
	  @ReNr							VARCHAR(20)
) WITH RECOMPILE
AS BEGIN
  DECLARE @CurrencyCode VARCHAR(10), @CurrencyFactor DECIMAL(38,20), @MaxDate datetime, @DocumentDate datetime
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS$Issued Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
  IF @CurrencyCode IS NULL  
   SELECT @CurrencyCode = [Currency Code], @CurrencyFactor = [Currency Factor] FROM [HRS$Reminder Header] WITH (READUNCOMMITTED) WHERE [No_] = @ReNr
PRINT @CurrencyCode
PRINT @CurrencyFactor
  DECLARE @CustomerNo VARCHAR(20), @LanguageCode VARCHAR(10)
  ;WITH RH AS
  (
   SELECT RH.[Customer No_], RH.[Language Code], RH.[Posting Date]
     FROM [HRS$Reminder Header] RH
    WHERE RH.[No_] = @ReNr
   UNION
   SELECT RH.[Customer No_], RH.[Language Code], RH.[Posting Date]
     FROM [HRS$Issued Reminder Header] RH
    WHERE RH.[No_] = @ReNr
  )
  SELECT @CustomerNo = RH.[Customer No_] 
       , @LanguageCode = RH.[Language Code]
       , @MaxDate = RH.[Posting Date] --DATEADD(dd,-DATEPART(dd,RH.[Posting Date])-1,RH.[Posting Date])
       , @DocumentDate = RH.[Posting Date]
    FROM RH
  
  ;WITH RL AS
  (
   SELECT RL.[Document No_], RL.[Document Type], RL.[Posting Date], RL.[Document Date], RL.Description, RL.[Original Amount (Curr)], RL.[Remaining Amount (Curr)], RL.[Original Amount], RL.[Remaining Amount] FROM [HRS$Reminder Header] RH WITH (NOLOCK) JOIN [HRS$Reminder Line] RL WITH (NOLOCK) ON RH.[No_] = RL.[Reminder No_] WHERE RH.[No_] = @ReNr UNION
   SELECT RL.[Document No_], RL.[Document Type], RL.[Posting Date], RL.[Document Date], RL.Description, RL.[Original Amount (Curr)], RL.[Remaining Amount (Curr)], RL.[Original Amount], RL.[Remaining Amount] FROM [HRS$Issued Reminder Header] RH JOIN [HRS$Issued Reminder Line] RL WITH (NOLOCK) ON RH.[No_] = RL.[Reminder No_] WHERE RH.[No_] = @ReNr
  ), _BookingSums AS
  (
            SELECT CLE.[Reservierungsnr_]
                 , SUM(DLE.[Amount (LCY)]) [Amount (LCY)]
                 , SUM(CASE WHEN DLE.[Entry Type] =  0 THEN DLE.[Amount] ELSE 0 END) AS [Unknown_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  1 THEN DLE.[Amount] ELSE 0 END) AS [Initial Entry_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  2 THEN DLE.[Amount] ELSE 0 END) AS [Application_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  3 THEN DLE.[Amount] ELSE 0 END) AS [Unrealized Loss_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  4 THEN DLE.[Amount] ELSE 0 END) AS [Unrealized Gain_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  5 THEN DLE.[Amount] ELSE 0 END) AS [Realized Loss_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  6 THEN DLE.[Amount] ELSE 0 END) AS [Realized Gain_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  7 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  8 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  9 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 10 THEN DLE.[Amount] ELSE 0 END) AS [ppln. Rounding_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 11 THEN DLE.[Amount] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 12 THEN DLE.[Amount] ELSE 0 END) AS [Payment Tolerance_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 13 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 14 THEN DLE.[Amount] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 15 THEN DLE.[Amount] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 16 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 17 THEN DLE.[Amount] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]
              FROM [HRS$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
              JOIN [HRS$Cust_ Ledger Entry]         CLE WITH (NOLOCK)  
                ON DLE.[Cust_ Ledger Entry No_]=CLE.[Entry No_]
			  JOIN [HRS$Customer]                   CU  WITH (NOLOCK)
			 	ON CU.[No_] = CLE.[Customer No_]
			  JOIN RL ON RL.[Document No_] = CLE.[Document No_]
             WHERE CU.[No_] = @CustomerNo
          GROUP BY CLE.[Reservierungsnr_]
  ), _InvoiceSums AS
  (
            SELECT CLE.[Document No_]
                 , CLE.[Document Type]
                 , CLE.[Currency Code]
                 , CLE.[Customer No_]
                 , SUM(CASE WHEN DLE.[Entry Type] =  0 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Unknown_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  1 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  2 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Application_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  3 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  4 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  5 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  6 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  7 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  8 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] =  9 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 10 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 11 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 12 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 13 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 14 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 15 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 16 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN DLE.[Entry Type] = 17 THEN DLE.[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]
              FROM [HRS$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
              JOIN [HRS$Cust_ Ledger Entry]         CLE WITH (NOLOCK)  
                ON DLE.[Cust_ Ledger Entry No_]=CLE.[Entry No_]
			  JOIN [HRS$Customer]                   CU  WITH (NOLOCK)
			 	ON CU.[No_] = CLE.[Customer No_]													  
			  JOIN RL ON RL.[Document No_] = CLE.[Document No_]
             WHERE CU.[No_] = @CustomerNo
               --AND CLE.[Document Type] IN (2,3)
               AND CLE.[Open] = 1
          GROUP BY CLE.[Document No_]
                 , CLE.[Document Type]
                 , CLE.[Currency Code]
                 , CLE.[Customer No_]
  ), _AgencyHeader AS
  (
            SELECT AH.[Posted Invoice No_] 
                 , AL.[MuseID]
                 , AL.[Reservation No_]
                 , AL.[Client Guestname 1]     AS [Guestname 1]
                 , AL.[Client Guestname 2]     AS [Guestname 2]
                 , MIN(AL.[Reservation Date from]) AS Arrival
                 , MAX(AL.[Reservation Date to])   AS Departure
                 , AL.[Booking Code]           AS Buchungscode
                 , AL.[Rate Type]              AS [Rate Typ]
                 , AL.[Rate Description]       AS [Rate Bezeichnung]
                 , SUM(CASE WHEN ZZ.[Reservierungsnummer] IS NULL THEN AL.[Line Amount] ELSE 0 END)       AS [Amount of Debits]
                 , AH.[Currency Factor]
              FROM [HRS$Agency Display Line]   AL WITH (NOLOCK)
              JOIN [HRS$Agency Display Header] AH WITH (NOLOCK)
                ON AH.[Case No_] = AL.[Display Case No_]
              JOIN [HRS$Customer]              CU WITH (NOLOCK)
                ON CU.[No_] = AH.[Bill-to Customer No_]
			  JOIN RL 
			    ON RL.[Document No_]  = AH.[Posted Invoice No_]
			   AND RL.[Document Type] = 2
         LEFT JOIN [HRS$CDG Import Zahlungszentralen] ZZ WITH (NOLOCK) 
                ON ZZ.[Reservierungsnummer] = AL.[Reservation No_]
               AND (
                      [Buch_ Description] LIKE '%/Cancellation%'           OR [Action Code] = 'CXLD'
                   OR [Buch_ Description] LIKE '%/NoShow%'                 OR [Action Code] = 'NSHW'
                   OR [Buch_ Description] LIKE '%/NON Commisionable Stay%' OR [Action Code] = 'NETC' 
                   )
             WHERE CU.[No_] = @CustomerNo
               AND AL.Action<>3
          GROUP BY AH.[Posted Invoice No_] 
                 , AL.[MuseID]
                 , AL.[Reservation No_]
                 , AL.[Client Guestname 1]
                 , AL.[Client Guestname 2]
                 , AL.[Booking Code]
                 , AL.[Rate Type]
                 , AL.[Rate Description]              
                 , AH.[Currency Factor]
  ), _Result AS
  (
     SELECT CLE.[Document No_]
          , CLE.[Document Type]
          , CASE WHEN CLE.[Currency Code]<>@CurrencyCode THEN @CurrencyCode ELSE CLE.[Currency Code] END [Currency Code]
          , AH.MuseID
          , AH.[Reservation No_]
          , AH.Buchungscode
          , AH.[Guestname 1]
          , AH.[Guestname 2]
          , AH.Arrival
          , AH.Departure
          , CASE WHEN CU.[VAT Bus_ Posting Group]='INLAND' THEN 19 ELSE 0 END AS VAT
          , COALESCE(AH.[Rate Bezeichnung],'') [Rate Bezeichnung]
          , ROUND(
            CASE WHEN ZZ.[Reservierungsnummer] IS NULL THEN
              CASE WHEN CLE.[Currency Code]<>@CurrencyCode THEN 
                AH.[Amount of Debits] / AH.[Currency Factor] * @CurrencyFactor 
              ELSE 
                AH.[Amount of Debits] 
              END  
            ELSE
              ZZ.[CustLedgValue (LCY)] * ZZ.ConversationRate * CustLedgConversationRate
            END
          * CASE WHEN CU.[VAT Bus_ Posting Group]='INLAND' THEN 
              1.19 
            ELSE 
              1 
            END , 2) AS [Amount of Debits]
          , CASE WHEN ZZ.[Reservierungsnummer] IS NULL THEN 
              [BookingSums].[Application_R] 
            ELSE
              ZZ.[NetCommissionPaymentCurrency] * ZZ.ConversationRate * CustLedgConversationRate
            END [Application_R] 
       FROM [HRS$Cust_ Ledger Entry]                CLE WITH (NOLOCK)
       JOIN RL 
         ON RL.[Document No_]       = CLE.[Document No_]
        AND RL.[Document Type]      = CLE.[Document Type]   
       JOIN [HRS$Customer] CU WITH (NOLOCK)
         ON CLE.[Customer No_] = CU.[No_]
       JOIN [HRS$Sales Invoice Header]              SH  WITH (NOLOCK)
         ON CLE.[Document No_]      = SH.[No_] 
		AND CLE.[Document Type]     = 2 
        AND CLE.[Rg__Gs_-Art]       IN (0,1) --= 1
  LEFT JOIN _AgencyHeader AH
         ON CLE.[Document No_]      = AH.[Posted Invoice No_] 
        AND CLE.[Document Type]     = 2 
        AND CLE.[Rg__Gs_-Art]       IN (0,1) --= 1  
  LEFT JOIN _BookingSums								[BookingSums]
         ON [BookingSums].[Reservierungsnr_]             = AH.[Reservation No_] 
  LEFT JOIN _InvoiceSums								[InvoiceSums]
         ON [InvoiceSums].[Document No_]                 = CLE.[Document No_] 
  LEFT JOIN [HRS$CDG Import Zahlungszentralen] ZZ WITH (NOLOCK) 
         ON ZZ.[Reservierungsnummer] = AH.[Reservation No_]
    AND NOT (
                 [Buch_ Description] LIKE '%/Cancellation%'           OR [Action Code] = 'CXLD'
              OR [Buch_ Description] LIKE '%/NoShow%'                 OR [Action Code] = 'NSHW'
              OR [Buch_ Description] LIKE '%/NON Commisionable Stay%' OR [Action Code] = 'NETC' 
            )
      WHERE CLE.[Open]              = 1
        AND ((CLE.[Document Type] IN (2,3) AND CLE.[Posting Date] <= @MaxDate) OR NOT CLE.[Document Type] IN (2,3))
  ), _ResultSum AS
  (
               SELECT [Document No_]
                    , [Document Type]
                    , SUM(COALESCE([Amount of Debits],0.0)) [Amount of Debits]
                    , SUM(COALESCE([Application_R],0.0))    [Application_R]
                    , SUM(COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0)) [Difference]
                    , SUM(CASE WHEN COALESCE(_Result.[Amount of Debits],0.0) - COALESCE(_Result.[Application_R],0.0)/@CurrencyFactor > 0.09 THEN 
                        COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0)
                      ELSE
                        0
                      END) [Difference_F]
                 FROM _Result
             GROUP BY [Document No_]
                    , [Document Type]
               HAVING ABS(SUM(COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0)))/@CurrencyFactor > 0.09
  )
--  SELECT * FROM _AgencyHeader --_Result
     SELECT _Result.*
          , COALESCE(_Result.[Amount of Debits],0.0) - COALESCE(_Result.[Application_R],0.0) [Difference]
          , @LanguageCode [Language Code]
          , 'REGULAR'
          , RL.[Original Amount]
          , RL.[Remaining Amount]
          , @CustomerNo [Customer No_]
       FROM _Result
       JOIN _ResultSum 
         ON _ResultSum.[Document No_]  = _Result.[Document No_]
        AND _ResultSum.[Document Type] = _Result.[Document Type]
       JOIN RL 
         ON RL.[Document No_]  = _Result.[Document No_] 
        AND RL.[Document Type] = 2
      WHERE ABS(COALESCE(_Result.[Amount of Debits],0.0) - COALESCE(_Result.[Application_R],0.0))/@CurrencyFactor > 0.09
     UNION
     SELECT [InvoiceSums].[Document No_]
          , 11
          , CASE WHEN [InvoiceSums].[Currency Code]<>@CurrencyCode THEN @CurrencyCode ELSE [InvoiceSums].[Currency Code] END [Currency Code]
          , AH.MuseID
          , ''
          , ''
          , 'no matching'
          , ''
          , SH.[Posting Date]
          , SH.[Posting Date]
          , CASE WHEN SH.[VAT Bus_ Posting Group]='INLAND' THEN 19 ELSE 0 END AS VAT
          , ''
          , 0 [Amount of Debits]
          , -(_ResultSum.[Difference]-_ResultSum.[Difference_F])
          , _ResultSum.[Difference]-_ResultSum.[Difference_F]
          , @LanguageCode [Language Code]
          , 'NOMATCHING'
          , RL.[Original Amount]
          , RL.[Remaining Amount]
          , @CustomerNo
       FROM _InvoiceSums [InvoiceSums]
       JOIN [HRS$Agency Display Header] AH WITH (NOLOCK)
         ON AH.[Posted Invoice No_]   = [InvoiceSums].[Document No_]
       JOIN [HRS$Sales Invoice Header]              SH  WITH (NOLOCK)
         ON SH.[No_]                  = [InvoiceSums].[Document No_]
       JOIN RL 
         ON RL.[Document No_]  = [InvoiceSums].[Document No_]
        AND RL.[Document Type] = 2
       JOIN _ResultSum
         ON _ResultSum.[Document No_] = [InvoiceSums].[Document No_]
      WHERE ABS(_ResultSum.[Difference]-_ResultSum.[Difference_F])/@CurrencyFactor > 0.09
     UNION
     SELECT [InvoiceSums].[Document No_]
          , 2 -- komplett unbezahlte Rechnungen
          , DL.[Currency Code]
          , DL.[MuseID]
          , DL.[Reservation No_]
          , DL.[Booking Code]
          , DL.[Client Guestname 1]
          , DL.[Client Guestname 2]
          , DH.[Posting Date]
          , DH.[Creation Date]
          , CASE WHEN CU.[VAT Bus_ Posting Group]='INLAND' THEN 19 ELSE 0 END AS VAT
          , DL.[Rate Description]
          , DL.[Line Amount]
          , NULL
          , DL.[Line Amount]
          , @LanguageCode [Language Code]
          , 'REGULAR'
          , RL.[Original Amount]
          , RL.[Remaining Amount]
          , @CustomerNo
       FROM _InvoiceSums [InvoiceSums]
       JOIN [HRS$Customer]              CU WITH (NOLOCK) ON CU.[No_] = [InvoiceSums].[Customer No_]
       JOIN RL 
         ON RL.[Document No_]  = [InvoiceSums].[Document No_]
        AND RL.[Document Type] = 2
       JOIN [HRS$Sales Invoice Header]  SH WITH (NOLOCK) ON SH.[No_] = [InvoiceSums].[Document No_]
       JOIN [HRS$Agency Display Header] DH WITH (NOLOCK) ON DH.[Case No_] = SH.[Reason Code]
       JOIN [HRS$Agency Display Line]   DL WITH (NOLOCK) ON DH.[Case No_] = DL.[Display Case No_]
      WHERE NOT [InvoiceSums].[Document No_] IN (SELECT [Document No_] FROM _ResultSum)
        AND DL.[Action] <> 3
        AND [InvoiceSums].[Document Type] <> 1
     UNION
     SELECT [InvoiceSums].[Document No_]
          , 1 -- Zahlungen
          , CASE WHEN [InvoiceSums].[Currency Code]<>@CurrencyCode THEN @CurrencyCode ELSE [InvoiceSums].[Currency Code] END [Currency Code]
          , ''
          , ''
          , ''
          , RL.[Description]
          , ''
          , RL.[Posting Date]
          , RL.[Document Date]
          , CASE WHEN CU.[VAT Bus_ Posting Group]='INLAND' THEN 19 ELSE 0 END AS VAT
          , ''
          , RL.[Original Amount (Curr)]
          , NULL
          , RL.[Remaining Amount (Curr)]
          , @LanguageCode [Language Code]
          , 'PAYMENT'
          , RL.[Original Amount]
          , RL.[Remaining Amount]
          , @CustomerNo
       FROM _InvoiceSums [InvoiceSums]
       JOIN [HRS$Customer] CU WITH (NOLOCK)
         ON CU.[No_] = [InvoiceSums].[Customer No_]
       JOIN RL 
         ON RL.[Document No_]  = [InvoiceSums].[Document No_]
        AND RL.[Document Type] = 1
      WHERE [InvoiceSums].[Document Type] = 1
     UNION
     SELECT [InvoiceSums].[Document No_]
          , 12 -- andere Rechnungen
          , CASE WHEN [InvoiceSums].[Currency Code]<>@CurrencyCode THEN @CurrencyCode ELSE [InvoiceSums].[Currency Code] END [Currency Code]
          , ''
          , ''
          , ''
          , RL.[Description]
          , ''
          , RL.[Posting Date]
          , RL.[Document Date]
          , CASE WHEN CU.[VAT Bus_ Posting Group]='INLAND' THEN 19 ELSE 0 END AS VAT
          , ''
          , RL.[Original Amount (Curr)] * @CurrencyFactor
          , NULL
          , RL.[Remaining Amount (Curr)] * @CurrencyFactor
          , @LanguageCode [Language Code]
          , CASE LEFT([InvoiceSums].[Document No_],2) WHEN 'MA' THEN 'MARKETING' WHEN 'WB' THEN 'SUBSEQUENT' ELSE '' END [Category]
          , RL.[Original Amount]
          , RL.[Remaining Amount]
          , @CustomerNo
       FROM _InvoiceSums [InvoiceSums]
       JOIN [HRS$Customer] CU WITH (NOLOCK)
         ON CU.[No_] = [InvoiceSums].[Customer No_]
       JOIN RL 
         ON RL.[Document No_]  = [InvoiceSums].[Document No_]
        AND RL.[Document Type] = [InvoiceSums].[Document Type]
      WHERE NOT [InvoiceSums].[Document No_] IN (SELECT [Document No_] FROM _ResultSum)
        AND [InvoiceSums].[Document Type] = 2
ORDER BY 1,2,5
END
GO
