USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[DataSet_Trace_QueryStatsChart]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DataSet_Trace_QueryStatsChart] @StartTime datetime = NULL, @EndTime datetime = NULL, @Hash bigint = NULL, @StmtHash bigint = NULL, 
  @ApplicationName nvarchar(256) = NULL, @DatabaseName nvarchar(256) = NULL, @DatabaseID varchar(30) = NULL, @ServerName nvarchar(256) = NULL 
AS 
--DECLARE @StartTime datetime
--DECLARE @EndTime datetime
DECLARE @NumSamplesInChart int
DECLARE @SecondsPerSample int
IF @StartTime IS NULL OR @StartTime = '19000101' SELECT @StartTime = MIN (EndTime) FROM BatchExecs (NOLOCK) 
IF @EndTime IS NULL OR @EndTime = '29990101' SELECT @EndTime = MAX (EndTime) FROM BatchExecs (NOLOCK) 
SET @NumSamplesInChart = 50
SET @SecondsPerSample = (DATEDIFF (s, @StartTime, @EndTime) / @NumSamplesInChart) + 1
IF @SecondsPerSample = 0 SET @SecondsPerSample = 1

IF (@StmtHash IS NULL OR @StmtHash = 0)
  SELECT 
    DATEADD (ss, IntervalID * @SecondsPerSample, '20000101') AS interval_start, 
    DATEADD (ss, IntervalID * @SecondsPerSample + @SecondsPerSample, '20000101') AS interval_end, 
    * 
  FROM 
  (
    SELECT 
      DATEDIFF (ss, '20000101', b.EndTime) / @SecondsPerSample AS IntervalID, 
      CONVERT (decimal (28, 3), COUNT_BIG(*)) / @SecondsPerSample + 0.001 AS Executions_per_sec, 
      COUNT(*) AS Executions, 
      CONVERT (decimal (28, 3), SUM (b.CPU)) + 0.001 AS total_cpu, CONVERT (decimal (28, 3), AVG (b.CPU)) + 0.001 AS avg_cpu, CONVERT (decimal (28, 3), MAX (b.CPU)) + 0.001 AS max_cpu, CONVERT (decimal (28, 3), SUM (b.CPU) / @SecondsPerSample) + 0.005 AS cpu_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Reads)) + 0.001 AS total_reads, CONVERT (decimal (28, 3), AVG (b.Reads)) + 0.001 AS avg_reads, CONVERT (decimal (28, 3), MAX (b.Reads)) + 0.001 AS max_reads, CONVERT (decimal (28, 3), SUM (b.Reads) / @SecondsPerSample) + 0.005 AS reads_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Writes)) + 0.001 AS total_writes, CONVERT (decimal (28, 3), AVG (b.Writes)) + 0.001 AS avg_writes, CONVERT (decimal (28, 3), MAX (b.Writes)) + 0.001 AS max_writes, CONVERT (decimal (28, 3), SUM (b.Writes) / @SecondsPerSample) + 0.005 AS writes_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Duration/1000)) + 0.001 AS total_duration, CONVERT (decimal (28, 3), AVG (b.Duration/1000)) + 0.001 AS avg_duration, CONVERT (decimal (28, 3), MAX (b.Duration/1000)) + 0.001 AS max_duration, CONVERT (decimal (28, 3), SUM (b.Duration/1000) / @SecondsPerSample) + 0.005 AS duration_per_sec
    FROM BatchExecs b
    INNER JOIN DistinctBatches batch ON b.[Hash] = batch.[Hash]
    WHERE (@Hash IS NULL OR @Hash = b.[Hash])
      AND b.EndTime BETWEEN @StartTime AND @EndTime
      AND (@ApplicationName = '<All>' OR @ApplicationName = '' OR @ApplicationName IS NULL OR batch.ApplicationName = @ApplicationName)
      AND (@DatabaseName = '<All>' OR @DatabaseName = '' OR @DatabaseName IS NULL OR batch.DatabaseName = @DatabaseName)
      AND (@DatabaseID = '<All>' OR @DatabaseID = '' OR @DatabaseID IS NULL OR CONVERT (varchar(30), batch.DatabaseID) = @DatabaseID)
      AND (@ServerName = '<All>' OR @ServerName = '' OR @ServerName IS NULL OR batch.ServerName = @ServerName)
    GROUP BY DATEDIFF (ss, '20000101', b.EndTime) / @SecondsPerSample
  ) t
  ORDER BY interval_start 
ELSE
  SELECT 
    DATEADD (ss, IntervalID * @SecondsPerSample, '20000101') AS interval_start, 
    DATEADD (ss, IntervalID * @SecondsPerSample + @SecondsPerSample, '20000101') AS interval_end, 
    * 
  FROM 
  (
    SELECT 
      DATEDIFF (ss, '20000101', b.EndTime) / @SecondsPerSample AS IntervalID, 
      CONVERT (decimal (28, 3), COUNT_BIG(*)) / @SecondsPerSample + 0.001 AS Executions_per_sec, 
      COUNT(*) AS Executions, 
      CONVERT (decimal (28, 3), SUM (b.CPU)) + 0.001 AS total_cpu, CONVERT (decimal (28, 3), AVG (b.CPU)) + 0.001 AS avg_cpu, CONVERT (decimal (28, 3), MAX (b.CPU)) + 0.001 AS max_cpu, CONVERT (decimal (28, 3), SUM (b.CPU) / @SecondsPerSample) + 0.005 AS cpu_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Reads)) + 0.001 AS total_reads, CONVERT (decimal (28, 3), AVG (b.Reads)) + 0.001 AS avg_reads, CONVERT (decimal (28, 3), MAX (b.Reads)) + 0.001 AS max_reads, CONVERT (decimal (28, 3), SUM (b.Reads) / @SecondsPerSample) + 0.005 AS reads_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Writes)) + 0.001 AS total_writes, CONVERT (decimal (28, 3), AVG (b.Writes)) + 0.001 AS avg_writes, CONVERT (decimal (28, 3), MAX (b.Writes)) + 0.001 AS max_writes, CONVERT (decimal (28, 3), SUM (b.Writes) / @SecondsPerSample) + 0.005 AS writes_per_sec, 
      CONVERT (decimal (28, 3), SUM (b.Duration/1000)) + 0.001 AS total_duration, CONVERT (decimal (28, 3), AVG (b.Duration/1000)) + 0.001 AS avg_duration, CONVERT (decimal (28, 3), MAX (b.Duration/1000)) + 0.001 AS max_duration, CONVERT (decimal (28, 3), SUM (b.Duration/1000) / @SecondsPerSample) + 0.005 AS duration_per_sec
    FROM StatementExecs b
    INNER JOIN DistinctBatches batch ON b.[BatchHash] = batch.[Hash]
    WHERE (@Hash IS NULL OR @Hash = b.[BatchHash]) AND (@StmtHash = b.[Hash])
      AND b.EndTime BETWEEN @StartTime AND @EndTime
      AND (@ApplicationName = '<All>' OR @ApplicationName = '' OR @ApplicationName IS NULL OR batch.ApplicationName = @ApplicationName)
      AND (@DatabaseName = '<All>' OR @DatabaseName = '' OR @DatabaseName IS NULL OR batch.DatabaseName = @DatabaseName)
      AND (@DatabaseID = '<All>' OR @DatabaseID = '' OR @DatabaseID IS NULL OR CONVERT (varchar(30), batch.DatabaseID) = @DatabaseID)
      AND (@ServerName = '<All>' OR @ServerName = '' OR @ServerName IS NULL OR batch.ServerName = @ServerName)
    GROUP BY DATEDIFF (ss, '20000101', b.EndTime) / @SecondsPerSample
  ) t
  ORDER BY interval_start 
GO
