USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Affiliate_ADACzusatzlicheNeu]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gurbet Celik
-- Create date: 01.10.2019
-- Description:	ADAC zusätzlich Report
/*
EXEC [dbo].[sp_Affiliate_ADACzusatzlicheReport] '2019-10-01', '2019-10-30'
*/
-- =============================================
CREATE PROC [dbo].[sp_Affiliate_ADACzusatzlicheNeu]


AS
BEGIN
WITH BKG AS
(
  SELECT [B_KEY] [ReservationNo]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (1649, 10480) THEN [BCDT_VALUE] ELSE '' END) [ADAC Mitgliedsnummer]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7027, 10482) THEN [BCDT_VALUE] ELSE '' END) [Nachname]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7028, 10483) THEN [BCDT_VALUE] ELSE '' END) [Vorname]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7029) THEN [BCDT_VALUE] ELSE '' END) [Adresszusatz]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7030, 10485) THEN [BCDT_VALUE] ELSE '' END) [Straße]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7031, 10486) THEN [BCDT_VALUE] ELSE '' END) [Hausnummer]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7032, 10487) THEN [BCDT_VALUE] ELSE '' END) [PLZ]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7033, 10488) THEN [BCDT_VALUE] ELSE '' END) [Ort]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7034, 10489) THEN [BCDT_VALUE] ELSE '' END) [Land]
       , MAX(CASE WHEN [BP_GROUP_ID] IN (7107, 10481) THEN [BCDT_VALUE] ELSE '' END) [Anrede]
	   , MAX(CASE WHEN [BP_GROUP_ID] IN ( 10304, 10490) THEN [BCDT_VALUE] ELSE '' END) [Email]

    FROM DynNavHRS.[HRSDB].[BKG_CI_DATA_TEXT_DA] WITH (NOLOCK)
GROUP BY [B_KEY]  
), AP AS
(
  SELECT AP.[ProcessNumber]
       , AP.[AffiliatePartnerNo]
       , AP.[ArivalDate]
       , AP.[DepartureDate]
       , AP.[ReservationNo]
       , AP.[ReservationPartNo]
       , AP.[ReservationDate]
       , AP.[Description]
       , AP.[Description2]
       , AP.[MuseID]
       , AP.[Amount_corr]
       , AP.[Amount_LCY_corr]
       , AP.[Turnover_LCY_corr]
       , AP.[HotelNo]
       , AP.[ReservationSource]
       , BS.[Name] [ReservationSourceName]
    FROM DynNavHRS.dbo.[HRS$Affiliate Postings] AP WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Booking Source] BS WITH (NOLOCK)
      ON BS.[No_] = AP.[ReservationSource]
   WHERE AP.[AffiliatePartnerNo] IN (424316685,424316682,424316684,424316891,424316892,424316893)
     AND AP.[ReservationDate] >= '2015-01-01'
UNION   
  SELECT AP.[ProcessNumber]
       , AP.[AffiliatePartnerNo]
       , AP.[ArivalDate]
       , AP.[DepartureDate]
       , AP.[ReservationNo]
       , AP.[ReservationPartNo]
       , AP.[ReservationDate]
       , AP.[Description]
       , AP.[Description2]
       , AP.[MuseID]
       , AP.[Amount_corr]
       , AP.[Amount_LCY_corr]
       , AP.[Turnover_LCY_corr]
       , AP.[HotelNo]
       , AP.[ReservationSource]
       , BS.[Name] [ReservationSourceName]
    FROM DynNavHRS.dbo.[HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Booking Source] BS WITH (NOLOCK)
      ON BS.[No_] = AP.[ReservationSource]
   WHERE AP.[AffiliatePartnerNo] IN (424316685,424316682,424316684,424316891,424316892,424316893)
     AND AP.[ReservationDate] >= '2015-01-01'
UNION   
  SELECT AP.[ProcessNumber]
       , AP.[AffiliatePartnerNo]
       , AP.[ArivalDate]
       , AP.[DepartureDate]
       , AP.[ReservationNo]
       , AP.[ReservationPartNo]
       , AP.[ReservationDate]
       , AP.[Description]
       , AP.[Description2]
       , AP.[MuseID]
       , AP.[Amount_corr]
       , AP.[Amount_LCY_corr]
       , AP.[Turnover_LCY_corr]
       , AP.[HotelNo]
       , AP.[ReservationSource]
       , BS.[Name] [ReservationSourceName]
    FROM DynNavHRS.dbo.[HRS-BR$Affiliate Postings] AP WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Booking Source] BS WITH (NOLOCK)
      ON BS.[No_] = AP.[ReservationSource]
   WHERE AP.[AffiliatePartnerNo] IN (424316685,424316682,424316684,424316891,424316892,424316893)
     AND AP.[ReservationDate] >= '2015-01-01'
UNION   
  SELECT AP.[ProcessNumber]
       , AP.[AffiliatePartnerNo]
       , AP.[ArivalDate]
       , AP.[DepartureDate]
       , AP.[ReservationNo]
       , AP.[ReservationPartNo]
       , AP.[ReservationDate]
       , AP.[Description]
       , AP.[Description2]
       , AP.[MuseID]
       , AP.[Amount_corr]
       , AP.[Amount_LCY_corr]
       , AP.[Turnover_LCY_corr]
       , AP.[HotelNo]
       , AP.[ReservationSource]
       , BS.[Name] [ReservationSourceName]
    FROM DynNavHRS.dbo.[TISCOVER$Affiliate Postings] AP WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Booking Source] BS WITH (NOLOCK)
      ON BS.[No_] = AP.[ReservationSource]
   WHERE AP.[AffiliatePartnerNo] IN (424316685,424316682,424316684,424316891,424316892,424316893)
     AND AP.[ReservationDate] >= '2015-01-01'
), AP2 AS
(
   SELECT AP.[ProcessNumber]
        , AP.[AffiliatePartnerNo]
        , CU.[Company-Name]
        , MIN(AP.[ArivalDate]) [ArivalDate]
        , MAX(AP.[DepartureDate]) [DepartureDate]
        , AP.[ReservationNo]
        , AP.[ReservationDate]
        , AP.[Description]
        , AP.[Description2]
        , AP.[MuseID]
        , CASE WHEN SUM(AP.[Amount_corr]) > 0 THEN 1 ELSE 0 END [successfull]
        , SUM(AP.[Amount_LCY_corr]) [Amount_LCY_corr]
        , SUM(AP.[Turnover_LCY_corr]) [Turnover_LCY_corr]
        , CO.[Name] + ' ' + CO.[Name 2] [Name]
        , CO.[City]
        , CO.[No_]
        , AP.[ReservationSource]
        , AP.[ReservationSourceName]
		, BKG.Email
     FROM AP
     JOIN DynNavHRS.dbo.[Affiliate Partner]      CU WITH (NOLOCK)
       ON CU.[No_]               = AP.[AffiliatePartnerNo]
     JOIN DynNavHRS.dbo.[HRS$Contact]            CO WITH (NOLOCK)
       ON CO.[No_]               = AP.[HotelNo]
LEFT JOIN BKG 
       ON BKG.[ReservationNo]    = AP.[ReservationNo]
	WHERE BKG.[ReservationNo] IS NULL
 GROUP BY AP.[ProcessNumber]
        , AP.[AffiliatePartnerNo]
        , CU.[Company-Name]
        , AP.[ReservationNo]
        , AP.[ReservationDate]
        , AP.[Description]
        , AP.[Description2]
        , AP.[MuseID]
        , CO.[Name] + ' ' + CO.[Name 2]
        , CO.[City]
        , CO.[No_]
        , AP.[ReservationSource]
        , AP.[ReservationSourceName]
		, BKG.Email
)
SELECT AP.*
  FROM AP2 AP
 OPTION (MAXDOP 1)
 END
GO
