USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Correct_BT_PAX_COUNT]    Script Date: 10.04.2024 14:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 02.10 2019
-- Description:	Corrects Field BT_PAX_COUNT due to an error of Bookview regarding breakfast confirmation
-- =============================================
/*
  EXEC [dbo].[sp_Correct_BT_PAX_COUNT]
*/
CREATE PROCEDURE [dbo].[sp_Correct_BT_PAX_COUNT] 
AS
BEGIN
  DECLARE @PostingDate date
  IF DATEPART(dd,GETDATE())<=5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME) END
  IF DATEPART(dd,GETDATE())>5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME) END

  DECLARE @dateFrom date
        , @dateTo date
   SELECT @dateTo = COALESCE(@dateTo,@PostingDate)
        , @dateFrom = COALESCE(@dateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))
  
  DECLARE @RecreateToCorrect tinyint = 0
--SET NOCOUNT ON
IF OBJECT_ID('tempdb..#ToCorrect') IS NULL
  SET @RecreateToCorrect=1
    
IF @RecreateToCorrect=1
BEGIN
  IF OBJECT_ID('tempdb..#ToCorrect') IS NOT NULL
    DROP TABLE #ToCorrect
  CREATE TABLE #ToCorrect ( B_KEY int primary key, B_KEY_ALT int, B_KEY_ROOT int)
    INSERT INTO #ToCorrect
    SELECT BU.B_KEY,B_KEY_ALT,null
      FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
      JOIN HRSDB.BUCHTEIL BT WITH (NOLOCK)
        ON BT.B_KEY = BU.B_KEY
     WHERE BU.B_AB_DATUM BETWEEN @dateFrom AND @dateTo
       AND BT.BT_PAX_COUNT=0
       AND BT.BT_MEAL_APPROVAL_STATUS=3
       AND BT.B_STATUS IN (0,1,19997)
  GROUP BY BU.B_KEY,B_KEY_ALT
END

DECLARE @B_KEY int, @B_KEY_ALT int, @B_KEY_ROOT int, @depth int

DECLARE cur CURSOR FOR
SELECT * FROM #ToCorrect

OPEN cur

FETCH NEXT FROM cur INTO @B_KEY, @B_KEY_ALT, @B_KEY_ROOT

WHILE @@FETCH_STATUS=0
BEGIN
  SET @depth = 1
  WHILE @B_KEY_ALT IS NOT NULL AND @depth<100 
  BEGIN
    SELECT @B_KEY_ALT=B_KEY_ALT,@B_KEY_ROOT=B_KEY FROM HRSDB.BUCHUNG BU WITH (NOLOCK) WHERE B_KEY = @B_KEY_ALT
    SET @depth = @depth + 1
  END
  UPDATE #ToCorrect SET B_KEY_ROOT = @B_KEY_ROOT WHERE B_KEY = @B_KEY
  FETCH NEXT FROM cur INTO @B_KEY, @B_KEY_ALT, @B_KEY_ROOT
END
CLOSE cur
DEALLOCATE cur

SET NOCOUNT OFF
UPDATE BU SET BU.B_KEY_ROOT = TC.B_KEY_ROOT
  FROM HRSDB.BUCHUNG BU
  JOIN #ToCorrect TC ON TC.B_KEY = BU.B_KEY
 WHERE BU.B_KEY_ROOT IS NULL
 
UPDATE BT1 SET BT1.BT_PAX_COUNT = BT2.BT_PAX_COUNT
  FROM HRSDB.BUCHUNG BU
  JOIN HRSDB.BUCHTEIL BT1
    ON BT1.B_KEY = BU.B_KEY
  JOIN HRSDB.BUCHTEIL BT2 WITH (NOLOCK)
    ON BT2.B_KEY = BU.B_KEY_ROOT
   AND BT2.BT_RATE_TYP = BT1.BT_RATE_TYP
 WHERE BT1.BT_PAX_COUNT <> BT2.BT_PAX_COUNT  
   AND BU.B_AB_DATUM BETWEEN @dateFrom AND @dateTo 
   AND BT1.BT_MEAL_APPROVAL_STATUS = 3
 
UPDATE AL SET AL.[Number of Person] = BT.BT_PAX_COUNT
  FROM HRSDB.BUCHTEIL BT
  JOIN [HRS$Agency Line] AL
    ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
   AND AL.[Position No_] = BT.BT_POS
 WHERE AL.[Number of Person] <> BT.BT_PAX_COUNT  
 
UPDATE AL SET AL.[Number of Person] = BT.BT_PAX_COUNT
  FROM HRSDB.BUCHTEIL BT
  JOIN [HRS-BR$Agency Line] AL
    ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
   AND AL.[Position No_] = BT.BT_POS
 WHERE AL.[Number of Person] <> BT.BT_PAX_COUNT  
 
UPDATE AL SET AL.[Number of Person] = BT.BT_PAX_COUNT
  FROM HRSDB.BUCHTEIL BT
  JOIN [HRS-CN$Agency Line] AL
    ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
   AND AL.[Position No_] = BT.BT_POS
 WHERE AL.[Number of Person] <> BT.BT_PAX_COUNT    
 
END
GO
