USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConvertUnicode]    Script Date: 10.04.2024 14:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 
-- Description:	Wandelt 'K\u00F6ln' um in 'Köln' und '\u6700\u540E\u50AC\u6B3E\u901A\u77E5' in '最后催款通知'
/*
DECLARE @LanguageCode  varchar(10)
      , @Company       varchar(30)
      , @DocumentType  tinyint
      , @DocumentLevel int
      , @ReminderLevel int
      , @LabelCode     varchar(10)
    SELECT @LanguageCode  = '19'
         , @Company       = 'HRS'
         , @DocumentType  = 22
         , @DocumentLevel = 0
         , @ReminderLevel = 2
         , @LabelCode     = 'RL000010'
EXEC [dbo].[sp_ConvertUnicode] @LanguageCode, @Company, @DocumentType, @DocumentLevel, @LabelCode
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConvertUnicode]
(
    @LanguageCode  varchar(10)
  , @Company       varchar(30)
  , @DocumentType  tinyint
  , @DocumentLevel int
  , @LabelCode     varchar(10)
)
AS
BEGIN
DECLARE @OutStr nvarchar(max) = ''
  
 SELECT @OutStr = @OutStr + [Translation]
   FROM [Label Translation] 
  WHERE [Language Code]  = @LanguageCode
    AND [Company]        = @Company
    AND [Document Type]  = @DocumentType
    AND [Document Level] = @DocumentLevel
    AND [Label Code]     = @LabelCode

  DECLARE @UnicodeList TABLE ([String] varchar(max))
   INSERT INTO @UnicodeList
     EXEC [dbo].[sp_Split] @OutStr,'\u'
     
   SELECT @OutStr = REPLACE(@OutStr,'\u'+LEFT([String],4),nchar(dbo.fn_HexToIntnt(LEFT([String],4)))) 
     FROM @UnicodeList
    WHERE NOT dbo.fn_HexToIntnt(LEFT([String],4)) IS NULL

   SELECT @OutStr [String]
END
GO
