USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[CallCustDebitChainV9aFromExcel]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DECLARE @UserID varchar(20) = 'BGR02,EXCEL1'
	  , @CompanyFilter varchar(100)='HRS|HRS-CN|HRS-BR'
	  , @ChainFilter varchar(100)='550'
EXEC CallCustDebitChainV9aFromExcel @UserID, @CompanyFilter, @ChainFilter
*/
CREATE PROC [dbo].[CallCustDebitChainV9aFromExcel]
        @UserID varchar(20) = 'BGR02,EXCEL1'
	  , @CompanyFilter varchar(100)='HRS|HRS-CN|HRS-BR'
	  , @ChainFilter varchar(100)='1330'
AS 
BEGIN
DELETE FROM [RS-Report Execution] WHERE [Report ID]=50140 AND [UserID] = @UserID

DECLARE @CompanyName varchar(30)='HRS'
	  , @ReportID int = 50140
	  , @ReportCaption varchar(250) = 'Debitor - Forderungen Kette V9 (MÜB)'
	  , @ReportName varchar(30) = 'Cust. Debits Chain V9 (CSR)'
	  , @ExecutionTime datetime='1754-01-01 00:00:00.00'
	  , @TableNameParameter varchar(30) = 'Parameter'
	  , @FieldName01 varchar(30)='Ballance From all postings'
	  , @FieldName02 varchar(30)='Value from'
	  , @FieldName03 varchar(30)='Value to'
	  , @FieldName04 varchar(30)='Departure from'
	  , @FieldName05 varchar(30)='Departure to'
	  , @FieldName06 varchar(30)='Chain'
	  , @FieldName07 varchar(30)='Name'
INSERT INTO [dbo].[RS-Report Execution]([Start Company],[UserID],[Report ID],[Table ID],[Field ID],[Execution Time],[Report Name],[Table Name],[Field Name],[Field Caption],[Data Type],[Field Class],[Filter Value],[Report Caption],[Alias],[Filter Value 2],[Filter Value 3],[Filter Value 4],[Filter Value 5],[Filter Value 6],[Filter Value 7],[Filter Value 8],[Filter Value 9],[Filter Value 10])
     VALUES (@CompanyName,@UserID,@ReportID,         0,    1,@ExecutionTime,@ReportName,'Parameter',@FieldName01,@FieldName01, 3,0,'0'           ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,         0,    2,@ExecutionTime,@ReportName,'Parameter',@FieldName02,@FieldName02, 3,0,'0'           ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,         0,    3,@ExecutionTime,@ReportName,'Parameter',@FieldName03,@FieldName03, 3,0,'0'           ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,         0,    4,@ExecutionTime,@ReportName,'Parameter',@FieldName02,@FieldName04, 3,0,''            ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,         0,    5,@ExecutionTime,@ReportName,'Parameter',@FieldName03,@FieldName05, 3,0,''            ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,        18,50001,@ExecutionTime,@ReportName, 'Customer',@FieldName06,@FieldName06,11,0,@ChainFilter  ,@ReportCaption,'','','','','','','','','','')
          , (@CompanyName,@UserID,@ReportID,2000000006,    1,@ExecutionTime,@ReportName,  'Company',@FieldName07,@FieldName07, 2,0,@CompanyFilter,@ReportCaption,'','','','','','','','','','')

SET Language German
EXEC [RS].[PROC_CustDebitChainV9a] @UserId, @CompanyName, @ReportId, @Debug=0
END
GO
