USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_PostedRebateHeader]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 07.09.2012
-- Description:	Kopfinformationen zur Gutschriftsanzeige
/*
EXEC [dbo].[sp_PostedRebateHeader] 'K0000002547'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_PostedRebateHeader] 
    @RebateNo varchar(20)
AS
BEGIN

DECLARE @CustList VARCHAR(MAX)
SELECT @CustList = ''

DECLARE @AP AS TABLE([Affiliate Partner No_] int)
DECLARE @ActualCustomer int, @PreviousCustomer int, @FirstCustomer int
 SELECT @ActualCustomer = 0, @PreviousCustomer = 0, @FirstCustomer = 0

;WITH AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM [HRS$Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.*
  FROM [HRS$Posted Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[Rebate No_] = @RebateNo

)
INSERT INTO @AP
SELECT AV.[Affiliate Partner No_]
  FROM [HRS$Affiliate Partner Vendor] AV WITH (NOLOCK)
  JOIN AgreementHeader AH
    ON AH.[Rebate-to Vendor No_] = AV.[Vendor No_]

DECLARE cur CURSOR FOR SELECT * FROM @AP ORDER BY 1

OPEN cur

FETCH NEXT FROM cur INTO @ActualCustomer

SELECT @FirstCustomer = @ActualCustomer

WHILE @@FETCH_STATUS = 0
BEGIN
  IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
    IF (@PreviousCustomer<> 0) BEGIN
      SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
      SET @CustList = @CustList 
                    + CASE WHEN @PreviousCustomer = @FirstCustomer THEN 
                        CAST(@PreviousCustomer AS varchar)
                      ELSE
                        CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                      END
      SELECT @FirstCustomer = @ActualCustomer
    END 
  END
  
  SELECT @PreviousCustomer = @ActualCustomer
  FETCH NEXT FROM cur INTO @ActualCustomer
END

IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
  IF (@PreviousCustomer<> 0) BEGIN
    SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
    SET @CustList = @CustList 
                  + CASE WHEN @PreviousCustomer = @FirstCustomer THEN 
                      CAST(@PreviousCustomer AS varchar)
                    ELSE
                      CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                    END
    SELECT @FirstCustomer = @ActualCustomer
  END 
END

CLOSE cur
DEALLOCATE cur

   SELECT RH.[No_] [Rebate No_]
        , RH.[Rebate-to Vendor No_]
        , RH.[Rebate-to Name] [Rebate-to Customer Name]
        , RH.[Rebate-to Name 2] [Rebate-to Customer Name 2]
        , RH.[Rebate-to Address]
        , RH.[Rebate-to Address 2]
        , RH.[Rebate-to City]
        , RH.[Rebate-to Contact]
        , RH.[Rebate-to Post Code]
        , RH.[Rebate-to Country Code]
        , @CustList [Affiliate Partner List]
        , RH.[Currency Code]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END [Language Code]
        , DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date]) [Year Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE((
           SELECT TOP 1 [Name]
             FROM [HRS$Vendor Bank Account] 
                  WITH (READUNCOMMITTED) 
            WHERE [Vendor No_] = RH.[Rebate-to Vendor No_]
          ),'')                                            [Vendor Bank Name]
        , RT.[Template Type]
        , RT.[Matrix _ Vector Code]
        , RT.[Input Parameter 1 Code]                      [Code P1]
        , P1.[Name]                                        [Name P1]
        , L1.[Value Decimal]                               [Value P1]
        , RT.[Input Parameter 2 Code]                      [Code P2]
        , P2.[Name]                                        [Name P2]
        , L2.[Value Decimal]                               [Value P2]
        , RT.[Input Parameter 3 Code]                      [Code P3]
        , P3.[Name]                                        [Name P3]
        , L3.[Value Decimal]                               [Value P3]
        , RT.[Input Parameter 4 Code]                      [Code P4]
        , P4.[Name]                                        [Name P4]
        , L4.[Value Decimal]                               [Value P4]
        , P5.Code --RT.[Input Parameter 5 Code]                      [Code P5]
        , P5.[Name]                                        [Name P5]
        , L5.[Value Decimal]                               [Value P5]
        , RT.[Output Parameter Code]                       [Code PA]
        , P6.[Name]                                        [Name PA]
        , L6.[Value Decimal]                               [Value PA]
-->>RP1
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, VE.[Currency Code]							   [CurrencyCode] 	
		, dbo.[HRS$GetSalutation](RA.[Salutation Code],CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END,0,1,RA.[No_])
--<<RP1        
     FROM [HRS$Posted Rebate Header]           RH WITH (READUNCOMMITTED)
     JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED)
       ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [HRS$Rebate Agreement Header] RT WITH (READUNCOMMITTED)
       ON RT.[No_]                 = RA.[Template No_]
     JOIN [HRS$Vendor]               VE WITH (READUNCOMMITTED)
       ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Parameter]               P1 WITH (READUNCOMMITTED)
       ON P1.[Code]                = RT.[Input Parameter 1 Code]
LEFT JOIN [HRS$Posted Rebate Line]             L1 WITH (READUNCOMMITTED)
       ON L1.[Document No_]        = RH.[No_]
      AND L1.[No_]                 = RT.[Input Parameter 1 Code]
      AND L1.[Type]                = 2
LEFT JOIN [HRS$Parameter]               P2 WITH (READUNCOMMITTED)
       ON P2.[Code]                = RT.[Input Parameter 2 Code]
LEFT JOIN [HRS$Posted Rebate Line]             L2 WITH (READUNCOMMITTED)
       ON L2.[Document No_]        = RH.[No_]
      AND L2.[No_]                 = RT.[Input Parameter 2 Code]
      AND L2.[Type]                = 2
LEFT JOIN [HRS$Parameter]               P3 WITH (READUNCOMMITTED)
       ON P3.[Code]                = RT.[Input Parameter 3 Code]
LEFT JOIN [HRS$Posted Rebate Line]             L3 WITH (READUNCOMMITTED)
       ON L3.[Document No_]        = RH.[No_]
      AND L3.[No_]                 = RT.[Input Parameter 3 Code]
      AND L3.[Type]                = 2
LEFT JOIN [HRS$Parameter]               P4 WITH (READUNCOMMITTED)
       ON P4.[Code]                = RT.[Input Parameter 4 Code]
LEFT JOIN [HRS$Posted Rebate Line]             L4 WITH (READUNCOMMITTED)
       ON L4.[Document No_]        = RH.[No_]
      AND L4.[No_]                 = RT.[Input Parameter 4 Code]
      AND L4.[Type]                = 2
LEFT JOIN [HRS$Parameter]               P5 WITH (READUNCOMMITTED)
       ON P5.[Code]                = RT.[Input Parameter 5 Code]
LEFT JOIN [HRS$Posted Rebate Line]             L5 WITH (READUNCOMMITTED)
       ON L5.[Document No_]        = RH.[No_]
      AND L5.[No_]                 = RT.[Input Parameter 5 Code]
      AND L5.[Type]                = 2
LEFT JOIN [HRS$Parameter]               P6 WITH (READUNCOMMITTED)
       ON P6.[Code]                = RT.[Output Parameter Code]
LEFT JOIN [HRS$Posted Rebate Line]             L6 WITH (READUNCOMMITTED)
       ON L6.[Document No_]        = RH.[No_]
      AND L6.[No_]                 = RT.[Output Parameter Code]
      AND L6.[Type]                = 2
   WHERE RH.[Rebate No_] = @RebateNo
END

GO
