USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CommissionAmount_Categories]    Script Date: 10.04.2024 14:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 09.06.20
-- Description:	Kategorieauswahl für KommissionsumsatzV2.rdl
-- =============================================
CREATE PROCEDURE [dbo].[sp_CommissionAmount_Categories]
AS
BEGIN
  DECLARE @Categories TABLE ([ID] int,[Default] tinyint,[Name] varchar(20))

  INSERT INTO @Categories VALUES ( 1, 0,'Month')
  INSERT INTO @Categories VALUES ( 2, 1,'Company')
  INSERT INTO @Categories VALUES ( 3, 0,'Chain')
  INSERT INTO @Categories VALUES ( 4, 0,'Brand')
  INSERT INTO @Categories VALUES ( 5, 0,'Country')
  INSERT INTO @Categories VALUES ( 6, 0,'MuseID')
  INSERT INTO @Categories VALUES ( 7, 0,'Contract Status')
  INSERT INTO @Categories VALUES ( 8, 0,'Hotel')
  INSERT INTO @Categories VALUES ( 9, 0,'Salesperson')
  INSERT INTO @Categories VALUES (10, 0,'Consumer')
  INSERT INTO @Categories VALUES (11, 0,'Segment')
  INSERT INTO @Categories VALUES (12, 0,'Origin Country')
  INSERT INTO @Categories VALUES (13, 0,'Correction Source')

  SELECT [Name],[Default] FROM @Categories ORDER BY ID
END
GO
