USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePartnerImportLine]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 23.04.19
-- Description:	Zuordnung Partner Import Line zu gebuchter Kommissionsrechnung
/*
DECLARE @ImportEntryNo int = 42
  , @PartID int = 1
EXEC [sp_UpdatePartnerImportLine] @ImportEntryNo, @PartID
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdatePartnerImportLine] 
    @ImportEntryNo int = 42
  , @PartID int = 1
AS
BEGIN
IF @PartID = 1
BEGIN
WITH DL AS
(
  SELECT DL.[Reservation No_]
       , DL.[Process Number]
	   , DL.[Display Case No_]
	   , MAX(DL.[Hotel No_]) [Hotel No_]
	   , MAX(DH.[Posted Invoice No_])[Posted Invoice No_]
	   , MAX(CASE 
	       WHEN DH.[Correction from] <>'' THEN 
		     CASE WHEN DH.[Status] = 1 THEN 4 ELSE 3 END
		   ELSE
		     CASE WHEN DH.[Status] = 1 THEN 2 ELSE 1 END
         END) [Status]
       , SUM(DL.[Line Amount (LCY)]) [Line Amount (LCY)]
    FROM [HRS$Agency Display Line] DL WITH (NOLOCK)
	JOIN [HRS$Agency Display Header] DH WITH (NOLOCK)
      ON DH.[Case No_] = DL.[Display Case No_]
	JOIN [HRS$Partner Import Line] IL WITH (NOLOCK)
      ON DL.[Reservation No_] = IL.[Reservation No_]
   WHERE IL.[Import Entry No_] = @ImportEntryNo
GROUP BY DL.[Reservation No_]
       , DL.[Process Number]
	   , DL.[Display Case No_]
), DLM AS
(
  SELECT DL.[Reservation No_]
       , MAX(DL.[Status]) [Status]
    FROM DL
GROUP BY DL.[Reservation No_]
)
UPDATE IL SET
       IL.[Process No_] = DL.[Process Number]
     , IL.[Display Case No_] = DL.[Display Case No_]
     , IL.[Posted Invoice No_] = DL.[Posted Invoice No_]
     , IL.[Hotel No_] = DL.[Hotel No_]
     , IL.[Invoice Amount (LCY)] = DL.[Line Amount (LCY)]
     , IL.[Invoice Amount (LCY) corr_] = 0
  FROM [HRS$Partner Import Line] IL
  JOIN DL
    ON DL.[Reservation No_] = IL.[Reservation No_]
  JOIN DLM
    ON DL.[Reservation No_] = DLM.[Reservation No_]
   AND DL.[Status] = DLM.[Status]
 WHERE IL.[Import Entry No_] = @ImportEntryNo
   AND (
          IL.[Process No_] <> DL.[Process Number]
       OR IL.[Display Case No_] <> DL.[Display Case No_]
       OR IL.[Posted Invoice No_] <> DL.[Posted Invoice No_]
       OR IL.[Hotel No_] <> DL.[Hotel No_]
       OR IL.[Invoice Amount (LCY)] <> DL.[Line Amount (LCY)]
       OR IL.[Invoice Amount (LCY) corr_] <> 0
       )
END

IF @PartID = 2
BEGIN
WITH DL AS
(
  SELECT DL.[Reservation No_]
       , DL.[Process Number]
	   , DL.[Display Case No_]
	   , MAX(DL.[Hotel No_]) [Hotel No_]
	   , MAX(DH.[Posted Invoice No_])[Posted Invoice No_]
	   , MAX(CASE 
	       WHEN DH.[Correction from] <>'' THEN 
		     CASE WHEN DH.[Status] = 1 THEN 4 ELSE 3 END
		   ELSE
		     CASE WHEN DH.[Status] = 1 THEN 2 ELSE 1 END
         END) [Status]
       , SUM(DL.[Line Amount (LCY)]) [Line Amount (LCY)]
    FROM [HRS$Agency Display Line] DL WITH (NOLOCK)
	JOIN [HRS$Agency Display Header] DH WITH (NOLOCK)
      ON DH.[Case No_] = DL.[Display Case No_]
	JOIN [HRS$Partner Import Line] IL WITH (NOLOCK)
      ON DL.[Reservation No_] = IL.[Reservation No_]
     AND DL.[Display Case No_] = IL.[Correction Case No_]
   WHERE IL.[Import Entry No_] = @ImportEntryNo
GROUP BY DL.[Reservation No_]
       , DL.[Process Number]
	   , DL.[Display Case No_]
), DLM AS
(
  SELECT DL.[Reservation No_]
       , MAX(DL.[Status]) [Status]
    FROM DL
GROUP BY DL.[Reservation No_]
)
UPDATE IL SET
       IL.[Invoice Amount (LCY) corr_] = DL.[Line Amount (LCY)]
  FROM [HRS$Partner Import Line] IL
  JOIN DL
    ON DL.[Reservation No_] = IL.[Reservation No_]
  JOIN DLM
    ON DL.[Reservation No_] = DLM.[Reservation No_]
   AND DL.[Status] = DLM.[Status]
 WHERE IL.[Import Entry No_] = @ImportEntryNo
   AND (
          IL.[Process No_] <> DL.[Process Number]
       OR IL.[Display Case No_] <> DL.[Display Case No_]
       OR IL.[Posted Invoice No_] <> DL.[Posted Invoice No_]
       OR IL.[Hotel No_] <> DL.[Hotel No_]
       OR IL.[Invoice Amount (LCY)] <> DL.[Line Amount (LCY)]
       OR IL.[Invoice Amount (LCY) corr_] <> 0
       )
END
END
GO
