USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetUpCommission]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author:		Soner Akdemir
-- Create date: 15.01.2019
-- Description:	Prepare Commission Process
--
-- Date       | Version |  Ticket  | Sign | Description
-- -----------+---------+----------+------+----------------------------------------------------------
-- 15.01.2019 | HRS001  | ACS-842  |  SAK01 | Create and Wyndham Segmentierung
-- 02.05.2019   HRS002    ACS-1715    SAK01   ACS-1715 MUSE Accor must be posted to NAV BRA - Country 23 -->move to sp_SetUpCommission_BR
-- 02.06.2019   HRS003    ACS-1871    SAK01   ACS-1841 Extension für ACCOR Segmentation
-- 25.07.2019   HRS004    ACS-1873    TMA04   Load BOOKING_SEGMENTATION for all Chains but 550,15,165,204
-- 18.02.2019   HRS004    ACS-2173    TMA04   RatePlan Code Aktualisierung
-- 23.01.2023   HRS005    ACS-4208    TMA04   Segment by IATA
-- ================================================================================================
CREATE PROCEDURE [dbo].[sp_SetUpCommission]
AS
SET QUOTED_IDENTIFIER ON

DECLARE @DateFrom datetime, @DateTo datetime

DECLARE @PostingDate DATETIME

IF DATEPART(dd,GETDATE())<5
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME)
END

IF DATEPART(dd,GETDATE())>=5
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME)
END

 SELECT @DateTo = COALESCE(@DateTo,@PostingDate)
      , @DateFrom = COALESCE(@DateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))

 -- --------------------------------------------------------------------------------------------
 -- 1. Fehlende Steuergruppen hinzufügen
 -- --------------------------------------------------------------------------------------------

INSERT INTO [HRS$Tax Group]([Code],[Description],[Use Hotelstamm]) SELECT CU.[No_], LEFT(CU.[Name],30), 0 FROM [HRS$Customer] CU WITH (NOLOCK)LEFT JOIN [HRS$Tax Group] TG WITH (NOLOCK) ON TG.[Code] = CU.[No_] WHERE TG.[Code] IS NULL

 -- --------------------------------------------------------------------------------------------
 -- 2. Falsche Raten mit abweichender Kommission versehen, Mail Philipp Hahn 04.04.14:WG: AW: FEEDBACK: Verlust durch falsche Preiseingabe (ex Hotasa Hotels), Reduktion der Kommission
 -- --------------------------------------------------------------------------------------------
;WITH _P AS
(
  SELECT [BP_KEY]
       , [CTS]
       , [BT_KOMM_ART]
       , [BT_KOMM_SATZ]
    FROM HRSDB.BKG_PROCESS_LIST_COMMISSION_DA
)
  UPDATE AL SET
         AL.[Commission Type] = _P.[BT_KOMM_ART]
       , AL.[Commission Rate] = _P.[BT_KOMM_SATZ] / 100.
    FROM [HRS$Agency Line] AL
    JOIN [HRS$Agency Header] AH WITH (NOLOCK)
      ON AH.[Reservation No_] = AL.[Reservation No_]
    JOIN _P ON _P.[BP_KEY] = AH.[ProcessNumber]
   WHERE AL.[Commission Type]=12

 ----------------------------------------------------------------------------------------------
 -- 3. Ratetype Description korrigieren (RFC-67452)
 ----------------------------------------------------------------------------------------------

;WITH _P AS
(
SELECT L.Code [Language Code], R.Code [Label Code], CAST(REPLACE(R.Code,'RD','') AS INT) RateType
  FROM [HRS$Language] L, [Report Label] R
 WHERE L.[Code] IN (0,1,2,3,4,7,8,11,12,15,16,17,20,21,22,23)
   AND R.Code LIKE 'RD%'
), LT AS
(
   SELECT _P.RateType, _P.[Language Code], COALESCE(L2.[Translation],L1.[Translation]) [Translation]
     FROM _P
     JOIN [Label Translation] L1 ON L1.[Label Code] = _P.[Label Code] AND L1.[Language Code] = 1
LEFT JOIN [Label Translation] L2 ON L2.[Label Code] = _P.[Label Code] AND L2.[Language Code] = _P.[Language Code]
)
UPDATE AL SET AL.[Rate Description] = LT.Translation
  FROM [HRS$Agency Line] AL
  JOIN [HRS$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
  JOIN [HRS$Customer] CU WITH (NOLOCK)
    ON CU.[No_] = AH.[Hotel No_]
  JOIN LT
    ON AL.[Rate Type] = LT.[RateType]
   AND CU.[Language Code] = LT.[Language Code]
 WHERE AL.[Rate Description] <> LT.Translation

 ----------------------------------------------------------------------------------------------
 -- 4. MuseID bei ehemaligen IHG korrigieren
 ----------------------------------------------------------------------------------------------
UPDATE AH SET AH.[MuseID] = 'IHG' FROM [HRS$Agency Header] AH JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON BU.B_KEY = AH.[Reservation No_] JOIN [HRS$Contact] CO ON CO.[No_] = AH.[Hotel No_] WHERE AH.[MuseID] = 'HRS' AND BU.MUSE_ID = 'IHG' AND CO.[Chain] = 13
UPDATE AH SET AH.[MuseID] = 'HRS' FROM [HRS$Agency Header] AH JOIN [HRS$Contact] CO ON CO.[No_] = AH.[Hotel No_] WHERE AH.[MuseID] = 'IHG' AND CO.[Chain] <> 13

 ----------------------------------------------------------------------------------------------
 -- 5. Reservierungsdatum korrigieren (ca. 2-3 Minuten Laufzeit)
 ----------------------------------------------------------------------------------------------

EXECUTE [dbo].[sp_Recalculate_HRS_Correct_ReservationDate] @DateFrom, @DateTo  

-- RFC-78038 26.07.13 >>>>>>>>>>>>>>>>>>> TM
   UPDATE AH SET AH.[Company No_] = AP.[Company-No_]
     FROM [HRS$Agency Header]  AH WITH (NOLOCK)
     JOIN [Affiliate Partner]  AP WITH (NOLOCK)
       ON AP.[No_] = AH.[Client No_]
    WHERE AP.[Company-No_]<>''
      AND AH.[Company No_] <> AP.[Company-No_]

-- RFC-78802 31.07.13 >>>>>>>>>>>>>>>>>>> TM
   UPDATE AH SET AH.[MuseID] = 'STERIA'
     FROM [HRS$Agency Line] AL WITH (NOLOCK)
     JOIN [HRS$Agency Header]  AH WITH (NOLOCK)
       ON AH.[Reservation No_] = AL.[Reservation No_]
     JOIN [HRS$Agency Business Rules] BR WITH (NOLOCK)
       ON BR.[Hotel No_]       = AH.[Hotel No_]
      AND BR.[Company No_]     = AH.[Company No_]
      AND BR.[Searchorder No_] = 89
      AND BR.[Enabled]         = 1
      AND BR.[Approved]        = 1
      AND AH.[Departure Date] BETWEEN BR.[Valid from] AND BR.[Valid to]
	  AND AH.[MuseID] <> 'STERIA'
-- RFC-78802 31.07.13 <<<<<<<<<<<<<<<<<<< TM    
 
   UPDATE AL SET AL.[Commission Type] = 12
     FROM [HRS$Agency Line] AL WITH (NOLOCK)
     JOIN [HRS$Agency Header]  AH WITH (NOLOCK)
       ON AH.[Reservation No_] = AL.[Reservation No_]
     JOIN [HRS$Agency Business Rules] BR WITH (NOLOCK)
       ON BR.[Hotel No_]       = AH.[Hotel No_]
      AND BR.[Company No_]     = AH.[Company No_]
      AND BR.[Searchorder No_] IN (89)
      AND AL.[Commission Type] = 13
      AND AH.[Departure Date] BETWEEN BR.[Valid from] AND BR.[Valid to]
-- RFC-78038 23.07.13 <<<<<<<<<<<<<<<<<<< TM    

   -- RFC-90423 30.06.14 <<<<<<<<<<<<<<<<<<< TM    
   --UPDATE AL SET AL.[Commission Type] = 12
   --  FROM [HRS$Agency Line] AL WITH (NOLOCK)
   --  JOIN [HRS$Agency Header]  AH WITH (NOLOCK)
   --    ON AH.[Reservation No_] = AL.[Reservation No_]
   --  JOIN [HRS$Agency Business Rules] BR WITH (NOLOCK)
   --    ON BR.[Chain]           = AH.[Chain ID]
   --   AND BR.[Company No_]     = AH.[Company No_]           
   --   AND BR.[Searchorder No_] IN (90)
   --   AND AL.[Commission Type] = 13    
   -- RFC-90423 30.06.14 >>>>>>>>>>>>>>>>>>> TM    

-- ----------------------------------------------------------------------------------------------
-- 6. Ranking Booster aktualisieren
-- ----------------------------------------------------------------------------------------------

   UPDATE AH SET AH.[Ranking Booster] = RB.[RANKING_BOOSTER] FROM [HRS$Agency Header] AH JOIN HRSDB.BKG_PROCESS_ALL_DA RB ON RB.BP_KEY = AH.[ProcessNumber] WHERE AH.[Ranking Booster] <> RB.[RANKING_BOOSTER]


-- ----------------------------------------------------------------------------------------------
-- 7. ACCOR Segment Informationen aktualisieren (ACS-908)
-- ----------------------------------------------------------------------------------------------

-- -- 23.01.2023   HRS005    ACS-4208    TMA04 +++
--;WITH RPC AS
--(
--SELECT HR.H_KEY,F_KEY  
--  FROM HRSDB.RATE_PLAN_CODE RPC WITH (NOLOCK)
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RPC.MUSE_KEY 
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--)
--   UPDATE BU SET BU.B_SEGMENT = CASE WHEN RPC.F_KEY IS NULL THEN 2 ELSE 1 END
--     FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--     JOIN [Affiliate Partner] AP WITH (NOLOCK)
--       ON BU.K_KEY = AP.[No_]
--LEFT JOIN RPC
--       ON AP.[Company-No_] = RPC.F_KEY
--      AND BU.H_KEY = RPC.H_KEY
--	WHERE KE_BID=550 AND B_AB_DATUM >= '2018-11-01'
--      AND COALESCE(BU.B_SEGMENT,0) <> CASE WHEN RPC.F_KEY IS NULL THEN 2 ELSE 1 END


--;WITH RPC2 AS
--(
--SELECT MU.MUSE_ID
--     , HR.H_KEY
--        , AP.[No_] K_KEY
--  FROM HRSDB.RATE_PLAN_CODE RP WITH (NOLOCK)
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RP.MUSE_KEY
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--  JOIN [Affiliate Partner] AP WITH (NOLOCK)
--    ON AP.[Company-No_] = RP.F_KEY
-- WHERE MU.MUSE_ID = 'ACCOR'
--)


--UPDATE AH SET AH.Segment = BU.B_SEGMENT
--  FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--  JOIN [HRS$Agency Header] AH WITH (NOLOCK)
--    ON AH.[Reservation No_] = BU.B_KEY
--  JOIN RPC2
--    ON RPC2.H_KEY = BU.H_KEY
--   AND RPC2.MUSE_ID = BU.MUSE_ID
--   AND RPC2.K_KEY = BU.K_KEY
-- WHERE BU.B_AB_DATUM >= '2018-11-01'
--   AND AH.Segment <> BU.B_SEGMENT;


--;WITH RPC3 AS
--(
--SELECT HR.H_KEY,FF.F_KEY_AUTHORIZED  
--  FROM HRSDB.RATE_PLAN_CODE RPC WITH (NOLOCK)
--  JOIN HRSDB.FIRMA_FIRMA_NM FF WITH (NOLOCK)
--	ON FF.F_KEY = RPC.F_KEY
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RPC.MUSE_KEY 
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--)
--   UPDATE BU SET BU.B_SEGMENT = CASE WHEN RPC3.F_KEY_AUTHORIZED IS NOT NULL THEN 1 END
--     FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--     JOIN [Affiliate Partner] AP WITH (NOLOCK)
--       ON BU.K_KEY = AP.[No_]
--LEFT JOIN RPC3
--       ON AP.[Company-No_] = RPC3.F_KEY_AUTHORIZED
--      AND BU.H_KEY = RPC3.H_KEY
--	WHERE KE_BID=550 AND B_AB_DATUM >= '2018-11-01'
--      AND COALESCE(BU.B_SEGMENT,0) <> CASE WHEN RPC3.F_KEY_AUTHORIZED IS NOT NULL THEN 1 END
--
--
--;WITH RPC4 AS
--(
--SELECT MU.MUSE_ID
--     , HR.H_KEY
--        , AP.[No_] K_KEY
--  FROM HRSDB.RATE_PLAN_CODE RP WITH (NOLOCK)
--  JOIN HRSDB.FIRMA_FIRMA_NM FF WITH (NOLOCK)
--	ON FF.F_KEY = RP.F_KEY
--  JOIN HRSDB.MUSE MU WITH (NOLOCK)
--    ON MU.MUSE_KEY = RP.MUSE_KEY
--  JOIN HRSDB.HOTEL_REFERENCE HR WITH (NOLOCK)
--    ON HR.MUSE_ID = MU.MUSE_ID
--  JOIN [Affiliate Partner] AP WITH (NOLOCK)
--    ON AP.[Company-No_] = FF.F_KEY_AUTHORIZED
-- WHERE MU.MUSE_ID = 'ACCOR'
--)


--UPDATE AH SET AH.Segment = BU.B_SEGMENT
--  FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
--  JOIN [HRS$Agency Header] AH WITH (NOLOCK)
--    ON AH.[Reservation No_] = BU.B_KEY
--  --JOIN RPC4
--  --  ON RPC4.H_KEY = BU.H_KEY
--  -- AND RPC4.MUSE_ID = BU.MUSE_ID
--  -- AND RPC4.K_KEY = BU.K_KEY
-- WHERE BU.B_AB_DATUM >= '2018-11-01'
--   AND AH.Segment <> BU.B_SEGMENT;

EXEC sp_CorrectSegmentByIATA
-- -- 23.01.2023   HRS005    ACS-4208    TMA04 ---

-- ----------------------------------------------------------------------------------------------
-- 8. WYNDHAM Segment Informationen aktualisieren (ACS-842)
--    extended by HRS004 to all Chains execpt 550,15,165,204
-- ----------------------------------------------------------------------------------------------
/*
DB2 Site Values
1 = Leisure
2 = MICE
3 = Corporate unmanaged
4 = Corporate managed
NAVISION Site Values
1 = Corporate
2 = Leisure	
3 = Managed Commissionable
4 = Managed Net	
5 = Meetings and Groups	
*/
/*
UPDATE BU SET 
	BU.B_SEGMENT =
	CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END		
FROM [HRSDB].[BKG_PROCESS_HIST_DA_BOOKING_SEGMENT] BS WITH (NOLOCK)
	JOIN [HRSDB].[BUCHUNG] BU WITH (NOLOCK)
		ON BU.BP_KEY = BS.BP_KEY  
WHERE BU.[B_AB_DATUM] >= '2018-12-01'
   -- HRS004 +++++
   AND NOT BU.KE_BID IN (550,15,165,204)
   -- Original : AND BU.KE_BID = 5
   -- HRS004 -----
   AND BU.KE_ID <> 2023
   AND BU.B_SEGMENT <> CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END;

UPDATE AH SET 
	AH.Segment =
	CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END		
FROM [HRSDB].[BKG_PROCESS_HIST_DA_BOOKING_SEGMENT] BS WITH (NOLOCK)
	JOIN [HRS$Agency Header] AH WITH (NOLOCK)
		ON AH.ProcessNumber = BS.BP_KEY  
WHERE AH.[Departure Date] >= '2018-12-01'
	-- HRS004 +++++
	AND NOT AH.[Chain ID] IN (550,15,165,204)
	-- Original : AND AH.[Chain ID] = 5
	-- HRS004 -----
	AND AH.[Brand ID] <> 2023
	AND AH.Segment <> CASE
		WHEN  BS.BOOKING_SEGMENT = 1 THEN 2
		WHEN  BS.BOOKING_SEGMENT = 2 THEN 5
		WHEN  BS.BOOKING_SEGMENT = 3 THEN 1
		WHEN  BS.BOOKING_SEGMENT = 4 THEN 3
		ELSE 2
	END;

	*/



-- ----------------------------------------------------------------------------------------------
-- 9. Corporate Discount ermitteln ca. 2 Minuten Laufzeit
-- ----------------------------------------------------------------------------------------------

EXECUTE [dbo].[sp_CalculateCorporateDiscount]

-- ----------------------------------------------------------------------------------------------
-- 10. Netto Werte berechnet, dauert etwa 30 Min.
-- ----------------------------------------------------------------------------------------------


EXECUTE [dbo].[sp_CalculateACCORNetRates]

-- ----------------------------------------------------------------------------------------------
-- 11. DB/2 liefert für gemischt Netto- und Bruttowerte in den Buchteilen. Dies wird hier korrigiert; ca. 1 Minute Laufzeit
-- ----------------------------------------------------------------------------------------------
EXECUTE [dbo].[sp_CorrectNetPriceOfMariott]

-- ----------------------------------------------------------------------------------------------
-- 12. RatePlan Code Update
-- ----------------------------------------------------------------------------------------------

EXEC [dbo].[sp_UpdateRatePlanCode_HRS]

-- ----------------------------------------------------------------------------------------------
-- 13. AGB Zustimmung für Freesale auf "Akzeptiert" stellen, sofern kein Wiederspruch eingelegt wurde (ACS-2248)
-- ----------------------------------------------------------------------------------------------
  UPDATE HO SET 
         HO.H_GTC_STATUS =2
    FROM HRSDB.HOTEL HO WITH (NOLOCK)
   WHERE HO.H_GTC_STATUS=0
     AND NOT HO.HJ_FIT_STATUS IN (10,11)

  UPDATE CO SET
         CO.[GTC Status] = HO.H_GTC_STATUS
    FROM [HRS$Contact] CO
	JOIN HRSDB.HOTEL HO WITH (NOLOCK)
	  ON HO.H_KEY = CO.[No_]
   WHERE CO.[GTC Status] <> HO.H_GTC_STATUS

-- ----------------------------------------------------------------------------------------------
-- 14. Derbysoft Firmenraten (ACS-2694)
-- ----------------------------------------------------------------------------------------------

UPDATE BT SET BT.BT_KOMM_ART=13
--select * 
  FROM DynNavHRS.HRSDB.BUCHTEIL BT 
  JOIN DynNavHRS.HRSDB.BUCHUNG BU WITH (NOLOCK)  ON BU.B_KEY=BT.B_KEY
  JOIN DynNavHRS.dbo.[Affiliate Partner] AP WITH (NOLOCK) ON AP.[No_]=BU.K_KEY
 WHERE BU.MUSE_ID='DERBYSOFT'
   AND BU.B_AB_DATUM BETWEEN @DateTo AND @DateFrom
   AND BT.BT_KOMM_ART<>13
   AND AP.[Distribution Channel ID]=2; -- 2 = Corporate
   

UPDATE AL SET AL.[Commission Type] = 13
  -- select * 
   FROM [HRS$Agency Line] AL WITH (NOLOCK) 
   JOIN [HRS$Agency Header]  AH WITH (NOLOCK)
       ON AH.[Reservation No_] = AL.[Reservation No_]
  JOIN DynNavHRS.HRSDB.BUCHUNG BU WITH (NOLOCK)  ON BU.B_KEY= AH.ProcessNumber
  JOIN DynNavHRS.dbo.[Affiliate Partner] AP WITH (NOLOCK) ON AP.[No_]=BU.K_KEY
 WHERE AH.[Chain ID]='DERBYSOFT'
   AND AH.[Departure Date] BETWEEN  @DateTo AND @DateFrom
   AND AL.[Commission Type]<>13
   AND AP.[Distribution Channel ID]=2; -- 2 = Corporate

      ----- ACS-3977
   EXEC [dbo].[CorrectChain795]

   
      ----- ACS-3821
EXEC [dbo].[CorrectChain3040]
-------ACS-4231
EXEC [dbo].[CorrectChain993] 
GO
