USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[BuchNachKorrAlleKunden]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        Thomas Marquardt
-- Create date:   09.12.11
-- Description:   Buchungen nach Korrektur auf Kundenebene
-- Changer:       Harald Sichert
-- Change date:   31.08.2017 bis 04.09.2017
-- Modification:  Ticket @Start and @End changed to datetime, NAV-152 (Reservierungsnummer als Liste aufrufbar machen)
-- =============================================
CREATE PROCEDURE [dbo].[BuchNachKorrAlleKunden] 
  -- Add the parameters for the stored procedure here
  @Start AS datetime = '20170101',
  @Ende AS datetime = '20170731',
  @Kunde AS Varchar(max) = '406577002',
  @VorgangsNummern AS Varchar(max) = '*',
  @AbDatum AS datetime = '20170101'
AS
BEGIN
  SET NOCOUNT ON;
  --DECLARE @Kunde AS Varchar(max), @Start  AS datetime, @Ende AS datetime, @VorgangsNummern AS Varchar(max), @AbDatum AS datetime
  --SELECT @Kunde = '406577002', @Start = '20111101', @Ende = '20111130', @AbDatum = '20170101',
  --       @VorgangsNummern = '*76466148,76611972,77719822,77720088,78451865,79149176,79400242,80492488,81104935,81351240,81413781,81552317,81552504,81721036,81937070,81969361,82092487,82102113,82158183,82358999,82359230,82363300,82443230,82523220,82560729,82609953,82705480,82735105,82735210,82892490,83074020,83122464,83253058,83302264,83363636,83374418,83412404,83516881,83560626,83619982,83620127,83658845,83662045,83726497,83753317,83763088,83798575,83813869,83847121,83896948,83918709,83974407,83995550,84011276,84025703,84028592,84036723,84048739,84080334,84135572,84141240,84186562,84199041,84218647,84230298,84287648,84320968,84323701,84332612,84349719,84403812,84411310,84414724,84441528,84465643,84465660,84467917,84470143,84536766,84539752,84558909,84575044,84575268,84591525,84631752,84636755,84645807,84655277,84655883,84659450,84664179,84669771,84718859,84730245,84753105,84766942,84768998,84776972,84803842,84869867,84874302,84902439,84917843,84920267,84944834,84953446,84953817,84959042,84997075,85003202,85007044,85019710,85027575,85031421,85086955,85182565,85182611,85225053,85231629,85241517,85251149,85266959,85311248,85313138,85323482,85324937,85336554,85336966,85338149,85338406,85349533,85362332,85365212,85368238,85378874,85401806,85402004,85402287,85433073,85433104,85480804,85492549,85494399,85500454,85507435,85513471,85535364,85536020,85539729,85542693,85550822,85555935,85558307,85561626,85561878,85564485,85567203,85591070,85604117,85605740,85610339,85616403,85616844,85620052,85621476,85625474,85626988,85643053,85656507,85677635,85678376,85687713,85692133,85701280,85720816,85734187,85734276,85759802,85777494,85781057,85783410,85783644,85783951,85784044,85784206,85784367,85784655,85784674,85784930,85785051,85785274,85785426,85790286,85801159,85812453,85822353,85831365,85832498,85843416,85847033,'
  SELECT @Kunde = ',' + @Kunde+',';

  DECLARE @IsCustomerQuery AS bit;
  IF SUBSTRING(@VorgangsNummern, 1, 1) = '*' 
    SET @IsCustomerQuery = 1;
  ELSE
    SET @IsCustomerQuery = 0;

  IF (@IsCustomerQuery = 1)  -- state as before NAV-152
    BEGIN
    WITH RS AS (
      SELECT 
             AP.[ProcessNumber]                               Vorgangsnummer
           , AP.[ReservationNo]                               Reservierungsnummer
           , AP.[AffiliatePartnerNo]                          Kundennummer
           , SUM(AP.[Amount_LCY_corr])                        Betrag
           , CONVERT(char(10), MIN([ArivalDate]), 104)        Anreise
           , CONVERT(char(10), MAX([DepartureDate]), 104)     Abreise
           , AVG(CASE WHEN DL.[Number of Person] = 0 THEN 1 ELSE DL.[Number of Person] END )                       Personen
           , MONTH(AP.[PostingDate])                          Periode
           , YEAR(AP.[PostingDate])                           Jahr
           , AP.[HotelNo]                                     Hotel
           , SUM(AP.[RoomNights_corr])                        Roomnights
           , SUM(AP.[Amount_LCY_corr])                        [€-Betrag]
           , DH.[Currency Code]                               WC
           , DH.[Currency Factor]                             WF
           , MIN(CONVERT(char(10),AP.[ReservationDate], 104)) Buchungsdatum
           , MAX(DL.[Reservation Activator])                  Reservierungsbucher
           , MAX(AP.[ReservationSource])                      Reservierungsquelle
           , SUM(AP.[Turnover_LCY_corr])                      Umsatz
           , SUM(DL.[Breakfast Price]/DH.[Currency Factor])   [Betrag-Frühstück]
           , MAX(AP.[ClientCompany])                          [Kunde Firma]
           , MAX(AP.[CountryCode])                            Ländercode
           , MAX(AP.[Description])                            [Gastname 1]
           , MAX(AP.[Description2])                           [Gastname 2]
           , MAX(COALESCE(DA.BCDT_VALUE,''))                  [Additional Info]
        FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
        JOIN [HRS$Sales Invoice Corrections] SC WITH (NOLOCK)
          ON SC.[Min Document No_] = AP.[InvoiceNo]
        JOIN [HRS$Agency Display Header] DH WITH (NOLOCK)
          ON DH.[Posted Invoice No_] = SC.[Max Document No_]
        JOIN [HRS$Agency Display Line] DL WITH (NOLOCK)
          ON DH.[Case No_] = DL.[Display Case No_]
         AND DL.[Reservation No_] = AP.[ReservationNo]
         AND DL.[Position No_]    = AP.[ReservationPartNo]
   LEFT JOIN [HRSDB].[BKG_CI_DATA_TEXT_DA] DA WITH (NOLOCK)
          ON DA.B_KEY = AP.[ReservationNo]
       WHERE @Kunde LIKE '%,'+CAST(AP.[AffiliatePartnerNo] AS varchar)+',%'
         AND AP.[PostingDate] BETWEEN @Start AND @Ende
    GROUP BY 
             AP.[ProcessNumber]
           , AP.[ReservationNo]
           , AP.[AffiliatePartnerNo]
           , AP.[HotelNo]
           , DH.[Currency Code]
           , DH.[Currency Factor]
           , AP.[PostingDate]
    )
    SELECT 
      RS.[Vorgangsnummer],
      RS.[Reservierungsnummer],
      RS.[Kundennummer],
      RS.[Umsatz] AS [Umsatz Reservierungsnummer],
      RS.[Betrag] AS [Betrag Reservierungsnummer],
      V.[Umsatz Vorgangsnummer gesamt],
      V.[Betrag Vorgangsnummer gesamt],
      RS.[Anreise],
      RS.[Abreise],
      RS.[Personen],
      RS.[Periode],
      RS.[Jahr],
      RS.[Hotel],
      RS.[Roomnights],
      RS.[WC],
      RS.[WF],
      RS.[Buchungsdatum],
      RS.[Reservierungsbucher],
      RS.[Reservierungsquelle],
      RS.[Betrag-Frühstück],
      RS.[Kunde Firma],
      RS.[Ländercode],
      RS.[Gastname 1],
      RS.[Gastname 2],
      RS.[Additional Info]
    FROM RS JOIN
    (SELECT RS.[Vorgangsnummer], SUM(RS.[Umsatz]) AS [Umsatz Vorgangsnummer gesamt], SUM(RS.[Betrag]) AS [Betrag Vorgangsnummer gesamt] 
     FROM RS
     GROUP BY RS.[Vorgangsnummer]) V
    ON RS.[Vorgangsnummer] = V.[Vorgangsnummer]
    ORDER BY CONVERT(datetime, RS.Anreise, 104), RS.[Reservierungsnummer];
  END
ELSE  -- added with NAV-152
    -- first string split function to get a list of IDs in a temp table #VORGANG
  BEGIN
    DECLARE 
      @S varchar(max),
      @Split char(1) = ',',
      @X xml

    SET  @S = CASE WHEN RIGHT(@VorgangsNummern, 1) = ',' THEN SUBSTRING(@VorgangsNummern, 1, LEN(@VorgangsNummern) - 1) ELSE @VorgangsNummern END;
    SELECT @X = CONVERT(xml,'<root><s>' + REPLACE(@S,@Split,'</s><s>') + '</s></root>');
    SELECT [Vorgang] = T.c.value('.','varchar(20)') INTO #VORGANG
    FROM @X.nodes('/root/s') T(c);
    WITH RS AS (
      SELECT 
            AP.[ProcessNumber]                               Vorgangsnummer
          , AP.[ReservationNo]                               Reservierungsnummer
          , AP.[AffiliatePartnerNo]                          Kundennummer
          , SUM(AP.[Amount_LCY_corr])                        Betrag
          , CONVERT(char(10), MIN([ArivalDate]), 104)        Anreise
          , CONVERT(char(10), MAX([DepartureDate]), 104)     Abreise
          , AVG(CASE WHEN DL.[Number of Person] = 0 THEN 1 ELSE DL.[Number of Person] END )                       Personen
          , MONTH(AP.[PostingDate])                          Periode
          , YEAR(AP.[PostingDate])                           Jahr
          , AP.[HotelNo]                                     Hotel
          , SUM(AP.[RoomNights_corr])                        Roomnights
          , SUM(AP.[Amount_LCY_corr])                        [€-Betrag]
          , DH.[Currency Code]                               WC
          , DH.[Currency Factor]                             WF
          , MIN(CONVERT(char(10),AP.[ReservationDate], 104)) Buchungsdatum
          , MAX(DL.[Reservation Activator])                  Reservierungsbucher
          , MAX(AP.[ReservationSource])                      Reservierungsquelle
          , SUM(AP.[Turnover_LCY_corr])                      Umsatz
          , SUM(DL.[Breakfast Price]/DH.[Currency Factor])   [Betrag-Frühstück]
          , MAX(AP.[ClientCompany])                          [Kunde Firma]
          , MAX(AP.[CountryCode])                            Ländercode
          , MAX(AP.[Description])                            [Gastname 1]
          , MAX(AP.[Description2])                           [Gastname 2]
          , MAX(COALESCE(DA.BCDT_VALUE,''))                  [Additional Info]
        FROM (SELECT * FROM [HRS$Affiliate Postings] WITH (NOLOCK) WHERE [DepartureDate] >= @AbDatum) AP
            -- limit search to configured date
        JOIN [HRS$Sales Invoice Corrections] SC WITH (NOLOCK)
          ON SC.[Min Document No_] = AP.[InvoiceNo]
        JOIN [HRS$Agency Display Header] DH WITH (NOLOCK)
          ON DH.[Posted Invoice No_] = SC.[Max Document No_]
        JOIN [HRS$Agency Display Line] DL WITH (NOLOCK)
          ON DH.[Case No_] = DL.[Display Case No_]
        AND DL.[Reservation No_] = AP.[ReservationNo]
        AND DL.[Position No_]    = AP.[ReservationPartNo]
      LEFT JOIN [HRSDB].[BKG_CI_DATA_TEXT_DA] DA WITH (NOLOCK)
          ON DA.B_KEY = AP.[ReservationNo]
      WHERE CONVERT(varchar(10), AP.[ProcessNumber]) IN (SELECT [Vorgang] FROM #VORGANG)
      GROUP BY 
            AP.[ProcessNumber]
          , AP.[ReservationNo]
          , AP.[AffiliatePartnerNo]
          , AP.[HotelNo]
          , DH.[Currency Code]
          , DH.[Currency Factor]
          , AP.[PostingDate]
    )
    SELECT 
      RS.[Vorgangsnummer],
      RS.[Reservierungsnummer],
      RS.[Kundennummer],
      RS.[Umsatz] AS [Umsatz Reservierungsnummer],
      RS.[Betrag] AS [Betrag Reservierungsnummer],
      V.[Umsatz Vorgangsnummer gesamt],
      V.[Betrag Vorgangsnummer gesamt],
      RS.[Anreise],
      RS.[Abreise],
      RS.[Personen],
      RS.[Periode],
      RS.[Jahr],
      RS.[Hotel],
      RS.[Roomnights],
      RS.[WC],
      RS.[WF],
      RS.[Buchungsdatum],
      RS.[Reservierungsbucher],
      RS.[Reservierungsquelle],
      RS.[Betrag-Frühstück],
      RS.[Kunde Firma],
      RS.[Ländercode],
      RS.[Gastname 1],
      RS.[Gastname 2],
      RS.[Additional Info]
    FROM RS JOIN
    (SELECT RS.[Vorgangsnummer], SUM(RS.[Umsatz]) AS [Umsatz Vorgangsnummer gesamt], SUM(RS.[Betrag]) AS [Betrag Vorgangsnummer gesamt] 
     FROM RS
     GROUP BY RS.[Vorgangsnummer]) V
    ON RS.[Vorgangsnummer] = V.[Vorgangsnummer]
    ORDER BY CONVERT(datetime, RS.Anreise, 104), RS.[Reservierungsnummer];

    DROP TABLE #VORGANG;
  END;
  
END

GO
