USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_FormatDate]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 11.06.18
-- Description:	Datumsformatierung anhanf Formatierungsstring
-- =============================================
CREATE FUNCTION [dbo].[fnc_FormatDate](@date datetime, @FormatString nvarchar(50))
RETURNS nvarchar(50)
AS
BEGIN
  DECLARE @String nvarchar(50)= @FormatString
 
  SELECT @String = REPLACE(@String,'yyyy',CAST(YEAR(@date) AS varchar(4)))
  SELECT @String = REPLACE(@String,'yy',CAST(YEAR(@date)%100 AS varchar(4)))
  SELECT @String = REPLACE(@String,'MMMM',DATENAME(mm,@date) )
  SELECT @String = REPLACE(@String,'MM',RIGHT('0'+CAST(MONTH(@date) AS varchar(4)),2))
  SELECT @String = REPLACE(@String,'dddd',DATENAME(dw,@date) )
  SELECT @String = REPLACE(@String,'dd',RIGHT('0'+CAST(DAY(@date) AS varchar(4)),2))

  RETURN @String
END
GO
