USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateHeaderTAF]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dennis Juhr
-- Create date: 18.01.2018
-- Description:	Für TAF Belege
/*
DECLARE @ReNr VARCHAR(20)
SELECT @ReNr = 'K0000036668'
EXEC [dbo].[sp_RebateHeader] @ReNr
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateHeaderTAF] 
    @RebateNo varchar(20) 
WITH RECOMPILE
AS
BEGIN
	DECLARE @AP AS TABLE([Affiliate Partner No_] int, [Rebate No_] varchar(20))
	DECLARE @CustList VARCHAR(MAX)
	SELECT @CustList = ''
	DECLARE @ActualCustomer bigint, @PreviousCustomer bigint, @FirstCustomer bigint, @RangeMin bigint, @RangeMax bigint, @OldRangeMin bigint, @OldRangeMax bigint, @VendorNo VARCHAR(20)
	SELECT @ActualCustomer = 0, @PreviousCustomer = 0, @FirstCustomer = 0, @RangeMin = 0, @RangeMax = 0

	;WITH AgreementHeader AS
	(
		SELECT RH.[Posting Date]
			 , RH.[Interval Start Date]
			 , RH.[Interval End Date]
			 , AH.[Rebate-to Vendor No_]
			 , RH.[No_]
		  FROM [HRS$Rebate Header]           RH WITH (NOLOCK)
		  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
			ON AH.[No_] = RH.[Rebate Agreement No_] 
		 WHERE RH.[No_] = @RebateNo
		UNION
		SELECT RH.[Posting Date]
			 , RH.[Interval Start Date]
			 , RH.[Interval End Date]
			 , AH.[Rebate-to Vendor No_]
			 , RH.[No_]
		  FROM [HRS$Posted Rebate Header]    RH WITH (NOLOCK)
		  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
			ON AH.[No_] = RH.[Rebate Agreement No_] 
		 WHERE RH.[Rebate No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo
		UNION
		SELECT RH.[Posting Date]
			 , RH.[Interval Start Date]
			 , RH.[Interval End Date]
			 , AH.[Rebate-to Vendor No_]
			 , RH.[No_]
		  FROM [HRS$Posted Rebate Header]    RH WITH (NOLOCK)
		  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
			ON AH.[No_] = RH.[Rebate Agreement No_] 
		 WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo
	)
	INSERT INTO @AP
	SELECT AV.[Affiliate Partner No_], AH.[No_]
	FROM [HRS$Affiliate Partner Vendor] AV WITH (NOLOCK)
	JOIN AgreementHeader AH
    ON AH.[Rebate-to Vendor No_] = AV.[Vendor No_]

	DECLARE cur CURSOR FOR SELECT * FROM @AP ORDER BY 1

	OPEN cur

	FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
	PRINT @VendorNo
	SELECT @FirstCustomer = @ActualCustomer

	WHILE @@FETCH_STATUS = 0
	BEGIN
	  IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
		IF @PreviousCustomer<> 0 AND (@RangeMax<@ActualCustomer OR @RangeMax=0) BEGIN
		  SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
		  SET @RangeMin=0
		  SET @RangeMax=0
		  SELECT @RangeMin = [Affiliate Partner No_ (from)]
			   , @RangeMax = [Affiliate Partner No_ (to)]
			FROM [HRS$Reserved Customer-No_ Ranges]
		   WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
			 AND [Vendor No_] = @VendorNo
		  IF @RangeMin<@FirstCustomer AND @RangeMin<>0
			SET @FirstCustomer = @RangeMin
		  IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
			SET @PreviousCustomer = @RangeMax
		  SET @CustList = @CustList 
						+ CASE
							WHEN @RangeMin>0 AND @RangeMax>0 THEN
							  CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
							WHEN @PreviousCustomer = @FirstCustomer THEN 
							  CAST(@PreviousCustomer AS varchar)
							ELSE
							  CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
						  END  
		  SELECT @FirstCustomer = @ActualCustomer
		END 
	  END
  
	  SELECT @PreviousCustomer = @ActualCustomer
	  FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
	END

	IF (@PreviousCustomer<> 0) BEGIN
	  SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
	  SET @RangeMin=0
	  SET @RangeMax=0
	  SELECT @RangeMin = [Affiliate Partner No_ (from)]
		   , @RangeMax = [Affiliate Partner No_ (to)]
		FROM [HRS$Reserved Customer-No_ Ranges]
	   WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
		 AND [Vendor No_] = @VendorNo
	  IF @RangeMin<@FirstCustomer AND @RangeMin<>0
		SET @FirstCustomer = @RangeMin
	  IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
		SET @PreviousCustomer = @RangeMax
	  SET @CustList = @CustList 
					+ CASE
						WHEN @RangeMin>0 AND @RangeMax>0  THEN
						  CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
						WHEN @PreviousCustomer = @FirstCustomer THEN 
						  CAST(@PreviousCustomer AS varchar)
						ELSE
						  CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
					  END                   
	END 

	CLOSE cur
	DEALLOCATE cur

	;WITH RH AS
	(
		SELECT RH.No_
			 , RH.[Posting Date]
			 , RH.[Interval Start Date]
			 , RH.[Interval End Date]
			 , RH.[Language Code]
			 , RH.[Currency Code]
			 , RH.[Rebate Agreement No_]
			 , RH.[Cust_ Invoice No_]
		FROM [HRS$Rebate Header] RH WITH (READUNCOMMITTED)
		WHERE RH.[No_] = @RebateNo
	UNION
		SELECT RH.No_
			 , RH.[Posting Date]
			 , RH.[Interval Start Date]
			 , RH.[Interval End Date]
			 , RH.[Language Code]
			 , RH.[Currency Code]
			 , RH.[Rebate Agreement No_]
			 , RH.[Cust_ Invoice No_]
		FROM [HRS$Posted Rebate Header] RH WITH (READUNCOMMITTED)
		WHERE RH.[No_] = @RebateNo
	)
	, SIL AS 
	(
		SELECT RH.[Cust_ Invoice No_] [Document No_]
			 , SUM(SIL.[Amount Including VAT]) - SUM(SIL.Amount) [VAT Amount]
			 , SUM(SIL.[Amount Including VAT]) [Gross Amount]
		FROM [HRS$Rebate Header] RH
		JOIN [HRS$Sales Invoice Line] SIL WITH (READUNCOMMITTED)
		ON RH.[Cust_ Invoice No_] = SIL.[Document No_]
		WHERE RH.[No_] = @RebateNo
		GROUP BY RH.[Cust_ Invoice No_]
	)

	SELECT RH.No_
		 , RH.[Interval Start Date]
		 , RH.[Interval End Date]
		 , CASE WHEN RH.[Language Code] = '' THEN CASE WHEN CU.[Language Code] = '' THEN '0' ELSE CU.[Language Code] END ELSE RH.[Language Code] END [Language Code] 
		 , RH.[Currency Code]

		 , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]

		 , CO.[Name] [Rebate-to Country_Region Name]

		 , CU.[No_] [Customer No]
		 , CU.[VAT Registration No_]

		 , RL1.[Value Decimal]	[Parameter_1_Value]
		 , RL1.[Description]	[Parameter_1_Text]
		 , RL2.[Value Decimal]	[Parameter_2_Value]
		 , RL2.[Description]	[Parameter_2_Text]
		 , RL3.[Value Decimal]	[Parameter_3_Value]
		 , RL3.[Description]	[Parameter_3_Text]
		 , RL4.[Value Decimal]	[Parameter_4_Value]
		 , RL4.[Description]	[Parameter_4_Text]
		 , RL5.[Value Decimal]	[Parameter_5_Value]
		 , RL5.[Description]	[Parameter_5_Text]
		 , RL6.[Value Decimal]	[Parameter_6_Value]
		 , RL6.[Description]	[Parameter_6_Text]

		 , @CustList [Affiliate Partner List]
		 , '5|7' [Online Reservation Source]

		 , CASE WHEN SIH.[VAT Bus_ Posting Group] = '' THEN 'INLAND' ELSE SIH.[VAT Bus_ Posting Group] END [VAT Bus. Posting Group]
		 , SIH.[No_] [Invoice No]
		 , SIH.[Posting Date]
		 , SIH.[Sell-to Customer Name] [Rebate-to Name]
		 , SIH.[Sell-to Customer Name 2][Rebate-to Name 2]
		 , SIH.[Sell-to Address][Rebate-to Address]
		 , SIH.[Sell-to Address 2] [Rebate-to Address 2]
		 , SIH.[Sell-to Post Code] [Rebate-to Post Code]
		 , SIH.[Sell-to City] [Rebate-to City]
		 , SIH.[Sell-to Country_Region Code] [Rebate-to Country_Region Code]

		 , SIL.[VAT Amount] [VAT Amount]
		 , SIL.[Gross Amount] [Gross Amount]

	FROM RH WITH (READUNCOMMITTED)

	JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) 
	ON RH.[Rebate Agreement No_] = RA.[No_]

	JOIN [HRS$Rebate Agreem_ Hdr_ extension] RA_EXT WITH (READUNCOMMITTED)
	ON RH.[Rebate Agreement No_] = RA_EXT.[Rebate No_]

	JOIN [HRS$Customer] CU WITH (READUNCOMMITTED)
	ON RA_EXT.[Customer No_] = CU.No_

	LEFT JOIN [HRS$Sales Invoice Header] SIH WITH (READUNCOMMITTED)
	ON RH.[Cust_ Invoice No_] = SIH.[No_]
	LEFT JOIN SIL ON SIL.[Document No_] = SIH.No_

	LEFT JOIN [HRS$Country_Region] CO WITH (READUNCOMMITTED)
    ON SIH.[Sell-to Country_Region Code] = CO.Code

	LEFT JOIN [HRS$Rebate Line] RL1 WITH (NOLOCK) ON RH.No_ = RL1.[Document No_] AND RA_EXT.[Input Parameter 1] = RL1.No_
	LEFT JOIN [HRS$Rebate Line] RL2 WITH (NOLOCK) ON RH.No_ = RL2.[Document No_] AND RA_EXT.[Input Parameter 2] = RL2.No_
	LEFT JOIN [HRS$Rebate Line] RL3 WITH (NOLOCK) ON RH.No_ = RL3.[Document No_] AND RA_EXT.[Input Parameter 3] = RL3.No_
	LEFT JOIN [HRS$Rebate Line] RL4 WITH (NOLOCK) ON RH.No_ = RL4.[Document No_] AND RA_EXT.[Input Parameter 4] = RL4.No_
	LEFT JOIN [HRS$Rebate Line] RL5 WITH (NOLOCK) ON RH.No_ = RL5.[Document No_] AND RA_EXT.[Input Parameter 5] = RL5.No_
	LEFT JOIN [HRS$Rebate Line] RL6 WITH (NOLOCK) ON RH.No_ = RL6.[Document No_] AND RA_EXT.[Input Parameter 6] = RL6.No_
END
GO
