USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RB]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RB] AS
DECLARE @DateFrom DATE = '2014-01-01'
      , @DateTo   DATE = '2016-05-31'

;WITH RB AS
(
SELECT   AH.[Bill-to Customer No_] [Hotel No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
       , SUM(
         AL.[Commission Base Amount (LCY)]                    
       * AL.[Number of Nights] 
         )                                                      [Hotel Turnover (LCY)]
       , SUM(
          AL.[Line Amount]                    
        / CASE WHEN AL.[Currency Faktor]=0 THEN 1 ELSE AL.[Currency Faktor] END
         )                                                      [Amount (LCY) total]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Ranking Booster]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) RB]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Commission Rate]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) w/o RB]
       , COUNT(DISTINCT [Reservation No_]) [Bookings]
       , SUM(AL.[Number of Nights] * AL.[Number of Rooms])      [RN]
    FROM DynNavHRS.dbo.[HRS$Agency Display Line]   AL WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Agency Display Header] AH WITH (NOLOCK) ON AH.[Case No_] = AL.[Display Case No_]
    JOIN DynNavHRS.dbo.[HRS$Contact]               CO WITH (NOLOCK) ON CO.No_        = AH.[Bill-to Customer No_]
    JOIN DynNavHRS.dbo.[HRS$Foreign Tax]           FT WITH (NOLOCK) ON FT.Country    = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS$Country_Region]        CR WITH (NOLOCK) ON CR.[Code]     = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS$Booking Source]        BS WITH (NOLOCK) ON BS.[No_]      = AL.[Reservation Source]
    JOIN [Chain]                                       CH WITH (NOLOCK) ON CH.[Code]     = CO.[Chain]
    JOIN [Brand]                                       BR WITH (NOLOCK) ON BR.[Code]     = CO.[Brand]
    JOIN DynNavHRS.dbo.[HRS$Dimension Value]       CS WITH (NOLOCK) ON CS.[Code]     = CO.[Contract Status] AND CS.[Dimension Code] = 'CONTRACT STATUS'
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK) ON AP.[No_] = AL.[Client No_]
   WHERE AL.[Ranking Booster] <> 0
     AND AH.[Correction from] = ''
     AND AH.[Case No_] LIKE 'V%'
	 AND AL.[Calculated with Function ID]<>'12'
	 AND NOT AL.[Client No_] IN (1000939001,1042998001)
	 AND NOT AL.[Client No_] BETWEEN 1055788001 AND 1055788040
	 AND NOT AL.[Rate Type] IN (10010,19996,19999,30053)
	 AND NOT COALESCE(AP.[Company-No_],'')=9358
     AND AH.[Posting Date] BETWEEN @DateFrom AND @DateTo
--     AND ',2,' LIKE '%,'+AH.[Bill-to Customer No_] +',%'
GROUP BY AH.[Bill-to Customer No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
UNION ALL
SELECT   AH.[Bill-to Customer No_] [Hotel No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
       , SUM(
         AL.[Commission Base Amount (LCY)]                    
       * AL.[Number of Nights] 
         )                                                      [Hotel Turnover (LCY)]
       , SUM(
          AL.[Line Amount]                    
        / CASE WHEN AL.[Currency Faktor]=0 THEN 1 ELSE AL.[Currency Faktor] END
         )                                                      [Amount (LCY) total]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Ranking Booster]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) RB]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Commission Rate]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) w/o RB]
       , COUNT(DISTINCT [Reservation No_]) [Bookings]
       , SUM(AL.[Number of Nights] * AL.[Number of Rooms])      [RN]
    FROM DynNavHRS.dbo.[HRS-BR$Agency Display Line]   AL WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS-BR$Agency Display Header] AH WITH (NOLOCK) ON AH.[Case No_] = AL.[Display Case No_]
    JOIN DynNavHRS.dbo.[HRS-BR$Contact]               CO WITH (NOLOCK) ON CO.No_        = AH.[Bill-to Customer No_]
    JOIN DynNavHRS.dbo.[HRS-BR$Foreign Tax]           FT WITH (NOLOCK) ON FT.Country    = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS-BR$Country_Region]        CR WITH (NOLOCK) ON CR.[Code]     = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS-BR$Booking Source]        BS WITH (NOLOCK) ON BS.[No_]      = AL.[Reservation Source]
    JOIN [Chain]                                       CH WITH (NOLOCK) ON CH.[Code]     = CO.[Chain]
    JOIN [Brand]                                       BR WITH (NOLOCK) ON BR.[Code]     = CO.[Brand]
    JOIN DynNavHRS.dbo.[HRS-BR$Dimension Value]       CS WITH (NOLOCK) ON CS.[Code]     = CO.[Contract Status] AND CS.[Dimension Code] = 'CONTRACT STATUS'
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK) ON AP.[No_] = AL.[Client No_]
   WHERE AL.[Ranking Booster] <> 0
     AND AH.[Correction from] = ''
     AND AH.[Case No_] LIKE 'V%'
	 AND AL.[Calculated with Function ID]<>'12'
	 AND NOT AL.[Client No_] IN (1000939001,1042998001)
	 AND NOT AL.[Client No_] BETWEEN 1055788001 AND 1055788040
	 AND NOT AL.[Rate Type] IN (10010,19996,19999,30053)
	 AND NOT COALESCE(AP.[Company-No_],'')=9358
     AND AH.[Posting Date] BETWEEN @DateFrom AND @DateTo
     AND ',2,' LIKE '%,'+AH.[Bill-to Customer No_] +',%'
GROUP BY AH.[Bill-to Customer No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
UNION ALL
SELECT   AH.[Bill-to Customer No_] [Hotel No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
       , SUM(
         AL.[Commission Base Amount (LCY)]                    
       * AL.[Number of Nights] 
         )                                                      [Hotel Turnover (LCY)]
       , SUM(
          AL.[Line Amount]                    
        / CASE WHEN AL.[Currency Faktor]=0 THEN 1 ELSE AL.[Currency Faktor] END
         )                                                      [Amount (LCY) total]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Ranking Booster]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) RB]
       , SUM(
          CASE WHEN AL.[Commission Rate] + AL.[Ranking Booster] = 0 THEN 0 ELSE
          AL.[Line Amount (LCY)] * AL.[Commission Rate]
       / (AL.[Commission Rate]   + AL.[Ranking Booster]) END
         )                                                      [Amount (LCY) w/o RB]
       , COUNT(DISTINCT [Reservation No_]) [Bookings]
       , SUM(AL.[Number of Nights] * AL.[Number of Rooms])      [RN]
    FROM DynNavHRS.dbo.[HRS-CN$Agency Display Line]   AL WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS-CN$Agency Display Header] AH WITH (NOLOCK) ON AH.[Case No_] = AL.[Display Case No_]
    JOIN DynNavHRS.dbo.[HRS-CN$Contact]               CO WITH (NOLOCK) ON CO.No_        = AH.[Bill-to Customer No_]
    JOIN DynNavHRS.dbo.[HRS-CN$Foreign Tax]           FT WITH (NOLOCK) ON FT.Country    = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS-CN$Country_Region]        CR WITH (NOLOCK) ON CR.[Code]     = CO.[Country_Region Code]
    JOIN DynNavHRS.dbo.[HRS-CN$Booking Source]        BS WITH (NOLOCK) ON BS.[No_]      = AL.[Reservation Source]
    JOIN [Chain]                                       CH WITH (NOLOCK) ON CH.[Code]     = CO.[Chain]
    JOIN [Brand]                                       BR WITH (NOLOCK) ON BR.[Code]     = CO.[Brand]
    JOIN DynNavHRS.dbo.[HRS-CN$Dimension Value]       CS WITH (NOLOCK) ON CS.[Code]     = CO.[Contract Status] AND CS.[Dimension Code] = 'CONTRACT STATUS'
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK) ON AP.[No_] = AL.[Client No_]
   WHERE AL.[Ranking Booster] <> 0
     AND AH.[Correction from] = ''
     AND AH.[Case No_] LIKE 'V%'
	 AND AL.[Calculated with Function ID]<>'12'
	 AND NOT AL.[Client No_] IN (1000939001,1042998001)
	 AND NOT AL.[Client No_] BETWEEN 1055788001 AND 1055788040
	 AND NOT AL.[Rate Type] IN (10010,19996,19999,30053)
	 AND NOT COALESCE(AP.[Company-No_],'')=9358
     AND AH.[Posting Date] BETWEEN @DateFrom AND @DateTo
     AND ',2,' LIKE '%,'+AH.[Bill-to Customer No_] +',%'
GROUP BY AH.[Bill-to Customer No_]
       , AH.[Posting Date]
       , AL.[Reservation No_]
       , AL.[Position No_]
)
SELECT * FROM RB
GO
