USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRatePlanCode_HRS-BR]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 18.02.20
-- Description:	Update Rate Plan Code to Customer and Contact
--
/*
EXEC [dbo].[sp_UpdateRatePlanCode_HRS-BR]
*/
-- Date     Version   RFC        Sign.  Description
-- ------------------------------------------------------------
-- 18.02.20 HRS001    ACS-2173   TM     

CREATE PROC [dbo].[sp_UpdateRatePlanCode_HRS-BR] AS BEGIN

DECLARE @RebuildRTC int = 0
DECLARE @CountRTC int = 0
DECLARE @CountBefore int = 0
DECLARE @CountAfter int = 0

DECLARE @ErrorMessage NVARCHAR(4000)
      , @ErrorSeverity INT = 18
	  , @ErrorState INT = 1


IF @RebuildRTC=1
  IF OBJECT_ID('tempdb..#RATEPLAN') IS NOT NULL
    DROP TABLE #RATEPLAN
IF OBJECT_ID('tempdb..#RATEPLAN') IS NULL
  CREATE TABLE #RATEPLAN ([Reservation No_] varchar(10) COLLATE Latin1_General_CS_AS not null,[Position No_] int not null, [Rate Plan Code] varchar(10) COLLATE Latin1_General_CS_AS, PRIMARY KEY ([Reservation No_],[Position No_] )) 

SELECT @CountRTC = COUNT(1), @CountBefore = COUNT(1) FROM #RATEPLAN

IF @CountRTC=0
	INSERT INTO #RATEPLAN
	SELECT AL.[Reservation No_],AL.[Position No_],LEFT(BT.BT_RATE_PLAN,10)
	  FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
	  JOIN [HRS-BR$Agency Line] AL 
		ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
	   AND AL.[Position No_] = BT.BT_POS
	 WHERE AL.[Rate Plan Code] <> LEFT(BT.BT_RATE_PLAN,10)

SELECT @CountRTC = COUNT(1), @CountBefore = COUNT(1) FROM #RATEPLAN

WHILE @CountRTC>0
BEGIN
  IF OBJECT_ID('tempdb..#RTC') IS NOT NULL
    DROP TABLE #RTC
  IF OBJECT_ID('tempdb..#RTC') IS NULL
    CREATE TABLE #RTC ([Reservation No_] varchar(10) COLLATE Latin1_General_CS_AS not null,[Position No_] int not null, [Rate Plan Code] varchar(10) COLLATE Latin1_General_CS_AS, PRIMARY KEY ([Reservation No_],[Position No_] )) 

  INSERT INTO #RTC
  SELECT TOP (10000) * FROM #RATEPLAN

    UPDATE AL SET AL.[Rate Plan Code] = BT.[Rate Plan Code]
  	  FROM #RTC BT WITH (NOLOCK)
	  JOIN [HRS-BR$Agency Line] AL 
		ON AL.[Reservation No_] = BT.[Reservation No_]
	   AND AL.[Position No_] = BT.[Position No_]
	 WHERE AL.[Rate Plan Code] <> BT.[Rate Plan Code]

    UPDATE DL SET DL.[Rate Plan Code] = BT.[Rate Plan Code]
      FROM [HRS-BR$Agency Display Line] DL
      JOIN #RTC BT WITH (NOLOCK)
        ON BT.[Reservation No_] = DL.[Reservation No_]
       AND BT.[Position No_] = DL.[Position No_]
      JOIN [HRS-BR$Agency Display Header] DH WITH (NOLOCK)
        ON DH.[Case No_] = DL.[Display Case No_]
     WHERE DH.[Status] = 0
    AND DL.[Rate Plan Code] <> BT.[Rate Plan Code]

  DELETE FROM #RATEPLAN
    FROM #RATEPLAN
	JOIN #RTC
	  ON #RTC.[Reservation No_] = #RATEPLAN.[Reservation No_]
     AND #RTC.[Position No_] = #RATEPLAN.[Position No_]	 

  SELECT @CountRTC = COUNT(1) FROM #RATEPLAN
END
IF @CountRTC=0
	INSERT INTO #RATEPLAN
	SELECT AL.[Reservation No_],AL.[Position No_],LEFT(BT.BT_RATE_PLAN,10)
	  FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
	  JOIN [HRS-BR$Agency Line] AL 
		ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
	   AND AL.[Position No_] = BT.BT_POS
	 WHERE AL.[Rate Plan Code] <> LEFT(BT.BT_RATE_PLAN,10)

SELECT @CountRTC = COUNT(1), @CountAfter = COUNT(1) FROM #RATEPLAN

IF @CountAfter>0
  BEGIN 
    SET @ErrorMessage = 'Rate Plan Code was not UPDATED propperly.' + CAST(@countBefore as varchar(10)) + ' ' + CAST(@CountAfter as varchar(10))
    RAISERROR(@ErrorMessage,@ErrorSeverity,@ErrorState)
  END
END
GO
