USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPBankInformationSourcingFee]    Script Date: 10.04.2024 14:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sascha Altgeld
-- Create date: 26.10.2017
-- Description:	Bankinfotexte für Sourcing Fee Rechnungen (Infos zu Hotelservice- und OIP ausschließen)
-- 
/*
execute [dbo].[sp_RPBankInformationSourcingFee] '165',2,'HRS'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RPBankInformationSourcingFee] 
    @Custcountry varchar(10)
  , @Position int
  , @Company varchar(30)
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @SQLText varchar(max)
  
CREATE TABLE #RESULTS 
	( [Bank]								VARCHAR(max)
	, [BankTxt]								ntext
	, [BLZ]									NVARCHAR(50)
	, [Swift]								NVARCHAR(50)
	, [IBAN]								NVARCHAR(50)
	, [Account]								NVARCHAR(50)
	, [Description]							NVARCHAR(50)
	, [Reihenfolgen]						INTEGER
	, [Suche]								VARCHAR(max)
)
  
  SET @SQLText = 
'WITH BankSearch AS (
  SELECT [ID]
        ,[BankCode]
        ,[Bank]
        ,[BankTxt]
        ,[BLZ]
        ,[Swift]
        ,[IBAN]
        ,[Description]
        ,[Account]
        ,ISNULL([Bank], '''') + ISNULL(CONVERT(varchar(max),[BankTxt]), '''') + ISNULL(CONVERT(varchar(50), [BLZ]), '''') + ISNULL(CONVERT(varchar(50), [Swift]), '''') + ISNULL(CONVERT(varchar(50), [IBAN]), '''') + ISNULL(CONVERT(varchar(50), [Description]), '''') AS [SEARCH]
  FROM [DynNavHRS].[dbo].[Bank] WITH (READUNCOMMITTED)
)
INSERT INTO #RESULTS
SELECT BK.[Bank]
     , BK.[BankTxt]
     , BK.[BLZ]
     , BK.[Swift]
     , BK.[IBAN]
     , BK.[Account]
     , BK.[Description]
     , BR.[Sequences]    [Reihenfolgen]
	 , BK.[SEARCH]
  FROM [' + @Company + '$Bank Regulation] BR WITH (READUNCOMMITTED)
  JOIN [' + @Company + '$Bank Account]    BA WITH (READUNCOMMITTED)
    ON BR.[Bank No_] = BA.[No_]
  JOIN BankSearch BK 
    ON BR.[Bank No_] = BK.[BankCode] COLLATE Latin1_General_CI_AS
 WHERE BR.[Country Code] = ''' + @Custcountry + '''
   AND CHARINDEX(''HOTELSERVICE'', UPPER(BK.[SEARCH])) = 0
   AND CHARINDEX(''INVOICEPORTAL'', UPPER(BK.[SEARCH])) = 0
   AND BR.[Sequences] = ' + CAST(@Position AS varchar)

PRINT (@SQLText)    
EXECUTE (@SQLText) 
SELECT * FROM #RESULTS  

END


GO
