USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[InsertSalesTrend_HRS]    Script Date: 10.04.2024 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 2016-08-19
-- Description:	NAV-220
/*
EXEC [InsertSalesTrend_HRS]
    @Limit = '2008-12-31'
    @ReservationNo = 132125975 
-- TRUNCATE TABLE [HRS$Sales Trend]
-- SELECT * FROM [HRS$Sales Trend]
*/
-- =============================================
CREATE PROCEDURE [dbo].[InsertSalesTrend_HRS]
    @ReservationNo int =  NULL --95439071
  , @Limit date = '2999-12-31'
AS
BEGIN
  PRINT '10.11.2016 TMA04: abgelöst durch sp_AddSalesTrend_HRS'
/*
-- abgelöst durch sp_AddSalesTrend_HRS
-- 10.11.2016 TMA04
--
DECLARE @Debug int = 0

IF NOT @ReservationNo IS NULL
  DELETE FROM [HRS$Sales Trend] WHERE [Reservation No_] = @ReservationNo

IF @ReservationNo IS NULL
BEGIN
  ;WITH ST AS
  (
   SELECT [Reservation No_]
        , [Position No_]
		, MAX(ST.[Entry No_ General Ledger Entry]) [Max Entry No_]
     FROM [HRS$Sales Trend] ST WITH (NOLOCK)
 GROUP BY [Reservation No_]
        , [Position No_]
  ), DEL AS
  (
   SELECT AP.[ReservationNo] [Reservation No_]
        , COUNT(1) CntReservation
     FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
     JOIN [HRS$Sales Invoice Corrections] SI WITH (NOLOCK)
       ON AP.[InvoiceNo] = SI.[Min Document No_]
     JOIN ST
       ON ST.[Reservation No_] = AP.[ReservationNo]
      AND ST.[Position No_]    = AP.[ReservationPartNo]
    WHERE SI.[Max Entry No_] > ST.[Max Entry No_]
 GROUP BY AP.[ReservationNo]
  )
   DELETE FROM ST
     FROM [HRS$Sales Trend] ST
	 JOIN DEL
	   ON ST.[Reservation No_] = DEL.[Reservation No_]
END

BEGIN -- "normale" Buchungen und Korrekturen
DECLARE @DL TABLE ([Reservation No_] int, [Position No_] int, [Entry No_] int, [Sort Order] int, [Posting Date] date, [Amount (LCY)] decimal(37,20), [Turnover (LCY)] decimal(37,20), [Sum Amount (LCY)] decimal(37,20), [Sum Turnover (LCY)] decimal(37,20), PRIMARY KEY ([Reservation No_],[Position No_],[Entry No_ ]))
;WITH DL AS
(
     SELECT DL.[Reservation No_]
          , DL.[Position No_]
		  , CL.[Entry No_]
		  , RANK() OVER(PARTITION BY DL.[Reservation No_],DL.[Position No_] ORDER BY CL.[Entry No_]) [Sort Order]
		  , DH.[Posting Date]
	      , CASE WHEN DL.[Action] = 3 THEN 0 ELSE
		      DL.[Line Amount] / CASE WHEN DL.[Currency Faktor]=0 THEN 1 ELSE DL.[Currency Faktor] END
		    END [Amount (LCY)]
	      , CASE WHEN DL.[Action] = 3 THEN 0 ELSE
		      DL.[Commission Base Amount (LCY)] * DL.[Number of Nights] 
		    END [Turnover (LCY)]   
       FROM [HRS$Agency Display Line]             DL WITH (NOLOCK)
       JOIN [HRS$Agency Display Header]           DH WITH (NOLOCK)
         ON DL.[Display Case No_]               = DH.[Case No_]
	   JOIN [HRS$Cust_ Ledger Entry]              CL WITH (NOLOCK)
	     ON CL.[Document No_]                   = DH.[Posted Invoice No_]
	    AND CL.[Posting Date]                   = DH.[Posting Date]
	    AND CL.[Document Type]                  = 2
	   JOIN [HRS$Affiliate Postings]              AP WITH (NOLOCK)
	     ON (CL.[Document No_] LIKE AP.[InvoiceNo] + '%' OR DH.[Subsequent Debit from] <>'')
		AND AP.ReservationNo                    = DL.[Reservation No_]
		AND AP.ReservationPartNo                = DL.[Position No_]
  LEFT JOIN [HRS$Sales Trend]                     ST WITH (NOLOCK)
         ON ST.[Reservation No_]                = DL.[Reservation No_]
	    AND ST.[Position No_]                   = DL.[Position No_]
	    AND ST.[Entry No_ General Ledger Entry] = CL.[Entry No_]
	  WHERE 1=1 --(DL.[Reservation No_]               = @ReservationNo OR @ReservationNo IS NULL)
        AND ST.[Entry No_ General Ledger Entry] IS NULL
		AND NOT (DL.[Action]=3 AND DH.[Correction from]='')
		AND DH.[Creation Date] >= '2016-01-01'
		--AND DH.[Creation Date] <= @Limit
)
INSERT INTO @DL ([Reservation No_], [Position No_], [Entry No_], [Sort Order], [Posting Date], [Amount (LCY)], [Turnover (LCY)], [Sum Amount (LCY)], [Sum Turnover (LCY)])
     SELECT DL.[Reservation No_]
	      , DL.[Position No_]
		  , [Entry No_]
		  , [Sort Order]
		  , DL.[Posting Date]
		  , CASE WHEN [Sort Order] = 1 THEN DL.[Amount (LCY)] ELSE NULL END
		  , CASE WHEN [Sort Order] = 1 THEN DL.[Turnover (LCY)] ELSE NULL END
		  , DL.[Amount (LCY)]
		  , DL.[Turnover (LCY)]
	   FROM DL
END

IF @Debug = 1
  SELECT * FROM @DL

BEGIN -- Komplett-Stornos
CREATE TABLE #ML ([Reservation No_] int, [Position No_] int, [Max Sort Order] int, PRIMARY KEY ([Reservation No_],[Position No_]))
;WITH ML AS
(
     SELECT DL.[Reservation No_]
          , DL.[Position No_]
		  , MAX([Sort Order]) [Max Sort Order]
       FROM @DL DL
   GROUP BY DL.[Reservation No_]
          , DL.[Position No_]
)
     INSERT INTO #ML 
	 SELECT [Reservation No_], [Position No_], [Max Sort Order]
	   FROM ML

IF @Debug = 1
  SELECT * FROM #ML

;WITH IT AS
(   
     SELECT IT.[Reservation No_]
	      , IT.[Position No_]
		  , CL.[Document No_]
	   FROM @DL                                   IT 
	   JOIN [HRS$Cust_ Ledger Entry]              CL WITH (NOLOCK)
         ON CL.[Entry No_]                      = IT.[Entry No_]
		AND CL.[Document Type]                  = 2
), DL AS
(
     SELECT DL.[Reservation No_]
          , DL.[Position No_]
		  , CL.[Entry No_]
		  , COALESCE(ML.[Max Sort Order],0) + 1 [Sort Order]
		  , DH.[Posting Date]
	      , 0 [Amount (LCY)]
	      , 0 [Turnover (LCY)]    
	   FROM [HRS$Agency Display Line]             DL WITH (NOLOCK)
       JOIN [HRS$Agency Display Header]           DH WITH (NOLOCK)
         ON DL.[Display Case No_]                  = DH.[Case No_]
  LEFT JOIN #ML ML
	     ON ML.[Reservation No_]                = DL.[Reservation No_]
		AND ML.[Position No_]                   = DL.[Position No_]
       JOIN [HRS$Sales Invoice Corrections]       SI
	     ON SI.[Min Document No_]               = DH.[Posted Invoice No_]
	   JOIN [HRS$Sales Cr_Memo Header]            CM WITH (NOLOCK)
	     ON CM.[No_]                            = SI.[Credit Memo No_]
	   JOIN [HRS$Cust_ Ledger Entry]              CL WITH (NOLOCK)
	     ON CL.[Document No_]                   = CM.[No_]
	    AND CL.[Posting Date]                   = CM.[Posting Date]
	    AND CL.[Document Type]                  = 3
  LEFT JOIN @DL                                   ST 
         ON ST.[Reservation No_]                = DL.[Reservation No_]
	    AND ST.[Position No_]                   = DL.[Position No_]
	    AND ST.[Entry No_]                      = CL.[Entry No_]
       JOIN IT
	     ON IT.[Reservation No_]                = DL.[Reservation No_]
		AND IT.[Position No_]                   = DL.[Position No_]
		AND IT.[Document No_]                   = CM.[Applies-to Doc_ No_]
	  WHERE 1=1 --(DL.[Reservation No_]               = @ReservationNo OR @ReservationNo IS NULL)
		AND DH.[Creation Date] >= '2016-01-01'
		--AND DH.[Creation Date] <= @Limit
)
INSERT INTO @DL ([Reservation No_], [Position No_], [Entry No_], [Sort Order], [Posting Date], [Amount (LCY)], [Turnover (LCY)], [Sum Amount (LCY)], [Sum Turnover (LCY)])
     SELECT DL.[Reservation No_]
	      , DL.[Position No_]
		  , [Entry No_]
		  , [Sort Order]
		  , DL.[Posting Date]
		  , NULL
		  , NULL
		  , DL.[Amount (LCY)]
		  , DL.[Turnover (LCY)]
	   FROM DL

END 

BEGIN -- Zahlungszentralen
  CREATE TABLE #ZZ ([Reservation No_] int, [Entry No_] int, [Posting Date] date, PRIMARY KEY ([Reservation No_]))
  INSERT INTO #ZZ
       SELECT CE.[Reservierungsnr_] [Reservation No_]
            , MIN(CE.[Entry No_])
			, MIN(CE.[Posting Date])
         FROM [HRS$Cust_ Ledger Entry] CE WITH (NOLOCK)
        WHERE CE.[Document Type] = 3
          AND CE.[Reservierungsnr_]>0
		  AND 1=1--(CE.[Reservierungsnr_] = @ReservationNo OR @ReservationNo IS NULL)
     GROUP BY CE.[Reservierungsnr_]
  IF @Debug = 1
    SELECT * FROM #ZZ

;WITH DL AS
(
     SELECT DL.[Reservation No_]
          , DL.[Position No_]
		  , ZZ.[Entry No_]
		  , COALESCE(ML.[Max Sort Order],0) + 1 [Sort Order]
		  , ZZ.[Posting Date]
	      , 0 [Amount (LCY)]
	      , 0 [Turnover (LCY)]    
	   FROM @DL DL
  LEFT JOIN #ML ML
	     ON ML.[Reservation No_]                = DL.[Reservation No_]
		AND ML.[Position No_]                   = DL.[Position No_]
	   JOIN #ZZ ZZ
	     ON ZZ.[Reservation No_]                = DL.[Reservation No_]
	  WHERE (DL.[Reservation No_]               = @ReservationNo OR @ReservationNo IS NULL)
)
INSERT INTO @DL ([Reservation No_], [Position No_], [Entry No_], [Sort Order], [Posting Date], [Amount (LCY)], [Turnover (LCY)], [Sum Amount (LCY)], [Sum Turnover (LCY)])
     SELECT DL.[Reservation No_]
	      , DL.[Position No_]
		  , [Entry No_]
		  , MIN([Sort Order])
		  , MIN(DL.[Posting Date])
		  , NULL
		  , NULL
		  , MIN(DL.[Amount (LCY)])
		  , MIN(DL.[Turnover (LCY)])
	   FROM DL
   GROUP BY DL.[Reservation No_]
	      , DL.[Position No_]
		  , [Entry No_]
  DROP TABLE #ML  
  DROP TABLE #ZZ
END
DECLARE @MaxSortorder int
SELECT @MaxSortorder = COALESCE(MAX([Sort Order]),0) FROM @DL 

IF @MaxSortorder>1
BEGIN
     UPDATE DL2 SET 
	        DL2.[Amount (LCY)]   = DL2.[Sum Amount (LCY)] - DL1.[Sum Amount (LCY)]
	      , DL2.[Turnover (LCY)] = DL2.[Sum Turnover (LCY)] - DL1.[Sum Turnover (LCY)]
       FROM @DL DL1
       JOIN @DL DL2
         ON DL1.[Reservation No_] = DL2.[Reservation No_]
        AND DL1.[Position No_]    = DL2.[Position No_]
        AND DL1.[Sort Order]      = DL2.[Sort Order] - 1
END

IF @Debug = 1
  SELECT * FROM @DL

INSERT INTO [HRS$Sales Trend] ([Reservation No_], [Position No_], [Entry No_ General Ledger Entry], [Posting Date], [Amount (LCY)], [Turnover (LCY)])
     SELECT DL.[Reservation No_], DL.[Position No_], DL.[Entry No_], DL.[Posting Date], DL.[Amount (LCY)], DL.[Turnover (LCY)]
	   FROM @DL DL
  LEFT JOIN [HRS$Sales Trend] ST
         ON ST.[Reservation No_]                = DL.[Reservation No_]
		AND ST.[Position No_]                   = DL.[Position No_]
		AND ST.[Entry No_ General Ledger Entry] = DL.[Entry No_]
	  WHERE ST.[Reservation No_] IS NULL

IF @Debug = 1
     SELECT ST.* 
       FROM [HRS$Sales Trend] ST WITH (NOLOCK)
	   JOIN [HRS$Cust_ Ledger Entry] CL WITH (NOLOCK)
	     ON CL.[Entry No_] = ST.[Entry No_ General Ledger Entry]
      WHERE 1=1--(ST.[Reservation No_] = @ReservationNo OR @ReservationNo IS NULL)

--
-- Korrektur aus Split-Rechnungen
--
/*
;WITH ST AS
(
  SELECT ST.[Reservation No_]
       , ST.[Position No_]
  	   , SUM(ST.[Amount (LCY)])[Amount (LCY)]
    FROM [HRS$Sales Trend] ST WITH (NOLOCK) 
   WHERE 1=1--(ST.[Reservation No_] = @ReservationNo OR @ReservationNo IS NULL)
GROUP BY ST.[Reservation No_]
       , ST.[Position No_]
)
  UPDATE AP SET AP.Amount_LCY_corr = ST.[Amount (LCY)]
    FROM [HRS$Affiliate Postings] AP
	JOIN ST
	  ON ST.[Reservation No_] = AP.ReservationNo
	 AND ST.[Position No_]    = AP.ReservationPartNo
	JOIN [HRS$Sales Invoice Corrections] SI WITH (NOLOCK)
	  ON SI.[Min Document No_] = AP.[InvoiceNo]
   WHERE ST.[Amount (LCY)] <> AP.Amount_LCY_corr
	 AND SI.[Max Document No_] LIKE '%/S%'
*/

--
-- Korrektur aus Zahlungszentralen
--
/*
;WITH ST AS
(
  SELECT ST.[Reservation No_]
       , ST.[Position No_]
  	   , SUM(ST.[Amount (LCY)])[Amount (LCY)]
    FROM [HRS$Sales Trend] ST WITH (NOLOCK) 
GROUP BY ST.[Reservation No_]
       , ST.[Position No_]
)
  UPDATE AP SET 
         AP.Amount_LCY_corr = 0
       , AP.Amount_corr = 0
       , AP.Turnover_LCY_corr = 0
       , AP.Turnover_corr = 0
    FROM [HRS$Affiliate Postings] AP
	JOIN ST
	  ON ST.[Reservation No_] = AP.ReservationNo
	 AND ST.[Position No_]    = AP.ReservationPartNo
   WHERE ST.[Amount (LCY)] <> AP.Amount_LCY_corr
     --AND AP.[PostingDate] >= '2016-01-01'
     AND AP.PostingDate <= @Limit
	 AND ST.[Amount (LCY)] = 0
*/

--
-- Korrektur aus MEETAGO
--
;WITH ST AS
(
  SELECT ST.[Reservation No_]
       , ST.[Position No_]
  	   , SUM(ST.[Amount (LCY)])[Amount (LCY)]
	   , SUM(ST.[Turnover (LCY)]) [Turnover (LCY)]
    FROM [HRS$Sales Trend] ST WITH (NOLOCK) 
GROUP BY ST.[Reservation No_]
       , ST.[Position No_]
)
  UPDATE AP SET 
         AP.Amount_LCY_corr = ST.[Amount (LCY)]
       , AP.Amount_corr = ST.[Amount (LCY)] * AP.CurrencyFaktor
       , AP.Turnover_LCY_corr = ST.[Turnover (LCY)]
       , AP.Turnover_corr = ST.[Turnover (LCY)] * AP.CurrencyFaktor
    FROM [HRS$Affiliate Postings] AP
	JOIN ST
	  ON ST.[Reservation No_] = AP.ReservationNo
	 AND ST.[Position No_]    = AP.ReservationPartNo
   WHERE ST.[Amount (LCY)] <> AP.Amount_LCY_corr
     AND AP.PostingDate <= @Limit
	 AND AP.[MuseID] LIKE 'MEETAGO%'

dbcc DBREINDEX('HRS$Sales Trend')
--dbcc showcontig('HRS$Sales Trend')
*/
END
GO
