USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateGenerateAccountoverview]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RebateGenerateAccountoverview]

-- Parameter
        @RebateNo varchar(20) = 'K0000034225'--'K0000033953'
      , @ReportID int = 50000
      , @ConnectionID int = 0
	  , @UserId varchar(20) = 'TMA04'
	  , @LanguageCode int = 0
	  , @TabName varchar(20) = 'BASE'
-- Parameter Ende
AS
BEGIN
  BEGIN -- Declaration
    DECLARE @RowOffset int = 7
          , @MaxRow int = 0
    DECLARE @RebateHeader TABLE (
    [Rebate No_] varchar(max)
  , [Rebate-to Vendor No_] varchar(max)
  , [Rebate-to Customer Name] varchar(max)
  , [Rebate-to Customer Name 2] varchar(max)
  , [Rebate-to Address] varchar(max)
  , [Rebate-to Address 2] varchar(max)
  , [Rebate-to City] varchar(max)
  , [Rebate-to Contact] varchar(max)
  , [Rebate-to Post Code] varchar(max)
  , [Rebate-to Country_Region Code] varchar(max)
  , [Affiliate Partner List] varchar(max)
  , [Currency Code] varchar(max)
  , [Currency Factor] decimal(38,20)
  , [Interval] int
  , [Posting Date] date
  , [Document Date] date
  , [Language Code] varchar(max) 
  , [Year Start Date] date
  , [Year End Date] date
  , [Till Start Date] date
  , [Interval Start Date] date
  , [Interval End Date] date
  , [Document Type (Statement)] varchar(max)
  , [Document Type (Cr_ Memo)] varchar(max)
  , [Correspondence Type] int
  , [Vendor Bank Name] varchar(max)
  , [Vendor IBAN] varchar(max)
  , [Vendor SWIFT Code] varchar(max)
  , [Vendor Bank Branch No_] varchar(max)
  , [Vendor Bank Account No_] varchar(max)
  , [Template Type] int
  , [Matrix _ Vector Code] varchar(max)
  , [Code P1] varchar(max),  [Name P1] varchar(max),  [Value P1] decimal(38,20),  [Constant Value P1] decimal(38,20)
  , [Code P2] varchar(max),  [Name P2] varchar(max),  [Value P2] decimal(38,20),  [Constant Value P2] decimal(38,20)
  , [Code P3] varchar(max),  [Name P3] varchar(max),  [Value P3] decimal(38,20),  [Constant Value P3] decimal(38,20)
  , [Code P4] varchar(max),  [Name P4] varchar(max),  [Value P4] decimal(38,20),  [Constant Value P4] decimal(38,20)
  , [Code P5] varchar(max),  [Name P5] varchar(max),  [Value P5] decimal(38,20),  [Constant Value P5] decimal(38,20)
  , [Code P6] varchar(max),  [Name P6] varchar(max),  [Value P6] decimal(38,20),  [Constant Value P6] decimal(38,20)
  , [Code P7] varchar(max),  [Name P7] varchar(max),  [Value P7] decimal(38,20),  [Constant Value P7] decimal(38,20)
  , [Code P8] varchar(max),  [Name P8] varchar(max),  [Value P8] decimal(38,20),  [Constant Value P8] decimal(38,20)
  , [Code P9] varchar(max),  [Name P9] varchar(max),  [Value P9] decimal(38,20),  [Constant Value P9] decimal(38,20)
  , [Code P10] varchar(max), [Name P10] varchar(max), [Value P10] decimal(38,20), [Constant Value P10] decimal(38,20)
  , [Code PA]  varchar(max), [Name PA]  varchar(max), [Value PA]  decimal(38,20), [Constant Value PA]  decimal(38,20)
  , [VatBusPostingGroup] varchar(max)
  , [CurrencyCode] varchar(max)
  , [VAT Registration Label] varchar(max)
  , [VAT Registration No_] varchar(max)
  , [Salutation] varchar(max)
  , [Salesperson E-Mail] varchar(max)
  , [Salesperson Fax No_] varchar(max)
  , [Salesperson Name] varchar(max)
  , [Salesperson Phone No_] varchar(max)
  , [EU Country_Region Code] varchar(max)
  , [Country_Region Name] varchar(max)
  , [Online Reservation Source] varchar(max)
  , [Offline Reservation Source] varchar(max)
  , [Print Booking Source] int
  , [Enable retroactive correction] int
  , [Estimated Commission] int
  , [Vector Range] varchar(max)
  , [EU affiliation] int
  , [Partner Type] int
  , [Group contract Code] varchar(max)
  , [Output Reservation Source] int
  , [Output Commission Type] int
  , [Payed Rebate Interval Start Date] date
  , [Payed Rebate Interval End Date] date
  , [Include online cancellation] int
  , [Include offline bookings] int
  , [TMC API Base Code] varchar(max)
  , [TMC API Base Value] decimal(38,20)
  , [TMC API Result Value] decimal(38,20)
  , [TMC API Result Code] varchar(20)
  , [TMC API Text] varchar(max) 
  , [TMC GDS Base Code] varchar(max)
  , [TMC GDS Base Value] decimal(38,20)
  , [TMC GDS Result Value] decimal(38,20)
  , [TMC GDS Result Code] varchar(max)
  , [TMC GDS Text] varchar(max) 
  , [TMC RD Base Code] varchar(max)
  , [TMC RD Base Value] decimal(38,20)
  , [TMC RD Result Value] decimal(38,20)
  , [TMC RD Result Code] varchar(max)
  , [TMC RD Text] varchar(max) 
  , [TMC RR Base Code] varchar(max)
  , [TMC RR Base Value] decimal(38,20)
  , [TMC RR Result Value] decimal(38,20)
  , [TMC RR Result Code] varchar(max)
  , [TMC RR Text] varchar(max) 
  , [TMC IATA Filter] varchar(max)
)
    DECLARE @Result TABLE (
    RowNumber int
  , PageNumber varchar(20)
  , Tab varchar(20)
  , [Loyality Rewards Account 1 No_] varchar(max)
  , [Loyality Rewards Account 2 No_] varchar(max)
  , [Reservation Date]               datetime
  , [Arival Date]                    datetime
  , [Post Affiliate Partner No_]     varchar(max)
  , [Turnover Breakfast (LCY)]       decimal(38,20)
  , [Turnover Breakfast (LCY) (c_)]  decimal(38,20)
  , [Amount]                         decimal(38,20)
  , [Turnover]                       decimal(38,20)
  , [Amount (corr_)]                 decimal(38,20)
  , [Turnover (corr_)]               decimal(38,20)
  , [Currency Faktor]                decimal(38,20)
  , [Currency Code]                  varchar(max)
  , [Currency Faktor (corr_)]        decimal(38,20)
  , [Currency Code (corr_)]          varchar(max)
  , [Document No_]                   varchar(max)
  , [Line No_]                       int
  , [Type]                           int
  , [Rebate Amount Line]             int
  , [No Print]                       int
  , [No_]                            varchar(max)
  , [Rebate Agreement No_]           varchar(max)
  , [Posting Date (Import)]          datetime
  , [Document Date (Import)]         datetime
  , [Description]                    varchar(max)
  , [Description 2]                  varchar(max)
  , [Reservation No_]                int
  , [Reservation Part No_]           int
  , [Value Type]                     int
  , [Value]                          varchar(max)
  , [Value Text]                     varchar(max)
  , [Value Decimal]                  decimal(38,20)
  , [Value Boolean]                  int
  , [Value Date]                     datetime
  , [Invoice No_]                    varchar(max)
  , [Amount (LCY)]                   decimal(38,20)
  , [Turnover (LCY)]                 decimal(38,20)
  , [Commission Type]                int
  , [Commission Rate %]              decimal(38,20)
  , [Amount (LCY) (corr_)]           decimal(38,20)
  , [Turnover (LCY) (corr_)]         decimal(38,20)
  , [Commission Type (corr_)]        int
  , [Commission Rate % (corr_)]      decimal(38,20)
  , [Departure Date]                 datetime
  , [Affiliate Partner No_]          varchar(max)
  , [Hotel No_]                      int
  , [Room Nights]                    decimal(38,20)
  , [Is Net Rate]                    int
  , [Room Nights Post Corection]     decimal(38,20)
  , [Is Net Rate Post Corection]     int
  , [Max Entry No_]                  int
  , [Is No Show]                     int
  , [Top Bonus ID]                   varchar(max)
  , [MuseID]                         varchar(max)
  , [Correction Kennung]             int
  , [Company Name]                   varchar(max)
  , [Customer No_]                   int
  , [Country Code]                   varchar(max)
  , [Chain]                          int
  , [Brand]                          int
  , [Rebate-to Vendor No_]           varchar(max)
  , [Handbooking]                    int
  , [Booking User]                   varchar(max)
  , [Reservation Source]             int
  , [Reservation Source Name]        varchar(max)
  , [Process Number]                 int
  , [Amadeus No_]                    varchar(max)
  , PRIMARY KEY CLUSTERED (RowNumber,PageNumber)
)
    DECLARE @TabNames TABLE (SheetName varchar(max), MaxRow int)
  END

  BEGIN -- @Result
    INSERT INTO @Result
    EXEC [dbo].[sp_RebateLinesYTD] @RebateNo
  END

  BEGIN -- Header Information

DECLARE @CustList VARCHAR(MAX)
SELECT @CustList = ''

DECLARE @AP AS TABLE([Affiliate Partner No_] int, [Rebate No_] varchar(20))
DECLARE @ActualCustomer bigint, @PreviousCustomer bigint, @FirstCustomer bigint, @RangeMin bigint, @RangeMax bigint, @OldRangeMin bigint, @OldRangeMax bigint, @VendorNo VARCHAR(20)
 SELECT @ActualCustomer = 0, @PreviousCustomer = 0, @FirstCustomer = 0, @RangeMin = 0, @RangeMax = 0
 
DECLARE @ParameterList varchar(max)
 SELECT @ParameterList  = ''
 SELECT @ParameterList  = @ParameterList 
      + ',' + AH.[Input Parameter 1 Code]
      + ',' + AH.[Input Parameter 2 Code]
      + ',' + AH.[Input Parameter 3 Code]
      + ',' + AH.[Input Parameter 4 Code]
      + ',' + AH.[Input Parameter 5 Code]
      + ',' + AH.[Input Parameter 6 Code]
      + ',' + AH.[Input Parameter 7 Code]
      + ',' + AH.[Input Parameter 8 Code]
      + ',' + AH.[Input Parameter 9 Code]
      + ',' + AH.[Input Parameter 10 Code]
      + ',' + AH.[Output Parameter Code]
      , @VendorNo = AH.[Rebate-to Vendor No_]
   FROM [HRS$Rebate Header]    RH WITH (NOLOCK)
   JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo

 SELECT @ParameterList  = @ParameterList 
      + ',' + AH.[Input Parameter 1 Code]
      + ',' + AH.[Input Parameter 2 Code]
      + ',' + AH.[Input Parameter 3 Code]
      + ',' + AH.[Input Parameter 4 Code]
      + ',' + AH.[Input Parameter 5 Code]
      + ',' + AH.[Input Parameter 6 Code]
      + ',' + AH.[Input Parameter 7 Code]
      + ',' + AH.[Input Parameter 8 Code]
      + ',' + AH.[Input Parameter 9 Code]
      + ',' + AH.[Input Parameter 10 Code]
      + ',' + AH.[Output Parameter Code]
      , @VendorNo = AH.[Rebate-to Vendor No_]
   FROM [HRS$Posted Rebate Header]    RH WITH (NOLOCK)
   JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo

DECLARE @PayedRebateBlock TABLE
(
    [Posting Date]        DATETIME
  , [Value Decimal]       DEC(37,20)
  , [Interval Start Date] DATETIME
  , [Interval End Date]   DATETIME
  , [Code P1]             VARCHAR(20)
  , [Name P1]             VARCHAR(50)
  , [Value P1]            DEC(37,20)
  , [Code P2]             VARCHAR(20)
  , [Name P2]             VARCHAR(50)
  , [Value P2]            DEC(37,20)
  , [Code P3]             VARCHAR(20)
  , [Name P3]             VARCHAR(50)
  , [Value P3]            DEC(37,20)
  , [Code P4]             VARCHAR(20)
  , [Name P4]             VARCHAR(50)
  , [Value P4]            DEC(37,20)
  , [Code P5]             VARCHAR(20)
  , [Name P5]             VARCHAR(50)
  , [Value P5]            DEC(37,20)
  , [Code P6]             VARCHAR(20)
  , [Name P6]             VARCHAR(50)
  , [Value P6]            DEC(37,20)
  , [Code P7]             VARCHAR(20)
  , [Name P7]             VARCHAR(50)
  , [Value P7]            DEC(37,20)
  , [Code P8]             VARCHAR(20)
  , [Name P8]             VARCHAR(50)
  , [Value P8]            DEC(37,20)
  , [Code P9]             VARCHAR(20)
  , [Name P9]             VARCHAR(50)
  , [Value P9]            DEC(37,20)
  , [Code P10]            VARCHAR(20)
  , [Name P10]            VARCHAR(50)
  , [Value P10]           DEC(37,20)
  , [Code PA]             VARCHAR(20)
  , [Name PA]             VARCHAR(50)
  , [Value PA]            DEC(37,20)
  , [State]               INT
  , [Rebate No_]          VARCHAR(20)
)

DECLARE @PayedRebate TABLE
(
    [Posting Date]        DATETIME
  , [Value Decimal]       DEC(37,20)
  , [Interval Start Date] DATETIME
  , [Interval End Date]   DATETIME
  , [Code P1]             VARCHAR(20)
  , [Name P1]             VARCHAR(50)
  , [Value P1]            DEC(37,20)
  , [Code P2]             VARCHAR(20)
  , [Name P2]             VARCHAR(50)
  , [Value P2]            DEC(37,20)
  , [Code P3]             VARCHAR(20)
  , [Name P3]             VARCHAR(50)
  , [Value P3]            DEC(37,20)
  , [Code P4]             VARCHAR(20)
  , [Name P4]             VARCHAR(50)
  , [Value P4]            DEC(37,20)
  , [Code P5]             VARCHAR(20)
  , [Name P5]             VARCHAR(50)
  , [Value P5]            DEC(37,20)
  , [Code P6]             VARCHAR(20)
  , [Name P6]             VARCHAR(50)
  , [Value P6]            DEC(37,20)
  , [Code P7]             VARCHAR(20)
  , [Name P7]             VARCHAR(50)
  , [Value P7]            DEC(37,20)
  , [Code P8]             VARCHAR(20)
  , [Name P8]             VARCHAR(50)
  , [Value P8]            DEC(37,20)
  , [Code P9]             VARCHAR(20)
  , [Name P9]             VARCHAR(50)
  , [Value P9]            DEC(37,20)
  , [Code P10]            VARCHAR(20)
  , [Name P10]            VARCHAR(50)
  , [Value P10]           DEC(37,20)
  , [Code PA]             VARCHAR(20)
  , [Name PA]             VARCHAR(50)
  , [Value PA]            DEC(37,20)
  , [State]               INT
  , [Rebate No_]          VARCHAR(20)
)

INSERT INTO @PayedRebateBlock
EXEC [dbo].[sp_RebatePayedRebateBlock2] @RebateNo

INSERT INTO @PayedRebate
EXEC [dbo].[sp_RebatePayedRebate] @RebateNo

DECLARE @PayedRebateAmount                 DEC(37,20) = 0.0
      , @PayedRebateIntervalStartDate      DATETIME = '1753-01-01'
      , @PayedRebateIntervalEndDate        DATETIME = '1753-01-01'
      , @PayedRebateBlockAmount            DEC(37,20) = 0.0
      , @PayedRebateBlockIntervalStartDate DATETIME = '1753-01-01'
      , @PayedRebateBlockIntervalEndDate   DATETIME = '1753-01-01'
SELECT @PayedRebateBlockAmount            = COALESCE(SUM([Value PA]),0.0)
     , @PayedRebateBlockIntervalStartDate = COALESCE(MIN([Interval Start Date]),'2999-12-31')
     , @PayedRebateBlockIntervalEndDate   = COALESCE(MAX([Interval End Date]),'1753-01-01')
  FROM @PayedRebateBlock
  
SELECT @PayedRebateAmount                 = COALESCE(SUM([Value PA]),0.0)-@PayedRebateBlockAmount
     , @PayedRebateIntervalStartDate      = MIN([Interval Start Date])
     , @PayedRebateIntervalEndDate        = MAX(CASE WHEN [Interval End Date] < @PayedRebateBlockIntervalStartDate THEN [Interval End Date] ELSE '1753-01-01' END)
  FROM @PayedRebate

SELECT @PayedRebateIntervalStartDate      = CASE WHEN @PayedRebateIntervalStartDate = '1753-01-01' THEN NULL ELSE @PayedRebateIntervalStartDate END
     , @PayedRebateIntervalEndDate        = CASE WHEN @PayedRebateIntervalEndDate   = '1753-01-01' THEN NULL ELSE @PayedRebateIntervalEndDate   END

;WITH AgreementHeader AS
(
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Posted Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[Rebate No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo
UNION
SELECT RH.[Posting Date]
     , RH.[Interval Start Date]
     , RH.[Interval End Date]
     , AH.[Rebate-to Vendor No_]
     , RH.[No_]
  FROM [HRS$Posted Rebate Header]           RH WITH (NOLOCK)
  JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK)
    ON AH.[No_] = RH.[Rebate Agreement No_] 
 WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo

)
INSERT INTO @AP
SELECT AV.[Affiliate Partner No_], AH.[No_]
  FROM [HRS$Affiliate Partner Vendor] AV WITH (NOLOCK)
  JOIN AgreementHeader AH
    ON AH.[Rebate-to Vendor No_] = AV.[Vendor No_]
    
DECLARE cur CURSOR FOR SELECT * FROM @AP ORDER BY 1

OPEN cur

FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo

SELECT @FirstCustomer = @ActualCustomer

WHILE @@FETCH_STATUS = 0
BEGIN
  IF (@ActualCustomer <> @PreviousCustomer+1) BEGIN
    IF @PreviousCustomer<> 0 AND (@RangeMax<@ActualCustomer OR @RangeMax=0) BEGIN
      SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
      SET @RangeMin=0
      SET @RangeMax=0
      SELECT @RangeMin = [Affiliate Partner No_ (from)]
           , @RangeMax = [Affiliate Partner No_ (to)]
        FROM [HRS$Reserved Customer-No_ Ranges]
       WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
         AND [Vendor No_] = @VendorNo
      IF @RangeMin<@FirstCustomer AND @RangeMin<>0
        SET @FirstCustomer = @RangeMin
      IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
        SET @PreviousCustomer = @RangeMax
      SET @CustList = @CustList 
                    + CASE
                        WHEN @RangeMin>0 AND @RangeMax>0 THEN
                          CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
                        WHEN @PreviousCustomer = @FirstCustomer THEN 
                          CAST(@PreviousCustomer AS varchar)
                        ELSE
                          CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                      END  
      SELECT @FirstCustomer = @ActualCustomer
    END 
  END
  
  SELECT @PreviousCustomer = @ActualCustomer
  FETCH NEXT FROM cur INTO @ActualCustomer, @RebateNo
END

IF (@PreviousCustomer<> 0) BEGIN
  SET @CustList = CASE WHEN @CustList = '' THEN '' ELSE @CustList + '|' END
  SET @RangeMin=0
  SET @RangeMax=0
  SELECT @RangeMin = [Affiliate Partner No_ (from)]
       , @RangeMax = [Affiliate Partner No_ (to)]
    FROM [HRS$Reserved Customer-No_ Ranges]
   WHERE @PreviousCustomer BETWEEN [Affiliate Partner No_ (from)] AND [Affiliate Partner No_ (to)]
     AND [Vendor No_] = @VendorNo
  IF @RangeMin<@FirstCustomer AND @RangeMin<>0
    SET @FirstCustomer = @RangeMin
  IF @RangeMax>@PreviousCustomer AND @RangeMax<>0
    SET @PreviousCustomer = @RangeMax
  SET @CustList = @CustList 
                + CASE
                    WHEN @RangeMin>0 AND @RangeMax>0  THEN
                      CAST(@RangeMin AS varchar) + '..' + CAST(@RangeMax AS varchar)
                    WHEN @PreviousCustomer = @FirstCustomer THEN 
                      CAST(@PreviousCustomer AS varchar)
                    ELSE
                      CAST(@FirstCustomer AS varchar) + '..' + CAST(@PreviousCustomer AS varchar)
                  END                   
END 

CLOSE cur
DEALLOCATE cur

DECLARE @Parameter TABLE
(
    [No_]           VARCHAR(20)
  , [Value Decimal] DEC(37,20)
  , [Name]          VARCHAR(120)
  , [Constant Value Decimal] DEC(37,20)
  --RP START
  , [Threshold Value Index]		INT
  , [Value]						VARCHAR(250)
  , [TMC Parameter]				VARCHAR(4)
  , [TMC Text]					VARCHAR(1000)
  --RP STOP
)

;WITH RL AS
(
  SELECT RL.[No_], RL.[Value Decimal], PA.[Name], PA.[Value Decimal] [Constant Value Decimal], RL.[Threshold Value Index], RL.[Value]
	   , CASE WHEN AH.[Input Parameter TMC API 1] = RL.[No_] THEN 'API1'
			  WHEN AH.[Input Parameter TMC API 2] = RL.[No_] THEN 'API2'
			  WHEN AH.[Input Parameter TMC API 3] = RL.[No_] THEN 'API3'
			  WHEN AH.[Input Parameter TMC API 4] = RL.[No_] THEN 'API4'
			  WHEN AH.[Input Parameter TMC GDS 1] = RL.[No_] THEN 'GDS1'
			  WHEN AH.[Input Parameter TMC GDS 2] = RL.[No_] THEN 'GDS2'
			  WHEN AH.[Input Parameter TMC GDS 3] = RL.[No_] THEN 'GDS3'
			  WHEN AH.[Input Parameter TMC GDS 4] = RL.[No_] THEN 'GDS4'
			  WHEN AH.[Input Parameter TMC RD 1]  = RL.[No_] THEN 'xRD1'
			  WHEN AH.[Input Parameter TMC RD 2]  = RL.[No_] THEN 'xRD2'
			  WHEN AH.[Input Parameter TMC RD 3]  = RL.[No_] THEN 'xRD3'
			  WHEN AH.[Input Parameter TMC RD 4]  = RL.[No_] THEN 'xRD4'
			  WHEN AH.[Input Parameter TMC RR 1]  = RL.[No_] THEN 'xRR1'
			  WHEN AH.[Input Parameter TMC RR 2]  = RL.[No_] THEN 'xRR2'
			  WHEN AH.[Input Parameter TMC RR 3]  = RL.[No_] THEN 'xRR3'
			  WHEN AH.[Input Parameter TMC RR 4]  = RL.[No_] THEN 'xRR4'
			  ELSE NULL
		END [TMC Parameter], NULL [TMC Text] 
    FROM [HRS$Rebate Line]   RL WITH (NOLOCK) 
    JOIN [HRS$Rebate Header] RH WITH (NOLOCK) 
      ON RL.[Document No_] = RH.[No_]
    JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK) 
      ON RL.[Rebate Agreement No_] = AH.[No_]
    JOIN [HRS$Parameter]     PA WITH (NOLOCK)
      ON PA.[Code]  = RL.[No_]
   WHERE RH.[No_]   = @RebateNo
     AND RL.[Type] IN (1,2)
UNION   
  SELECT RL.[No_], RL.[Value Decimal], PA.[Name], PA.[Value Decimal] [Constant Value Decimal], RL.[Threshold Value Index], RL.[Value]
	   , CASE WHEN AH.[Input Parameter TMC API 1] = RL.[No_] THEN 'API1'
			  WHEN AH.[Input Parameter TMC API 2] = RL.[No_] THEN 'API2'
			  WHEN AH.[Input Parameter TMC API 3] = RL.[No_] THEN 'API3'
			  WHEN AH.[Input Parameter TMC API 4] = RL.[No_] THEN 'API4'
			  WHEN AH.[Input Parameter TMC GDS 1] = RL.[No_] THEN 'GDS1'
			  WHEN AH.[Input Parameter TMC GDS 2] = RL.[No_] THEN 'GDS2'
			  WHEN AH.[Input Parameter TMC GDS 3] = RL.[No_] THEN 'GDS3'
			  WHEN AH.[Input Parameter TMC GDS 4] = RL.[No_] THEN 'GDS4'
			  WHEN AH.[Input Parameter TMC RD 1]  = RL.[No_] THEN 'xRD1'
			  WHEN AH.[Input Parameter TMC RD 2]  = RL.[No_] THEN 'xRD2'
			  WHEN AH.[Input Parameter TMC RD 3]  = RL.[No_] THEN 'xRD3'
			  WHEN AH.[Input Parameter TMC RD 4]  = RL.[No_] THEN 'xRD4'
			  WHEN AH.[Input Parameter TMC RR 1]  = RL.[No_] THEN 'xRR1'
			  WHEN AH.[Input Parameter TMC RR 2]  = RL.[No_] THEN 'xRR2'
			  WHEN AH.[Input Parameter TMC RR 3]  = RL.[No_] THEN 'xRR3'
			  WHEN AH.[Input Parameter TMC RR 4]  = RL.[No_] THEN 'xRR4'
			  ELSE NULL
		END [TMC Parameter], NULL [TMC Text] 
    FROM [HRS$Posted Rebate Line]   RL WITH (NOLOCK) 
    JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK) 
      ON RL.[Document No_] = RH.[No_]
    JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK) 
      ON RL.[Rebate Agreement No_] = AH.[No_]
    JOIN [HRS$Parameter]     PA WITH (NOLOCK)
      ON PA.[Code]  = RL.[No_]
   WHERE (RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo)
     AND RL.[Type] IN (1,2)
)
INSERT INTO @Parameter
SELECT * FROM RL

INSERT INTO @Parameter
SELECT '',0.0,'',0.0,NULL, NULL, NULL, NULL UNION
SELECT PA.[Code], PA.[Value Decimal], PA.[Name], PA.[Value Decimal], NULL, NULL, NULL, NULL
  FROM [HRS$Parameter] PA WITH (NOLOCK)
 WHERE ','+@ParameterList+',' LIKE '%,' + PA.[Code] + ',%'
   AND NOT PA.[Code] IN (SELECT [No_] FROM @Parameter)

DECLARE @TMCParameter VARCHAR(4)
DECLARE TMCCursor CURSOR FOR SELECT DISTINCT [TMC Parameter] FROM @Parameter WHERE [TMC Parameter] LIKE '%4'--is NOT NULL
OPEN TMCCursor
FETCH NEXT FROM TMCCursor INTO @TMCParameter	
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		 DECLARE @ResultVar VARCHAR(1000) = ''
		 SELECT @ResultVar = @ResultVar + CASE WHEN [P3].[Threshold Value Index] = 1
											   THEN				   ' (' + CONVERT(VARCHAR, CAST([P3].[Value Decimal] AS MONEY),1) + ' %CUR * ' + [P2].[Value] + ')' 
											   ELSE CASE WHEN [P3].[Threshold Value Index] % 3 = 0
														 THEN '<br>+ (' + CONVERT(VARCHAR, CAST([P3].[Value Decimal] AS MONEY),1) + ' %CUR * ' + [P2].[Value] + ')' 
														 ELSE    ' + (' + CONVERT(VARCHAR, CAST([P3].[Value Decimal] AS MONEY),1) + ' %CUR * ' + [P2].[Value] + ')'
													END
											   END
							  FROM @Parameter [P2]
							  JOIN @Parameter [P3] 
								ON [P2].[Threshold Value Index] = [P3].[Threshold Value Index]
							 WHERE [P2].[TMC Parameter] = STUFF(@TMCParameter, 4, 1, '2') 	
							   AND [P3].[TMC Parameter] = STUFF(@TMCParameter, 4, 1, '3') 							  

		UPDATE @Parameter 
		   SET [TMC Text] = @ResultVar
		 WHERE [TMC Parameter] = @TMCParameter
		   AND [Threshold Value Index] = 0
		
		FETCH NEXT FROM TMCCursor INTO @TMCParameter
	END
CLOSE TMCCursor
DEALLOCATE TMCCursor

DECLARE @Iata VARCHAR(MAX) = ''
--SELECT @Iata = @Iata + CASE WHEN EXISTS (SELECT TOP 1 NULL
--										   FROM [Travelagency] WITH (NOLOCK)
--										  WHERE ISNUMERIC(IATA)=1
--										    AND ISNUMERIC(TA.IATA)=1
--										    AND CAST(IATA AS INT) = CAST(TA.IATA AS INT) + 1)
--						    THEN CASE WHEN RIGHT(@Iata, 2) = '..'
--								      THEN ''
--									  ELSE CASE WHEN LEN(@Iata) > 0
--												THEN '|' + TA.IATA + '..'
--												ELSE TA.IATA + '..'
--										   END
--								 END
--							ELSE CASE WHEN RIGHT(@Iata, 2) = '..' OR LEN(@Iata) = 0 
--									  THEN TA.IATA
--									  ELSE '|' + TA.IATA
--								 END
--					   END
-- FROM [Travelagency]				TA WITH (NOLOCK)
-- JOIN [HRS$Vendor Travelagency]		VT WITH (NOLOCK)
--   ON TA.[No_] = VT.[Travelagency No_]
-- JOIN [HRS$Rebate Header]			RH WITH (NOLOCK)
--   ON VT.[Vendor No_] = RH.[Rebate-to Vendor No_]
--WHERE RH.[No_] = @RebateNo
--ORDER BY CAST(TA.IATA AS INT)

;WITH BankAccount AS
(
SELECT [Vendor No_], [Name], [IBAN], [Bank Branch No_], [Bank Account No_], [SWIFT Code]
  FROM [HRS$Vendor Bank Account] WITH (READUNCOMMITTED) 
 WHERE [Clearing] = 1
)
INSERT INTO @RebateHeader
   SELECT RH.[No_] [Rebate No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , @CustList [Affiliate Partner List]
        , RH.[Currency Code]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 1 Code]   [Code P1],  P1.[Name]  [Name P1], P1.[Value Decimal]  [Value P1], P1.[Constant Value Decimal]  [Constant Value P1]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], P2.[Value Decimal]  [Value P2], P2.[Constant Value Decimal]  [Constant Value P2]
        , RA.[Input Parameter 3 Code]   [Code P3],  P3.[Name]  [Name P3], P3.[Value Decimal]  [Value P3], P3.[Constant Value Decimal]  [Constant Value P3]
        , RA.[Input Parameter 4 Code]   [Code P4],  P4.[Name]  [Name P4], P4.[Value Decimal]  [Value P4], P4.[Constant Value Decimal]  [Constant Value P4]
        , RA.[Input Parameter 5 Code]   [Code P5],  P5.[Name]  [Name P5], P5.[Value Decimal]  [Value P5], P5.[Constant Value Decimal]  [Constant Value P5]
        , RA.[Input Parameter 6 Code]   [Code P6],  P6.[Name]  [Name P6], P6.[Value Decimal]  [Value P6], P6.[Constant Value Decimal]  [Constant Value P6]
        , RA.[Input Parameter 7 Code]   [Code P7],  P7.[Name]  [Name P7], P7.[Value Decimal]  [Value P7], P7.[Constant Value Decimal]  [Constant Value P7]
        , RA.[Input Parameter 8 Code]   [Code P8],  P8.[Name]  [Name P8], P8.[Value Decimal]  [Value P8], P8.[Constant Value Decimal]  [Constant Value P8]
        , RA.[Input Parameter 9 Code]   [Code P9],  P9.[Name]  [Name P9], P9.[Value Decimal]  [Value P9], P9.[Constant Value Decimal]  [Constant Value P9]
        , RA.[Input Parameter 10 Code] [Code P10],  P10.[Name] [Name P10],P10.[Value Decimal] [Value P10], P10.[Constant Value Decimal]  [Constant Value P10]
        , RA.[Output Parameter Code]    [Code PA],  PA.[Name]  [Name PA], PA.[Value Decimal]  [Value PA], PA.[Constant Value Decimal]  [Constant Value PA]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, VE.[Currency Code]							   [CurrencyCode] 	
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    'txtVATRegistrationNo'
		  ELSE
            'txtRegistrationNo'
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[HRS$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END,0,1,RA.[No_]) [Salutation]
		, COALESCE(SP.[E-Mail],'kreditoren@hrs.de')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],'377')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],'800')               [Salesperson Phone No_]
		, COALESCE(CR.[EU Country_Region Code],'')     [EU Country_Region Code]
		, COALESCE(CR.[Name],'')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, dbo.fnc_RebateVectorSelection(RA.[Matrix _ Vector Code],P5.[Value Decimal]) [Vector Range]
		, CR.[EU affiliation]
		, RA.[Partner Type]
		, RA.[Group contract Code]
		, RA.[Output Reservation Source]
		, RA.[Output Commission Type]
        , @PayedRebateIntervalStartDate [Payed Rebate Interval Start Date]
        , @PayedRebateIntervalEndDate   [Payed Rebate Interval End Date]
        , RA.[Include online cancellation]
		, RA.[Include offline bookings]
		--RP START
		, RA.[Input Parameter TMC API 1]					[TMC API Base Code]
		, PAPI1.[Value Decimal]								[TMC API Base Value]
		, [PAPI1-0].[Value Decimal]							[TMC API Result Value]
		, RA.[Input Parameter TMC API 4]					[TMC API Result Code]
		, [PAPI1-0].[TMC Text]								[TMC API Text]
		, RA.[Input Parameter TMC GDS 1]					[TMC GDS Base Code]
		, PGDS1.[Value Decimal]								[TMC GDS Base Value]
		, [PGDS1-0].[Value Decimal]							[TMC GDS Result Value]
		, RA.[Input Parameter TMC GDS 4]					[TMC GDS Result Code]
		, [PGDS1-0].[TMC Text]								[TMC GDS Text]
		, RA.[Input Parameter TMC RD 1]						[TMC RD Base Code]
		, PRD1.[Value Decimal]								[TMC RD Base Value]
		, [PRD1-0].[Value Decimal]							[TMC RD Result Value]
		, RA.[Input Parameter TMC RD 4]						[TMC RD Result Code]
		, [PRD1-0].[TMC Text]								[TMC RD Text]
		, RA.[Input Parameter TMC RR 1]						[TMC RR Base Code]
		, PRR1.[Value Decimal]								[TMC RR Base Value]
		, [PRR1-0].[Value Decimal]							[TMC RR Result Value]
		, RA.[Input Parameter TMC RR 4]						[TMC RR Result Code]
		, [PRR1-0].[TMC Text]								[TMC RR Text]
		, @Iata												[TMC IATA Filter]
		--RP STOP
     FROM [HRS$Rebate Header]           RH WITH (READUNCOMMITTED) 
     JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [HRS$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
LEFT JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
     JOIN @Parameter P1  ON P1.[No_]  = RA.[Input Parameter 1 Code]
     JOIN @Parameter P2  ON P2.[No_]  = RA.[Input Parameter 2 Code]
     JOIN @Parameter P3  ON P3.[No_]  = RA.[Input Parameter 3 Code]
     JOIN @Parameter P4  ON P4.[No_]  = RA.[Input Parameter 4 Code]
     JOIN @Parameter P5  ON P5.[No_]  = RA.[Input Parameter 5 Code]
     JOIN @Parameter P6  ON P6.[No_]  = RA.[Input Parameter 6 Code]
     JOIN @Parameter P7  ON P7.[No_]  = RA.[Input Parameter 7 Code]
     JOIN @Parameter P8  ON P8.[No_]  = RA.[Input Parameter 8 Code]
     JOIN @Parameter P9  ON P9.[No_]  = RA.[Input Parameter 9 Code]
     JOIN @Parameter P10 ON P10.[No_] = RA.[Input Parameter 10 Code]
     JOIN @Parameter PA  ON PA.[No_]  = RA.[Output Parameter Code]
	 --RP START
LEFT JOIN @Parameter PAPI1	   ON PAPI1.[No_]	  = RA.[Input Parameter TMC API 1]
LEFT JOIN @Parameter [PAPI1-0] ON [PAPI1-0].[No_] = RA.[Input Parameter TMC API 4] AND [PAPI1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PGDS1	   ON PGDS1.[No_]	  = RA.[Input Parameter TMC GDS 1]
LEFT JOIN @Parameter [PGDS1-0] ON [PGDS1-0].[No_] = RA.[Input Parameter TMC GDS 4] AND [PGDS1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PRD1	   ON PRD1.[No_]	  = RA.[Input Parameter TMC RD 1]
LEFT JOIN @Parameter [PRD1-0]  ON [PRD1-0].[No_]  = RA.[Input Parameter TMC RD 4]  AND [PRD1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PRR1	   ON PRR1.[No_]	  = RA.[Input Parameter TMC RR 1]
LEFT JOIN @Parameter [PRR1-0] ON [PRR1-0].[No_]   = RA.[Input Parameter TMC RR 4]  AND [PRR1-0].[Threshold Value Index] = 0
	 --RP STOP
   WHERE RH.[No_] = @RebateNo
UNION
   SELECT RH.[Rebate No_] [Rebate No_]
        , RH.[Rebate-to Vendor No_]
        , VE.[Name] [Rebate-to Customer Name]
        , VE.[Name 2] [Rebate-to Customer Name 2]
        , VE.[Address] [Rebate-to Address]
        , VE.[Address 2] [Rebate-to Address 2]
        , VE.City [Rebate-to City]
        , RA.[Rebate-to Contact]
        , VE.[Post Code] [Rebate-to Post Code]
        , VE.[Country_Region Code] [Rebate-to Country_Region Code]
        , @CustList [Affiliate Partner List]
        , RH.[Currency Code]
        , RH.[Currency Factor]
        , RH.[Interval]
        , RH.[Posting Date]
        , RH.[Document Date]    
        , CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END [Language Code]
        , CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+1, RH.[Interval Start Date])
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END [Year Start Date]
        , DATEADD(dd,-1,CASE WHEN RA.[Fiscal Year Start (Month)] = 0 THEN
            DATEADD(mm,-DATEPART(mm,RH.[Interval Start Date])+13, RH.[Interval Start Date]) 
          ELSE
            CASE WHEN DATEPART(mm,RH.[Interval Start Date])>=RA.[Fiscal Year Start (Month)] THEN
              DATEADD(mm,12-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            ELSE
              DATEADD(mm,-(DATEPART(mm,RH.[Interval Start Date])-RA.[Fiscal Year Start (Month)]), RH.[Interval Start Date])
            END
          END) [Year End Date]
        , DATEADD(dd,-0,RH.[Interval Start Date]) [Till Start Date]
        , RH.[Interval Start Date]
        , RH.[Interval End Date]
        , RH.[Document Type (Statement)]
        , RH.[Document Type (Cr_ Memo)]
        , RH.[Correspondence Type] 
        , COALESCE(BA.Name,'')                [Vendor Bank Name]
        , COALESCE(BA.[IBAN],'')              [Vendor IBAN]
        , COALESCE(BA.[SWIFT Code],'')        [Vendor SWIFT Code]
        , COALESCE(BA.[Bank Branch No_],'')   [Vendor Bank Branch No_]
        , COALESCE(BA.[Bank Account No_], '') [Vendor Bank Account No_]
        , RA.[Template Type]
        , RA.[Matrix _ Vector Code]
        , RA.[Input Parameter 1 Code]   [Code P1],  P1.[Name]  [Name P1], P1.[Value Decimal]  [Value P1], P1.[Constant Value Decimal]  [Constant Value P1]
        , RA.[Input Parameter 2 Code]   [Code P2],  P2.[Name]  [Name P2], P2.[Value Decimal]  [Value P2], P2.[Constant Value Decimal]  [Constant Value P2]
        , RA.[Input Parameter 3 Code]   [Code P3],  P3.[Name]  [Name P3], P3.[Value Decimal]  [Value P3], P3.[Constant Value Decimal]  [Constant Value P3]
        , RA.[Input Parameter 4 Code]   [Code P4],  P4.[Name]  [Name P4], P4.[Value Decimal]  [Value P4], P4.[Constant Value Decimal]  [Constant Value P4]
        , RA.[Input Parameter 5 Code]   [Code P5],  P5.[Name]  [Name P5], P5.[Value Decimal]  [Value P5], P5.[Constant Value Decimal]  [Constant Value P5]
        , RA.[Input Parameter 6 Code]   [Code P6],  P6.[Name]  [Name P6], P6.[Value Decimal]  [Value P6], P6.[Constant Value Decimal]  [Constant Value P6]
        , RA.[Input Parameter 7 Code]   [Code P7],  P7.[Name]  [Name P7], P7.[Value Decimal]  [Value P7], P7.[Constant Value Decimal]  [Constant Value P7]
        , RA.[Input Parameter 8 Code]   [Code P8],  P8.[Name]  [Name P8], P8.[Value Decimal]  [Value P8], P8.[Constant Value Decimal]  [Constant Value P8]
        , RA.[Input Parameter 9 Code]   [Code P9],  P9.[Name]  [Name P9], P9.[Value Decimal]  [Value P9], P9.[Constant Value Decimal]  [Constant Value P9]
        , RA.[Input Parameter 10 Code] [Code P10],  P10.[Name] [Name P10],P10.[Value Decimal] [Value P10], P10.[Constant Value Decimal]  [Constant Value P10]
        , RA.[Output Parameter Code]    [Code PA],  PA.[Name]  [Name PA], PA.[Value Decimal]  [Value PA], PA.[Constant Value Decimal]  [Constant Value PA]
		, VE.[VAT Bus_ Posting Group]					   [VatBusPostingGroup]
		, VE.[Currency Code]							   [CurrencyCode] 	
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    'txtVATRegistrationNo'
		  ELSE
            'txtRegistrationNo'
		  END                                              [VAT Registration Label]
		, CASE WHEN VE.[VAT Registration No_] <> '' THEN 
		    VE.[VAT Registration No_]
		  ELSE
            VE.[Registration No_]
		  END                                              [VAT Registration No_]
		, dbo.[HRS$GetSalutation](RA.[Salutation Code],CASE WHEN RH.[Language Code]='' THEN CASE WHEN VE.[Language Code]='' THEN '0' ELSE VE.[Language Code] END ELSE RH.[Language Code] END,0,1,RA.[No_])
		, COALESCE(SP.[E-Mail],'kreditoren@hrs.de')    [Salesperson E-Mail]
		, COALESCE(SP.[Fax No_],'377')                 [Salesperson Fax No_]
		, COALESCE(SP.[Name],'')                       [Salesperson Name]
		, COALESCE(SP.[Phone No_],'800')               [Salesperson Phone No_]
		, COALESCE(CR.[EU Country_Region Code],'')     [EU Country_Region Code]
		, COALESCE(CR.[Name],'')                       [Country_Region Name]
		, RH.[Online Reservation Source]
		, RH.[Offline Reservation Source]
		, RA.[Print Booking Source] 
		, RA.[Enable retroactive correction]
		, RA.[Estimated Commission]
		, dbo.fnc_RebateVectorSelection(RA.[Matrix _ Vector Code],P5.[Value Decimal]) [Vector Range]
		, CR.[EU affiliation]
		, RA.[Partner Type]
		, RA.[Group contract Code]
		, RA.[Output Reservation Source]
		, RA.[Output Commission Type]
        , @PayedRebateIntervalStartDate [Payed Rebate Interval Start Date]
        , @PayedRebateIntervalEndDate   [Payed Rebate Interval End Date]
        , RA.[Include online cancellation]
		, RA.[Include offline bookings]
		--RP START
		, RA.[Input Parameter TMC API 1]					[TMC API Base Code]
		, PAPI1.[Value Decimal]								[TMC API Base Value]
		, [PAPI1-0].[Value Decimal]							[TMC API Result Value]
		, RA.[Input Parameter TMC API 4]					[TMC API Result Code]
		, [PAPI1-0].[TMC Text]								[TMC API Text]
		, RA.[Input Parameter TMC GDS 1]					[TMC GDS Base Code]
		, PGDS1.[Value Decimal]								[TMC GDS Base Value]
		, [PGDS1-0].[Value Decimal]							[TMC GDS Result Value]
		, RA.[Input Parameter TMC GDS 4]					[TMC GDS Result Code]
		, [PGDS1-0].[TMC Text]								[TMC GDS Text]
		, RA.[Input Parameter TMC RD 1]						[TMC RD Base Code]
		, PRD1.[Value Decimal]								[TMC RD Base Value]
		, [PRD1-0].[Value Decimal]							[TMC RD Result Value]
		, RA.[Input Parameter TMC RD 4]						[TMC RD Result Code]
		, [PRD1-0].[TMC Text]								[TMC RD Text]
		, RA.[Input Parameter TMC RR 1]						[TMC RR Base Code]
		, PRR1.[Value Decimal]								[TMC RR Base Value]
		, [PRR1-0].[Value Decimal]							[TMC RR Result Value]
		, RA.[Input Parameter TMC RR 4]						[TMC RR Result Code]
		, [PRR1-0].[TMC Text]								[TMC RR Text]
		, ''												[TMC IATA Filter]
		--RP STOP
     FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
     JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
     JOIN [HRS$Vendor]                  VE WITH (READUNCOMMITTED) ON VE.[No_]                 = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Country_Region]          CR WITH (READUNCOMMITTED) ON CR.[Code]                = VE.[Country_Region Code]     
LEFT JOIN [BankAccount]                 BA                        ON BA.[Vendor No_]          = RH.[Rebate-to Vendor No_]
LEFT JOIN [HRS$Salesperson_Purchaser]   SP WITH (READUNCOMMITTED) ON SP.[Code]                = VE.[Purchaser Code]
     JOIN @Parameter P1  ON P1.[No_]  = RA.[Input Parameter 1 Code]
     JOIN @Parameter P2  ON P2.[No_]  = RA.[Input Parameter 2 Code]
     JOIN @Parameter P3  ON P3.[No_]  = RA.[Input Parameter 3 Code]
     JOIN @Parameter P4  ON P4.[No_]  = RA.[Input Parameter 4 Code]
     JOIN @Parameter P5  ON P5.[No_]  = RA.[Input Parameter 5 Code]
     JOIN @Parameter P6  ON P6.[No_]  = RA.[Input Parameter 6 Code]
     JOIN @Parameter P7  ON P7.[No_]  = RA.[Input Parameter 7 Code]
     JOIN @Parameter P8  ON P8.[No_]  = RA.[Input Parameter 8 Code]
     JOIN @Parameter P9  ON P9.[No_]  = RA.[Input Parameter 9 Code]
     JOIN @Parameter P10 ON P10.[No_] = RA.[Input Parameter 10 Code]
     JOIN @Parameter PA  ON PA.[No_]  = RA.[Output Parameter Code]
	 --RP START
LEFT JOIN @Parameter PAPI1	   ON PAPI1.[No_]	  = RA.[Input Parameter TMC API 1]
LEFT JOIN @Parameter [PAPI1-0] ON [PAPI1-0].[No_] = RA.[Input Parameter TMC API 4] AND [PAPI1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PGDS1	   ON PGDS1.[No_]	  = RA.[Input Parameter TMC GDS 1]
LEFT JOIN @Parameter [PGDS1-0] ON [PGDS1-0].[No_] = RA.[Input Parameter TMC GDS 4] AND [PGDS1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PRD1	   ON PRD1.[No_]	  = RA.[Input Parameter TMC RD 1]
LEFT JOIN @Parameter [PRD1-0]  ON [PRD1-0].[No_]  = RA.[Input Parameter TMC RD 4]  AND [PRD1-0].[Threshold Value Index] = 0

LEFT JOIN @Parameter PRR1	   ON PRR1.[No_]	  = RA.[Input Parameter TMC RR 1]
LEFT JOIN @Parameter [PRR1-0] ON [PRR1-0].[No_]   = RA.[Input Parameter TMC RR 4]  AND [PRR1-0].[Threshold Value Index] = 0
	 --RP STOP
   WHERE RH.[No_] = @RebateNo OR RH.[Rebate No_] = @RebateNo

END

  SELECT @MaxRow = MAX(RowNumber) FROM @Result

  BEGIN -- Column initialisation
    DECLARE @ColNames TABLE (Col int, Name varchar(100), Caption varchar(max), SumUp tinyint, NumberFormat varchar(20))
    INSERT INTO @ColNames (Col, SumUp, NumberFormat, Name) VALUES 
  ( 1, 0, '@'          , 'InvoiceNo')
, ( 2, 0, '0'          , 'ProcessNumber')
, ( 3, 0, '0'          , 'ReservationNo')
, ( 4, 0, '0'          , 'PositionNo')
, ( 5, 1, '#.##0,00'   , 'TurnoverLCY')
, ( 6, 1, '#.##0,00'   , 'TurnoverLCYCorr')
, ( 7, 0, '@'          , 'CustomerIDs')
, ( 8, 0, 'TT.MM.JJ'   , 'ReservationDate')
, ( 9, 0, 'TT.MM.JJ'   , 'ArivalDate')
, (10, 0, 'TT.MM.JJ'   , 'DepartureDate')
, (11, 0, '0'          , 'HotelNo')
, (12, 1, '#.##0'      , 'Roomnights')
, (13, 1, '#.##0'      , 'RoomnightsCorr')
, (14, 0, '@'          , 'BonusID')
, (15, 0, '@'          , 'BonusID')
, (16, 0, '#.##0,00'   , 'Turnover')
, (17, 0, '@'          , 'Currency')
, (18, 0, '#.##0,00000', 'CurrencyFactor')
, (19, 0, '@'          , 'Status')
, (20, 0, '#.##0,00'   , 'CommissionRate')
, (21, 0, '@'          , 'CommissionType')
, (22, 0, '0'          , 'ReservationSource')
, (23, 0, '@'          , 'ReservationSourceName')
, (24, 0, '@'          , 'Office-ID')
, (25, 0, '@'          , 'statusCANCELED')
, (26, 0, '@'          , 'CommissionTypeList')
, (27, 0, '@'          , 'HeaderInfo.Rebate_to_Customer_Name')
, (28, 0, '@'          , 'CustomerIDs') -- HeaderInfo.Affiliate_Partner_List
, (29, 0, '@'          , 'Periode') -- HeaderInfo.Interval_Start_Date +'-'+ HeaderInfo.Interval_End_Date
, (30, 0, '@'          , 'FiscalYear') -- HeaderInfo.Year_Start_Date +'-'+ HeaderInfo.Year_End_Date
, (31, 0, '@'          , 'ReservationSource') -- HeaderInfo.Online_Reservation_Source
, (32, 0, '@'          , 'BASE')

UPDATE @ColNames SET Caption = Name
;WITH L AS
(
SELECT LabelID,Translation 
     FROM UTFDocumentTranslation (NOLOCK) 
    WHERE LanguageCode       = @LanguageCode    
      AND Company            = 'HRS' 
      AND DocumentType       = 13 
      AND DocumentLevel      = 0 
    UNION
   SELECT UTF1.LabelID
        , UTF1.Translation 
     FROM UTFDocumentTranslation UTF1 (NOLOCK) 
    WHERE UTF1.LanguageCode  = '1'    
      AND UTF1.Company       = 'HRS' 
      AND UTF1.DocumentType  = 13 
      AND UTF1.DocumentLevel = 0 
      AND (
            SELECT COUNT(1) 
              FROM UTFDocumentTranslation (NOLOCK) 
             WHERE LanguageCode       = @LanguageCode    
               AND Company            = 'HRS' 
               AND DocumentType       = 13 
               AND DocumentLevel      = 0
          ) =0
)
UPDATE C SET C.Caption = L.Translation 
  FROM @ColNames C
  JOIN L
    ON L.LabelID = C.Name

DECLARE @CommTypes varchar(max), @StatusText varchar(max)
DECLARE @CommTypeTable TABLE (ID int identity(0,1), Caption varchar(100))
SELECT @CommTypes = Caption FROM @ColNames WHERE Col=26
SELECT @StatusText = Caption FROM @ColNames WHERE Col=25

INSERT INTO @CommTypeTable (Caption)
SELECT [String] FROM RS.Split(@CommTypes, ',')
END

  DELETE FROM [Excel Buffer 4 SSRS] WHERE [Report ID] = @ReportId	AND [ConnectionID] = @ConnectionID AND [USERID]	= @UserId

  INSERT INTO @TabNames
  SELECT Tab, MAX(RowNumber) FROM @Result GROUP BY Tab

  BEGIN -- Report Top
   INSERT INTO [Excel Buffer 4 SSRS] ([Row No_], [Column No_], [Report ID], [ConnectionID], [USERID], xlRowID, xlColID, [Cell Value as Text], Comment, Formula, Bold, Italic, Underline, NumberFormat, Formula2, Formula3, Formula4, [Sheet Name])
   SELECT [Row No_]					= C.[Col] - 26
		, [Column No_]				= 1
		, [Report ID]				= @ReportId		
		, [ConnectionID]			= @ConnectionID
		, [USERID]					= @UserId	
		, xlRowID					= C.[Col] - 26
		, xlColID					= 'A'
		, [Cell Value as Text]      = C.[Caption]
		, Comment					= ''	
		, Formula					= ''	
		, Bold						= 1
		, Italic					= 0
		, Underline					= 0
		, NumberFormat				= '@'
		, Formula2					= ''
		, Formula3					= ''
		, Formula4					= ''
		, [Sheet Name]              = T.SheetName
     FROM @ColNames C, @TabNames T
	WHERE C.Col BETWEEN 28 AND 31
   INSERT INTO [Excel Buffer 4 SSRS] ([Row No_], [Column No_], [Report ID], [ConnectionID], [USERID], xlRowID, xlColID, [Cell Value as Text], Comment, Formula, Bold, Italic, Underline, NumberFormat, Formula2, Formula3, Formula4, [Sheet Name])
   SELECT [Row No_]					= C.[Col] - 26
		, [Column No_]				= 2
		, [Report ID]				= @ReportId		
		, [ConnectionID]			= @ConnectionID
		, [USERID]					= @UserId	
		, xlRowID					= C.[Col] - 26
		, xlColID					= 'B'
		, [Cell Value as Text]      = SUBSTRING(
		  CASE C.[Col] 
		    WHEN 27 THEN H.[Rebate-to Customer Name]
			WHEN 28 THEN H.[Affiliate Partner List]
			WHEN 29 THEN LTRIM(CONVERT(varchar(8),H.[Interval Start Date],4)) + '-' + LTRIM(CONVERT(varchar(8),H.[Interval End Date],4))
			WHEN 30 THEN LTRIM(CONVERT(varchar(8),H.[Year Start Date],4)) + '-' + LTRIM(CONVERT(varchar(8),H.[Year End Date],4))
			WHEN 31 THEN H.[Online Reservation Source]
		  END,1,250)
		, Comment					= ''	
		, Formula					= ''	
		, Bold						= CASE WHEN C.[Col]=27 THEN 1 ELSE 0 END
		, Italic					= 0
		, Underline					= 0
		, NumberFormat				= '@'
		, Formula2					= ''
		, Formula3					= ''
		, Formula4					= ''
		, [Sheet Name]              = T.SheetName
     FROM @ColNames C, @RebateHeader H, @TabNames T
	WHERE C.Col BETWEEN 27 AND 31
END

  BEGIN -- Column header
   INSERT INTO [Excel Buffer 4 SSRS] ([Row No_], [Column No_], [Report ID], [ConnectionID], [USERID], xlRowID, xlColID, [Cell Value as Text], Comment, Formula, Bold, Italic, Underline, NumberFormat, Formula2, Formula3, Formula4, [Sheet Name])
   SELECT [Row No_]					= @RowOffset
		, [Column No_]				= C.[Col]
		, [Report ID]				= @ReportId		
		, [ConnectionID]			= @ConnectionID
		, [USERID]					= @UserId	
		, xlRowID					= @RowOffset
		, xlColID					= RTRIM(CASE WHEN C.[Col] > 26 THEN CHAR(ROUND(C.[Col]/26,0)+64)+CHAR(C.[Col]%26+64) ELSE CHAR(C.[Col]+64) END)
		, [Cell Value as Text]      = C.[Caption]
		, Comment					= ''	
		, Formula					= ''	
		, Bold						= 1
		, Italic					= 0
		, Underline					= 0
		, NumberFormat				= '@'
		, Formula2					= ''
		, Formula3					= ''
		, Formula4					= ''
		, [Sheet Name]              = T.SheetName
     FROM @ColNames C, @TabNames T
END

  BEGIN -- Data
   INSERT INTO [Excel Buffer 4 SSRS] ([Row No_], [Column No_], [Report ID], [ConnectionID], [USERID], xlRowID, xlColID, [Cell Value as Text], Comment, Formula, Bold, Italic, Underline, NumberFormat, Formula2, Formula3, Formula4, [Sheet Name])
   SELECT [Row No_]					= R.RowNumber + @RowOffset
		, [Column No_]				= C.[Col]
		, [Report ID]				= @ReportId		
		, [ConnectionID]			= @ConnectionID
		, [USERID]					= @UserId	
		, xlRowID					= R.RowNumber + @RowOffset
		, xlColID					= RTRIM(CASE WHEN C.[Col] > 26 THEN CHAR(ROUND(C.[Col]/26,0)+64)+CHAR(C.[Col]%26+64) ELSE CHAR(C.[Col]+64) END)
		, CASE C.[Col]
		    WHEN 0 THEN ''
			WHEN  5 THEN LTRIM(REPLACE(STR(R.[Turnover (LCY)],38,2),'.',','))
			WHEN  6 THEN LTRIM(REPLACE(STR(R.[Turnover (LCY) (corr_)],38,2),'.',','))
			WHEN 16 THEN LTRIM(REPLACE(STR(R.[Turnover],38,2),'.',','))
		    WHEN  1 THEN LTRIM(R.[Invoice No_])
			WHEN  2 THEN LTRIM(STR(R.[Process Number]))
			WHEN  3 THEN LTRIM(STR(R.[Reservation No_]))
			WHEN  4 THEN LTRIM(STR(R.[Reservation Part No_]))
			WHEN  7 THEN LTRIM(STR(R.[Affiliate Partner No_]))
			WHEN  8 THEN LTRIM(CONVERT(varchar(8),R.[Reservation Date],4))
			WHEN  9 THEN LTRIM(CONVERT(varchar(8),R.[Arival Date],4))
			WHEN 10 THEN LTRIM(CONVERT(varchar(8),R.[Departure Date],4))
			WHEN 11 THEN LTRIM(STR(R.[Hotel No_]))
			WHEN 12 THEN LTRIM(STR(R.[Room Nights]))
			WHEN 13 THEN LTRIM(STR(R.[Room Nights Post Corection]))
		    WHEN 14 THEN LTRIM(STR(R.[Loyality Rewards Account 1 No_]))
		    WHEN 15 THEN LTRIM(STR(R.[Loyality Rewards Account 2 No_]))
			WHEN 17 THEN CASE WHEN R.[Currency Code]='' THEN '' ELSE LTRIM(R.[Currency Code]) END
			WHEN 18 THEN LTRIM(REPLACE(STR(R.[Currency Faktor],38,5),'.',','))
			WHEN 19 THEN LTRIM(CASE WHEN R.[Turnover (corr_)]=0 THEN @StatusText ELSE '' END)
			WHEN 20 THEN LTRIM(REPLACE(STR(R.[Commission Rate %],38,2),'.',','))
			WHEN 21 THEN LTRIM(CT.Caption)
			WHEN 22 THEN LTRIM(STR(R.[Reservation Source]))
			WHEN 23 THEN LTRIM(R.[Reservation Source Name])
			WHEN 24 THEN LTRIM(R.[Amadeus No_])
			        ELSE ''
		  END
		, Comment					= ''	
		, Formula					= ''	
		, Bold						= 0
		, Italic					= 0
		, Underline					= 0
		, NumberFormat				= C.[NumberFormat]
		, Formula2					= ''
		, Formula3					= ''
		, Formula4					= ''
		, [Sheet Name]              = R.Tab
	FROM @ColNames C, @Result R JOIN @CommTypeTable CT ON CT.ID = R.[Commission Type]
   WHERE C.Col<=24
--     AND R.RowNumber < 12
ORDER BY R.PageNumber,R.RowNumber, C.Col

--SELECT * FROM @Result WHERE RowNumber In (10,11)
END

UPDATE EX SET
       EX.[Underline] = 1 
  FROM [Excel Buffer 4 SSRS] EX 
  JOIN @TabNames T 
    ON T.SheetName = EX.[Sheet Name]
 WHERE [Report ID] = @ReportId
   AND [ConnectionID] = @ConnectionID 
   AND [USERID]	= @UserId 
   AND [Row No_] IN (@RowOffset + T.MaxRow, @RowOffset)

  BEGIN -- Column sums
   INSERT INTO [Excel Buffer 4 SSRS] ([Row No_], [Column No_], [Report ID], [ConnectionID], [USERID], xlRowID, xlColID, [Cell Value as Text], Comment, Formula, Bold, Italic, Underline, NumberFormat, Formula2, Formula3, Formula4, [Sheet Name])
   SELECT [Row No_]					= @RowOffset + T.MaxRow + 1
		, [Column No_]				= C.[Col]
		, [Report ID]				= @ReportId		
		, [ConnectionID]			= @ConnectionID
		, [USERID]					= @UserId	
		, xlRowID					= @RowOffset + T.MaxRow + 1
		, xlColID					= RTRIM(CASE WHEN C.[Col] > 26 THEN CHAR(ROUND(C.[Col]/26,0)+64)+CHAR(C.[Col]%26+64) ELSE CHAR(C.[Col]+64) END)
		, [Cell Value as Text]      = C.[Caption]
		, Comment					= ''	
		, Formula					= '=SUMME('
		                            + RTRIM(CASE WHEN C.[Col] > 26 THEN CHAR(ROUND(C.[Col]/26,0)+64)+CHAR(C.[Col]%26+64) ELSE CHAR(C.[Col]+64) END)
									+ LTRIM(STR(@RowOffset+1))
									+ ':'
									+ RTRIM(CASE WHEN C.[Col] > 26 THEN CHAR(ROUND(C.[Col]/26,0)+64)+CHAR(C.[Col]%26+64) ELSE CHAR(C.[Col]+64) END)
									+ LTRIM(STR(@RowOffset + T.MaxRow))
									+ ')'	
		, Bold						= 1
		, Italic					= 0
		, Underline					= 1
		, NumberFormat				= C.[NumberFormat]
		, Formula2					= ''
		, Formula3					= ''
		, Formula4					= ''
		, [Sheet Name]              = T.SheetName
     FROM @ColNames C,@TabNames T
	WHERE C.SumUp = 1
END

  DELETE 
    FROM [Excel Buffer 4 SSRS] 
   WHERE [Report ID] = @ReportId
     AND [ConnectionID] = @ConnectionID
     AND [USERID] = @UserId 
	 AND [Column No_] > 24 

END

GO
