USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceLine]    Script Date: 10.04.2024 14:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 01.08.2012
-- Description:	Rechnungskopf der Marketingrechnung
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 
/*
DECLARE @ReNr varchar(20)
 SELECT @ReNr = 'MA151593'
EXEC [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceLine] @ReNr
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_HRS-CN_RPMarketingSalesInvoiceLine] 
    @ReNr varchar(25)
AS
BEGIN
  DECLARE @Advertise TABLE 
  (
    Term         varchar(120)
  , LanguageID   int
  , Translation  varchar(120)
  )
  
INSERT INTO @Advertise SELECT 'Partnerwerbung Germanwings',0,'Partnerwerbung Germanwings'
INSERT INTO @Advertise SELECT 'B2C Newsletter Banner',0,'B2C Newsletter Banner'
INSERT INTO @Advertise SELECT 'Themenhotels Wellness',0,'Themenhotels Wellness'
INSERT INTO @Advertise SELECT 'Banner Kostenlos',0,'Banner Kostenlos'
INSERT INTO @Advertise SELECT 'Banner Exklusivpreis',0,'Banner Exklusivpreis'
INSERT INTO @Advertise SELECT 'Banner',0,'Banner'
INSERT INTO @Advertise SELECT 'B2C Newsletter Gewinnspiel',0,'B2C Newsletter Gewinnspiel'
INSERT INTO @Advertise SELECT 'Themenhotels Ski',0,'Themenhotels Ski'
INSERT INTO @Advertise SELECT 'Banner Tagung',0,'Banner Tagung'
INSERT INTO @Advertise SELECT 'Hotelketten Banner',0,'Hotelketten Banner'
INSERT INTO @Advertise SELECT 'B2B Newsletter Landingpage',0,'B2B Newsletter Landingpage'
INSERT INTO @Advertise SELECT 'B2B Newsletter Teaser',0,'B2B Newsletter Teaser'
INSERT INTO @Advertise SELECT 'B2B Newsletter Gewinnspiel',0,'B2B Newsletter Gewinnspiel'
INSERT INTO @Advertise SELECT 'Themenhotels Golf',0,'Themenhotels Golf'
INSERT INTO @Advertise SELECT 'Themenhotels Strand',0,'Themenhotels Strand'
INSERT INTO @Advertise SELECT 'Themenhotels Luxus',0,'Themenhotels Luxus'
INSERT INTO @Advertise SELECT 'Themenhotels Design',0,'Themenhotels Design'
INSERT INTO @Advertise SELECT 'Themenhotels Burg&Schloss',0,'Themenhotels Burg&Schloss'
INSERT INTO @Advertise SELECT 'Homepage Kampagnen Teaser',0,'Homepage Kampagnen Teaser'
INSERT INTO @Advertise SELECT 'Markenshop',0,'Markenshop'
INSERT INTO @Advertise SELECT 'Themenhotels Resort',0,'Themenhotels Resort'
INSERT INTO @Advertise SELECT 'Partnerwerbung Lufthansa',0,'Partnerwerbung Lufthansa'
INSERT INTO @Advertise SELECT 'Partnerwerbung ADAC',0,'Partnerwerbung ADAC'
INSERT INTO @Advertise SELECT 'Homepage Teaser',0,'Homepage Teaser'
INSERT INTO @Advertise SELECT 'Sonderangebotebox',0,'Sonderangebotebox'
INSERT INTO @Advertise SELECT 'Buchungsbestätigung',0,'Buchungsbestätigung'
INSERT INTO @Advertise SELECT 'Marketingpaket',0,'Marketingpaket'
INSERT INTO @Advertise SELECT 'Stand Alone Newsletter',0,'Stand Alone Newsletter'
INSERT INTO @Advertise SELECT 'Banner Tagung kostenlos',0,'Banner Tagung kostenlos'
INSERT INTO @Advertise SELECT 'Partnerwerbung Bahn.de',0,'Partnerwerbung Bahn.de'
INSERT INTO @Advertise SELECT 'Neueröffnungs Paket, Werbeschaltung',0,'Neueröffnungs Paket, Werbeschaltung'
INSERT INTO @Advertise SELECT 'Banner Email Bestätigung',0,'Banner Email Bestätigung'
INSERT INTO @Advertise SELECT 'Alpenurlaub Werbeplatz',0,'Alpenurlaub Werbeplatz'
INSERT INTO @Advertise SELECT 'B2B Newsletter Banner',0,'B2B Newsletter Banner'
INSERT INTO @Advertise SELECT 'Landingpage Neueröffnungen',0,'Landingpage Neueröffnungen'
INSERT INTO @Advertise SELECT 'Banner Online Bestätigung',0,'Banner Online Bestätigung'
INSERT INTO @Advertise SELECT 'Landingpage Neueröffnete Hotels',0,'Landingpage Neueröffnete Hotels'
INSERT INTO @Advertise SELECT 'Thema Neueröffnete Hotels',0,'Thema Neueröffnete Hotels'
INSERT INTO @Advertise SELECT 'B2C Newsletter Teaser',0,'B2C Newsletter Teaser'
INSERT INTO @Advertise SELECT 'Hotelketten Banner kostenlos',0,'Hotelketten Banner kostenlos'
INSERT INTO @Advertise SELECT 'Airline Paket',0,'Airline Paket'
INSERT INTO @Advertise SELECT 'Partnerwerbung Germanwings',1,'partner advertising germanwings                                                                     '
INSERT INTO @Advertise SELECT 'B2C Newsletter Banner',1,'B2C newsletter ad                                                                                   '
INSERT INTO @Advertise SELECT 'Themenhotels Wellness',1,'theme hotels box wellness                                                                           '
INSERT INTO @Advertise SELECT 'Banner Kostenlos',1,'free banner                                                                                         '
INSERT INTO @Advertise SELECT 'Banner Exklusivpreis',1,'banner exclusive                                                                                    '
INSERT INTO @Advertise SELECT 'Banner',1,'banner                                                                                              '
INSERT INTO @Advertise SELECT 'B2C Newsletter Gewinnspiel',1,'B2C prize draw                                                                                      '
INSERT INTO @Advertise SELECT 'Themenhotels Ski',1,'theme hotels box ski                                                                                '
INSERT INTO @Advertise SELECT 'Banner Tagung',1,'banner convention                                                                                   '
INSERT INTO @Advertise SELECT 'Hotelketten Banner',1,'hotel chain banner                                                                                  '
INSERT INTO @Advertise SELECT 'B2B Newsletter Landingpage',1,'B2B newsletter with landingpage  B2B newsletter box  B2B newsletter with landingpage                '
INSERT INTO @Advertise SELECT 'B2B Newsletter Teaser',1,'B2B newsletter teaser                                                                               '
INSERT INTO @Advertise SELECT 'B2B Newsletter Gewinnspiel',1,'B2B newsletter prize draw                                                                           '
INSERT INTO @Advertise SELECT 'Themenhotels Golf',1,'theme hotel box golf                                                                                '
INSERT INTO @Advertise SELECT 'Themenhotels Strand',1,'theme hotel box beach                                                                               '
INSERT INTO @Advertise SELECT 'Themenhotels Luxus',1,'theme hotel box luxury                                                                              '
INSERT INTO @Advertise SELECT 'Themenhotels Design',1,'theme hotel box design                                                                              '
INSERT INTO @Advertise SELECT 'Themenhotels Burg&Schloss',1,'theme hotel box château & castle                                                                    '
INSERT INTO @Advertise SELECT 'Homepage Kampagnen Teaser',1,'Homepage campaign Teaser                                                                            '
INSERT INTO @Advertise SELECT 'Markenshop',1,'hotel brand shop                                                                                    '
INSERT INTO @Advertise SELECT 'Themenhotels Resort',1,'theme hotel box resort                                                                              '
INSERT INTO @Advertise SELECT 'Partnerwerbung Lufthansa',1,'partner advertising Lufthansa                                                                       '
INSERT INTO @Advertise SELECT 'Partnerwerbung ADAC',1,'partner advertising ADAC                                                                            '
INSERT INTO @Advertise SELECT 'Homepage Teaser',1,'homepage teaser                                                                                     '
INSERT INTO @Advertise SELECT 'Sonderangebotebox',1,'special offers box                                                                                  '
INSERT INTO @Advertise SELECT 'Buchungsbestätigung',1,'booking confirmation                                                                                '
INSERT INTO @Advertise SELECT 'Marketingpaket',1,'marketing package                                                                                   '
INSERT INTO @Advertise SELECT 'Stand Alone Newsletter',1,'Stand Alone Newsletter                                                                              '
INSERT INTO @Advertise SELECT 'Banner Tagung kostenlos',1,'free banner convention                                                                              '
INSERT INTO @Advertise SELECT 'Partnerwerbung Bahn.de',1,'partner advertising bahn.de                                                                         '
INSERT INTO @Advertise SELECT 'Neueröffnungs Paket, Werbeschaltung',1,'New opening package                                                                                 '
INSERT INTO @Advertise SELECT 'Banner Email Bestätigung',1,'Banner email booking confirmation                                                                   '
INSERT INTO @Advertise SELECT 'Alpenurlaub Werbeplatz',1,'Holiday in the alps, advertising placement                                                          '
INSERT INTO @Advertise SELECT 'B2B Newsletter Banner',1,'B2B newsletter banner                                                                               '
INSERT INTO @Advertise SELECT 'Landingpage Neueröffnungen',1,'Landingpage New Openings                                                                            '
INSERT INTO @Advertise SELECT 'Banner Online Bestätigung',1,'Banner online booking confirmation                                                                  '
INSERT INTO @Advertise SELECT 'Landingpage Neueröffnete Hotels',1,'Landingpage newly opened hotels                                                                     '
INSERT INTO @Advertise SELECT 'Thema Neueröffnete Hotels',1,'Thema newly opened hotels                                                                           '
INSERT INTO @Advertise SELECT 'B2C Newsletter Teaser',1,'B2C newsletter teaser                                                                               '
INSERT INTO @Advertise SELECT 'Hotelketten Banner kostenlos',1,'free chain banner                                                                                   '
INSERT INTO @Advertise SELECT 'Airline Paket',1,'Airline Package                                                                                     '

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF EXISTS(SELECT * FROM [HRS-CN$Sales Invoice Header] WHERE [No_] = @ReNr)
      SELECT TOP 1 [Document No_]
           , COALESCE(A.Translation,[Description]) [Leistungsart]
           , [Description 2] [Bannerziel]
           , [Unit Price] [Umsatz]
           , [Line Discount %] [Rabatt]
           , [Line Discount Amount] [Rabattbetrag]
           , [Amount] [Nettobetrag]
           , [Amount Including VAT] [Rechnungsbetrag]
           , ROUND([VAT %],2) [MwSt]
           , SH.[Currency Code]
        FROM [HRS-CN$Sales Invoice Line] SL WITH (READUNCOMMITTED)
   LEFT JOIN [HRS-CN$Sales Invoice Header] SH WITH (READUNCOMMITTED)
          ON SH.[No_] = SL.[Document No_]
   LEFT JOIN @Advertise A
          ON A.Term = SL.Description
         AND A.LanguageID = SH.[Language Code]
       WHERE [Document No_] = @ReNr

    IF EXISTS(SELECT * FROM [HRS-CN$Sales Header] WHERE [No_] = @ReNr)
      SELECT TOP 1 [Document No_]
           , COALESCE(A.Translation,[Description]) [Leistungsart]
           , [Description 2] [Bannerziel]
           , [Unit Price] [Umsatz]
           , [Line Discount %] [Rabatt]
           , [Line Discount Amount] [Rabattbetrag]
           , [Amount] [Nettobetrag]
           , [Amount Including VAT] [Rechnungsbetrag]
           , ROUND([VAT %],2) [MwSt]
           , SH.[Currency Code]
        FROM [HRS-CN$Sales Line] SL WITH (READUNCOMMITTED)
   LEFT JOIN [HRS-CN$Sales Header] SH WITH (READUNCOMMITTED)
          ON SH.[No_] = SL.[Document No_]
   LEFT JOIN @Advertise A
          ON A.Term = SL.Description
         AND A.LanguageID = SH.[Language Code]
       WHERE [Document No_] = @ReNr
       
END

GO
