USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RPLabelTranslationHRS_CN]    Script Date: 10.04.2024 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 09.09.2013
-- Description:	IBAN-Schreiben 
--
-- 24.09.18 HRS001 ACS-1082 DJU - Added Parameter DocumentDate to filter ValidFrom
/*

EXEC [dbo].[sp_RPLabelTranslation] 0,10,0
*/
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_RPLabelTranslationHRS_CN] 
    @Language int
  , @DocumentType int
  , @DocumentLevel int
-- 24.09.18 DJU >>>>>>>>>>>>>>>>>>>> HRS001
  , @DocumentDate date = null
-- 24.09.18 DJU <<<<<<<<<<<<<<<<<<<< HRS001
AS
BEGIN
DECLARE
    @Language2 int
  , @DocumentType2 int
  , @DocumentLevel2 int
-- 24.09.18 DJU >>>>>>>>>>>>>>>>>>>> HRS001
  , @DocumentDate2 date
-- 24.09.18 DJU <<<<<<<<<<<<<<<<<<<< HRS001
SET @Language2 = @Language
SET @DocumentType2 = @DocumentType
SET @DocumentLevel2 = @DocumentLevel
IF @DocumentType IN (8,16,20,21,22,23,15)
  SET @DocumentLevel2 = @DocumentLevel - 1
IF @DocumentLevel2<0
  SET @DocumentLevel2=0
-- 24.09.18 DJU >>>>>>>>>>>>>>>>>>>> HRS001
SET @DocumentDate2 = @DocumentDate
IF @DocumentDate is null
SET @DocumentDate2 = getdate()
;WITH UTF_VALID AS
(
SELECT LabelID, MAX(ValidFrom) [ValidFrom]
  FROM UTFDocumentTranslation WITH (NOLOCK)
 WHERE (LanguageCode = @Language2)
   AND (Company = 'HRS-CN') 
   AND (DocumentType = @DocumentType2) 
   AND (DocumentLevel = @DocumentLevel2)
   AND (ValidFrom <= @DocumentDate2)
GROUP BY LabelID
), UTF_VALID1 AS
(
SELECT LabelID, MAX(ValidFrom) [ValidFrom]
  FROM UTFDocumentTranslation WITH (NOLOCK)
 WHERE (LanguageCode = 1)
   AND (Company = 'HRS-CN') 
   AND (DocumentType = @DocumentType2) 
   AND (DocumentLevel = @DocumentLevel2)
   AND (ValidFrom <= @DocumentDate2)
GROUP BY LabelID
), UTF AS
-- ;WITH UTF AS
-- 24.09.18 DJU <<<<<<<<<<<<<<<<<<<< HRS001
(
SELECT UTF.LabelID, UTF.Translation
  FROM UTFDocumentTranslation UTF WITH (NOLOCK)
-- 24.09.18 DJU >>>>>>>>>>>>>>>>>>>> HRS001
  JOIN UTF_VALID UTF_VALID ON UTF.LabelID = UTF_VALID.LabelID AND UTF.ValidFrom = UTF_VALID.ValidFrom
-- 24.09.18 DJU <<<<<<<<<<<<<<<<<<<< HRS001
 WHERE (UTF.LanguageCode = @Language2)
   AND (UTF.Company = 'HRS-CN') 
   AND (UTF.DocumentType = @DocumentType2) 
   AND (UTF.DocumentLevel = @DocumentLevel2)
), UTF1 AS
(
SELECT UTF.LabelID, UTF.Translation
  FROM UTFDocumentTranslation UTF WITH (NOLOCK)
-- 24.09.18 DJU >>>>>>>>>>>>>>>>>>>> HRS001
  JOIN UTF_VALID1 UTF_VALID ON UTF.LabelID = UTF_VALID.LabelID AND UTF.ValidFrom = UTF_VALID.ValidFrom
-- 24.09.18 DJU <<<<<<<<<<<<<<<<<<<< HRS001
 WHERE (UTF.LanguageCode = 1)
   AND (UTF.Company = 'HRS-CN') 
   AND (UTF.DocumentType = @DocumentType2) 
   AND (UTF.DocumentLevel = @DocumentLevel2)
)
   SELECT *
     FROM UTF   
    UNION
   SELECT UTF1.*
     FROM UTF1
LEFT JOIN UTF ON UTF.LabelID = UTF1.LabelID  
    WHERE UTF.LabelID IS NULL
END

GO
