USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateVector_HDE]    Script Date: 10.04.2024 14:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mohamed Sayed
-- Create date: 25.11.2013
-- Description:	Vektorinformationen ausgeben
/*
DECLARE @VectorCode VARCHAR(20)
SELECT @VectorCode = '3,9-6,5%'
EXEC [dbo].[sp_RebateVector_HDE] @VectorCode1
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateVector_HDE] 
     @VectorCode varchar(20)
AS
BEGIN

SELECT VR.[Description], VR.[Value Decimal]Value, OD.[Name] 
  FROM [hotel_de$Rebate Vector]        RM WITH (NOLOCK)
  JOIN [hotel_de$Rebate Vector Ranges] VR WITH (NOLOCK)
    ON VR.[Vector Code] = RM.[Code]
  JOIN [hotel_de$OLAP Dimension]       OD WITH (NOLOCK)
    ON OD.[Code] = RM.[OLAP Dim_ 1 Code]
 WHERE RM.[Code] = @VectorCode
ORDER BY CAST(VR.[Value From] AS INT), CAST(VR.[Value to]  AS INT)
 
END
GO
