USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [dbo].[CurrencyExchange]    Script Date: 10.04.2024 14:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 16.04.2014
-- Description:	Sondersituation in Brasilien: 
--              - Rechnung in Hotelwährung
--              - Zahlungsverkehr und offizielle Dokumente in BRL
--              - Mandantenwährung in EUR
/*
SELECT [dbo].[CurrencyExchange] ('EUR','USD',4.5,'2013-02-28')
*/
-- =============================================
CREATE FUNCTION [dbo].[CurrencyExchange] 
(
    @FromCurrency varchar(3)
  , @ToCurrency   varchar(3)
  , @Amount       decimal(37,20)
  , @PostingDate  date
)
RETURNS decimal(37,20)
AS
BEGIN
  DECLARE @ResultVar decimal(37,20)
  SET @FromCurrency = CASE WHEN @FromCurrency = '' THEN 'EUR' ELSE @FromCurrency END
  SET @ToCurrency = CASE WHEN @ToCurrency = '' THEN 'EUR' ELSE @ToCurrency END
  ;WITH 
    _ER          AS (SELECT ER.[Currency Code], ER.[Exchange Rate Amount], ER.[Starting Date] FROM [HRS$Currency Exchange Rate] ER WITH (NOLOCK) WHERE ER.[Starting Date] <= @PostingDate UNION SELECT ER.[Currency Code], ER.[Exchange Rate Amount], ER.[Starting Date] FROM [HRS$OANDA_Currency Exchange Rate] ER WITH (NOLOCK) WHERE ER.[Starting Date] <= @PostingDate)
  , ExchangeRate AS (SELECT ER1.[Currency Code], ER1.[Exchange Rate Amount] FROM _ER ER1 JOIN (SELECT [Currency Code], MAX([Starting Date]) [Starting Date] FROM _ER GROUP BY [Currency Code]) ER2 ON ER2.[Starting Date] = ER1.[Starting Date] AND ER2.[Currency Code] = ER1.[Currency Code] )
  SELECT @ResultVar = @Amount * ER2.[Exchange Rate Amount] / ER1.[Exchange Rate Amount]
    FROM ExchangeRate ER1, ExchangeRate ER2
   WHERE ER1.[Currency Code] = @FromCurrency
     AND ER2.[Currency Code] = @ToCurrency

  RETURN @ResultVar

END
GO
