USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_AMEX]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AMEX] AS
BEGIN
DECLARE @VendorNo varchar(20) = '2628'

;WITH APV AS
(
  SELECT C.Name [Company Name], [Affiliate Partner No_], AH.[Enable retroactive correction], COUNT(1) CountAPV, AH.[No_] [Rebate Agreement No_], APV.[Vendor No_]
    FROM DynNavHRS.dbo.[Company] C, DynNavHRS.dbo.[HRS$Rebate Agreement Header] AH WITH (NOLOCK), DynNavHRS.dbo.[HRS$Affiliate Partner Vendor] APV  WITH (NOLOCK)
   WHERE C.Name IN ('HRS','HRS-CN','TISCOVER','HRS-BR')
     AND AH.[Rebate-to Vendor No_] = APV.[Vendor No_]
     AND (APV.[Vendor No_] = @VendorNo OR @VendorNo = '')
	 AND AH.[Active] = 1
     --AND AH.[Group contract Code] = 'DER'
GROUP BY C.Name, APV.[Affiliate Partner No_], AH.[Enable retroactive correction], AH.[No_], APV.[Vendor No_]
), APT AS
(
  SELECT C.Name [Company Name], APV.[Travelagency No_], AH.[Enable retroactive correction], COUNT(1) CountAPV, AH.[No_] [Rebate Agreement No_], APV.[Vendor No_]
    FROM DynNavHRS.dbo.[Company] C, DynNavHRS.dbo.[HRS$Rebate Agreement Header] AH WITH (NOLOCK), DynNavHRS.dbo.[HRS$Vendor Travelagency] APV  WITH (NOLOCK)
   WHERE C.Name IN ('HRS','HRS-CN','TISCOVER','HRS-BR')
     AND AH.[Rebate-to Vendor No_] = APV.[Vendor No_]
     AND (APV.[Vendor No_] = @VendorNo OR @VendorNo = '')
	 AND AH.[Active] = 1
     --AND AH.[Group contract Code] = 'DER'
GROUP BY C.Name, APV.[Travelagency No_], AH.[Enable retroactive correction], AH.[No_], APV.[Vendor No_]
), _APV AS
(
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM DynNavHRS.dbo.[HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS-CN'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM DynNavHRS.dbo.[HRS-BR$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS-BR'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM [TISCOVER$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'TISCOVER'
    WHERE AP.[DepartureDate]>= '2016-01-01'
), _APT AS
(
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM [HRS$Affiliate Postings]  AP WITH (NOLOCK)
     JOIN APT L
       ON AP.[Travelagency No_] = L.[Travelagency No_]
      AND L.[Company Name]             = 'HRS'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM DynNavHRS.dbo.[HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APT L
       ON AP.[Travelagency No_] = L.[Travelagency No_]
      AND L.[Company Name]             = 'HRS-CN'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM DynNavHRS.dbo.[HRS-BR$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APT L
       ON AP.[Travelagency No_] = L.[Travelagency No_]
      AND L.[Company Name]             = 'HRS-BR'
    WHERE AP.[DepartureDate]>= '2016-01-01'
UNION      
   SELECT AP.*, L.[Rebate Agreement No_], L.[Company Name]
     FROM DynNavHRS.dbo.[TISCOVER$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APT L
       ON AP.[Travelagency No_] = L.[Travelagency No_]
      AND L.[Company Name]             = 'TISCOVER'
    WHERE AP.[DepartureDate]>= '2016-01-01'
), _AP AS
(
   SELECT * FROM _APV
UNION
   SELECT * FROM _APT   
), AP AS
(
  SELECT AP.ReservationNo                         [Reservation No_]
       , AP.ReservationPartNo                     [Reservation Part No_]
	   , MAX(AP.CountryCode)                      [CountryCode]                           
       , MAX(COALESCE(AP.IsNoShow,0))             [Is No Show]
       , MAX(COALESCE(AP.ProcessNumber,0))        [Process Number]
       , MAX([Company Name])                      [Company Name]
       , MAX(AP.PostingDate)                      [Posting Date]
       , MAX(AP.DocumentDate)                     [Document Date]
       , MAX(COALESCE([Travelagency Code],''))    [Travelagency Code]
       , MAX(COALESCE([Travelagency No_],0))      [Travelagency No_]
       , MIN(AP.[Rebate Agreement No_])           [Rebate Agreement No_]
       , MIN(AP.InvoiceNo)                        [Invoice No_]
       , MAX(COALESCE([Description],''))          [Description]
       , MAX(COALESCE([Description2],''))         [Description 2]
       , SUM(AP.Amount_LCY)                       [Amount (LCY)]
       , SUM(AP.Turnover_LCY)                     [Turnover (LCY)]
       , SUM(AP.Amount)                           [Amount]
       , SUM(AP.Turnover)                         [Turnover]
       , SUM(AP.Amount_LCY_corr)                  [Amount (LCY) (corr_)]
       , SUM(AP.Turnover_LCY_corr)                [Turnover (LCY) (corr_)]
       , SUM(AP.Amount_corr)                      [Amount (corr_)]
       , SUM(AP.Turnover_corr)                    [Turnover (corr_)]
       , SUM(AP.RoomNights)                       [Room Nights]
       , SUM(AP.RoomNights_corr)                  [Room Nights (corr_)]
       , MAX(COALESCE(AP.IsNetRate,0))            [Is Net Rate]
       , MAX(COALESCE(AP.IsNetRate_corr,0))       [Is Net Rate (corr_)]
       , MAX(
            CASE AP.[CommissionType]
              WHEN 'Prozent' THEN 0
              WHEN 'Fix' THEN 1
              WHEN 'Prozent+Fix' THEN 2
              WHEN 'Prozent ohne Frstk' THEN 3
              WHEN 'Prozent ohne Frstk+Fix' THEN 4
              WHEN 'Online' THEN 5
              WHEN 'Zusatzprovision' THEN 6
              WHEN '% netto Logis' THEN 7
              WHEN '% netto Logis + Frstk' THEN 8
              WHEN '% Nettoumsatz' THEN 9
              WHEN 'keine Angaben' THEN 10
              WHEN 'Fix pro RN' THEN 11
              WHEN 'Default' THEN 12
              WHEN 'Company Rate' THEN 13
              ELSE 13
            END
          )                                       [Commission Type]
       , MAX(AP.CommissionRateProz)               [Commission Rate %]
       , MAX(
            CASE AP.[CommissionType_corr]
              WHEN 'Prozent' THEN 0
              WHEN 'Fix' THEN 1
              WHEN 'Prozent+Fix' THEN 2
              WHEN 'Prozent ohne Frstk' THEN 3
              WHEN 'Prozent ohne Frstk+Fix' THEN 4
              WHEN 'Online' THEN 5
              WHEN 'Zusatzprovision' THEN 6
              WHEN '% netto Logis' THEN 7
              WHEN '% netto Logis + Frstk' THEN 8
              WHEN '% Nettoumsatz' THEN 9
              WHEN 'keine Angaben' THEN 10
              WHEN 'Fix pro RN' THEN 11
              WHEN 'Default' THEN 12
              WHEN 'Company Rate' THEN 13
              ELSE 13
            END
          )                                       [Commission Type (corr_)]
       , MAX(AP.CommissionRateProz_corr)          [Commission Rate % (corr_)]
       , MAX(AP.ReservationDate)                  [Reservation Date]
       , MAX(AP.ArivalDate)                       [Arrival Date]
       , MAX(AP.DepartureDate)                    [Departure Date]
       , MAX(AP.AffiliatePartnerNo)               [Affiliate Partner No_]
       , MAX(AP.HotelNo)                          [Hotel No_]
       , MAX(COALESCE(AP.CountryCode,''))         [Country Code]
       , MAX(COALESCE(AP.Chain,''))               [Chain]
       , MAX(COALESCE(AP.Brand,''))               [Brand]
       , MAX(COALESCE(AP.MuseID,''))              [MuseID]
       , MAX(COALESCE(AP.TopBonusID,''))          [Top Bonus ID]
       , MAX(COALESCE(AP.AffiliateReference1,'')) [Loyality Rewards Account 1 No_]
       , MAX(COALESCE(AP.AffiliateReference2,'')) [Loyality Rewards Account 2 No_]
       , MAX(COALESCE(AP.ReservationSource,0))    [Reservation Source]
       , MAX(COALESCE(AP.Orderer,''))             [Booking User]
       , MAX(COALESCE(AP.BookingCode,''))         [Booking Code]
       , SUM(AP.Turnover_Breakfast_LCY)           [Turnover Breakfast (LCY)]
       , SUM(AP.Turnover_Breakfast_LCY_corr)      [Turnover Breakfast (LCY) (corr_)]
       , MAX(AP.CurrencyFaktor)                   [Currency Factor]
       , MAX(AP.CurrencyFaktor_corr)              [Currency Factor (corr_)]
       , MAX(AP.CurrencyCode)                     [Currency Code]
       , MAX(AP.CurrencyCode_corr)                [Currency Code (corr_)]
    FROM _AP AP
GROUP BY AP.ReservationNo
       , AP.ReservationPartNo    
)
   SELECT AP.[Loyality Rewards Account 1 No_]
        , AP.[Loyality Rewards Account 2 No_]
        , AP.[Reservation Date]
        , AP.[Arrival Date]
        , AP.[Turnover Breakfast (LCY)]
        , AP.[Turnover Breakfast (LCY) (corr_)]
        , AP.[Amount]
        , AP.[Turnover]
        , AP.[Amount (corr_)]
        , AP.[Turnover (corr_)]
        , AP.[Currency Factor]
        , AP.[Currency Code]
        , AP.[Currency Factor (corr_)]
        , AP.[Currency Code (corr_)]
        , AP.[Description]
        , AP.[Description 2]
        , AP.[Reservation No_]
        , AP.[Reservation Part No_]
        , AP.[Invoice No_]
        , AP.[Amount (LCY)]
        , AP.[Turnover (LCY)]
        , AP.[Commission Type]
        , AP.[Commission Rate %]
        , AP.[Amount (LCY) (corr_)]
        , AP.[Turnover (LCY) (corr_)]
        , AP.[Commission Type (corr_)]
        , AP.[Commission Rate % (corr_)]
        , AP.[Departure Date]
        , AP.[Affiliate Partner No_]
        , AP.[Hotel No_]
        , AP.[Room Nights]
        , AP.[Is Net Rate]
        , AP.[Room Nights (corr_)]
        , AP.[Is Net Rate (corr_)]
        , AP.[Is No Show]
        , AP.[Top Bonus ID]
        , AP.[MuseID]
        , AP.[Chain]
        , AP.[Brand]
        , AP.[Process Number]
        , AP.[Posting Date]
        , AP.[Document Date]
        , AP.[Travelagency No_]
		, CASE 
		    WHEN AP.[Travelagency No_] = 0 THEN 'CI' 
			WHEN AP.[Travelagency No_] <> 0 THEN 'GDS' 
		  END [Source]
		, CASE 
		    WHEN AP.[Turnover (corr_)]=0 THEN 'offline cancellation'
		    WHEN AP.[Amount (corr_)]=0 THEN 'non commissionable'
		  END [Status]
		, CR.Name [Country]
     FROM AP
LEFT JOIN DynNavHRS.dbo.[HRS$Foreign Tax] FT WITH (NOLOCK)
       ON AP.[Country Code] = FT.Country       
LEFT JOIN [HRS$Country_Region] CR WITH (NOLOCK)
	   ON CR.Code = AP.[Country Code]
    WHERE AP.[Departure Date] >= '2016-01-01'

UNION

   SELECT NULL [Loyality Rewards Account 1 No_]
        , NULL [Loyality Rewards Account 2 No_]
		, BU.B_DATUM [Reservation Date]
		, BT.BT_VON [Arival Date]
		, NULL [Turnover Breakfast (LCY)]
		, NULL [Turnover Breakfast (LCY) (c_)]
		, NULL [Amount]
		, BT_PREIS / 100. [Turnover]
		, NULL [Amount (corr_)]
		, NULL [Turnover (corr_)]
		, ROUND(1./(BU.W_KURS/100000.),5) [Currency Faktor]
		, BU.W_ISO [Currency Code]
		, NULL [Currency Faktor (corr_)]
		, NULL [Currency Code (corr_)]
		, BU.B_GAST1 [Description]
		, BU.B_GAST2 [Description 2]
		, BT.B_KEY [Reservation No_]
		, BT.BT_POS [Reservation Part No_]
		, NULL [Invoice No_]
		, NULL [Amount (LCY)]
		, NULL [Turnover (LCY)]
		, NULL [Commission Type]
		, NULL [Commission Rate %]
		, NULL [Amount (LCY) (corr_)]
		, NULL [Turnover (LCY) (corr_)]
		, NULL [Commission Type (corr_)]
		, NULL [Commission Rate % (corr_)]
		, BT.BT_BIS [Departure Date]
		, BU.K_KEY [Affiliate Partner No_]
		, BU.H_KEY [Hotel No_]
		, NULL [Room Nights]
		, NULL [Is Net Rate]
		, NULL [Room Nights Post Corection]
		, NULL [Is Net Rate Post Corection]
		, NULL [Is No Show]
		, NULL [Top Bonus ID]
		, BU.MUSE_ID [MuseID]
		, NULL [Chain]
		, NULL [Brand]
		, BU.BP_KEY [Process Number]
		, NULL
		, NULL
		, NULL [Travelagency No_]
 	    , 'CI'
		, 'online cancellation'
		, CR.Name [Country]
     FROM DynNavHRS.HRSDB.BUCHUNG B1 WITH (NOLOCK)
     JOIN DynNavHRS.HRSDB.BUCHUNG BU WITH (NOLOCK)
       ON BU.B_KEY = B1.B_KEY_ROOT
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK)
	   ON AP.No_ = BU.K_KEY
     JOIN DynNavHRS.HRSDB.BUCHTEIL BT WITH (NOLOCK)
       ON BT.B_KEY = BU.B_KEY
     JOIN APV
       ON APV.[Affiliate Partner No_] = BU.K_KEY
LEFT JOIN [HRS$Country_Region] CR WITH (NOLOCK)
	   ON CR.Code = AP.[Country Code]
    WHERE BU.B_AB_DATUM BETWEEN '2016-01-01' AND '2016-04-30'
      AND B1.B_CANCELLATION = 1

UNION

   SELECT NULL [Loyality Rewards Account 1 No_]
        , NULL [Loyality Rewards Account 2 No_]
		, BU.B_DATUM [Reservation Date]
		, BT.BT_VON [Arival Date]
		, NULL [Turnover Breakfast (LCY)]
		, NULL [Turnover Breakfast (LCY) (c_)]
		, NULL [Amount]
		, BT_PREIS / 100. [Turnover]
		, NULL [Amount (corr_)]
		, NULL [Turnover (corr_)]
		, ROUND(1./(BU.W_KURS/100000.),5) [Currency Faktor]
		, BU.W_ISO [Currency Code]
		, NULL [Currency Faktor (corr_)]
		, NULL [Currency Code (corr_)]
		, BU.B_GAST1 [Description]
		, BU.B_GAST2 [Description 2]
		, BT.B_KEY [Reservation No_]
		, BT.BT_POS [Reservation Part No_]
		, NULL [Invoice No_]
		, NULL [Amount (LCY)]
		, NULL [Turnover (LCY)]
		, NULL [Commission Type]
		, NULL [Commission Rate %]
		, NULL [Amount (LCY) (corr_)]
		, NULL [Turnover (LCY) (corr_)]
		, NULL [Commission Type (corr_)]
		, NULL [Commission Rate % (corr_)]
		, BT.BT_BIS [Departure Date]
		, BU.K_KEY [Affiliate Partner No_]
		, BU.H_KEY [Hotel No_]
		, NULL [Room Nights]
		, NULL [Is Net Rate]
		, NULL [Room Nights Post Corection]
		, NULL [Is Net Rate Post Corection]
		, NULL [Is No Show]
		, NULL [Top Bonus ID]
		, BU.MUSE_ID [MuseID]
		, NULL [Chain]
		, NULL [Brand]
		, BU.BP_KEY [Process Number]
		, NULL
		, NULL
		, NULL [Travelagency No_]
 	    , 'GDS'
		, 'online cancellation'
		, CR.Name [Country]
     FROM DynNavHRS.HRSDB.BUCHUNG B1 WITH (NOLOCK)
     JOIN DynNavHRS.HRSDB.BUCHUNG BU WITH (NOLOCK)
       ON BU.B_KEY = B1.B_KEY_ROOT
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK)
	   ON AP.No_ = BU.K_KEY
     JOIN DynNavHRS.HRSDB.BUCHTEIL BT WITH (NOLOCK)
       ON BT.B_KEY = BU.B_KEY
	 JOIN DynNavHRS.[HRSDB].[TRAVELAGCY] TA
	   ON B1.B_KEY = TA.B_KEY
	 JOIN DynNavHRS.dbo.[Travelagency] TA2
	   ON TA2.IATA = TA.K_KEY
	  AND ISNUMERIC(TA2.IATA)>0
LEFT JOIN [HRS$Country_Region] CR WITH (NOLOCK)
	   ON CR.Code = AP.[Country Code]
     JOIN APT
       ON APT.[Travelagency No_] = TA2.[No_]
    WHERE BU.B_AB_DATUM BETWEEN '2016-01-01' AND '2016-04-30'
      AND B1.B_CANCELLATION = 1

END
GO
