USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[DataSet_Trace_Distinct_ApplicationNames]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DataSet_Trace_Distinct_ApplicationNames] AS 
SELECT '<All>' AS ApplicationName
UNION ALL
SELECT DISTINCT ApplicationName FROM DistinctBatches
GO
