USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[UpdateZZ]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateZZ]
        @ReservationNo varchar(20) = '266103501'
      , @DocumentNo varchar(20) = '16242139/02'
      , @CDGCode int = 28760155
      , @Debug int = 1
      , @Overwrite int=0
AS BEGIN

IF EXISTS(SELECT * FROM [HRS$CDG Import Zahlungszentralen] WITH (NOLOCK) WHERE [CDG_Code]=@CDGCode AND [Auto_ Correction Status]=3) OR @Overwrite=1
BEGIN

DECLARE @CaseNo varchar(20)
      , @CustLedgEntryNo int
      , @CustLedgValue dec(38,20)
      , @CustLedgValueLCY dec(38,20)
      , @Differenz decimal(38,20)
      , @BuchDescription varchar(40)

SELECT @CaseNo=[Case No_]
  FROM [HRS$Agency Display Header] WITH (NOLOCK) 
 WHERE [Posted Invoice No_]=@DocumentNo

  SELECT @CustLedgValue = SUM([Commission Amount] * [Number of Nights]), @CustLedgValueLCY =  SUM([Commission Amount (LCY)] * [Number of Nights])
    FROM [HRS$Agency Display Line] WITH (NOLOCK) 
   WHERE [Display Case No_]=@CaseNo
     AND [Reservation No_]=@ReservationNo
     AND [Action]<>3
GROUP BY [Reservation No_]

SELECT @CustLedgEntryNo = [Entry No_] FROM [HRS$Cust_ Ledger Entry] WITH (NOLOCK)  WHERE [Document No_]=@DocumentNo AND [Document Type]=2

SELECT @Differenz = NetCommissionPaymentCurrency-@CustLedgValueLCY FROM [HRS$CDG Import Zahlungszentralen] WITH (NOLOCK) WHERE [CDG_Code]=@CDGCode

SELECT @BuchDescription = 'BN:'+@ReservationNo+' /Dif:'+convert(varchar,convert(decimal(8,2),@Differenz))

IF @Debug=1
BEGIN
  PRINT '@ReservationNo     = '+@ReservationNo
  PRINT '@DocumentNo        = '+@DocumentNo
  PRINT '@CaseNo            = '+@CaseNo
  PRINT '@CDGCode           = '+convert(varchar,convert(int,@CDGCode))
  PRINT '================== = ================================================'
  PRINT '@CustLedgEntryNo   = '+CAST(@CustLedgEntryNo as varchar(20))
  PRINT '@CustLedgValue     = '+STR(@CustLedgValue,8,2)
  PRINT '@CustLedgValueLCY  = '+STR(@CustLedgValueLCY,8,2)
  PRINT '@Differenz         = '+STR(@Differenz,8,2)
  PRINT '@BuchDescription   = '+@BuchDescription
END

IF @Debug=0
UPDATE [HRS$CDG Import Zahlungszentralen] SET
       [Buch_ Description]=@BuchDescription
     , [Differenz] = @Differenz
     , [Auto_ Correction Status] = 4
     , [Shorter_Longer Stay] = 0
     , [CustLedgValue]=@CustLedgValue
     , [CustLedgValue (LCY)]=@CustLedgValueLCY
     , [Applies-to Doc_ No_]=@DocumentNo
     , [Buch_ Document No_]=@CaseNo
     , [CustLedgLfdNo]=@CustLedgEntryNo
 WHERE [CDG_Code]=@CDGCode
END
END
GO
