USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetNAV_LOADED_DynNavReloadBookingHeaderFromDB2]    Script Date: 10.04.2024 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Description:	Set NAV_LOADED Flag
--

-- Date     Version   RFC		Sign.  Description
-- ------------------------------------------------------------
-- 25.03.19	HRS001	  ACS-1692	SAK		Improve to Payment Process	

-- 


CREATE PROCEDURE [dbo].[sp_SetNAV_LOADED_DynNavReloadBookingHeaderFromDB2] AS BEGIN

DECLARE @DateFrom datetime, @DateTo datetime, @HotelNo int

IF DATEPART(dd,GETDATE()) > 5
  BEGIN
   SELECT @DateFrom = CAST(LEFT(CONVERT(VARCHAR,DATEADD(MM,-2,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())),120),10) AS DATETIME)
        , @DateTo = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(MM,1,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE()))),120),10) AS DATETIME)
        , @HotelNo = NULL
  END
ELSE
  BEGIN
   SELECT @DateFrom = CAST(LEFT(CONVERT(VARCHAR,DATEADD(MM,-3,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())),120),10) AS DATETIME)
        , @DateTo = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())),120),10) AS DATETIME)
        , @HotelNo = NULL
  END

  PRINT @DateFrom;
  PRINT @DateTo;

;WITH _NAV AS
(      
SELECT AH.[Reservation No_], '[HRS-CN$Agency Header]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS-CN$Agency Header] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT AH.[Reservation No_], '[HRS-CN$Agency Display Line]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS-CN$Agency Display Line] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CH.[Reservation No_], '[HRS-CN$Correction Agency Header]' Source, 10000, '' 
  FROM [HRS-CN$Correction Agency Header] CH WITH (NOLOCK)
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo   
UNION ALL   
SELECT AH.[Reservation No_], '[HRS-BR$Agency Header]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS-BR$Agency Header] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT AH.[Reservation No_], '[HRS-BR$Agency Display Line]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS-BR$Agency Display Line] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CH.[Reservation No_], '[HRS-BR$Correction Agency Header]' Source, 10000, '' 
  FROM [HRS-BR$Correction Agency Header] CH WITH (NOLOCK)
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo   
UNION ALL   
SELECT AH.[Reservation No_], '[HRS$Agency Header]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS$Agency Header] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT AH.[Reservation No_], '[HRS$Agency Display Line]' Source, AH.[Reservation State], AH.[Quality by User]
  FROM [HRS$Agency Display Line] AH WITH (NOLOCK)
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CH.[Reservation No_], '[HRS$Correction Agency Header]' Source, 10000, ''
  FROM [HRS$Correction Agency Header] CH WITH (NOLOCK)
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo   
  
)
   UPDATE S SET S.NAV_LOADED = (CASE WHEN N.[Reservation No_] IS NULL OR COALESCE(N.[Reservation State],10000) <> B_STATUS THEN 0 ELSE 1 END)
     FROM HRSDB.BUCHUNG S
LEFT JOIN _NAV N
       ON N.[Reservation No_] = S.B_KEY
     JOIN HRSDB.HOTEL H
       ON H.H_KEY = S.H_KEY
      AND H.H_TEST_HOTEL = 0
    WHERE (H.H_KEY = @HotelNo OR @HotelNo IS NULL)
      AND B_AB_DATUM BETWEEN @DateFrom AND @DateTo
      AND (   
             S.NAV_LOADED <> (CASE WHEN N.[Reservation No_] IS NULL OR COALESCE(N.[Reservation State],10000) <> B_STATUS THEN 0 ELSE 1 END)
--          OR (N.[Quality by User]<>S.QUALITY_MA_USER)
          )

END
GO
