USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoggedSessionList]    Script Date: 10.04.2024 14:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================= [dbo].[sp_LoggedSessionList] 
-- Author:		Mohamed Zayed
-- Create date: 17.09.2014
-- Description:	List for all loged sessions with some Filters
--

-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 17.09.14 HRS001    XXXX   ZM     Creating the SP
/*
-- Testing the SP: 
DECLARE @ReNr varchar(20)
 SELECT @ReNr = 'V000000006'
EXEC [dbo].[sp_LoggedSessionList] 


*/
-- ============================================= 52092780
CREATE PROCEDURE [dbo].[sp_LoggedSessionList] 
 --   @UserID varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
-- See Number of Session All users Session:																		! ! !	IMPORTANT ! ! !
--*************************************************************************
With CPU_MS AS
    (
      Select [User ID], 
      CONVERT(TIME,
          DATEADD(ms, SUM([CPU Time (ms)]/10000 % 1000),
          DATEADD(ss, SUM([CPU Time (ms)]/10000000), 0))) AS [CPU Time HH:MM:SS:ms]
      FROM Session
      group by [User ID]
      )

		SELECT [Connection ID]
			  ,Replace(S.[User ID],'HRS\','') AS [User ID]
			  ,S.[My Session]
			  ,convert(varchar(10), S.[Login Time], 108) AS [Login Time]
			  ,convert(varchar(10), S.[Login Date], 104) AS [Login Date]
			  ,S.[Database Name]
			  ,Replace(S.[Application Name],'Microsoft Dynamics NAV Classic client','Classic Client') AS [Application Name]
			  ,S.[Login Type]
			  ,S.[Host Name]
			  ,S.[CPU Time (ms)]
			  ,CPU_MS.[CPU Time HH:MM:SS:ms]
			  ,S.[Memory Usage (KB)]
			  ,S.[Physical I_O]
			  ,S.[Blocked]
			  ,S.[Wait Time (ms)]
			  ,S.[Blocking Connection ID] AS [Blocker Connection ID]
			  ,S.[Blocking User ID]       AS [Blocker User ID]
			  ,S.[Blocking Host Name]     AS [Blocker Host Name]
			  ,S.[Blocking Object]        AS [Blocked Object]
			  ,S.[Idle Time]
		FROM Session S
		Join CPU_MS
			 on CPU_MS.[User ID]= S.[User ID]
		WHERE     S.[User ID]<> 'sa' 
				 and           S.[User ID] <>  'NT AUTHORITY\SYSTEM'
				 and           S.[User ID] <>  'nav'                -- HRS\ commeted due to the replace function
				 and           S.[User ID] <>  'ssrs_reader'
				 and           S.[User ID] <>  'adm-aak02'          -- HRS\ commeted due to the replace function
				 and           S.[User ID] <>  'navclus'            -- HRS\ commeted due to the replace function
				 and		   S.[Application Name] ='Microsoft Dynamics NAV Classic client'
			   --and           [User ID]= 'HRS\'   -- Target user
		Order by [CPU Time (ms)] DESC













END
GO
