USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomerBankAccountMandate]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 24.01.22
-- Description:	Falsch gesetzte Mandatsdaten korrigieren
-- =============================================
CREATE PROCEDURE [dbo].[UpdateCustomerBankAccountMandate]
AS
BEGIN
-- Letzte Verwendung in Mandats History setzen
UPDATE MH SET MH.[Mandate Last Used]=PPL.[Pmt_ Posting Date]
  FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
  JOIN [HRS$Payment Proposal Line] PPL WITH (NOLOCK) 
    ON PPL.[Journal Batch Name]=MH.[Payment Proposal Name]
 WHERE MH.[Mandate Last Used]='1753-01-01'

-- Letzte Verwendung in Mandat setzen
;WITH MHV AS
(
   SELECT [Mandate ID]
        , MAX([Version No_])[Version No_]
     FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
 GROUP BY [Mandate ID]
), MH AS
(
   SELECT MH.*
     FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
     JOIN MHV ON MHV.[Mandate ID]=MH.[Mandate ID] AND MHV.[Version No_]=MH.[Version No_]
)
UPDATE BM SET BM.[Mandate Last Used]=MH.[Mandate Last Used]
  FROM MH
  JOIN [HRS$Bank Account Mandate] BM WITH (NOLOCK) ON MH.[Mandate ID]=BM.[Mandate ID] AND BM.[Account No_]=MH.[Account No_] AND BM.[Account Type]=0
 WHERE MH.[Mandate Last Used]>BM.[Mandate Last Used]

-- Vorhandene Mandatsreferenz setzen, sofern diese leer ist
;WITH MHV AS
(
   SELECT [Mandate ID]
        , MAX([Version No_])[Version No_]
     FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
 GROUP BY [Mandate ID]
), MH AS
(
   SELECT MH.*
     FROM [HRS$Bank Account Mandate History] MH WITH (NOLOCK)
     JOIN MHV ON MHV.[Mandate ID]=MH.[Mandate ID] AND MHV.[Version No_]=MH.[Version No_]
)
   UPDATE BA SET BA.[Mandate ID]=MH2.[Mandate ID] 
     FROM [HRS$Customer] CU WITH (NOLOCK)
LEFT JOIN [HRS$Customer Bank Account] BA WITH (NOLOCK) ON BA.[Customer No_]=CU.[No_] AND BA.[Clearing]=1
LEFT JOIN MH ON BA.[Mandate ID]=MH.[Mandate ID]
LEFT JOIN MH MH2 ON BA.[Customer No_]=MH2.[Account No_] AND MH2.[Mandate ID]=BA.[Customer No_]
LEFT JOIN [HRS$Bank Account Mandate] BM WITH (NOLOCK) ON BA.[Mandate ID]=BM.[Mandate ID] AND BA.[Customer No_]=BM.[Account No_] AND BM.[Account Type]=0
    WHERE CU.[Payment Method Code]='CORE'
      AND BA.[Mandate ID]='' AND NOT MH2.[Mandate ID] IS NULL
END
GO
