USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_AMADEUS_UpdateReservationSource]    Script Date: 10.04.2024 14:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 18.08.14
-- Description:	Aktualisiert die Buchungskanäle entsprechend AMADEUS-Lieferung
/*
  EXEC sp_AMADEUS_UpdateReservationSource
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_AMADEUS_UpdateReservationSource]
AS
BEGIN
   UPDATE BU SET
          B_QUELLE
        = CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END
     FROM DynNavHRS.HRSDB.BUCHUNG                        BU WITH (NOLOCK)
     JOIN DynNavHRS.dbo.[HRS$Amadeus Import Line]        AI WITH (NOLOCK)
       ON AI.[Process No_] = BU.B_KEY
    WHERE B_QUELLE
       <> CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END
          
;WITH AI AS
(
   SELECT BU.BP_KEY [Process No_], AI.[Channel]
     FROM DynNavHRS.dbo.[HRS$Amadeus Import Line]        AI WITH (NOLOCK)
     JOIN DynNavHRS.HRSDB.BUCHUNG                        BU WITH (NOLOCK)
       ON BU.B_KEY = AI.[Process No_]
) 
   UPDATE AP SET
          AP.[ReservationSource]
        = CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END
     FROM DynNavHRS.dbo.[HRS$Affiliate Postings]         AP WITH (NOLOCK)
     JOIN AI
       ON AI.[Process No_] = AP.[ProcessNumber]
    WHERE AP.[ReservationSource]
       <> CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END

;WITH AI AS
(
   SELECT BU.BP_KEY [Process No_], AI.[Channel]
     FROM DynNavHRS.dbo.[HRS$Amadeus Import Line]        AI WITH (NOLOCK)
     JOIN DynNavHRS.HRSDB.BUCHUNG                        BU WITH (NOLOCK)
       ON BU.B_KEY = AI.[Process No_]
) 
   UPDATE AP SET
          AP.[ReservationSource]
        = CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END
     FROM DynNavHRS.dbo.[HRS-CN$Affiliate Postings]         AP WITH (NOLOCK)
     JOIN AI
       ON AI.[Process No_] = AP.[ProcessNumber]
    WHERE AP.[ReservationSource]
       <> CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END

;WITH AI AS
(
   SELECT BU.BP_KEY [Process No_], AI.[Channel]
     FROM DynNavHRS.dbo.[HRS$Amadeus Import Line]        AI WITH (NOLOCK)
     JOIN DynNavHRS.HRSDB.BUCHUNG                        BU WITH (NOLOCK)
       ON BU.B_KEY = AI.[Process No_]
) 
   UPDATE AP SET
          AP.[Reservation Source]
        = CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END
     FROM DynNavHRS.dbo.[HRS$Rebate Line]         AP WITH (NOLOCK)
     JOIN AI
       ON AI.[Process No_] = AP.[Process Number]
    WHERE AP.[Reservation Source]
       <> CASE AI.[Channel]
            WHEN 0 THEN 565
            WHEN 1 THEN 320
            WHEN 2 THEN 613
          END

END
GO
