USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSalesperson_HRS-CN]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 09.07.2014
-- Description:	Aktualisiert den Verkäufercode im Mandanten HRS-CN
/*
EXEC [dbo].[sp_UpdateSalesperson_HRS-CN]
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateSalesperson_HRS-CN]
AS
BEGIN
DECLARE @DebitCollSalesPerson varchar(10) = ''
 SELECT @DebitCollSalesPerson = [Debit Coll_ Salesperson Code] FROM [HRS-CN$Sales & Receivables Setup] 

DECLARE @Salesperson varchar(10)
      , @CountrySelection varchar(max)
      , @CustomerFilter varchar(max)
      , @CustomerFilterFrom varchar(max)
      , @CustomerFilterTo varchar(max)
      , @PostcodeFilter varchar(max)
      , @PostcodeFilterFrom varchar(max)
      , @PostcodeFilterTo varchar(max)
      , @SQL varchar(max)

DECLARE cur CURSOR FOR
  SELECT TL.[Salesperson_Purchaser Code]
       , TL.[Country Filter]
       , TL.[Customer Filter]
       , TL.[Post Code Filter]
    FROM [HRS-CN$Team Line] TL WITH (NOLOCK)
   WHERE TL.[Salesperson_Purchaser Code] <> 'BUCH'
ORDER BY TL.[Order No_]
       , TL.[Salesperson_Purchaser Code]
  
OPEN cur
FETCH NEXT FROM cur INTO @Salesperson, @CountrySelection, @CustomerFilter, @PostcodeFilter 

WHILE @@FETCH_STATUS = 0
BEGIN
  --PRINT @Salesperson + ', ' + @CountrySelection + ', ' + @CustomerFilter + ', ' + @PostcodeFilter
  SET @SQL = '
      UPDATE CO SET CO.[Salesperson Code] = CASE WHEN CU.[Closed for more Bookings]=1 AND ''' + @DebitCollSalesPerson+'''<>'''' THEN '''+@DebitCollSalesPerson+''' ELSE '''+@Salesperson+''' END
        FROM [HRS-CN$Contact] CO
        JOIN [HRS-CN$Customer] CU ON CO.[No_] = CU.[No_]
       WHERE CO.[Salesperson Code] <> CASE WHEN CU.[Closed for more Bookings]=1 AND ''' + @DebitCollSalesPerson+'''<>'''' THEN '''+@DebitCollSalesPerson+''' ELSE '''+@Salesperson+''' END'

	   + CASE WHEN @CountrySelection<>'' THEN '
		 AND '+dbo.SQLFilter(@CountrySelection,'CO.[Country_Region Code]',0)
		 ELSE '' 
		 END

       + CASE WHEN @CustomerFilter<>'' THEN '
		 AND '+dbo.SQLFilter(@CustomerFilter,'CO.[No_]',0)
		 ELSE '' 
		 END
		 
	   + CASE WHEN @PostcodeFilter<>'' THEN '
		 AND '+dbo.SQLFilter(@PostcodeFilter,'CO.[Post Code]',0)
		 ELSE ''
		 END+'
         --AND NOT CO.[Contract Status] IN (''10'',''11'')'
  EXEC(@SQL)
  PRINT (@SQL)
  SET @SQL = '
      UPDATE CU SET CU.[Salesperson Code] = CASE WHEN CU.[Closed for more Bookings]=1 AND ''' + @DebitCollSalesPerson+'''<>'''' THEN '''+@DebitCollSalesPerson+''' ELSE '''+@Salesperson+''' END
        FROM [HRS-CN$Customer] CU
        JOIN [HRS-CN$Contact] CO ON CO.[No_] = CU.[No_]
       WHERE CU.[Salesperson Code] <> CASE WHEN CU.[Closed for more Bookings]=1 AND ''' + @DebitCollSalesPerson+'''<>'''' THEN '''+@DebitCollSalesPerson+''' ELSE '''+@Salesperson+''' END'

	   + CASE WHEN @CountrySelection<>'' THEN '
		 AND '+dbo.SQLFilter(@CountrySelection,'CO.[Country_Region Code]',0)
		 ELSE '' 
		 END

       + CASE WHEN @CustomerFilter<>'' THEN '
		 AND '+dbo.SQLFilter(@CustomerFilter,'CO.[No_]',0)
		 ELSE '' 
		 END
		 
	   + CASE WHEN @PostcodeFilter<>'' THEN '
		 AND '+dbo.SQLFilter(@PostcodeFilter,'CO.[Post Code]',0)
		 ELSE ''
		 END+'
         AND NOT CO.[Contract Status] IN (''10'',''11'')'
  EXEC(@SQL)
  PRINT (@SQL)
  FETCH NEXT FROM cur INTO @Salesperson, @CountrySelection, @CustomerFilter, @PostcodeFilter 
END

CLOSE cur
DEALLOCATE cur

UPDATE CU SET CU.[Salesperson Code] = CASE WHEN CU.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
  FROM [HRS-CN$Customer] CU
  JOIN [Chain] BR
    ON CU.[Chain] = BR.[Code]
 WHERE CU.[Contract Status] IN ('10','11')
   AND CU.[Chain] <> '99999'
   AND BR.[Salesperson Code] <> ''
   AND CU.[Salesperson Code] <> CASE WHEN CU.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
   
UPDATE CU SET CU.[Salesperson Code] = CASE WHEN CO.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
  FROM [HRS-CN$Contact] CU
  JOIN [Chain] BR
    ON CU.[Chain] = BR.[Code]
  JOIN [HRS-CN$Customer] CO WITH (NOLOCK)
    ON CO.[No_]= CU.[No_]
 WHERE CU.[Contract Status] IN ('10','11')
   AND CU.[Chain] <> '99999'
   AND BR.[Salesperson Code] <> ''
   AND CU.[Salesperson Code] <> CASE WHEN CO.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
   
UPDATE CU SET CU.[Salesperson Code] = CASE WHEN CU.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
  FROM [HRS-CN$Customer] CU
  JOIN [Brand] BR
    ON CU.[Brand] = BR.[Code]
 WHERE CU.[Contract Status] IN ('10','11')
   AND CU.[Chain] = '99999'
   AND BR.[Salesperson Code] <> ''
   AND CU.[Salesperson Code] <> CASE WHEN CU.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
   
UPDATE CU SET CU.[Salesperson Code] = CASE WHEN CO.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END
  FROM [HRS-CN$Contact] CU
  JOIN [Brand] BR
    ON CU.[Brand] = BR.[Code]
  JOIN [HRS-CN$Customer] CO WITH (NOLOCK)
    ON CO.[No_]= CU.[No_]
 WHERE CU.[Contract Status] IN ('10','11')
   AND CU.[Chain] = '99999'
   AND BR.[Salesperson Code] <> ''   
   AND CU.[Salesperson Code] <> CASE WHEN CO.[Closed for more Bookings]=1 AND @DebitCollSalesPerson<>'' THEN @DebitCollSalesPerson ELSE BR.[Salesperson Code] END

      UPDATE DH SET DH.[Salesperson Code] = CO.[Salesperson Code]
        FROM [HRS-CN$Agency Display Header] DH 
        JOIN [HRS-CN$Customer] CO WITH (NOLOCK)
          ON CO.[No_] = DH.[Bill-to Customer No_]
       WHERE DH.[Salesperson Code] <> CO.[Salesperson Code]
         AND DH.[Status] = 0
         AND DH.[Correction from] = ''
         AND DH.[Subsequent Debit from] = ''

 UPDATE AL SET AL.ProcessNumber = P.BP_KEY
  FROM [HRS-CN$Agency Header] AL
  JOIN HRSDB.BKG_PROCESS_LIST_ALL_DA P
    ON P.B_KEY = AL.[Reservation No_]
 WHERE AL.ProcessNumber <> P.BP_KEY
 
UPDATE AL SET AL.ProcessNumber = P.BP_KEY
  FROM [HRS-CN$Agency Header] AL
  JOIN HRSDB.BUCHUNG P
    ON P.B_KEY = AL.[Reservation No_]
 WHERE AL.ProcessNumber = 0 AND P.BP_KEY <> 0
 
  ;WITH RM AS
  (
SELECT CU.[No_]
     , CASE 
	     WHEN CU.[Contract Status] IN ('10','11') OR CU.[Salesperson Code] IN ('SDA03','MEN01','FBE02','SBA10') THEN
           'CRS'  
         WHEN CH.[Reminder Terms Code]<>'' THEN
           CH.[Reminder Terms Code]
		 ELSE
	       CR.[Reminder Termscode]
       END [Reminder Termscode]
  FROM [HRS-CN$Customer] CU WITH (NOLOCK)
  JOIN [HRS-CN$Country_Region] CR WITH (NOLOCK)
    ON CR.[Code] = CU.[Country_Region Code]
  JOIN [Chain] CH WITH (NOLOCK)
    ON CH.[Code] = CU.[Chain]
  )
  UPDATE CU SET CU.[Reminder Terms Code] = RM.[Reminder Termscode]
    FROM [HRS-CN$Customer] CU
	JOIN RM
      ON RM.[No_] = CU.[No_]
   WHERE CU.[Reminder Terms Code] <> RM.[Reminder Termscode]
END
GO
