USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_Recalculate_HRS-CN ACS-1986]    Script Date: 10.04.2024 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 04.09.2012
-- Description:	Berechnet alle Regeln des letzten Monats
--
-- HRS001   29.09.16   NAV-320   TM   Ranking Booster für weitere Parameter aussschalten
-- HRS002   30.07.18   TMA  RB bei HDE-Corporate nicht berechnen
-- HRS003   29.03.19   TMA  ACS-1741 Kommission Frühstück über Einrichtung deaktivieren/aktivieren
-- HRS004   25.07.19   TMA  Overwrite Corporate managed commissionable to Corporate managed net if commission type is negotiated
/*
  EXECUTE [dbo].[sp_Recalculate_HRS-CN] '2012-09-01', '2012-09-30'
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_Recalculate_HRS-CN ACS-1986] 
    @DateFrom datetime = NULL
  , @DateTo   datetime = NULL
WITH RECOMPILE AS
BEGIN
INSERT INTO [HRS-CN$Tax Group]([Code],[Description],[Use Hotelstamm]) SELECT CU.[No_], LEFT(CU.[Name],30), 0 FROM [HRS-CN$Customer] CU WITH (NOLOCK)LEFT JOIN [HRS-CN$Tax Group] TG WITH (NOLOCK) ON TG.[Code] = CU.[No_] WHERE TG.[Code] IS NULL

DECLARE @PostingDate DATETIME
-- HRS003 >>
	  , @BreakfastCommission tinyint = 0
 SELECT @BreakfastCommission=[Calculate Breakfast Commission] FROM [HRS-BR$Agency Setup] A WITH (NOLOCK)
-- HRS003 <<

IF DATEPART(dd,GETDATE())<4
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME)
END

IF DATEPART(dd,GETDATE())>=4
BEGIN
  SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME)
END

 SELECT @DateTo = COALESCE(@DateTo,@PostingDate)
      , @DateFrom = COALESCE(@DateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))
 
DECLARE @SortorderNo INTEGER, @ReservationNo VARCHAR(20), @PositionNo INTEGER, @BusinessRuleCode VARCHAR(10), @ContractGroupCode VARCHAR(10), @ContractCode VARCHAR(10), @Description VARCHAR(100), @ContractCalcFunctionCode VARCHAR(10), @NumberofRooms DECIMAL(37,20), @NumberofPerson DECIMAL(37,20), @RoomPrice DECIMAL(37,20), @BreakfastPrice DECIMAL(37,20), @BreakfastType INTEGER, @RateType INTEGER, @PriceType INTEGER, @NewCommissionRate DECIMAL(37,20), @CommissionRate DECIMAL(37,20), @RankingBooster DECIMAL(37,20), @CommissionFix DECIMAL(37,20), @ExchangeRate DECIMAL(37,20), @ForeignTaxPercent DECIMAL(37,20), @NumberofNights DECIMAL(37,20), @CommissionBaseAmountOUT DECIMAL(37,20), @CommissionAmountOUT DECIMAL(37,20), @LineAmountOUT DECIMAL(37,20), @HotelsalesinclVATOUT DECIMAL(37,20), @ForeignTaxAmountOUT DECIMAL(37,20), @CommissionFixOUT DECIMAL(37,20), @CommissionRateOUT DECIMAL(37,20), @RankingBoosterOUT DECIMAL(37,20), @ForeignTaxBaseAmountOUT DECIMAL(37,20), @ReservationStatus INTEGER, @ReservationDatefrom DATETIME, @ReservationDateto DATETIME, @RoomType INTEGER, @RateDescription VARCHAR(100), @RoomNumber INTEGER, @ActivityCode VARCHAR(40), @CommissionTaxType INTEGER, @timestampSource DATETIME, @ProcessNumber INTEGER, @InsertedbyUser VARCHAR(20), @Insertedat DATETIME, @ModifiedbyUser VARCHAR(20), @Modifiedat DATETIME, @LoyalityRewardsAccountNo VARCHAR(100), @CommissionType INTEGER, @RateKey INTEGER, @CurrencyCode VARCHAR(10), @HotelNo VARCHAR(20), @Chain VARCHAR(20), @Brand VARCHAR(20), @ClientNo INTEGER, @CountryRegionCode VARCHAR(10), @NetRoomPrice DECIMAL(37,20), @UseNetRoomPrice tinyint, @CorporateRateDiscount int, @NetBreakfastPrice DECIMAL(37,20), @BreakfastTaxPercent DECIMAL(37,20), @CompanyNo int, @ReservationSource int, @DistributionChannelID int
-- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
DECLARE @Result      TABLE ([Sortorder No_] INTEGER, [Reservation No_] VARCHAR(20), [Position No_] INTEGER, [Business Rule Code] VARCHAR(20), [Contract Grp_ Code] VARCHAR(20), [Contract Code] VARCHAR(20), [Description] VARCHAR(250), [Contract Calc_ Func_ Code] VARCHAR(20), [Number of Rooms] INTEGER, [Number of Person] INTEGER, [Number of Nights] INTEGER, [Room Price] DECIMAL(37,20), [Breakfast Price] DECIMAL(37,20), [Breakfast Type] INTEGER, [Rate Type] INTEGER, [Price Type] INTEGER, [Commission Rate] DECIMAL(37,20), [Ranking Booster] DECIMAL(37,20), [Commission Fix] DECIMAL(37,20), [Exchange Rate Amout] DECIMAL(37,20), [Foreign Tax %] DECIMAL(37,20), [Reservation Status] INTEGER, [Reservation Date from] DATETIME, [Reservation Date to] DATETIME, [Room Type] INTEGER, [Rate Description] VARCHAR(250), [Room Number] INTEGER, [Activity Code] VARCHAR(250), [Commission Tax Type] INTEGER, [timestamp Source] DATETIME, [Process Number] INTEGER, [Inserted by User] VARCHAR(20), [Inserted at] DATETIME, [Modified by User] VARCHAR(20), [Modified at] DATETIME, [Loyality Rewards Account No_] VARCHAR(250), [Commission Type] INTEGER, [Rate Key] INTEGER, [Currency Code] VARCHAR(20), [Hotel No_] VARCHAR(20), [Chain] VARCHAR(20), [Brand] VARCHAR(20), [Client No_] INTEGER, [Country_Region Code] VARCHAR(20), [Net Room Price] DECIMAL(37,20), [Use Net Room Price] tinyint, [Corporate Rate Discount] int, [Net Breakfast Price] DECIMAL(37,20), [Breakfast Tax %] DECIMAL(37,20), [Company No_] int, [Reservation Source] int, [Distribution Channel ID] int)
-- Original : DECLARE @Result      TABLE ([Sortorder No_] INTEGER, [Reservation No_] VARCHAR(20), [Position No_] INTEGER, [Business Rule Code] VARCHAR(20), [Contract Grp_ Code] VARCHAR(20), [Contract Code] VARCHAR(20), [Description] VARCHAR(250), [Contract Calc_ Func_ Code] VARCHAR(20), [Number of Rooms] INTEGER, [Number of Person] INTEGER, [Number of Nights] INTEGER, [Room Price] DECIMAL(37,20), [Breakfast Price] DECIMAL(37,20), [Breakfast Type] INTEGER, [Rate Type] INTEGER, [Price Type] INTEGER, [Commission Rate] DECIMAL(37,20), [Ranking Booster] DECIMAL(37,20), [Commission Fix] DECIMAL(37,20), [Exchange Rate Amout] DECIMAL(37,20), [Foreign Tax %] DECIMAL(37,20), [Reservation Status] INTEGER, [Reservation Date from] DATETIME, [Reservation Date to] DATETIME, [Room Type] INTEGER, [Rate Description] VARCHAR(250), [Room Number] INTEGER, [Activity Code] VARCHAR(250), [Commission Tax Type] INTEGER, [timestamp Source] DATETIME, [Process Number] INTEGER, [Inserted by User] VARCHAR(20), [Inserted at] DATETIME, [Modified by User] VARCHAR(20), [Modified at] DATETIME, [Loyality Rewards Account No_] VARCHAR(250), [Commission Type] INTEGER, [Rate Key] INTEGER, [Currency Code] VARCHAR(20), [Hotel No_] VARCHAR(20), [Chain] VARCHAR(20), [Brand] VARCHAR(20), [Client No_] INTEGER, [Country_Region Code] VARCHAR(20), [Net Room Price] DECIMAL(37,20), [Use Net Room Price] tinyint, [Corporate Rate Discount] int, [Net Breakfast Price] DECIMAL(37,20), [Breakfast Tax %] DECIMAL(37,20), [Company No_] int)
-- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
DECLARE @AgencyLine  TABLE ([Reservation No_] VARCHAR(20), [Position No_] INTEGER, [Reservation Status] INTEGER, [Reservation Date from] DATETIME, [Reservation Date to] DATETIME, [Number of Rooms] INTEGER, [Room Type] INTEGER, [Rate Description] VARCHAR(100), [Room Price] DECIMAL(37,20), [Breakfast Type] INTEGER, [Breakfast Price] DECIMAL(37,20), [Commission Type] INTEGER, [Commission Rate] DECIMAL(37,20), [Ranking Booster] DECIMAL(37,20), [Commission Fix] DECIMAL(37,20), [Rate Type] INTEGER, [Rate Key] INTEGER, [Currency Code] VARCHAR(3), [Currency Faktor] DECIMAL(37,20), [Room Number] INTEGER, [Activity Code] VARCHAR(40), [Number of Person] INTEGER, [Hotel No_] VARCHAR(20), [Commission Tax Type] INTEGER, [timestamp Source] DATETIME, [Price Type] INTEGER, [Process Number] INTEGER, [Inserted by User] VARCHAR(20), [Inserted at] DATETIME, [Modified by User] VARCHAR(20), [Modified at] DATETIME, [Number of Nights] DECIMAL(37,20), [Commission Base Amount] DECIMAL(37,20), [Commission Amount] DECIMAL(37,20), [Commission Base Amount (LCY)] DECIMAL(37,20), [Commission Amount (LCY)] DECIMAL(37,20), [Foreign Tax %] DECIMAL(37,20), [Foreign Tax Amount] DECIMAL(37,20), [Line Amount] DECIMAL(37,20), [Line Amount (LCY)] DECIMAL(37,20), [Foreign Tax Base Amount] DECIMAL(37,20), [Hotel sales incl_ VAT] DECIMAL(37,20), [Calculated with Contract Code] VARCHAR(20), [Calculated with Function ID] VARCHAR(20), [Calculated with Function Desc_] VARCHAR(100), [Loyality Rewards Account No_] VARCHAR(100), [Chain] VARCHAR(20), [Brand] VARCHAR(20), [Client No_] INTEGER, [Country_Region Code] VARCHAR(10), [Contract Grp_ Code] VARCHAR(20), [Business Rule Code] VARCHAR(20), [Sortorder No_] INTEGER, [Corporate Rate Discount] int, [Net Room Price] DECIMAL(37,20), [Net Breakfast Price] DECIMAL(37,20), PRIMARY KEY ([Reservation No_], [Position No_]))
DECLARE @JobContrMap TABLE ([Job No_] VARCHAR(20), [Date of Reference] INTEGER, [Category] INTEGER, [Valid from] DATETIME, [Valid to] DATETIME, [Contract Code] VARCHAR(20), [Client No_] VARCHAR(20), [Agency Business Rule] VARCHAR(10), [Searchoder No_] INTEGER, [Inserted by User] VARCHAR(20), [Inserted at] DATETIME, [Modified by User] VARCHAR(20), [Modified at] DATETIME)

 -- --------------------------------------------------------------------------------------------
 -- 0. Fehlende Default Dimension hinzufügen
 -- --------------------------------------------------------------------------------------------
     INSERT 
	   INTO [HRS-CN$Default Dimension]([Table ID], [No_], [Dimension Code], [Dimension Value Code], [Value Posting], [Multi Selection Action])
     SELECT 18
	      , CU.[No_]
		  , DI.[Code]
		  , CASE 
		      WHEN DI.[Code] = 'BRAND' THEN CU.[Brand]
		      WHEN DI.[Code] = 'CHAIN' THEN CU.[Chain]
		      WHEN DI.[Code] = 'CONTRACT STATUS' THEN CU.[Contract Status]
			END
          , 1
		  , 0
       FROM [HRS-CN$Dimension] DI WITH (NOLOCK)
	   JOIN [HRS-CN$Customer] CU WITH (NOLOCK)
	     ON 1=1
  LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK)
         ON DD.[No_] = CU.[No_]
		AND DD.[Dimension Code] = DI.[Code]
        AND DD.[Dimension Value Code] 
		  = CASE 
		      WHEN DI.[Code] = 'BRAND' THEN CU.[Brand]
		      WHEN DI.[Code] = 'CHAIN' THEN CU.[Chain]
		      WHEN DI.[Code] = 'CONTRACT STATUS' THEN CU.[Contract Status]
			END
        AND [Table ID] = 18
      WHERE DI.[Code] IN ('BRAND','CHAIN','CONTRACT STATUS')
		AND DD.[No_] IS NULL
   ORDER BY 1,2,3
----------------------------------------------------------------------------------------------
 -- -1. Ratetype Description korrigieren (RFC-67452)
 ----------------------------------------------------------------------------------------------

;WITH _P AS
(
SELECT L.Code [Language Code], R.Code [Label Code], CAST(REPLACE(R.Code,'RD','') AS INT) RateType
  FROM [HRS-CN$Language] L, [Report Label] R
 WHERE L.[Code] IN (0,1,2,3,4,7,8,11,12,15,16,17,20,21,22,23)
   AND R.Code LIKE 'RD%'
), LT AS
(
   SELECT _P.RateType, _P.[Language Code], COALESCE(L2.[Translation],L1.[Translation]) [Translation]
     FROM _P
     JOIN [Label Translation] L1 ON L1.[Label Code] = _P.[Label Code] AND L1.[Language Code] = 1
LEFT JOIN [Label Translation] L2 ON L2.[Label Code] = _P.[Label Code] AND L2.[Language Code] = _P.[Language Code]
)
UPDATE AL SET AL.[Rate Description] = LT.Translation
  FROM [HRS-CN$Agency Line] AL
  JOIN [HRS-CN$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
  JOIN [HRS-CN$Customer] CU WITH (NOLOCK)
    ON CU.[No_] = AH.[Hotel No_]
  JOIN LT
    ON AL.[Rate Type] = LT.[RateType]
   AND CU.[Language Code] = LT.[Language Code]
 WHERE AL.[Rate Description] <> LT.Translation

 ----------------------------------------------------------------------------------------------
 -- 1. Start : Reservierungsdatum korrigieren
 ----------------------------------------------------------------------------------------------

;WITH _History AS
(
SELECT AH.[Reservation No_],AH.[Parent Reservation No_],AH.[Reservation Date],AH.[Reservation Time] FROM [HRS-CN$Agency Header] AH WITH (NOLOCK) JOIN [HRS-CN$Agency Header] AP ON AP.[Reservation No_] = AH.[Parent Reservation No_] WHERE AH.[Departure Date] BETWEEN @DateFrom AND @DateTo UNION
SELECT AH.[Reservation No_],AH.[Parent Reservation No_],AH.[Reservation Date],AH.[Reservation Time] FROM [HRS-CN$Agency Header] AH WITH (NOLOCK) JOIN [HRS-CN$Correction Agency Header] AP ON AP.[Reservation No_] = AH.[Parent Reservation No_] WHERE AH.[Departure Date] BETWEEN @DateFrom AND @DateTo UNION 
SELECT AH.[Reservation No_],AH.[Parent Reservation No_],AH.[Reservation Date],AH.[Reservation Time] FROM [HRS-CN$Correction Agency Header] AH WITH (NOLOCK) JOIN [HRS-CN$Correction Agency Header] AP WITH (NOLOCK)ON AP.[Reservation No_] = AH.[Parent Reservation No_] WHERE AH.[Departure Date] BETWEEN @DateFrom AND @DateTo UNION 
SELECT AH.[Reservation No_],AH.[Parent Reservation No_],AH.[Reservation Date],AH.[Reservation Time] FROM [HRS-CN$Correction Agency Header] AH WITH (NOLOCK) WHERE [Parent Reservation No_] = '' AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
), History AS
(
SELECT CAST([Reservation No_] AS VARCHAR(MAX)) [Path],20 Depth,[Reservation Date] [Date],[Reservation Time] [Time],[Reservation Date] [Date Actual],[Reservation Time] [Time Actual],[Reservation No_],[Reservation No_] [Root Reservation No_],[Parent Reservation No_] FROM _History WHERE [Parent Reservation No_] = '' UNION ALL 
SELECT _History.[Reservation No_]+'.'+History.[Path],History.Depth - 1,History.[Date],History.[Time],[Reservation Date] [Date Actual],[Reservation Time] [Time Actual],_History.[Reservation No_],History.[Root Reservation No_],_History.[Parent Reservation No_] FROM _History JOIN History ON History.[Reservation No_] = _History.[Parent Reservation No_] WHERE _History.[Parent Reservation No_] <> '' AND History.Depth>0 
)
, Fold AS (SELECT [Root Reservation No_],MIN(Depth) Depth FROM History WHERE [Parent Reservation No_] <> '' GROUP BY [Root Reservation No_])
UPDATE AH SET AH.[Reservation Date] = History.[Date]
  FROM History
  JOIN Fold ON Fold.[Root Reservation No_] = History.[Root Reservation No_] AND Fold.Depth = History.Depth
  JOIN [HRS-CN$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = History.[Reservation No_]
 WHERE AH.[Reservation Date] <> History.[Date]

-- ----------------------------------------------------------------------------------------------
-- 1. Ende : Reservierungsdatum korrigieren
-- ----------------------------------------------------------------------------------------------

-- ----------------------------------------------------------------------------------------------
-- 2. Start : Aktualisiere Dimensionen
-- ----------------------------------------------------------------------------------------------

INSERT INTO [HRS-CN$Agency Dimension] ([Contact Code],[Dimension Code],[Dimension Value Code],[Value Posting],[Parameter_Dimension])  
SELECT CO.[No_],'BRAND',CO.[Brand],1,1 FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] D1 WITH (NOLOCK)ON D1.[Contact Code] = CO.[No_]AND D1.[Dimension Code] = 'BRAND' WHERE D1.[Contact Code] IS NULL

INSERT INTO [HRS-CN$Agency Dimension] ([Contact Code],[Dimension Code],[Dimension Value Code],[Value Posting],[Parameter_Dimension])  
SELECT CO.[No_],'CHAIN',CO.[Chain],1,1 FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] D1 WITH (NOLOCK) ON D1.[Contact Code] = CO.[No_] AND D1.[Dimension Code] = 'CHAIN' WHERE D1.[Contact Code] IS NULL

INSERT INTO [HRS-CN$Agency Dimension] ([Contact Code],[Dimension Code],[Dimension Value Code],[Value Posting],[Parameter_Dimension])  
SELECT CO.[No_],'CONTRACT STATUS',CO.[Contract Status],1,1 FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] D1 WITH (NOLOCK) ON D1.[Contact Code] = CO.[No_] AND D1.[Dimension Code] = 'CONTRACT STATUS' WHERE D1.[Contact Code] IS NULL

UPDATE AD SET AD.[Dimension Value Code] = CO.[Brand] FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] AD WITH (NOLOCK)ON AD.[Contact Code] = CO.[No_]AND AD.[Dimension Code] = 'BRAND' WHERE AD.[Dimension Value Code] <> CO.[Brand]
UPDATE AD SET AD.[Dimension Value Code] = CO.[Chain] FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] AD WITH (NOLOCK)ON AD.[Contact Code] = CO.[No_]AND AD.[Dimension Code] = 'CHAIN' WHERE AD.[Dimension Value Code] <> CO.[Chain]
UPDATE AD SET AD.[Dimension Value Code] = CO.[Contract Status] FROM [HRS-CN$Contact] CO WITH (NOLOCK) LEFT JOIN [HRS-CN$Agency Dimension] AD WITH (NOLOCK)ON AD.[Contact Code] = CO.[No_]AND AD.[Dimension Code] = 'CONTRACT STATUS' WHERE AD.[Dimension Value Code] <> CO.[Contract Status]

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 18,CU.[No_],'BRAND',CU.[Brand],1,0 FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'BRAND' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 18 WHERE DD.[Table ID] IS NULL

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 18,CU.[No_],'CHAIN',CU.[Chain],1,0 FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'CHAIN' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 18 WHERE DD.[Table ID] IS NULL

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 18,CU.[No_],'CONTRACT STATUS',CU.[Contract Status],1,0 FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'CONTRACT STATUS' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 18 WHERE DD.[Table ID] IS NULL

UPDATE DD SET DD.[Dimension Value Code] = CU.[Brand] FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'BRAND' AND DD.[Table ID] = 18 WHERE DD.[Dimension Value Code] <> CU.[Brand]
UPDATE DD SET DD.[Dimension Value Code] = CU.[Chain] FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'CHAIN' AND DD.[Table ID] = 18 WHERE DD.[Dimension Value Code] <> CU.[Chain]
UPDATE DD SET DD.[Dimension Value Code] = CU.[Contract Status] FROM [HRS-CN$Customer] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'CONTRACT STATUS' AND DD.[Table ID] = 18 WHERE DD.[Dimension Value Code] <> CU.[Contract Status]

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 167,CU.[No_],'BRAND',CU.[Brand],1,0 FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'BRAND' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 167 WHERE DD.[Table ID] IS NULL

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 167,CU.[No_],'CHAIN',CU.[Chain],1,0 FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'CHAIN' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 167 WHERE DD.[Table ID] IS NULL

INSERT INTO [HRS-CN$Default Dimension]([Table ID],[No_],[Dimension Code],[Dimension Value Code],[Value Posting],[Multi Selection Action])
SELECT 167,CU.[No_],'CONTRACT STATUS',CU.[Contract Status],1,0 FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD ON DD.[Dimension Code] = 'CONTRACT STATUS' AND DD.[No_] = CU.[No_] AND DD.[Table ID] = 167 WHERE DD.[Table ID] IS NULL

UPDATE DD SET DD.[Dimension Value Code] = CU.[Brand] FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'BRAND' AND DD.[Table ID] = 167 WHERE DD.[Dimension Value Code] <> CU.[Brand]
UPDATE DD SET DD.[Dimension Value Code] = CU.[Chain] FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'CHAIN' AND DD.[Table ID] = 167 WHERE DD.[Dimension Value Code] <> CU.[Chain]
UPDATE DD SET DD.[Dimension Value Code] = CU.[Contract Status] FROM [HRS-CN$Job] CU WITH (NOLOCK) LEFT JOIN [HRS-CN$Default Dimension] DD WITH (NOLOCK) ON DD.[No_] = CU.[No_]AND DD.[Dimension Code] = 'CONTRACT STATUS' AND DD.[Table ID] = 167 WHERE DD.[Dimension Value Code] <> CU.[Contract Status]

-- ----------------------------------------------------------------------------------------------
-- 2. Ende : Aktualisiere Dimensionen
-- ----------------------------------------------------------------------------------------------

-- ----------------------------------------------------------------------------------------------
-- 3. Start : Ranking Booster aktualisieren
-- ----------------------------------------------------------------------------------------------

   UPDATE AH SET AH.[Ranking Booster] = RB.[RANKING_BOOSTER] FROM [HRS-CN$Agency Header] AH JOIN HRSDB.BKG_PROCESS_ALL_DA RB ON RB.BP_KEY = AH.[ProcessNumber]
   UPDATE AH SET AH.[Ranking Booster] = RB.[RANKING_BOOSTER] FROM [HRS-CN$Agency Line] AH JOIN HRSDB.BKG_PROCESS_ALL_DA RB ON RB.BP_KEY = AH.[Process Number]

-- ----------------------------------------------------------------------------------------------
-- 3. Ende : Ranking Booster aktualisieren
-- ----------------------------------------------------------------------------------------------

-- ----------------------------------------------------------------------------------------------
-- Start : Buchungszeilnen berechnen
-- ----------------------------------------------------------------------------------------------
DECLARE @AC TABLE ([Contract Calc_ Func_ Code] int, [Commission Rate] decimal(38,20), [Commission Fix] decimal(38,20), [Contract Code] varchar(20), [Description] varchar(100), PRIMARY KEY([Contract Calc_ Func_ Code],[Commission Rate],[Commission Fix]))
DECLARE @ER TABLE ([Currency Code] varchar(20) PRIMARY KEY, [Exchange Rate Amount] DECIMAL(38,20))
DECLARE @TD TABLE ([Hotel No_] varchar(20) PRIMARY KEY, [VAT] decimal(38,20), [SERVICETAX] decimal(38,20), [BREAKFASTTAX] decimal(38,20))

;WITH 
  _AC AS 
(
    SELECT AC.[Contract Calc_ Func_ Code] , CASE WHEN AC.[Contract Calc_ Func_ Code] IN (11,12,2) THEN 0 ELSE AC.[Value %] END [Commission Rate], CASE WHEN AC.[Contract Calc_ Func_ Code] IN (1,10,12,4,9,8) THEN 0 ELSE AC.[Value Total (LCY)] END [Commission Fix], MAX(AC.[Code]) [Contract Code] FROM [HRS-CN$Agency Contract] AC WITH (NOLOCK) WHERE AC.Locked = 0 AND AC.[Contract Calc_ Func_ Code]<>'' GROUP BY AC.[Contract Calc_ Func_ Code], CASE WHEN AC.[Contract Calc_ Func_ Code] IN (11,12,2) THEN 0 ELSE AC.[Value %] END, CASE WHEN AC.[Contract Calc_ Func_ Code] IN (1,10,12,4,9,8) THEN 0 ELSE AC.[Value Total (LCY)] END)
,  AC AS (SELECT _AC.*, AC.[Description] FROM [HRS-CN$Agency Contract] AC WITH (NOLOCK) JOIN _AC ON _AC.[Contract Code] = AC.[Code])
INSERT INTO @AC
SELECT * FROM AC

;WITH
  _ER          AS (SELECT ER.[Currency Code], ER.[Exchange Rate Amount], ER.[Starting Date] FROM [HRS-CN$Currency Exchange Rate] ER WITH (NOLOCK) WHERE ER.[Starting Date] <= @PostingDate UNION SELECT ER.[Currency Code], ER.[Exchange Rate Amount], ER.[Starting Date] FROM [HRS-CN$OANDA_Currency Exchange Rate] ER WITH (NOLOCK) WHERE ER.[Starting Date] <= @PostingDate)
, ExchangeRate AS (SELECT ER1.[Currency Code], ER1.[Exchange Rate Amount] FROM _ER ER1 JOIN (SELECT [Currency Code], MAX([Starting Date]) [Starting Date] FROM _ER GROUP BY [Currency Code]) ER2 ON ER2.[Starting Date] = ER1.[Starting Date] AND ER2.[Currency Code] = ER1.[Currency Code] )
INSERT INTO @ER
SELECT * FROM ExchangeRate

;WITH
  TDMAX        AS (SELECT TD.[Tax Group Code], TD.[Tax Jurisdiction Code], MAX(TD.[Effective Date])[Effective Date] FROM [HRS-CN$Tax Detail] TD WITH (NOLOCK) GROUP BY TD.[Tax Group Code], TD.[Tax Jurisdiction Code])
, TDSELECT AS (SELECT TM.[Tax Group Code], TM.[Tax Jurisdiction Code], TD.[Tax Below Maximum] FROM TDMAX TM INNER JOIN [HRS-CN$Tax Detail] TD WITH (NOLOCK) ON TD.[Tax Group Code] = TM.[Tax Group Code] AND TD.[Tax Jurisdiction Code] = TM.[Tax Jurisdiction Code] AND TD.[Effective Date] = TM.[Effective Date])
, TaxDetail AS (SELECT CO.[No_] [Hotel No_], CASE WHEN FT.[Use Hotelstamm] = 0 AND COALESCE(TG.[Use Hotelstamm], 0) = 0 THEN FT.[VAT in %] ELSE COALESCE(T1.[Tax Below Maximum], 0) END [VAT] , CASE  WHEN FT.[Use Hotelstamm] = 0 AND COALESCE(TG.[Use Hotelstamm], 0) = 0 THEN FT.[Service Tax] ELSE COALESCE(T2.[Tax Below Maximum], 0) END [SERVICETAX] , CASE  WHEN FT.[Use Hotelstamm] = 0 AND COALESCE(TG.[Use Hotelstamm], 0) = 0 THEN FT.[Breakfast Tax] ELSE COALESCE(T3.[Tax Below Maximum], 0) END [BREAKFASTTAX] FROM [HRS-CN$Contact] CO WITH (NOLOCK) INNER JOIN [HRS-CN$Foreign Tax] FT WITH (NOLOCK) ON FT.[Country] = CO.[Country_Region Code] LEFT JOIN [HRS-CN$Tax Group] TG WITH (NOLOCK) ON TG.[Code] = CO.[No_] LEFT JOIN TDSELECT T1 WITH (NOLOCK) ON T1.[Tax Group Code] = CO.[No_] AND T1.[Tax Jurisdiction Code] = 'VAT' LEFT JOIN TDSELECT T2 WITH (NOLOCK) ON T2.[Tax Group Code] = CO.[No_] AND T2.[Tax Jurisdiction Code] = 'SERVICETAX' LEFT JOIN TDSELECT T3 WITH (NOLOCK) ON T3.[Tax Group Code] = CO.[No_] AND T3.[Tax Jurisdiction Code] = 'BREAKFAST' )
INSERT INTO @TD
SELECT * FROM TaxDetail ORDER BY [Hotel No_]

DECLARE @_AgencyLines TABLE 
(
    [Reservation No_]           varchar(20)
  , [Position No_]              int
  , [Commission Type]           int
  , [Contract Calc_ Func_ Code] int
  , [Commission Fix]            decimal(37,20)
  , [Commission Rate]           decimal(37,20)
  , [Ranking Booster]           decimal(37,20)
  , [Parent Reservation No_]    varchar(20)
  , [Reservation Date]          datetime
  , [Departure Date]            datetime
  , [Category]                  int
  , [Client No_]                int
  , [Hotel No_]                 varchar(20)
  , [Contract Status]           varchar(20)
  , [Brand]                     varchar(20)
  , [MuseID]                    varchar(20)
  , [Currency Code]             varchar(20)
  , [Chain]                     varchar(20)
  , [Country_Region Code]       varchar(20)
  , [Continent]                 varchar(20)
  , [Number of Rooms]           int
  , [Number of Person]          int
  , [Number of Nights]          int
  , [Room Price]                decimal(37,20)
  , [Breakfast Price]           decimal(37,20)
  , [Breakfast Type]            int
  , [Rate Type]                 int
  , [Price Type]                int
  , [Room Type]                 int
  , [Reservation Status]        int
  , [Reservation Date from]     datetime
  , [Reservation Date to]       datetime
  , [Rate Description]          varchar(100)
  , [Room Number]               int
  , [Activity Code]             varchar(40)
  , [Commission Tax Type]       int
  , [timestamp Source]          datetime
  , [Process Number]            int
  , [Inserted by User]          varchar(20)
  , [Inserted at]               datetime
  , [Modified by User]          varchar(20)
  , [Modified at]                  datetime
  , [Loyality Rewards Account No_] varchar(100)
  , [Rate Key]                  int
  , [Company No_]               varchar(20)
  , [Net Room Price]            decimal(37,20)
  , [Corporate Rate Discount]   decimal(37,20)
  , [Net Breakfast Price]       decimal(37,20)
  , [Sortorder No_]             int
  , [Code]                      varchar(20)
  , [Contract Code]             varchar(20)
  , [Contract Grp_ Code]        varchar(20)
  -- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
  , [Reservation Source]        int
  -- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
  , [Segment]               int
  , [Breakfast Approval Status] int, [Rate Plan Code] varchar(20)
  , PRIMARY KEY ([Reservation No_], [Position No_])
)

;WITH 
   Corrections AS
(
   SELECT DL.[Reservation No_]
     FROM [HRS-CN$Agency Display Line] DL WITH (NOLOCK)
     JOIN [HRS-CN$Agency Display Header] DH WITH (NOLOCK)
       ON DH.[Case No_] = DL.[Display Case No_]
    WHERE DH.[Status] = 2
), _AgencyLines AS
(
   SELECT AH.[Reservation No_], AL.[Position No_]
        , CASE WHEN ((NOT AH.[MuseID] IN ('HRS','RAKUTEN','MEETAGO','AMADEUS') OR (NOT AH.[MuseID] = 'MEETAGO' AND BS.[Category]=2 AND NOT CO.[Contract Status] IN ('10','11')) ) AND AL.[Commission Type]<>13) OR (AL.[Rate Description] LIKE 'Ratecode: IA%' AND CO.Chain='67') OR (AL.[Commission Type]=13 AND CO.Chain='1087') OR (AH.[MuseID] = 'HRS' AND AL.[Rate Type]=10010) THEN 12 ELSE AL.[Commission Type] END [Commission Type]
        , CASE CASE WHEN ((NOT AH.[MuseID] IN ('HRS','RAKUTEN','MEETAGO','AMADEUS') OR (NOT AH.[MuseID] = 'MEETAGO' AND BS.[Category]=2 AND NOT CO.[Contract Status] IN ('10','11')) ) AND AL.[Commission Type]<>13) OR (AL.[Rate Description] LIKE 'Ratecode: IA%' AND CO.Chain='67') OR (AL.[Commission Type]=13 AND CO.Chain='1087') OR (AH.[MuseID] = 'HRS' AND AL.[Rate Type]=10010) THEN 12 ELSE AL.[Commission Type] END WHEN  0 THEN 1 WHEN  1 THEN 2 WHEN  2 THEN 3 WHEN  3 THEN 4 WHEN  4 THEN 5 WHEN  5 THEN 6 WHEN  6 THEN 7 WHEN  7 THEN 8 WHEN  8 THEN 9 WHEN  9 THEN 10 WHEN 10 THEN 1 WHEN 11 THEN 11 WHEN 12 THEN 0 WHEN 13 THEN 12 END [Contract Calc_ Func_ Code]
        , AL.[Commission Fix], AL.[Commission Rate], AH.[Ranking Booster], AH.[Parent Reservation No_], AH.[Reservation Date], AH.[Departure Date], BS.[Category], AH.[Client No_], AH.[Hotel No_]
        , CASE WHEN CO.[Contract Status] IN ('00','01','02','03','04','05','06','07','08','09','12','13','14') THEN '01' ELSE CO.[Contract Status] END [Contract Status]
        , CO.[Brand]
        , AH.[MuseID]
        , AH.[Currency Code]
        , CO.[Chain]
        , CO.[Country_Region Code]
        , CY.[Continent]
        , AL.[Number of Rooms]
        , AL.[Number of Person]
        , CASE WHEN DATEDIFF(dd,AL.[Reservation Date from],AL.[Reservation Date to])<1 THEN 1 ELSE DATEDIFF(dd,AL.[Reservation Date from],AL.[Reservation Date to]) END [Number of Nights]
        , AL.[Room Price]
        , AL.[Breakfast Price]
        , AL.[Breakfast Type]
        , AL.[Rate Type]
        , AL.[Price Type]
        , AL.[Room Type], AL.[Reservation Status], AL.[Reservation Date from], AL.[Reservation Date to], AL.[Rate Description], AL.[Room Number], AL.[Activity Code], AL.[Commission Tax Type], AL.[timestamp Source], AL.[Process Number], AL.[Inserted by User], AL.[Inserted at], AL.[Modified by User], AL.[Modified at], AL.[Loyality Rewards Account No_], AL.[Rate Key]
        , AH.[Company No_]
        , AL.[Net Room Price]
        , AL.[Corporate Rate Discount]
        , AL.[Net Breakfast Price]
        , -1 [Sortorder No_]
        , '' [Code]
        , '' [Contract Code]
        , '' [Contract Grp_ Code]
        -- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
        , AH.[Reservation Source]
        -- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
        -- 25.07.17 TM >>>>>>>>>>>>>>>>>>>> HRS006
        , CASE WHEN AH.[Segment]=3 AND AL.[Commission Type] = 13 THEN 4 ELSE AH.[Segment] END [Segment]
        , AL.[Breakfast Approval Status], AL.[Rate Plan Code]
        -- 25.07.19 TM <<<<<<<<<<<<<<<<<<<< HRS006
     FROM [HRS-CN$Agency Line]    AL WITH (NOLOCK)
     JOIN [HRS-CN$Agency Header]  AH WITH (NOLOCK)
       ON AH.[Reservation No_] = AL.[Reservation No_]
     JOIN [HRS-CN$Booking Source] BS WITH (NOLOCK)
       ON BS.[No_]             = AH.[Reservation Source]
     JOIN [HRS-CN$Contact]        CO WITH (NOLOCK)
       ON CO.[No_]             = AH.[Hotel No_]
     JOIN [HRS-CN$Country_Region] CY WITH (NOLOCK)
       ON CY.[Code]            = CO.[Country_Region Code]
LEFT JOIN Corrections C
       ON C.[Reservation No_] = AL.[Reservation No_]
    WHERE AH.[Booking Status]  >= 0
      AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
      AND C.[Reservation No_] IS NULL
	  --AND AL.[Rate Type] IN (19996,19996)
      --AND AH.[Chain ID] IN (204,550)
      --AND AH.[Brand ID] = 1460
      --AND AH.[Hotel No_] = 154339
      --AND AH.MuseID <> 'HRS'
      --AND AL.[Reservation No_] = 67587735
      --AND AH.ProcessNumber IN (28324497,28324499,28324495)
)
INSERT INTO @_AgencyLines
SELECT * FROM _AgencyLines

DECLARE @ActualSortorder int
SET @ActualSortorder = 35  /*Company Agreement               */
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R1.[Code], AL.[Contract Code] = R1.[Contract Code], AL.[Contract Grp_ Code] = R1.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R1 WITH (NOLOCK) ON R1.[Date of Reference] = 0 AND R1.[Category] = 0             AND R1.[Partner No_] = ''               AND R1.[Hotel No_] = AL.[Hotel No_] AND R1.[Company No_] = AL.[Company No_] AND R1.[Contract Status] = ''                   AND R1.[Brand] = ''         AND R1.[Chain] = ''         AND R1.[MuseID] = ''          AND R1.[Country Code] = ''                       AND R1.[Continent] = ''             AND R1.[Rate Type] = ''             AND R1.[Corporate Rate Discount] = 0                            AND R1.[Approved] = 1 AND R1.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R1.[Valid from] AND R1.[Valid to] AND AL.[Commission Type] = 12 AND R1.[Searchorder No_] = 89                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 34 /*Chain Company Agreement         */
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = AL.[Company No_] AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 90 AND AL.[Company No_] <> '' AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 33 /*Corporate Discount Agreement    */  
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = AL.[Corporate Rate Discount] AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 93                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 32 /*Wientourismus                   */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R1.[Code], AL.[Contract Code] = R1.[Contract Code], AL.[Contract Grp_ Code] = R1.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R1 WITH (NOLOCK) ON R1.[Date of Reference] = 0 AND R1.[Category] = 0             AND R1.[Partner No_] = AL.[Client No_]  AND R1.[Hotel No_] = AL.[Hotel No_] AND R1.[Company No_] = ''               AND R1.[Contract Status] = ''                   AND R1.[Brand] = ''         AND R1.[Chain] = ''         AND R1.[MuseID] = AL.[MuseID] AND R1.[Country Code] = ''                       AND R1.[Continent] = ''             AND R1.[Rate Type] = ''             AND R1.[Corporate Rate Discount] = 0                            AND R1.[Approved] = 1 AND R1.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R1.[Valid from] AND R1.[Valid to] AND AL.[Commission Type] = 12 AND R1.[Searchorder No_] = 43                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 31 /*Widget                          */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = AL.[Client No_]  AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 44                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 30 /*Corporate Club Rate             */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = AL.[Rate Type] AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] IN (13,12,0) AND R2.[Searchorder No_] = 92                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 29 /*Hotel n. Buch.kanal n. Res.-Dat.*/ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = AL.[Category] AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = AL.[Hotel No_] AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 46                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 28 /*Special Agreement               */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = AL.[Hotel No_] AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 46                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 27 /*Muse/Brand/Chain                */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 73                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 26 /*Brand/Chain je Land n. Res.dat. */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 76                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 25 /*Brand/Chain je Land             */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 65                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 24 /*Brand/Chain je Kont. u. Muse n. */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 86                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 23 /*Brand/Chain je Kont. n. Res.dat.*/ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 77                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 22 /*Brand/Chain je Kontinent        */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 66                            AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 21 /*Brand/Chain n. Reservierunsdat. */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 75                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 20 /*Brand/Chain                     */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 67                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 19 /*Muse/Brand                      */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = ''         AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 68                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 18 /*Brand je Land                   */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 49                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 17 /*Brand je Kontinent              */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 50                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 16 /*Brand                           */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = AL.[Brand] AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 48                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 15 /*Chain/Muse  n. Reservierunsdat. */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 81                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 14 /*Muse/Chain                      */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 69                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 13 /*Chain je Land                   */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 58                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 12 /*Chain je Kontinent n. Buchungsk.*/ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = AL.[Category] AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 85                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 11 /*Chain je Kontinent n. Reserv.d. */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 91                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 10 /*Chain je Kontinent              */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 59                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  9 /*Chain n. Reservierunsdat.       */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 71                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  8 /*Chain n. Buchungskanal n. Res.-D*/ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = AL.[Category] AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 94                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  7 /*Chain n. Buchungskanal          */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = AL.[Category] AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 84                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  6 /*Chain                           */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = AL.[Chain] AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 57                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  5 /*Muse-Kontinent                  */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 87                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder = 4 /*Pegasus-Regel                   */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = AL.[MuseID] AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 64                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  3 /*AGB 2012                        */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 1 AND R2.[Category] = AL.[Category] AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = AL.[Contract Status] AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Reservation Date] BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 63                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  2 /*Länderregel                     */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = AL.[Country_Region Code] AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 60                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  1 /*Kontinentregel                  */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = AL.[Continent] AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12 AND R2.[Searchorder No_] = 61                            AND AL.[Sortorder No_] < @ActualSortorder 
SET @ActualSortorder =  0 /*Default                         */ 
UPDATE AL SET AL.[Sortorder No_] = @ActualSortorder, AL.[Code] = R2.[Code], AL.[Contract Code] = R2.[Contract Code], AL.[Contract Grp_ Code] = R2.[Contract Grp_ Code] FROM @_AgencyLines AL JOIN [HRS-CN$Agency Business Rules] R2 WITH (NOLOCK) ON R2.[Date of Reference] = 0 AND R2.[Category] = 0             AND R2.[Partner No_] = ''               AND R2.[Hotel No_] = ''             AND R2.[Company No_] = ''               AND R2.[Contract Status] = ''                   AND R2.[Brand] = ''         AND R2.[Chain] = ''         AND R2.[MuseID] = ''          AND R2.[Country Code] = ''                       AND R2.[Continent] = ''             AND R2.[Rate Type] = ''             AND R2.[Corporate Rate Discount] = 0                            AND R2.[Approved] = 1 AND R2.[Enabled] = 1 AND AL.[Departure Date]   BETWEEN R2.[Valid from] AND R2.[Valid to] AND AL.[Commission Type] = 12                                                          AND AL.[Sortorder No_] < @ActualSortorder
SET @ActualSortorder = 99
UPDATE AL SET
       AL.[Sortorder No_]      = @ActualSortorder
--     , AL.[Code]               = ''
     , AL.[Contract Code]      = AC.[Contract Code]
--     , AL.[Contract Grp_ Code] = ''
  FROM @_AgencyLines AL 
  JOIN @AC AC 
    ON AC.[Contract Calc_ Func_ Code] = AL.[Contract Calc_ Func_ Code] 
   AND AC.[Commission Fix]            = AL.[Commission Fix] 
   AND AC.[Commission Rate]           = AL.[Commission Rate] 
   AND AL.[Commission Type]          <> 12
   AND NOT AL.[Rate Type] IN (19996,19999)
   AND AL.[Sortorder No_]             < @ActualSortorder

   INSERT INTO @Result
-- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
   SELECT DISTINCT AL.[Sortorder No_], AL.[Reservation No_], AL.[Position No_], AL.[Code], AL.[Contract Grp_ Code], AL.[Contract Code], FU.[Description], AC.[Contract Calc_ Func_ Code], AL.[Number of Rooms], AL.[Number of Person], AL.[Number of Nights], AL.[Room Price], AL.[Breakfast Price], AL.[Breakfast Type], AL.[Rate Type], AL.[Price Type], AC.[Value %] [Commission Rate], AL.[Ranking Booster], AC.[Value Total (LCY)] [Commission Fix], ER.[Exchange Rate Amount], COALESCE(TD.SERVICETAX + TD.VAT,0), AL.[Reservation Status], AL.[Reservation Date from], AL.[Reservation Date to], AL.[Room Type], AL.[Rate Description], AL.[Room Number], AL.[Activity Code], AL.[Commission Tax Type], AL.[timestamp Source], AL.[Process Number], AL.[Inserted by User], AL.[Inserted at], AL.[Modified by User], AL.[Modified at], AL.[Loyality Rewards Account No_], AL.[Commission Type], AL.[Rate Key], AL.[Currency Code], AL.[Hotel No_], AL.[Chain], AL.[Brand], AL.[Client No_], AL.[Country_Region Code], AL.[Net Room Price], CH.[Commission Calculation Base], AL.[Corporate Rate Discount], AL.[Net Breakfast Price], TD.BREAKFASTTAX , AL.[Company No_], AL.[Reservation Source], AP.[Distribution Channel ID] 
-- Original : SELECT DISTINCT AL.[Sortorder No_], AL.[Reservation No_], AL.[Position No_], AL.[Code], AL.[Contract Grp_ Code], AL.[Contract Code], FU.[Description], AC.[Contract Calc_ Func_ Code], AL.[Number of Rooms], AL.[Number of Person], AL.[Number of Nights], AL.[Room Price], AL.[Breakfast Price], AL.[Breakfast Type], AL.[Rate Type], AL.[Price Type], AC.[Value %] [Commission Rate], AL.[Ranking Booster], AC.[Value Total (LCY)] [Commission Fix], ER.[Exchange Rate Amount], COALESCE(TD.SERVICETAX + TD.VAT,0), AL.[Reservation Status], AL.[Reservation Date from], AL.[Reservation Date to], AL.[Room Type], AL.[Rate Description], AL.[Room Number], AL.[Activity Code], AL.[Commission Tax Type], AL.[timestamp Source], AL.[Process Number], AL.[Inserted by User], AL.[Inserted at], AL.[Modified by User], AL.[Modified at], AL.[Loyality Rewards Account No_], AL.[Commission Type], AL.[Rate Key], AL.[Currency Code], AL.[Hotel No_], AL.[Chain], AL.[Brand], AL.[Client No_], AL.[Country_Region Code], AL.[Net Room Price], CH.[Commission Calculation Base], AL.[Corporate Rate Discount], AL.[Net Breakfast Price], TD.BREAKFASTTAX , AL.[Company No_], AL.[Reservation Source], AP.[Distribution Channel ID] 
-- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
     FROM @_AgencyLines             AL
     JOIN @ER              ER
       ON ER.[Currency Code]        = AL.[Currency Code]
     JOIN [Chain]                   CH WITH (NOLOCK)
       ON CH.[Code]                 = AL.[Chain]
LEFT JOIN @TD                       TD
       ON TD.[Hotel No_]            = AL.[Hotel No_]
     JOIN [HRS-CN$Agency Contract]     AC WITH (NOLOCK)
       ON AC.[Code]                 = AL.[Contract Code]
     JOIN [HRS-CN$Agency Contract Calc_ Function] FU WITH (NOLOCK)
       ON FU.[Code]                 = AC.[Contract Calc_ Func_ Code]
LEFT JOIN [Affiliate Partner] AP WITH (NOLOCK)
       ON AP.[No_]                  = AL.[Client No_]
       
DECLARE @DEBUG int
 SELECT @DEBUG = 1 -- komplett neu berechnen
 
  DECLARE cur CURSOR FOR
  SELECT * FROM @Result

  OPEN cur

-- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
  FETCH NEXT FROM cur INTO @SortorderNo, @ReservationNo, @PositionNo, @BusinessRuleCode, @ContractGroupCode, @ContractCode, @Description, @ContractCalcFunctionCode, @NumberofRooms, @NumberofPerson, @NumberofNights, @RoomPrice, @BreakfastPrice, @BreakfastType, @RateType, @PriceType, @CommissionRate, @RankingBooster, @CommissionFix, @ExchangeRate, @ForeignTaxPercent, @ReservationStatus, @ReservationDatefrom, @ReservationDateto, @RoomType, @RateDescription, @RoomNumber, @ActivityCode, @CommissionTaxType, @timestampSource, @ProcessNumber, @InsertedbyUser, @Insertedat, @ModifiedbyUser, @Modifiedat, @LoyalityRewardsAccountNo, @CommissionType, @RateKey, @CurrencyCode, @HotelNo, @Chain, @Brand, @ClientNo, @CountryRegionCode, @NetRoomPrice, @UseNetRoomPrice, @CorporateRateDiscount, @NetBreakfastPrice, @BreakfastTaxPercent, @CompanyNo, @ReservationSource, @DistributionChannelID
-- Original : FETCH NEXT FROM cur INTO @SortorderNo, @ReservationNo, @PositionNo, @BusinessRuleCode, @ContractGroupCode, @ContractCode, @Description, @ContractCalcFunctionCode, @NumberofRooms, @NumberofPerson, @NumberofNights, @RoomPrice, @BreakfastPrice, @BreakfastType, @RateType, @PriceType, @CommissionRate, @RankingBooster, @CommissionFix, @ExchangeRate, @ForeignTaxPercent, @ReservationStatus, @ReservationDatefrom, @ReservationDateto, @RoomType, @RateDescription, @RoomNumber, @ActivityCode, @CommissionTaxType, @timestampSource, @ProcessNumber, @InsertedbyUser, @Insertedat, @ModifiedbyUser, @Modifiedat, @LoyalityRewardsAccountNo, @CommissionType, @RateKey, @CurrencyCode, @HotelNo, @Chain, @Brand, @ClientNo, @CountryRegionCode, @NetRoomPrice, @UseNetRoomPrice, @CorporateRateDiscount, @NetBreakfastPrice, @BreakfastTaxPercent, @CompanyNo
-- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001

  WHILE @@FETCH_STATUS=0
  BEGIN
    SET @RankingBooster = CASE 
      WHEN @RateType IN (10010,19999,19996,19991,30053)
        OR @ContractCalcFunctionCode = 12
        OR @ClientNo IN (1000939001,1056441001,1042998001)
        OR @ClientNo IN (1055788001,1055788002,1055788003,1055788004,1055788005,1055788006,1055788007,1055788008,1055788009,1055788010,1055788011,1055788012,1055788013,1055788014,1055788015,1055788016,1055788017,1055788018,1055788019,1055788020,1055788021,1055788022,1055788023,1055788024,1055788025,1055788026,1055788027,1055788031,1055788032,1055788033,1055788034,1055788035,1055788036,1055788037,1055788038,1055788039,1055788040,1055788029,1055788028)
		OR @RoomType IN (18,19,20,21,22,23,25,26,100) -- 01.07.16 TM NAV-22
		OR @CompanyNo = 9358
		OR @ActivityCode = 'MICE'
        -- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
		OR @DistributionChannelID IN (2,3,7,12)
		OR @ReservationSource IN (3,53,2,75,387,383,222)
        -- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
        -- 30.07.18 TM >>>>>>>>>>>>>>>>>>>> HRS002
		OR (@ReservationSource = 383 AND @CompanyNo > 0)
        -- 30.07.18 TM <<<<<<<<<<<<<<<<<<<< HRS002  
	  THEN 0
      ELSE @RankingBooster
    END
    SET @NewCommissionRate = @CommissionRate + @RankingBooster
    EXEC dbo.usp_CalcCommission 
      @ContractCalcFunctionCode 
    , @ForeignTaxPercent
    , @BreakfastTaxPercent
    , @NumberofNights
    , @NumberofRooms
    , @NumberofPerson
    , @RoomPrice
    , @BreakfastPrice
    , @ExchangeRate
    , @RateType
    , @PriceType
    , @BreakfastType 
    , @NetRoomPrice
    , @UseNetRoomPrice 
    , @NetBreakfastPrice
    , @ForeignTaxBaseAmountOUT OUTPUT
    , @NewCommissionRate       OUTPUT
    , @CommissionFix           OUTPUT
    , @ForeignTaxAmountOUT     OUTPUT
    , @CommissionBaseAmountOUT OUTPUT
    , @CommissionAmountOUT     OUTPUT
    , @LineAmountOUT           OUTPUT
    , @HotelsalesinclVATOUT    OUTPUT
 -- HRS003 >>
	, @BreakfastCommission
-- HRS003 <<

    IF NOT EXISTS( SELECT 1 FROM @AgencyLine L WHERE L.[Reservation No_] = @ReservationNo AND L.[Position No_] = @PositionNo)
      INSERT INTO @AgencyLine 
      SELECT @ReservationNo, @PositionNo, @ReservationStatus, @ReservationDatefrom, @ReservationDateto, @NumberofRooms, @RoomType, @RateDescription, @RoomPrice, @BreakfastType, @BreakfastPrice, @CommissionType, @CommissionRate, @RankingBooster, @CommissionFix, @RateType, @RateKey, @CurrencyCode, @ExchangeRate, @RoomNumber, @ActivityCode, @NumberofPerson, @HotelNo, @CommissionTaxType, @timestampSource, @PriceType, @ProcessNumber, @InsertedbyUser, @Insertedat, @ModifiedbyUser, @Modifiedat, @NumberofNights, @CommissionBaseAmountOUT, @CommissionAmountOUT, ROUND(@CommissionBaseAmountOUT / @ExchangeRate,2), ROUND(@CommissionAmountOUT / @ExchangeRate,2), @ForeignTaxPercent, @ForeignTaxAmountOUT, @LineAmountOUT, ROUND(@LineAmountOUT / @ExchangeRate,2), @ForeignTaxBaseAmountOUT, @HotelsalesinclVATOUT, @ContractCode, @ContractCalcFunctionCode, @Description, @LoyalityRewardsAccountNo, @Chain, @Brand, @ClientNo, @CountryRegionCode, @ContractGroupCode, @BusinessRuleCode, @SortorderNo, @CorporateRateDiscount, @NetRoomPrice, @NetBreakfastPrice

  -- 29.09.16 TM >>>>>>>>>>>>>>>>>>>> HRS001
    FETCH NEXT FROM cur INTO @SortorderNo, @ReservationNo, @PositionNo, @BusinessRuleCode, @ContractGroupCode, @ContractCode, @Description, @ContractCalcFunctionCode, @NumberofRooms, @NumberofPerson, @NumberofNights, @RoomPrice, @BreakfastPrice, @BreakfastType, @RateType, @PriceType, @CommissionRate, @RankingBooster, @CommissionFix, @ExchangeRate, @ForeignTaxPercent, @ReservationStatus, @ReservationDatefrom, @ReservationDateto, @RoomType, @RateDescription, @RoomNumber, @ActivityCode, @CommissionTaxType, @timestampSource, @ProcessNumber, @InsertedbyUser, @Insertedat, @ModifiedbyUser, @Modifiedat, @LoyalityRewardsAccountNo, @CommissionType, @RateKey, @CurrencyCode, @HotelNo, @Chain, @Brand, @ClientNo, @CountryRegionCode, @NetRoomPrice, @UseNetRoomPrice, @CorporateRateDiscount, @NetBreakfastPrice, @BreakfastTaxPercent, @CompanyNo, @ReservationSource, @DistributionChannelID
  -- Original : FETCH NEXT FROM cur INTO @SortorderNo, @ReservationNo, @PositionNo, @BusinessRuleCode, @ContractGroupCode, @ContractCode, @Description, @ContractCalcFunctionCode, @NumberofRooms, @NumberofPerson, @NumberofNights, @RoomPrice, @BreakfastPrice, @BreakfastType, @RateType, @PriceType, @CommissionRate, @RankingBooster, @CommissionFix, @ExchangeRate, @ForeignTaxPercent, @ReservationStatus, @ReservationDatefrom, @ReservationDateto, @RoomType, @RateDescription, @RoomNumber, @ActivityCode, @CommissionTaxType, @timestampSource, @ProcessNumber, @InsertedbyUser, @Insertedat, @ModifiedbyUser, @Modifiedat, @LoyalityRewardsAccountNo, @CommissionType, @RateKey, @CurrencyCode, @HotelNo, @Chain, @Brand, @ClientNo, @CountryRegionCode, @NetRoomPrice, @UseNetRoomPrice, @CorporateRateDiscount, @NetBreakfastPrice, @BreakfastTaxPercent, @CompanyNo
  -- 29.09.16 TM <<<<<<<<<<<<<<<<<<<< HRS001
  END

  CLOSE cur
  DEALLOCATE cur
  
  UPDATE L2 SET
         L2.[Commission Type]               = L1.[Commission Type]
       , L2.[Commission Rate]               = L1.[Commission Rate]
       , L2.[Ranking Booster]               = L1.[Ranking Booster]
       , L2.[Commission Fix]                = L1.[Commission Fix]
       , L2.[Currency Code]                 = L1.[Currency Code]
       , L2.[Currency Faktor]               = L1.[Currency Faktor]
       , L2.[Number of Nights]              = L1.[Number of Nights]
       , L2.[Commission Base Amount]        = L1.[Commission Base Amount]
       , L2.[Commission Amount]             = L1.[Commission Amount]
       , L2.[Commission Base Amount (LCY)]  = L1.[Commission Base Amount (LCY)]
       , L2.[Commission Amount (LCY)]       = L1.[Commission Amount (LCY)]
       , L2.[Foreign Tax %]                 = L1.[Foreign Tax %]
       , L2.[Foreign Tax Amount]            = L1.[Foreign Tax Amount]
       , L2.[Line Amount]                   = L1.[Line Amount]
       , L2.[Line Amount (LCY)]             = L1.[Line Amount (LCY)]
       , L2.[Foreign Tax Base Amount]       = L1.[Foreign Tax Base Amount]
       , L2.[Hotel sales incl_ VAT]         = L1.[Hotel sales incl_ VAT]
       , L2.[Calculated with Contract Code] = L1.[Calculated with Contract Code]
       , L2.[Calculated with Function ID]   = L1.[Calculated with Function ID]
       , L2.[Calculated with Function Desc_]= L1.[Calculated with Function Desc_]
       , L2.[Chain]                         = L1.[Chain]
       , L2.[Brand]                         = L1.[Brand]
       , L2.[Client No_]                    = L1.[Client No_]
       , L2.[Country_Region Code]           = L1.[Country_Region Code]     
       , L2.[Corporate Rate Discount]       = L1.[Corporate Rate Discount]
    FROM @AgencyLine L1
    JOIN [HRS-CN$Agency Line] L2
      ON L2.[Reservation No_] = L1.[Reservation No_] 
     AND L2.[Position No_]    = L1.[Position No_]
   
  UPDATE L2 SET
         L2.[Commission Type]               = L1.[Commission Type]
       , L2.[Commission Rate]               = L1.[Commission Rate]
       , L2.[Ranking Booster]               = L1.[Ranking Booster]
       , L2.[Commission Fix]                = L1.[Commission Fix]
       , L2.[Currency Code]                 = L1.[Currency Code]
       , L2.[Currency Faktor]               = L1.[Currency Faktor]
       , L2.[Number of Nights]              = L1.[Number of Nights]
       , L2.[Commission Base Amount]        = L1.[Commission Base Amount]
       , L2.[Commission Amount]             = L1.[Commission Amount]
       , L2.[Commission Base Amount (LCY)]  = L1.[Commission Base Amount (LCY)]
       , L2.[Commission Amount (LCY)]       = L1.[Commission Amount (LCY)]
       , L2.[Foreign Tax %]                 = L1.[Foreign Tax %]
       , L2.[Foreign Tax Amount]            = L1.[Foreign Tax Amount]
       , L2.[Line Amount]                   = L1.[Line Amount]
       , L2.[Line Amount (LCY)]             = L1.[Line Amount (LCY)]
       , L2.[Foreign Tax Base Amount]       = L1.[Foreign Tax Base Amount]
       , L2.[Hotel sales incl_ VAT]         = L1.[Hotel sales incl_ VAT]
       , L2.[Calculated with Contract Code] = L1.[Calculated with Contract Code]
       , L2.[Calculated with Function ID]   = L1.[Calculated with Function ID]
       , L2.[Calculated with Function Desc_]= L1.[Calculated with Function Desc_]
       , L2.[Client No_]                    = L1.[Client No_]
       , L2.[Corporate Rate Discount]       = L1.[Corporate Rate Discount]
       , L2.[Net Room Price]                = L1.[Net Room Price]
       , L2.[Net Breakfast Price]           = L1.[Net Breakfast Price]
    FROM @AgencyLine L1
    JOIN [HRS-CN$Agency Display Line] L2
      ON L2.[Reservation No_] = L1.[Reservation No_] 
     AND L2.[Position No_]    = L1.[Position No_]
    JOIN [HRS-CN$Agency Display Header] H
      ON H.[Case No_] = L2.[Display Case No_]
     AND H.[Posting Date] = @PostingDate
     AND H.[Posted Invoice No_] = ''
     AND H.[Correction from] = ''
     AND L2.Action = 0

  UPDATE AH SET
         AH.[Booking Status]             = 1
       , AH.[Contract Code]              = AL.[Calculated with Contract Code]
       , AH.[Contract Group Code]        = AL.[Contract Grp_ Code]
       , AH.[Agency Business Rules Code] = AL.[Business Rule Code]
       , AH.[Chain ID]                   = AL.[Chain]
       , AH.[Brand ID]                   = AL.[Brand]
    FROM [HRS-CN$Agency Header] AH
    JOIN @AgencyLine AL
      ON AL.[Reservation No_] = AH.[Reservation No_]
END

GO
