USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateInvoices_ForAllAddProducts]    Script Date: 10.04.2024 14:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Soner Akdemir
-- Create date: 15.01.21		
-- Description:	Creates Commission Invoices for Products
--
/*
exec [dbo].[sp_GenerateInvoices_ForAllAddProducts] @customer='HRS'
  
*/
-- Date     Version   RFC    Sign.  Description
-- ------------------------------------------------------------
-- 15.01.21			  ACS-2512  SAK New Products	

CREATE PROCEDURE [dbo].[sp_GenerateInvoices_ForAllAddProducts]
    @today         date    = NULL --'2016-04-30'
	,@customer      varchar(100) = NULL
AS BEGIN
	DECLARE @PRODUCTS TABLE ([ProductNo] tinyint PRIMARY KEY, [Description] varchar(50), [Produkt Document Type] varchar(20))
	INSERT INTO @PRODUCTS VALUES (1,'TAF for Traveller',		'37');
	INSERT INTO @PRODUCTS VALUES (2,'Chain TAF',				'38');
	INSERT INTO @PRODUCTS VALUES (3,'Partnership Fee ',			'39');
	INSERT INTO @PRODUCTS VALUES (4,'Additional Commission',	'40');
	INSERT INTO @PRODUCTS VALUES (5,'PFP',						'41');
	INSERT INTO @PRODUCTS VALUES (6,'Override',					'42');
	INSERT INTO @PRODUCTS VALUES (7,'Sourcing Fee',				'43');
	
	DECLARE @ProductNo     tinyint,
		@DocumentType varchar(20)


	DECLARE curForAddProducts CURSOR FOR
		SELECT  PROD.ProductNo, PROD.[Produkt Document Type] FROM @PRODUCTS PROD

	OPEN curForAddProducts FETCH NEXT FROM curForAddProducts INTO @ProductNo, @DocumentType
	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @customer = 'HRS' 
		BEGIN 
			PRINT @customer
        PRINT @ProductNo
        PRINT @DocumentType
			EXEC [dbo].[sp_GenerateInvoices_ForAddProduct-HRS] 
				@today= @today, @ProductNo= @ProductNo , @DocumentType= @DocumentType 
		END
		IF @customer = 'HRS-BR' 
		BEGIN 
			PRINT @customer
			EXEC [dbo].[sp_GenerateInvoices_ForAddProduct-HRS-BR] 
				@today= @today, @ProductNo= @ProductNo , @DocumentType= @DocumentType 
		END
		FETCH NEXT FROM curForAddProducts INTO @ProductNo, @DocumentType
	END
END
GO
