USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[TestPayment]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TestPayment] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   WITH EXT AS
(
  SELECT OR_INVOICE_VALUE
	   , MAX(ENTITY_STATUS_UPDATING_DATE) ENTITY_STATUS_UPDATING_DATE
    FROM HRSDB.CIA_PS_EXTERNAL_INVOICE_NUMBER 
GROUP BY OR_INVOICE_VALUE
)
, S2 AS ( SELECT 2 AS LineType , UPPER(IH.INVOICE_ID_VALUE) INVOICE_ID_VALUE
     , CAST(null AS varchar(30))   AS INVOICE_SOURCE
     , CAST(null AS int)           AS BOOKING_PROCESS_ID_VALUE
     , CAST(null AS varchar(64))   AS INVOICE_NO
     , CAST(null AS int)           AS COMPANY_ID_VALUE
     , CAST(null AS int)           AS HOTEL_ID_VALUE
     , CAST(null AS DECIMAL(12,2)) AS AMOUNT_AFTER_TAX
     , CAST(null AS DECIMAL(12,2)) AS AMOUNT_BEFORE_TAX
     , CAST(null AS varchar(30))   AS INVOICE_CURRENCY 
     , CAST(null AS date)          AS DATE_OF_STAY_FROM_DATE
     , CAST(null AS date)          AS DATE_OF_STAY_TO_DATE
     , CAST(null AS varchar(64))   AS VAT_IDENTIFICATION_NO
     , CAST(null AS varchar(64))   AS TAX_IDENTIFICATION_NO
     , CAST(null AS datetime2)     AS ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS ENTITY_STATUS_UPDATING_USER
     , CAST(null AS char(36))      AS VERSION_COUNTER
     , CAST(null AS int)           AS PRO_FORMA
     , CAST(null AS varchar(30))   AS INVOICE_STATUS
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_ABSOLUTE
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_PERCENTAGE
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_VAT
	 , CAST(null AS int)           AS INVOICE_TYPE
	 , CAST(null AS DECIMAL(12,2)) AS EXCHANGE_RATE         
     , CAST(null AS date)          AS VEND_INVOICE_DATE
     , CAST(null AS date)          AS CUST_INVOICE_DATE
     , UPPER(IL.INVOICE_POSITION_ID_VALUE) INVOICE_POSITION_ID_VALUE
     , IL.SERVICE_DATE
     , IL.SERVICE_CODE
     , IL.SERVICE_DESCRIPTION
     , IL.AMOUNT_AFTER_TAX IL_AMOUNT_AFTER_TAX
     , IL.AMOUNT_BEFORE_TAX IL_AMOUNT_BEFORE_TAX
     , IL.TAX_AMOUNT IL_TAX_AMOUNT
     , IL.TAX_RATE IL_TAX_RATE
     , IL.ENTITY_STATUS_CREATING_DATE IL_ENTITY_STATUS_CREATING_DATE
     , IL.ENTITY_STATUS_CREATING_USER IL_ENTITY_STATUS_CREATING_USER
     , IL.ENTITY_STATUS_UPDATING_DATE IL_ENTITY_STATUS_UPDATING_DATE
     , IL.ENTITY_STATUS_UPDATING_USER IL_ENTITY_STATUS_UPDATING_USER
     , CAST('' AS char(36))      AS INVOICE_TAX_ID_VALUE
     , CAST(null AS DECIMAL(12,2)) AS GROSS_AMOUNT
     , CAST(null AS DECIMAL(12,2)) AS NET_AMOUNT
     , CAST(null AS DECIMAL(12,2)) AS TAX_AMOUNT
     , CAST(null AS DECIMAL(12,2))        AS TAX_RATE
     , CAST(null AS DECIMAL( 4,0)) AS TAX_CODE
     , CAST(null AS datetime2)     AS IT_ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS IT_ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS IT_ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS IT_ENTITY_STATUS_UPDATING_USER
  FROM HRSDB.CIA_PS_INVOICE IH
  JOIN HRSDB.CIA_PS_INVOICE_POSITION IL
    ON IH.INVOICE_ID_VALUE = IL.OR_INVOICE_ID_VALUE
 WHERE IH.NAV_LOADED = 0  
)
, S1 AS
(
SELECT DISTINCT 1 AS LineType
     , UPPER(IH.INVOICE_ID_VALUE) INVOICE_ID_VALUE
     , IH.INVOICE_SOURCE
     , IH.BOOKING_PROCESS_ID_VALUE
     , IH.INVOICE_NO
     , IH.COMPANY_ID_VALUE
     , IH.HOTEL_ID_VALUE
     , IH.AMOUNT_AFTER_TAX
     , IH.AMOUNT_BEFORE_TAX
     , IH.INVOICE_CURRENCY
     , IH.DATE_OF_STAY_FROM_DATE
     , IH.DATE_OF_STAY_TO_DATE
     , IH.VAT_IDENTIFICATION_NO
     , IH.TAX_IDENTIFICATION_NO
     , IH.ENTITY_STATUS_CREATING_DATE
     , IH.ENTITY_STATUS_CREATING_USER
     , IH.ENTITY_STATUS_UPDATING_DATE
     , IH.ENTITY_STATUS_UPDATING_USER
     , IH.VERSION_COUNTER
     , IH.PRO_FORMA
     , IH.INVOICE_STATUS
	 , IH.SERVICE_FEE_ABSOLUTE
	 , IH.SERVICE_FEE_PERCENTAGE
	 , IH.SERVICE_FEE_VAT
	 , IH.INVOICE_TYPE
	 , IH.EXCHANGE_RATE
     , CASE WHEN IH.INVOICE_DATE<'2014-01-01' THEN NULL ELSE IH.INVOICE_DATE END AS VEND_INVOICE_DATE
     , CAST(EXT.ENTITY_STATUS_UPDATING_DATE AS date) AS CUST_INVOICE_DATE
     , CAST('' AS char(36))        AS INVOICE_POSITION_ID_VALUE
     , CAST(null AS date)          AS SERVICE_DATE
     , CAST(null AS varchar(30))   AS SERVICE_CODE
     , CAST(null AS varchar(255))  AS SERVICE_DESCRIPTION
     , CAST(null AS DECIMAL(12,2)) AS IL_AMOUNT_AFTER_TAX
     , CAST(null AS DECIMAL(12,2)) AS IL_AMOUNT_BEFORE_TAX
     , CAST(null AS DECIMAL(12,2)) AS IL_TAX_AMOUNT
     , CAST(null AS DECIMAL(12,2))        AS IL_TAX_RATE
     , CAST(null AS datetime2)     AS IL_ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS IL_ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS IL_ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS IL_ENTITY_STATUS_UPDATING_USER
     , CAST('' AS char(36))        AS INVOICE_TAX_ID_VALUE
     , CAST(null AS DECIMAL(12,2)) AS GROSS_AMOUNT
     , CAST(null AS DECIMAL(12,2)) AS NET_AMOUNT
     , CAST(null AS DECIMAL(12,2)) AS TAX_AMOUNT
     , CAST(null AS DECIMAL(12,2))        AS TAX_RATE
     , CAST(null AS DECIMAL( 4,0)) AS TAX_CODE
     , CAST(null AS datetime2)     AS IT_ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS IT_ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS IT_ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS IT_ENTITY_STATUS_UPDATING_USER
     FROM HRSDB.CIA_PS_INVOICE IH
LEFT JOIN EXT
       ON EXT.OR_INVOICE_VALUE = IH.INVOICE_ID_VALUE
     JOIN HRSDB.CIA_PS_INVOICE_POSITION IL
       ON IH.INVOICE_ID_VALUE = IL.OR_INVOICE_ID_VALUE
    WHERE IH.NAV_LOADED = 0 
)
, S3 AS
(
SELECT 3 AS LineType
     , UPPER(IH.INVOICE_ID_VALUE) INVOICE_ID_VALUE
     , CAST(null AS varchar(30))   AS INVOICE_SOURCE
     , CAST(null AS int)           AS BOOKING_PROCESS_ID_VALUE
     , CAST(null AS varchar(64))   AS INVOICE_NO
     , CAST(null AS int)           AS COMPANY_ID_VALUE
     , CAST(null AS int)           AS HOTEL_ID_VALUE
     , CAST(null AS DECIMAL(12,2)) AS AMOUNT_AFTER_TAX
     , CAST(null AS DECIMAL(12,2)) AS AMOUNT_BEFORE_TAX
     , CAST(null AS varchar(30))   AS INVOICE_CURRENCY 
     , CAST(null AS date)          AS DATE_OF_STAY_FROM_DATE
     , CAST(null AS date)          AS DATE_OF_STAY_TO_DATE
     , CAST(null AS varchar(64))   AS VAT_IDENTIFICATION_NO
     , CAST(null AS varchar(64))   AS TAX_IDENTIFICATION_NO
     , CAST(null AS datetime2)     AS ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS ENTITY_STATUS_UPDATING_USER
     , CAST(null AS char(36))      AS VERSION_COUNTER
     , CAST(null AS int)           AS PRO_FORMA
     , CAST(null AS varchar(30))   AS INVOICE_STATUS
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_ABSOLUTE
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_PERCENTAGE
	 , CAST(null AS DECIMAL(12,2)) AS SERVICE_FEE_VAT
	 , CAST(null AS int)           AS INVOICE_TYPE
	 , CAST(null AS DECIMAL(12,2)) AS EXCHANGE_RATE                       
     , CAST(null AS date)          AS VEND_INVOICE_DATE
     , CAST(null AS date)          AS CUST_INVOICE_DATE
     , CAST(null AS char(36))      AS INVOICE_POSITION_ID_VALUE
     , CAST(null AS date)          AS SERVICE_DATE
     , CAST(null AS varchar(30))   AS SERVICE_CODE
     , CAST(null AS varchar(255))  AS SERVICE_DESCRIPTION
     , CAST(null AS DECIMAL(12,2)) AS IL_AMOUNT_AFTER_TAX
     , CAST(null AS DECIMAL(12,2)) AS IL_AMOUNT_BEFORE_TAX
     , CAST(null AS DECIMAL(12,2)) AS IL_TAX_AMOUNT
     , CAST(null AS DECIMAL(12,2))        AS IL_TAX_RATE
     , CAST(null AS datetime2)     AS IL_ENTITY_STATUS_CREATING_DATE
     , CAST(null AS varchar(50))   AS IL_ENTITY_STATUS_CREATING_USER
     , CAST(null AS datetime2)     AS IL_ENTITY_STATUS_UPDATING_DATE
     , CAST(null AS varchar(50))   AS IL_ENTITY_STATUS_UPDATING_USER
     , UPPER(INVOICE_TAX_ID_VALUE) INVOICE_TAX_ID_VALUE
     , GROSS_AMOUNT
     , NET_AMOUNT
     , TAX_AMOUNT
     , TAX_RATE
     , TAX_CODE
     , IT.ENTITY_STATUS_CREATING_DATE AS IT_ENTITY_STATUS_CREATING_DATE
     , IT.ENTITY_STATUS_CREATING_USER AS IT_ENTITY_STATUS_CREATING_USER
     , IT.ENTITY_STATUS_UPDATING_DATE AS IT_ENTITY_STATUS_UPDATING_DATE
     , IT.ENTITY_STATUS_UPDATING_USER AS IT_ENTITY_STATUS_UPDATING_USER
  FROM HRSDB.CIA_PS_INVOICE IH
  JOIN HRSDB.CIA_PS_INVOICE_TAX IT
    ON IH.INVOICE_ID_VALUE = IT.OR_INVOICE_ID_VALUE
 WHERE IH.NAV_LOADED = 0 
 
)
SELECT * FROM S1 
 UNION 
SELECT * FROM S2
 UNION 
SELECT * FROM S3
ORDER BY INVOICE_ID_VALUE
       , [LineType]
       , INVOICE_POSITION_ID_VALUE
       , INVOICE_TAX_ID_VALUE
END
GO
