USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_ArchiveDocuments_CommissionInvoices]    Script Date: 10.04.2024 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[sp_ArchiveDocuments_CommissionInvoices] AS
BEGIN

;WITH ARCH AS (
  SELECT DISTINCT J.No_
    FROM [HRS$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
), ARCH_BR AS (
  SELECT DISTINCT J.No_
    FROM [HRS-BR$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS-BR$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS-BR$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS-BR$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
), ARCH_CN AS (
  SELECT DISTINCT J.No_
    FROM [HRS-CN$EBPP Journal] J WITH (NOLOCK)
    JOIN [HRS-CN$EBPP Journal Subtable] JS WITH (NOLOCK) 
      ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
   UNION
  SELECT DISTINCT J.No_
    FROM [HRS-CN$EBPP Journal Archive] J WITH (NOLOCK)
    JOIN [HRS-CN$EBPP Journal Archive Subtable] JS WITH (NOLOCK) 
	  ON J.[EBPP Provider Code] = JS.[EBPP Provider Code] AND J.Reference = JS.Reference AND JS.Archived = 1
)
   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS' [Company]
     FROM [HRS$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
LEFT JOIN ARCH 
       ON ADH.[Posted Invoice No_] = ARCH.No_
	WHERE ADH.[Creation Date] >= '2020-01-01'
	  AND ARCH.No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''

	UNION

   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS-BR' [Company]
     FROM [HRS-BR$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS-BR$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
LEFT JOIN ARCH_BR ARCH 
       ON ADH.[Posted Invoice No_] = ARCH.No_
	WHERE ADH.[Creation Date] >= '2020-01-01'
	  AND ARCH.No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''

	UNION

   SELECT ADH.[Document Type], SIH.No_ [Document No_], 'HRS-CN' [Company]
     FROM [HRS-CN$Sales Invoice Header] SIH WITH (NOLOCK)
     JOIN [HRS-CN$Agency Display Header] ADH WITH (NOLOCK) 
       ON SIH.No_ = ADH.[Posted Invoice No_]
LEFT JOIN ARCH_CN ARCH 
       ON ADH.[Posted Invoice No_] = ARCH.No_
	WHERE ADH.[Creation Date] >= '2020-01-01'
	  AND ARCH.No_ IS NULL
	  AND ADH.[Posted Invoice No_] <> ''

END
GO
