USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebateLinesMatrix_TMC]    Script Date: 10.04.2024 14:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ralph Prangenberg
-- Create date: 24.02.2015
-- Description:	Kopfinformationen zur Gutschriftsanzeige
--				Kopie von [sp_RebateLinesYTD]
--				Erweitert um TMC
/*
DECLARE @ReNr	VARCHAR(20) = 'K0000038750'
	  , @Tab	VARCHAR(3)	= 'ROW'--'API'--'GDS'--'API' 
EXEC [dbo].[sp_RebateLinesMatrix_TMC] @ReNr , @Tab
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_RebateLinesMatrix_TMC] 
	@ReNr	VARCHAR(20)
  , @Tab	VARCHAR(30)
AS
BEGIN

	DECLARE @Feetype	VARCHAR(3)
	SELECT @Feetype = CASE	WHEN CHARINDEX(@Tab, 'API')  > 0 THEN 'API'
							WHEN CHARINDEX(@Tab, 'GDS')  > 0 THEN 'GDS'
							WHEN CHARINDEX(@Tab, 'DACH') > 0 THEN 'xRD'
							WHEN CHARINDEX(@Tab, 'ROW')  > 0 THEN 'xRR'
					  END
	DECLARE @Matrix AS TABLE
		( [Matrix Code]				VARCHAR(100)
		, [Range Line 1 No_]		INT
		, [Range Line 2 No_]		INT
		, [Value]					VARCHAR(100)
		, [Value Text]				VARCHAR(100)
		, [Value Decimal]			DECIMAL
		, [ROWNUMBER]				INT
		, [OLAP Dim_ 1 Code]		VARCHAR(100)
		, [OLAP Dim_ 2 Code]		VARCHAR(100)
		, [Description 1]			VARCHAR(100)
		, [Description 2]			VARCHAR(100)
		, [Value From (Decimal) 2]	DECIMAL
		, [Value To (Decimal) 2]	DECIMAL
		, [Value Type]				INT
		)

	DECLARE @Result AS TABLE
		( [Input Value 1]			DECIMAL
		, [ThresholdPartion]		DECIMAL
		, [Threshold]				VARCHAR(100)
		, [ThresholdResult]			DECIMAL
--		, [ThresholdDescription]	VARCHAR(100)
		, [Input Value 2]			DECIMAL
		, [ROWNUMBER]				INT
		, [Value Type]				INT
--		, [Matrix Code]				VARCHAR(100)
		, [Range Line 1 No_]		INT
		, [Range Line 2 No_]		INT
		, [Value]					VARCHAR(100)
		, [Value Text]				VARCHAR(100)
		, [Value Decimal]			DECIMAL

		, [OLAP Dim_ 1 Code]		VARCHAR(100)
		, [OLAP Dim_ 2 Code]		VARCHAR(100)
		, [Description 1]			VARCHAR(100)
		, [Description 2]			VARCHAR(100)
		, [No Final Row Calculate]	INT
		)

	INSERT INTO @Matrix		
		SELECT [RMV].[Matrix Code]
			 , [RMV].[Range Line 1 No_]
			 , [RMV].[Range Line 2 No_]
			 , [RMV].[Value]
			 , [RMV].[Value Text]
			 , [RMV].[Value Decimal]
			 , ROW_NUMBER() OVER (PARTITION BY [RMV].[Matrix Code] ORDER BY [RMV].[Matrix Code] , [RMV].[Range Line 1 No_], [RMV].[Range Line 2 No_]) AS ROWNUMBER
			 , [RM].[OLAP Dim_ 1 Code]
			 , [RM].[OLAP Dim_ 2 Code]
			 , [RDR1].[Description]				[Description 1]
			 , [RDR2].[Description]				[Description 2]
			 , [RDR2].[Value From (Decimal)]	[Value From (Decimal) 2]
			 , [RDR2].[Value To (Decimal)]		[Value To (Decimal) 2]
			 , [RM].[Value Type]
		 FROM [HRS$Rebate Matrix Values]	[RMV] WITH (NOLOCK)
		 JOIN [HRS$Rebate Matrix]			[RM]  WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RM].[Code]

		 JOIN [HRS$Rebate Dimension Ranges]	[RDR1] WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RDR1].[Matrix Code]
		  AND [RM].[OLAP Dim_ 1 Code] = [RDR1].[OLAP Dimension Code]
		  AND [RMV].[Range Line 1 No_] = [RDR1].[Range Line No_]

		 JOIN [HRS$Rebate Dimension Ranges]	[RDR2] WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RDR2].[Matrix Code]
		  AND [RM].[OLAP Dim_ 2 Code] = [RDR2].[OLAP Dimension Code]
		  AND [RMV].[Range Line 2 No_] = [RDR2].[Range Line No_]

		WHERE [RMV].[Matrix Code] IN (SELECT DISTINCT [RAL].[Matrix _ Vector Code] 
						   FROM [HRS$Rebate Header]				[RH] WITH (NOLOCK) 
						   JOIN [HRS$Rebate Agreement Header]	[RAH] WITH (NOLOCK)
						     ON [RH].[Rebate Agreement No_] = [RAH].[No_]	
						   JOIN [HRS$Rebate Agreement Line]		[RAL] WITH (NOLOCK)
						     ON [RAH].[No_] = [RAL].[Rebate No_]
						  WHERE [RH].[No_]  = @ReNr
						    AND [RAL].[Activity Type] = 5)
		UNION
		SELECT [RMV].[Matrix Code]
			 , [RMV].[Range Line 1 No_]
			 , [RMV].[Range Line 2 No_]
			 , [RMV].[Value]
			 , [RMV].[Value Text]
			 , [RMV].[Value Decimal]
			 , ROW_NUMBER() OVER (PARTITION BY [RMV].[Matrix Code] ORDER BY [RMV].[Matrix Code] , [RMV].[Range Line 1 No_], [RMV].[Range Line 2 No_]) AS ROWNUMBER
			 , [RM].[OLAP Dim_ 1 Code]
			 , [RM].[OLAP Dim_ 2 Code]
			 , [RDR1].[Description]				[Description 1]
			 , [RDR2].[Description]				[Description 2]
			 , [RDR2].[Value From (Decimal)]	[Value From (Decimal) 2]
			 , [RDR2].[Value To (Decimal)]		[Value To (Decimal) 2]
			 , [RM].[Value Type]
		 FROM [HRS$Rebate Matrix Values]	[RMV] WITH (NOLOCK)
		 JOIN [HRS$Rebate Matrix]			[RM]  WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RM].[Code]

		 JOIN [HRS$Rebate Dimension Ranges]	[RDR1] WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RDR1].[Matrix Code]
		  AND [RM].[OLAP Dim_ 1 Code] = [RDR1].[OLAP Dimension Code]
		  AND [RMV].[Range Line 1 No_] = [RDR1].[Range Line No_]

		 JOIN [HRS$Rebate Dimension Ranges]	[RDR2] WITH (NOLOCK)
		   ON [RMV].[Matrix Code] = [RDR2].[Matrix Code]
		  AND [RM].[OLAP Dim_ 2 Code] = [RDR2].[OLAP Dimension Code]
		  AND [RMV].[Range Line 2 No_] = [RDR2].[Range Line No_]

		WHERE [RMV].[Matrix Code] IN (SELECT DISTINCT [RAL].[Matrix _ Vector Code] 
						   FROM [HRS$Posted Rebate Header]		[RH] WITH (NOLOCK) 
						   JOIN [HRS$Rebate Agreement Header]	[RAH] WITH (NOLOCK)
						     ON [RH].[Rebate Agreement No_] = [RAH].[No_]	
						   JOIN [HRS$Rebate Agreement Line]		[RAL] WITH (NOLOCK)
						     ON [RAH].[No_] = [RAL].[Rebate No_]
						  WHERE [RH].[No_]  = @ReNr OR RH.[Rebate No_] = @ReNr
						    AND [RAL].[Activity Type] = 5)
SELECT * FROM @Matrix

	; WITH [RL] AS
	(
	  SELECT [RL].[No_], [RL].[Value Decimal], [PA].[Name], [PA].[Value Decimal] [Constant Value Decimal], [RL].[Threshold Value Index], [RL].[Value]
		   , CASE WHEN [RH].[Input Parameter TMC API 1] = [RL].[No_] THEN 'API1'
				  WHEN [RH].[Input Parameter TMC API 2] = [RL].[No_] THEN 'API2'
				  WHEN [RH].[Input Parameter TMC API 3] = [RL].[No_] THEN 'API3'
				  WHEN [RH].[Input Parameter TMC API 4] = [RL].[No_] THEN 'API4'
				  WHEN [RH].[Input Parameter TMC GDS 1] = [RL].[No_] THEN 'GDS1'
				  WHEN [RH].[Input Parameter TMC GDS 2] = [RL].[No_] THEN 'GDS2'
				  WHEN [RH].[Input Parameter TMC GDS 3] = [RL].[No_] THEN 'GDS3'
				  WHEN [RH].[Input Parameter TMC GDS 4] = [RL].[No_] THEN 'GDS4'
				  WHEN [RH].[Input Parameter TMC RD 1]  = [RL].[No_] THEN 'xRD1'
				  WHEN [RH].[Input Parameter TMC RD 2]  = [RL].[No_] THEN 'xRD2'
				  WHEN [RH].[Input Parameter TMC RD 3]  = [RL].[No_] THEN 'xRD3'
				  WHEN [RH].[Input Parameter TMC RD 4]  = [RL].[No_] THEN 'xRD4'
				  WHEN [RH].[Input Parameter TMC RR 1]  = [RL].[No_] THEN 'xRR1'
				  WHEN [RH].[Input Parameter TMC RR 2]  = [RL].[No_] THEN 'xRR2'
				  WHEN [RH].[Input Parameter TMC RR 3]  = [RL].[No_] THEN 'xRR3'
				  WHEN [RH].[Input Parameter TMC RR 4]  = [RL].[No_] THEN 'xRR4'
				  ELSE NULL
			  END [TMC Parameter] 
			, CASE WHEN [RH].[Input Parameter TMC API 4] = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC GDS 4] = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC RD 4]  = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC RR 4]  = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
			 END [Matrix _ Vector Code] 
			, (SELECT TOP 1 [RL].[Value Decimal] FROM [HRS$Rebate Line]   [RL] WITH (NOLOCK) 
				WHERE [RL].[Document No_] = [RH].[No_]
				  AND [RAL].[Input Parameter 2 Code] = [RL].[No_] 
				ORDER BY [RL].[Value Decimal] DESC) [Input Value 2]
		FROM [HRS$Rebate Line]   [RL] WITH (NOLOCK) 
		JOIN [HRS$Rebate Header] [RH] WITH (NOLOCK) 
		  ON [RL].[Document No_] = [RH].[No_]
		JOIN [HRS$Parameter]     [PA] WITH (NOLOCK)
		  ON [PA].[Code]  = [RL].[No_]

   LEFT JOIN [HRS$Rebate Agreement Header]	[RAH] WITH (NOLOCK)
		  ON [RH].[Rebate Agreement No_] = [RAH].[No_]	
   LEFT JOIN [HRS$Rebate Agreement Line]		[RAL] WITH (NOLOCK)
		  ON [RAH].[No_] = [RAL].[Rebate No_]
		 AND [PA].[Code]  = [RAL].[Output Parameter Code]
		 AND [RL].[Threshold Value Index] <> 0

	   WHERE [RH].[No_]   = @ReNr
		 AND [RL].[Type] IN (1,2)
	UNION 
	  SELECT [RL].[No_], [RL].[Value Decimal], [PA].[Name], [PA].[Value Decimal] [Constant Value Decimal], [RL].[Threshold Value Index], [RL].[Value]
		   , CASE WHEN [RH].[Input Parameter TMC API 1] = [RL].[No_] THEN 'API1'
				  WHEN [RH].[Input Parameter TMC API 2] = [RL].[No_] THEN 'API2'
				  WHEN [RH].[Input Parameter TMC API 3] = [RL].[No_] THEN 'API3'
				  WHEN [RH].[Input Parameter TMC API 4] = [RL].[No_] THEN 'API4'
				  WHEN [RH].[Input Parameter TMC GDS 1] = [RL].[No_] THEN 'GDS1'
				  WHEN [RH].[Input Parameter TMC GDS 2] = [RL].[No_] THEN 'GDS2'
				  WHEN [RH].[Input Parameter TMC GDS 3] = [RL].[No_] THEN 'GDS3'
				  WHEN [RH].[Input Parameter TMC GDS 4] = [RL].[No_] THEN 'GDS4'
				  WHEN [RH].[Input Parameter TMC RD 1]  = [RL].[No_] THEN 'xRD1'
				  WHEN [RH].[Input Parameter TMC RD 2]  = [RL].[No_] THEN 'xRD2'
				  WHEN [RH].[Input Parameter TMC RD 3]  = [RL].[No_] THEN 'xRD3'
				  WHEN [RH].[Input Parameter TMC RD 4]  = [RL].[No_] THEN 'xRD4'
				  WHEN [RH].[Input Parameter TMC RR 1]  = [RL].[No_] THEN 'xRR1'
				  WHEN [RH].[Input Parameter TMC RR 2]  = [RL].[No_] THEN 'xRR2'
				  WHEN [RH].[Input Parameter TMC RR 3]  = [RL].[No_] THEN 'xRR3'
				  WHEN [RH].[Input Parameter TMC RR 4]  = [RL].[No_] THEN 'xRR4'
				  ELSE NULL
			  END [TMC Parameter]
			, CASE WHEN [RH].[Input Parameter TMC API 4] = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC GDS 4] = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC RD 4]  = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
				   WHEN [RH].[Input Parameter TMC RR 4]  = [RAL].[Output Parameter Code] THEN [RAL].[Matrix _ Vector Code]
			 END [Matrix _ Vector Code] 
			, (SELECT TOP 1 [RL].[Value Decimal] FROM [HRS$Rebate Line]   [RL] WITH (NOLOCK) 
				WHERE [RL].[Document No_] = [RH].[No_]
				  AND [RAL].[Input Parameter 2 Code] = [RL].[No_] 
				ORDER BY [RL].[Value Decimal] DESC)	[Input Value 2]
		FROM [HRS$Posted Rebate Line]   [RL] WITH (NOLOCK) 
		JOIN [HRS$Posted Rebate Header] [RH] WITH (NOLOCK) 
		  ON [RL].[Document No_] = [RH].[No_]
		JOIN [HRS$Parameter]     [PA] WITH (NOLOCK)
		  ON [PA].[Code]  = [RL].[No_]

   LEFT JOIN [HRS$Rebate Agreement Header]	[RAH] WITH (NOLOCK)
		  ON [RH].[Rebate Agreement No_] = [RAH].[No_]	
   LEFT JOIN [HRS$Rebate Agreement Line]		[RAL] WITH (NOLOCK)
		  ON [RAH].[No_] = [RAL].[Rebate No_]
		 AND [PA].[Code]  = [RAL].[Output Parameter Code]
		 AND [RL].[Threshold Value Index] <> 0

	   WHERE (RH.[No_] = @ReNr OR [RH].[Rebate No_] = @ReNr)
		 AND [RL].[Type] IN (1,2)
	)

	INSERT INTO @Result
	SELECT (SELECT [Value Decimal] FROM [RL] WHERE [TMC Parameter] = @Feetype + '1')	
		 , [P3].[Value Decimal]													
		 , [M].[Value]															
		 , [P3].[Value Decimal] / 100 * [P2].[Value Decimal]					
		 , [P4]. [Input Value 2]												
		 , [M].[ROWNUMBER]														
		 , [M].[Value Type]														
		 , [M].[ROWNUMBER]											[Range Line 1 No_]
		 , (SELECT TOP 1 [ROWNUMBER]
			  FROM @Matrix
			 WHERE [P4].[Input Value 2] >= [Value From (Decimal) 2] 
			   AND [P4].[Input Value 2] <  [Value To (Decimal) 2])	[Range Line 2 No_]
		 , [M].[Value]
		 , [M].[Value Text]
		 , [M].[Value Decimal]
		 , [M].[OLAP Dim_ 1 Code]
		 , [M].[OLAP Dim_ 2 Code]
		 , [M].[Description 1]
		 , [M].[Description 2]
		 , (SELECT TOP 1 [ROWNUMBER]
			  FROM @Matrix
			 WHERE [P4].[Input Value 2] >= [Value From (Decimal) 2] 
			   AND [P4].[Input Value 2] <  [Value To (Decimal) 2]) [No Final Row Calculate]
	 FROM [RL] [P2] 
	 JOIN [RL] [P3] 
	   ON [P2].[Threshold Value Index] = [P3].[Threshold Value Index]
	 JOIN [RL] [P4] 
	   ON [P2].[Threshold Value Index] = [P4].[Threshold Value Index]
	 JOIN @Matrix	[M]
	   ON [P4].[Matrix _ Vector Code]  = [M].[Matrix Code]
	  AND [P4].[Threshold Value Index] = [M].[ROWNUMBER]
    WHERE [P2].[TMC Parameter] = @Feetype + '2'
	  AND [P3].[TMC Parameter] = @Feetype + '3' 
	  AND [P4].[TMC Parameter] = @Feetype + '4' 

	MERGE @Result	[R]
	USING @Matrix	[M]
--	   ON [R].[ROWNUMBER] = [M].[ROWNUMBER]
	  ON [R].[Range Line 1 No_] = [M].[Range Line 1 No_]
	 AND [R].[Range Line 2 No_] = [M].[Range Line 2 No_]
	WHEN NOT MATCHED BY TARGET
		THEN INSERT([Threshold], [ROWNUMBER], [Value Type], [Range Line 1 No_], [Range Line 2 No_], [Value], [Value Text], [Value Decimal], [OLAP Dim_ 1 Code], [OLAP Dim_ 2 Code], [Description 1], [Description 2], [No Final Row Calculate]) 
			 VALUES([Value], [ROWNUMBER], [Value Type], [Range Line 1 No_], [Range Line 2 No_], [Value], [Value Text], [Value Decimal], [OLAP Dim_ 1 Code], [OLAP Dim_ 2 Code], [Description 1], [Description 2], 0)
	WHEN MATCHED 
		THEN UPDATE SET [R].[Description 2] = [M].[Description 2]
					  , [R].[Value] = [M].[Value]
		;

	SELECT * 
	  FROM @Result 
  ORDER BY [Range Line 1 No_], [Range Line 2 No_] 		
  
END						
GO
