USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [HRSDB].[CompareDB2toNAVBookingparts]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 27.11.2012
-- Description:	
/*
EXEC [HRSDB].[CompareDB2toNAVBookingparts]
*/
-- =============================================
CREATE PROCEDURE [HRSDB].[CompareDB2toNAVBookingparts] 
AS
BEGIN
DECLARE @DateFrom datetime, @DateTo datetime, @HotelNo int

IF DATEPART(dd,GETDATE()) > 5
  BEGIN
   SELECT @DateTo = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,GETDATE()),120),10) AS DATETIME)
        , @DateFrom = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE()),120),10) AS DATETIME)
        , @HotelNo = NULL
  END
ELSE
  BEGIN
   SELECT @DateTo = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())),120),10) AS DATETIME)
        , @DateFrom = CAST(LEFT(CONVERT(VARCHAR,DATEADD(MM,-1,DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())),120),10) AS DATETIME)
        , @HotelNo = NULL
  END

PRINT @DateFrom 
PRINT @DateTo 
  
;WITH _NAV AS
(      
SELECT AL.[Reservation No_], AL.[Position No_], '[HRS-CN$Agency Line]' Source, AL.[Reservation Status]
  FROM [HRS-CN$Agency Line] AL WITH (NOLOCK)
  JOIN [HRS-CN$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CL.[Reservation No_], CL.[Position No_], '[HRS-CN$Correction Agency Line]' Source, 10000 
  FROM [HRS-CN$Correction Agency Line] CL WITH (NOLOCK)
  JOIN [HRS-CN$Correction Agency Header] CH WITH (NOLOCK)
    ON CH.[Reservation No_] = CL.[Reservation No_]
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo   
UNION ALL   
SELECT AL.[Reservation No_], AL.[Position No_], '[HRS$Agency Line]' Source, AL.[Reservation Status]
  FROM [HRS$Agency Line] AL WITH (NOLOCK)
  JOIN [HRS$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CL.[Reservation No_], CL.[Position No_], '[HRS$Correction Agency Line]' Source, 10000
  FROM [HRS$Correction Agency Line] CL WITH (NOLOCK)
  JOIN [HRS$Correction Agency Header] CH WITH (NOLOCK)
    ON CH.[Reservation No_] = CL.[Reservation No_]
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo      
UNION ALL   
SELECT AL.[Reservation No_], AL.[Position No_], '[TISCOVER$Agency Line]' Source, AL.[Reservation Status]
  FROM [TISCOVER$Agency Line] AL WITH (NOLOCK)
  JOIN [TISCOVER$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CL.[Reservation No_], CL.[Position No_], '[TISCOVER$Correction Agency Line]' Source, 10000
  FROM [TISCOVER$Correction Agency Line] CL WITH (NOLOCK)
  JOIN [TISCOVER$Correction Agency Header] CH WITH (NOLOCK)
    ON CH.[Reservation No_] = CL.[Reservation No_]
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo      
UNION ALL   
SELECT AL.[Reservation No_], AL.[Position No_], '[hotel_de$Agency Line]' Source, AL.[Reservation Status]
  FROM [hotel_de$Agency Line] AL WITH (NOLOCK)
  JOIN [hotel_de$Agency Header] AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
 WHERE (AH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND AH.[Departure Date] BETWEEN @DateFrom AND @DateTo
UNION ALL   
SELECT CL.[Reservation No_], CL.[Position No_], '[hotel_de$Correction Agency Line]' Source, 10000
  FROM [hotel_de$Correction Agency Line] CL WITH (NOLOCK)
  JOIN [hotel_de$Correction Agency Header] CH WITH (NOLOCK)
    ON CH.[Reservation No_] = CL.[Reservation No_]
 WHERE (CH.[Hotel No_] = @HotelNo OR @HotelNo IS NULL)
   AND CH.[Departure Date] BETWEEN @DateFrom AND @DateTo      
), NAV AS
(
SELECT [Reservation No_], [Position No_], MAX([Reservation Status]) [Reservation Status] FROM _NAV GROUP BY [Reservation No_], [Position No_]
), Compare AS
(
   SELECT S.B_KEY,BT_POS
        , CASE WHEN COALESCE(B.B_STATUS,0) = 10000 THEN 
            10000 
          ELSE 
            S.B_STATUS 
          END B_STATUS
        , (
          CASE WHEN N.[Reservation No_] IS NULL OR COALESCE(N.[Reservation Status],10000) <> 
            CASE WHEN COALESCE(B.B_STATUS,0) = 10000 THEN 
              10000 
            ELSE 
              S.B_STATUS 
            END 
          THEN 
            1 
          ELSE 
            0 
          END
          ) [Different]
        , N.* 
     FROM HRSDB.BUCHTEIL S
LEFT JOIN HRSDB.BUCHUNG B
       ON B.B_KEY = S.B_KEY
     JOIN HRSDB.HOTEL    H
       ON S.H_KEY = H.H_KEY
LEFT JOIN NAV N
       ON N.[Reservation No_] = S.B_KEY
      AND N.[Position No_] = S.BT_POS     
    WHERE (H.H_KEY = @HotelNo OR @HotelNo IS NULL)
      AND S.B_AB_DATUM BETWEEN @DateFrom AND @DateTo
      AND H.H_TEST_HOTEL = 0
      AND NOT S.MUSE_ID IN ('TISCOVER','HOTELDE')
)
SELECT 'DB2TONAV' [Transfer], 'RATIO' [Category], (1-SUM(Different)*1./COUNT(1)) [Value]
  FROM Compare
UNION
SELECT 'DB2TONAV' [Transfer], 'COMPL' [Category], SUM(Different)*1./COUNT(1) [Value]
  FROM Compare
END
GO
