USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [HRSDB].[FlagReservationAmounts]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 12.02.19
-- Description:	Ermittelt zu jeder Buchung ob die zugehörigen Buchteile den netto oder Bruttowert halten
--              Entspricht die Summe der Buchteilwerte dem Feldinhalt B_TOTAL_RATE und nicht dem Feldinhalt B_TOTAL_RATE_INCLUSIVE,
--              so soll mit dem um die Steuer erhöhten Betrag weiter gerechnet werden:
--              BT_PREIS <- BT_PREIS * B_TOTAL_RATE_INCLUSIVE / B_TOTAL_RATE
--              BT_FRST_PREIS <- BT_FRST_PREIS * B_TOTAL_RATE_INCLUSIVE / B_TOTAL_RATE
--              
--              Das Ergebnis wird in eine neue Tabelle HRSDB.BUCHUNG_KORREKTUR geschrieben. Das Feld BT_COMPARE_STATUS enthält dann 
--              folgende Werte: 
--
-- BT_COMPARE_STATUS
-- =================
-- 0 : Hotelumsatz = 0 aus Buchteil                                   -> keine Änderung
-- 1 : Buchteil Netto                                                 -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 2 : Total Rate = Total Rate Incl.                                  -> keine Änderung
-- 3 : Buchteil Brutto                                                -> keine Änderung
-- 4 : Buchteil OK aber größer als Total Rate                         -> keine Änderung
-- 5 : Total Rate = Total Rate Incl. aber <> Buchteilsumme            -> keine Änderung
-- 6 : Buchteil ist Netto und Total Rate ein vielfaches von Buchteil  -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 7 : Buchteil ist Brutto und Total Rate ein vielfaches von Buchteil -> keine Änderung 
--
--              Der Betrag darf in nachfolgenden Prozessen nicht in die Tabelle HRSDB.BUCHTEIL geschrieben werden. Vielmehr
--              muss die Beladung von Navision angepasst erfolgen.
--
-- Example      EXEC HRSDB.FlagReservationAmounts 
-- =============================================
CREATE PROCEDURE [HRSDB].[FlagReservationAmounts] 
AS
BEGIN
IF OBJECT_ID('tempdb..#BKG') IS NOT NULL
  DROP TABLE #BKG

CREATE TABLE #BKG (B_KEY_LU int primary key, BT_HOTEL_TURNOVER bigint)
INSERT INTO #BKG 
SELECT B_KEY
	    , SUM(
        CASE WHEN DATEDIFF(dd,BT_VON,BT_BIS)=0 THEN 1 ELSE DATEDIFF(dd,BT_VON,BT_BIS) END * BT_ANZAHL * BT_PREIS
		+ CASE WHEN BT_FRSTCK = 1 THEN BT_FRSTCK * BT_ANZAHL * CASE WHEN DATEDIFF(dd,BT_VON,BT_BIS)=0 THEN 1 ELSE DATEDIFF(dd,BT_VON,BT_BIS) END * BT_PAX_COUNT ELSE 0 END
		) BT_HOTEL_TURNOVER
    FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
    WHERE B_STATUS IN (0,1,10000,19997)
GROUP BY B_KEY
ORDER BY B_KEY

-- BookingValue
-- ------------
-- 0 : Hotelumsatz = 0 aus Buchteil           -> keine Änderung
-- 1 : Buchteil Netto                         -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 2 : Total Rate = Total Rate Incl.          -> keine Änderung
-- 3 : Buchteil Brutto                        -> keine Änderung
-- 4 : Buchteil OK aber größer als Total Rate -> keine Änderung
-- 5 : Total Rate = Total Rate Incl. aber <> Buchteilsumme -> keine Änderung
-- 6 : Buchteil ist Netto und Total Rate ein vielfaches von Buchteil -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 7 : Buchteil ist Brutto und Total Rate ein vielfaches von Buchteil -> keine Änderung
;WITH Compare AS
(
SELECT B_KEY, BU.B_TOTAL_RATE, BU.B_TOTAL_RATE_INCLUSIVE, BT_HOTEL_TURNOVER
     , CASE
	     WHEN BT_HOTEL_TURNOVER=0 THEN 0
	     WHEN ABS(BU.B_TOTAL_RATE - BT_HOTEL_TURNOVER)/ABS(BT_HOTEL_TURNOVER)<0.01 AND ABS(BU.B_TOTAL_RATE_INCLUSIVE-BT_HOTEL_TURNOVER)/ABS(BT_HOTEL_TURNOVER)>=0.01 THEN 1 
		 WHEN ABS(BU.B_TOTAL_RATE - BT_HOTEL_TURNOVER)/ABS(BT_HOTEL_TURNOVER)<0.01 AND ABS(BU.B_TOTAL_RATE_INCLUSIVE - BT_HOTEL_TURNOVER)/ABS(BT_HOTEL_TURNOVER)<0.01 THEN 2
		 WHEN BU.B_TOTAL_RATE=BU.B_TOTAL_RATE_INCLUSIVE THEN 5
		 WHEN BU.B_TOTAL_RATE <> BT_HOTEL_TURNOVER AND ABS(BU.B_TOTAL_RATE_INCLUSIVE-BT_HOTEL_TURNOVER)/ABS(BT_HOTEL_TURNOVER)<0.01 THEN 3
		 WHEN ABS(BT_HOTEL_TURNOVER) > ABS(BU.B_TOTAL_RATE) AND ABS(BT_HOTEL_TURNOVER) > ABS(BU.B_TOTAL_RATE_INCLUSIVE) THEN 4
		 WHEN CASE WHEN BU.B_TOTAL_RATE=0 THEN 1 ELSE BU.B_TOTAL_RATE*1.0 % BT_HOTEL_TURNOVER / BU.B_TOTAL_RATE END <0.01 THEN 6
		 WHEN CASE WHEN BU.B_TOTAL_RATE_INCLUSIVE=0 THEN 1 ELSE BU.B_TOTAL_RATE_INCLUSIVE*1.0 % BT_HOTEL_TURNOVER / BU.B_TOTAL_RATE_INCLUSIVE END <0.01 THEN 7
		 ELSE null
	   END BookingValue
  FROM #BKG
  JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON B_KEY_LU = B_KEY 
 WHERE NOT BU.B_TOTAL_RATE IS NULL
   AND NOT BU.B_TOTAL_RATE_INCLUSIVE IS NULL
)
   INSERT INTO HRSDB.BUCHUNG_KORREKTUR
   SELECT C.* 
     FROM Compare C
LEFT JOIN HRSDB.BUCHUNG_KORREKTUR K
       ON K.B_KEY = C.B_KEY
    WHERE K.B_KEY IS NULL
 ORDER BY C.B_KEY
END
GO
