USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [ITELYA].[GetInvoiceGUID]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ITELYA].[GetInvoiceGUID]
  @id varchar(50)
AS BEGIN
  IF EXISTS(SELECT * FROM ITELYA.Document WHERE UPPER([transactionIdentifier])=UPPER(@id))
    SELECT [file] INVOICE_BLOB_DATA FROM ITELYA.Document WHERE UPPER([transactionIdentifier])=UPPER(@id)
  ELSE
    SELECT INVOICE_BLOB_DATA FROM DynNavHRS.HRSDB.CIA_PS_INVOICE_PDF WHERE CIA_PS_INVOICE_PDF.INVOICE_ID_VALUE=lower(@id)
END
GO
