USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [ITELYA].[spSetImportedgzFile]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 02.07.20
-- Description:	Filled by ItelyaInvoice.dtsx
-- =============================================
CREATE PROCEDURE [ITELYA].[spSetImportedgzFile]
	@fileName varchar(250)
AS
BEGIN
  IF EXISTS(SELECT * FROM ITELYA.gzFile WHERE [fileName] = @fileName)
    UPDATE ITELYA.gzFile SET [imported]=1 WHERE [fileName] = @fileName
  ELSE
    INSERT INTO ITELYA.gzFile ([fileName],[imported]) VALUES (@fileName,1)
END
GO
