USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [ITELYA].[InsertUpdateMeetagoInvoice]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ITELYA].[InsertUpdateMeetagoInvoice] 
AS BEGIN
    DELETE FROM [DynNavHRS].dbo.[Itelya Invoice] WHERE [Type]>1
    CREATE TABLE #II ([Invoice GUID] [varchar](36) COLLATE Latin1_General_CS_AS NOT NULL,[Position No_] [int] NOT NULL,[Type] [int] NOT NULL,[Process No_] [int] NOT NULL,[Hotel No_] [int] NOT NULL,[Company No_] [int] NOT NULL,[Customer No_] [int] NOT NULL,[External Invoice No_] [varchar](50) COLLATE Latin1_General_CS_AS NOT NULL,[Invoice Date] [datetime] NOT NULL,[VAT Base Amount] [decimal](38, 20) NOT NULL,[Amount] [decimal](38, 20) NOT NULL,[VAT Amount] [decimal](38, 20) NOT NULL,[Currency Code] [varchar](10) COLLATE Latin1_General_CS_AS NOT NULL,[VAT Base Amount (LCY)] [decimal](38, 20) NOT NULL,[Amount (LCY)] [decimal](38, 20) NOT NULL,[VAT Amount (LCY)] [decimal](38, 20) NOT NULL,[Arrival Date] [datetime] NOT NULL,[Departure Date] [datetime] NOT NULL,[Cost Center] [varchar](250) COLLATE Latin1_General_CS_AS NOT NULL,[Purchase Order] [varchar](250) COLLATE Latin1_General_CS_AS NOT NULL,[Job No_] [varchar](250) COLLATE Latin1_General_CS_AS NOT NULL,[SIEMENS ARE No_] [varchar](250) COLLATE Latin1_General_CS_AS NOT NULL,[Service Date] [datetime] NOT NULL,[Service Code] [varchar](20) COLLATE Latin1_General_CS_AS NOT NULL,[Service Description] [varchar](250) COLLATE Latin1_General_CS_AS NOT NULL,[VAT Rate] [decimal](38, 20) NOT NULL,[Posted] tinyint NOT NULL, CONSTRAINT [Itelya Invoice$0] PRIMARY KEY CLUSTERED ([Invoice GUID] ASC,[Position No_] ASC,[Type] ASC))
    INSERT INTO #II ([Invoice GUID],[Position No_],[Type],[Process No_],[Hotel No_],[Company No_],[Customer No_],[External Invoice No_],[Invoice Date],[VAT Base Amount],[Amount],[VAT Amount],[Currency Code],[VAT Base Amount (LCY)],[Amount (LCY)],[VAT Amount (LCY)],[Arrival Date],[Departure Date],[Cost Center],[Purchase Order],[Job No_],[SIEMENS ARE No_],[Service Date],[Service Code],[Service Description],[VAT Rate],[Posted])
    SELECT [Invoice GUID],[Position No_],[Type],[Process No_],[Hotel No_],[Company No_],[Customer No_],[External Invoice No_],[Invoice Date],[VAT Base Amount],[Amount],[VAT Amount],[Currency Code],[VAT Base Amount (LCY)],[Amount (LCY)],[VAT Amount (LCY)],[Arrival Date],[Departure Date],[Cost Center],[Purchase Order],[Job No_],[SIEMENS ARE No_],[Service Date],[Service Code],[Service Description],[VAT Rate],[Posted] FROM [Select Itelya Invoice]

    DELETE FROM [DynNavHRS].dbo.[Itelya Invoice] WHERE NOT [Invoice GUID] IN (SELECT DISTINCT [Invoice GUID] FROM #II)

    UPDATE INV SET 
           INV.[Process No_] = II.[Process No_]
         , INV.[Hotel No_] = II.[Hotel No_]
         , INV.[Company No_] = II.[Company No_]
         , INV.[Customer No_] = II.[Customer No_]
         , INV.[External Invoice No_] = II.[External Invoice No_]
         , INV.[Invoice Date] = II.[Invoice Date]  
         , INV.[VAT Base Amount] = INV.[VAT Base Amount]
         , INV.[Amount] = II.[Amount] 
         , INV.[VAT Amount] = II.[VAT Amount]
         , INV.[Currency Code] = II.[Currency Code]
         , INV.[VAT Base Amount (LCY)] = II.[VAT Base Amount (LCY)]
         , INV.[Amount (LCY)] = II.[Amount (LCY)]
         , INV.[VAT Amount (LCY)] = II.[VAT Amount (LCY)]
         , INV.[Arrival Date] = II.[Arrival Date]
         , INV.[Departure Date] = II.[Departure Date]
         , INV.[Cost Center] = II.[Cost Center]
         , INV.[Purchase Order] = II.[Purchase Order]
         , INV.[Job No_] = II.[Job No_]
         , INV.[SIEMENS ARE No_] = II.[SIEMENS ARE No_]
         , INV.[Service Date] = II.[Service Date]
         , INV.[Service Code] = II.[Service Code]
         , INV.[Service Description] = II.[Service Description]
         , INV.[VAT Rate] = II.[VAT Rate]
      FROM [DynNavHRS].dbo.[Itelya Invoice] INV
      JOIN #II II ON II.[Invoice GUID]=INV.[Invoice GUID] AND II.[Position No_]=INV.[Position No_] AND II.[Type]=INV.[Type]
     WHERE INV.[Process No_] <> II.[Process No_]
        OR INV.[Hotel No_] = II.[Hotel No_]
        OR INV.[Company No_] = II.[Company No_]
        OR INV.[Customer No_] = II.[Customer No_]
        OR INV.[External Invoice No_] = II.[External Invoice No_]
        OR INV.[Invoice Date] = II.[Invoice Date]  
        OR INV.[VAT Base Amount] = INV.[VAT Base Amount]
        OR INV.[Amount] = II.[Amount] 
        OR INV.[VAT Amount] = II.[VAT Amount]
        OR INV.[Currency Code] = II.[Currency Code]
        OR INV.[VAT Base Amount (LCY)] = II.[VAT Base Amount (LCY)]
        OR INV.[Amount (LCY)] = II.[Amount (LCY)]
        OR INV.[VAT Amount (LCY)] = II.[VAT Amount (LCY)]
        OR INV.[Arrival Date] = II.[Arrival Date]
        OR INV.[Departure Date] = II.[Departure Date]
        OR INV.[Cost Center] = II.[Cost Center]
        OR INV.[Purchase Order] = II.[Purchase Order]
        OR INV.[Job No_] = II.[Job No_]
        OR INV.[SIEMENS ARE No_] = II.[SIEMENS ARE No_]
        OR INV.[Service Date] = II.[Service Date]
        OR INV.[Service Code] = II.[Service Code]
        OR INV.[Service Description] = II.[Service Description]
        OR INV.[VAT Rate] = II.[VAT Rate]

    INSERT INTO [DynNavHRS].dbo.[Itelya Invoice] ([Invoice GUID],[Position No_],[Type],[Process No_],[Hotel No_],[Company No_],[Customer No_],[External Invoice No_],[Invoice Date],[VAT Base Amount],[Amount],[VAT Amount],[Currency Code],[VAT Base Amount (LCY)],[Amount (LCY)],[VAT Amount (LCY)],[Arrival Date],[Departure Date],[Cost Center],[Purchase Order],[Job No_],[SIEMENS ARE No_],[Service Date],[Service Code],[Service Description],[VAT Rate],[Payment Type],[CentralPay],[Contract No_],[Start Date],[End Date],[Offer Date],[Posted])
    SELECT [Invoice GUID],[Position No_],[Type],[Process No_],[Hotel No_],[Company No_],[Customer No_],[External Invoice No_],[Invoice Date],[VAT Base Amount],[Amount],[VAT Amount],[Currency Code],[VAT Base Amount (LCY)],[Amount (LCY)],[VAT Amount (LCY)],[Arrival Date],[Departure Date],[Cost Center],[Purchase Order],[Job No_],[SIEMENS ARE No_],[Service Date],[Service Code],[Service Description],[VAT Rate],14,0,'' [Contract No_],'1753-01-01' [Start Date],'1753-01-01' [End Date],'1753-01-01' [Offer Date],[Posted]
      FROM #II II
 LEFT JOIN (SELECT [Invoice GUID] [InvoiceGUID],[Position No_] [PositionNo],[Type] [LineType]  FROM [DynNavHRS].dbo.[Itelya Invoice]) Q ON II.[Invoice GUID]=Q.[InvoiceGUID] AND II.[Position No_]=Q.PositionNo AND II.Type=Q.LineType
     WHERE Q.InvoiceGUID IS NULL

-- Special Case : Sanofi + SIEMENS Energy
UPDATE II SET II.[Payment Type]=15, [CentralPay]=1
  FROM [Itelya Invoice] II
  JOIN [HRS PaySol$Paym_ Company] CO ON II.[Company No_]=CO.[Company No_]
 WHERE (UPPER(CO.[Company Name]) LIKE '%SANOFI%') OR (UPPER(CO.[Company Name]) LIKE '%SIEMENS ENERGY%' OR II.[Company No_] IN (13771,1080748125,1080748129,1080748130,1082688039,1082688040,1082688041))
   AND (II.[Payment Type]<>15 OR [CentralPay]<>1)

-- Special Case : SIEMENS ohne Energy
UPDATE II SET II.[Payment Type]=15, [CentralPay]=0
  FROM [Itelya Invoice] II
  JOIN [HRS PaySol$Paym_ Company] CO ON II.[Company No_]=CO.[Company No_]
 WHERE (CO.[Company No_] IN (1063245015,1062596003,1062596004,1077757002,1061638053,1061638050,1061638056,1061638055,1061638054,1061638052,1061638051,1061766023,1078791005,1058402019,1061638046,1065261006,1061638047,1061638048,1061638049,1077318162,1078791008,1078791010,1078791002,1078791009,1078791011,1078791012,1078791013,1078791014,1061906361,1077318072,1077318071,1064830021,1062890041)) OR (UPPER(CO.[Company Name]) LIKE '%SIEMENS%')
   AND (CO.[Company No_] NOT IN (1082530001))
   AND (II.[Payment Type]<>15 OR [CentralPay]<>0)
   AND NOT (UPPER(CO.[Company Name]) LIKE '%SIEMENS ENERGY%')

-- Special Case : Rest
UPDATE II SET II.[Payment Type]=14, [CentralPay]=0
  FROM [Itelya Invoice] II
  JOIN [HRS PaySol$Paym_ Company] CO ON II.[Company No_]=CO.[Company No_]
 WHERE II.[Payment Type]=0

-- Update Contract No., Start Date, End Date and Offer Date
UPDATE II SET 
       II.[Contract No_]=COALESCE(CASE WHEN RH.ContractNumber='' THEN II.[Contract No_] ELSE RH.ContractNumber END,'')
     , II.[Offer Date]=CASE WHEN RH.ContractDateSpecified=0 THEN '1753-01-01' ELSE RH.ContractDate END
     , II.[Start Date]=CASE WHEN RH.StartDate<'2000-01-01' THEN '1753-01-01' ELSE RH.StartDate END
     , II.[End Date]=CASE WHEN RH.EndDate<'2000-01-01' THEN '1753-01-01' ELSE RH.EndDate END
  FROM [Itelya Invoice] II
  JOIN MEETAGO.RequestHotel RH ON RH.[RecordId]=II.[Process No_] AND RH.[StatusId]>=17

UPDATE II SET
       II.[Purchase Order]=COALESCE(AD.[Value],'')
  FROM [Itelya Invoice] II
  JOIN MEETAGO.RequestHotel RH WITH (NOLOCK) ON RH.[RecordId]=II.[Process No_] AND RH.[StatusId]>=17
  JOIN MEETAGO.AdditionalData AD ON AD.[RequestId]=RH.[RequestId] AND AD.[Id]=100

UPDATE II SET
       II.[SIEMENS ARE No_]=AD.[Value]
  FROM [Itelya Invoice] II
  JOIN MEETAGO.RequestHotel RH WITH (NOLOCK) ON RH.[RecordId]=II.[Process No_] AND RH.[StatusId]>=17
  JOIN MEETAGO.AdditionalData AD ON AD.[RequestId]=RH.[RequestId] AND AD.[Id]=101

DELETE FROM [Itelya Invoice] WHERE UPPER([Invoice GUID]) IN ('089EA514-80C7-4726-969A-49BD2A220B38','0A62E7C2-CC47-40DA-AADB-E975ACB168EC')
DELETE FROM [HRS Payment$Paym_ Solution Inv_ Imp] WHERE [Invoice GUID] IN ('089EA514-80C7-4726-969A-49BD2A220B38','0A62E7C2-CC47-40DA-AADB-E975ACB168EC')
DELETE FROM [HRS Payment$Paym_ Solution Inv_ Line Imp] WHERE [Invoice GUID] IN ('089EA514-80C7-4726-969A-49BD2A220B38','0A62E7C2-CC47-40DA-AADB-E975ACB168EC')
DELETE FROM [HRS Payment$Paym_ Solution Inv_ VAT Imp] WHERE [Invoice GUID] IN ('089EA514-80C7-4726-969A-49BD2A220B38','0A62E7C2-CC47-40DA-AADB-E975ACB168EC')

END
GO
