USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MEETAGO].[InsertUpdateAdditionalData]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MEETAGO].[InsertUpdateAdditionalData] 
  @requestId int
, @id varchar(50) 
, @name varchar(50)
, @value varchar(250) 
AS
BEGIN
  IF @name IN ('BANF','Bestellung / Purchase Order Number','Bestellung Nr','Order Number','PO','PO number','PO Number','PO Nummer','Purchase Order','Purchase order No','Purchase Order Number','Purchasing Order','RDA request of purchase','SAP Nummer','SD-/CO-Auftragsnummer') 
    SET @id='100'
  IF @name IN ('ARE Nummer')
    SET @id='101'
  IF @name IN ('Project Code','Project Code (Enter 3000 if non- billable)','Project ID','Project Number','Projektnummer','PSP Element','PSP-Element','PSP-Element (Eingabe ohne Punkte)')
    SET @id='102'
  IF @name IN ('Cost center','Cost Center','Cost Center (incl. Company no.)','Cost Centre','Kostenstelle','Kostenstelle/Innenauftragsnummer')
    SET @id='103'

  DELETE FROM MEETAGO.AdditionalData WHERE [RequestId]=@requestId AND [Name]=@name AND [Id]<>@id
  IF NOT EXISTS(SELECT * FROM MEETAGO.AdditionalData WHERE [RequestId]=@requestId AND [Id]=@id)
    INSERT INTO MEETAGO.AdditionalData ([RequestId],[Id],[Name],[Value])
    SELECT @requestId,@id,@name,@value
  ELSE
    UPDATE MEETAGO.AdditionalData SET [Value]=@value WHERE [RequestId]=@requestId AND [Id]=@id

;WITH A1 AS
(
  SELECT AD.RequestId
       , CAST(AD.Id as int) Id
       , AD.Name
       , AD.Value
       , ROW_NUMBER() OVER(PARTITION BY RequestId ORDER BY Id ) [OrderNo]
    FROM MEETAGO.AdditionalData AD
   WHERE AD.Name='PO Nummer' AND AD.Id<>100
), A2 AS
(
  SELECT AD.RequestId
       , CAST(AD.Id as int) Id
       , AD.Name
       , AD.Value
       , ROW_NUMBER() OVER(PARTITION BY RequestId ORDER BY Id ) [OrderNo]
    FROM MEETAGO.AdditionalData AD
   WHERE AD.Name='PO Nummer' AND AD.Id=100
)
UPDATE AD SET 
       AD.Value=CASE WHEN NOT COALESCE(A1.[Value],'') IN ('','tba','TBA','999999999','folgt','wird nachgereicht') THEN A1.[Value] ELSE A2.[Value] END
  FROM A1
  JOIN A2 ON A1.Name=A2.Name AND A1.RequestId=A2.RequestId
  JOIN MEETAGO.AdditionalData AD 
    ON AD.RequestId=A2.RequestId
   AND AD.Name=A2.Name
   AND AD.Id=A2.Id
 WHERE AD.Value<>CASE WHEN NOT COALESCE(A1.[Value],'') IN ('','tba','TBA','999999999','folgt','wird nachgereicht') THEN A1.[Value] ELSE A2.[Value] END

;WITH A1 AS
(
  SELECT AD.RequestId
       , CAST(AD.Id as int) Id
       , AD.Name
       , AD.Value
       , ROW_NUMBER() OVER(PARTITION BY RequestId ORDER BY Id ) [OrderNo]
    FROM MEETAGO.AdditionalData AD
   WHERE AD.Name='PO Nummer' AND AD.Id<>100
), A2 AS
(
  SELECT AD.RequestId
       , CAST(AD.Id as int) Id
       , AD.Name
       , AD.Value
       , ROW_NUMBER() OVER(PARTITION BY RequestId ORDER BY Id ) [OrderNo]
    FROM MEETAGO.AdditionalData AD
   WHERE AD.Name='PO Nummer' AND AD.Id=100
)
DELETE FROM AD
  FROM A1
  JOIN A2 ON A1.Name=A2.Name AND A1.RequestId=A2.RequestId
  JOIN MEETAGO.AdditionalData AD 
    ON AD.RequestId=A1.RequestId
   AND AD.Name=A1.Name
   AND AD.Id=A1.Id
END
GO
