USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MEETAGO].[sp_TransferToBUCHUNG_BUCHTEIL]    Script Date: 10.04.2024 14:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 06.08.2015
-- Description:	Übertragung der Meetago-Buchungen in die tabellen HRSDB.BUCHUNG und HRSDB.BUCHTEIL
/*
EXEC [DynNavHRS].[MEETAGO].[sp_TransferToBUCHUNG_BUCHTEIL] 
*/
-- =============================================
CREATE PROCEDURE [MEETAGO].[sp_TransferToBUCHUNG_BUCHTEIL] 
    --@RebateNo varchar(20)
AS
BEGIN
DECLARE @MeetagoBuchung TABLE (
    [BP_KEY] [int]
  , [B_KEY] [bigint]
  , [BT_POS] [int]
  , [B_KEY_COMMIT] [bigint]
  , [B_AN_DATUM] [date]
  , [B_AB_DATUM] [date]
  , [B_BESTELLER] [varchar](120)
  , [BT_ANZAHL] [smallint]
  , [BT_PAX_COUNT] [smallint]
  , [BT_VON] [date]
  , [BT_BIS] [date]
  , [KE_ID] [smallint]
  , [KE_BID] [smallint]
  , [H_KEY] [int]
  , [L_ID] [int]
  , [MUSE_ID] [varchar](20)
  , [B_QUELLE] [smallint]
  , [CTS] [datetime2](7)
  , [B_STATUS] [smallint]
  , [B_DATUM] [date]
  , [B_TOTAL_RATE] [int]
  , [B_TOTAL_RATE_INCLUSIVE] [int]
  , [BT_PREIS] [int]
  , [BT_RATE_BEZ] [varchar](1000)
  , [BT_KOMM_SATZ] [smallint]
  , [BT_KOMM_ART] [smallint]
  , [K_KEY] [int]
  , [BT_FRSTCK] [smallint]
  , [BT_FRST_PREIS] [int]
  , [BT_ZTYP] [smallint]
  , [BT_RATE_TYP] [smallint]
  , [R_KEY] [int]
  , [BT_ROOM_NUMBER] [smallint]
  , [MA_USER] [varchar](8)
  , [PRC_TYPE_ID] [smallint]
  , [W_ISO] [varchar](3)
  , [W_KURS] [int]
  , [NAV_LOADED] [bit]
  , [B_FIRMA] [varchar](80)
  , [B_GAST1] [varchar](120)
  , PRIMARY KEY CLUSTERED 
    (
	    [B_KEY] ASC
	  , [BT_POS] ASC
    )
)

;WITH HA AS
(
  SELECT HA.[RequestId], 1 [BT_POS], 'Meeting' [BT_RATE_BEZ], CAST(ROUND([Meeting]*100,0) AS INT) [Amount] FROM [MEETAGO].[HotelsAmount] HA UNION
  SELECT HA.[RequestId], 10001 [BT_POS], 'Rooms' [BT_RATE_BEZ], CAST(ROUND(([GuestRooms]+[NoShow]+[Other])*100,0) AS INT) [Amount] FROM [MEETAGO].[HotelsAmount] HA 
), CM AS
(
  SELECT HA.[RequestId], 1 [BT_POS], CAST(ROUND([CommissionMeetingServices]*100,0) AS INT) [BT_KOMM_SATZ] FROM [MEETAGO].[RequestHotel] HA UNION
  SELECT HA.[RequestId], 10001 [BT_POS], CAST(ROUND([CommissionGroupGuestRooms]*100,0) AS INT) [BT_KOMM_SATZ] FROM [MEETAGO].[RequestHotel] HA 
), MB AS
(
SELECT RH.[RequestId] [BP_KEY]
     , RH.[RecordId] [B_KEY]
	 , HA.[BT_POS]
     , RH.[RecordId] [B_KEY_COMMIT]
	 , RH.[StartDate] [B_AN_DATUM]
	 , RH.[EndDate] [B_AB_DATUM]
	 , RH.[InquirerFirstName] + ' ' + RH.[InquirerLastName] [B_BESTELLER]
	 , CASE WHEN HA.[BT_POS] = 1 THEN HC.[QuantityCurrent] ELSE 1 END [BT_ANZAHL]
	 , HR.[Pax] [BT_PAX_COUNT]
	 , HC.[Arrival] [BT_VON]
	 , CASE WHEN HA.[BT_POS] = 1 THEN HC.[Departure] ELSE HC.[Arrival] END [BT_BIS]
	 , HO.[KE_ID] 
	 , HO.[KE_BID] 
	 , HO.[H_KEY]
	 , HO.[L_ID]
	 , 'MEETAGO' [MUSE_ID]
	 , 5 [B_QUELLE]
	 , R.[LastDateModified] [CTS]
	 , CASE WHEN RH.[StatusId] IN (15,15,17) THEN 0 ELSE 10000 END [B_STATUS]
	 , RH.[OfferDate] [B_DATUM]
	 , CAST(ROUND(AM.[Total]*100,0) AS INT) [B_TOTAL_RATE]
	 , CAST(ROUND(AM.[Total]*100,0) AS INT) [B_TOTAL_RATE_INCLUSIVE]
	 , CASE WHEN HA.[BT_POS] = 1 THEN CAST(ROUND(HC.[PricePerNight]*100,2,0) AS int) ELSE HA.[Amount] END [BT_PREIS]
	 , HA.BT_RATE_BEZ
	 , CM.[BT_KOMM_SATZ] [BT_KOMM_SATZ]
	 , 0 [BT_KOMM_ART]
	 --, RH.[InquirerCompanyId] [F_KEY]
	 , RH.[InquirerDepartmentId] [K_KEY]
	 , 0 [BT_FRSTCK]
	 , 0 [BT_FRST_PREIS]
	 , 0 [BT_ZTYP]
	 , 0 [BT_RATE_TYP]
	 , 0 [R_KEY]
	 , 0 [BT_ROOM_NUMBER]
	 , 'MEETAGO' [MA_USER]
	 , 0 [PRC_TYPE_ID]
	 , 'EUR' [W_ISO]
	 , 100000 [W_KURS]
	 , 0 [NAV_LOADED]
	 , RH.[InquirerCompany]
	 , RH.[InquirerFirstName] + ' ' + RH.[InquirerLastName] [B_GAST1]
  FROM [MEETAGO].[RequestHotel] RH
  JOIN [MEETAGO].[Request] R
    ON R.[RequestId] = RH.[RecordId]
  JOIN [MEETAGO].[HotelsRequest] HR
    ON HR.RequestId = RH.[RequestId]
   AND HR.[TypeId] = 'CURRENT'
  JOIN [MEETAGO].[HotelsContingents] HC
    ON HC.[RequestId] = RH.[RequestId]
  JOIN [MEETAGO].[HotelInfoChains] CH
    ON CH.[RequestId] = RH.[RequestId]
  JOIN [MEETAGO].[HotelInfo] HI
    ON HI.[RequestId] = RH.[RequestId]
   AND ISNUMERIC(HI.[HrsId])=0
  JOIN [MEETAGO].[HotelsAmount] AM
    ON AM.[RequestId] = RH.[RequestId]
  JOIN HA
    ON HA.[RequestId] = RH.[RequestId]
  JOIN CM
    ON CM.[RequestId] = HA.[RequestId]
   AND CM.[BT_POS]    = HA.[BT_POS]
  JOIN [HRSDB].[HOTEL] HO
    ON HO.[H_KEY] = HI.[HrsId] 
 WHERE RH.[StatusId] IN (15,16,17,18,19)
)
  INSERT INTO @MeetagoBuchung
  SELECT *
    FROM MB
ORDER BY [B_KEY], [BT_POS]

   INSERT INTO [HRSDB].[BUCHUNG]([B_KEY],[CTS],[K_KEY],[H_KEY],[MA_USER],[B_STATUS],[B_DATUM],[B_ZEIT],[B_QUELLE],[B_AN_DATUM],[B_AB_DATUM],[B_FIRMA],[B_GAST1],[B_GAST2],[B_KOMM_STATUS],[B_K_REF_TEXT],[MUSE_ID],[W_ISO],[W_KURS],[KE_ID],[KE_BID],[B_HANDBOOKING],[B_IFC_VERSION],[B_TOTAL_RATE],[B_TOTAL_RATE_INCLUSIVE],[B_PERCENT_DISCOUNT],[B_PASSWORD],[BP_KEY],[L_ID],[BCDT_VALUE],[NAV_LOADED],[B_BESTELLER],[B_KEY_ALT],[QUALITY_MA_USER],[QUALITY_CTS],[B_KEY_COMMIT],[B_CANCELLATION],[B_ZAHL_ART],[B_KEY_ROOT],[B_KEY_LAST_NBVL],[B_KEY_LAST_BVL],[B_INFORMATION],[B_OFFER_ID])
   SELECT MB.[B_KEY],MB.[CTS],MB.[K_KEY],MB.[H_KEY],MB.[MA_USER],MB.[B_STATUS],MB.[B_DATUM],null,MB.[B_QUELLE],MB.[B_AN_DATUM],MB.[B_AB_DATUM],MB.[B_FIRMA],MB.[B_GAST1],null,null,null,MB.[MUSE_ID],MB.[W_ISO],MB.[W_KURS],MB.[KE_ID],MB.[KE_BID],1 [B_HANDBOOKING],null [B_IFC_VERSION],MB.[B_TOTAL_RATE],MB.[B_TOTAL_RATE_INCLUSIVE],null [B_PERCENT_DISCOUNT],null [B_PASSWORD],MB.[BP_KEY],MB.[L_ID],null [BCDT_VALUE],MB.[NAV_LOADED],MB.[B_BESTELLER],null [B_KEY_ALT],null [QUALITY_MA_USER],null [QUALITY_CTS],MB.[B_KEY_COMMIT],null [B_CANCELLATION],null [B_ZAHL_ART],null [B_KEY_ROOT],null [B_KEY_LAST_NBVL],null [B_KEY_LAST_BVL],null [B_INFORMATION],null [B_OFFER_ID]     
     FROM @MeetagoBuchung MB
LEFT JOIN [HRSDB].[BUCHUNG] BU
       ON BU.B_KEY = MB.B_KEY
	WHERE BU.B_KEY IS NULL
	  AND MB.[BT_POS] = 1

UPDATE BU SET
       BU.[BP_KEY] = MB.[BP_KEY]
     , BU.[B_KEY_COMMIT] = MB.[B_KEY_COMMIT]
     , BU.[B_AN_DATUM] = MB.[B_AN_DATUM]
     , BU.[B_AB_DATUM] = MB.[B_AB_DATUM]
     , BU.[B_BESTELLER] = MB.[B_BESTELLER]
     , BU.[KE_ID] = MB.[KE_ID]
     , BU.[KE_BID] = MB.[KE_BID]
     , BU.[H_KEY] = MB.[H_KEY]
     , BU.[L_ID] = MB.[L_ID]
     , BU.[MUSE_ID] = MB.[MUSE_ID]
     , BU.[B_QUELLE] = MB.[B_QUELLE]
     , BU.[CTS] = MB.[CTS]
     , BU.[B_STATUS] = MB.[B_STATUS]
     , BU.[B_DATUM] = MB.[B_DATUM]
     , BU.[B_TOTAL_RATE] = MB.[B_TOTAL_RATE]
     , BU.[B_TOTAL_RATE_INCLUSIVE] = MB.[B_TOTAL_RATE_INCLUSIVE]
     , BU.[K_KEY] = MB.[K_KEY]
     , BU.[MA_USER] = MB.[MA_USER]
     , BU.[W_ISO] = MB.[W_ISO]
     , BU.[W_KURS] = MB.[W_KURS]
     , BU.[NAV_LOADED] = MB.[NAV_LOADED]
     , BU.[B_FIRMA] = MB.[B_FIRMA]
     , BU.[B_GAST1] = MB.[B_GAST1]
  FROM [HRSDB].[BUCHUNG] BU
  JOIN @MeetagoBuchung MB
    ON MB.B_KEY = BU.[B_KEY]
 WHERE MB.[BT_POS] = 1

   INSERT INTO [HRSDB].[BUCHTEIL]([B_KEY],[CTS],[BT_POS],[BT_VON],[BT_BIS],[BT_ANZAHL],[BT_ZTYP],[BT_RATE_BEZ],[BT_PREIS],[BT_FRSTCK],[BT_FRST_PREIS],[BT_KOMM_ART],[BT_KOMM_SATZ],[BT_KOMM_MWST],[BT_KOMM_FIX],[BT_RATE_TYP],[R_KEY],[BT_ROOM_NUMBER],[BT_PAX_COUNT],[MA_USER],[PRC_TYPE_ID],[H_KEY],[B_STATUS],[B_AB_DATUM],[W_ISO],[W_KURS],[BP_KEY],[L_ID],[MUSE_ID],[BCDT_VALUE],[NAV_LOADED],[BT_NETTO_PREIS],[BT_NETTO_FRST_PREIS])
   SELECT MB.[B_KEY],MB.[CTS],MB.[BT_POS],MB.[BT_VON],MB.[BT_BIS],MB.[BT_ANZAHL],MB.[BT_ZTYP],MB.[BT_RATE_BEZ],MB.[BT_PREIS],MB.[BT_FRSTCK],MB.[BT_FRST_PREIS],MB.[BT_KOMM_ART],MB.[BT_KOMM_SATZ],null [BT_KOMM_MWST],null [BT_KOMM_FIX],MB.[BT_RATE_TYP],MB.[R_KEY],MB.[BT_ROOM_NUMBER],MB.[BT_PAX_COUNT],MB.[MA_USER],MB.[PRC_TYPE_ID],MB.[H_KEY],MB.[B_STATUS],MB.[B_AB_DATUM],MB.[W_ISO],MB.[W_KURS],MB.[BP_KEY],MB.[L_ID],MB.[MUSE_ID],null [BCDT_VALUE],MB.[NAV_LOADED],null [BT_NETTO_PREIS],null [BT_NETTO_FRST_PREIS]     
     FROM @MeetagoBuchung MB
LEFT JOIN [HRSDB].[BUCHTEIL] BT
       ON BT.B_KEY = MB.B_KEY
	  AND BT.BT_POS = MB.BT_POS
	WHERE BT.B_KEY IS NULL

UPDATE BT SET
       BT.[CTS] = MB.[CTS]
     , BT.[BT_VON] = MB.[BT_VON]
     , BT.[BT_BIS] = MB.[BT_BIS]
     , BT.[BT_ANZAHL] = MB.[BT_ANZAHL]
     , BT.[BT_ZTYP] = MB.[BT_ZTYP]
     , BT.[BT_RATE_BEZ] = MB.[BT_RATE_BEZ]
     , BT.[BT_PREIS] = MB.[BT_PREIS]
     , BT.[BT_FRSTCK] = MB.[BT_FRSTCK]
     , BT.[BT_FRST_PREIS] = MB.[BT_FRST_PREIS]
     , BT.[BT_KOMM_ART] = MB.[BT_KOMM_ART]
     , BT.[BT_KOMM_SATZ] = MB.[BT_KOMM_SATZ]
     , BT.[BT_KOMM_MWST] = null
     , BT.[BT_KOMM_FIX] = null
     , BT.[BT_RATE_TYP] = MB.[BT_RATE_TYP]
     , BT.[R_KEY] = MB.[R_KEY]
     , BT.[BT_ROOM_NUMBER] = MB.[BT_ROOM_NUMBER]
     , BT.[BT_PAX_COUNT] = MB.[BT_PAX_COUNT]
     , BT.[MA_USER] = MB.[MA_USER]
     , BT.[PRC_TYPE_ID] = MB.[PRC_TYPE_ID]
     , BT.[H_KEY] = MB.[H_KEY]
     , BT.[B_STATUS] = MB.[B_STATUS]
     , BT.[B_AB_DATUM] = MB.[B_AB_DATUM]
     , BT.[W_ISO] = MB.[W_ISO]
     , BT.[W_KURS] = MB.[W_KURS]
     , BT.[BP_KEY] = MB.[BP_KEY]
     , BT.[L_ID] = MB.[L_ID]
     , BT.[MUSE_ID] = MB.[MUSE_ID]
     , BT.[BCDT_VALUE] = null
     , BT.[NAV_LOADED] = MB.[NAV_LOADED]
     , BT.[BT_NETTO_PREIS] = null
     , BT.[BT_NETTO_FRST_PREIS] = null
  FROM [HRSDB].[BUCHTEIL] BT
  JOIN @MeetagoBuchung MB
    ON MB.B_KEY = BT.[B_KEY]
   AND BT.BT_POS = MB.BT_POS
END
GO
