USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectMissingCostCenter]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[SelectMissingCostCenter]
AS
BEGIN
DECLARE @SQL varchar(max) =''
;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN ';WITH Q AS (SELECT Q.* FROM (VALUES (''AU112000''),(''AU122000''),(''AU134000''),(''AU144100''),(''AU194000''),(''ZZ999300''),(''ZZ168500''),(''AT145000''),(''CH145000''),(''CZ112000''),(''KR112000''),(''RU161000''),(''SE145000''),(''TW112000''),(''ZZ145300'')) Q ([Code]))
' ELSE '
UNION
' END
     + 'SELECT '''+[lkpBUKRS]+''' [BUKRS], '''+[BUKRS]+''' [Company],Q.* FROM Q LEFT JOIN ['+BUKRS+'$Dimension Value] DV ON DV.[Dimension Code]=''KOSTENSTELLE'' AND DV.[Code]=Q.[Code] WHERE DV.[Code] IS NULL'
FROM Q
EXEC DebugPrint @SQL
EXEC(@SQL)

END
GO
