USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_FA_LookupANLA-BUKRS]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [MIGRATION].[ZHRS_MIG_FA_LookupANLA-BUKRS] AS
BEGIN
  SELECT VM.[Source Value] [ANLA-BUKRS]
       , VM.[Destination Value] [lkpANLA-BUKRS]
    FROM [HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
END
GO
