USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_FA_SelectFA]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [MIGRATION].[ZHRS_MIG_FA_SelectFA] AS
BEGIN
;WITH FL AS
(
    SELECT 'HRS Ragge Holding' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [HRS Ragge Holding$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'HRS' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [HRS$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'HRS Product Solutions GmbH' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [HRS Product Solutions GmbH$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'Product Development' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [Product Development$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'Codenet' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [Codenet$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'Hotel Solutions Verwaltung' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [Hotel Solutions Verwaltung$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'HRS PaySol' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [HRS PaySol$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
UNION
    SELECT 'Trade' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , '0.00' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < '2021-01-01' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM [Trade$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]
), FA AS
(
SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [HRS Ragge Holding$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='HRS Ragge Holding' 
     JOIN [HRS Ragge Holding$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [HRS Ragge Holding$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [HRS$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='HRS' 
     JOIN [HRS$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [HRS$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [HRS Product Solutions GmbH$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='HRS Product Solutions GmbH' 
     JOIN [HRS Product Solutions GmbH$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [HRS Product Solutions GmbH$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [Product Development$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='Product Development' 
     JOIN [Product Development$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [Product Development$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [Codenet$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='Codenet' 
     JOIN [Codenet$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [Codenet$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [Hotel Solutions Verwaltung$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='Hotel Solutions Verwaltung' 
     JOIN [Hotel Solutions Verwaltung$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [Hotel Solutions Verwaltung$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [HRS PaySol$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='HRS PaySol' 
     JOIN [HRS PaySol$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [HRS PaySol$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0

UNION

SELECT FL.[ANLA-BUKRS] -- 001
	 , '' [ANLA-ANLN1] -- 002
	 , '' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '' [ANLA-INVNR] -- 008
	 , '' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'') [ANLZ-KOSTL] -- 012
	 , '' [ANLU-ZZ0001] -- 013
	 , '' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])-1)+'.'+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX('.',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '' [ANLZ-WERKS] -- 016
	 , '' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '' [ANLA-LIFNR] -- 019
	 , '' [ANLA-INKEN] -- 020
	 , '' [ANLZ-KFZKZ] -- 021
	 , '' [ANLA-VBUND] -- 022
	 , '' [ANLA-LAND1] -- 023
	 , '' [ANLA-ANLAR] -- 024

	 , '01' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC3]

	 , '15' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC31]

	 , '20' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC32]

	 , '60' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]='BET' THEN '0000' ELSE 'LINS' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX('.',FL.ANLC1)-1)+'.'+SUBSTRING(FL.ANLC1,CHARINDEX('.',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX('.',FL.ANLC3)-1)+'.'+SUBSTRING(FL.ANLC3,CHARINDEX('.',FL.ANLC3)+1,2) [ANLC33]
     FROM [Trade$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='Trade' 
     JOIN [Trade$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN [Trade$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = 'KOSTENSTELLE'
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]='1753-01-01'
      AND FA.[Inactive]=0
)
SELECT FA.[ANLA-BUKRS] -- 001
	 , FA.[ANLA-ANLN1] -- 002
	 , FA.[ANLA-ANLN2] -- 003
	 , FA.[ANLA-ANLKL] --004
	 , FA.[ANLA-TXT50] -- 005
	 , FA.[ANLA-TXA50] -- 006
	 , FA.[ANLA-SERNR] -- 007
	 , FA.[ANLA-INVNR] -- 008
	 , FA.[ANLH-ANLHTXT] -- 009
	 , FA.[ANLA-AKTIV] -- 010
	 , FA.[ANLZ-GSBER] -- 011
	 , KOSTL.lkpKOSTL [ANLZ-KOSTL] -- 012
	 , LEFT(KOSTL.lkpKOSTL,2) [ANLU-ZZ0001] -- 013
	 , FA.[ANLU-ZZ0002] -- 014
	 , FA.[ANLU-ZZ0004] -- 015
	 , FA.[ANLZ-WERKS] -- 016
	 , FA.[ANLZ-IMKEY] -- 017
	 , FA.[ANLA-ANLUE] -- 018
	 , FA.[ANLA-LIFNR] -- 019
	 , FA.[ANLA-INKEN] -- 020
	 , FA.[ANLZ-KFZKZ] -- 021
	 , FA.[ANLA-VBUND] -- 022
	 , FA.[ANLA-LAND1] -- 023
	 , FA.[ANLA-ANLAR] -- 024

	 , FA.[ANLB-AFABE] -- 025
	 , FA.[ANLB-AFASL] -- 026
	 , FA.[ANLB-NDJAR] -- 027
	 , FA.[ANLB-NDPER] -- 028
	 , FA.[ANLB-AFABG] -- 029
	 , FA.[ANLC1]
	 , FA.ANLC2
	 , FA.[ANLC3]

	 , FA.[ANLB-AFABE1] -- 025
	 , FA.[ANLB-AFASL1] -- 026
	 , FA.[ANLB-NDJAR1] -- 027
	 , FA.[ANLB-NDPER1] -- 028
	 , FA.[ANLB-AFABG1] -- 029
	 , FA.[ANLC11]
	 , FA.[ANLC21]
	 , FA.[ANLC31]

	 , FA.[ANLB-AFABE2] -- 025
	 , FA.[ANLB-AFASL2] -- 026
	 , FA.[ANLB-NDJAR2] -- 027
	 , FA.[ANLB-NDPER2] -- 028
	 , FA.[ANLB-AFABG2] -- 029
	 , FA.[ANLC12]
	 , FA.[ANLC22]
	 , FA.[ANLC32]

	 , FA.[ANLB-AFABE3] -- 025
	 , FA.[ANLB-AFASL3] -- 026
	 , FA.[ANLB-NDJAR3] -- 027
	 , FA.[ANLB-NDPER3] -- 028
	 , FA.[ANLB-AFABG3] -- 029
	 , FA.[ANLC13]
	 , FA.[ANLC23]
	 , FA.[ANLC33] 
  FROM FA 
  JOIN KOSTL
    ON FA.[ANLZ-KOSTL] = KOSTL.KOSTL
   AND FA.[ANLA-BUKRS] = KOSTL.BUKRS
 ORDER BY 1,6
END
GO
