USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_BP_FLVN01_LookupFIBUKRS]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[ZHRS_MIG_BP_FLVN01_LookupFIBUKRS] AS
BEGIN
  SELECT REPLACE(VM.[Source Value],'.','_') [FIBUKRS]
       , VM.[Destination Value] [lkpFIBUKRS]
    FROM [HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
END
GO
