USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[UpdateCostCenterMapping]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[UpdateCostCenterMapping]
AS
BEGIN
  SELECT 1
END
GO
