USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectVendorMapping]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[SelectVendorMapping]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''
IF OBJECT_ID('BPEXT') IS NOT NULL
  DROP TABLE BPEXT
CREATE TABLE BPEXT ([BUKRS] varchar(4), [Mandant] varchar(35), [BPEXTfromNAV] varchar(20), [BPEXTfromSAP] varchar(20),PRIMARY KEY ([BUKRS],[BPEXTfromNAV]))
;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '
' ELSE '
' END
     + 'INSERT INTO BPEXT
   SELECT '''+lkpBUKRS+''' [BUKRS]
        , '''+BUKRS+''' [Mandant]
        , '''+lkpBUKRS+'-''+CAST(VE.[No_] as varchar(max)) [BPEXTfromNAV]
        , CASE WHEN VM.[Destination Value]<>'''' THEN VM.[Destination Value] ELSE '''+lkpBUKRS+'-''+CAST(VE.[No_] as varchar(max)) END [BPEXTfromSAP]
     FROM DynNavHRS.dbo.['+BUKRS+'$Vendor] VE WITH (NOLOCK)
     JOIN ['+BUKRS+'$Value Mapping] VM WITH (NOLOCK) ON VE.[No_] = VM.[Source Value] AND VM.[Source Table No_]=23 AND VM.[Mapping validated by]<>''''
'
FROM Q

SET @SQL = @SQL + '
SELECT * FROM BPEXT --WHERE BPEXTfromNAV=''2000-12121''
'
EXEC(@SQL)
EXEC DebugPrint @SQL
END

GO
