USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectZHRS_MIG_GP_FLVN00 tp be deleted]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 23.10.20
-- Description:	Verwendet im Paket SUP für den Export an SAP
/*
EXEC [MIGRATION].[SelectZHRS_MIG_GP_FLVN00] 
*/
-- =============================================
CREATE PROCEDURE [MIGRATION].[SelectZHRS_MIG_GP_FLVN00 tp be deleted] 
AS
BEGIN
  DECLARE @SQL as varchar(max)='', @SQL1 as varchar(max)=''
  SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN
';WITH HO AS
(
' ELSE '
UNION
' END
+ '  SELECT '''+COMP.[Company]+''' FIBUKRS
       , [No_] V_KEY
       , COALESCE(LEN(RTRIM([Name])),0) AS V_NAME1_LEN
       , COALESCE(LEN(RTRIM([Name 2])),0) AS V_NAME2_LEN
       , COALESCE(LEN(RTRIM([Search Name])),0) AS V_NAME_SORT_LEN
       , COALESCE(RTRIM([Search Name]),'''') AS V_NAME_SORT
       , COALESCE(RTRIM([Name]),'''') AS V_NAME1
       , COALESCE(RTRIM([Name 2]),'''') AS V_NAME2
       , COALESCE(RTRIM([Name]),'''') 
       + COALESCE(RTRIM([Name 2]),'''') AS V_NAME12
       , COALESCE(LEN(RTRIM([Address])),0)+'' ''+COALESCE(LEN(RTRIM([Address 2])),0) AS V_STRASSE_LEN
       , (COALESCE(RTRIM([Address]),'''')+'' ''+COALESCE(RTRIM([Address 2]),'''')) AS V_STRASSE
       , COALESCE(LEN(RTRIM(REPLACE(REPLACE([Post Code], CHAR(13), ''''), CHAR(10), ''''))),0) AS V_PLZ_LEN
       , COALESCE(RTRIM(REPLACE(REPLACE([Post Code], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_PLZ
       , COALESCE(LEN(RTRIM([City])),0) AS V_ORT_LEN
       , COALESCE(RTRIM([City]),'''') AS V_ORT
	   , CASE WHEN H.[Country_Region Code]='''' THEN ''33'' ELSE H.[Country_Region Code] END L_ID
	   , H.[E-Mail] V_EMAIL1
	   , '''' H_EMAIL2
	   , H.[Phone No_] V_TEL1
	   , '''' H_TEL2
	   , H.[Fax No_] V_FAX1
	   , '''' H_FAX2
	   , H.[Language Code] V_SPRACHE
   FROM ['+COMP.[Company]+'$Vendor] H WITH (NOLOCK)'
    FROM [MIGRATION].[GetCompanies]() COMP WHERE COMP.Company = 'HRS'

DECLARE @SQLVLE varchar(max)=''
  SELECT @SQLVLE = @SQLVLE + CASE WHEN @SQLVLE='' THEN '
), VLE AS
(
' ELSE '
UNION
' END
+ '  SELECT '''+COMP.[Company]+''' FIBUKRS
       , [Vendor No_]
    FROM ['+COMP.[Company]+'$Vendor Ledger Entry] VLE WITH (NOLOCK)    
   WHERE [Posting Date] >= ''2019-01-01''
GROUP BY [Vendor No_]
'
    FROM [MIGRATION].[GetCompanies]() COMP WHERE COMP.Company = 'HRS'

  SELECT @SQL1 = @SQL1 + CASE WHEN @SQL1='' THEN
'), Result AS
(
' ELSE '
UNION
' END
+ 'SELECT 
       ''01''                         AS AKTYP -- 001
     , LEFT(''FLVN00'',6)             AS RLTP1 -- 002
     , CASE WHEN VM.[Export Structure Entry No_]=17 THEN VM.[Destination Value] ELSE '''' END AS PARTNER -- 003
     , ''2''                          AS TYPE -- 004
	 , CASE VM.[Export Structure Entry No_]
	     WHEN 15 THEN ''TAX''
	     WHEN 16 THEN ''EMP''
	     WHEN 17 THEN ''INC''
	     WHEN 18 THEN ''PAR''
	     WHEN 19 THEN ''CPD''
	     WHEN 20 THEN ''SUP''
	   END AS BPKIND -- 005
	 , CASE VM.[Export Structure Entry No_]
	     WHEN 15 THEN ''TAXO''
	     WHEN 16 THEN ''EMPL''
	     WHEN 17 THEN ''INCO''
	     WHEN 18 THEN ''PART''
	     WHEN 19 THEN ''CPDC''
	     WHEN 20 THEN ''SUPL''
	   END AS BU_GROUP -- 006
     , CAST(HO.V_KEY AS VARCHAR(10)) AS BPEXT -- 007
     , RTRIM(LEFT(HO.V_NAME_SORT,20))  AS BU_SORT1 -- 008
     , '''' AS BU_SORT2 -- 009
     , ''SAP''                        AS SOURCE -- 010
     , ''HQ''                         AS AUGRP -- 011
     , RTRIM(CASE WHEN HO.V_NAME1_LEN<=40                        THEN HO.V_NAME1 ELSE LEFT(HO.V_NAME1,40)        END) AS NAME_ORG1 -- 012
     , RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN HO.V_NAME2 ELSE SUBSTRING(HO.V_NAME12,41,40)  END) AS NAME_ORG2 -- 013
     , RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN ''''         ELSE SUBSTRING(HO.V_NAME12,81,40)  END) AS NAME_ORG3 -- 014
     , RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN ''''         ELSE SUBSTRING(HO.V_NAME12,121,40) END) AS NAME_ORG4 -- 015
     , ''I''                          AS CHIND_ADDR -- 016
     , ''''                           AS ADEXT_ADDR -- 017
     , ''XXDEFAULT''                  AS ADR_KIND -- 018
     , CASE WHEN VM.[Export Structure Entry No_] IN (16,17) THEN '''' ELSE RTRIM(LEFT(HO.V_STRASSE,60)) END        AS STREET -- 019
     , CASE WHEN VM.[Export Structure Entry No_] IN (16,17) THEN '''' ELSE RTRIM(CASE WHEN HO.V_STRASSE_LEN>60  THEN SUBSTRING(HO.V_STRASSE,61,40) ELSE '''' END) END AS STR_SUPPL1 -- 020
     --, RTRIM(CASE WHEN HO.V_STRASSE_LEN>100 THEN SUBSTRING(HO.V_STRASSE+REPLICATE('' '',141),101,40) ELSE '''' END)          AS STR_SUPPL2
     , ''''                           AS HOUSE_NUM1 -- 021
     , CASE WHEN VM.[Export Structure Entry No_] IN (16,17) THEN '''' ELSE RTRIM(LEFT(HO.V_PLZ,10)) END AS POST_CODE1 -- 022
     , RTRIM(LEFT(HO.V_ORT,40))            AS CITY1 -- 023
     , ''''                                  AS CITY2 -- 024
     , CAST(HO.L_ID AS varchar(10))        AS COUNTRY -- 025
     , ''''                                  AS REGION -- 026
     , CASE
         WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''INT''
         WHEN COALESCE(V_TEL1,'''')<>''''  THEN ''TEL''
         WHEN COALESCE(V_FAX1,'''')<>''''  THEN ''FAX''
         ELSE ''''
       END                                 AS DEFLT_COMM -- 027
     , CASE WHEN COALESCE(V_TEL1,'''')<>'''' THEN ''I''       ELSE '''' END AS CHIND_TEL -- 028
     , CASE WHEN COALESCE(V_TEL1,'''')<>'''' THEN ''001''     ELSE '''' END AS TEL_CONSNR -- 029
     , V_TEL1 AS TEL_NUMBER -- 030
     , CASE WHEN COALESCE(V_FAX1,'''')<>'''' THEN ''I''       ELSE '''' END AS CHIND_FAX -- 031
     , CASE WHEN COALESCE(V_FAX1,'''')<>'''' THEN ''001''     ELSE '''' END AS FAX_CONSNR -- 032
     , V_FAX1 AS FAX_NUMBER -- 033
     , CASE WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''I''     ELSE '''' END AS CHIND_SMTP -- 034
     , CASE WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''001''   ELSE '''' END AS SMTP_CONSNR -- 035
     , V_EMAIL1 AS SMTP_ADDR -- 036
     , CAST(V_SPRACHE AS varchar(10))                                  LANGU -- 037
	 , HO.FIBUKRS -- 038
     , H.[Responsibility Center] BEGRU -- 039
	 , RIGHT(''0000000000''+VP.[Payables Account], 10) AS AKONT_LFB1 -- 040
	 , CAST('''' AS varchar(10)) AS FDGRV_LFB1 -- 041
	 , H.[Payment Terms Code] AS ZTERM_LFB1 -- 042
	 , CAST(CASE WHEN COALESCE(BA.IBAN,'''')='''' THEN '''' ELSE ''1'' END AS varchar(10)) AS ZWELS_LFB1 -- 043
	 , CAST(''X'' AS varchar(1)) AS REPRF -- 044
	 , ''I'' CHIND_BANK -- 045
	 , CAST(''1'' AS varchar(4)) BKVID -- 046
	 , CASE WHEN H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE COALESCE(BA.[Country_Region Code],'''') END BANKS -- 047
	 , CASE WHEN H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE LEFT(COALESCE(BA.[SWIFT Code],''''),15) END BANKL -- 048
	 , CASE WHEN REPLACE(COALESCE(BA.IBAN,''''),'' '','''')='''' OR H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE LEFT(COALESCE(BA.[Bank Account No_],''''),18) END  BANKN -- 049
	 , '''' BKONT -- 050
	 , '''' BKREF -- 051
	 , CASE WHEN REPLACE(COALESCE(BA.IBAN,''''),'' '','''')='''' OR H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE CASE WHEN COALESCE(BA.Owner,'''')='''' THEN H.Name ELSE COALESCE(BA.Owner,'''') END END KOINH -- 052
	 , CASE WHEN H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE COALESCE(BA.[Transit No_],'''') END BKEXT -- 053
	 , '''' XEZER -- 054
	 , CASE WHEN H.[No_] IN (''10806'',''10462'',''12922'',''10462'',''10806'',''13713'') THEN '''' ELSE REPLACE(COALESCE(BA.IBAN,''''),'' '','''') END IBAN -- 055
     , '''' --CASE WHEN V_NAME_SORT_LEN>20 THEN '',001'' ELSE '''' END
     + CASE WHEN HO.V_NAME1_LEN+HO.V_NAME2_LEN>160 THEN '',002'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND HO.V_PLZ_LEN>10 THEN '',003'' ELSE '''' END 
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND HO.V_ORT_LEN>40 THEN '',004'' ELSE '''' END
--     + CASE WHEN COALESCE(COALESCE(COALESCE(V_EMAIL1,V_TEL1),V_FAX1),'''')='''' THEN '',007'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=1 AND (HO.V_PLZ_LEN>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0) THEN '',012'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=2 AND (HO.V_PLZ_LEN>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0 OR ISNUMERIC(HO.V_PLZ)=0) THEN '',013'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=3 AND (HO.V_PLZ_LEN<>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0) THEN '',014'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=4 AND (HO.V_PLZ_LEN<>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0 OR ISNUMERIC(HO.V_PLZ)=0) THEN '',015'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=5 AND (HO.V_PLZ_LEN>PR.[LEN]) THEN '',016'' ELSE '''' END
     + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=9 AND MIGRATION.CheckPattern(HO.V_PLZ,PR.[FORMAT])=0 THEN '',017'' ELSE '''' END
	 + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND HO.V_ORT='''' THEN '',031'' ELSE '''' END
	 + CASE WHEN VM.[Export Structure Entry No_]=17 AND VM.[Destination Value] ='''' THEN '',032'' ELSE '''' END
       AS ERROR
  FROM ['+COMP.[Company]+'$Vendor] H WITH (NOLOCK)
  JOIN ['+COMP.[Company]+'$Value Mapping] VM WITH (NOLOCK)
    ON VM.[Source Value]=H.[No_]
   AND VM.[Source Table No_]=23
  JOIN HO ON HO.V_KEY = H.[No_] AND HO.FIBUKRS = '''+COMP.[Company]+'''
     JOIN ['+COMP.[Company]+'$Vendor Posting Group] VP WITH (NOLOCK) ON VP.[Code] = H.[Vendor Posting Group]
LEFT JOIN VLE ON VLE.[Vendor No_] = H.[No_] AND HO.FIBUKRS = '''+COMP.[Company]+'''
LEFT JOIN MIGRATION.GetZipcodeRules() PR ON PR.L_ID = HO.L_ID
  JOIN ['+COMP.[Company]+'$Salesperson_Purchaser] SP WITH (NOLOCK)
    ON H.[Purchaser Code] = SP.[Code]
LEFT JOIN ['+COMP.[Company]+'$Vendor Bank Account] BA WITH (NOLOCK)
       ON BA.[Vendor No_] = H.[No_]
      AND BA.[Clearing]=1
 WHERE 1=1 AND ((NOT HO.V_ORT='''' OR VLE.[Vendor No_] IS NULL OR VM.[Export Structure Entry No_]=16) AND H.[No_] NOT IN (''6341'',''218'',''10573'')) OR VM.[Export Structure Entry No_]=17'
    FROM [MIGRATION].[GetCompanies]() COMP WHERE COMP.Company = 'HRS'
SET @SQL = @SQL + @SQLVLE + @SQL1 + '
)
SELECT * 
  FROM Result ORDER BY BPEXT--WHERE [BU_GROUP]=''INCO'' ORDER BY BPEXT' 

DECLARE @Start as int =1
WHILE @Start < LEN(@SQL)
BEGIN
  PRINT(SUBSTRING(@SQL,@Start,8000))
  SET @Start = @Start + 8000
END

EXEC(@SQL)
END
GO
