USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_BP_SelectFLVN00_Teil2]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[ZHRS_MIG_BP_SelectFLVN00_Teil2] AS

DECLARE @SQL varchar(max)='', @SQLWith varchar(max)='', @SQLR varchar(max)='', @SQLHO varchar(max)=''

IF OBJECT_ID('tempdb..#R') IS NOT NULL
  DROP TABLE #R
CREATE TABLE #R (BUKRS varchar(35),lkpBUKRS varchar(4))
;WITH Q AS (SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS], VM.[Destination Value] [lkpBUKRS] FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK) WHERE VM.[Source Table No_] = 2000000006 AND VM.[Mapping validated by] <> ''
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
     AND VM.[Source Value] IN (--'Codenet'
	     --,'HRS'
		 --,'HRS Innovation Hub GmbH'
		 --,'HRS Prod. Sol. Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw.','Trade',
		 'Venturecube'
		 )
)
INSERT INTO #R SELECT * FROM Q
SELECT * FROM #R
SET @SQLWith=''
SELECT @SQLWith = @SQLWith + CASE WHEN @SQLWith='' THEN ';WITH VLE AS
(
' ELSE 'UNION
' END
     + 'SELECT ''HRS'' FIBUKRS, '''+lkpBUKRS+''' [BUKRS], VLE.[Vendor No_] FROM DynNavHRS.dbo.['+BUKRS+'$Vendor Ledger Entry] VLE WHERE [Posting Date] >= DATEADD(MM,-12,GETDATE()) GROUP BY VLE.[Vendor No_]
'
  FROM #R 
SET @SQLWith += ')
, KTO160000 AS (
      SELECT Q.* FROM (VALUES (''2000'',''7''),(''2000'',''9''),(''2000'',''23''),(''2000'',''27''),(''2000'',''28''),(''2000'',''35''),(''2000'',''37''),(''2000'',''47''),(''2000'',''48''),(''2000'',''49''),(''2000'',''50''),(''2000'',''52''),(''2000'',''54''),(''2000'',''55''),(''2000'',''57''),(''2000'',''61''),(''2000'',''63''),(''2000'',''65''),(''2000'',''66''),(''2000'',''68''),(''2000'',''70''),(''2000'',''74''),(''2000'',''75''),(''2000'',''76''),(''2000'',''78''),(''2000'',''79''),(''2000'',''83''),(''2000'',''85''),(''2000'',''86''),(''2000'',''87''),(''2000'',''90''),(''2000'',''93''),(''2000'',''96''),(''2000'',''97''),(''2000'',''98''),(''2000'',''99''),(''2000'',''100''),(''2000'',''101''),(''2000'',''106''),(''2000'',''107''),(''2000'',''108''),(''2000'',''109''),(''2000'',''110''),(''2000'',''112''),(''2000'',''117''),(''2000'',''119''),(''2000'',''121''),(''2000'',''123''),(''2000'',''127''),(''2000'',''128''),(''2000'',''129''),(''2000'',''130''),(''2000'',''131''),(''2000'',''132''),(''2000'',''133''),(''2000'',''134''),(''2000'',''135''),(''2000'',''136''),(''2000'',''139''),(''2000'',''140''),(''2000'',''144''),(''2000'',''145''),(''2000'',''146''),(''2000'',''147''),(''2000'',''148''),(''2000'',''154''),(''2000'',''156''),(''2000'',''157''),(''2000'',''160''),(''2000'',''162''),(''2000'',''164''),(''2000'',''165''),(''2000'',''166''),(''2000'',''175''),(''2000'',''176''),(''2000'',''178''),(''2000'',''187''),(''2000'',''191''),(''2000'',''195''),(''2000'',''201''),(''2000'',''202''),(''2000'',''204''),(''2000'',''207''),(''2000'',''210''),(''2000'',''212''),(''2000'',''215''),(''2000'',''217''),(''2000'',''224''),(''2000'',''225''),(''2000'',''226''),(''2000'',''229''),(''2000'',''230''),(''2000'',''231''),(''2000'',''232''),(''2000'',''233''),(''2000'',''234''),(''2000'',''235''),(''2000'',''237''),(''2000'',''238''),(''2000'',''239''),(''2000'',''240''),(''2000'',''242''),(''2000'',''243''),(''2000'',''246''),(''2000'',''251''),(''2000'',''254''),(''2000'',''261''),(''2000'',''262''),(''2000'',''264''),(''2000'',''265''),(''2000'',''266''),(''2000'',''270''),(''2000'',''273''),(''2000'',''278''),(''2000'',''279''),(''2000'',''286''),(''2000'',''294''),(''2000'',''295''),(''2000'',''296''),(''2000'',''297''),(''2000'',''298''),(''2000'',''308''),(''2000'',''312''),(''2000'',''318''),(''2000'',''326''),(''2000'',''327''),(''2000'',''328''),(''2000'',''331''),(''2000'',''335''),(''2000'',''336''),(''2000'',''338''),(''2000'',''339''),(''2000'',''342''),(''2000'',''343''),(''2000'',''345''),(''2000'',''354''),(''2000'',''356''),(''2000'',''357''),(''2000'',''362''),(''2000'',''363''),(''2000'',''366''),(''2000'',''367''),(''2000'',''369''),(''2000'',''372''),(''2000'',''376''),(''2000'',''379''),(''2000'',''380''),(''2000'',''382''),(''2000'',''383''),(''2000'',''384''),(''2000'',''386''),(''2000'',''393''),(''2000'',''396''),(''2000'',''397''),(''2000'',''400''),(''2000'',''401''),(''2000'',''402''),(''2000'',''403''),(''2000'',''405''),(''2000'',''406''),(''2000'',''411''),(''2000'',''412''),(''2000'',''413''),(''2000'',''418''),(''2000'',''422''),(''2000'',''423''),(''2000'',''424''),(''2000'',''425''),(''2000'',''426''),(''2000'',''427''),(''2000'',''428''),(''2000'',''430''),(''2000'',''431''),(''2000'',''432''),(''2000'',''438''),(''2000'',''440''),(''2000'',''443''),(''2000'',''444''),(''2000'',''446''),(''2000'',''451''),(''2000'',''452''),(''2000'',''454''),(''2000'',''456''),(''2000'',''469''),(''2000'',''475''),(''2000'',''477''),(''2000'',''479''),(''2000'',''481''),(''2000'',''489''),(''2000'',''490''),(''2000'',''491''),(''2000'',''499''),(''2000'',''500''),(''2000'',''503''),(''2000'',''506''),(''2000'',''507''),(''2000'',''510''),(''2000'',''511''),(''2000'',''513''),(''2000'',''514''),(''2000'',''515''),(''2000'',''517''),(''2000'',''518''),(''2000'',''520''),(''2000'',''521''),(''2000'',''524''),(''2000'',''528''),(''2000'',''531''),(''2000'',''534''),(''2000'',''535''),(''2000'',''536''),(''2000'',''537''),(''2000'',''539''),(''2000'',''541''),(''2000'',''544''),(''2000'',''546''),(''2000'',''548''),(''2000'',''550''),(''2000'',''554''),(''2000'',''557''),(''2000'',''558''),(''2000'',''561''),(''2000'',''562''),(''2000'',''563''),(''2000'',''568''),(''2000'',''569''),(''2000'',''571''),(''2000'',''576''),(''2000'',''580''),(''2000'',''584''),(''2000'',''590''),(''2000'',''591''),(''2000'',''593''),(''2000'',''595''),(''2000'',''597''),(''2000'',''600''),(''2000'',''601''),(''2000'',''605''),(''2000'',''606''),(''2000'',''611''),(''2000'',''612''),(''2000'',''614''),(''2000'',''615''),(''2000'',''616''),(''2000'',''617''),(''2000'',''623''),(''2000'',''624''),(''2000'',''631''),(''2000'',''632''),(''2000'',''634''),(''2000'',''636''),(''2000'',''637''),(''2000'',''640''),(''2000'',''642''),(''2000'',''645''),(''2000'',''650''),(''2000'',''655''),(''2000'',''657''),(''2000'',''658''),(''2000'',''659''),(''2000'',''665''),(''2000'',''667''),(''2000'',''668''),(''2000'',''670''),(''2000'',''677''),(''2000'',''679''),(''2000'',''681''),(''2000'',''682''),(''2000'',''683''),(''2000'',''684''),(''2000'',''685''),(''2000'',''686''),(''2000'',''694''),(''2000'',''701''),(''2000'',''704''),(''2000'',''705''),(''2000'',''707''),(''2000'',''717''),(''2000'',''718''),(''2000'',''722''),(''2000'',''723''),(''2000'',''731''),(''2000'',''734''),(''2000'',''736''),(''2000'',''748''),(''2000'',''754''),(''2000'',''757''),(''2000'',''758''),(''2000'',''762''),(''2000'',''764''),(''2000'',''766''),(''2000'',''768''),(''2000'',''770''),(''2000'',''777''),(''2000'',''780''),(''2000'',''781''),(''2000'',''782''),(''2000'',''783''),(''2000'',''789''),(''2000'',''795''),(''2000'',''796''),(''2000'',''799''),(''2000'',''800''),(''2000'',''809''),(''2000'',''810''),(''2000'',''812''),(''2000'',''814''),(''2000'',''817''),(''2000'',''818''),(''2000'',''826''),(''2000'',''828''),(''2000'',''829''),(''2000'',''831''),(''2000'',''835''),(''2000'',''842''),(''2000'',''844''),(''2000'',''845''),(''2000'',''846''),(''2000'',''847''),(''2000'',''848''),(''2000'',''852''),(''2000'',''855''),(''2000'',''859''),(''2000'',''860''),(''2000'',''865''),(''2000'',''869''),(''2000'',''870''),(''2000'',''871''),(''2000'',''872''),(''2000'',''882''),(''2000'',''888''),(''2000'',''889''),(''2000'',''898''),(''2000'',''899''),(''2000'',''902''),(''2000'',''904''),(''2000'',''905''),(''2000'',''906''),(''2000'',''916''),(''2000'',''918''),(''2000'',''921''),(''2000'',''922''),(''2000'',''923''),(''2000'',''924''),(''2000'',''925''),(''2000'',''926''),(''2000'',''927''),(''2000'',''928''),(''2000'',''929''),(''2000'',''930''),(''2000'',''933''),(''2000'',''934''),(''2000'',''937''),(''2000'',''940''),(''2000'',''944''),(''2000'',''945''),(''2000'',''967''),(''2000'',''969''),(''2000'',''970''),(''2000'',''975''),(''2000'',''977''),(''2000'',''978''),(''2000'',''980''),(''2000'',''983''),(''2000'',''984''),(''2000'',''985''),(''2000'',''988''),(''2000'',''990''),(''2000'',''991''),(''2000'',''993''),(''2000'',''1008''),(''2000'',''1009''),(''2000'',''1010''),(''2000'',''1011''),(''2000'',''1017''),(''2000'',''1022''),(''2000'',''1028''),(''2000'',''1033''),(''2000'',''1034''),(''2000'',''1035''),(''2000'',''1037''),(''2000'',''1054''),(''2000'',''1058''),(''2000'',''1063''),(''2000'',''1064''),(''2000'',''1065''),(''2000'',''1075''),(''2000'',''1080''),(''2000'',''1083''),(''2000'',''1085''),(''2000'',''1086''),(''2000'',''1088''),(''2000'',''1096''),(''2000'',''1121''),(''2000'',''1125''),(''2000'',''1127''),(''2000'',''1128''),(''2000'',''1134''),(''2000'',''1138''),(''2000'',''1139''),(''2000'',''1140''),(''2000'',''1142''),(''2000'',''1147''),(''2000'',''1149''),(''2000'',''1150''),(''2000'',''1155''),(''2000'',''1160''),(''2000'',''1164''),(''2000'',''1167''),(''2000'',''1168''),(''2000'',''1171''),(''2000'',''1172''),(''2000'',''1173''),(''2000'',''1174''),(''2000'',''1175''),(''2000'',''1182''),(''2000'',''1189''),(''2000'',''1190''),(''2000'',''1191''),(''2000'',''1193''),(''2000'',''1194''),(''2000'',''1205''),(''2000'',''1206''),(''2000'',''1207''),(''2000'',''1208''),(''2000'',''1209''),(''2000'',''1210''),(''2000'',''1212''),(''2000'',''1215''),(''2000'',''1217''),(''2000'',''1222''),(''2000'',''1226''),(''2000'',''1227''),(''2000'',''1229''),(''2000'',''1236''),(''2000'',''1238''),(''2000'',''1241''),(''2000'',''1244''),(''2000'',''1247''),(''2000'',''1251''),(''2000'',''1252''),(''2000'',''1258''),(''2000'',''1261''),(''2000'',''1262''),(''2000'',''1271''),(''2000'',''1272''),(''2000'',''1273''),(''2000'',''1280''),(''2000'',''1282''),(''2000'',''1293''),(''2000'',''1294''),(''2000'',''1295''),(''2000'',''1296''),(''2000'',''1310''),(''2000'',''1311''),(''2000'',''1313''),(''2000'',''1314''),(''2000'',''1315''),(''2000'',''1319''),(''2000'',''1332''),(''2000'',''1335''),(''2000'',''1340''),(''2000'',''1341''),(''2000'',''1351''),(''2000'',''1354''),(''2000'',''1356''),(''2000'',''1358''),(''2000'',''1359''),(''2000'',''1360''),(''2000'',''1361''),(''2000'',''1364''),(''2000'',''1367''),(''2000'',''1379''),(''2000'',''1388''),(''2000'',''1395''),(''2000'',''1407''),(''2000'',''1408''),(''2000'',''1410''),(''2000'',''1416''),(''2000'',''1429''),(''2000'',''1466''),(''2000'',''1468''),(''2000'',''1475''),(''2000'',''1482''),(''2000'',''1485''),(''2000'',''1490''),(''2000'',''1499''),(''2000'',''1507''),(''2000'',''1556''),(''2000'',''1563''),(''2000'',''1577''),(''2000'',''1591''),(''2000'',''1597''),(''2000'',''1601''),(''2000'',''1610''),(''2000'',''1611''),(''2000'',''1618''),(''2000'',''1620''),(''2000'',''1622''),(''2000'',''1626'')) Q ([BUKRS],[No_]) UNION SELECT Q.* FROM (VALUES (''2000'',''2031''),(''2000'',''2032''),(''2000'',''2037''),(''2000'',''2048''),(''2000'',''2049''),(''2000'',''2050''),(''2000'',''2053''),(''2000'',''2056''),(''2000'',''2059''),(''2000'',''2060''),(''2000'',''2066''),(''2000'',''2072''),(''2000'',''2074''),(''2000'',''2076''),(''2000'',''2077''),(''2000'',''2079''),(''2000'',''2087''),(''2000'',''2096''),(''2000'',''2097''),(''2000'',''2099''),(''2000'',''2109''),(''2000'',''2110''),(''2000'',''2111''),(''2000'',''2113''),(''2000'',''2114''),(''2000'',''2117''),(''2000'',''2124''),(''2000'',''2130''),(''2000'',''2131''),(''2000'',''2134''),(''2000'',''2136''),(''2000'',''2155''),(''2000'',''2156''),(''2000'',''2162''),(''2000'',''2165''),(''2000'',''2172''),(''2000'',''2174''),(''2000'',''2175''),(''2000'',''2176''),(''2000'',''2180''),(''2000'',''2181''),(''2000'',''2182''),(''2000'',''2190''),(''2000'',''2191''),(''2000'',''2193''),(''2000'',''2196''),(''2000'',''2200''),(''2000'',''2201''),(''2000'',''2202''),(''2000'',''2224''),(''2000'',''2228''),(''2000'',''2230''),(''2000'',''2231''),(''2000'',''2232''),(''2000'',''2233''),(''2000'',''2244''),(''2000'',''2245''),(''2000'',''2252''),(''2000'',''2269''),(''2000'',''2270''),(''2000'',''2272''),(''2000'',''2273''),(''2000'',''2278''),(''2000'',''2291''),(''2000'',''2292''),(''2000'',''2295''),(''2000'',''2303''),(''2000'',''2304''),(''2000'',''2311''),(''2000'',''2312''),(''2000'',''2313''),(''2000'',''2314''),(''2000'',''2316''),(''2000'',''2318''),(''2000'',''2321''),(''2000'',''2325''),(''2000'',''2326''),(''2000'',''2327''),(''2000'',''2331''),(''2000'',''2333''),(''2000'',''2335''),(''2000'',''2346''),(''2000'',''2347''),(''2000'',''2352''),(''2000'',''2353''),(''2000'',''2354''),(''2000'',''2355''),(''2000'',''2356''),(''2000'',''2358''),(''2000'',''2360''),(''2000'',''2361''),(''2000'',''2363''),(''2000'',''2367''),(''2000'',''2368''),(''2000'',''2372''),(''2000'',''2378''),(''2000'',''2382''),(''2000'',''2383''),(''2000'',''2398''),(''2000'',''2401''),(''2000'',''2423''),(''2000'',''2432''),(''2000'',''2437''),(''2000'',''2440''),(''2000'',''2445''),(''2000'',''2448''),(''2000'',''2454''),(''2000'',''2475''),(''2000'',''2477''),(''2000'',''2479''),(''2000'',''2480''),(''2000'',''2481''),(''2000'',''2483''),(''2000'',''2490''),(''2000'',''2501''),(''2000'',''2503''),(''2000'',''2509''),(''2000'',''2510''),(''2000'',''2515''),(''2000'',''2516''),(''2000'',''2523''),(''2000'',''2525''),(''2000'',''2531''),(''2000'',''2545''),(''2000'',''2546''),(''2000'',''2549''),(''2000'',''2550''),(''2000'',''2551''),(''2000'',''2552''),(''2000'',''2553''),(''2000'',''2555''),(''2000'',''2557''),(''2000'',''2558''),(''2000'',''2560''),(''2000'',''2561''),(''2000'',''2566''),(''2000'',''2578''),(''2000'',''2586''),(''2000'',''2588''),(''2000'',''2595''),(''2000'',''2609''),(''2000'',''2611''),(''2000'',''2612''),(''2000'',''2613''),(''2000'',''2614''),(''2000'',''2619''),(''2000'',''2623''),(''2000'',''2637''),(''2000'',''2638''),(''2000'',''2640''),(''2000'',''2644''),(''2000'',''2648''),(''2000'',''2650''),(''2000'',''2656''),(''2000'',''2661''),(''2000'',''2662''),(''2000'',''2684''),(''2000'',''2692''),(''2000'',''2695''),(''2000'',''2702''),(''2000'',''2703''),(''2000'',''2711''),(''2000'',''2712''),(''2000'',''2715''),(''2000'',''2745''),(''2000'',''2754''),(''2000'',''2755''),(''2000'',''2758''),(''2000'',''2759''),(''2000'',''2767''),(''2000'',''2770''),(''2000'',''2771''),(''2000'',''2775''),(''2000'',''2776''),(''2000'',''2777''),(''2000'',''2778''),(''2000'',''2779''),(''2000'',''2780''),(''2000'',''2781''),(''2000'',''2782''),(''2000'',''2783''),(''2000'',''2784''),(''2000'',''2785''),(''2000'',''2786''),(''2000'',''2787''),(''2000'',''2788''),(''2000'',''2789''),(''2000'',''2790''),(''2000'',''2791''),(''2000'',''2792''),(''2000'',''2793''),(''2000'',''2794''),(''2000'',''2795''),(''2000'',''2796''),(''2000'',''2797''),(''2000'',''2798''),(''2000'',''2800''),(''2000'',''2801''),(''2000'',''2802''),(''2000'',''2803''),(''2000'',''2804''),(''2000'',''2805''),(''2000'',''2806''),(''2000'',''2807''),(''2000'',''2811''),(''2000'',''2812''),(''2000'',''2813''),(''2000'',''2816''),(''2000'',''2817''),(''2000'',''2818''),(''2000'',''2819''),(''2000'',''2821''),(''2000'',''2822''),(''2000'',''2823''),(''2000'',''2824''),(''2000'',''2828''),(''2000'',''2829''),(''2000'',''2833''),(''2000'',''2834''),(''2000'',''2835''),(''2000'',''2836''),(''2000'',''2837''),(''2000'',''2839''),(''2000'',''2840''),(''2000'',''2841''),(''2000'',''2842''),(''2000'',''2843''),(''2000'',''2844''),(''2000'',''2845''),(''2000'',''2846''),(''2000'',''2847''),(''2000'',''2848''),(''2000'',''2857''),(''2000'',''2858''),(''2000'',''2861''),(''2000'',''2862''),(''2000'',''2864''),(''2000'',''2865''),(''2000'',''2867''),(''2000'',''2868''),(''2000'',''2874''),(''2000'',''2875''),(''2000'',''2876''),(''2000'',''2880''),(''2000'',''2883''),(''2000'',''2885''),(''2000'',''2886''),(''2000'',''2887''),(''2000'',''2888''),(''2000'',''2893''),(''2000'',''2896''),(''2000'',''2897''),(''2000'',''2898''),(''2000'',''2899''),(''2000'',''2900''),(''2000'',''2901''),(''2000'',''2902''),(''2000'',''2903''),(''2000'',''2906''),(''2000'',''2908''),(''2000'',''2909''),(''2000'',''2910''),(''2000'',''2913''),(''2000'',''2917''),(''2000'',''2918''),(''2000'',''2919''),(''2000'',''2920''),(''2000'',''2932''),(''2000'',''2933''),(''2000'',''2934''),(''2000'',''2935''),(''2000'',''2937''),(''2000'',''2938''),(''2000'',''2944''),(''2000'',''2952''),(''2000'',''2953''),(''2000'',''2955''),(''2000'',''2956''),(''2000'',''2957''),(''2000'',''2958''),(''2000'',''2959''),(''2000'',''2965''),(''2000'',''2972''),(''2000'',''2973''),(''2000'',''2975''),(''2000'',''2977''),(''2000'',''2983''),(''2000'',''2985''),(''2000'',''2988''),(''2000'',''2989''),(''2000'',''2990''),(''2000'',''2992''),(''2000'',''2996''),(''2000'',''3000''),(''2000'',''3004''),(''2000'',''3007''),(''2000'',''3010''),(''2000'',''3016''),(''2000'',''3017''),(''2000'',''3024''),(''2000'',''3025''),(''2000'',''3026''),(''2000'',''3027''),(''2000'',''3028''),(''2000'',''3029''),(''2000'',''3030''),(''2000'',''3036''),(''2000'',''3037''),(''2000'',''3040''),(''2000'',''3044''),(''2000'',''3046''),(''2000'',''3050''),(''2000'',''3051''),(''2000'',''3062''),(''2000'',''3063''),(''2000'',''3064''),(''2000'',''3065''),(''2000'',''3066''),(''2000'',''3067''),(''2000'',''3068''),(''2000'',''3069''),(''2000'',''3072''),(''2000'',''3074''),(''2000'',''3084''),(''2000'',''3087''),(''2000'',''3097''),(''2000'',''3100''),(''2000'',''3105''),(''2000'',''3106''),(''2000'',''3114''),(''2000'',''3116''),(''2000'',''3120''),(''2000'',''3122''),(''2000'',''3127''),(''2000'',''3128''),(''2000'',''3130''),(''2000'',''3131''),(''2000'',''3137''),(''2000'',''3141''),(''2000'',''3143''),(''2000'',''3152''),(''2000'',''3153''),(''2000'',''3155''),(''2000'',''3156''),(''2000'',''3164''),(''2000'',''3169''),(''2000'',''3170''),(''2000'',''3173''),(''2000'',''3174''),(''2000'',''3177''),(''2000'',''3179''),(''2000'',''3181''),(''2000'',''3182''),(''2000'',''3185''),(''2000'',''3186''),(''2000'',''3187''),(''2000'',''3189''),(''2000'',''3190''),(''2000'',''3192''),(''2000'',''3193''),(''2000'',''3194''),(''2000'',''3198''),(''2000'',''3199''),(''2000'',''3203''),(''2000'',''3204''),(''2000'',''3206''),(''2000'',''3211''),(''2000'',''3216''),(''2000'',''3217''),(''2000'',''3220''),(''2000'',''3221''),(''2000'',''3222''),(''2000'',''3223''),(''2000'',''3226''),(''2000'',''3227''),(''2000'',''3229''),(''2000'',''3230''),(''2000'',''3231''),(''2000'',''3232''),(''2000'',''3264''),(''2000'',''3267''),(''2000'',''3268''),(''2000'',''3269''),(''2000'',''3275''),(''2000'',''3279''),(''2000'',''3281''),(''2000'',''3288''),(''2000'',''3295''),(''2000'',''3296''),(''2000'',''3297''),(''2000'',''3298''),(''2000'',''3299''),(''2000'',''3305''),(''2000'',''3309''),(''2000'',''3310''),(''2000'',''3323''),(''2000'',''3326''),(''2000'',''3331''),(''2000'',''3332''),(''2000'',''3334''),(''2000'',''3336''),(''2000'',''3337''),(''2000'',''3339''),(''2000'',''3340''),(''2000'',''3346''),(''2000'',''3347''),(''2000'',''3348''),(''2000'',''3350''),(''2000'',''3351'')) Q ([BUKRS],[No_]) 
UNION SELECT Q.* FROM (VALUES (''2000'',''3352''),(''2000'',''3355''),(''2000'',''3361''),(''2000'',''3362''),(''2000'',''3366''),(''2000'',''3369''),(''2000'',''3388''),(''2000'',''3392''),(''2000'',''3395''),(''2000'',''3397''),(''2000'',''3401''),(''2000'',''3402''),(''2000'',''3403''),(''2000'',''3405''),(''2000'',''3410''),(''2000'',''3412''),(''2000'',''3414''),(''2000'',''3415''),(''2000'',''3416''),(''2000'',''3418''),(''2000'',''3422''),(''2000'',''3424''),(''2000'',''3425''),(''2000'',''3426''),(''2000'',''3431''),(''2000'',''3432''),(''2000'',''3439''),(''2000'',''3440''),(''2000'',''3441''),(''2000'',''3443''),(''2000'',''3449''),(''2000'',''3458''),(''2000'',''3461''),(''2000'',''3464''),(''2000'',''3465''),(''2000'',''3466''),(''2000'',''3467''),(''2000'',''3468''),(''2000'',''3471''),(''2000'',''3474''),(''2000'',''3475''),(''2000'',''3477''),(''2000'',''3481''),(''2000'',''3493''),(''2000'',''3494''),(''2000'',''3497''),(''2000'',''3501''),(''2000'',''3507''),(''2000'',''3509''),(''2000'',''3514''),(''2000'',''3515''),(''2000'',''3516''),(''2000'',''3517''),(''2000'',''3520''),(''2000'',''3522''),(''2000'',''3530''),(''2000'',''3531''),(''2000'',''3532''),(''2000'',''3533''),(''2000'',''3534''),(''2000'',''3535''),(''2000'',''3536''),(''2000'',''3537''),(''2000'',''3538''),(''2000'',''3541''),(''2000'',''3548''),(''2000'',''3566''),(''2000'',''3567''),(''2000'',''3568''),(''2000'',''3570''),(''2000'',''3573''),(''2000'',''3576''),(''2000'',''3580''),(''2000'',''3581''),(''2000'',''3582''),(''2000'',''3583''),(''2000'',''3588''),(''2000'',''3590''),(''2000'',''3597''),(''2000'',''3607''),(''2000'',''3608''),(''2000'',''3609''),(''2000'',''3615''),(''2000'',''3617''),(''2000'',''3618''),(''2000'',''3622''),(''2000'',''3623''),(''2000'',''3624''),(''2000'',''3625''),(''2000'',''3626''),(''2000'',''3627''),(''2000'',''3629''),(''2000'',''3632''),(''2000'',''3633''),(''2000'',''3634''),(''2000'',''3636''),(''2000'',''3640''),(''2000'',''3641''),(''2000'',''3642''),(''2000'',''3643''),(''2000'',''3645''),(''2000'',''3653''),(''2000'',''3656''),(''2000'',''3657''),(''2000'',''3658''),(''2000'',''3659''),(''2000'',''3660''),(''2000'',''3661''),(''2000'',''3664''),(''2000'',''3668''),(''2000'',''3669''),(''2000'',''3671''),(''2000'',''3672''),(''2000'',''3675''),(''2000'',''3677''),(''2000'',''3679''),(''2000'',''3682''),(''2000'',''3683''),(''2000'',''3705''),(''2000'',''3714''),(''2000'',''3717''),(''2000'',''3718''),(''2000'',''3721''),(''2000'',''3730''),(''2000'',''3731''),(''2000'',''3734''),(''2000'',''3735''),(''2000'',''3737''),(''2000'',''3738''),(''2000'',''3739''),(''2000'',''3742''),(''2000'',''3745''),(''2000'',''3750''),(''2000'',''3751''),(''2000'',''3754''),(''2000'',''3755''),(''2000'',''3756''),(''2000'',''3757''),(''2000'',''3759''),(''2000'',''3764''),(''2000'',''3765''),(''2000'',''3767''),(''2000'',''3772''),(''2000'',''3773''),(''2000'',''3775''),(''2000'',''3776''),(''2000'',''3778''),(''2000'',''3779''),(''2000'',''3780''),(''2000'',''3782''),(''2000'',''3783''),(''2000'',''3784''),(''2000'',''3790''),(''2000'',''3794''),(''2000'',''3795''),(''2000'',''3796''),(''2000'',''3798''),(''2000'',''3800''),(''2000'',''3801''),(''2000'',''3802''),(''2000'',''3806''),(''2000'',''3807''),(''2000'',''3808''),(''2000'',''3810''),(''2000'',''3813''),(''2000'',''3814''),(''2000'',''3815''),(''2000'',''3816''),(''2000'',''3822''),(''2000'',''3824''),(''2000'',''3826''),(''2000'',''3827''),(''2000'',''3830''),(''2000'',''3831''),(''2000'',''3834''),(''2000'',''3835''),(''2000'',''3841''),(''2000'',''3845''),(''2000'',''3857''),(''2000'',''3859''),(''2000'',''3862''),(''2000'',''3864''),(''2000'',''3866''),(''2000'',''3867''),(''2000'',''3868''),(''2000'',''3869''),(''2000'',''3870''),(''2000'',''3871''),(''2000'',''3872''),(''2000'',''3873''),(''2000'',''3874''),(''2000'',''3875''),(''2000'',''3877''),(''2000'',''3881''),(''2000'',''3886''),(''2000'',''3887''),(''2000'',''3894''),(''2000'',''3895''),(''2000'',''3902''),(''2000'',''3913''),(''2000'',''3915''),(''2000'',''3921''),(''2000'',''3923''),(''2000'',''3928''),(''2000'',''3934''),(''2000'',''3937''),(''2000'',''3939''),(''2000'',''3940''),(''2000'',''3941''),(''2000'',''3944''),(''2000'',''3946''),(''2000'',''3947''),(''2000'',''3954''),(''2000'',''3957''),(''2000'',''3968''),(''2000'',''3969''),(''2000'',''3986''),(''2000'',''3987''),(''2000'',''3989''),(''2000'',''4002''),(''2000'',''4009''),(''2000'',''4014''),(''2000'',''4016''),(''2000'',''4017''),(''2000'',''4018''),(''2000'',''4022''),(''2000'',''4032''),(''2000'',''4045''),(''2000'',''4046''),(''2000'',''4050''),(''2000'',''4051''),(''2000'',''4052''),(''2000'',''4055''),(''2000'',''4056''),(''2000'',''4061''),(''2000'',''4062''),(''2000'',''4063''),(''2000'',''4064''),(''2000'',''4065''),(''2000'',''4066''),(''2000'',''4072''),(''2000'',''4073''),(''2000'',''4080''),(''2000'',''4082''),(''2000'',''4086''),(''2000'',''4090''),(''2000'',''4092''),(''2000'',''4093''),(''2000'',''4094''),(''2000'',''4095''),(''2000'',''4096''),(''2000'',''4097''),(''2000'',''4098''),(''2000'',''4100''),(''2000'',''4105''),(''2000'',''4110''),(''2000'',''4112''),(''2000'',''4113''),(''2000'',''4114''),(''2000'',''4116''),(''2000'',''4121''),(''2000'',''4163''),(''2000'',''4164''),(''2000'',''4165''),(''2000'',''4166''),(''2000'',''4167''),(''2000'',''4168''),(''2000'',''4169''),(''2000'',''4170''),(''2000'',''4171''),(''2000'',''4172''),(''2000'',''4176''),(''2000'',''4177''),(''2000'',''4190''),(''2000'',''4192''),(''2000'',''4194''),(''2000'',''4195''),(''2000'',''4197''),(''2000'',''4205''),(''2000'',''4210''),(''2000'',''4213''),(''2000'',''4219''),(''2000'',''4223''),(''2000'',''4227''),(''2000'',''4230''),(''2000'',''4245''),(''2000'',''4248''),(''2000'',''4249''),(''2000'',''4250''),(''2000'',''4251''),(''2000'',''4252''),(''2000'',''4253''),(''2000'',''4254''),(''2000'',''4256''),(''2000'',''4257''),(''2000'',''4260''),(''2000'',''4263''),(''2000'',''4267''),(''2000'',''4272''),(''2000'',''4274''),(''2000'',''4276''),(''2000'',''4277''),(''2000'',''4278''),(''2000'',''4282''),(''2000'',''4284''),(''2000'',''4287''),(''2000'',''4288''),(''2000'',''4289''),(''2000'',''4290''),(''2000'',''4338''),(''2000'',''4340''),(''2000'',''4341''),(''2000'',''4344''),(''2000'',''4355''),(''2000'',''4358''),(''2000'',''4359''),(''2000'',''4363''),(''2000'',''4364''),(''2000'',''4365''),(''2000'',''4370''),(''2000'',''4376''),(''2000'',''4377''),(''2000'',''4379''),(''2000'',''4383''),(''2000'',''4387''),(''2000'',''4399''),(''2000'',''4405''),(''2000'',''4415''),(''2000'',''4418''),(''2000'',''4419''),(''2000'',''4422''),(''2000'',''4425''),(''2000'',''4426''),(''2000'',''4443''),(''2000'',''4448''),(''2000'',''4455''),(''2000'',''4456''),(''2000'',''4467''),(''2000'',''4491''),(''2000'',''4493''),(''2000'',''4494''),(''2000'',''4495''),(''2000'',''4505''),(''2000'',''4507''),(''2000'',''4513''),(''2000'',''4514''),(''2000'',''4533''),(''2000'',''4539''),(''2000'',''4542''),(''2000'',''4545''),(''2000'',''4546''),(''2000'',''4553''),(''2000'',''4555''),(''2000'',''4561''),(''2000'',''4562''),(''2000'',''4570''),(''2000'',''4571''),(''2000'',''4572''),(''2000'',''4573''),(''2000'',''4574''),(''2000'',''4577''),(''2000'',''4578''),(''2000'',''4579''),(''2000'',''4584''),(''2000'',''4587''),(''2000'',''4590''),(''2000'',''4609''),(''2000'',''4633''),(''2000'',''4635''),(''2000'',''4638''),(''2000'',''4640''),(''2000'',''4643''),(''2000'',''4644''),(''2000'',''4645''),(''2000'',''4646''),(''2000'',''4647''),(''2000'',''4648''),(''2000'',''4649''),(''2000'',''4657''),(''2000'',''4658''),(''2000'',''4661''),(''2000'',''4664''),(''2000'',''4666''),(''2000'',''4667''),(''2000'',''4669''),(''2000'',''4670''),(''2000'',''4671''),(''2000'',''4672''),(''2000'',''4673''),(''2000'',''4674''),(''2000'',''4676''),(''2000'',''4677''),(''2000'',''4679''),(''2000'',''4680''),(''2000'',''4688''),(''2000'',''4698''),(''2000'',''4699''),(''2000'',''4717''),(''2000'',''4728''),(''2000'',''4738''),(''2000'',''4742''),(''2000'',''4744''),(''2000'',''4764''),(''2000'',''4766''),(''2000'',''4768''),(''2000'',''4771''),(''2000'',''4773''),(''2000'',''4818''),(''2000'',''4820''),(''2000'',''4825''),(''2000'',''4834''),(''2000'',''4836''),(''2000'',''4855''),(''2000'',''4869''),(''2000'',''4894''),(''2000'',''4895''),(''2000'',''4896''),(''2000'',''4898''),(''2000'',''4900''),(''2000'',''4910''),(''2000'',''4911''),(''2000'',''4914''),(''2000'',''4922''),(''2000'',''4924''),(''2000'',''4928''),(''2000'',''4930''),(''2000'',''4934''),(''2000'',''4935''),(''2000'',''4940''),(''2000'',''4952''),(''2000'',''4956''),(''2000'',''4964''),(''2000'',''4967''),(''2000'',''4985''),(''2000'',''4987''),(''2000'',''4988''),(''2000'',''4992''),(''2000'',''4993''),(''2000'',''4997''),(''2000'',''4998''),(''2000'',''5010''),(''2000'',''5014''),(''2000'',''5016''),(''2000'',''5019''),(''2000'',''5026''),(''2000'',''5028''),(''2000'',''5032''),(''2000'',''5033''),(''2000'',''5036''),(''2000'',''5037''),(''2000'',''5044''),(''2000'',''5052''),(''2000'',''5059''),(''2000'',''5070''),(''2000'',''5072''),(''2000'',''5082''),(''2000'',''5087''),(''2000'',''5098''),(''2000'',''5109''),(''2000'',''5120''),(''2000'',''5128''),(''2000'',''5141''),(''2000'',''5160''),(''2000'',''5180''),(''2000'',''5181''),(''2000'',''5203''),(''2000'',''5223''),(''2000'',''5232''),(''2000'',''5234''),(''2000'',''5236''),(''2000'',''5246''),(''2000'',''5247''),(''2000'',''5250''),(''2000'',''5258''),(''2000'',''5264''),(''2000'',''5266''),(''2000'',''5268''),(''2000'',''5269''),(''2000'',''5274''),(''2000'',''5277''),(''2000'',''5278''),(''2000'',''5281''),(''2000'',''5283''),(''2000'',''5284''),(''2000'',''5285''),(''2000'',''5289''),(''2000'',''5292''),(''2000'',''5318''),(''2000'',''5319''),(''2000'',''5320''),(''2000'',''5323''),(''2000'',''5324''),(''2000'',''5325''),(''2000'',''5331''),(''2000'',''5335''),(''2000'',''5366''),(''2000'',''5373''),(''2000'',''5399''),(''2000'',''5403''),(''2000'',''5404'')) Q ([BUKRS],[No_]) UNION SELECT Q.* FROM (VALUES (''2000'',''1627''),(''2000'',''1633''),(''2000'',''1647''),(''2000'',''1654''),(''2000'',''1655''),(''2000'',''1659''),(''2000'',''1660''),(''2000'',''1662''),(''2000'',''1671''),(''2000'',''1681''),(''2000'',''1683''),(''2000'',''1693''),(''2000'',''1695''),(''2000'',''1701''),(''2000'',''1704''),(''2000'',''1710''),(''2000'',''1711''),(''2000'',''1712''),(''2000'',''1718''),(''2000'',''1719''),(''2000'',''1721''),(''2000'',''1762''),(''2000'',''1767''),(''2000'',''1774''),(''2000'',''1776''),(''2000'',''1778''),(''2000'',''1779''),(''2000'',''1785''),(''2000'',''1788''),(''2000'',''1795''),(''2000'',''1806''),(''2000'',''1807''),(''2000'',''1814''),(''2000'',''1815''),(''2000'',''1817''),(''2000'',''1832''),(''2000'',''1840''),(''2000'',''1841''),(''2000'',''1842''),(''2000'',''1843''),(''2000'',''1845''),(''2000'',''1856''),(''2000'',''1857''),(''2000'',''1861''),(''2000'',''1867''),(''2000'',''1868''),(''2000'',''1870''),(''2000'',''1871''),(''2000'',''1874''),(''2000'',''1877''),(''2000'',''1881''),(''2000'',''1882''),(''2000'',''1883''),(''2000'',''1887''),(''2000'',''1888''),(''2000'',''1890''),(''2000'',''1894''),(''2000'',''1896''),(''2000'',''1898''),(''2000'',''1905''),(''2000'',''1911''),(''2000'',''1917''),(''2000'',''1921''),(''2000'',''1924''),(''2000'',''1926''),(''2000'',''1927''),(''2000'',''1930''),(''2000'',''1936''),(''2000'',''1937''),(''2000'',''1939''),(''2000'',''1941''),(''2000'',''1942''),(''2000'',''1945''),(''2000'',''1946''),(''2000'',''1960''),(''2000'',''1969''),(''2000'',''1975''),(''2000'',''1978''),(''2000'',''1979''),(''2000'',''1987''),(''2000'',''1988''),(''2000'',''1991''),(''2000'',''1993''),(''2000'',''1997''),(''2000'',''2000''),(''2000'',''2001''),(''2000'',''2006''),(''2000'',''2009''),(''2000'',''2014''),(''2000'',''2021''),(''2000'',''2024'')) Q ([BUKRS],[No_])UNION SELECT Q.* FROM (VALUES (''2000'',''5407''),(''2000'',''5417''),(''2000'',''5419''),(''2000'',''5421''),(''2000'',''5433''),(''2000'',''5438''),(''2000'',''5439''),(''2000'',''5444''),(''2000'',''5462''),(''2000'',''5466''),(''2000'',''5475''),(''2000'',''5480''),(''2000'',''5490''),(''2000'',''5492''),(''2000'',''5493''),(''2000'',''5504''),(''2000'',''5541''),(''2000'',''5543''),(''2000'',''5548''),(''2000'',''5550''),(''2000'',''5569''),(''2000'',''5584''),(''2000'',''5600''),(''2000'',''5601''),(''2000'',''5604''),(''2000'',''5627''),(''2000'',''5628''),(''2000'',''5629''),(''2000'',''5630''),(''2000'',''5631''),(''2000'',''5636''),(''2000'',''5638''),(''2000'',''5639''),(''2000'',''5642''),(''2000'',''5669''),(''2000'',''5686''),(''2000'',''5691''),(''2000'',''5696''),(''2000'',''5703''),(''2000'',''5705''),(''2000'',''5745''),(''2000'',''5750''),(''2000'',''5776''),(''2000'',''5821''),(''2000'',''5839''),(''2000'',''5857''),(''2000'',''5865''),(''2000'',''5871''),(''2000'',''5878''),(''2000'',''5879''),(''2000'',''5913''),(''2000'',''5944''),(''2000'',''5949''),(''2000'',''5978''),(''2000'',''5980''),(''2000'',''5997''),(''2000'',''6012''),(''2000'',''6017''),(''2000'',''6055''),(''2000'',''6057''),(''2000'',''6058''),(''2000'',''6071''),(''2000'',''6076''),(''2000'',''6078''),(''2000'',''6079''),(''2000'',''6128''),(''2000'',''6148''),(''2000'',''6149''),(''2000'',''6156''),(''2000'',''6168''),(''2000'',''6173''),(''2000'',''6179''),(''2000'',''6186''),(''2000'',''6196''),(''2000'',''6209''),(''2000'',''6218''),(''2000'',''6229''),(''2000'',''6242''),(''2000'',''6259''),(''2000'',''6272''),(''2000'',''6327''),(''2000'',''6361''),(''2000'',''6392''),(''2000'',''6393''),(''2000'',''6405''),(''2000'',''6413''),(''2000'',''6429''),(''2000'',''6433''),(''2000'',''6436''),(''2000'',''6438''),(''2000'',''6439''),(''2000'',''6445''),(''2000'',''6450''),(''2000'',''6453''),(''2000'',''6455''),(''2000'',''6458''),(''2000'',''6459''),(''2000'',''6461''),(''2000'',''6462''),(''2000'',''6465''),(''2000'',''6466''),(''2000'',''6469''),(''2000'',''6476''),(''2000'',''6481''),(''2000'',''6482''),(''2000'',''6485''),(''2000'',''6488''),(''2000'',''6489''),(''2000'',''6491''),(''2000'',''6492''),(''2000'',''6493''),(''2000'',''6494''),(''2000'',''6497''),(''2000'',''6498''),(''2000'',''6500''),(''2000'',''6501''),(''2000'',''6503''),(''2000'',''6505''),(''2000'',''6506''),(''2000'',''6508''),(''2000'',''6509''),(''2000'',''6510''),(''2000'',''6511''),(''2000'',''6512''),(''2000'',''6514''),(''2000'',''6516''),(''2000'',''6517''),(''2000'',''6518''),(''2000'',''6521''),(''2000'',''6522''),(''2000'',''6527''),(''2000'',''6529''),(''2000'',''6530''),(''2000'',''6533''),(''2000'',''6534''),(''2000'',''6535''),(''2000'',''6536''),(''2000'',''6540''),(''2000'',''6542''),(''2000'',''6544''),(''2000'',''6545''),(''2000'',''6548''),(''2000'',''6549''),(''2000'',''6550''),(''2000'',''6551''),(''2000'',''6557''),(''2000'',''6559''),(''2000'',''6561''),(''2000'',''6562''),(''2000'',''6563''),(''2000'',''6567''),(''2000'',''6568''),(''2000'',''6570''),(''2000'',''6571''),(''2000'',''6572''),(''2000'',''6573''),(''2000'',''6577''),(''2000'',''6578''),(''2000'',''6579''),(''2000'',''6580''),(''2000'',''6581''),(''2000'',''6583''),(''2000'',''6584''),(''2000'',''6585''),(''2000'',''6586''),(''2000'',''6587''),(''2000'',''6588''),(''2000'',''6592''),(''2000'',''6593''),(''2000'',''6594''),(''2000'',''6596''),(''2000'',''6597''),(''2000'',''6598''),(''2000'',''6599''),(''2000'',''6600''),(''2000'',''6601''),(''2000'',''6602''),(''2000'',''6604''),(''2000'',''6606''),(''2000'',''6607''),(''2000'',''6608''),(''2000'',''6609''),(''2000'',''6610''),(''2000'',''6611''),(''2000'',''6613''),(''2000'',''6614''),(''2000'',''6616''),(''2000'',''6617''),(''2000'',''6618''),(''2000'',''6620''),(''2000'',''6621''),(''2000'',''6622''),(''2000'',''6623''),(''2000'',''6624''),(''2000'',''6625''),(''2000'',''6626''),(''2000'',''6627''),(''2000'',''6628''),(''2000'',''6629''),(''2000'',''6630''),(''2000'',''6632''),(''2000'',''6638''),(''2000'',''6640''),(''2000'',''6642''),(''2000'',''6643''),(''2000'',''6644''),(''2000'',''6645''),(''2000'',''6647''),(''2000'',''6649''),(''2000'',''6654''),(''2000'',''6656''),(''2000'',''6657''),(''2000'',''6660''),(''2000'',''6662''),(''2000'',''6664''),(''2000'',''6665''),(''2000'',''6668''),(''2000'',''6670''),(''2000'',''6672''),(''2000'',''6673''),(''2000'',''6675''),(''2000'',''6677''),(''2000'',''6678''),(''2000'',''6679''),(''2000'',''6681''),(''2000'',''6686''),(''2000'',''6689''),(''2000'',''6691''),(''2000'',''6693''),(''2000'',''6694''),(''2000'',''6695''),(''2000'',''6697''),(''2000'',''6698''),(''2000'',''6699''),(''2000'',''6700''),(''2000'',''6701''),(''2000'',''6702''),(''2000'',''6705''),(''2000'',''6708''),(''2000'',''6709''),(''2000'',''6712''),(''2000'',''6713''),(''2000'',''6714''),(''2000'',''6716''),(''2000'',''6717''),(''2000'',''6718''),(''2000'',''6719''),(''2000'',''6721''),(''2000'',''6722''),(''2000'',''6724''),(''2000'',''6725''),(''2000'',''6727''),(''2000'',''6728''),(''2000'',''6729''),(''2000'',''6730''),(''2000'',''6732''),(''2000'',''6733''),(''2000'',''6734''),(''2000'',''6737''),(''2000'',''6738''),(''2000'',''6740''),(''2000'',''6742''),(''2000'',''6743''),(''2000'',''6744''),(''2000'',''6749''),(''2000'',''6751''),(''2000'',''6753''),(''2000'',''6755''),(''2000'',''6756''),(''2000'',''6757''),(''2000'',''6759''),(''2000'',''6768''),(''2000'',''6779''),(''2000'',''6780''),(''2000'',''6785''),(''2000'',''6796''),(''2000'',''6797''),(''2000'',''6798''),(''2000'',''6809''),(''2000'',''6813''),(''2000'',''6814''),(''2000'',''6815''),(''2000'',''6816''),(''2000'',''6817''),(''2000'',''6818''),(''2000'',''6820''),(''2000'',''6821''),(''2000'',''6824''),(''2000'',''6827''),(''2000'',''6828''),(''2000'',''6829''),(''2000'',''6830''),(''2000'',''6834''),(''2000'',''6835''),(''2000'',''6841''),(''2000'',''6842''),(''2000'',''6843''),(''2000'',''6844''),(''2000'',''6845''),(''2000'',''6847''),(''2000'',''6851''),(''2000'',''6855''),(''2000'',''6857''),(''2000'',''6865''),(''2000'',''6867''),(''2000'',''6868''),(''2000'',''6879''),(''2000'',''6880''),(''2000'',''6884''),(''2000'',''6885''),(''2000'',''6889''),(''2000'',''6892''),(''2000'',''6893''),(''2000'',''6897''),(''2000'',''6898''),(''2000'',''6900''),(''2000'',''6903''),(''2000'',''6905''),(''2000'',''6906''),(''2000'',''6908''),(''2000'',''6909''),(''2000'',''6912''),(''2000'',''6913''),(''2000'',''6915''),(''2000'',''6917''),(''2000'',''6924''),(''2000'',''6925''),(''2000'',''6926''),(''2000'',''6927''),(''2000'',''6928''),(''2000'',''6934''),(''2000'',''6936''),(''2000'',''6939''),(''2000'',''6940''),(''2000'',''6943''),(''2000'',''6950''),(''2000'',''6951''),(''2000'',''6953''),(''2000'',''6957''),(''2000'',''6960''),(''2000'',''6964''),(''2000'',''6965''),(''2000'',''7069''),(''2000'',''7257''),(''2000'',''7547''),(''2000'',''7802''),(''2000'',''7803''),(''2000'',''7893''),(''2000'',''7895''),(''2000'',''7898''),(''2000'',''8190''),(''2000'',''8263''),(''2000'',''8289''),(''2000'',''8292''),(''2000'',''10678''),(''2000'',''10690''),(''2000'',''11089''),(''2000'',''12857'')) Q ([BUKRS],[No_]))
, EXCL_BANK AS (SELECT Q.* FROM (VALUES (''2000'',''7586''),(''2000'',''5308''),(''2000'',''13529''),(''2000'',''10806''),(''2000'',''10462''),(''2000'',''12922''),(''2000'',''10462''),(''2000'',''10806''),(''2000'',''13713''),(''2000'',''8139''),(''2000'',''9967''),(''2000'',''13671''),(''2000'',''13713''),(''2000'',''1055''),(''2000'',''1166''),(''2000'',''13234''),(''2000'',''1331''),(''2000'',''13580''),(''2000'',''13748''),(''2000'',''13784''),(''2000'',''1480''),(''2000'',''1571''),(''2000'',''1593''),(''2000'',''1803''),(''2000'',''1875''),(''2000'',''2116''),(''2000'',''2469''),(''2000'',''2639''),(''2000'',''2683''),(''2000'',''310''),(''2000'',''3119''),(''2000'',''3209''),(''2000'',''4968''),(''2000'',''6321''),(''2000'',''647''),(''2000'',''8468''),(''2000'',''8946''),(''2000'',''13591''),(''2000'',''13052''),(''2000'',''13016''),(''2000'',''3792''),(''2000'',''13016'')) Q ([BUKRS],[No_]))
, EXCL_CITY AS (SELECT Q.* FROM (VALUES (''2000'',''12844''),(''2000'',''12946''),(''2000'',''12956''),(''2000'',''12960''),(''2000'',''12961''),(''2000'',''13112''),(''2000'',''4722''),(''2000'',''53263''),(''2000'',''53663''),(''2000'',''53892''),(''2000'',''54495''),(''2000'',''90685''),(''2000'',''90721''),(''2000'',''90725''),(''2000'',''11145'')) Q ([BUKRS],[No_]))
'

SET @SQLHO=''
SELECT @SQLHO = @SQLHO + CASE WHEN @SQLHO='' THEN ', HO AS
(' ELSE 'UNION' END
+'  
 SELECT '''+lkpBUKRS+''' [BUKRS]
       , '''+BUKRS+''' FIBUKRS
       , [No_] V_KEY
       , COALESCE(LEN(RTRIM([Name])),0) AS V_NAME1_LEN
       , COALESCE(LEN(RTRIM([Name 2])),0) AS V_NAME2_LEN
       , COALESCE(LEN(RTRIM([Search Name])),0) AS V_NAME_SORT_LEN
       , COALESCE(RTRIM(REPLACE(REPLACE([Search Name], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_NAME_SORT
       , COALESCE(RTRIM(REPLACE(REPLACE([Name], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_NAME1
       , COALESCE(RTRIM(REPLACE(REPLACE([Name 2], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_NAME2
       , COALESCE(RTRIM(REPLACE(REPLACE([Name], CHAR(13), ''''), CHAR(10), '''')),'''') 
       + COALESCE(RTRIM(REPLACE(REPLACE([Name 2], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_NAME12
       , COALESCE(LEN(RTRIM([Address])),0)+'' ''+COALESCE(LEN(RTRIM([Address 2])),0) AS V_STRASSE_LEN
       , (COALESCE(RTRIM(REPLACE(REPLACE([Address], CHAR(13), ''''), CHAR(10), '''')),'''')+'' ''+COALESCE(RTRIM(REPLACE(REPLACE([Address 2], CHAR(13), ''''), CHAR(10), '''')),'''')) AS V_STRASSE
       , COALESCE(LEN(RTRIM(REPLACE(REPLACE([Post Code], CHAR(13), ''''), CHAR(10), ''''))),0) AS V_PLZ_LEN
       , COALESCE(RTRIM(REPLACE(REPLACE([Post Code], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_PLZ
       , COALESCE(LEN(RTRIM([City])),0) AS V_ORT_LEN
       , COALESCE(RTRIM(REPLACE(REPLACE([City], CHAR(13), ''''), CHAR(10), '''')),'''') AS V_ORT
	   , CASE WHEN H.[Country_Region Code]='''' THEN ''33'' ELSE H.[Country_Region Code] END L_ID
	   , CAST(REPLACE(REPLACE(H.[E-Mail], CHAR(13), ''''), CHAR(10), '''') AS varchar(241)) V_EMAIL1
	   , '''' H_EMAIL2
	   , CAST(REPLACE(REPLACE(H.[Phone No_], CHAR(13), ''''), CHAR(10), '''') AS varchar(30)) V_TEL1
	   , '''' H_TEL2
	   , CAST(REPLACE(REPLACE(H.[Fax No_], CHAR(13), ''''), CHAR(10), '''') AS varchar(30)) V_FAX1
	   , '''' H_FAX2
	   , H.[Language Code] V_SPRACHE
   FROM ['+BUKRS+'$Vendor] H WITH (NOLOCK)
'
  FROM #R Q

SET @SQL=''
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '), Result AS
(' ELSE 'UNION' END
+'
SELECT ''01''                         AS AKTYP -- 001
     , LEFT(''FLVN00'',6)             AS RLTP1 -- 002
     , CASE VM.[Export Structure Entry No_]
	     WHEN 15 THEN ''''
	     WHEN 16 THEN ''''
	     WHEN 17 THEN VM.[Destination Value]
	     WHEN 18 THEN ''''
	     WHEN 19 THEN ''''
	     WHEN 20 THEN ''''
	   END AS PARTNER -- 003
     , ''2''                          AS TYPE -- 004
	 , CASE VM.[Export Structure Entry No_]
	     WHEN 15 THEN ''TAX''
	     WHEN 16 THEN ''EMP''
	     WHEN 17 THEN ''INC''
	     WHEN 18 THEN ''PAR''
	     WHEN 19 THEN ''CPD''
	     WHEN 20 THEN ''SUP''
	   END AS BPKIND -- 005
	 , CASE VM.[Export Structure Entry No_]
	     WHEN 15 THEN ''TAXO''
	     WHEN 16 THEN ''EMPL''
	     WHEN 17 THEN ''INCO''
	     WHEN 18 THEN ''PART''
	     WHEN 19 THEN ''CPDC''
	     WHEN 20 THEN ''SUPL''
	   END AS BU_GROUP -- 006
     , '''+lkpBUKRS+''' + ''-'' + CAST(HO.V_KEY AS VARCHAR(10)) AS BPEXT -- 007
     , CASE WHEN HO.V_NAME_SORT='''' THEN LEFT(RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 THEN HO.V_NAME1 ELSE LEFT(HO.V_NAME1,40) END),20) ELSE RTRIM(LEFT(HO.V_NAME_SORT,20)) END AS BU_SORT1 -- 008
     , '''' AS BU_SORT2 -- 009
     , ''NAV''                        AS SOURCE -- 010
     , ''HQ''                         AS AUGRP -- 011
     , CAST(RTRIM(CASE WHEN HO.V_NAME1_LEN<=40                        THEN HO.V_NAME1 ELSE LEFT(HO.V_NAME1,40)        END) AS varchar(130))AS NAME_ORG1 -- 012
     , CAST(RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN HO.V_NAME2 ELSE SUBSTRING(HO.V_NAME12,41,40)  END) AS varchar(70)) AS NAME_ORG2 -- 013
     , CAST(RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN ''''         ELSE SUBSTRING(HO.V_NAME12,81,40)  END) AS varchar(40))AS NAME_ORG3 -- 014
     , CAST(RTRIM(CASE WHEN HO.V_NAME1_LEN<=40 AND HO.V_NAME2_LEN<=40 THEN ''''         ELSE SUBSTRING(HO.V_NAME12,121,40) END) AS varchar(40))AS NAME_ORG4 -- 015
     , ''I''                          AS CHIND_ADDR -- 016
     , ''''                           AS ADEXT_ADDR -- 017
     , ''XXDEFAULT''                  AS ADR_KIND -- 018
     , RTRIM(LEFT(HO.V_STRASSE,60))        AS STREET -- 019
     , RTRIM(CASE WHEN HO.V_STRASSE_LEN>60  THEN SUBSTRING(HO.V_STRASSE,61,40) ELSE '''' END)                              AS STR_SUPPL1 -- 020
     , ''''                           AS HOUSE_NUM1 -- 021
     , CASE WHEN 
         CASE WHEN HO.V_PLZ_LEN>10 THEN '',003'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=1 AND (HO.V_PLZ_LEN>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0) THEN '',012'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=2 AND (HO.V_PLZ_LEN>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0 OR ISNUMERIC(HO.V_PLZ)=0) THEN '',013'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=3 AND (HO.V_PLZ_LEN<>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0) THEN '',014'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=4 AND (HO.V_PLZ_LEN<>PR.[LEN] OR CHARINDEX('' '',HO.V_PLZ)>0 OR ISNUMERIC(HO.V_PLZ)=0) THEN '',015'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=5 AND (HO.V_PLZ_LEN>PR.[LEN]) THEN '',016'' ELSE '''' END
       + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND COALESCE(PR.[CHECK],0)=9 AND MIGRATION.CheckPattern(HO.V_PLZ,PR.[FORMAT])=0 THEN '',017'' ELSE '''' END
       = '''' THEN RTRIM(LEFT(HO.V_PLZ,10)) ELSE '''' END AS POST_CODE1 -- 022
     , RTRIM(LEFT(HO.V_ORT,40))            AS CITY1 -- 023
     , ''''                                  AS CITY2 -- 024
     , CAST(HO.L_ID AS varchar(10))        AS COUNTRY -- 025
     , LEFT(H.[Territory Code],3)                             AS REGION -- 026
     , CASE
         WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''INT''
         WHEN COALESCE(V_TEL1,'''')<>''''  THEN ''TEL''
         WHEN COALESCE(V_FAX1,'''')<>''''  THEN ''FAX''
         ELSE ''''
       END                                 AS DEFLT_COMM -- 027
     , CASE WHEN COALESCE(V_TEL1,'''')<>'''' THEN ''I''       ELSE '''' END AS CHIND_TEL -- 028
     , CASE WHEN COALESCE(V_TEL1,'''')<>'''' THEN ''001''     ELSE '''' END AS TEL_CONSNR -- 029
     , V_TEL1 AS TEL_NUMBER -- 030
     , CASE WHEN COALESCE(V_FAX1,'''')<>'''' THEN ''I''       ELSE '''' END AS CHIND_FAX -- 031
     , CASE WHEN COALESCE(V_FAX1,'''')<>'''' THEN ''001''     ELSE '''' END AS FAX_CONSNR -- 032
     , V_FAX1 AS FAX_NUMBER -- 033
     , CASE WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''I''     ELSE '''' END AS CHIND_SMTP -- 034
     , CASE WHEN COALESCE(V_EMAIL1,'''')<>'''' THEN ''001''   ELSE '''' END AS SMTP_CONSNR -- 035
     , CAST(V_EMAIL1 AS varchar(241)) AS SMTP_ADDR -- 036
     , CAST(V_SPRACHE AS varchar(10))                                  LANGU -- 037
	 , HO.FIBUKRS -- 038
     , H.[Responsibility Center] BEGRU -- 039
	 , RIGHT(''0000000000''+VMK.[Destination Value], 10) AS AKONT_LFB1 -- 040
	 , CAST(''AP3RDPARTY'' AS varchar(10)) AS FDGRV_LFB1 -- 041
	 , H.[Payment Terms Code] AS ZTERM_LFB1 -- 042
	 , CAST(CASE WHEN COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[SWIFT Code],'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''' THEN ''3'' WHEN (COALESCE(BA.[Country_Region Code],'''') IN (''33'',''DE'') OR SUBSTRING(CAST(REPLACE(REPLACE(LEFT(COALESCE(BA.[SWIFT Code],''''),15),'' '',''''),''-'','''') AS varchar(15)),5,2) IN (''33'',''DE'')) THEN ''1'' ELSE ''2'' END AS varchar(10)) AS ZWELS_LFB1 -- 043
	 , CAST(''X'' AS varchar(1)) AS REPRF -- 044
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE ''I'' END CHIND_BANK -- 045
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE CAST(''1'' AS varchar(4)) END BKVID -- 046
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE SUBSTRING(CAST(REPLACE(REPLACE(LEFT(COALESCE(BA.[SWIFT Code],''''),15),'' '',''''),''-'','''') AS varchar(15)),5,2) END BANKS -- 047
	 , CAST(CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE REPLACE(REPLACE(LEFT(COALESCE(BA.[SWIFT Code],''''),15),'' '',''''),''-'','''') END AS varchar(15)) BANKL -- 048
	 , CAST(CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE REPLACE(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'',''''),''.'','''') END AS varchar(18)) BANKN -- 049
	 , LEFT(CASE WHEN COALESCE(HO.V_KEY,'''') IN (''8139'',''9967'',''13671'',''13713'') AND HO.BUKRS='''+lkpBUKRS+''' THEN BA.[Transit No_] ELSE '''' END,2) BKONT -- 050
	 , '''' BKREF -- 051
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL OR (COALESCE(BA.IBAN,'''')='''' AND COALESCE(BA.[Bank Account No_],'''')='''') THEN '''' ELSE CASE WHEN COALESCE(BA.Owner,'''')='''' THEN H.Name ELSE COALESCE(BA.Owner,'''') END END KOINH -- 052
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL THEN '''' ELSE COALESCE(BA.[Transit No_],'''') END BKEXT -- 053
	 , '''' XEZER -- 054
	 , CASE WHEN NOT EXCL_BANK.[No_] IS NULL THEN '''' ELSE CAST(REPLACE(COALESCE(BA.IBAN,''''),'' '','''') AS varchar(50)) END IBAN -- 055

     , '''' 
     + CASE WHEN HO.V_NAME1_LEN+HO.V_NAME2_LEN>160 THEN '',002'' ELSE '''' END
     + CASE WHEN HO.V_ORT_LEN>40 THEN '',004'' ELSE '''' END
	 + CASE WHEN ISNUMERIC(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'','''')) =0 AND LEN(BA.[Bank Account No_])>0 THEN '',020'' ELSE '''' END
	 + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17,19,20)) AND RTRIM(LEFT(HO.V_PLZ,10))='''' THEN '',021'' ELSE '''' END
	 + CASE WHEN H.[Territory Code]<>'''' AND TE.[Code] IS NULL THEN '',022'' ELSE '''' END
	 + CASE WHEN NOT (VM.[Export Structure Entry No_] IN (16,17)) AND SUBSTRING(RTRIM(LEFT(HO.V_PLZ,10)),8,1) IN(''!'',''@'',''#'',''$'',''%'',''&'',''*'',''-'',''_'',''?'',''\'',''/'',''B'',''G'',''I'',''J'',''L'',''M'',''O'',''Q'',''S'',''U'') THEN '',023'' ELSE '''' END
	 + CASE WHEN MIGRATION.ChkValidEmail(V_EMAIL1)=0 AND V_EMAIL1<>'''' THEN '',024'' ELSE '''' END
     + CASE WHEN (CAST(HO.V_KEY AS VARCHAR(10)) = ''1146'' AND HO.BUKRS='''+lkpBUKRS+''' AND CAST(CASE WHEN ISNUMERIC(REPLACE(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'',''''),''.'','''')) > 0 THEN REPLACE(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'',''''),''.'','''') ELSE '''' END AS varchar(18))=''55561500'')
	          OR (CAST(HO.V_KEY AS VARCHAR(10)) = ''824'' AND HO.BUKRS='''+lkpBUKRS+''' AND CAST(CASE WHEN ISNUMERIC(REPLACE(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'',''''),''.'','''')) > 0 THEN REPLACE(REPLACE(REPLACE(LEFT(COALESCE(BA.[Bank Account No_],''''),18),'' '',''''),''-'',''''),''.'','''') ELSE '''' END AS varchar(18))=''124019100'')
            THEN '',028'' ELSE '''' END
	 + CASE WHEN BA.[SWIFT Code]='''' AND BA.IBAN<>'''' THEN '',030'' ELSE '''' END
	 + CASE WHEN NOT EXCL_CITY.[No_] IS NULL AND NOT VLE.[Vendor No_] IS NULL AND NOT (VM.[Export Structure Entry No_] IN (16,17,19,20)) THEN '',031'' ELSE '''' END     
     + CASE WHEN COALESCE(KTO160000.[No_],'''')<>'''' THEN '',032'' ELSE '''' END
	 + CASE WHEN VM.[Export Structure Entry No_]=17 AND VM.[Destination Value]='''' THEN '',033'' ELSE '''' END
       AS ERROR
  FROM ['+BUKRS+'$Vendor] H WITH (NOLOCK)
  JOIN ['+BUKRS+'$Value Mapping] VM WITH (NOLOCK)
    ON VM.[Source Value]=H.[No_]
   AND VM.[Source Table No_]=23
   AND VM.[Export Structure Entry No_] BETWEEN 15 AND 20
  JOIN HO ON HO.V_KEY = H.[No_] AND HO.BUKRS = '''+lkpBUKRS+'''
  JOIN ['+BUKRS+'$Vendor Posting Group] VP WITH (NOLOCK) ON VP.[Code] = H.[Vendor Posting Group]
  JOIN ['+BUKRS+'$Value Mapping] VMK WITH (NOLOCK)
    ON VMK.[Source Value]=VP.[Payables Account]
   AND VMK.[Source Table No_]=15
LEFT JOIN ['+BUKRS+'$Territory] TE ON TE.[Code]=H.[Territory Code] 
LEFT JOIN MIGRATION.GetZipcodeRules() PR ON PR.L_ID = HO.L_ID
  JOIN ['+BUKRS+'$Salesperson_Purchaser] SP WITH (NOLOCK)
    ON H.[Purchaser Code] = SP.[Code]
LEFT JOIN ['+BUKRS+'$Vendor Bank Account] BA WITH (NOLOCK)
       ON BA.[Vendor No_] = H.[No_]
      AND BA.[Clearing]=1
LEFT JOIN KTO160000 ON KTO160000.[No_]=H.[No_] AND KTO160000.[BUKRS]='''+lkpBUKRS+'''
LEFT JOIN EXCL_BANK ON EXCL_BANK.[No_]=H.[No_]
LEFT JOIN EXCL_CITY ON EXCL_CITY.[No_]=H.[No_]
LEFT JOIN VLE ON VLE.[Vendor No_] = H.[No_] AND HO.BUKRS = '''+lkpBUKRS+'''
 --WHERE (H.Blocked<>2 AND (EXCL_CITY.[No_] IS NULL OR NOT VLE.[Vendor No_] IS NULL))
   --AND ((NOT HO.V_ORT='''' OR VLE.[Vendor No_] IS NULL OR VM.[Export Structure Entry No_]=16) AND H.[No_] NOT IN (''6341'',''218'',''10573''))) 
   --OR VM.[Export Structure Entry No_]=17
'
FROM #R Q

SELECT @SQL += ')
SELECT DISTINCT R.* 
  FROM Result R
LEFT JOIN VLE ON VLE.[Vendor No_]=R.BPEXT
LEFT JOIN KTO160000 ON KTO160000.[No_]=R.BPEXT AND KTO160000.[BUKRS]=R.[FIBUKRS]
 WHERE NOT((R.AKONT_LFB1=''0000160000'' OR R.ERROR<>'''') AND COALESCE(VLE.[Vendor No_],'''')='''')'

SET @SQLWith+=@SQLHO+@SQL

PRINT(SUBSTRING(@SQLWith,1,8000))
PRINT(SUBSTRING(@SQLWith,8001,8000))
PRINT(SUBSTRING(@SQLWith,16001,8000))
PRINT(SUBSTRING(@SQLWith,24001,8000))
PRINT(SUBSTRING(@SQLWith,32001,8000))
PRINT(SUBSTRING(@SQLWith,40001,8000))
PRINT(SUBSTRING(@SQLWith,48001,8000))
PRINT(SUBSTRING(@SQLWith,56001,8000))
PRINT(SUBSTRING(@SQLWith,64001,8000))
PRINT(SUBSTRING(@SQLWith,72001,8000))
PRINT(SUBSTRING(@SQLWith,80001,8000))
PRINT(SUBSTRING(@SQLWith,88001,8000))
PRINT(SUBSTRING(@SQLWith,96001,8000))
PRINT(SUBSTRING(@SQLWith,104001,8000))
PRINT(SUBSTRING(@SQLWith,112001,8000))
PRINT(SUBSTRING(@SQLWith,120001,8000))
PRINT(SUBSTRING(@SQLWith,128001,8000))
PRINT(SUBSTRING(@SQLWith,136001,8000))
PRINT(SUBSTRING(@SQLWith,144001,8000))
PRINT(SUBSTRING(@SQLWith,152001,8000))
PRINT(SUBSTRING(@SQLWith,160001,8000))
PRINT(SUBSTRING(@SQLWith,168001,8000))
PRINT(SUBSTRING(@SQLWith,176001,8000))
PRINT(SUBSTRING(@SQLWith,184001,8000))
PRINT(SUBSTRING(@SQLWith,192001,8000))
PRINT(SUBSTRING(@SQLWith,200001,8000))

EXEC(@SQLWith)
GO
