USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_FA_LookupANLA-ANLKL]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [MIGRATION].[ZHRS_MIG_FA_LookupANLA-ANLKL] AS
BEGIN
WITH ANLKL AS
(
  SELECT 'HRS' [ANLA-BUKRS]
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'Codenet'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [Codenet$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'Hotel Solutions Verwaltung'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [Hotel Solutions Verwaltung$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'HRS PaySol'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [HRS PaySol$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'HRS Product Solutions GmbH'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [HRS Product Solutions GmbH$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'HRS Ragge Holding'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [HRS Ragge Holding$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'Product Development'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [Product Development$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
UNION
  SELECT 'Trade'
       , VM.[Source Value] [ANLA-ANLKL]
       , VM.[Destination Value] [lkpANLA-ANLKL]
    FROM [Trade$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5607
     AND VM.[Mapping validated by] <> ''
--UNION
--  SELECT Q.* FROM (VALUES('HRS','',''),('Codenet','',''),('Hotel Solutions Verwaltung','',''),('HRS PaySol','',''),('HRS Product Solutions GmbH','',''),('HRS Ragge Holding','',''),('Product Development','',''),('Trade','','')) AS Q ([ANLA-BUKRS],[ANLA-ANLKL],[lkpANLA-ANLKL])
)
SELECT * FROM ANLKL --WHERE [ANLA-ANLKL] IN ('SW')
END

GO
