USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [MIGRATION].[CheckPattern]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 21.10.2020
-- Description:	Initial für die Prüfung der PLZ notwendig
-- =============================================
CREATE FUNCTION [MIGRATION].[CheckPattern]
(
    @ValueToCheck varchar(100)
  , @PatternList  varchar(1000)
)
RETURNS int
AS
BEGIN
	DECLARE @Matched int =1
	      , @Pattern varchar(100)

	DECLARE cur CURSOR FOR
	SELECT [String] FROM dbo.[Split](@PatternList,';')

	OPEN cur

	FETCH NEXT FROM cur INTO @Pattern

	WHILE @@FETCH_STATUS=0
	BEGIN
	  IF NOT EXISTS(SELECT [Value] FROM (VALUES (@ValueToCheck)) AS q ([Value]) WHERE [Value] LIKE @Pattern)
	    RETURN 0
	  FETCH NEXT FROM cur INTO @Pattern
	END

	CLOSE cur
	DEALLOCATE cur

	RETURN @Matched

END
GO
