USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectFAPostingTypeAccount]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[SelectFAPostingTypeAccount]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

IF OBJECT_ID('FAPostingTypeAccount') IS NOT NULL
    DROP TABLE FAPostingTypeAccount
CREATE TABLE FAPostingTypeAccount ([Company] varchar(30),[Posting Group] varchar(10),[FA Posting Type] int, [Account No.] varchar(20))

DECLARE @V AS TABLE ([Vendor No.] varchar(25),[Account No.] varchar(25))
;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
--	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + '
;WITH FAPG AS
(
SELECT [Code]
     , FT.[Index] [FA Posting Type]
     , CASE 
         WHEN FT.[Index]=1 THEN [Acquisition Cost Account] 
         WHEN FT.[Index]=2 THEN [Accum_ Depreciation Account] 
         WHEN FT.[Index]=3 THEN [Write-Down Account] 
         WHEN FT.[Index]=4 THEN [Appreciation Account] 
         WHEN FT.[Index]=5 THEN [Custom 1 Account] 
         WHEN FT.[Index]=6 THEN [Custom 2 Account] 
         WHEN FT.[Index]=7 THEN [Acq_ Cost Acc_ on Disposal] 
         WHEN FT.[Index]=8 THEN [Maintenance Expense Account] 
       END [G_L Account No_]
  FROM DynNavHRS.dbo.['+BUKRS+'$FA Posting Group] PG, Split('' ,Anschaffung,Normal-AfA,Erhöhte AfA,Zuschreibung,Sonder-AfA,Benutzerdef. AfA,Verkauf,Wartung'','','') FT 
 WHERE FT.[Index] BETWEEN 0 AND 8
 )
   INSERT INTO FAPostingTypeAccount
   SELECT '''+lkpBUKRS+''' [Company]
        , VM.[Destination Value] [Posting Group]
        , FAPG.[FA Posting Type]
        , CAST(RIGHT(''0000000000''+RTRIM(VM2.[Destination Value]),10) AS varchar(25)) [Account No.]
     FROM FAPG
     JOIN DynNavHRS.dbo.['+BUKRS+'$Value Mapping] VM WITH (NOLOCK) ON VM.[Source Table No_]=5607 AND REPLACE(VM.[Source Value],''IMMATERIEL'',''IMMAT'')=FAPG.[Code]
     JOIN DynNavHRS.dbo.['+BUKRS+'$Value Mapping] VM2 WITH (NOLOCK) ON VM2.[Source Table No_]=15 AND VM2.[Source Value]=FAPG.[G_L Account No_] AND VM2.[Destination Value]<>''''
' 
FROM Q

SET @SQL = @SQL + '
INSERT INTO FAPostingTypeAccount VALUES (''2000'',''H001000'',2,''0000001099'')
INSERT INTO FAPostingTypeAccount
SELECT [Company], [Posting Group], 0, [Account No.] FROM FAPostingTypeAccount WHERE [FA Posting Type]=1
SELECT DISTINCT * FROM FAPostingTypeAccount ORDER BY 1,2,3'

EXEC DebugPrint @SQL


EXEC(@SQL)
END

GO
