USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectGLAccount]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[SelectGLAccount]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Source Value] [regBUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     --AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','Trade','Venturecube','HRS-CN','HRS-BR','HRS Payment','HRS PaySol')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '' ELSE '
UNION
' END
     + '   SELECT '''+regBUKRS+''' [Company]
        , GL.[No_]
        , GL.[Name]
        , CASE WHEN GL.[Blocked from] = ''1753-01-01'' THEN null ELSE GL.[Blocked from] END [Blocked from]
        , '''+lkpBUKRS+''' [BUKRS]
        , VM.[Destination Value] [HKONT]
     FROM ['+BUKRS+'$G_L Account] GL WITH (NOLOCK) 
LEFT JOIN ['+BUKRS+'$Value Mapping] VM WITH (NOLOCK)
       ON GL.[No_] = VM.[Source Value]
      AND VM.[Source Table No_]=15
      AND VM.[Mapping validated by]<>''''
'
FROM Q

SET @SQL = @SQL + '
ORDER BY 5,2
'
EXEC(@SQL)
END
GO
