USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_BP_MKK_LookupLANGU]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[ZHRS_MIG_BP_MKK_LookupLANGU] AS
BEGIN
  SELECT VM.[Source Value] [LANGU]
       , VM.[Destination Value] [lkpLANGU]
    FROM [HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 8
     AND VM.[Mapping validated by] <> ''
END
GO
