USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectCreitorWithBalance]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[SelectCreitorWithBalance]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '
CREATE TABLE #V ([BUKRS] varchar(4), [Mandant] varchar(35), [Vendor No_] varchar(20), [Name] varchar(100), [Balance (LCY)] dec(38,20), [Purchaser Code] varchar(20))
' ELSE '
' END
     + ';WITH VLE AS (SELECT VLE.[Vendor No_], SUM(DVLE.[Amount (LCY)]) [Balance (LCY)] FROM DynNavHRS.dbo.['+BUKRS+'$Vendor Ledger Entry] VLE WITH (NOLOCK) JOIN DynNavHRS.dbo.['+BUKRS+'$Detailed Vendor Ledg_ Entry] DVLE WITH (NOLOCK) ON VLE.[Entry No_]=DVLE.[Vendor Ledger Entry No_] WHERE VLE.[Posting Date]>''1970-12-31'' GROUP BY VLE.[Vendor No_] HAVING SUM(DVLE.[Amount (LCY)])<>0)
INSERT INTO #V
SELECT '''+lkpBUKRS+''' [BUKRS]
     , '''+BUKRS+''' [Mandant]
	 , [No_] [Vendor No_]
	 , [Name]
	 , [Balance (LCY)]
	 , [Purchaser Code]
  FROM DynNavHRS.dbo.['+BUKRS+'$Vendor] V WITH (NOLOCK) JOIN VLE ON V.[No_]=VLE.[Vendor No_]
'
FROM Q

SET @SQL = @SQL + '
SELECT * FROM #V
'
EXEC(@SQL)
END
GO
