USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[FillAccountBalances]    Script Date: 10.04.2024 14:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 26.10.20
-- Description:	Fill Table [MIGRATION].[AccountBalances]
--
-- ACS-3392 exclude all Entries that were posted in SAP generated in [MIGRATION].[VendorOpenItems] feedback from RSER via [MIGRATION].[VendorOpenItemsPostedInSAP]
-- ACS-3551 exclude all Entries that are assignet to SAP Account No. 160011 or 163001
-- ACS-3640 exclude all Entries that were transfered separately by Package PTransferBankEntries
-- -------- excluse all Closing Entries
-- ACS-4296 exclude Vendor 70000 from Vendor Open Items Transfer Exclusion
/*
EXEC [MIGRATION].[FillAccountBalances] 
*/
-- =============================================
CREATE PROCEDURE [MIGRATION].[FillAccountBalances]
--DECLARE
        @PeriodStart date = '1970-01-01'
      , @TransferStartDate   datetime = '2020-12-31 23:59:59'
	  , @PeriodEnd datetime = '2024-12-31 23:59:59'
      , @Debug int = 1
      , @ReCreateExcludeFA int=0
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @ReCreateTransferAccountBalances tinyint = 1
      , @CountTransferAccountBalances int=0
      , @ReCreateAccountSums tinyint = 1
      , @CountAccountSums int=0

IF @ReCreateExcludeFA=1
  IF OBJECT_ID('tempdb..#ExcludeFA') IS NOT NULL
    DROP TABLE #ExcludeFA

IF OBJECT_ID('tempdb..#ExcludeFA') IS NULL
BEGIN
CREATE TABLE #ExcludeFA ([Company] varchar(35) COLLATE Latin1_General_CS_AS, [FA No_] varchar(20) COLLATE Latin1_General_CS_AS, PRIMARY KEY CLUSTERED ([Company],[FA No_]))
INSERT INTO #ExcludeFA
SELECT Q.*
  FROM (VALUES ('Codenet','1'),('Codenet','2'),('Codenet','3'),('Codenet','4'),('Codenet','5'),('Codenet','19'),('Codenet','100'),('Codenet','101'),('Codenet','102'),('Hotel Solutions Verwaltung','30000'),('HRS','1345'),('HRS','1354'),('HRS','1355'),('HRS','1357'),('HRS','1359'),('HRS','1360'),('HRS','1363'),('HRS','1364'),('HRS','1365'),('HRS','1366'),('HRS','1367'),('HRS','1368'),('HRS','1370'),('HRS','1372'),('HRS','1373'),('HRS','1374'),('HRS','1375'),('HRS','1376'),('HRS','1378'),('HRS','1379'),('HRS','1420'),('HRS','1427'),('HRS','1428'),('HRS','1429'),('HRS','1430'),('HRS','1431'),('HRS','1432'),('HRS','1433'),('HRS','1436'),('HRS','1441'),('HRS','1442'),('HRS','1572'),('HRS','1573'),('HRS','1574'),('HRS','1576'),('HRS','1577'),('HRS','1578'),('HRS','1579'),('HRS','1580'),('HRS','1581'),('HRS','1739'),('HRS','1740'),('HRS','1742'),('HRS','1743'),('HRS','1744'),('HRS','1745'),('HRS','1746'),('HRS','1747'),('HRS','1748'),('HRS','1749'),('HRS','1750'),('HRS','1751'),('HRS','1752'),('HRS','1753'),('HRS','1754'),('HRS','1755'),('HRS','1756'),('HRS','1902'),('HRS','1903'),('HRS','1904'),('HRS','1905'),('HRS','1906'),('HRS','1907'),('HRS','1908'),('HRS','1909'),('HRS','1960'),('HRS','1961'),('HRS','1962'),('HRS','2066'),('HRS','2067'),('HRS','2068'),('HRS','2069'),('HRS','2070'),('HRS','2071'),('HRS','2072'),('HRS','2080'),('HRS','2081'),('HRS','2082'),('HRS','2103'),('HRS','2105'),('HRS','2106'),('HRS','2108'),('HRS','2109'),('HRS','2111'),('HRS','2115'),('HRS','2124'),('HRS','2130'),('HRS','2131'),('HRS','2132'),('HRS','2133'),('HRS','2135'),('HRS','2207'),('HRS','2208'),('HRS','2209'),('HRS','2210'),('HRS','2211'),('HRS','2212'),('HRS','2213'),('HRS','2214'),('HRS','2215'),('HRS','2219'),('HRS','2220'),('HRS','2221'),('HRS','2224'),('HRS','2225'),('HRS','2226'),('HRS','2227'),('HRS','2228'),('HRS','2229'),('HRS','2231'),('HRS','2233'),('HRS','2234'),('HRS','2235'),('HRS','2236'),('HRS','2237'),('HRS','2238'),('HRS','2239'),('HRS','2240'),('HRS','2242'),('HRS','2243'),('HRS','2244'),('HRS','2245'),('HRS','2246'),('HRS','2247'),('HRS','2248'),('HRS','2249'),('HRS','2250'),('HRS','2251'),('HRS','2252'),('HRS','2253'),('HRS','2254'),('HRS','2255'),('HRS','2256'),('HRS','2257'),('HRS','2258'),('HRS','2259'),('HRS','2260'),('HRS','2261'),('HRS','2262'),('HRS','2263'),('HRS','2264'),('HRS','2265'),('HRS','2266'),('HRS','2267'),('HRS','2268'),('HRS','2269'),('HRS','2270'),('HRS','2271'),('HRS','2275'),('HRS','2276'),('HRS','2277'),('HRS','2278'),('HRS','2280'),('HRS','2281'),('HRS','2282'),('HRS','2283'),('HRS','2284'),('HRS','2285'),('HRS','2286'),('HRS','2290'),('HRS','2291'),('HRS','2292'),('HRS','2293'),('HRS','2294'),('HRS','2295'),('HRS','2296'),('HRS','2297'),('HRS','2298'),('HRS','2299'),('HRS','2300'),('HRS','2301'),('HRS','2302'),('HRS','2303'),('HRS','2304'),('HRS','2305'),('HRS','2306'),('HRS','2307'),('HRS','2308'),('HRS','2309'),('HRS','2310'),('HRS','2311'),('HRS','2312'),('HRS','2313'),('HRS','2314'),('HRS','2316'),('HRS','2317'),('HRS','2318'),('HRS','2319'),('HRS','2320'),('HRS','2321'),('HRS','2322'),('HRS','2323'),('HRS','2324'),('HRS','2326'),('HRS','2327'),('HRS','2328'),('HRS','2329'),('HRS','2330'),('HRS','2331'),('HRS','2332'),('HRS','2333'),('HRS','2334'),('HRS','2335'),('HRS','2336'),('HRS','2341'),('HRS','2342'),('HRS','2343'),('HRS','2344'),('HRS','2345'),('HRS','2346'),('HRS','2347'),('HRS','2348'),('HRS','2349'),('HRS','2350'),('HRS','2351'),('HRS','2352'),('HRS','2353'),('HRS','2354'),('HRS','2355'),('HRS','2356'),('HRS','2357'),('HRS','2358'),('HRS','2359'),('HRS','2361'),('HRS','2362'),('HRS','2363'),('HRS','2364'),('HRS','2365'),('HRS','2366'),('HRS','2367'),('HRS','2368'),('HRS','2369'),('HRS','2370'),('HRS','2372'),('HRS','2374'),('HRS','2375'),('HRS','2376'),('HRS','2377'),('HRS','2378'),('HRS','2379'),('HRS','2380'),('HRS','2381'),('HRS','2382'),('HRS','2384'),('HRS','2385'),('HRS','2386'),('HRS','2387'),('HRS','2388'),('HRS','2389'),('HRS','2390'),('HRS','2391'),('HRS','2392'),('HRS','2393'),('HRS','2394'),('HRS','2395'),('HRS','2397'),('HRS','2399'),('HRS','2400'),('HRS','2401'),('HRS','2402'),('HRS','2403'),('HRS','2404'),('HRS','2405'),('HRS','2406'),('HRS','2407'),('HRS','2408'),('HRS','2410'),('HRS','2411'),('HRS','2412'),('HRS','2413'),('HRS','2414'),('HRS','2415'),('HRS','2416'),('HRS','2417'),('HRS','2418'),('HRS','2419'),('HRS','2420'),('HRS','2421'),('HRS','2422'),('HRS','2423'),('HRS','2424'),('HRS','2425'),('HRS','2426'),('HRS','2427'),('HRS','2428'),('HRS','2429'),('HRS','2430'),('HRS','2431'),('HRS','2432'),('HRS','2433'),('HRS','2436'),('HRS','2437'),('HRS','2438'),('HRS','2439'),('HRS','2440'),('HRS','2441'),('HRS','2442'),('HRS','2443'),('HRS','2444'),('HRS','2445'),('HRS','2446'),('HRS','2447'),('HRS','2448'),('HRS','2449'),('HRS','2450'),('HRS','2451'),('HRS','2452'),('HRS','2453'),('HRS','2454'),('HRS','2455'),('HRS','2456'),('HRS','2457'),('HRS','2458'),('HRS','2459'),('HRS','2460'),('HRS','2461'),('HRS','2462'),('HRS','2463'),('HRS','2464'),('HRS','2465'),('HRS','2467'),('HRS','2468'),('HRS','2469'),('HRS','2470'),('HRS','2471'),('HRS','2472'),('HRS','2473'),('HRS','2474'),('HRS','2475'),('HRS','2476'),('HRS','2477'),('HRS','2478'),('HRS','2479'),('HRS','2480'),('HRS','2481'),('HRS','2482'),('HRS','2483'),('HRS','2484'),('HRS','2485'),('HRS','2486'),('HRS','2487'),('HRS','2488'),('HRS','2489'),('HRS','2490'),('HRS','2491'),('HRS','2492'),('HRS','2493'),('HRS','2494'),('HRS','2495'),('HRS','2496'),('HRS','2497'),('HRS','2498'),('HRS','2499'),('HRS','2500'),('HRS','2501'),('HRS','2502'),('HRS','2503'),('HRS','2504'),('HRS','2505'),('HRS','2506'),('HRS','2507'),('HRS','2508'),('HRS','2509'),('HRS','2510'),('HRS','2511'),('HRS','2512'),('HRS','2513'),('HRS','2514'),('HRS','2515'),('HRS','2516'),('HRS','2517'),('HRS','2518'),('HRS','2519'),('HRS','2520'),('HRS','2521'),('HRS','2522'),('HRS','2523'),('HRS','2524'),('HRS','2525'),('HRS','2526'),('HRS','2527'),('HRS','2528'),('HRS','2529'),('HRS','2530'),('HRS','2531'),('HRS','2532'),('HRS','2533'),('HRS','2534'),('HRS','2535'),('HRS','2536'),('HRS','2537'),('HRS','2538'),('HRS','2539'),('HRS','2540'),('HRS','2541'),('HRS','2542'),('HRS','2543'),('HRS','2544'),('HRS','2545'),('HRS','2546'),('HRS','2547'),('HRS','2548'),('HRS','2549'),('HRS','2550'),('HRS','2551'),('HRS','2552'),('HRS','2553'),('HRS','2554'),('HRS','2555'),('HRS','2556'),('HRS','2557'),('HRS','2558'),('HRS','2559'),('HRS','2560'),('HRS','2561'),('HRS','2562'),('HRS','2563'),('HRS','2564'),('HRS','2565'),('HRS','2566'),('HRS','2567'),('HRS','2568'),('HRS','2569'),('HRS','2570'),('HRS','2571'),('HRS','2572'),('HRS','2573'),('HRS','2574'),('HRS','2575'),('HRS','2576'),('HRS','2577'),('HRS','2578'),('HRS','2579'),('HRS','2580'),('HRS','2581'),('HRS','2582'),('HRS','2583'),('HRS','2584'),('HRS','2585'),('HRS','2586'),('HRS','2587'),('HRS','2588'),('HRS','2590'),('HRS','2591'),('HRS','2592'),('HRS','2593'),('HRS','2594'),('HRS','2595'),('HRS','2596'),('HRS','2597'),('HRS','2598'),('HRS','2599'),('HRS','2600'),('HRS','2601'),('HRS','2602'),('HRS','2603'),('HRS','2604'),('HRS','2605'),('HRS','2606'),('HRS','2607'),('HRS','2608'),('HRS','2609'),('HRS','2610'),('HRS','2611'),('HRS','2612'),('HRS','9000'),('HRS','9001'),('HRS','9002'),('HRS','9003'),('HRS','9004'),('HRS','9005'),('HRS','9006'),('HRS','9007'),('HRS','9009'),('HRS','9011'),('HRS','9012'),('HRS','9014'),('HRS','9015'),('HRS','9016'),('HRS','9017'),('HRS','9018'),('HRS','9020'),('HRS','9022'),('HRS','9024'),('HRS','9025'),('HRS','9029'),('HRS','9031'),('HRS','9032'),('HRS','9033'),('HRS','9034'),('HRS','9035'),('HRS','9036'),('HRS','9037'),('HRS','9038'),('HRS','9039'),('HRS','9040'),('HRS','9041'),('HRS','9042'),('HRS','9043'),('HRS','9044'),('HRS','9045'),('HRS','9046'),('HRS','9052'),('HRS','9054'),('HRS','9055'),('HRS','9065'),('HRS','9066'),('HRS','9067'),('HRS','9068'),('HRS','9069'),('HRS','9070'),('HRS','9071'),('HRS','9072'),('HRS','9073'),('HRS','9074'),('HRS','9075'),('HRS','9076'),('HRS','9077'),('HRS','9078'),('HRS','9079'),('HRS','9080'),('HRS','9081'),('HRS','9082'),('HRS','9083'),('HRS','9084'),('HRS PaySol','1'),('HRS Product Solutions GmbH','1000'),('HRS Product Solutions GmbH','1001'),('HRS Product Solutions GmbH','8000'),('HRS Product Solutions GmbH','9000'),('HRS Product Solutions GmbH','9001'),('HRS Product Solutions GmbH','9002'),('HRS Ragge Holding','9000'),('Product Development','1'),('Product Development','2'),('Product Development','3'),('Product Development','4'),('Product Development','5'),('Product Development','6'),('Product Development','7'),('Product Development','8'),('Product Development','9'),('Product Development','10'),('Product Development','11'),('Product Development','12'),('Product Development','13'),('Product Development','14'),('Product Development','15'),('Product Development','16'),('Product Development','17'),('Product Development','18'),('Product Development','19'),('Product Development','20'),('Product Development','21'),('Product Development','22'),('Product Development','23'),('Product Development','24'),('Product Development','25'),('Product Development','26'),('Product Development','27'),('Product Development','28'),('Product Development','29'),('Product Development','30'),('Product Development','31'),('Product Development','32'),('Product Development','33'),('Product Development','34'),('Product Development','35'),('Trade','2'),('Trade','3'),('Trade','4')) Q ([Company],[FA No_])
END

IF @Debug=1
BEGIN
  PRINT '#ExcludeFA'
  SELECT '#ExcludeFA' [Step],*
    FROM #ExcludeFA
END

-- #ExcludeGLE contains all G/L Entries related to migrated Fixed Assets that should not be exported
IF OBJECT_ID('tempdb..#ExcludeGLE') IS NOT NULL
  DROP TABLE #ExcludeGLE
CREATE TABLE #ExcludeGLE ([Company] varchar(35) COLLATE Latin1_General_CS_AS, [Entry No_] int, PRIMARY KEY CLUSTERED ([Company],[Entry No_]))

  DECLARE @FASQL as varchar(max)=''
  SELECT @FASQL = @FASQL + CASE WHEN @FASQL='' THEN 'INSERT INTO #ExcludeGLE ([Company],[Entry No_])
' ELSE '
UNION
' END
+ '    SELECT '''+COMP.[Company]+''' [Company], GL2.[Entry No_] FROM ['+COMP.[Company]+'$FA Ledger Entry] FL WITH (NOLOCK) JOIN ['+COMP.[Company]+'$G_L Entry] GL WITH (NOLOCK) ON FL.[G_L Entry No_]=GL.[Entry No_] JOIN ['+COMP.[Company]+'$G_L Entry] GL2 WITH (NOLOCK) ON GL.[Transaction No_]=GL2.[Transaction No_] JOIN #ExcludeFA FA ON FL.[FA No_]=FA.[FA No_] AND FA.[Company]='''+COMP.[Company]+''' WHERE FL.[G_L Entry No_]<>0 AND GL.[Entry No_] LIKE ''04%''
UNION
    -- 
    SELECT '''+COMP.[Company]+''' [Company], GL.[Entry No_] 
      FROM ['+COMP.[Company]+'$FA Ledger Entry] FL WITH (NOLOCK) 
	  JOIN #ExcludeFA FA ON FL.[FA No_]=FA.[FA No_] AND FA.[Company]='''+COMP.[Company]+''' 
	  JOIN ['+COMP.[Company]+'$Purch_ Inv_ Header] PH WITH (NOLOCK) ON PH.[Posting Date]=FL.[Posting Date] AND PH.[No_]=FL.[Document No_]
	  JOIN ['+COMP.[Company]+'$G_L Entry] GL WITH (NOLOCK) ON GL.[Posting Date]=FL.[Posting Date] AND GL.[Document No_]=FL.[Document No_]
	 WHERE FL.[G_L Entry No_]=0 AND GL.[Entry No_] LIKE ''04%''
UNION
    -- 
    SELECT '''+COMP.[Company]+''' [Company], GL.[Entry No_] 
      FROM ['+COMP.[Company]+'$FA Ledger Entry] FL WITH (NOLOCK) 
	  JOIN #ExcludeFA FA ON FL.[FA No_]=FA.[FA No_] AND FA.[Company]='''+COMP.[Company]+''' 
	  JOIN ['+COMP.[Company]+'$Purch_ Cr_ Memo Hdr_] PH WITH (NOLOCK) ON PH.[Posting Date]=FL.[Posting Date] AND PH.[No_]=FL.[Document No_]
	  JOIN ['+COMP.[Company]+'$G_L Entry] GL WITH (NOLOCK) ON GL.[Posting Date]=FL.[Posting Date] AND GL.[Document No_]=FL.[Document No_]
	 WHERE FL.[G_L Entry No_]=0 AND GL.[Entry No_] LIKE ''04%''
'
    FROM [MIGRATION].[GetCompanies]() COMP --WHERE Company IN ('RoRa Familien Holding','RoRa Familien Holding Verw_','HRS Ragge Holding','HRS','HRS Product Solutions GmbH','HRS Prod_ Sol_ Germany GmbH','Product Development','Venturecube','HRS Innovation Hub GmbH','Codenet','Hotel Solutions Verwaltung','Invisible Pay GmbH')

EXEC(@FASQL)
IF @Debug=1
BEGIN
  PRINT '#ExcludeGLE contains all G/L Entries related to migrated Fixed Assets that should not be exported'
  EXEC DebugPrint @FASQL
  SELECT '#ExcludeGLE from FA' [Step],*
    FROM #ExcludeGLE
END

-- #ExcludeGLE contains all G/L Entries from SAP transmitted Documents
  SET @FASQL=''
  SELECT @FASQL = @FASQL + CASE WHEN @FASQL='' THEN 'INSERT INTO #ExcludeGLE ([Company],[Entry No_])
' ELSE '
UNION
' END
+ '    SELECT '''+COMP.[Company]+''' [Company], GL.[Entry No_] FROM ['+COMP.[Company]+'$G_L Entry] GL LEFT JOIN #ExcludeGLE GL2 ON GL2.[Entry No_]=GL.[Entry No_] AND GL2.[Company]='''+COMP.[Company]+''' WHERE [Source Code] IN (''SAP'') AND [Reversed]=0 AND GL2.[Entry No_] IS NULL 
'
    FROM [MIGRATION].[GetCompanies]() COMP --WHERE Company IN ('RoRa Familien Holding','RoRa Familien Holding Verw_','HRS Ragge Holding','HRS','HRS Product Solutions GmbH','HRS Prod_ Sol_ Germany GmbH','Product Development','Venturecube','HRS Innovation Hub GmbH','Codenet','Hotel Solutions Verwaltung','Invisible Pay GmbH')

EXEC(@FASQL)
IF @Debug=1
BEGIN
  PRINT '#ExcludeGLE contains all G/L Entries from SAP transmitted Documents'
  EXEC DebugPrint @FASQL
  SELECT '#ExcludeGLE from SAP' [Step],*
    FROM #ExcludeGLE
END

-- #ExcludeGLE contains all G/L Entries from SAP transmitted Documents related to FA buying
  SET @FASQL=''
  SELECT @FASQL = @FASQL + CASE WHEN @FASQL='' THEN 'INSERT INTO #ExcludeGLE ([Company],[Entry No_])
' ELSE '
UNION
' END
+ '    SELECT '''+COMP.[Company]+''' [Company], GLE.[Entry No_] FROM ['+COMP.[Company]+'$Vendor Ledger Entry] VLE WITH (NOLOCK) JOIN ['+COMP.[Company]+'$G_L Entry] GLE WITH (NOLOCK) ON GLE.[Document No_]=VLE.[Document No_] AND GLE.[Posting Date]=VLE.[Posting Date]  LEFT JOIN #ExcludeGLE GL2 ON GL2.[Entry No_]=GLE.[Entry No_] AND GL2.[Company]='''+COMP.[Company]+''' WHERE [Purchaser Code]=''SAP'' AND GL2.[Entry No_] IS NULL 
'
    FROM [MIGRATION].[GetCompanies]() COMP --WHERE Company IN ('RoRa Familien Holding','RoRa Familien Holding Verw_','HRS Ragge Holding','HRS','HRS Product Solutions GmbH','HRS Prod_ Sol_ Germany GmbH','Product Development','Venturecube','HRS Innovation Hub GmbH','Codenet','Hotel Solutions Verwaltung','Invisible Pay GmbH')

EXEC(@FASQL)
IF @Debug=1
BEGIN
  PRINT '#ExcludeGLE contains all G/L Entries from SAP transmitted Documents related to FA buying'
  EXEC DebugPrint @FASQL
  SELECT '#ExcludeGLE from FA buying' [Step],*
    FROM #ExcludeGLE
END
-- #ExcludeGLE contains also all payables that were tranfered using VendorOpenItems that were posted in SAP ACS-3392


DECLARE @SQL varchar(max)=''
IF OBJECT_ID('tempdb..#VOI') IS NOT NULL
  DROP TABLE #VOI
CREATE TABLE #VOI ([Company] varchar(35) COLLATE Latin1_General_CS_AS, [Entry No_] int, PRIMARY KEY CLUSTERED ([Company],[Entry No_]))

INSERT INTO #VOI
  SELECT COMP.[Company] [BUKRS]
       , VE.XBLNR
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
    JOIN [MIGRATION].[GetCompanies]() COMP ON COMP.[Company]=REPLACE(VM.[Source Value],'.','_')
    JOIN [MIGRATION].[VendorOpenItemsPostedInSAP] VE WITH (NOLOCK) ON VE.BUKRS=VM.[Destination Value]
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''

SELECT @SQL = @SQL 
     + 'INSERT INTO #ExcludeGLE
SELECT DISTINCT VOI.Company, GLE.[Entry No_] 
  FROM ['+COMP.[Company]+'$Vendor Ledger Entry] VLE 
  JOIN #VOI VOI ON VOI.[Entry No_]=VLE.[Entry No_] AND VOI.Company='''+COMP.[Company]+'''
  JOIN ['+COMP.[Company]+'$G_L Entry] GLE WITH (NOLOCK) ON VLE.[Transaction No_]=GLE.[Transaction No_] 
  JOIN ['+COMP.[Company]+'$Vendor Posting Group] CP WITH (NOLOCK) ON CP.[Payables Account]=GLE.[G_L Account No_] 
'
  FROM [MIGRATION].[GetCompanies]() COMP
EXEC(@SQL)
-- ACS-4296 +++
   DELETE FROM GLE
     FROM [HRS$G_L Entry] GE  
     JOIN #ExcludeGLE GLE ON GE.[Entry No_]=GLE.[Entry No_] AND [Company]='HRS' 
    WHERE GE.[G_L Account No_]='160300'
      AND GE.[Source No_]='70000'
      AND GE.[Source Type]=2
-- ACS-4296 ---
IF @Debug=1
BEGIN
  PRINT '#ExcludeGLE contains also all payables that were tranfered using VendorOpenItems that were posted in SAP ACS-3392'
  EXEC DebugPrint @SQL
  SELECT '#ExcludeGLE from VOI' [Step],*
    FROM #ExcludeGLE
END

-- #ExcludeGLE contains all G/L Entries which were transferred separately by TransferBankEntries -- ACS-3640
IF OBJECT_ID('tempdb..#BE') IS NOT NULL
  DROP TABLE #BE
CREATE TABLE #BE ([Company] varchar(35) COLLATE Latin1_General_CS_AS, [Entry No_] int PRIMARY KEY CLUSTERED ([Company],[Entry No_]))

INSERT INTO #BE
EXEC [MIGRATION].[SelectBankAccountGLEntries]

   INSERT INTO #ExcludeGLE
   SELECT BE.*
     FROM #BE BE
LEFT JOIN #ExcludeGLE GE ON GE.Company=BE.Company AND GE.[Entry No_]=BE.[Entry No_]
    WHERE GE.[Entry No_] IS NULL

-- #ExcludeGLE contains all Year Closing G/L Entries 
DECLARE @ClosingSQL varchar(max)=''
  SET @ClosingSQL=''
  SELECT @ClosingSQL = @ClosingSQL + CASE WHEN @ClosingSQL='' THEN 'INSERT INTO #ExcludeGLE ([Company],[Entry No_])
' ELSE '
UNION
' END
+ '    SELECT '''+COMP.[Company]+''' [Company], GL.[Entry No_] FROM ['+COMP.[Company]+'$G_L Entry] GL WHERE [Posting Date] IN (''2021-12-31 23:59:59'',''2022-12-31 23:59:59'',''2023-12-31 23:59:59'')
'
    FROM [MIGRATION].[GetCompanies]() COMP 
EXEC (@ClosingSQL)

IF OBJECT_ID('tempdb..#ER') IS NOT NULL
  DROP TABLE #ER
CREATE TABLE #ER ([Currency Code] varchar(20) COLLATE Latin1_General_CS_AS, [End of month] date, [Exchange Rate Amount] DECIMAL(38,16),PRIMARY KEY CLUSTERED ([Currency Code],[End of month]))

;WITH ER_MAX AS (SELECT ER.[Currency Code], MAX(ER.[Starting Date]) [Starting Date] FROM [HRS$OANDA_Currency Exchange Rate] ER WITH (NOLOCK) WHERE ER.[Starting Date] > DATEADD(m,-1,@TransferStartDate) GROUP BY ER.[Currency Code], MONTH(ER.[Starting Date]), YEAR(ER.[Starting Date]))
INSERT INTO #ER ([Currency Code],[End of month],[Exchange Rate Amount])
SELECT ER.[Currency Code],DATEADD(month, ((YEAR(ER.[Starting Date]) - 1900) * 12) + MONTH(ER.[Starting Date]), -1),ER.[Exchange Rate Amount]
  FROM ER_MAX
  JOIN [HRS$OANDA_Currency Exchange Rate] ER WITH (NOLOCK) ON ER.[Currency Code]=ER_MAX.[Currency Code] AND ER.[Starting Date]=ER_MAX.[Starting Date]

IF @Debug=1
BEGIN
  PRINT '#ER'
  SELECT '#ER' [Step],*
    FROM #ER
END

INSERT INTO #ExcludeGLE ([Company], [Entry No_]) VALUES ('HRS',100497545),('HRS',100497546),('HRS',100497547), ('HRS',100497548) -- Amount to big 300.299.530.705.866,12
INSERT INTO #ExcludeGLE ([Company], [Entry No_]) VALUES ('HRS',100622512),('HRS',100622513),('HRS',100622514), ('HRS',100622515) -- Amount to big 300.299.530.705.866,12


IF @ReCreateAccountSums=1
  IF OBJECT_ID(N'tempdb..#AccountSums') IS NOT NULL
    DROP TABLE #AccountSums

IF OBJECT_ID(N'tempdb..#AccountSums') IS NULL
CREATE TABLE #AccountSums
(
    [Company] varchar(35) COLLATE Latin1_General_CS_AS
  , [G_L Account No_] varchar(20) COLLATE Latin1_General_CS_AS
  , [Orig_ Currency Code] varchar(10) COLLATE Latin1_General_CS_AS
  , [Cost Center] varchar(20) COLLATE Latin1_General_CS_AS
  , [Cost Unit] varchar(20) COLLATE Latin1_General_CS_AS
  , [End of month] date
  , [SUM$Amount] dec(38,16)
  , [SUM$Debit Amount] dec(38,16)
  , [SUM$Credit Amount] dec(38,16)
  , [SUM$Original Amount (FCY)] dec(38,16)
  , [SUM$Original Debit Amount (FCY)] dec(38,16)
  , [SUM$Original Credit Amount (FCY)] dec(38,16)
  , [Exchange Rate] dec(38,16)
  , PRIMARY KEY CLUSTERED ([Company],[G_L Account No_], [Orig_ Currency Code], [Cost Center], [Cost Unit], [End of month])
)

SELECT @CountAccountSums = COUNT(1) FROM #AccountSums

IF @CountAccountSums=0
WITH GES AS
(
   SELECT 'RoRa Familien Holding' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [RoRa Familien Holding$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='RoRa Familien Holding' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'RoRa Familien Holding Verw_' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [RoRa Familien Holding Verw_$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='RoRa Familien Holding Verw_' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'HRS Ragge Holding' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [HRS Ragge Holding$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='HRS Ragge Holding' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'HRS' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [HRS$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='HRS' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND (GL2.[Entry No_] IS NULL OR GL.[G_L Account No_]='160300')
	  AND NOT GL.[Bal_ Account No_] IN ('121998','121999')
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'HRS Product Solutions GmbH' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [HRS Product Solutions GmbH$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='HRS Product Solutions GmbH' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'HRS Prod_ Sol_ Germany GmbH' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [HRS Prod_ Sol_ Germany GmbH$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='HRS Prod_ Sol_ Germany GmbH' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Product Development' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [Product Development$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Product Development' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Venturecube' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [Venturecube$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Venturecube' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'HRS Innovation Hub GmbH' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [HRS Innovation Hub GmbH$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='HRS Innovation Hub GmbH' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Codenet' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [Codenet$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Codenet' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Hotel Solutions Verwaltung' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [Hotel Solutions Verwaltung$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Hotel Solutions Verwaltung' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Invisible Pay GmbH' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] WHEN GL.[Entry No_] IN(21400818,21400819) THEN [Amount] * 7.81422 ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE CASE WHEN GL.[Entry No_] IN(21400818,21400819) THEN [Amount] * 7.81422 ELSE [Original Amount (FCY)] END END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -CASE WHEN GL.[Entry No_] IN(21400818,21400819) THEN [Amount] * 7.81422 ELSE [Original Amount (FCY)] END END END) [SUM$Original Credit Amount (FCY)]
     FROM [Invisible Pay GmbH$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Invisible Pay GmbH' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
UNION
   SELECT 'Trade' [Company]
        , [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END [Orig_ Currency Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END [Global Dimension 1 Code]
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END [Global Dimension 2 Code]
		, CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END [End of month]
        , SUM([Amount]) [SUM$Amount]
        , SUM([Debit Amount]) [SUM$Debit Amount]
		, SUM([Credit Amount]) [SUM$Credit Amount]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Amount] ELSE [Original Amount (FCY)] END) [SUM$Original Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Debit Amount] ELSE CASE WHEN [Original Amount (FCY)]<0 THEN 0 ELSE [Original Amount (FCY)] END END) [SUM$Original Debit Amount (FCY)]
        , SUM(CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN [Credit Amount] ELSE CASE WHEN [Original Amount (FCY)]>0 THEN 0 ELSE -[Original Amount (FCY)] END END) [SUM$Original Credit Amount (FCY)]
     FROM [Trade$G_L Entry] GL WITH (NOLOCK)
LEFT JOIN #ExcludeGLE GL2 ON GL2.Company='Trade' AND GL2.[Entry No_]=GL.[Entry No_]
    WHERE [Posting Date] BETWEEN @PeriodStart AND @PeriodEnd
      AND GL2.[Entry No_] IS NULL
	  AND NOT (GL.[Bal_ Account No_] IN ('121998','121999'))
 GROUP BY [G_L Account No_]
        , CASE WHEN [Orig_ Currency Code]='' OR  LEFT([G_L Account No_],2)<>'12' THEN 'EUR' ELSE [Orig_ Currency Code] END
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 1 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN '' ELSE [Global Dimension 2 Code] END 
        , CASE WHEN [Posting Date]<=@TransferStartDate THEN @TransferStartDate ELSE DATEADD(month, ((YEAR([Posting Date]) - 1900) * 12) + MONTH([Posting Date]), -1) END
)
INSERT INTO #AccountSums ([Company],[G_L Account No_],[Orig_ Currency Code],[Cost Center],[Cost Unit],[End of month],[SUM$Amount],[SUM$Debit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)])
SELECT [Company],[G_L Account No_],[Orig_ Currency Code],[Global Dimension 1 Code],[Global Dimension 2 Code],[End of month],[SUM$Amount],[SUM$Debit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)] FROM GES

IF @Debug=1
BEGIN
  PRINT '#AccountSums'
  SELECT '#AccountSums' [Step],*
    FROM #AccountSums
   WHERE [Company]='HRS'
     AND [End of month]='2022-03-31'
     AND [G_L Account No_]='160300'
END

IF @ReCreateTransferAccountBalances=1
  IF OBJECT_ID(N'tempdb..#TransferAccountBalances') IS NOT NULL
    DROP TABLE #TransferAccountBalances

IF OBJECT_ID(N'tempdb..#TransferAccountBalances') IS NULL
CREATE TABLE #TransferAccountBalances
(
    [Company] varchar(35) COLLATE Latin1_General_CS_AS
  , [End of month] date
  , [G_L Account No_] varchar(20) COLLATE Latin1_General_CS_AS
  , [Mapped G_L Account No_] varchar(20) COLLATE Latin1_General_CS_AS
  , [Orig_ Currency Code] varchar(10) COLLATE Latin1_General_CS_AS
  , [Mapped Orig_ Currency Code] varchar(10) COLLATE Latin1_General_CS_AS
  , [Cost Center] varchar(20) COLLATE Latin1_General_CS_AS
  , [Mapped Cost Center] varchar(20) COLLATE Latin1_General_CS_AS
  , [Cost Unit] varchar(20) COLLATE Latin1_General_CS_AS
  , [Mapped Cost Unit] varchar(20) COLLATE Latin1_General_CS_AS
  , [SUM$Amount] dec(38,16)
  , [SUM$Debit Amount] dec(38,16)
  , [SUM$Credit Amount] dec(38,16)
  , [SUM$Original Amount (FCY)] dec(38,16)
  , [SUM$Original Debit Amount (FCY)] dec(38,16)
  , [SUM$Original Credit Amount (FCY)] dec(38,16)
  , [Exchange Rate] dec(38,16)
  , PRIMARY KEY CLUSTERED ([Company],[G_L Account No_], [Orig_ Currency Code], [Cost Center], [Cost Unit], [End of month])
)

SELECT @CountTransferAccountBalances = COUNT(1) FROM #TransferAccountBalances

IF @CountTransferAccountBalances=0
BEGIN
   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [RoRa Familien Holding$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [RoRa Familien Holding$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [RoRa Familien Holding$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [RoRa Familien Holding$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'RoRa Familien Holding'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [RoRa Familien Holding Verw_$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [RoRa Familien Holding Verw_$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [RoRa Familien Holding Verw_$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [RoRa Familien Holding Verw_$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'RoRa Familien Holding Verw_'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [HRS Ragge Holding$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Ragge Holding$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Ragge Holding$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [HRS Ragge Holding$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'HRS Ragge Holding'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [HRS$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [HRS$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [HRS$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [HRS$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'HRS'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [HRS Product Solutions GmbH$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Product Solutions GmbH$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Product Solutions GmbH$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [HRS Product Solutions GmbH$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'HRS Product Solutions GmbH'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [HRS Prod_ Sol_ Germany GmbH$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Prod_ Sol_ Germany GmbH$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Prod_ Sol_ Germany GmbH$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [HRS Prod_ Sol_ Germany GmbH$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'HRS Prod_ Sol_ Germany GmbH'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Product Development$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Product Development$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Product Development$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Product Development$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Product Development'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Venturecube$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Venturecube$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Venturecube$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Venturecube$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Venturecube'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [HRS Innovation Hub GmbH$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Innovation Hub GmbH$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [HRS Innovation Hub GmbH$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [HRS Innovation Hub GmbH$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'HRS Innovation Hub GmbH'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Codenet$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Codenet$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Codenet$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Codenet$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Codenet'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Hotel Solutions Verwaltung$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Hotel Solutions Verwaltung$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Hotel Solutions Verwaltung$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Hotel Solutions Verwaltung$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Hotel Solutions Verwaltung'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Trade$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Trade$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Trade$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Trade$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Invisible Pay GmbH'

   INSERT INTO #TransferAccountBalances([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate])
   SELECT GES.[Company] 
        , GES.[End of month]
        , GES.[G_L Account No_] [G_L Account No_]
        , VMGLAccount.[Destination Value] [Mapped G_L Account No_]
        , GES.[Orig_ Currency Code]
        , VMCurrency.[Destination Value] [Mapped Orig_ Currency Code]
        , GES.[Cost Center]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Center]
        , GES.[Cost Unit] [Cost Unit]
        , COALESCE(VMCostCenter.[Destination Value],'') [Mapped Cost Unit]
        , GES.[SUM$Amount]
        , GES.[SUM$Debit Amount]
		, GES.[SUM$Credit Amount]
        , GES.[SUM$Original Amount (FCY)]
        , GES.[SUM$Original Debit Amount (FCY)]
        , GES.[SUM$Original Credit Amount (FCY)]
        , COALESCE(ER.[Exchange Rate Amount],1)
     FROM #AccountSums GES 
LEFT JOIN #ER ER ON ER.[Currency Code]=GES.[Orig_ Currency Code] AND ER.[End of month]=GES.[End of month]
LEFT JOIN [Trade$Value Mapping] VMCurrency WITH (NOLOCK) ON VMCurrency.[Source Value] = GES.[Orig_ Currency Code] AND VMCurrency.[Source Table No_] = 4 AND VMCurrency.[Export Structure Entry No_] = 0
LEFT JOIN [Trade$Value Mapping] VMGLAccount WITH (NOLOCK) ON VMGLAccount.[Source Value] = GES.[G_L Account No_] AND VMGLAccount.[Source Table No_] = 15 AND VMGLAccount.[Export Structure Entry No_] = 0
LEFT JOIN [Trade$Value Mapping] VMCostCenter WITH (NOLOCK) ON VMCostCenter.[Source Value] = GES.[Cost Center] AND VMCostCenter.[Source Table No_] = 349 AND VMCostCenter.[Export Structure Entry No_] = 0 AND VMCostCenter.[Source Filter Value] = 'KOSTENSTELLE'
LEFT JOIN [Trade$Value Mapping] VMCostUnit WITH (NOLOCK) ON VMCostUnit.[Source Value] = GES.[Cost Unit] AND VMCostUnit.[Source Table No_] = 349 AND VMCostUnit.[Export Structure Entry No_] = 0 AND VMCostUnit.[Source Filter Value] = 'KOSTENTRÄGER'
    WHERE GES.[Company] = 'Trade'

IF @Debug=1
BEGIN
  PRINT '#TransferAccountBalances'
  EXEC DebugPrint @SQL
  SELECT '#TransferAccountBalances' [Step],*
    FROM #TransferAccountBalances
END


TRUNCATE TABLE [MIGRATION].[AccountBalances]
INSERT INTO [MIGRATION].[AccountBalances] ([Company],[End of month],[G_L Account No_],[Mapped G_L Account No_],[Orig_ Currency Code],[Mapped Orig_ Currency Code],[Cost Center],[Mapped Cost Center],[Cost Unit],[Mapped Cost Unit],[SUM$Amount],[SUM$Debit Amount],[SUM$Credit Amount],[SUM$Original Amount (FCY)],[SUM$Original Debit Amount (FCY)],[SUM$Original Credit Amount (FCY)],[Exchange Rate],[Mapped Company])
     SELECT TB.[Company]
	      , TB.[End of month]
		  , TB.[G_L Account No_]
		  , TB.[Mapped G_L Account No_]
		  , CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN 'EUR' ELSE COALESCE(TB.[Mapped Orig_ Currency Code],'EUR') END
		  , CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN 'EUR' ELSE COALESCE(TB.[Mapped Orig_ Currency Code],'EUR') END
		  , TB.[Cost Center]
		  , TB.[Mapped Cost Center]
		  , TB.[Cost Unit]
		  , TB.[Mapped Cost Unit]
		  , SUM(TB.[SUM$Amount])
		  , SUM(TB.[SUM$Debit Amount])
		  , SUM(TB.[SUM$Credit Amount])
		  , SUM(CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN TB.[SUM$Amount] ELSE TB.[SUM$Original Amount (FCY)] END)
		  , SUM(CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN TB.[SUM$Debit Amount] ELSE TB.[SUM$Original Debit Amount (FCY)] END)
		  , SUM(CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN TB.[SUM$Credit Amount] ELSE TB.[SUM$Original Credit Amount (FCY)] END)
		  , MAX(CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN 1 ELSE TB.[Exchange Rate] END)
		  , ''
       FROM #TransferAccountBalances TB
   GROUP BY TB.[Company]
	      , TB.[End of month]
		  , TB.[G_L Account No_]
		  , TB.[Mapped G_L Account No_]
--		  , TB.[Orig_ Currency Code]
		  , CASE WHEN TB.[Orig_ Currency Code] IN ('BGL','CSK','MXP','NIC','PLZ','RUR') THEN 'EUR' ELSE COALESCE(TB.[Mapped Orig_ Currency Code],'EUR') END
		  , TB.[Cost Center]
		  , TB.[Mapped Cost Center]
		  , TB.[Cost Unit]
		  , TB.[Mapped Cost Unit]

     UPDATE TB SET 
            TB.[Mapped Company] = COMP.[Destination Value]
       FROM [MIGRATION].[AccountBalances] TB
       JOIN [DynNavHRS].dbo.[HRS$Value Mapping] COMP WITH (NOLOCK)
         ON COMP.[Source Table No_] = 2000000006
        AND REPLACE(COMP.[Source Value],'.','_') = TB.[Company]
        AND COMP.[Mapping validated by]<>''

EXEC [MIGRATION].[ZHRS_MIG_LookupKOSTL] 0
EXEC [MIGRATION].[ZHRS_MIG_LookupPRCTR] 0
EXEC [MIGRATION].[ZHRS_MIG_LookupHKONT] 0

     UPDATE TB SET 
            TB.[Mapped Cost Center]= KO.[lkpKOSTL]
       FROM [MIGRATION].[AccountBalances] TB
       JOIN KOSTL KO ON KO.BUKRS = TB.[Company] AND KO.KOSTL=TB.[Cost Center]
      WHERE TB.[Mapped Cost Center]<> KO.[lkpKOSTL]

     UPDATE TB SET 
            TB.[Mapped Cost Unit]= PR.[lkpPRCTR]
       FROM [MIGRATION].[AccountBalances] TB
       JOIN PRCTR PR ON PR.BUKRS = TB.[Company] AND PR.PRCTR=TB.[Cost Unit]
      WHERE TB.[Mapped Cost Unit]<> PR.[lkpPRCTR]

     UPDATE TB SET 
            TB.[Mapped G_L Account No_]= HK.[lkpHKONT2]
       FROM [MIGRATION].[AccountBalances] TB
       JOIN HKONT HK ON HK.BUKRS = TB.[Company] AND HK.HKONT=TB.[G_L Account No_]
      WHERE TB.[Mapped Cost Unit]<> HK.[lkpHKONT2]

  UPDATE TB SET
         TB.[Mapped Cost Unit]=''
       , TB.[Mapped Cost Center]=''
    FROM [MIGRATION].[AccountBalances] TB
   WHERE TB.[Mapped G_L Account No_] BETWEEN '001000' AND '199999' --IN ('121700','122100','124900','126300','136500','136700','150000','157000','157100','157110','157200','157600','157610','157700','157710','160010','163000','174000','174200','175500','177100','177600','178500','178700','178710','31099','32000','32099','4300','4400','4499','48500','48599','49000','49900','97000','97001','97003','98000')
      OR TB.[Mapped G_L Account No_] BETWEEN '900000' AND '900900'
	  OR CAST(TB.[Mapped G_L Account No_] AS int) BETWEEN 1000 AND 199999

  DELETE FROM TB 
         FROM [MIGRATION].[AccountBalances] TB
	LEFT JOIN [MIGRATION].GetCompanies() COMP ON COMP.Company=TB.Company
	    WHERE COMP.Company IS NULL

  DELETE FROM TB FROM [MIGRATION].[AccountBalances] TB WHERE TB.[SUM$Amount]=0

  UPDATE [MIGRATION].[AccountBalances] SET [SUM$Original Amount (FCY)]=[SUM$Amount] WHERE [Orig_ Currency Code]='EUR' AND [SUM$Original Amount (FCY)]<>[SUM$Amount]

  -- unterschiedliche Vorzeichen und NZD-Problem
  DECLARE @Company varchar(35), @EndOfMonth date, @GLAccountNo varchar(20), @OrigCurrencyCode varchar(10), @CostCenter varchar(20), @CostUnit varchar(20), @SumAmount dec(38,16)
  DECLARE cur CURSOR FOR
  SELECT [Company],[End of month],[G_L Account No_],[Orig_ Currency Code],[Cost Center],[Cost Unit],[SUM$Amount] 
    FROM [MIGRATION].[AccountBalances] 
   WHERE SIGN([SUM$Original Amount (FCY)])<>SIGN([SUM$Amount])
  UNION 
  SELECT [Company],[End of month],[G_L Account No_],[Orig_ Currency Code],[Cost Center],[Cost Unit],[SUM$Amount] 
    FROM [MIGRATION].[AccountBalances]
   WHERE [Company]='HRS' AND [End of month]='2020-12-31' AND [G_L Account No_]='120010' AND [Orig_ Currency Code]='NZD' AND [Cost Center]='' AND [Cost Unit]=''
  OPEN cur

  FETCH NEXT FROM cur INTO @Company, @EndOfMonth, @GLAccountNo, @OrigCurrencyCode, @CostCenter, @CostUnit, @SumAmount

  WHILE @@FETCH_STATUS=0
  BEGIN
    IF EXISTS(SELECT * FROM [MIGRATION].[AccountBalances] WHERE [Company]=@Company AND [End of month]=@EndOfMonth AND [G_L Account No_]=@GLAccountNo AND [Orig_ Currency Code]='EUR' AND [Cost Center]=@CostCenter AND [Cost Unit]=@CostUnit)
	  UPDATE [MIGRATION].[AccountBalances] SET [SUM$Original Amount (FCY)]=[SUM$Original Amount (FCY)]+@SumAmount, [SUM$Amount] = [SUM$Amount] + @SumAmount
	   WHERE [Company]=@Company AND [End of month]=@EndOfMonth AND [G_L Account No_]=@GLAccountNo AND [Orig_ Currency Code]='EUR' AND [Cost Center]=@CostCenter AND [Cost Unit]=@CostUnit
    ELSE
	  UPDATE [MIGRATION].[AccountBalances] SET [SUM$Original Amount (FCY)]=@SumAmount, [SUM$Amount] = @SumAmount, [Orig_ Currency Code]='EUR'
	   WHERE [Company]=@Company AND [End of month]=@EndOfMonth AND [G_L Account No_]=@GLAccountNo AND [Orig_ Currency Code]=@OrigCurrencyCode AND [Cost Center]=@CostCenter AND [Cost Unit]=@CostUnit
	  
	DELETE FROM [MIGRATION].[AccountBalances]
     WHERE [Company]=@Company AND [End of month]=@EndOfMonth AND [G_L Account No_]=@GLAccountNo AND [Orig_ Currency Code]=@OrigCurrencyCode AND [Cost Center]=@CostCenter AND [Cost Unit]=@CostUnit
    FETCH NEXT FROM cur INTO @Company, @EndOfMonth, @GLAccountNo, @OrigCurrencyCode, @CostCenter, @CostUnit, @SumAmount
  END
  CLOSE cur
  DEALLOCATE cur

  -- Default-Kostenstelle für 2021 wechseln von ZZMIGRnnnn zu ZZ9000nnnn
  UPDATE [MIGRATION].[AccountBalances] 
     SET [Mapped Cost Center] = REPLACE([Mapped Cost Center],'ZZMIGR','ZZ9000') 
   WHERE [Mapped Cost Center] <> REPLACE([Mapped Cost Center],'ZZMIGR','ZZ9000')
     --AND [End of month]>@TransferStartDate

  -- Konten, die nicht übergeben separat an Gilbert Goller

IF OBJECT_ID('tempdb..#ExcludeKTO') IS NOT NULL
  DROP TABLE #ExcludeKTO
CREATE TABLE #ExcludeKTO ([BUKRS] varchar(35) COLLATE Latin1_General_CS_AS, [HKONT] varchar(20) COLLATE Latin1_General_CS_AS, PRIMARY KEY CLUSTERED ([BUKRS],[HKONT]))
 INSERT INTO #ExcludeKTO
        EXEC MIGRATION.SelectExcludedKTO

  TRUNCATE TABLE [MIGRATION].[AccountBalancesVAT]

/*
  INSERT INTO [MIGRATION].[AccountBalancesVAT]
  SELECT *,'VAT Account' FROM [MIGRATION].[AccountBalances] 
   WHERE [Mapped G_L Account No_] IN ('157100','157110','157200','157600','157610','157700','157710','177100','177600','177690','178700','178710')
*/
  INSERT INTO [MIGRATION].[AccountBalancesVAT]
  SELECT *,'Bank Account' FROM [MIGRATION].[AccountBalances] 
   WHERE [Mapped G_L Account No_] IN ('121999','121998')

  INSERT INTO [MIGRATION].[AccountBalancesVAT]
       SELECT TB.*,'' 
         FROM [MIGRATION].[AccountBalances] TB
         JOIN #ExcludeKTO EK ON TB.[Mapped Company]=EK.[BUKRS] AND TB.[Mapped G_L Account No_]=EK.[HKONT]
/*
  INSERT INTO [MIGRATION].[AccountBalancesVAT]
       SELECT TB.*,'blocked'
         FROM [MIGRATION].[AccountBalances] TB
         JOIN (SELECT EK.* FROM (VALUES ('2000','120001'),('2000','120008'),('2000','120016'),('2000','120022'),('2000','120032'),('2000','120033'),('2000','120034'),('2000','120036'),('2000','120040'),('2000','120042'),('2000','120043'),('2000','120047'),('2000','120048'),('2000','120051'),('2000','120056'),('2000','120059'),('2000','120061'),('2000','120063'),('2000','120066'),('2000','120069'),('2000','120073'),('2000','120076')) EK  ([BUKRS],[HKONT])) EK
           ON TB.[Mapped Company]=EK.[BUKRS] AND TB.[G_L Account No_]=EK.[HKONT]
*/
  DELETE FROM [MIGRATION].[AccountBalances] WHERE [Mapped G_L Account No_] IN ('157100','157110','157200','157600','157610','157700','157710','177100','177600','121999','121998')
  DELETE FROM [MIGRATION].[AccountBalances] WHERE [Mapped G_L Account No_] IN ('160011','163001') -- ACS-3551 
  DELETE FROM TB
         FROM [MIGRATION].[AccountBalances] TB
         JOIN #ExcludeKTO EK ON TB.[Mapped Company]=EK.[BUKRS] AND TB.[Mapped G_L Account No_]=EK.[HKONT]
  DELETE FROM TB
         FROM [MIGRATION].[AccountBalances] TB
         JOIN (SELECT EK.* FROM (VALUES ('2000','120001'),('2000','120008'),('2000','120016'),('2000','120022'),('2000','120032'),('2000','120033'),('2000','120034'),('2000','120036'),('2000','120040'),('2000','120042'),('2000','120043'),('2000','120047'),('2000','120048'),('2000','120051'),('2000','120056'),('2000','120059'),('2000','120061'),('2000','120063'),('2000','120066'),('2000','120069'),('2000','120073'),('2000','120076')) EK  ([BUKRS],[HKONT])) EK
           ON TB.[Mapped Company]=EK.[BUKRS] AND TB.[G_L Account No_]=EK.[HKONT]

-- 29.09.22 TMA ACS-3978 +++
  DELETE FROM TB
         FROM [MIGRATION].[AccountBalances] TB
         JOIN (SELECT EK.* FROM (VALUES ('5002','800221','2021-12-31'),('5002','880098','2021-12-31'),('2000','2700','2021-12-31')) EK  ([BUKRS],[HKONT],[BUDAT])) EK
           ON TB.[Mapped Company]=EK.[BUKRS] AND TB.[G_L Account No_]=EK.[HKONT] AND TB.[End of month]=EK.[BUDAT]
-- 29.09.22 TMA ACS-3978 ---
END
END
GO
