USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_BP_MKK_LookupAUGRP]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[ZHRS_MIG_BP_MKK_LookupAUGRP] AS
BEGIN
  SELECT CAST([No_] AS varchar(10)) [PARNTER]
       , VM.[Destination Value] [AUGRP]
    FROM [HRS$Customer] CU WITH (NOLOCK)
	JOIN [HRS$Value Mapping] VM WITH (NOLOCK)
	  ON VM.[Source Table No_] = 5714
     AND VM.[Mapping validated by] <> ''
	 AND VM.[Source Value] = CU.[Responsibility Center]
END
GO
