USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectZHRS_MIG_FA do not use]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 23.10.20
-- Description:	Verwendet im Paket ANL für den Export an SAP
-- =============================================
CREATE PROCEDURE [MIGRATION].[SelectZHRS_MIG_FA do not use] 
AS
BEGIN
  DECLARE @SQL as varchar(max)='', @SQL1 as varchar(max)=''
  SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN
';WITH FL AS
(
' ELSE '
UNION
' END
+ '    SELECT '''+COMP.[Company]+''' [ANLA-BUKRS]
	     , FL.[FA No_]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (0,3) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC1]
		 , ''0.00'' [ANLC2]
         , CAST(SUM(CASE WHEN FL.[FA Posting Type] IN (1,2,4,5) AND FL.[FA Posting Category] = 0 THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLC3]
		 , CAST(SUM(CASE WHEN FL.[Posting Date] < ''2021-01-01'' THEN FL.[Amount (LCY)] ELSE 0 END) AS varchar(max)) [ANLU-ZZ0004]
	  FROM ['+COMP.[Company]+'$FA Ledger Entry] FL WITH (NOLOCK)
  GROUP BY FL.[FA No_]'
    FROM [MIGRATION].[GetCompanies]() COMP WHERE Company IN ('Codenet','Hotel Solutions Verwaltung','HRS','HRS PaySol','HRS Product Solutions GmbH','HRS Ragge Holding','Product Development','Trade')

	SET @SQL = @SQL + '
)
'

  SELECT @SQL1 = @SQL1 + CASE WHEN @SQL1='' THEN '' ELSE '
UNION
' END
+ '
SELECT FL.[ANLA-BUKRS] -- 001
	 , '''' [ANLA-ANLN1] -- 002
	 , '''' [ANLA-ANLN2] -- 003
	 , FA.[FA Class Code] [ANLA-ANLKL] --004
	 , FA.[Description] [ANLA-TXT50] -- 005
	 , FA.[No_] [ANLA-TXA50] -- 006
	 , FA.[Serial No_] [ANLA-SERNR] -- 007
	 , '''' [ANLA-INVNR] -- 008
	 , '''' [ANLH-ANLHTXT] -- 009
	 , CONVERT(varchar(8),FD.[Acquisition Date],112) [ANLA-AKTIV] -- 010
	 , '''' [ANLZ-GSBER] -- 011
	 , COALESCE(DD.[Dimension Value Code],'''') [ANLZ-KOSTL] -- 012
	 , '''' [ANLU-ZZ0001] -- 013
	 , '''' [ANLU-ZZ0002] -- 014
	 , LEFT(FL.[ANLU-ZZ0004],CHARINDEX(''.'',FL.[ANLU-ZZ0004])-1)+''.''+SUBSTRING(FL.[ANLU-ZZ0004],CHARINDEX(''.'',FL.[ANLU-ZZ0004])+1,2) [ANLU-ZZ0004] -- 015
	 , '''' [ANLZ-WERKS] -- 016
	 , '''' [ANLZ-IMKEY] -- 017
	 , FA.[Component of Main Asset] [ANLA-ANLUE] -- 018
	 , '''' [ANLA-LIFNR] -- 019
	 , '''' [ANLA-INKEN] -- 020
	 , '''' [ANLZ-KFZKZ] -- 021
	 , '''' [ANLA-VBUND] -- 022
	 , '''' [ANLA-LAND1] -- 023
	 , '''' [ANLA-ANLAR] -- 024

	 , ''01'' [ANLB-AFABE] -- 025
	 , CASE WHEN FA.[FA Class Code]=''BET'' THEN ''0000'' ELSE ''LINS'' END [ANLB-AFASL] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)-1)+''.''+SUBSTRING(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)+1,2) [ANLC1]
	 , FL.ANLC2
	 , LEFT(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)-1)+''.''+SUBSTRING(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)+1,2) [ANLC3]

	 , ''15'' [ANLB-AFABE1] -- 025
	 , CASE WHEN FA.[FA Class Code]=''BET'' THEN ''0000'' ELSE ''LINS'' END [ANLB-AFASL1] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR1] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER1] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG1] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)-1)+''.''+SUBSTRING(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)+1,2) [ANLC11]
	 , FL.ANLC2 [ANLC21]
	 , LEFT(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)-1)+''.''+SUBSTRING(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)+1,2) [ANLC31]

	 , ''20'' [ANLB-AFABE2] -- 025
	 , CASE WHEN FA.[FA Class Code]=''BET'' THEN ''0000'' ELSE ''LINS'' END [ANLB-AFASL2] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR2] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER2] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG2] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)-1)+''.''+SUBSTRING(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)+1,2) [ANLC12]
	 , FL.ANLC2 [ANLC22]
	 , LEFT(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)-1)+''.''+SUBSTRING(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)+1,2) [ANLC32]

	 , ''60'' [ANLB-AFABE3] -- 025
	 , CASE WHEN FA.[FA Class Code]=''BET'' THEN ''0000'' ELSE ''LINS'' END [ANLB-AFASL3] -- 026
	 , CAST(CAST(ROUND(FD.[No_ of Depreciation Months]/12,0) AS int) AS varchar(3)) [ANLB-NDJAR3] -- 027
	 , CAST(CAST(FD.[No_ of Depreciation Months]%12 AS int) AS varchar(3)) [ANLB-NDPER3] -- 028
	 , CONVERT(varchar(8),FD.[Depreciation Starting Date],112) [ANLB-AFABG3] -- 029
	 , LEFT(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)-1)+''.''+SUBSTRING(FL.ANLC1,CHARINDEX(''.'',FL.ANLC1)+1,2) [ANLC13]
	 , FL.ANLC2 [ANLC23]
	 , LEFT(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)-1)+''.''+SUBSTRING(FL.ANLC3,CHARINDEX(''.'',FL.ANLC3)+1,2) [ANLC33]
     FROM ['+COMP.[Company]+'$Fixed Asset] FA WITH (NOLOCK)
     JOIN FL ON FL.[FA No_] = FA.[No_] AND FL.[ANLA-BUKRS]='''+COMP.[Company]+''' 
     JOIN ['+COMP.[Company]+'$FA Depreciation Book] FD WITH (NOLOCK)
       ON FD.[FA No_] = FA.[No_]
LEFT JOIN ['+COMP.[Company]+'$Default Dimension] DD WITH (NOLOCK)
       ON DD.[Table ID] = 5600
      AND DD.[Dimension Code] = ''KOSTENSTELLE''
	  AND DD.[No_] = FA.[No_]
    WHERE FD.[Disposal Date]=''1753-01-01''
      AND FA.[Inactive]=0
'
    FROM [MIGRATION].[GetCompanies]() COMP WHERE Company IN ('Codenet','Hotel Solutions Verwaltung','HRS','HRS PaySol','HRS Product Solutions GmbH','HRS Ragge Holding','Product Development','Trade')
SET @SQL = @SQL+@SQL1+' ORDER BY 1,6'
EXEC(@SQL)

DECLARE @Start as int =1
WHILE @Start < LEN(@SQL)
BEGIN
  PRINT(SUBSTRING(@SQL,@Start,8000))
  SET @Start = @Start + 8000
END

END
GO
