USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectGLAccountConstraints]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[SelectGLAccountConstraints]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '
CREATE TABLE #DD ([Mandant] varchar(35), [G_L Account No_] varchar(20), [Cost Center] varchar(20), [Value Posting Cost Center] varchar(20), [Cost Unit] varchar(20), [Value Posting Cost Unit] varchar(20), [BUKRS] varchar(4), [HKONT] varchar(30), [KOSTL] varchar(80),[ZZ_COST_OBJ] varchar(3))
' ELSE '
' END
     + ';WITH BLE AS (SELECT BLE.[Bank Account No_] FROM DynNavHRS.dbo.['+BUKRS+'$Bank Account Ledger Entry] BLE WITH (NOLOCK) GROUP BY BLE.[Bank Account No_])
INSERT INTO #DD
   SELECT '''+BUKRS+''' [Mandant]
        , GA.[No_] [G_L Account No_]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENSTELLE'' THEN DD.[Dimension Value Code] ELSE '''' END) [Cost Center]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENSTELLE'' THEN VP.[String]               ELSE '''' END) [Value Posting Cost Center]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENTRÄGER'' THEN DD.[Dimension Value Code] ELSE '''' END) [Cost Unit]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENTRÄGER'' THEN VP.[String]               ELSE '''' END) [Value Posting Cost Unit]
        , '''+lkpBUKRS+''' [BUKRS]
        , MAX(COALESCE(VM.[Destination Value],'''')) [HKONT]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENSTELLE'' THEN COALESCE(VMCC.[Destination Value],'''') ELSE '''' END) [KOSTL]
        , MAX(CASE WHEN DD.[Dimension Code]=''KOSTENTRÄGER'' THEN DD.[Dimension Value Code] ELSE '''' END) [ZZ_COST_OBJ]
     FROM DynNavHRS.dbo.['+BUKRS+'$Default Dimension] DD WITH (NOLOCK)
     JOIN DynNavHRS.dbo.['+BUKRS+'$G_L Account] GA WITH (NOLOCK) ON GA.[No_]=DD.[No_] AND DD.[Table ID]=15
     JOIN DynNavHRS.dbo.Split('',Code notwendig,Gleicher Code,Kein Code'','','') VP ON VP.[Index]-1=DD.[Value Posting]
LEFT JOIN ['+BUKRS+'$Value Mapping] VM WITH (NOLOCK) ON GA.[No_] = VM.[Source Value] AND VM.[Source Table No_]=15 AND VM.[Mapping validated by]<>''''
LEFT JOIN ['+BUKRS+'$Value Mapping] VMCC WITH (NOLOCK) ON DD.[Dimension Value Code] = VMCC.[Source Value] AND VMCC.[Source Table No_]=349 AND VMCC.[Mapping validated by]<>'''' AND VMCC.[Source Filter Value]=''KOSTENSTELLE'' AND VMCC.[Export Structure Entry No_]=23
    WHERE GA.[Blocked]=0
      AND DD.[Dimension Code] IN (''KOSTENSTELLE'',''KOSTENTRÄGER'')
GROUP BY GA.[No_]
'
FROM Q

SET @SQL = @SQL + '
SELECT * FROM #DD 
'
EXEC(@SQL)
EXEC DebugPrint @SQL
END
GO
