USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[FillOneTimeAccountData]    Script Date: 10.04.2024 14:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [MIGRATION].[FillOneTimeAccountData]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('Codenet','HRS','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN 'TRUNCATE TABLE DynNavHRS.[MIGRATION].[OneTimeAccountData]
;WITH Q AS (SELECT Q.* FROM (VALUES (''SEPA'',''1''),(''LASTSCHRIF'',''1''),(''ÜBW'',''1''),(''GIRO'',''1''),(''DISK'',''1''),(''AZV'',''2''),(''MANUELL'',''3''),('''',''''))Q([Payment Method Code],[ZLSCH]))
INSERT INTO DynNavHRS.[MIGRATION].[OneTimeAccountData] ' ELSE 'UNION' END
     + '
  SELECT '''+lkpBUKRS+''' [BUKRS]
        , CAST(VLE.[Entry No_] as varchar(16)) [XBLNR]
        , '''+lkpBUKRS+''' + ''-'' + VLE.[Vendor No_] [LIFNR]
		, null [ANRED]
		, SUBSTRING(SP.[Name],1,35) [NAME1]
		, NULLIF(SUBSTRING(SP.[Name 2],1,35),'''') [NAME2]
		, null [NAME3]
		, null [NAME4]
		, NULLIF(SUBSTRING(SP.[Address],1,35),'''') [STRAS]
		, NULLIF(SUBSTRING(CASE WHEN COALESCE(SP.[Post Code],'''')='''' THEN ''50678'' ELSE SP.[Post Code] END,1,10),'''') [PSTLZ]
		, COALESCE(NULLIF(SP.[City],''''),''Köln'') [ORT01]
		, null [REGIO]
		, NULLIF(VC.[Destination Value],'''') [LAND1]
		, null [PFACH]
		, null [PSTL2]
		, LEFT(SP.[Bank BIC Code],11) [SWIFT]
		, LEFT(REPLACE(SP.[Bank IBAN Code],'' '',''''),34) [IBAN]
		, null [PSKTO]
		, LEFT(REPLACE(REPLACE(REPLACE(REPLACE(SP.[Bank Account No_],'' '',''''),''–'',''''),''.'',''''),''-'',''''),18) [BANKN]
		, CASE WHEN LEFT(SP.[Bank BIC Code],11)='''' THEN LEFT(REPLACE(REPLACE(SP.[Bank Branch No_],'' '',''''),''-'',''''),15) ELSE '''' END [BANKL]
		, null [BANKS] -- eMail Volker Mix 29.12.20 15:02 SUBSTRING(REPLACE(REPLACE(SP.[Bank BIC Code],'' '',''''),''-'',''''),5,2) [BANKS]
		, null [BKONT]
		, null [STKZA]
		, null [DTAWS]
		, null [STCD1]
		, null [STCD2]
		, null [STCD3]
		, null [STCD4]
		, null [STKZU]
		, VLE.[Entry No_]
     FROM DynNavHRS.dbo.['+BUKRS+'$Vendor Ledger Entry] VLE WITH (NOLOCK)
     JOIN DynNavHRS.dbo.['+BUKRS+'$Vendor] V WITH (NOLOCK) ON V.[No_] = VLE.[Vendor No_]
     JOIN DynNavHRS.dbo.['+BUKRS+'$Value Mapping] VM WITH (NOLOCK) ON VM.[Source Table No_]=23 AND VM.[Source Value] = VLE.[Vendor No_] AND VM.[Export Structure Entry No_] IN (19)
     JOIN DynNavHRS.dbo.['+BUKRS+'$Single Pmt_ Bank Account] SP WITH (NOLOCK) ON SP.[Entry No_] = VLE.[Entry No_]
     JOIN DynNavHRS.dbo.[HRS$Value Mapping] VC WITH (NOLOCK) ON VC.[Source Table No_]=9 AND VC.[Source Value] = CASE WHEN SP.[Country_Region Code]='''' THEN ''33'' ELSE SP.[Country_Region Code] END
	 JOIN Q ON Q.[Payment Method Code]=REPLACE(REPLACE(VLE.[Payment Method Code],CHAR(10),''''),CHAR(13),'''')
    WHERE VLE.[Open]=1
	  AND NOT (Q.[ZLSCH]=''1'' AND LEFT(REPLACE(SP.[Bank IBAN Code],'' '',''''),34)='''')
	  AND VLE.[Vendor No_]<>''70000''
'
  FROM Q

EXEC(@SQL)
EXEC DebugPrint @SQL

  SELECT * FROM DynNavHRS.[MIGRATION].[OneTimeAccountData] 
END
GO
