USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectGLEntries]    Script Date: 10.04.2024 14:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[SelectGLEntries]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','TREX','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN '
' ELSE '
UNION
' END
     + '
   SELECT '''+lkpBUKRS+''' [BUKRS]
        , '''+BUKRS+''' [Mandant]
        , GL.[Posting Date] [Buchungsdatum]
	    , GL.[Document No_] [Belegnr.]
	    , GL.[External Document No_] [Externe Belegnummer]
	    , GL.[Description] [Beschreibung]
	    , GL.[VAT Prod_ Posting Group] [MwSt.-Produktbuchungsgruppe]
	    , GL.[G_L Account No_] [Sachkontonr.]
		, GL.[Amount] [Betrag]
	    , BT.[String] [Gegenkontoart]
	    , GL.[Bal_ Account No_] [Gegenkontonr.]
	    , ST.[String] [Herkunftsart]
	    , GL.[Source No_] [Herkunftsnr.]
	    , DT.[String] [Belegart]
	    , GL.[Entry No_] [Lfd. Nr.]
	    , GL.[User ID] [Benutzer-ID]
	    , GL.[Posted at] [Gebucht am]
     FROM DynNavHRS.dbo.['+BUKRS+'$G_L Entry] GL WITH (NOLOCK)
     JOIN [dbo].[Split]('',Zahlung,Rechnung,Gutschrift,Zinsrechnung,Mahnung,Erstattung'','','') DT ON DT.[Index]=GL.[Document Type]+1
     JOIN [dbo].[Split]('',Debitor,Kreditor,Bankkonto,Anlage'','','') ST ON ST.[Index]=GL.[Source Type]+1
     JOIN [dbo].[Split](''Sachkonto,Debitor,Kreditor,Bankkonto,Anlage,IC Partner'','','') BT ON BT.[Index]=GL.[Bal_ Account Type]+1
     JOIN [SAP Documents] SD
       ON SD.[SAP Company]='''+lkpBUKRS+'''
      AND SD.[Document No_]=GL.[Document No_]
    WHERE GL.[Reversed]=0 AND GL.[User ID] IN (''NAV'',''TMA04'')
'
FROM Q
EXEC DebugPrint @SQL
EXEC(@SQL)
END
GO
