USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_BP_FLVN01_LookupAUGRP]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[ZHRS_MIG_BP_FLVN01_LookupAUGRP] AS
BEGIN
  SELECT CAST(VM.[Source Value] AS varchar(10)) [AUGRP]
       , VM.[Destination Value] [lkpAUGRP]
    FROM [HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 5714
     AND VM.[Mapping validated by] <> ''
UNION 
  SELECT '','HQ'
END
GO
