USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[SelectBankAccountEntries]    Script Date: 10.04.2024 14:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [MIGRATION].[SelectBankAccountEntries]
AS
BEGIN
DECLARE @SQL varchar(max)='', @SQLWith varchar(20)=''

IF OBJECT_ID(N'DynNavHrs.dbo.AB') IS NOT NULL
  DROP TABLE AB
CREATE TABLE AB([BLART] [varchar](30) NOT NULL,[BUKRS] [varchar](30) NOT NULL,[ACC_PRINCIPLE] [varchar](30) NOT NULL,[XBLNR] [varchar](16) NOT NULL,[DOCLN] [varchar](6) NOT NULL,[HKONT] [varchar](30) NOT NULL,[GKONT] [varchar](80) NOT NULL,[BLDAT] [date] NOT NULL,[BUDAT] [date] NOT NULL,[BKTXT] [varchar](25) NULL,[SGTXT] [varchar](50) NULL,[WRBTR] [decimal](13, 2) NOT NULL,[DMBTR] [decimal](13, 2) NOT NULL,[DMBE2] [decimal](13, 2) NULL,[DMBE3] [decimal](13, 2) NULL,[FWBAS] [decimal](13, 2) NULL,[HWBAS] [decimal](13, 2) NULL,[WAERS] [varchar](80) NULL,[HWAER] [varchar](80) NULL,[HWAE2] [varchar](80) NULL,[HWAE3] [varchar](80) NULL,[MWSKZ] [varchar](80) NULL,[TXJCD] [varchar](15) NULL,[KOSTL] [varchar](80) NULL,[PRCTR] [varchar](80) NULL,[AUFNR] [varchar](80) NULL,[NPLNR] [varchar](80) NULL,[FB_SEGMENT] [varchar](80) NULL,[PSPNR] [varchar](80) NULL,[PROFITSEG] [varchar](1) NULL,[RASSC] [varchar](80) NULL,[ZUONR] [varchar](18) NULL,[RMVCT] [varchar](80) NULL,[PERNR] [varchar](80) NULL,[VALUT] [date] NULL,[HBKID] [varchar](80) NULL,[HKTID] [varchar](80) NULL,[ZZ_COST_OBJ] [varchar](3) NULL)

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Source Value] [regBUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('HRS','Codenet','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','Trade','Venturecube')
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$Vendor Ledger Entry]')>0
)
SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN 'INSERT INTO AB
' ELSE '
UNION
' END
     + '   SELECT CAST(''MG'' AS varchar(30))                  [BLART]
        , '''+lkpBUKRS+''' [BUKRS]
        , ''HGB''                                      [ACC_PRINCIPLE]
        , ''BK'+lkpBUKRS+'''+RIGHT(REPLICATE(''0'',20)+CAST(GL2.[Entry No_] AS varchar(10)),10) [XBLNR]
        , ''1''                                        [DOCLN]
        , HKO.lkpHKONT2                               [HKONT]
        , HK.lkpHKONT2                                [GKONT]
        , GL.[Document Date]                         [BLDAT]
        , GL.[Posting Date]                          [BUDAT]
        , LEFT(COALESCE(AR.[Account No_],GL2.[Description]),25) [BKTXT]
        , LEFT(COALESCE(LEFT(PMT.[Reason Row 1] + '' '' + PMT.[Reason Row 2]+ '' '' + PMT.[Reason Row 3]+ '' '' + PMT.[Reason Row 4]+ '' '' + PMT.[Reason Row 5],50),GL2.[Description]),50) [SGTXT]
        , CASE WHEN GL2.[Orig_ Currency Code] IN ('''',GLS.[LCY Code]) THEN -GL2.[Amount] ELSE -GL2.[Original Amount (FCY)] END [WRBTR]
        , -GL2.[Amount]                              [DMBTR]
        , 0                                          [DMBE2]
        , 0                                          [DMBE3]
        , null                                       [FWBAS]
        , null                                       [HWBAS]
        , CASE WHEN GL2.[Orig_ Currency Code] IN ('''',GLS.[LCY Code]) THEN GLS.[LCY Code] ELSE GL2.[Orig_ Currency Code] END [WAERS]
        , GLS.[LCY Code]                             [HWAER]
        , null                                       [HWAE2]
        , null                                       [HWAE3]
        , null                                       [MWSKZ]
        , null                                       [TXJCD]
        , VC.[Destination Value]                     [KOSTL] -- GL2.[Global Dimension 1 Code]
        , null                                       [PRCTR]
        , null                                       [AUFNR] -- ''BK'+lkpBUKRS+'''+RIGHT(REPLICATE(''0'',20)+CAST(GL2.[Entry No_] AS varchar(10)),10) [AUFNR]
        , null                                       [NPLNR]
        , null                                       [FB_SEGMENT]
        , null                                       [PSPNR]
        , null                                       [PROFITSEG]
        , null                                       [RASSC]
--        , LEFT(GL2.[Document No_],18)                [ZUONR]
        , REPLACE(REPLACE(LEFT(GL2.[Document No_],18),CHAR(13),''''),CHAR(10),'''')                [ZUONR]
        , null                                       [RMVCT]
        , null                                       [PERNR]
        , null                                       [VALUT]
        , null                                       [HBKID]
        , null                                       [HKTID]
        , LEFT(GL2.[Global Dimension 2 Code],3)       [ZZ_COST_OBJ]
     FROM ['+[BUKRS]+'$G_L Entry] GL WITH (NOLOCK)
     JOIN ['+[BUKRS]+'$G_L Entry] GL2 WITH (NOLOCK)
	   ON GL.[Transaction No_]=GL2.[Transaction No_]
      AND GL.[Entry No_]<>GL2.[Entry No_]
     JOIN HKONT HK WITH (NOLOCK) ON HK.HKONT=GL2.[G_L Account No_] AND HK.BUKRS='''+BUKRS+'''
     JOIN HKONT HKO WITH (NOLOCK) ON HKO.HKONT=GL.[G_L Account No_] AND HK.BUKRS='''+BUKRS+'''
LEFT JOIN ['+[BUKRS]+'$General Ledger Setup] GLS WITH (NOLOCK) ON 1=1
LEFT JOIN ['+[BUKRS]+'$Bank Account] BA  WITH (NOLOCK)
       ON GL.[Bal_ Account No_]=BA.[No_]
LEFT JOIN ['+[BUKRS]+'$Bank Account Posting Group] BP WITH (NOLOCK)
       ON BP.[Code] = BA.[Bank Acc_ Posting Group]
LEFT JOIN ['+[BUKRS]+'$Value Mapping] VM WITH (NOLOCK)
       ON VM.[Source Table No_]=15
      AND VM.[Source Value] = BP.[G_L Bank Account No_]
LEFT JOIN ['+[BUKRS]+'$Value Mapping] VC WITH (NOLOCK)
       ON VC.[Source Table No_]=349
      AND VC.[Source Value] = GL2.[Global Dimension 1 Code]
      AND VC.[Source Filter Value] = ''KOSTENSTELLE''
      AND VC.[Export Structure Entry No_]=23
LEFT JOIN ['+[BUKRS]+'$Pmt_ Import Line] PMT WITH (NOLOCK)
       ON PMT.[Entry No_]=GL.[Pmt_ Import Entry No_]
LEFT JOIN ['+[BUKRS]+'$Accounting Rule] AR WITH (NOLOCK)
       ON AR.[No_] = PMT.[Accounting Rule No_]
    WHERE GL.[G_L Account No_] IN (''121999'',''121998'')-- OR GL2.[G_L Account No_] IN (''121999'',''121998''))
      AND GL.[Source Code]<>''SAP''
      AND GL.[Reversed]=0
'
FROM Q

SET @SQL = @SQL + '
UPDATE AB SET [GKONT]=CASE WHEN [GKONT]=''140001'' THEN ''140002'' WHEN [GKONT]=''160010'' THEN ''160011'' ELSE [GKONT] END WHERE [GKONT] IN (''140001'',''160010'') -- ACS-2857

-- 29.09.22 TMA ACS-3978 +++
  DELETE FROM AB
         FROM AB
         JOIN (SELECT EK.* FROM (VALUES (''BK20000098500746''),(''BK30020000014533'')) EK  ([XBLNR])) EK
           ON AB.[XBLNR]=EK.[XBLNR]
-- 29.09.22 TMA ACS-3978 ---

SELECT * FROM AB ORDER BY BUKRS, XBLNR'

EXEC DebugPrint @SQL
EXEC(@SQL)
END
GO
