USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[VATPostingSetupBrazil]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MIGRATION].[VATPostingSetupBrazil]
AS
BEGIN

DECLARE @SQL varchar(max)='', @SQLWith varchar(max)='', @SQLWith2 varchar(max)=''

;WITH Q AS
(
  SELECT REPLACE(VM.[Source Value],'.','_') [BUKRS]
       , VM.[Destination Value] [lkpBUKRS]
    FROM DynNavHRS.dbo.[HRS$Value Mapping] VM WITH (NOLOCK)
   WHERE VM.[Source Table No_] = 2000000006
     AND VM.[Mapping validated by] <> ''
     AND REPLACE(VM.[Source Value],'.','_') IN ('Codenet','HRS','HRS-BR','HRS-CN','HRS Innovation Hub GmbH','HRS Prod_ Sol_ Germany GmbH','HRS Product Solutions GmbH','HRS Ragge Holding','Hotel Solutions Verwaltung','Invisible Pay GmbH','Product Development','RoRa Familien Holding','RoRa Familien Holding Verw_','Trade','Venturecube'	 
     )
	 AND OBJECT_ID(N'DynNavHRS.dbo.['+REPLACE(VM.[Source Value],'.','_')+'$VAT Posting Setup Brasil]')>0
)
SELECT @SQLWith = @SQLWith + CASE WHEN @SQLWith='' THEN '
;WITH VPS AS
(' ELSE '
UNION
' END +'
SELECT '''+lkpBUKRS+''' [lkpBUKRS]
      ,'''+BUKRS+''' [BUKRS]
      ,[VAT Bus_ Posting Group]
      ,[VAT Prod_ Posting Group]
      ,[Sales IRRF Account]
      ,[IRRF %]
      ,[Sales ISS Account]
      ,[ISS %]
      ,[Sales PIS Account]
      ,[Sales CONFIS Account]
      ,[Sales CSLL Account]
      ,[PIS %]
      ,[CONFIS %]
      ,[CSLL %]
      ,[Limit]
      ,[Rev_-Charge IRRF Account]
      ,[Rev_-Charge ISS Account]
      ,[Rev_-Charge PIS Account]
      ,[Rev_-Charge CONFIS Account]
      ,[Rev_-Charge CSLL Account]
      ,[Withholding]
      ,[Service 1 Text]
      ,[Service 2 Text]
      ,[Service 3 Text]
      ,[Service 4 Text]

    FROM ['+BUKRS+'$VAT Posting Setup Brasil] VPS WITH (NOLOCK)
'
  FROM Q
SELECT @SQLWith = @SQLWith + ')'

SELECT @SQL=@SQLWith + '

SELECT [lkpBUKRS] [BUKRS]
      ,[BUKRS] [Mandant]
      ,[VAT Bus_ Posting Group]
      ,[VAT Prod_ Posting Group]
      ,[Sales IRRF Account]
      ,[IRRF %]
      ,[Sales ISS Account]
      ,[ISS %]
      ,[Sales PIS Account]
      ,[Sales CONFIS Account]
      ,[Sales CSLL Account]
      ,[PIS %]
      ,[CONFIS %]
      ,[CSLL %]
      ,[Limit]
      ,[Rev_-Charge IRRF Account]
      ,[Rev_-Charge ISS Account]
      ,[Rev_-Charge PIS Account]
      ,[Rev_-Charge CONFIS Account]
      ,[Rev_-Charge CSLL Account]
      ,[Withholding]
      ,[Service 1 Text]
      ,[Service 2 Text]
      ,[Service 3 Text]
      ,[Service 4 Text]
  FROM VPS
  ORDER BY 1,2,3,4
  '
EXEC DebugPrint @SQL
EXEC (@SQL)
END
GO
