USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [MIGRATION].[ZHRS_MIG_LookupHKONT]    Script Date: 10.04.2024 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [MIGRATION].[ZHRS_MIG_LookupHKONT] 1
*/

CREATE PROC [MIGRATION].[ZHRS_MIG_LookupHKONT] 
(
  @ReturnDataset tinyint = 0
)

AS
BEGIN
DECLARE @Template as varchar(max)
      , @Template2 as varchar(max)
      , @Opening as varchar(max) = ';WITH %ALIAS% AS 
('
      , @Ending as varchar(max) = '), %ALIAS2% AS (SELECT Q.* FROM (VALUES'
      , @Ending2 as varchar(max) = ') AS Q ([BUKRS],[HKONT],[lkpHKONT],[lkpHKONT2],[Income_Balance])
),U AS
(
SELECT * FROM %ALIAS% UNION SELECT * FROM %ALIAS2%
)
INSERT INTO HKONT ([BUKRS],[HKONT],[lkpHKONT],[lkpHKONT2],[Income_Balance])
SELECT DISTINCT [BUKRS],[HKONT],[lkpHKONT],[lkpHKONT2],[Income_Balance] FROM U'
      , @Alias as varchar(max) = 'KO1'
      , @Alias2 as varchar(max) = 'KO2'
      , @Union as varchar(max) = 'UNION
'
      , @Union2 as varchar(max) = ','
      , @SQL as varchar(max)=''
      , @SQL2 as varchar(max)=''

SET @Template = 
'  SELECT ''%COMPANY%'' [BUKRS], VM.[Source Value] [HKONT], VM.[Destination Value] [lkpHKONT], CASE WHEN VM.[Destination Value 2]='''' THEN VM.[Destination Value] ELSE VM.[Destination Value 2] END [lkpHKONT2], GL.[Income_Balance]
    FROM [%COMPANY%$Value Mapping] VM WITH (NOLOCK)
    JOIN [%COMPANY%$G_L Account] GL WITH (NOLOCK) ON GL.[No_]=VM.[Source Value]
   WHERE VM.[Source Table No_] = 15 AND VM.[Export Structure Entry No_] = 0 AND VM.[Source Value] <> '''' AND VM.[Mapping validated by] <> ''''
'
SET @Template2 = '(''%COMPANY%'','''',''<%BUKRS%>'',''<%BUKRS%>'',0)'
SET @Opening = REPLACE(@Opening,'%ALIAS%',@Alias)


IF OBJECT_ID(N'tempdb..#Company') IS NOT NULL
  DROP TABLE #Company
CREATE TABLE #Company ([Company] varchar(35) COLLATE Latin1_General_CS_AS, [BUKRS] varchar(35) COLLATE Latin1_General_CS_AS)
INSERT INTO #Company ([Company],[BUKRS]) EXEC [MIGRATION].[ZHRS_MIG_LookupBUKRS]

UPDATE #Company SET [Company] = REPLACE([Company],'.','_')

SELECT @SQL = @SQL + CASE WHEN @SQL='' THEN @Opening ELSE @Union END + REPLACE(@Template,'%COMPANY%',C.[Company]) FROM #Company C
SELECT @SQL2 = @SQL2 + CASE WHEN @SQL2='' THEN @Ending ELSE @Union2 END + REPLACE(REPLACE(@Template2,'%COMPANY%',C.[Company]),'%BUKRS%',C.[BUKRS]) FROM #Company C
SET @SQL2 = @SQL2 + @Ending2

SET @SQL = @SQL+@SQL2
SET @SQL = REPLACE(REPLACE(@SQL,'%ALIAS%',@Alias),'%ALIAS2%',@Alias2)

IF @ReturnDataset=1
BEGIN
  SET @SQL=REPLACE(@SQL,'INSERT INTO ','--INSERT INTO ')
  EXEC DebugPrint @SQL
  EXEC(@SQL)
END
IF @ReturnDataset<>1
BEGIN
  IF OBJECT_ID(N'HKONT') IS NOT NULL
    DROP TABLE HKONT
  CREATE TABLE HKONT ([BUKRS] varchar(35) COLLATE Latin1_General_CS_AS, [HKONT] varchar(20) COLLATE Latin1_General_CS_AS, [lkpHKONT] varchar(20) COLLATE Latin1_General_CS_AS, [lkpHKONT2] varchar(20) COLLATE Latin1_General_CS_AS,[Income_Balance] int, PRIMARY KEY CLUSTERED ([BUKRS],[HKONT]))  
  EXEC(@SQL)
END
END
GO
