USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[ConsolidationSuSa]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Author:			Ralph Prangenberg
Create date:	08.01.2018
Description:	Navision report replacement for "Consolidation SuSa" Report

/*
DECLARE @UserId VARCHAR(20),@CompanyName VARCHAR(30),@ReportId INT,@IncludeUltimo BIT,@IncludeReversed BIT,@OnlyCorrection BIT,@ExcludeBalanceOnly BIT,@CurrencyShown INT
SELECT
	@UserId				= 'EXTCMU02',
	@CompanyName		= 'HRS',
	@ReportId			= 50095,
	@IncludeUltimo		= 0,
	@IncludeReversed	= 0,
	@OnlyCorrection		= 0,
	@ExcludeBalanceOnly	= 0,
	@CurrencyShown		= 1
EXECUTE	[RS].[ConsolidationSuSa] @UserId,@CompanyName,@ReportId,@IncludeUltimo,@IncludeReversed,@OnlyCorrection,@ExcludeBalanceOnly,@CurrencyShown
*/
-- ============================================= */
CREATE PROCEDURE [RS].[ConsolidationSuSa]
(
	@UserId				VARCHAR(20),
	@CompanyName		VARCHAR(30),
	@ReportId			INT,
	@IncludeUltimo		INT = 0,
	@IncludeReversed	INT = 0,
	@OnlyCorrection		INT = 0,
	@ExcludeBalanceOnly	INT = 0,
	@CurrencyShown		INT = 0		-- 0=Local Currency, 1=Reporting Currency
) 
AS BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	SET LANGUAGE German
	
	BEGIN --REGION: Declaration

	DECLARE	@Stmt					VARCHAR(MAX),
		@StartBalanceStmt			VARCHAR(MAX),
		@StartDate					DATE,
		@EndDate					DATE,
		@IDs						[RS].[TableIDs],
		@Filter_GlobalDim1			VARCHAR(MAX),
		@Filter_GlobalDim2			VARCHAR(MAX),
		@Filter_BusinessUnitCode	VARCHAR(MAX)

		CREATE TABLE #ConsolidationSuSa(
			CompanyName			VARCHAR(30),
			AccNo				VARCHAR(20),
			AccBalance			DECIMAL(38,3),
			PeriodFilter		VARCHAR(250)
		)

		SET @StartDate = 
		(SELECT SUBSTRING([Filter Value], 0, CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
		   FROM [RS-Report Execution]
		  WHERE [Start Company] = @CompanyName
			AND [UserID] = @UserId
			AND [Report ID] = @ReportId
			AND [Table ID] = 15
			AND [Field ID] = 28)
				IF (@StartDate IS NULL) BEGIN
		SET @StartDate = CONVERT(DATE, '1753-01-01')
	END
		PRINT('PREPARE:')
		PRINT('StartDate: '+ CAST(@StartDate AS VARCHAR))

		SET @EndDate = 
		(SELECT SUBSTRING([Filter Value], 13, CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
		   FROM [RS-Report Execution]
		  WHERE [Start Company] = @CompanyName
			AND [UserID] = @UserId
			AND [Report ID] = @ReportId
			AND [Table ID] = 15
			AND [Field ID] = 28)
				IF (@EndDate IS NULL) BEGIN
		SET @EndDate = CONVERT(DATE, '2999-12-31')
	END
		PRINT('@EndDate: '+ CAST(@EndDate AS VARCHAR))

		SET @Filter_GlobalDim1 = 
		(SELECT [Filter Value]
		   FROM [RS-Report Execution] WITH (NOLOCK)
		  WHERE [Start Company] = @CompanyName
			AND [UserID]  = @UserId
			AND [Report ID] = @ReportId
			AND [Table ID]  = 15
			AND [Field ID]  = 29)
		PRINT('Filter_GlobalDim1: '+ @Filter_GlobalDim1)

		SET @Filter_GlobalDim2 = 
		(SELECT [Filter Value]
		   FROM [RS-Report Execution] WITH (NOLOCK)
		  WHERE [Start Company] = @CompanyName
			AND [UserID]  = @UserId
			AND [Report ID] = @ReportId
			AND [Table ID]  = 15
			AND [Field ID]  = 30)
		PRINT('Filter_GlobalDim2: '+ @Filter_GlobalDim2)

		SET @Filter_BusinessUnitCode =
		(SELECT [Filter Value]
		   FROM [RS-Report Execution] WITH (NOLOCK)
		  WHERE [Start Company] = @CompanyName
			AND [UserID]  = @UserId
			AND [Report ID] = @ReportId
			AND [Table ID]  = 15
			AND [Field ID]  = 42)
		PRINT('Filter_BusinessUnitCode: ' + @Filter_BusinessUnitCode)
	END --REGION: Declaration

	BEGIN --REGION: Companies
		CREATE TABLE #Company (
			Name				VARCHAR(30)
		)

		DELETE FROM @IDs
		INSERT INTO @IDs
		SELECT [Table ID], [Table Name]
		  FROM [RS-Report Execution] WITH (NOLOCK)
		 WHERE [Start Company] = @CompanyName
		   AND [UserID] = @UserId
		   AND [Report ID] = @ReportId
		   AND [Table ID] = 2000000006

		SET @Stmt = '
		INSERT INTO #Company (Name)
		SELECT REPLACE([Name] ,''.'',''_'')
		  FROM Company WITH (NOLOCK)
		 WHERE (1=1)'
				+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @IDs, 0)	
		 PRINT(@Stmt)
		 EXEC(@Stmt)
	END --REGION: Companies

	BEGIN --REGION: Company Iteration
		DELETE FROM @IDs
		INSERT INTO @IDs
		SELECT [Table ID], [Table Name]
		  FROM [RS-Report Execution] WITH (NOLOCK)
		 WHERE [Start Company] = @CompanyName
		   AND [UserID] = @UserId
		   AND [Report ID] = @ReportId
		   AND ([Table ID] != 2000000006)
		   AND NOT (([Table ID] = 17) AND ([Field ID] = 4))
	
		SET @Stmt = ''


		SELECT @Stmt = @Stmt + '
		INSERT INTO #ConsolidationSuSa 
		(	CompanyName
		  , AccNo
		  , AccBalance
		  , PeriodFilter
		)
		SELECT ''' + #Company.[Name] + '''
			 , [' + #Company.[Name] + '$G_L Account].[No_]
			 , (SELECT SUM([' + #Company.[Name] + '$G_L Entry$VSIFT$4].[SUM$Amount])
					   FROM [' + #Company.[Name] + '$G_L Entry$VSIFT$4]
					  WHERE [' + #Company.[Name] + '$G_L Entry$VSIFT$4].[G_L Account No_] = [' + #Company.[Name] + '$G_L Account].[No_]'
					+ CASE WHEN ((@Filter_GlobalDim1 IS NOT NULL) AND (@Filter_GlobalDim1 != '')) 
						   THEN + ' AND ' + [RS].[Nav2SqlFiltersSimple]('[' + #Company.[Name] + '$G_L Entry$VSIFT$4].[Global Dimension 1 Code]', @Filter_GlobalDim1, 1)
						   ELSE '' 
					  END
					+ CASE WHEN ((@Filter_GlobalDim2 IS NOT NULL) AND (@Filter_GlobalDim2 != '')) 
						   THEN + ' AND ' + [RS].[Nav2SqlFiltersSimple]('[' + #Company.[Name] + '$G_L Entry$VSIFT$4].[Global Dimension 2 Code]', @Filter_GlobalDim2, 1) 
						   ELSE '' 
					  END
					+ CASE WHEN ((@Filter_BusinessUnitCode IS NOT NULL) AND (@Filter_BusinessUnitCode != '')) 
						   THEN + ' AND ' + [RS].[Nav2SqlFiltersSimple]('[' + #Company.[Name] + '$G_L Entry$VSIFT$4].[Business Unit Code]', @Filter_BusinessUnitCode, 1) 
						   ELSE '' 
					  END 
					+ ')		
			 , NULL
	    FROM [' + #Company.[Name] + '$G_L Account] WITH (NOLOCK)
	   WHERE (1=1)
			' + [RS].Nav2SqlString(@UserId, #Company.[Name], @ReportId, @IDs, 2)

		FROM #Company
		PRINT(@Stmt)
		EXEC(@Stmt)
	END --REGION: Company Iteration

	BEGIN --REGION: Clean
		SELECT [CompanyName]			AS [CompanyName]
			 , [AccNo]					AS [AccNo]
			 , CASE WHEN [AccBalance] = 0
					THEN NULL
					ELSE [AccBalance]
			   END						AS [AccBalance]
			 , (SELECT [Filter Value] 
				  FROM [RS-Report Execution] 
				 WHERE [Start Company] = @CompanyName
				   AND [UserID] = @UserId
				   AND [Report ID] = @ReportId
				   AND [Table ID] = 15
				   AND [Field ID] = 28) AS [PeriodFilter]
		 FROM #ConsolidationSuSa 
	 ORDER BY [AccNo] ASC, [CompanyName] ASC
	
	DROP TABLE #ConsolidationSuSa
	DROP TABLE #Company
	DELETE FROM @IDs

	END --REGION: Clean

END --Stored Prodcedure

GO
