USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[DetailedTrialBalance_02]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Author:			MMC Management Solutions GmbH
Create date:	29.06.2011
Description:	Navision report replacement for "Detail Trial Balance"

DECLARE @UserId VARCHAR(20),@CompanyName VARCHAR(30),@ReportId INT,@IncludeUltimo BIT,@IncludeReversed BIT,@OnlyCorrection BIT,@ExcludeBalanceOnly BIT,@CurrencyShown INT
SELECT @UserId = 'TMA04',@CompanyName='HRS',@ReportId=50137,@IncludeUltimo=NULL,@IncludeReversed=NULL,@OnlyCorrection=NULL,@ExcludeBalanceOnly=NULL,@CurrencyShown=0
EXEC [RS].[DetailedTrialBalance_02] @UserId,@CompanyName,@ReportId,@IncludeUltimo,@IncludeReversed,@OnlyCorrection,@ExcludeBalanceOnly,@CurrencyShown
============================================= */
CREATE PROCEDURE [RS].[DetailedTrialBalance_02]
	@UserId				VARCHAR(20),
	@CompanyName		VARCHAR(30),
	@ReportId			INT,
	@IncludeUltimo		BIT = NULL,
	@IncludeReversed	BIT = NULL,
	@OnlyCorrection		BIT = NULL,
	@ExcludeBalanceOnly	BIT = NULL,
	@CurrencyShown		INT = 0		-- 0=Local Currency, 1=Reporting Currency
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN --REGION: Declaration
	DECLARE 
		@CuCompany					VARCHAR(30),
		@Stmt						VARCHAR(MAX),
		@Filter						VARCHAR(MAX),
		@StartBalanceStmt			VARCHAR(MAX),
		@StartDate					DATE,
		@AccountNo					VARCHAR(20),
		@SubBalance					DECIMAL(38,20),
		@IDs						[RS].[TableIDs],
		@Filter_AccountNo			VARCHAR(MAX),
		@Filter_GlobalDim1			VARCHAR(MAX),
		@Filter_GlobalDim2			VARCHAR(MAX),
		@Filter_BusinessUnitCode	VARCHAR(MAX)

	CREATE TABLE #DetailedTrialBalance (
		CompanyName			VARCHAR(30),
		AccNo				VARCHAR(20),
		AccName				VARCHAR(30),
		AccStartBalance		DECIMAL(38,20),
		EntryNo				INT,
		EntryPostingDate	DATETIME,
		EntryDocumentNo		VARCHAR(20),
		EntryDescription	VARCHAR(50),
		EntryReversed		TINYINT,
		EntryVatAmount		DECIMAL(38,20),
		EntryDebitAmount	DECIMAL(38,20),
		EntryCreditAmount	DECIMAL(38,20),
		EntryAmount			DECIMAL(38,20),
		EntrySourceType		VARCHAR(10),
		EntrySourceNo		VARCHAR(20),
		PeriodFilter		VARCHAR(250),
		CurrencyFactor		DECIMAL(38,20)
	)

	SET @StartDate = 
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID] = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID] = 15
		AND [Field ID] = 28)
	PRINT('StartDate: '+ CAST(@StartDate AS VARCHAR))

	SET @Filter_GlobalDim1 = 
	(SELECT [Filter Value]
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID]  = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID]  = 15
		AND [Field ID]  = 29)
	PRINT('Filter_GlobalDim1: '+ @Filter_GlobalDim1)

	SET @Filter_GlobalDim2 = 
	(SELECT [Filter Value]
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID]  = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID]  = 15
		AND [Field ID]  = 30)
	PRINT('Filter_GlobalDim2: '+ @Filter_GlobalDim2)

	SET @Filter_BusinessUnitCode =
	(SELECT [Filter Value]
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID]  = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID]  = 15
		AND [Field ID]  = 42)
	PRINT('Filter_BusinessUnitCode: ' + @Filter_BusinessUnitCode)
END --REGION: Declaration

BEGIN --REGION: Companies
	CREATE TABLE #Company (
		Name				VARCHAR(30),
	)

	DELETE FROM @IDs
	INSERT INTO @IDs
	SELECT 2000000006, 'Company'
	--SELECT [Table ID]
	--FROM [RS-Report Execution]
	--WHERE [Start Company] = @CompanyName
	--	AND [UserID] = @UserId
	--	AND [Report ID] = @ReportId
	--	AND [Table ID] = 2000000006

	SET @Stmt = '
	INSERT INTO #Company
	SELECT Name FROM Company
	WHERE (1=1)' + [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @IDs, 0)
	
	PRINT(@Stmt)
	EXEC(@Stmt)
END --REGION: Companies

BEGIN --REGION: Company Iteration
	DECLARE CompanyCursor CURSOR FOR
	SELECT Name FROM #Company

	OPEN CompanyCursor FETCH NEXT FROM CompanyCursor INTO @CuCompany
	WHILE @@FETCH_STATUS = 0 BEGIN
		IF (@StartDate IS NOT NULL) BEGIN
			SET @StartBalanceStmt = '(SELECT SUM(' + 
				CASE 
					WHEN @CurrencyShown = 0 THEN '[SUM$Amount]' 
					WHEN @CurrencyShown = 1 THEN '[SUM$Additional-Currency Amount]' 
				END + ')
			FROM [' + @CuCompany + '$G_L Entry$VSIFT$4]
			WHERE [' + @CuCompany + '$G_L Entry$VSIFT$4].[G_L Account No_] = [' + @CuCompany + '$G_L Account].[No_]
				AND [' + @CuCompany + '$G_L Entry$VSIFT$4].[Posting Date] <= ''' + CONVERT(VARCHAR(10),@StartDate,120) + ''''
			+ CASE WHEN ((@Filter_GlobalDim1 IS NULL) OR (@Filter_GlobalDim1 = '')) THEN ''
				ELSE '
				AND ' + [RS].[Nav2SqlFiltersSimple]('[' + @CuCompany + '$G_L Entry$VSIFT$4].[Global Dimension 1 Code]', @Filter_GlobalDim1, 1)
			END
			+ CASE WHEN ((@Filter_GlobalDim2 IS NULL) OR (@Filter_GlobalDim2 = '')) THEN ''
				ELSE '
				AND ' + [RS].[Nav2SqlFiltersSimple]('[' + @CuCompany + '$G_L Entry$VSIFT$4].[Global Dimension 2 Code]', @Filter_GlobalDim2, 1)
			END
			+ CASE WHEN ((@Filter_BusinessUnitCode IS NULL) OR (@Filter_BusinessUnitCode = '')) THEN ''
				ELSE '
				AND ' + [RS].[Nav2SqlFiltersSimple]('[' + @CuCompany + '$G_L Entry$VSIFT$4].[Business Unit Code]', @Filter_BusinessUnitCode, 1)
			END
			+ ')'
		END ELSE BEGIN
			SET @StartBalanceStmt = 'NULL'
		END
		PRINT('-- STARTBALANCE:' + 
		@StartBalanceStmt)

		SET @Stmt = '
		-- GET ACCOUNTS
		INSERT INTO #DetailedTrialBalance (
			CompanyName,
			AccNo,
			AccName,
			AccStartBalance
		) SELECT
			''' + @CuCompany + ''',
			[' + @CuCompany + '$G_L Account].[No_],
			[' + @CuCompany + '$G_L Account].[Name],
			COALESCE(' + @StartBalanceStmt + ', 0)
		FROM [' + @CuCompany + '$G_L Account]
		WHERE [' + @CuCompany + '$G_L Account].[Account Type] = 0
		'
		
		DELETE FROM @IDs 
		INSERT INTO @IDs 
		SELECT 15, 'G_L Account'
		--SELECT [Table ID] 
		--FROM [RS-Report Execution]
		--WHERE [Start Company] = @CompanyName
		--	AND [UserID] = @UserId
		--	AND [Report ID] = @ReportId
		--	AND [Table ID] = 15
		SET @Stmt = @Stmt + [RS].[Nav2SqlString](@UserId, @CuCompany, @ReportId, @IDs, NULL)
		PRINT(@Stmt)
		EXEC(@Stmt)
		
		
		SET @Stmt = '
		DECLARE @ReportingCurrency	VARCHAR(10)
		SET @ReportingCurrency = (	SELECT [Additional Reporting Currency]
									FROM [' + @CuCompany + '$General Ledger Setup])
		'

		SET @Stmt = @Stmt + '
		-- GET ENTRIES
		INSERT INTO #DetailedTrialBalance (
			CompanyName,
			AccNo,
			AccName,
			AccStartBalance,
			EntryNo,
			EntryPostingDate,
			EntryDocumentNo,
			EntryDescription,
			EntryReversed,
			EntryVatAmount,
			EntryDebitAmount,
			EntryCreditAmount,
			EntryAmount,
			EntrySourceType,
			EntrySourceNo,
			CurrencyFactor) 
		SELECT
			''' + @CuCompany + ''',
			AccNo,
			AccName,
			AccStartBalance,
			['+ @CuCompany +'$G_L Entry].[Entry No_],
			['+ @CuCompany +'$G_L Entry].[Posting Date],
			['+ @CuCompany +'$G_L Entry].[Document No_],
			['+ @CuCompany +'$G_L Entry].[Description],
			['+ @CuCompany +'$G_L Entry].[Reversed],
			['+ @CuCompany +'$G_L Entry].[VAT Amount],'
			 + CASE WHEN @CurrencyShown = 0 THEN
			'['+ @CuCompany +'$G_L Entry].[Debit Amount],
			['+ @CuCompany +'$G_L Entry].[Credit Amount],
			['+ @CuCompany +'$G_L Entry].[Amount],'
			WHEN @CurrencyShown = 1 THEN
			'['+ @CuCompany +'$G_L Entry].[Add_-Currency Debit Amount],
			['+ @CuCompany +'$G_L Entry].[Add_-Currency Credit Amount],
			['+ @CuCompany +'$G_L Entry].[Additional-Currency Amount],'
			END +
			'CASE ['+ @CuCompany +'$G_L Entry].[Source Type]
				WHEN 0 THEN '' ''
				WHEN 1 THEN ''Deb''
				WHEN 2 THEN ''Kred''
				WHEN 3 THEN ''Bank''
				WHEN 4 THEN ''Anl''
			END,
			['+ @CuCompany +'$G_L Entry].[Bal_ Account No_],
			(SELECT COALESCE((	SELECT TOP 1 [Exchange Rate Amount] FROM ['+ @CuCompany +'$Currency Exchange Rate]
								WHERE [Currency Code] = @ReportingCurrency
									AND [Starting Date] <= ['+ @CuCompany +'$G_L Entry].[Posting Date]
								ORDER BY [Starting Date] DESC), 1))
		FROM #DetailedTrialBalance
			INNER JOIN ['+ @CuCompany +'$G_L Entry] ON #DetailedTrialBalance.AccNo COLLATE Latin1_General_100_CI_AS = ['+ @CuCompany +'$G_L Entry].[G_L Account No_]
		WHERE (1=1)'
		
		DELETE FROM @IDs
		INSERT INTO @IDs 
		SELECT 17, 'G_L Entry' 
		--SELECT [Table ID] 
		--FROM [RS-Report Execution]
		--WHERE [Start Company] = @CompanyName
		--	AND [UserID] = @UserId
		--	AND [Report ID] = @ReportId
		--	AND [Table ID] = 17
		SET @Stmt = @Stmt + [RS].[Nav2SqlString](@UserId, @CuCompany, @ReportId, @IDs, NULL)
		
		IF (@IncludeUltimo IS NOT NULL) AND (@IncludeUltimo = 0) BEGIN
			SET @Stmt = @Stmt + '
			AND (CAST(['+ @CuCompany +'$G_L Entry].[Posting Date] AS TIME) != ''23:59:59'')'
		END
		IF (@IncludeReversed IS NOT NULL) AND (@IncludeReversed = 0) BEGIN
			SET @Stmt = @Stmt + '
			AND (['+ @CuCompany +'$G_L Entry].[Reversed] = 0)'
		END
		IF (@OnlyCorrection IS NOT NULL) AND (@OnlyCorrection != 0) BEGIN
			SET @Stmt = @Stmt + '
			AND ((['+ @CuCompany +'$G_L Entry].[Credit Amount] < 0) OR (['+ @CuCompany +'$G_L Entry].[Debit Amount] < 0))'
		END
		PRINT(@Stmt)
		EXEC(@Stmt)

		IF (@ExcludeBalanceOnly IS NOT NULL) AND (@ExcludeBalanceOnly != 0) BEGIN
			DELETE FROM #DetailedTrialBalance WHERE EntryNo IS NULL
		END ELSE BEGIN
			DELETE FROM #DetailedTrialBalance 
			WHERE AccStartBalance = 0 
				AND EntryNo IS NULL
		END
		FETCH NEXT FROM CompanyCursor
		INTO @CuCompany
	END
	CLOSE CompanyCursor
	DEALLOCATE CompanyCursor
END --REGION: Company Iteration

BEGIN --REGION: Finish
	SET @Stmt = '--SAVE FILTER
	UPDATE #DetailedTrialBalance
		SET PeriodFilter = '''+
	(SELECT [Filter Value]
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID] = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID] = 15
		AND [Field ID] = 28) + ''''
	PRINT(SUBSTRING(@Stmt,1,8000))
	PRINT(SUBSTRING(@Stmt,8001,8000))
	EXEC(@Stmt)

	IF @CurrencyShown = 0 
		SELECT * FROM #DetailedTrialBalance ORDER BY AccNo ASC, CompanyName ASC, EntryPostingDate ASC, EntryDocumentNo ASC
	IF @CurrencyShown = 1 BEGIN
		SELECT 
			CompanyName,
			AccNo,
			AccName,
			AccStartBalance,
			EntryNo,
			EntryPostingDate,
			EntryDocumentNo,
			EntryDescription,
			EntryReversed,
			EntryVatAmount * CurrencyFactor AS EntryVatAmount,
			EntryDebitAmount,
			EntryCreditAmount,
			EntryAmount,
			EntrySourceType,
			EntrySourceNo,
			PeriodFilter,
			CurrencyFactor
		FROM #DetailedTrialBalance ORDER BY AccNo ASC, CompanyName ASC, EntryPostingDate ASC, EntryDocumentNo ASC
	END --@CurrencyShown = 0
END --REGION: Finish

BEGIN --REGION: Cleanup
	PRINT('DROP TABLE #DetailedTrialBalance
	DROP TABLE #Company')
	DROP TABLE #DetailedTrialBalance
	DROP TABLE #Company
END --REGION: Cleanup

END --Stored Prodcedure
/*
DECLARE 
	@UserId				VARCHAR(20),
	@CompanyName		VARCHAR(30),
	@ReportId			INT,
	@IncludeUltimo		BIT = NULL,
	@IncludeReversed	BIT = NULL,
	@OnlyCorrection		BIT = NULL,
	@ExcludeBalanceOnly	BIT = NULL,
	@CurrencyShown		INT

SET @UserId =				'AALFERIN'
SET @CompanyName =			'MMC Management Solutions GmbH'
SET @ReportId =				50137
SET @IncludeUltimo =		1
SET @IncludeReversed =		1
SET @OnlyCorrection =		0
SET @ExcludeBalanceOnly =	0
SET @CurrencyShown =		1

EXECUTE [RS].[DetailedTrialBalance_02] 
	@UserId,
	@CompanyName,
	@ReportId,
	@IncludeUltimo,
	@IncludeReversed,
	@OnlyCorrection,
	@ExcludeBalanceOnly,
	@CurrencyShown
*/
GO
