USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[fnc_DateFromDateFormula]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ralph Prangenberg
-- Create date: 30.06.2011
-- Description: Gibt das errechnete Datum zurück
--  select [RS].[fnc_DateFromDateFormula]('27.01.2011', '1M')
-- =============================================
CREATE FUNCTION [RS].[fnc_DateFromDateFormula]
(
      @DateBase					datetime
	, @DateFormula				varchar(20)
)
RETURNS varchar (250)--datetime
AS
BEGIN

	DECLARE   @Position			int				= 1
			, @ASCII_CODE		varchar(3)
			, @DateFormulaSQL	varchar(8000)	= ''
			, @String_1			varchar(1)
			, @Vorzeichen		varchar(1)		= ''
			, @Zahl				varchar(250)	= ''
			, @L				varchar(1)		= ''
			, @TW				varchar(1)		= ''
			, @NewDate			datetime

	--Die ASCII - Werte darstellen
	WHILE @Position <= DATALENGTH(@DateFormula)
		BEGIN
		SET @ASCII_CODE = ASCII(SUBSTRING(@DateFormula, @Position, 1))  
	
		SET @DateFormulaSQL =			
			CASE @ASCII_CODE
				WHEN  1 THEN @DateFormulaSQL + 'L'
				WHEN 76 THEN @DateFormulaSQL + 'L'
				WHEN  2 THEN @DateFormulaSQL + 'T'
				WHEN 84 THEN @DateFormulaSQL + 'T'
				WHEN  3 THEN @DateFormulaSQL + 'X' --IST TW->Tag der Woche, in NAV TW2 => Dienstag
				WHEN  3 THEN @DateFormulaSQL + 'X'
				WHEN  4 THEN @DateFormulaSQL + 'W'
				WHEN 87 THEN @DateFormulaSQL + 'W'
				WHEN  5 THEN @DateFormulaSQL + 'M'
				WHEN 77 THEN @DateFormulaSQL + 'M'
				WHEN  6 THEN @DateFormulaSQL + 'Q'
				WHEN 81 THEN @DateFormulaSQL + 'Q'
				WHEN  7 THEN @DateFormulaSQL + 'J'
				WHEN 74 THEN @DateFormulaSQL + 'J'
				WHEN 43 THEN @DateFormulaSQL + '+'
				WHEN 45 THEN @DateFormulaSQL + '-'
				WHEN 48 THEN @DateFormulaSQL + '0'
				WHEN 49 THEN @DateFormulaSQL + '1'
				WHEN 50 THEN @DateFormulaSQL + '2'
				WHEN 51 THEN @DateFormulaSQL + '3'
				WHEN 52 THEN @DateFormulaSQL + '4'
				WHEN 53 THEN @DateFormulaSQL + '5'
				WHEN 54 THEN @DateFormulaSQL + '6'
				WHEN 55 THEN @DateFormulaSQL + '7'
				WHEN 56 THEN @DateFormulaSQL + '8'
				WHEN 57 THEN @DateFormulaSQL + '9'
			END
	
		SET @Position = @Position + 1
		END	
	
	--Berechnung des Datums
	SET @NewDate = @DateBase
	SELECT @Position = 1
	WHILE @Position <= DATALENGTH(@DateFormulaSQL)
		BEGIN
		SELECT @String_1  = SUBSTRING(@DateFormulaSQL,@Position,1)

		IF @String_1 = '-'
			SET @Vorzeichen = @String_1
						
		IF (@String_1 BETWEEN '0' AND '9')
		BEGIN
			SET @Zahl = @Zahl + @String_1
			IF @TW	= 'X'
			BEGIN
				--der 01.01.1900 war Montag und ist der Initialwert 0
				SET @NewDate = DATEADD(dd, DATEDIFF(dd, '1900010' + @Zahl, @NewDate) / 7 * 7 + (CASE @Vorzeichen WHEN '-' THEN - 7 ELSE + 7 END), '1900010'+ @Zahl)
				SET @Vorzeichen = ''
				SET @TW			= '' 
				SET @Zahl		= ''	
			END
		END

		IF @String_1 = 'L'
			SET @L = 'L'
		
		IF (@String_1 = 'T' OR @String_1 = 'W' OR @String_1 = 'M' OR @String_1 = 'Q' OR @String_1 = 'J')
		BEGIN	
		--	SELECT @Einheit = @String_1
			IF @String_1 = 'T' AND @L = '' SET @NewDate = DATEADD(dd, CAST((@Vorzeichen + @Zahl) AS int), @NewDate)
			IF @String_1 = 'W' AND @L = '' SET @NewDate = DATEADD(ww, CAST((@Vorzeichen + @Zahl) AS int), @NewDate)
			IF @String_1 = 'M' AND @L = '' SET @NewDate = DATEADD(mm, CAST((@Vorzeichen + @Zahl) AS int), @NewDate)
			IF @String_1 = 'Q' AND @L = '' SET @NewDate = DATEADD(qq, CAST((@Vorzeichen + @Zahl) AS int), @NewDate)
			IF @String_1 = 'J' AND @L = '' SET @NewDate = DATEADD(yy, CAST((@Vorzeichen + @Zahl) AS int), @NewDate)
			
			--Erster Tag im Tag entspricht -LT => macht keinen Sinn
			--Letzter Tag im Tag entspricht LT => macht keinen Sinn
			
			--Erster Tag in der Woche entspricht -LW
			IF @String_1 = 'W' AND @L = 'L' AND @Vorzeichen = '-'
				SET @NewDate = DATEADD(ww, DATEDIFF(ww, 0, @NewDate), 0)
			--Letzter Tag in der Woche entspricht LW
			IF @String_1 = 'W' AND @L = 'L' AND @Vorzeichen <> '-'
				SET @NewDate = DATEADD(dd, -1, DATEADD(ww, 1, DATEADD(ww, DATEDIFF(ww, 0, @NewDate), 0)))
			
			--Erster Tag im Monat entspricht -LM
			IF @String_1 = 'M' AND @L = 'L' AND @Vorzeichen = '-'
				SET @NewDate = DATEADD(mm, DATEDIFF(mm, 0, @NewDate), 0)
			--Letzter Tag im Monat entspricht LM
			IF @String_1 = 'M' AND @L = 'L' AND @Vorzeichen <> '-'
				SET @NewDate = DATEADD(dd, -1, DATEADD(mm, 1, DATEADD(mm, DATEDIFF(mm, 0, @NewDate), 0)))
			
			--Erster Tag im Quartal entspricht -LQ
			IF @String_1 = 'Q' AND @L = 'L' AND @Vorzeichen = '-'
				SET @NewDate = DATEADD(qq, DATEDIFF(qq, 0, @NewDate), 0)
			--Letzter Tag im Quartal entspricht LQ
			IF @String_1 = 'Q' AND @L = 'L' AND @Vorzeichen <> '-'
				SET @NewDate = DATEADD(dd, -1, DATEADD(qq, 1, DATEADD(qq, DATEDIFF(qq, 0, @NewDate), 0)))
				
			--Erster Tag im Jahr entspricht -LJ
			IF @String_1 = 'J' AND @L = 'L' AND @Vorzeichen = '-'
				SET @NewDate = DATEADD(yy, DATEDIFF(yy, 0, @NewDate), 0)
			--Letzter Tag im Jahr entspricht LJ
			IF @String_1 = 'J' AND @L = 'L' AND @Vorzeichen <> '-'
				SET @NewDate = DATEADD(dd, -1, DATEADD(yy, 1, DATEADD(yy, DATEDIFF(yy, 0, @NewDate), 0)))
			
			SET @Vorzeichen = '' 
			SET @Zahl		= ''
			SET @L			= ''
		END
		
		--nächster oder zurückliegender Wochentag 1=Montag (in Nav)usw
		--TW(1-7) wird als 'X' dargestellt
		IF @String_1 = 'X' 
			SET @TW	= 'X'
		
		SELECT @Position = @Position + 1
		END
	
	RETURN CONVERT(varchar(250), COALESCE(@NewDate,@DateBase), 4)
END



GO
