USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[NavFilterForPrint]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author:			MMC Management Solutions GmbH
Create date:	08.07.2011
Description:	Combines Filters to a single string
============================================= */
CREATE FUNCTION [RS].[NavFilterForPrint](
	@UserId			VARCHAR(20),
	@CompanyName	VARCHAR(30),
	@ReportId		INT,
	@TableId		INT
) RETURNS VARCHAR(MAX) AS BEGIN
DECLARE @FilterString	VARCHAR(MAX) = '',
		@FieldCaption	VARCHAR(MAX),
		@FilterValue	VARCHAR(MAX)

DECLARE Filter CURSOR FOR
	SELECT [Field Caption], [Filter Value]
	FROM [RS-Report Execution]
	WHERE [Start Company] = @CompanyName
		AND [UserID] = @UserId
		AND [Report ID] = @ReportId
		AND [Table ID] = @TableId

OPEN Filter FETCH NEXT FROM Filter INTO @FieldCaption, @FilterValue
WHILE @@FETCH_STATUS = 0 BEGIN
	SET @FilterString = @FilterString + 
		CASE WHEN @FilterString = '' THEN '' ELSE ', ' END 
		+ @FieldCaption + ': ' + @FilterValue
	FETCH NEXT FROM Filter INTO @FieldCaption, @FilterValue
END
CLOSE Filter DEALLOCATE Filter

RETURN @FilterString
END
/*
SELECT [RS].[NavFilterForPrint]('AALFERIN', 'CRONUS AG', 50138, 21)
*/
GO
