USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[Nav2SqlFiltersSimple]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author:			MMC Management Solutions GmbH
Create date:	29.06.2011
Description:	Converts NavisionFilter to SQL-Filter
============================================= */
CREATE FUNCTION [RS].[Nav2SqlFiltersSimple](
	@Field			VARCHAR(250),
	@FilterValue	VARCHAR(MAX),
	@DoubleQuotes	INT
) RETURNS VARCHAR(MAX) AS BEGIN
DECLARE
	@Stmt	VARCHAR(MAX)
	
SET @Stmt =
	CASE WHEN CHARINDEX('&', @FilterValue) > 0 THEN 
		RS.SqlFilterAND('' + @FilterValue + '', @Field, @DoubleQuotes)
	ELSE
		RS.SqlFilterOR('' + @FilterValue + '', @Field, @DoubleQuotes)
	END
RETURN @Stmt
END
GO
