USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_IncentiveReport]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 13.02.2013
-- Description:	Incentive Report
--              Zusammenfassung aller geb. Bonus-Dokumente
-- 
-- 01.04.2019 HRS001 ACS-1746 - get offline Sources from Source Class
-- 01.04.2019 HRS002 ACS-1746 - get RV_SATZ from $Rebate Line
-- 02.04.2019 HRS003 ACS-1746 - removed Filter on Posting Type "Proforma"
--
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'EXTDJU02'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50036
EXEC [RS].[PROC_IncentiveReport] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_IncentiveReport] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

--BEGIN Perioden in Variablen eintragen
DECLARE
	@DateEnd			DATETIME
  , @DateStart			DATETIME
  , @DateFilterStart	DATETIME
  , @DateFilterEnd		DATETIME
  , @PartnerType		INT
SET @DateStart = CAST(CAST(YEAR(GETDATE())-1 AS VARCHAR(4))+'-01-01' AS DATETIME)
SET @DateEnd = DATEADD(dd,-1,DATEADD(YEAR,1,@DateStart))

--BEGIN Filter aus den FlowFilter
SET @DateStart = COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
		AND [Field ID]  = 1), @DateStart);	    

SET @DateEnd = COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2), @DateEnd);	

SET @PartnerType = COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 3), 0);	

PRINT @DateStart
PRINT @DateEnd

SET @CompanyName = REPLACE(@CompanyName,'.','_')

DECLARE @SQL varchar(MAX) = ''

SET @SQL='
--HRS002 >>
--;WITH RV AS
--(
--  SELECT RL.[Rebate Agreement No_]
--       , MAX([Value Decimal]/100.)                  [Configurated Revenue Share Rate]
--    FROM ['+@CompanyName+'$Posted Rebate Line]   RL WITH (NOLOCK)
--    JOIN ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[No_]   = ''RV_SATZ''
--     AND RL.[Type] IN (1,2)
--     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
--GROUP BY RL.[Rebate Agreement No_]
;WITH _RV AS
(
  SELECT RL.[Rebate Agreement No_]
       , MAX([Value Decimal]/100.)                  [Configurated Revenue Share Rate]
    FROM ['+@CompanyName+'$Posted Rebate Line]   RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[No_]   = ''RV_SATZ''
     AND RL.[Type] IN (1,2)
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
GROUP BY RL.[Rebate Agreement No_]
UNION
  SELECT RL.[Rebate Agreement No_]
       , MAX([Value Decimal]/100.)                  [Configurated Revenue Share Rate]
    FROM ['+@CompanyName+'$Rebate Line]   RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[No_]   = ''RV_SATZ''
     AND RL.[Type] IN (1,2)
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
GROUP BY RL.[Rebate Agreement No_]
), RV AS(
  SELECT [Rebate Agreement No_]
       , MAX([Configurated Revenue Share Rate])     [Configurated Revenue Share Rate]
    FROM _RV
GROUP BY [Rebate Agreement No_]
--HRS002 <<
UNION
  SELECT AH.[No_]                                   [Rebate Agreement No_]
       , PV.[Value Decimal]/100.                    [Configurated Revenue Share Rate]
    FROM ['+@CompanyName+'$Rebate Agreement Header] AH WITH (READUNCOMMITTED)
    JOIN ['+@CompanyName+'$Posted Rebate Header]    RH WITH (NOLOCK)          ON RH.[Rebate Agreement No_] = AH.[No_]
    JOIN ['+@CompanyName+'$Parameter]               PV WITH (READUNCOMMITTED) ON PV.[Code]                 = AH.[Input Parameter 2 Code]
   WHERE NOT AH.[No_] IN
         (
		 --HRS002 >>
		 --SELECT RL.[Rebate Agreement No_]
         --  FROM ['+@CompanyName+'$Posted Rebate Line]   RL WITH (NOLOCK)
         --  JOIN ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK) ON RH.[No_] = RL.[Document No_]
         -- WHERE RL.[No_]   = ''RV_SATZ'' AND RL.[Type] IN (1,2) AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
		 SELECT [Rebate Agreement No_]
		   FROM _RV
		 --HRS002 <<
         )
), VALUE_TYPE9 AS
(
  SELECT RH.[Rebate Agreement No_]
       , SUM(L6.[Value Decimal]) [Non-Commissionable Turnover]
       , SUM(L7.[Value Decimal]) [Commissionable Turnover]
       , SUM(L9.[Value Decimal]) [Turnover (LCY) (corr_)]
    FROM ['+@CompanyName+'$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
    JOIN ['+@CompanyName+'$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
    JOIN ['+@CompanyName+'$Parameter]               P6 WITH (READUNCOMMITTED) ON P6.[Code]                = RA.[Input Parameter 6 Code]
    JOIN ['+@CompanyName+'$Posted Rebate Line]      L6 WITH (READUNCOMMITTED) ON L6.[Document No_]        = RH.[No_]                    
                                                                AND L6.[No_]                 = RA.[Input Parameter 6 Code] 
                                                                AND L6.[Type]                IN (1,2)
    JOIN ['+@CompanyName+'$Parameter]               P7 WITH (READUNCOMMITTED) ON P7.[Code]                = RA.[Input Parameter 7 Code]
    JOIN ['+@CompanyName+'$Posted Rebate Line]      L7 WITH (READUNCOMMITTED) ON L7.[Document No_]        = RH.[No_]                    
                                                                AND L7.[No_]                 = RA.[Input Parameter 7 Code] 
                                                                AND L7.[Type]                IN (1,2)
    JOIN ['+@CompanyName+'$Parameter]               P9 WITH (READUNCOMMITTED) ON P9.[Code]                = RA.[Input Parameter 9 Code]
    JOIN ['+@CompanyName+'$Posted Rebate Line]      L9 WITH (READUNCOMMITTED) ON L9.[Document No_]        = RH.[No_]                    
                                                                AND L9.[No_]                 = RA.[Input Parameter 9 Code] 
                                                                AND L9.[Type]                IN (1,2)
   WHERE RA.[Template Type] = 9
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
     AND RH.[Cancels] = 0
GROUP BY RH.[Rebate Agreement No_]
'
SET @SQL = @SQL + '), _RS AS
(
  SELECT RL.[Rebate Agreement No_]
       , SUM(RL.[Value Decimal]) [Revenue Share]
    FROM ['+@CompanyName+'$Rebate Line] RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[Rebate Amount Line] = 1
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
	 --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
GROUP BY RL.[Rebate Agreement No_]
UNION 
  SELECT RL.[Rebate Agreement No_]
       , SUM(RL.[Value Decimal]) [Revenue Share]
    FROM ['+@CompanyName+'$Posted Rebate Line] RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[Rebate Amount Line] = 1
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
     AND RH.[Cancels] = 0
	 --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
GROUP BY RL.[Rebate Agreement No_]
), RS AS
(
  SELECT RS.[Rebate Agreement No_]
       , SUM(RS.[Revenue Share]) [Revenue Share]
    FROM _RS RS
GROUP BY RS.[Rebate Agreement No_]
), _RL AS
(
  SELECT RL.[Rebate Agreement No_]
       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
       , SUM(CASE WHEN RL.[Commission Type] = 13 
                  THEN RL.[Turnover (LCY) (corr_)] 
                  ELSE 0 
             END)                                       [Turnover (LCY) (corr_) CR]
       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 
                  THEN RL.[Turnover (LCY) (corr_)] 
                  ELSE 0 
             END)                                       [Turnover (LCY) (corr_) NC]
    FROM ['+@CompanyName+'$Posted Rebate Line] RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[Type] = 5
	 -- HRS001 >>
   	 --AND RL.[Reservation Source] != 0 
   	 --AND RL.[Reservation Source] != 2 
   	 --AND RL.[Reservation Source] != 3 
   	 --AND RL.[Reservation Source] != 8 
   	 --AND RL.[Reservation Source] != 16
	 AND RL.[Reservation Source] NOT IN (SELECT No_
	                                       FROM ['+@CompanyName+'$Booking Source] WITH (NOLOCK)
										  WHERE [Source Class] = 1)
	 -- HRS001 <<
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
     AND RH.[Cancels] = 0
	 --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
GROUP BY RL.[Rebate Agreement No_] 
UNION
  SELECT RL.[Rebate Agreement No_]
       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
       , SUM(CASE WHEN RL.[Commission Type] = 13 
                  THEN RL.[Turnover (LCY) (corr_)] 
                  ELSE 0 
             END)                                       [Turnover (LCY) (corr_) CR]
       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 
                  THEN RL.[Turnover (LCY) (corr_)] 
                  ELSE 0 
             END)                                       [Turnover (LCY) (corr_) NC]
    FROM ['+@CompanyName+'$Rebate Line] RL WITH (NOLOCK)
    JOIN ['+@CompanyName+'$Rebate Header] RH WITH (NOLOCK)
      ON RH.[No_] = RL.[Document No_]
   WHERE RL.[Type] = 5
	 -- HRS001 >>
   	 --AND RL.[Reservation Source] != 0 
   	 --AND RL.[Reservation Source] != 2 
   	 --AND RL.[Reservation Source] != 3 
   	 --AND RL.[Reservation Source] != 8 
   	 --AND RL.[Reservation Source] != 16
	 AND RL.[Reservation Source] NOT IN (SELECT No_
	                                       FROM ['+@CompanyName+'$Booking Source] WITH (NOLOCK)
										  WHERE [Source Class] = 1)
	 -- HRS001 <<
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
	 --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
GROUP BY RL.[Rebate Agreement No_] 
'
SET @SQL = @SQL + '), RL AS
(
  SELECT RL.[Rebate Agreement No_]
       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
       , SUM(RL.[Turnover (LCY) (corr_) CR])        [Turnover (LCY) (corr_) CR]
       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
       , SUM(RL.[Turnover (LCY) (corr_) NC])        [Turnover (LCY) (corr_) NC]
       , CASE WHEN SUM(RL.[Turnover (LCY) (corr_)])=0 THEN 0 ELSE SUM([Turnover (LCY) (corr_) NC])
       / SUM(RL.[Turnover (LCY) (corr_)]) END           [Company Rates Ratio]
    FROM _RL RL
GROUP BY RL.[Rebate Agreement No_] 
), _RH AS
(
  SELECT DISTINCT RH.[Rebate Agreement No_], RH.[Rebate-to Vendor No_]
    FROM ['+@CompanyName+'$Posted Rebate Header] RH WITH (NOLOCK)
   WHERE RH.[Cancels] = 0
     AND RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
	 --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
UNION
  SELECT DISTINCT RH.[Rebate Agreement No_], RH.[Rebate-to Vendor No_]
    FROM ['+@CompanyName+'$Rebate Header] RH WITH (NOLOCK)
   WHERE RH.[Document Date] BETWEEN ''' + CONVERT(varchar(10),@DateStart,104)+''' AND '''+CONVERT(varchar(10),@DateEnd,104) +'''
     --HRS003 >>
	 --AND RH.[Statement Posting Type]<>1
	 --HRS003 <<
), RH AS
(
  SELECT [Rebate Agreement No_], [dbo].[GetAffiliatePartnerFilter' + CASE WHEN @CompanyName='hotel_de' THEN '_HDE' ELSE '' END +']([Rebate-to Vendor No_]) [Affiliate Partner Filter] /*MAX([Affiliate Partner Filter]) [Affiliate Partner Filter]*/ FROM _RH --GROUP BY [Rebate Agreement No_]
), REV_SUM AS
(
   SELECT AH.[Rebate-to Vendor No_]
        , AH.[Rebate-to Name]
		, NULLIF(AH.[Valid from],''1753-01-01'') [Valid from]
		, NULLIF(AH.[Valid to],''1753-01-01'') [Valid to]
        , RH.[Affiliate Partner Filter]
        , RL.[Turnover (LCY) (corr_) CR]
        , RL.[Amount (LCY) (corr_)]
        , AH.[Estimated Commission]                          [10% Commission applied]
        , RS.[Revenue Share]                                 [Revenue Share]
        , RL.[Company Rates Ratio]                           [Company Rates Ratio]
        , RV.[Configurated Revenue Share Rate]               [Configurated Revenue Share Rate]
        , COALESCE(
            VT9.[Commissionable Turnover]
          , RL.[Turnover (LCY) (corr_)] 
          - RL.[Turnover (LCY) (corr_) NC]
          )                                                  [Commissionable Turnover]
        , COALESCE(
            VT9.[Non-Commissionable Turnover]
          , RL.[Turnover (LCY) (corr_) NC]
          )                                                  [Turnover (LCY) (corr_) NC]          
        , COALESCE(
            VT9.[Turnover (LCY) (corr_)]
          , RL.[Turnover (LCY) (corr_)]
          )                                                  [Turnover (LCY) (corr_)]          
     FROM ['+@CompanyName+'$Rebate Agreement Header] AH
     JOIN RH ON RH.[Rebate Agreement No_] = AH.[No_]
LEFT JOIN RL ON RL.[Rebate Agreement No_] = AH.[No_]
LEFT JOIN RS ON RS.[Rebate Agreement No_] = AH.[No_]
LEFT JOIN RV ON RV.[Rebate Agreement No_] = AH.[No_]
LEFT JOIN VALUE_TYPE9 VT9 ON VT9.[Rebate Agreement No_] = AH.[No_]'+CASE WHEN @PartnerType<>0 THEN '
    WHERE AH.[Partner Type] = '+CAST(@PartnerType AS VARCHAR(10)) ELSE '' END+'
)
--SELECT * FROM RV ORDER BY 1
SELECT *
     , CASE WHEN [Amount (LCY) (corr_)]=0 THEN 0 ELSE [Revenue Share] / [Amount (LCY) (corr_)] END [Revenue Share Ratio]
     , CASE WHEN [Turnover (LCY) (corr_)] - [Turnover (LCY) (corr_) NC] = 0 THEN 0 ELSE [Amount (LCY) (corr_)] 
     / ([Turnover (LCY) (corr_)] - [Turnover (LCY) (corr_) NC]) END [Average Commission Rate]
     , ''' + CONVERT(varchar(10),@DateStart,104)+''' [DateStart]
     , '''+CONVERT(varchar(10),@DateEnd,104) +''' [DateEnd]
     , '+CAST(@PartnerType AS VARCHAR(10))+' [PartnerType]
  FROM REV_SUM 
ORDER BY 1 '

PRINT SUBSTRING(@SQL,1,8000)
PRINT SUBSTRING(@SQL,8001,8000)
PRINT SUBSTRING(@SQL,16001,8000)

EXEC(@SQL)

--;WITH RV AS
--(
--  SELECT RL.[Rebate Agreement No_]
--       , MAX([Value Decimal]/100.)                  [Configurated Revenue Share Rate]
--    FROM [HRS$Posted Rebate Line]   RL WITH (NOLOCK)
--    JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[No_]   = 'RV_SATZ'
--     AND RL.[Type] IN (1,2)
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--GROUP BY RL.[Rebate Agreement No_]
--UNION
--  SELECT AH.[No_]                                   [Rebate Agreement No_]
--       , PV.[Value Decimal]/100.                    [Configurated Revenue Share Rate]
--    FROM [HRS$Rebate Agreement Header] AH WITH (READUNCOMMITTED)
--    JOIN [HRS$Posted Rebate Header]    RH WITH (NOLOCK)          ON RH.[Rebate Agreement No_] = AH.[No_]
--    JOIN [HRS$Parameter]               PV WITH (READUNCOMMITTED) ON PV.[Code]                 = AH.[Input Parameter 2 Code]
--   WHERE NOT AH.[No_] IN
--         (
--         SELECT RL.[Rebate Agreement No_]
--           FROM [HRS$Posted Rebate Line]   RL WITH (NOLOCK)
--           JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK) ON RH.[No_] = RL.[Document No_]
--          WHERE RL.[No_]   = 'RV_SATZ' AND RL.[Type] IN (1,2) AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--         )
--), VALUE_TYPE9 AS
--(
--  SELECT RH.[Rebate Agreement No_]
--       , SUM(L6.[Value Decimal]) [Non-Commissionable Turnover]
--       , SUM(L7.[Value Decimal]) [Commissionable Turnover]
--       , SUM(L9.[Value Decimal]) [Turnover (LCY) (corr_)]
--    FROM [HRS$Posted Rebate Header]    RH WITH (READUNCOMMITTED)
--    JOIN [HRS$Rebate Agreement Header] RA WITH (READUNCOMMITTED) ON RA.[No_]                 = RH.[Rebate Agreement No_]
--    JOIN [HRS$Parameter]               P6 WITH (READUNCOMMITTED) ON P6.[Code]                = RA.[Input Parameter 6 Code]
--    JOIN [HRS$Posted Rebate Line]      L6 WITH (READUNCOMMITTED) ON L6.[Document No_]        = RH.[No_]                    
--                                                                AND L6.[No_]                 = RA.[Input Parameter 6 Code] 
--                                                                AND L6.[Type]                IN (1,2)
--    JOIN [HRS$Parameter]               P7 WITH (READUNCOMMITTED) ON P7.[Code]                = RA.[Input Parameter 7 Code]
--    JOIN [HRS$Posted Rebate Line]      L7 WITH (READUNCOMMITTED) ON L7.[Document No_]        = RH.[No_]                    
--                                                                AND L7.[No_]                 = RA.[Input Parameter 7 Code] 
--                                                                AND L7.[Type]                IN (1,2)
--    JOIN [HRS$Parameter]               P9 WITH (READUNCOMMITTED) ON P9.[Code]                = RA.[Input Parameter 9 Code]
--    JOIN [HRS$Posted Rebate Line]      L9 WITH (READUNCOMMITTED) ON L9.[Document No_]        = RH.[No_]                    
--                                                                AND L9.[No_]                 = RA.[Input Parameter 9 Code] 
--                                                                AND L9.[Type]                IN (1,2)
--   WHERE RA.[Template Type] = 9
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--     AND RH.[Cancels] = 0
--GROUP BY RH.[Rebate Agreement No_]
--), _RS AS
--(
--  SELECT RL.[Rebate Agreement No_]
--       , SUM(RL.[Value Decimal]) [Revenue Share]
--    FROM [HRS$Rebate Line] RL WITH (NOLOCK)
--    JOIN [HRS$Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[Rebate Amount Line] = 1
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--	 AND RH.[Statement Posting Type]<>1
--GROUP BY RL.[Rebate Agreement No_]
--UNION 
--  SELECT RL.[Rebate Agreement No_]
--       , SUM(RL.[Value Decimal]) [Revenue Share]
--    FROM [HRS$Posted Rebate Line] RL WITH (NOLOCK)
--    JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[Rebate Amount Line] = 1
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--     AND RH.[Cancels] = 0
--	 AND RH.[Statement Posting Type]<>1
--GROUP BY RL.[Rebate Agreement No_]
--), RS AS
--(
--  SELECT RS.[Rebate Agreement No_]
--       , SUM(RS.[Revenue Share]) [Revenue Share]
--    FROM _RS RS
--GROUP BY RS.[Rebate Agreement No_]
--), _RL AS
--(
--  SELECT RL.[Rebate Agreement No_]
--       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
--       , SUM(CASE WHEN RL.[Commission Type] = 13 
--                  THEN RL.[Turnover (LCY) (corr_)] 
--                  ELSE 0 
--             END)                                       [Turnover (LCY) (corr_) CR]
--       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
--       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 
--                  THEN RL.[Turnover (LCY) (corr_)] 
--                  ELSE 0 
--             END)                                       [Turnover (LCY) (corr_) NC]
--    FROM [HRS$Posted Rebate Line] RL WITH (NOLOCK)
--    JOIN [HRS$Posted Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[Type] = 5
--   	 AND RL.[Reservation Source] != 0 
--   	 AND RL.[Reservation Source] != 2 
--   	 AND RL.[Reservation Source] != 3 
--   	 AND RL.[Reservation Source] != 8 
--   	 AND RL.[Reservation Source] != 16
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--     AND RH.[Cancels] = 0
--	 AND RH.[Statement Posting Type]<>1
--GROUP BY RL.[Rebate Agreement No_] 
--UNION
--  SELECT RL.[Rebate Agreement No_]
--       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
--       , SUM(CASE WHEN RL.[Commission Type] = 13 
--                  THEN RL.[Turnover (LCY) (corr_)] 
--                  ELSE 0 
--             END)                                       [Turnover (LCY) (corr_) CR]
--       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
--       , SUM(CASE WHEN RL.[Amount (LCY) (corr_)] = 0 
--                  THEN RL.[Turnover (LCY) (corr_)] 
--                  ELSE 0 
--             END)                                       [Turnover (LCY) (corr_) NC]
--    FROM [HRS$Rebate Line] RL WITH (NOLOCK)
--    JOIN [HRS$Rebate Header] RH WITH (NOLOCK)
--      ON RH.[No_] = RL.[Document No_]
--   WHERE RL.[Type] = 5
--   	 AND RL.[Reservation Source] != 0 
--   	 AND RL.[Reservation Source] != 2 
--   	 AND RL.[Reservation Source] != 3 
--   	 AND RL.[Reservation Source] != 8 
--   	 AND RL.[Reservation Source] != 16
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--	 AND RH.[Statement Posting Type]<>1
--GROUP BY RL.[Rebate Agreement No_] 
--), RL AS
--(
--  SELECT RL.[Rebate Agreement No_]
--       , SUM(RL.[Turnover (LCY) (corr_)])           [Turnover (LCY) (corr_)]
--       , SUM(RL.[Turnover (LCY) (corr_) CR])        [Turnover (LCY) (corr_) CR]
--       , SUM(RL.[Amount (LCY) (corr_)])             [Amount (LCY) (corr_)]
--       , SUM(RL.[Turnover (LCY) (corr_) NC])        [Turnover (LCY) (corr_) NC]
--       , CASE WHEN SUM(RL.[Turnover (LCY) (corr_)])=0 THEN 0 ELSE SUM([Turnover (LCY) (corr_) NC])
--       / SUM(RL.[Turnover (LCY) (corr_)]) END           [Company Rates Ratio]
--    FROM _RL RL
--GROUP BY RL.[Rebate Agreement No_] 
--), _RH AS
--(
--  SELECT DISTINCT RH.[Rebate Agreement No_]
--       , [dbo].[GetAffiliatePartnerFilter](RH.[Rebate-to Vendor No_]) [Affiliate Partner Filter]
--    FROM [HRS$Posted Rebate Header] RH WITH (NOLOCK)
--   WHERE RH.[Cancels] = 0
--     AND RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--	 AND RH.[Statement Posting Type]<>1
--UNION
--  SELECT DISTINCT RH.[Rebate Agreement No_]
--       , [dbo].[GetAffiliatePartnerFilter](RH.[Rebate-to Vendor No_]) [Affiliate Partner Filter]
--    FROM [HRS$Rebate Header] RH WITH (NOLOCK)
--   WHERE RH.[Posting Date] BETWEEN @DateStart AND @DateEnd
--	 AND RH.[Statement Posting Type]<>1
--), RH AS
--(
--  SELECT [Rebate Agreement No_], MAX([Affiliate Partner Filter]) [Affiliate Partner Filter] FROM _RH GROUP BY [Rebate Agreement No_]
--), REV_SUM AS
--(
--   SELECT AH.[Rebate-to Vendor No_]
--        , AH.[Rebate-to Name]
--		, NULLIF(AH.[Valid from],'1753-01-01') [Valid from]
--		, NULLIF(AH.[Valid to],'1753-01-01') [Valid to]
--        , RH.[Affiliate Partner Filter]
--        , RL.[Turnover (LCY) (corr_) CR]
--        , RL.[Amount (LCY) (corr_)]
--        , AH.[Estimated Commission]                          [10% Commission applied]
--        , RS.[Revenue Share]                                 [Revenue Share]
--        , RL.[Company Rates Ratio]                           [Company Rates Ratio]
--        , RV.[Configurated Revenue Share Rate]               [Configurated Revenue Share Rate]
--        , COALESCE(
--            VT9.[Commissionable Turnover]
--          , RL.[Turnover (LCY) (corr_)] 
--          - RL.[Turnover (LCY) (corr_) NC]
--          )                                                  [Commissionable Turnover]
--        , COALESCE(
--            VT9.[Non-Commissionable Turnover]
--          , RL.[Turnover (LCY) (corr_) NC]
--          )                                                  [Turnover (LCY) (corr_) NC]          
--        , COALESCE(
--            VT9.[Turnover (LCY) (corr_)]
--          , RL.[Turnover (LCY) (corr_)]
--          )                                                  [Turnover (LCY) (corr_)]          
--     FROM [HRS$Rebate Agreement Header] AH
--     JOIN RH ON RH.[Rebate Agreement No_] = AH.[No_]
--LEFT JOIN RL ON RL.[Rebate Agreement No_] = AH.[No_]
--LEFT JOIN RS ON RS.[Rebate Agreement No_] = AH.[No_]
--LEFT JOIN RV ON RV.[Rebate Agreement No_] = AH.[No_]
--LEFT JOIN VALUE_TYPE9 VT9 ON VT9.[Rebate Agreement No_] = AH.[No_]
--    WHERE AH.[Partner Type] = @PartnerType OR @PartnerType=0
--)
----SELECT * FROM RV ORDER BY 1
--SELECT *
--     , CASE WHEN [Amount (LCY) (corr_)]=0 THEN 0 ELSE [Revenue Share] / [Amount (LCY) (corr_)] END [Revenue Share Ratio]
--     , CASE WHEN [Turnover (LCY) (corr_)] - [Turnover (LCY) (corr_) NC] = 0 THEN 0 ELSE [Amount (LCY) (corr_)] 
--     / ([Turnover (LCY) (corr_)] - [Turnover (LCY) (corr_) NC]) END [Average Commission Rate]
--     , @DateStart [DateStart]
--     , @DateEnd [DateEnd]
--     , @PartnerType [PartnerType]
--  FROM REV_SUM 
--ORDER BY 1  
END
GO
