USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_BreakfastCommission]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Author:		DJU
-- Create date: 13.06.2019
-- Description:	Nav Report 50120
-- 
/*
EXEC [RS].[PROC_BreakfastCommission] 'EXTDJU02','HRS',50120
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_BreakfastCommission] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @DocumentDate				VARCHAR(10)		
		, @TableIDs					[RS].[TableIDs]

--BEGIN Parameter aus RS-Execution		
SET @DocumentDate = CONVERT(VARCHAR(10), COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 1), GETDATE()), 104);	    
--END Parameter aus RS-Execution	

--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'')
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
--ENDE Mandantenauswahl

--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
(
	  [Company]								VARCHAR(100)
	, [Hotel]								INT
	, [Hotel Name]							VARCHAR(130)
	, [Chain]								VARCHAR(10)		  
	, [Brand]								VARCHAR(10)
	, [Contract Status]						VARCHAR(10)
	, [Land]								VARCHAR(10)
	, [Verkäufer]							VARCHAR(10)
	, [E-Mail]								VARCHAR(80)
	, [Umsatz Frühstück EUR]				DECIMAL(38, 6)
	, [Umsatz Frühstück nach Korr. EUR]		DECIMAL(38, 6)
	, [Kommission Frühstück EUR]			DECIMAL(38, 6)
	, [Kommission Frühstück nach Korr. EUR]	DECIMAL(38, 6)
)

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES(   18, 'Customer')

--BEGIN WITH (Mandantenabhängig)
SET @Stmt = ''
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' WITH 'ELSE ' , ' END)
+'
_ORG_'+REPLACE([CompanyName],'-','_')+' AS (
SELECT ADH.[Bill-to Customer No_]
     , ADL.[Reservation No_]
	 , ADL.[Position No_]
	 , ADL.[Departure Date]
	 , ADL.[Calculated with Function ID]
	 , CASE WHEN ADL.[Breakfast Type] = 1 THEN ADL.[Number of Rooms]  * ADL.[Number of Nights] * ADL.[Number of Person] * ADL.[Breakfast Price] / CASE WHEN ADL.[Currency Faktor]=0 THEN 1 ELSE ADL.[Currency Faktor] END ELSE 0 END [Turnover_Breakfast_LCY]
	 , ADL.[Commission Base Amount (LCY)] * ADL.[Number of Nights] [Turnover_LCY]
	 , ADL.[Line Amount] / CASE WHEN ADL.[Currency Faktor]=0 THEN 1 ELSE ADL.[Currency Faktor] END [Amount_LCY]
FROM [' + [CompanyName] + '$Agency Display Header] ADH WITH (NOLOCK)
JOIN [' + [CompanyName] + '$Agency Display Line] ADL WITH (NOLOCK) ON ADL.[Display Case No_] = ADH.[Case No_]
WHERE ADH.[Correction from] = ''''
AND ADH.[Posted Invoice No_] <> ''''
AND ADH.[Creation Date] = '''+@DocumentDate+'''
AND ADL.[Action] <> 3
)

, ORG_'+REPLACE([CompanyName],'-','_')+' AS (
SELECT [Bill-to Customer No_]
	 , SUM(
		[Turnover_Breakfast_LCY]
		* CASE COALESCE(BT.BT_FRSTCK,0) WHEN 0 THEN 0 ELSE 1 END 
		* CASE WHEN [Calculated with Function ID] IN (8,4) THEN 0 ELSE 1 END
	   ) [Turnover_Breakfast_LCY]

	 , SUM(
		CASE COALESCE(BT.BT_FRSTCK,0) WHEN 0 THEN 0 ELSE 1 END 
		* CASE WHEN [Calculated with Function ID] IN (8,4) THEN 0 ELSE 1 END
		* Turnover_Breakfast_LCY
	   ) 
	   * CASE WHEN SUM(Turnover_LCY) = 0 THEN 1 ELSE SUM(Amount_LCY) 
	   / SUM(Turnover_LCY) END [Amount_Breakfast_LCY]
FROM _ORG_'+REPLACE([CompanyName],'-','_')+'
LEFT JOIN HRSDB.BUCHTEIL BT WITH (NOLOCK) ON BT.B_KEY = [Reservation No_] AND BT.BT_POS = [Position No_]
GROUP BY [Bill-to Customer No_]
)

, _CORR_'+REPLACE([CompanyName],'-','_')+' AS (
SELECT ADH.[Bill-to Customer No_]
     , ADL.[Reservation No_]
	 , ADL.[Position No_]
	 , ADL.[Departure Date]
	 , ADL.[Calculated with Function ID]
	 , CASE WHEN ADL.[Breakfast Type] = 1 THEN ADL.[Number of Rooms]  * ADL.[Number of Nights] * ADL.[Number of Person] * ADL.[Breakfast Price] / CASE WHEN ADL.[Currency Faktor]=0 THEN 1 ELSE ADL.[Currency Faktor] END ELSE 0 END [Turnover_Breakfast_LCY]
	 , ADL.[Commission Base Amount (LCY)] * ADL.[Number of Nights] [Turnover_LCY]
	 , ADL.[Line Amount] / CASE WHEN ADL.[Currency Faktor]=0 THEN 1 ELSE ADL.[Currency Faktor] END [Amount_LCY]
FROM [' + [CompanyName] + '$Agency Display Header] ADH WITH (NOLOCK)
JOIN [' + [CompanyName] + '$Agency Display Line] ADL WITH (NOLOCK) ON ADL.[Display Case No_] = ADH.[Case No_]
WHERE ADH.[Posted Invoice No_] NOT IN (SELECT [Correction from] FROM [' + [CompanyName] + '$Agency Display Header] WITH (NOLOCK) WHERE [Posted Invoice No_] <> '''')
AND ADH.[Posted Invoice No_] <> ''''
AND ADH.[Creation Date] = '''+@DocumentDate+'''
AND ADL.[Action] <> 3
)

, CORR_'+REPLACE([CompanyName],'-','_')+' AS (
SELECT [Bill-to Customer No_]
	 , SUM(
		CASE WHEN [Turnover_Breakfast_LCY]=[Turnover_LCY] THEN 
			[Turnover_Breakfast_LCY]
		ELSE
			[Turnover_Breakfast_LCY]
			* CASE COALESCE(BT.BT_FRSTCK,0) WHEN 0 THEN 0 ELSE 1 END 
			* CASE WHEN [Calculated with Function ID] IN (8,4) THEN 0 ELSE 1 END
		END
	   ) [Turnover_Breakfast_LCY_corr]

	   , SUM(
		CASE WHEN [Turnover_Breakfast_LCY]=[Turnover_LCY] THEN 
			[Amount_LCY] 
		ELSE	     
			CASE COALESCE(BT.BT_FRSTCK,0) WHEN 0 THEN 0 ELSE 1 END 
			* CASE WHEN [Calculated with Function ID] IN (8,4) THEN 0 ELSE 1 END
			* [Turnover_Breakfast_LCY]
			* CASE WHEN [Amount_LCY] = 0 AND [Turnover_LCY] = 0 THEN 1 ELSE [Amount_LCY] / [Turnover_LCY] END
		END
	   ) [Amount_Breakfast_LCY_corr]
FROM _CORR_'+REPLACE([CompanyName],'-','_')+'
LEFT JOIN HRSDB.BUCHTEIL BT WITH (NOLOCK) ON BT.B_KEY = [Reservation No_] AND BT.BT_POS = [Position No_]
GROUP BY [Bill-to Customer No_]
)'
FROM #RESULTS_CompanyName
ORDER BY RowNumber

--2ter Teil					   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' UNION ALL ' END)	
+'
SELECT '''+[CompanyName]+''' [Company]
     , ['+[CompanyName]+'$Customer].No_ [Hotel]
	 , ['+[CompanyName]+'$Customer].[Name] [Hotel Name]
     , ['+[CompanyName]+'$Customer].Chain
	 , ['+[CompanyName]+'$Customer].Brand
	 , ['+[CompanyName]+'$Customer].[Contract Status]
	 , ['+[CompanyName]+'$Customer].[Country_Region Code] [Land]
	 , ['+[CompanyName]+'$Customer].[Salesperson Code] [Verkäufer]
	 , ['+[CompanyName]+'$Customer].[E-Mail] 
	 , ORG.Turnover_Breakfast_LCY [Umsatz Frühstück EUR]
	 , CORR.Turnover_Breakfast_LCY_corr [Umsatz Frühstück nach Korr. EUR]
	 , ORG.Amount_Breakfast_LCY [Kommission Frühstück EUR]
	 , CORR.Amount_Breakfast_LCY_corr [Kommission Frühstück nach Korr. EUR]
FROM ['+[CompanyName]+'$Customer] WITH (NOLOCK)
JOIN ORG_'+REPLACE([CompanyName],'-','_')+' ORG ON ORG.[Bill-to Customer No_] = ['+[CompanyName]+'$Customer].No_
JOIN CORR_'+REPLACE([CompanyName],'-','_')+' CORR ON CORR.[Bill-to Customer No_] = ['+[CompanyName]+'$Customer].No_
WHERE 1=1
'+ [RS].[Nav2SqlString](@UserId, [CompanyName], @ReportId, @TableIDs, 3)
FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,8000)
PRINT	SUBSTRING(@Stmt,16001,8000)
PRINT	SUBSTRING(@Stmt,24001,8000)
EXEC   (@Stmt)

SELECT *
FROM #RESULTS
ORDER BY [Company], [Hotel]

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
END

GO
