USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustSummaryAging_02]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 06.06.2011
-- Description:	Nav Report 50135
--				Debitor - Saldo nach Periode
-- 22.03.19		HRS001		SAL		Get Salesperson Code from Customer Table instead of Contact

-- 
/*
DECLARE   @UserId					VARCHAR(20)		= 'SDA03'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50135
		, @PeriodStartDate			DATETIME		= '01.02.2015'
		, @PeriodLength				VARCHAR(250)	= '1Q'
		, @PrintAmountsInLCY		INT				= 1	
EXEC [RS].[PROC_CustSummaryAging_02] @UserId, @CompanyName, @ReportId, @PeriodStartDate, @PeriodLength, @PrintAmountsInLCY
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustSummaryAging_02] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
	, @PeriodStartDate				DATETIME
	, @PeriodLength					VARCHAR(250)
	, @PrintAmountsInLCY			INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)		
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @MinimumFilter			DECIMAL(37,20)
		, @MaximumFilter			DECIMAL(37,20)

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
		AND [Field ID]  = 55), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 55), '31.12.2999'), 104);	    

SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
	    
DECLARE	  @OnlyCustomerWithDebit	INT
		, @OnlyCustomerWithCredit	INT
		
SET @OnlyCustomerWithDebit = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 10000); 
SET @OnlyCustomerWithCredit = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 10001); 
SET @MinimumFilter = COALESCE(
    (SELECT CAST(REPLACE([Filter Value],',','.') AS DECIMAL(37,20))
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 10002),0.0); 
SET @MaximumFilter = COALESCE(
    (SELECT CAST(REPLACE([Filter Value],',','.') AS DECIMAL(37,20))
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 10003),0.0); 
--ENDE Filter aus FlowFilter

--BEGIN Perioden in Variablen eintragen
DECLARE
	@Date1End		DATETIME
  , @Date2Start		DATETIME
  , @Date2End		DATETIME
  , @Date3Start		DATETIME
  , @Date3End		DATETIME
  , @Date4Start		DATETIME
  , @Date4End		DATETIME
  , @Date5Start		DATETIME
  ,	@Date1EndVAR		VARCHAR(10)
  , @Date2StartVAR	VARCHAR(10)
  , @Date2EndVAR		VARCHAR(10)
  , @Date3StartVAR	VARCHAR(10)
  , @Date3EndVAR		VARCHAR(10)
  , @Date4StartVAR	VARCHAR(10)
  , @Date4EndVAR		VARCHAR(10)
  , @Date5StartVAR	VARCHAR(10)
SET @Date1End   = DATEADD(dd, -1, @PeriodStartDate) 
SET @Date2Start = @PeriodStartDate
SET @Date3Start = [RS].[fnc_DateFromDateFormula] (@Date2Start, @PeriodLength)
SET @Date2End   = DATEADD(dd, -1, @Date3Start) 
SET @Date4Start = [RS].[fnc_DateFromDateFormula] (@Date3Start, @PeriodLength)
SET @Date3End   = DATEADD(dd, -1, @Date4Start) 
SET @Date5Start = [RS].[fnc_DateFromDateFormula] (@Date4Start, @PeriodLength)
SET @Date4End   = DATEADD(dd, -1, @Date5Start) 
SET @Date1EndVAR = CONVERT(VARCHAR(10), @Date1End, 104)
SET @Date2EndVAR = CONVERT(VARCHAR(10), @Date2End, 104)
SET @Date3EndVAR = CONVERT(VARCHAR(10), @Date3End, 104)
SET @Date4EndVAR = CONVERT(VARCHAR(10), @Date4End, 104)
SET @Date2StartVAR = CONVERT(VARCHAR(10), @Date2Start, 104)
SET @Date3StartVAR = CONVERT(VARCHAR(10), @Date3Start, 104)
SET @Date4StartVAR = CONVERT(VARCHAR(10), @Date4Start, 104)
SET @Date5StartVAR = CONVERT(VARCHAR(10), @Date5Start, 104)
--ENDE Perioden in Variablen eintragen 

--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'') 
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl


--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
(	  [Company Name]						VARCHAR(30)
	, [Customer No]							VARCHAR(20)
	, [Customer Name]						VARCHAR(201)
	, [Contact Name]						VARCHAR(201)
	, [Information]							VARCHAR(250)
	, [Country]								VARCHAR(10)
	, [Country Name]                        VARCHAR(50)
	, [City]								VARCHAR(70)
	, [Brand]								VARCHAR(10)	
	, [Brand Name]                          VARCHAR(80)
	, [Chain]								VARCHAR(10)		
	, [Chain Name]                          VARCHAR(80)
	, [Contract Status]						VARCHAR(50)
	, [Currency Code]						VARCHAR(20)	
	, [Sort_Customer_No]					VARCHAR(20)
	, [Salesperson Code]					VARCHAR(10)
	, Date1End								VARCHAR(10)
	, Date2Start							VARCHAR(10)
	, Date2End								VARCHAR(10)
	, Date3Start							VARCHAR(10)
	, Date3End								VARCHAR(10)
	, Date4Start							VARCHAR(10)
	, Date4End								VARCHAR(10)
	, Date5Start							VARCHAR(10)
	, [Company Name 1]						VARCHAR(30)
	, [Company Name 2]						VARCHAR(30)
	, [Company Name 3]						VARCHAR(30)
	, [Company Name 4]						VARCHAR(30)
	, [CustBalanceDue1]						DEC(38,20)
	, [CustBalanceDue2]						DEC(38,20)
	, [CustBalanceDue3]						DEC(38,20)
	, [CustBalanceDue4]						DEC(38,20)
	, [CustBalanceDue5]						DEC(38,20)	
	, [CustBalanceDueLCY1]					DEC(38,20)
	, [CustBalanceDueLCY2]					DEC(38,20)
	, [CustBalanceDueLCY3]					DEC(38,20)
	, [CustBalanceDueLCY4]					DEC(38,20)
	, [CustBalanceDueLCY5]					DEC(38,20)
)
				   
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(18, 'Customer')
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' 
UNION ALL ' END)	
+'	 
	SELECT '''+[CompanyName]+'''
		 , ['+[CompanyName]+'$Customer].[No_]
		 , ['+[CompanyName]+'$Customer].[Name]+'' ''+['+[CompanyName]+'$Customer].[Name 2]
		 , ['+[CompanyName]+'$Contact].[Name]+'' ''+['+[CompanyName]+'$Contact].[Name 2]
		 , ['+[CompanyName]+'$Customer].[Information]
		 , ['+[CompanyName]+'$Contact].[Country_Region Code] 
		 , ['+[CompanyName]+'$Country_Region].[Name] [Country_Region_Name]
		 , ['+[CompanyName]+'$Contact].[City]
		 , ['+[CompanyName]+'$Customer].[Brand]
		 , [Brand].[Description]
		 , ['+[CompanyName]+'$Customer].[Chain]
		 , [Chain].[Description]
		 , ['+[CompanyName]+'$Dimension Value].[Name] [Contract_Status]
		, '+(CASE WHEN @PrintAmountsInLCY = 0 
			   THEN '['+[CompanyName]+'$Currency].[Code]'
			   ELSE ''''''
			END)+'
		, REPLACE(SPACE(20-LEN(['+[CompanyName]+'$Customer].[No_])), '''+' '+''' , '''+'0'+''') + LTRIM(['+[CompanyName]+'$Customer].[No_])			   
		, ['+[CompanyName]+'$Customer].[Salesperson Code] 
		 , ''' + CONVERT(varchar(10),@Date1End,4) + '''
		 , ''' + CONVERT(varchar(10),@Date2Start,4) + '''
		 , ''' + CONVERT(varchar(10),@Date2End,4) + '''
		 , ''' + CONVERT(varchar(10),@Date3Start,4) + '''
		 , ''' + CONVERT(varchar(10),@Date3End,4) + '''
		 , ''' + CONVERT(varchar(10),@Date4Start,4) + '''
		 , ''' + CONVERT(varchar(10),@Date4End,4) + '''
		 , ''' + CONVERT(varchar(10),@Date5Start,4) + '''
		 , '''+CASE WHEN RowNumber = 1 THEN [CompanyName] ELSE '' END +'''
		 , '''+CASE WHEN RowNumber = 2 THEN [CompanyName] ELSE '' END +'''
		 , '''+CASE WHEN RowNumber = 3 THEN [CompanyName] ELSE '' END +'''
		 , '''+CASE WHEN RowNumber = 4 THEN [CompanyName] ELSE '' END +'''
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] <= '''+@Date1EndVAR+'''
					 THEN '+(CASE WHEN @PrintAmountsInLCY = 0 
								THEN '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount]'
								ELSE '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]'
						   END)+'		
					 ELSE 0
				END)	[CustBalanceDue1]	  		 
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date2StartVAR+''' AND '''+@Date2EndVAR+''' 
					 THEN '+(CASE WHEN @PrintAmountsInLCY = 0 
								THEN '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount]'
								ELSE '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]'
						   END)+'	
					 ELSE 0
				END)	[CustBalanceDue2]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date3StartVAR+''' AND '''+@Date3EndVAR+''' 
					 THEN '+(CASE WHEN @PrintAmountsInLCY = 0 
								THEN '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount]'
								ELSE '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]'
						   END)+'
					 ELSE 0
				END)	[CustBalanceDue3]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date4StartVAR+''' AND '''+@Date4EndVAR+''' 
					 THEN '+(CASE WHEN @PrintAmountsInLCY = 0 
								THEN '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount]'
								ELSE '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]'
						   END)+'
					 ELSE 0
				END)	[CustBalanceDue4]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] >= '''+@Date5StartVAR+''' 
					 THEN '+(CASE WHEN @PrintAmountsInLCY = 0 
								THEN '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount]'
								ELSE '['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]'
						   END)+'
					 ELSE 0
				END)	[CustBalanceDue5]	
--Summen werden immer in LCY dargestellt
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] <= '''+@Date1EndVAR+'''
					 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]
					 ELSE 0
				END)	[CustBalanceDueLCY1]	  		 
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date2StartVAR+''' AND '''+@Date2EndVAR+''' 
					 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]
					 ELSE 0
				END)	[CustBalanceDueLCY2]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date3StartVAR+''' AND '''+@Date3EndVAR+''' 
					 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]
					 ELSE 0
				END)	[CustBalanceDueLCY3]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] BETWEEN '''+@Date4StartVAR+''' AND '''+@Date4EndVAR+''' 
					 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]
					 ELSE 0
				END)	[CustBalanceDueLCY4]
		 , SUM (CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Initial Entry Due Date] >= '''+@Date5StartVAR+''' 
					 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]
					 ELSE 0
				END)	[CustBalanceDueLCY5]
	  FROM ['+[CompanyName]+'$Customer]
	  JOIN [Brand]
		ON [Brand].[Code] = ['+[CompanyName]+'$Customer].[Brand] 	
	  JOIN [Chain]
		ON [Chain].[Code] = ['+[CompanyName]+'$Customer].[Chain] 	
	  JOIN ['+[CompanyName]+'$Contact]
		ON ['+[CompanyName]+'$Contact].[No_] = ['+[CompanyName]+'$Customer].[No_] 	
	  JOIN ['+[CompanyName]+'$Country_Region]
		ON ['+[CompanyName]+'$Country_Region].[Code] = ['+[CompanyName]+'$Contact].[Country_Region Code] 	
      JOIN ['+[CompanyName]+'$Dimension Value]
        ON ['+[CompanyName]+'$Dimension Value].[Dimension Code] = ''CONTRACT STATUS''
       AND ['+[CompanyName]+'$Dimension Value].[Code] = ['+[CompanyName]+'$Customer].[Contract Status] 										 
	  JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry]
	    ON ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Customer No_] =  ['+[CompanyName]+'$Customer].[No_]		    
 LEFT JOIN ['+[CompanyName]+'$Currency]
		ON ['+[CompanyName]+'$Currency].[Code] = ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Currency Code]	    	
 	 WHERE (1=1)
 	 '+ [RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)	 		 	 
+'
  GROUP BY ['+[CompanyName]+'$Customer].[No_]
		 , ['+[CompanyName]+'$Customer].[Name]+'' ''+['+[CompanyName]+'$Customer].[Name 2]
		 , ['+[CompanyName]+'$Contact].[Name]+'' ''+['+[CompanyName]+'$Contact].[Name 2]
		 , ['+[CompanyName]+'$Customer].[Information]
		 , ['+[CompanyName]+'$Contact].[Country_Region Code] 
		 , ['+[CompanyName]+'$Country_Region].[Name]
		 , ['+[CompanyName]+'$Contact].[City]
		 , ['+[CompanyName]+'$Customer].[Brand]
		 , [Brand].[Description]
		 , ['+[CompanyName]+'$Customer].[Chain]
		 , [Chain].[Description]
		 , ['+[CompanyName]+'$Dimension Value].[Name]'+(CASE WHEN @PrintAmountsInLCY = 0 THEN '
		 , ['+[CompanyName]+'$Currency].[Code]'
			   ELSE ''
			END)+'
		, REPLACE(SPACE(20-LEN(['+[CompanyName]+'$Customer].[No_])), '''+' '+''' , '''+'0'+''') + LTRIM(['+[CompanyName]+'$Customer].[No_])			   
		, ['+[CompanyName]+'$Customer].[Salesperson Code]'
FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,16000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle	

-->>RP1
-->>[Excelbuffer 4S SRS] füllen 
DECLARE	  @ExcelExportOption	INT
		, @ConnectionID			INT
		, @CountCompany			INT
		
SET @ExcelExportOption = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 1); 
	    
SET @ConnectionID = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2); 
	    	    
SET @CountCompany = (SELECT COUNT(1) FROM #RESULTS_CompanyName)	    

CREATE TABLE #RESULTS_EXCEL
(	  [_ROW_NUMBER]							INT 
	, [Customer No]							VARCHAR(20)
	, [Customer Name]						VARCHAR(201)
	, [Contact Name]						VARCHAR(201)
	, [Information]							VARCHAR(250)
	, [Country]								VARCHAR(10)
	, [Country Name]                        VARCHAR(50)
	, [City]								VARCHAR(70)
	, [Brand]								VARCHAR(10)	
	, [Brand Name]                          VARCHAR(80)
	, [Chain]								VARCHAR(10)		
	, [Chain Name]                          VARCHAR(80)
	, [Contract Status]						VARCHAR(50)
	, [Currency Code]						VARCHAR(20)	
	, [Sort_Customer_No]					VARCHAR(20)
	, [Salesperson Code]					VARCHAR(10)
	, Date1End								VARCHAR(10)
	, Date2Start							VARCHAR(10)
	, Date2End								VARCHAR(10)
	, Date3Start							VARCHAR(10)
	, Date3End								VARCHAR(10)
	, Date4Start							VARCHAR(10)
	, Date4End								VARCHAR(10)
	, Date5Start							VARCHAR(10)
	, [Company Name 1]						VARCHAR(30)
	, [Company Name 2]						VARCHAR(30)
	, [Company Name 3]						VARCHAR(30)
	, [Company Name 4]						VARCHAR(30)
	, [SUMDue1]								DEC(38,20)
	, [SUMDue2]								DEC(38,20)
	, [SUMDue3]								DEC(38,20)
	, [SUMDue4]								DEC(38,20)
	, [SUMDue5]								DEC(38,20)
	--Mandant 1
	, [Company1Due1]						DEC(38,20)
	, [Company1Due2]						DEC(38,20)	
	, [Company1Due3]						DEC(38,20)
	, [Company1Due4]						DEC(38,20)
	, [Company1Due5]						DEC(38,20)
	--Mandant 2
	, [Company2Due1]						DEC(38,20)
	, [Company2Due2]						DEC(38,20)
	, [Company2Due3]						DEC(38,20)
	, [Company2Due4]						DEC(38,20)
	, [Company2Due5]						DEC(38,20)
	--Mandant 3
	, [Company3Due1]						DEC(38,20)
	, [Company3Due2]						DEC(38,20)
	, [Company3Due3]						DEC(38,20)
	, [Company3Due4]						DEC(38,20)
	, [Company3Due5]						DEC(38,20)
	--Mandant 4
	, [Company4Due1]						DEC(38,20)
	, [Company4Due2]						DEC(38,20)
	, [Company4Due3]						DEC(38,20)
	, [Company4Due4]						DEC(38,20)
	, [Company4Due5]						DEC(38,20)
)
--Grundstruktur mit Gesamtsummen	
INSERT INTO #RESULTS_EXCEL
SELECT  ROW_NUMBER() OVER (ORDER BY #RESULTS.[Customer No])
	  , [Customer No]
	  , [Customer Name]
	  , [Contact Name]
	  , [Information]
	  , [Country]
	  , [Country Name]
	  , [City]
	  , [Brand]
	  , [Brand Name]
	  , [Chain]
	  , [Chain Name]
	  , [Contract Status]
	  , [Currency Code]
	  , [Sort_Customer_No]
	  , [Salesperson Code]
	  , Date1End
	  , Date2Start
	  , Date2End
	  , Date3Start
	  , Date3End
	  , Date4Start
	  , Date4End
	  , Date5Start
	  , MAX([Company Name 1])
	  , MAX([Company Name 2])
	  , MAX([Company Name 3])
	  , MAX([Company Name 4])
	  , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue1] ELSE [CustBalanceDueLCY1] END)	
	  , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue2] ELSE [CustBalanceDueLCY2] END)	
	  , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue3] ELSE [CustBalanceDueLCY3] END)	
	  , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue4] ELSE [CustBalanceDueLCY4] END)	
	  , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue5] ELSE [CustBalanceDueLCY5] END)
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL
	  , NULL	  	  	  
  FROM #RESULTS 
 WHERE  CustBalanceDue1 <> 0
	OR CustBalanceDue2 <> 0
	OR CustBalanceDue3 <> 0
	OR CustBalanceDue4 <> 0
	OR CustBalanceDue5 <> 0
GROUP BY [Customer No], [Customer Name], [Contact Name], [Information], [Country], [Country Name], [City], [Brand], [Brand Name], [Chain], [Chain Name], [Contract Status], [Currency Code], [Sort_Customer_No], [Salesperson Code], Date1End, Date2Start, Date2End, Date3Start, Date3End, Date4Start, Date4End, Date5Start

--Update Mandant 1	
    UPDATE #RESULTS_EXCEL SET #RESULTS_EXCEL.[Company Name 1] = #RESULTS_CompanyName.[CompanyName]
      FROM #RESULTS_EXCEL, #RESULTS_CompanyName
     WHERE #RESULTS_CompanyName.[RowNumber] = 1

UPDATE UPDATE_RESULTS_EXCEL1
   SET [Company1Due1] = _C1D1
	 , [Company1Due2] = _C1D2
	 , [Company1Due3] = _C1D3
	 , [Company1Due4] = _C1D4
	 , [Company1Due5] = _C1D5	 
  FROM #RESULTS_EXCEL UPDATE_RESULTS_EXCEL1
  JOIN (SELECT [Customer No]																				AS _Customer_No
			 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue1] ELSE [CustBalanceDueLCY1] END)	AS _C1D1
			 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue2] ELSE [CustBalanceDueLCY2] END)	AS _C1D2
			 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue3] ELSE [CustBalanceDueLCY3] END)	AS _C1D3
			 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue4] ELSE [CustBalanceDueLCY4] END)	AS _C1D4
			 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue5] ELSE [CustBalanceDueLCY5] END)	AS _C1D5
		  FROM #RESULTS
		  JOIN #RESULTS_CompanyName
			ON #RESULTS.[Company Name] = #RESULTS_CompanyName.[CompanyName]
		 WHERE #RESULTS_CompanyName.[RowNumber] = 1
	  GROUP BY [Customer No]) RESULT_SUM
	ON RESULT_SUM._Customer_No = UPDATE_RESULTS_EXCEL1.[Customer No]

--Update Mandant 2
IF @CountCompany >= 2  
BEGIN	
    UPDATE #RESULTS_EXCEL SET #RESULTS_EXCEL.[Company Name 2] = #RESULTS_CompanyName.[CompanyName]
      FROM #RESULTS_EXCEL, #RESULTS_CompanyName
     WHERE #RESULTS_CompanyName.[RowNumber] = 2
     
UPDATE UPDATE_RESULTS_EXCEL2
	   SET [Company2Due1] = _C2D1
		 , [Company2Due2] = _C2D2
		 , [Company2Due3] = _C2D3
		 , [Company2Due4] = _C2D4
		 , [Company2Due5] = _C2D5
	  FROM #RESULTS_EXCEL UPDATE_RESULTS_EXCEL2
	  JOIN (SELECT [Customer No]																				AS _Customer_No
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue1] ELSE [CustBalanceDueLCY1] END)	AS _C2D1
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue2] ELSE [CustBalanceDueLCY2] END)	AS _C2D2
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue3] ELSE [CustBalanceDueLCY3] END)	AS _C2D3
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue4] ELSE [CustBalanceDueLCY4] END)	AS _C2D4
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue5] ELSE [CustBalanceDueLCY5] END)	AS _C2D5
			  FROM #RESULTS
			  JOIN #RESULTS_CompanyName
				ON #RESULTS.[Company Name] = #RESULTS_CompanyName.[CompanyName]
			 WHERE #RESULTS_CompanyName.[RowNumber] = 2
		  GROUP BY [Customer No]) RESULT_SUM
		ON RESULT_SUM._Customer_No = UPDATE_RESULTS_EXCEL2.[Customer No]	
END

--Update Mandant 3
IF @CountCompany >= 3  
BEGIN	
    UPDATE #RESULTS_EXCEL SET #RESULTS_EXCEL.[Company Name 3] = #RESULTS_CompanyName.[CompanyName]
      FROM #RESULTS_EXCEL, #RESULTS_CompanyName
     WHERE #RESULTS_CompanyName.[RowNumber] = 3
     
	UPDATE UPDATE_RESULTS_EXCEL3
	   SET [Company3Due1] = _C3D1
		 , [Company3Due2] = _C3D2
		 , [Company3Due3] = _C3D3
		 , [Company3Due4] = _C3D4
		 , [Company3Due5] = _C3D5
	  FROM #RESULTS_EXCEL UPDATE_RESULTS_EXCEL3
	  JOIN (SELECT [Customer No]																				AS _Customer_No
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue1] ELSE [CustBalanceDueLCY1] END)	AS _C3D1
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue2] ELSE [CustBalanceDueLCY2] END)	AS _C3D2
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue3] ELSE [CustBalanceDueLCY3] END)	AS _C3D3
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue4] ELSE [CustBalanceDueLCY4] END)	AS _C3D4
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue5] ELSE [CustBalanceDueLCY5] END)	AS _C3D5
			  FROM #RESULTS
			  JOIN #RESULTS_CompanyName
				ON #RESULTS.[Company Name] = #RESULTS_CompanyName.[CompanyName]
			 WHERE #RESULTS_CompanyName.[RowNumber] = 3
		  GROUP BY [Customer No]) RESULT_SUM
		ON RESULT_SUM._Customer_No = UPDATE_RESULTS_EXCEL3.[Customer No]
END
--Update Mandant 4
IF @CountCompany >= 4  
BEGIN	
    UPDATE #RESULTS_EXCEL SET #RESULTS_EXCEL.[Company Name 4] = #RESULTS_CompanyName.[CompanyName]
      FROM #RESULTS_EXCEL, #RESULTS_CompanyName
     WHERE #RESULTS_CompanyName.[RowNumber] = 4
     
	UPDATE UPDATE_RESULTS_EXCEL4
	   SET [Company4Due1] = _C4D1
		 , [Company4Due2] = _C4D2
		 , [Company4Due3] = _C4D3
		 , [Company4Due4] = _C4D4
		 , [Company4Due5] = _C4D5
	  FROM #RESULTS_EXCEL UPDATE_RESULTS_EXCEL4
	  JOIN (SELECT [Customer No]																				AS _Customer_No
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue1] ELSE [CustBalanceDueLCY1] END)	AS _C4D1
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue2] ELSE [CustBalanceDueLCY2] END)	AS _C4D2
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue3] ELSE [CustBalanceDueLCY3] END)	AS _C4D3
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue4] ELSE [CustBalanceDueLCY4] END)	AS _C4D4
				 , SUM(CASE WHEN @PrintAmountsInLCY = 0 THEN [CustBalanceDue5] ELSE [CustBalanceDueLCY5] END)	AS _C4D5
			  FROM #RESULTS
			  JOIN #RESULTS_CompanyName
				ON #RESULTS.[Company Name] = #RESULTS_CompanyName.[CompanyName]
			 WHERE #RESULTS_CompanyName.[RowNumber] = 4
		  GROUP BY [Customer No]) RESULT_SUM
		ON RESULT_SUM._Customer_No = UPDATE_RESULTS_EXCEL4.[Customer No]			
END		   					    

PRINT @MaximumFilter
PRINT @MinimumFilter


SELECT * FROM #RESULTS_EXCEL 
 WHERE ([SUMDue1] <> 0 OR [SUMDue2] <> 0 OR [SUMDue3] <> 0 OR [SUMDue4] <> 0 OR [SUMDue5] <> 0)
   AND ((@OnlyCustomerWithCredit=1 AND [SUMDue1]+[SUMDue2]+[SUMDue3]+[SUMDue4]+[SUMDue5]<0) OR (@OnlyCustomerWithCredit=0))
   AND ((@OnlyCustomerWithDebit=1  AND [SUMDue1]+[SUMDue2]+[SUMDue3]+[SUMDue4]+[SUMDue5]>0) OR (@OnlyCustomerWithDebit=0))
   AND ((@MaximumFilter<>0.0 AND [SUMDue1]+[SUMDue2]+[SUMDue3]+[SUMDue4]+[SUMDue5]>@MaximumFilter) OR (@MaximumFilter=0.0))
   AND ((@MinimumFilter<>0.0 AND [SUMDue1]+[SUMDue2]+[SUMDue3]+[SUMDue4]+[SUMDue5]<@MinimumFilter) OR (@MinimumFilter=0.0))
ORDER BY [_ROW_NUMBER]

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
DROP TABLE #RESULTS_EXCEL
END

GO
