USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_EgyptAir]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 06.02.2013
-- Description:	Liefert die Basis der EgyptAir Bonuspunkte-Abrechnung
--
-- 07.04.15 HRS001 TMA04 Mail from David Briet : Replace AA.[Company-No_] with 'HRS'
/*
  EXECUTE [RS].[PROC_EgyptAir] '2013-01-01', '2013-12-31'
*/
-- =============================================
CREATE PROCEDURE [RS].[PROC_EgyptAir] 
    @DateBonusStart DATETIME = null
  , @DateBonusEnd DATETIME = null
AS 
BEGIN
  
  IF @DateBonusEnd IS null
     SELECT @DateBonusEnd = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME)
  IF @DateBonusStart IS null
    SELECT @DateBonusStart     = CAST(LEFT(CONVERT(VARCHAR,DATEADD(mm, -1, DATEADD(dd, 1,@DateBonusEnd)),120),10) AS DATETIME)

--PRINT @DateBonusEnd
--PRINT @DateBonusStart
--SET @DateBonusStart = '2015-11-01'  
--SET @DateBonusEnd   = '2016-06-30'
;WITH AP AS
(
SELECT DISTINCT 
       CAST('D' AS char(1))                                [Detail Identifier]
     , CAST([AffiliateReference1] AS CHAR(10))             [Member Number]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         SUBSTRING(
             AP.[Description]
           , 0
           , CHARINDEX(',',AP.[Description]) 
         )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Name]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         LTRIM(SUBSTRING(AP.[Description], CHARINDEX(',',AP.[Description])+1, LEN(AP.[Description])-CHARINDEX(',',AP.[Description])+1) )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Surname]
     , CONVERT(CHAR(8), AP.[DepartureDate], 112)           [Date]
     , CAST('HRS' AS CHAR(9))                   [Partner Id]
--     , CAST(AA.[Company-No_] AS CHAR(9))                   [Partner Id]
     , CAST('STAY' AS CHAR(10))                            [Activity Classification]
     , CAST(UPPER(CO.[City]) AS CHAR(10))                  [Location]
     , CAST(AP.[ReservationNo] AS CHAR(20))                [Unique Key for record]
     , '000000000'                                         [Tier Points]
     , RIGHT('000000000'
     + RTRIM(CAST(CASE DATEDIFF(dd,[ArivalDate],[DepartureDate]) WHEN 1 THEN 0 WHEN 2 THEN 250 
         ELSE 250 + 100 * (DATEDIFF(dd,[ArivalDate],[DepartureDate])-2) 
       END AS varchar(max))),9) [Bonus Points]
     , [ReservationNo]
     , [DepartureDate]
  FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS$Contact] CO WITH (NOLOCK)
    ON CO.[No_] = AP.[HotelNo]
  JOIN [Affiliate Partner] AA WITH (NOLOCK)
    ON AA.[No_]= [AffiliatePartnerNo]
 WHERE AA.[Company-No_] IN ('7395','15703')
-- WHERE [AffiliatePartnerNo] IN (424316483,424316475,424316484,424316446,424316476,424316054,1035515001)
   --AND [AffiliateReference1] <> ''
   AND [DepartureDate] BETWEEN @DateBonusStart AND @DateBonusEnd
   AND DATEDIFF(dd,[ArivalDate],[DepartureDate]) > 1
   AND [AffiliateReference1] <> ''
UNION
SELECT DISTINCT 
       CAST('D' AS char(1))                                [Detail Identifier]
     , CAST([AffiliateReference1] AS CHAR(10))             [Member Number]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         SUBSTRING(
             AP.[Description]
           , 0
           , CHARINDEX(',',AP.[Description]) 
         )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Name]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         LTRIM(SUBSTRING(AP.[Description], CHARINDEX(',',AP.[Description])+1, LEN(AP.[Description])-CHARINDEX(',',AP.[Description])+1) )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Surname]
     , CONVERT(CHAR(8), AP.[DepartureDate], 112)           [Date]
     , CAST('HRS' AS CHAR(9))                   [Partner Id]
--     , CAST(AA.[Company-No_] AS CHAR(9))                   [Partner Id]
     , CAST('STAY' AS CHAR(10))                            [Activity Classification]
     , CAST(UPPER(CO.[City]) AS CHAR(10))                  [Location]
     , CAST(AP.[ReservationNo] AS CHAR(20))                [Unique Key for record]
     , '000000000'                                         [Tier Points]
     , RIGHT('000000000'
     + RTRIM(CAST(CASE DATEDIFF(dd,[ArivalDate],[DepartureDate]) WHEN 1 THEN 0 WHEN 2 THEN 250 
         ELSE 250 + 100 * (DATEDIFF(dd,[ArivalDate],[DepartureDate])-2) 
       END AS varchar(max))),9) [Bonus Points]
     , [ReservationNo]
     , [DepartureDate]
  FROM [HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS-CN$Contact] CO WITH (NOLOCK)
    ON CO.[No_] = AP.[HotelNo]
  JOIN [Affiliate Partner] AA WITH (NOLOCK)
    ON AA.[No_]= [AffiliatePartnerNo]
 WHERE AA.[Company-No_] IN ('7395','15703')
-- WHERE [AffiliatePartnerNo] IN (424316483,424316475,424316484,424316446,424316476,424316054,1035515001)
   --AND [AffiliateReference1] <> ''
   AND [DepartureDate] BETWEEN @DateBonusStart AND @DateBonusEnd
   AND DATEDIFF(dd,[ArivalDate],[DepartureDate]) > 1
   AND [AffiliateReference1] <> ''
UNION
SELECT DISTINCT 
       CAST('D' AS char(1))                                [Detail Identifier]
     , CAST([AffiliateReference1] AS CHAR(10))             [Member Number]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         SUBSTRING(
             AP.[Description]
           , 0
           , CHARINDEX(',',AP.[Description]) 
         )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Name]
     , CAST(UPPER(CASE WHEN CHARINDEX(',',AP.[Description]) > 0 THEN
         LTRIM(SUBSTRING(AP.[Description], CHARINDEX(',',AP.[Description])+1, LEN(AP.[Description])-CHARINDEX(',',AP.[Description])+1) )
       ELSE
         AP.[Description]
       END) AS CHAR(30))                                   [Member Surname]
     , CONVERT(CHAR(8), AP.[DepartureDate], 112)           [Date]
     , CAST('HRS' AS CHAR(9))                   [Partner Id]
--     , CAST(AA.[Company-No_] AS CHAR(9))                   [Partner Id]
     , CAST('STAY' AS CHAR(10))                            [Activity Classification]
     , CAST(UPPER(CO.[City]) AS CHAR(10))                  [Location]
     , CAST(AP.[ReservationNo] AS CHAR(20))                [Unique Key for record]
     , '000000000'                                         [Tier Points]
     , RIGHT('000000000'
     + RTRIM(CAST(CASE DATEDIFF(dd,[ArivalDate],[DepartureDate]) WHEN 1 THEN 0 WHEN 2 THEN 250 
         ELSE 250 + 100 * (DATEDIFF(dd,[ArivalDate],[DepartureDate])-2) 
       END AS varchar(max))),9) [Bonus Points]
     , [ReservationNo]
     , [DepartureDate]
  FROM [HRS-BR$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS-BR$Contact] CO WITH (NOLOCK)
    ON CO.[No_] = AP.[HotelNo]
  JOIN [Affiliate Partner] AA WITH (NOLOCK)
    ON AA.[No_]= [AffiliatePartnerNo]
 WHERE AA.[Company-No_] IN ('7395','15703')
-- WHERE [AffiliatePartnerNo] IN (424316483,424316475,424316484,424316446,424316476,424316054,1035515001)
   --AND [AffiliateReference1] <> ''
   AND [DepartureDate] BETWEEN @DateBonusStart AND @DateBonusEnd
   AND DATEDIFF(dd,[ArivalDate],[DepartureDate]) > 1
   AND [AffiliateReference1] <> ''
), R AS
(
  SELECT [Detail Identifier]
       + [Member Number]
       + [Member Name]
       + [Member Surname]
       + [Date]
       + [Partner Id]
       + [Activity Classification]
       + [Location]
       + [Unique Key for record]
       + [Tier Points]
       + [Bonus Points] [Detail]
       , 2 [Order]
       , [ReservationNo]
       , [DepartureDate]
    FROM AP
UNION
  SELECT 'HHRS'
       , 1 [Order]
       , 0 [ReservationNo]
       , @DateBonusStart [DepartureDate]
UNION
  SELECT 'F999999999'      
       , 3 [Order]
       , 0 [ReservationNo]
       , @DateBonusStart [DepartureDate]
)
  SELECT [Detail]
    FROM R
ORDER BY [Order]
       , [DepartureDate]
       , [ReservationNo]
END
GO
