USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CompanyValuesFlow]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 06.06.2011
-- Description:	Nav Report 50135
--				Debitor - Saldo nach Periode


-- 
/*
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50237
EXEC [RS].[PROC_CompanyValuesFlow] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CompanyValuesFlow] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName				VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)		

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 15
		AND [Field ID]  = 28), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 15
	    AND [Field ID]  = 28), '31.12.2999'), 104);	    

--ENDE Filter aus FlowFilter
;WITH 
  KR AS ( SELECT CAST([No_] AS VARCHAR(20)) [No_], [Name] FROM [HRS$Vendor] WITH (NOLOCK) WHERE [No_] IN ('30002','30001','30016','30018','30014','30012','30009','30019','30020','30015','30011','30017','30000','30013','30010','30021','30028','30003','30025','30029','30004','30030','30033','30022','30008','30007','30005','30006','30100','30101','30102','30103','30104','30105','30027','8968','30024','30023','30026','30031'))
, DB AS ( SELECT CAST([No_] AS VARCHAR(20)) [No_], [Name] FROM [HRS$Customer] WITH (NOLOCK) WHERE [No_] IN ('90909096','70640537'))
, SK AS ( SELECT CAST([No_] AS VARCHAR(20)) [No_], [Name] FROM [HRS$G_L Account] WITH (NOLOCK))
, BA AS ( SELECT CAST([No_] AS VARCHAR(20)) [No_], [Name] FROM [HRS$Bank Account] WITH (NOLOCK))
, KtoType AS (SELECT [Index]-1 [ID], [String] [Name] FROM dbo.Split('G/L Account,Customer,Vendor,Bank Account,Fixed Asset,IC Partner',','))
  SELECT 'HRS' [Mandant]
        , AT1.[Name] [Kontoart]
	    , GL.[Bal_ Account No_] [Konto]
		, CASE WHEN GL.[Bal_ Account No_]='' THEN '' ELSE
		  CASE AT1.[Name]
			WHEN 'Bank Account' THEN BA.Name
		    WHEN 'G/L Account' THEN SK.Name
			WHEN 'Vendor' THEN KR.Name
			WHEN 'Customer' THEN DB.Name
			ELSE ''
		  END 
		  END [Name]
		 --14.06.18 SAL >>
        , CASE WHEN VLE.[Vendor No_]=NULL then '' ELSE VLE.[Vendor No_] END [Kreditor Nr.]
		, CASE WHEN VLE.[Vendor No_]=NULL then '' ELSE Vend.[Name] END [Kreditor Name]
		--14.06.18 SAL <<
		, GL.[Posting Date] [Buchungsdatum]
		, -GL.[Original Amount (FCY)] [Betrag]
		, -GL.[Amount] [Betrag (BW)]
		, -GL.[VAT Amount] [Ust-Betrag]
		, CASE WHEN GL.[Orig_ Currency Code]='' THEN 'EUR' ELSE GL.[Orig_ Currency Code] END [Urspr. Währungscode]
	    , GL.[G_L Account No_] [Gegenkonto]
	    , GA.[Name] [Gegenkontoname]
		, GL.[Description] [Buchungstext]
		, GL.[Document No_] [Belegnummer]
		, GL.[Interne Belegnr_] [Belegnummer (intern)]
		, GL.[External Document No_] [Externe Belegnummer]
		, GL.[Global Dimension 1 Code] [Kostenstelle]
		, GL.[Global Dimension 1 Code] [Kostenträger]
     FROM [HRS$G_L Entry] GL WITH (NOLOCK)
     JOIN [HRS$G_L Account] GA WITH (NOLOCK)
       ON GA.[No_] = GL.[G_L Account No_]
     JOIN KtoType AT1
       ON AT1.[ID] = GL.[Bal_ Account Type]
LEFT JOIN DB
       ON DB.[No_] = GL.[Bal_ Account No_]
LEFT JOIN KR
       ON KR.[No_] = GL.[Bal_ Account No_]
LEFT JOIN SK
       ON SK.[No_] = GL.[Bal_ Account No_]
LEFT JOIN BA
       ON BA.[No_] = GL.[Bal_ Account No_]
--14.06.18 SAL >>
LEFT JOIN  [HRS$Vendor Ledger Entry] VLE WITH (NOLOCK)
	   ON VLE.[Posting Date] = GL.[Posting Date] AND VLE.[Document No_] = GL.[Document No_]
	   AND VLE.[Vendor No_] IN ('30002','30001','30016','30018','30014','30012','30009','30019','30020','30015','30011','30017','30000','30013','30010','30021','30028','30003','30025','30029','30004','30030','30033','30022','30008','30007','30005','30006','30100','30101','30102','30103','30104','30105','30027','8968','30024','30023','30026','30031')
LEFT JOIN [HRS$Vendor] Vend WITH (NOLOCK)
	   ON Vend.[No_] = VLE.[Vendor No_]
--14.05.18 SAL <<
 WHERE GL.[Posting Date] BETWEEN @DateFilterStart AND @DateFilterEnd
   AND ((GL.[G_L Account No_] IN ('050506','050502','050504','050501','050500','050503','050505','163002','159401','159402','159403','159404','159407','159406','163023','163028','163022','163024','163020','163027','163021','163025','163026','052000','052001'))
--14.06.18 SAL >> 
   OR  (GL.[G_L Account No_] between '490000' AND '490023')
   OR  (GL.[G_L Account No_] between '800010' AND '800014')
   OR  (GL.[G_L Account No_] LIKE '2%')
   OR  (GL.[G_L Account No_] IN ('120000','120006','136010')) --LIKE '1%')
   OR  (GL.[G_L Account No_] IN ('421000','476007','498501','840002','841000'))
	)
-- 14.06.18 SAL <<  
   AND (( 
            AT1.[Name] IN ('G/L Account','Bank Account') 
       OR ( AT1.[Name] IN ('Vendor')   AND GL.[Bal_ Account No_] IN ('30002','30001','30016','30018','30014','30012','30009','30019','30020','30015','30011','30017','30000','30013','30010','30021','30028','30003','30025','30029','30004','30030','30033','30022','30008','30007','30005','30006','30100','30101','30102','30103','30104','30105','30027','8968','30024','30023','30026','30031') )
	   OR ( AT1.[Name] IN ('Customer') AND GL.[Bal_ Account No_] IN ('90909096','70640537') )
       )
	   --14.06.18 SAL >>
	   OR
	   ((EXISTS(SELECT VLE.[Vendor No_] FROM [HRS$Vendor Ledger Entry] VLE WITH (NOLOCK) WHERE VLE.[Posting Date] = GL.[Posting Date] AND VLE.[Document No_] = GL.[Document No_] and VLE.[Vendor No_] IN ('30002','30001','30016','30018','30014','30012','30009','30019','30020','30015','30011','30017','30000','30013','30010','30021','30028','30003','30025','30029','30004','30030','30033','30022','30008','30007','30005','30006','30100','30101','30102','30103','30104','30105','30027','8968','30024','30023','30026','30031')))
	   ) --14.06.18 SAL <<
	   )
END
GO
