USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_KPIAnalysis_SIK]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RS].[PROC_KPIAnalysis_SIK] 
AS
BEGIN
DECLARE @PostingDateFrom date = '2016-09-30'
      , @PostingDateTo   date = '2016-09-01'
      , @dateTo          date = '2016-09-30'
	  , @dateFrom        date = '2016-01-01'
DECLARE @dateP30          date = DATEADD(dd,-30,@dateTo)
      , @dateP31          date = DATEADD(dd,-31,@dateTo)
      , @dateP60          date = DATEADD(dd,-60,@dateTo)
      , @dateP61          date = DATEADD(dd,-61,@dateTo)
      , @dateP90          date = DATEADD(dd,-90,@dateTo)
      , @dateP91          date = DATEADD(dd,-90,@dateTo)

-- ca. 3:30 ca. 90.000
DECLARE @Payment TABLE ([Customer No_] int PRIMARY KEY, [Payed after x Days] decimal(38,20))
;WITH _Payment AS
(
	SELECT CU.[No_]
		 , DATEDIFF(dd,C2.[Posting Date], CL.[Posting Date]) [Payed after x Days]
	  FROM [HRS$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = CU.[No_] 	
	  JOIN [HRS$Detailed Cust_ Ledg_ Entry] DL2 WITH (NOLOCK)
		ON DL2.[Applied Cust_ Ledger Entry No_] = DLE.[Applied Cust_ Ledger Entry No_]
       AND DL2.[Entry No_]                     <> DLE.[Entry No_]
	  JOIN [HRS$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
	   AND CL.[Open]                       = 0 
	  JOIN [HRS$Cust_ Ledger Entry]          C2 WITH (NOLOCK)
		ON C2.[Entry No_]                  = DL2.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 1
	   AND DLE.[Entry Type] = 2
UNION ALL
	SELECT CU.[No_]
		 , DATEDIFF(dd,C2.[Posting Date], CL.[Posting Date]) [Payed after x Days]
	  FROM [HRS-CN$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS-CN$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = CU.[No_] 	
	  JOIN [HRS-CN$Detailed Cust_ Ledg_ Entry] DL2 WITH (NOLOCK)
		ON DL2.[Applied Cust_ Ledger Entry No_] = DLE.[Applied Cust_ Ledger Entry No_]
       AND DL2.[Entry No_]                     <> DLE.[Entry No_]
	  JOIN [HRS-CN$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
	   AND CL.[Open]                       = 0 
	  JOIN [HRS-CN$Cust_ Ledger Entry]          C2 WITH (NOLOCK)
		ON C2.[Entry No_]                  = DL2.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 1
	   AND DLE.[Entry Type] = 2
UNION ALL
	SELECT CU.[No_]
		 , DATEDIFF(dd,C2.[Posting Date], CL.[Posting Date]) [Payed after x Days]
	  FROM [HRS-BR$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS-BR$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = CU.[No_] 	
	  JOIN [HRS-BR$Detailed Cust_ Ledg_ Entry] DL2 WITH (NOLOCK)
		ON DL2.[Applied Cust_ Ledger Entry No_] = DLE.[Applied Cust_ Ledger Entry No_]
       AND DL2.[Entry No_]                     <> DLE.[Entry No_]
	  JOIN [HRS-BR$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
	   AND CL.[Open]                       = 0 
	  JOIN [HRS-BR$Cust_ Ledger Entry]          C2 WITH (NOLOCK)
		ON C2.[Entry No_]                  = DL2.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 1
	   AND DLE.[Entry Type] = 2
)
    INSERT INTO @Payment
    SELECT PM.[No_]
	     , AVG([Payed after x Days]) [Payed after x Days]
	  FROM _Payment PM
  GROUP BY PM.[No_]

-- ca. 0:01 ca. 15.000
DECLARE @CustSummaryAging TABLE ([Customer No_] int PRIMARY KEY, [CustBalanceDueLCY1] decimal(38,20), [CustBalanceDueLCY2] decimal(38,20), [CustBalanceDueLCY3] decimal(38,20), [CustBalanceDueLCY4] decimal(38,20), [CustBalanceDueLCY5] decimal(38,20), [TotalAmountLCY] decimal(38,20))
;WITH _CustSummaryAging AS
(
	SELECT CU.[No_]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] < @dateP90                    THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY1]	  		 
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP90 AND @dateP61 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY2]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP60 AND @dateP31 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY3]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP30 AND @dateTo  THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY4]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] > @dateTo                     THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY5]
		 , SUM (CASE WHEN DLE.[Entry Type] = 1 AND CL.[Document Type] = 2                              THEN DLE.[Amount (LCY)] ELSE 0 END) [TotalAmountLCY]
	  FROM [HRS$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = CU.[No_] 	
	  JOIN [HRS$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date]  <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
  GROUP BY CU.[No_]
UNION ALL
	SELECT CU.[No_]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] < @dateP90                    THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY1]	  		 
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP90 AND @dateP61 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY2]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP60 AND @dateP31 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY3]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP30 AND @dateTo  THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY4]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] > @dateTo                     THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY5]
		 , SUM (CASE WHEN DLE.[Entry Type] = 1 AND CL.[Document Type] = 2                              THEN DLE.[Amount (LCY)] ELSE 0 END) [TotalAmountLCY]
	  FROM [HRS-CN$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS-CN$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]                 = CU.[No_] 	
	  JOIN [HRS-CN$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                     = DLE.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
  GROUP BY CU.[No_]
UNION ALL
	SELECT CU.[No_]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] < @dateP90                    THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY1]	  		 
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP90 AND @dateP61 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY2]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP60 AND @dateP31 THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY3]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN @dateP30 AND @dateTo  THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY4]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] > @dateTo                     THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY5]
		 , SUM (CASE WHEN DLE.[Entry Type] = 1 AND CL.[Document Type] = 2                              THEN DLE.[Amount (LCY)] ELSE 0 END) [TotalAmountLCY]
	  FROM [HRS-BR$Customer]                    CU WITH (NOLOCK)
	  JOIN [HRS-BR$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = CU.[No_] 	
	  JOIN [HRS-BR$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date]  <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
  GROUP BY CU.[No_]
)
    INSERT INTO @CustSummaryAging
	SELECT CU.[No_]
		 , SUM ([CustBalanceDueLCY1])      [CustBalanceDueLCY1]	  		 
		 , SUM ([CustBalanceDueLCY2])      [CustBalanceDueLCY2]
		 , SUM ([CustBalanceDueLCY3])      [CustBalanceDueLCY3]
		 , SUM ([CustBalanceDueLCY4])      [CustBalanceDueLCY4]
		 , SUM ([CustBalanceDueLCY5])      [CustBalanceDueLCY5]
		 , SUM ([TotalAmountLCY])          [TotalAmountLCY]
	  FROM _CustSummaryAging CU
  GROUP BY CU.[No_]

-- ca. 0:10 ca. 105.000
DECLARE @Invoices TABLE ([Customer No_] int PRIMARY KEY, [Count Invoices] int, [Count Corrections] int)
;WITH _Invoices AS
(
    SELECT CL.[Customer No_]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 0 ELSE 1 END) [Count Invoices]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 1 ELSE 0 END) [Count Corrections]
	  FROM [HRS$Cust_ Ledger Entry] CL WITH (NOLOCK)
 	 WHERE CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 2
  GROUP BY CL.[Customer No_]
UNION ALL
    SELECT CL.[Customer No_]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 0 ELSE 1 END) [Count Invoices]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 1 ELSE 0 END) [Count Corrections]
	  FROM [HRS-CN$Cust_ Ledger Entry] CL WITH (NOLOCK)
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 2
  GROUP BY CL.[Customer No_]
UNION ALL
    SELECT CL.[Customer No_]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 0 ELSE 1 END) [Count Invoices]
	     , SUM(CASE WHEN CL.[Document No_] LIKE '%/%' THEN 1 ELSE 0 END) [Count Corrections]
	  FROM [HRS-BR$Cust_ Ledger Entry] CL WITH (NOLOCK)
 	 WHERE CL.[Posting Date] <= @PostingDateTo
	   AND CL.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[Document Type] = 2
  GROUP BY CL.[Customer No_]
)
    INSERT INTO @Invoices
    SELECT CL.[Customer No_]
	     , SUM([Count Invoices]) [Count Invoices]
	     , SUM([Count Corrections]) [Count Corrections]
	  FROM _Invoices CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]

-- ca. 0:01 ca. 64.000
DECLARE @Reminder TABLE ([Customer No_] int PRIMARY KEY, [Count Payment Reminder] int, [Count Final Reminder] int, [Count Pending Closure] int, [Count Closure] int)
;WITH _Reminder AS
(
    SELECT RH.[Customer No_]
	     , SUM(CASE WHEN RH.[Reminder Level]=1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Payment Reminder]
	     , SUM(CASE WHEN RH.[Reminder Level]>1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Final Reminder]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('20','25') THEN 1 ELSE 0 END) [Count Pending Closure]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('21','26') THEN 1 ELSE 0 END) [Count Closure]
	  FROM [HRS$Issued Reminder Header] RH WITH (NOLOCK)
 	 WHERE RH.[Posting Date] <= @PostingDateTo
	   AND RH.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND RH.[Document Type] IN ('8','16','20','21','25','26')
  GROUP BY RH.[Customer No_]
UNION ALL
    SELECT RH.[Customer No_]
	     , SUM(CASE WHEN RH.[Reminder Level]=1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Payment Reminder]
	     , SUM(CASE WHEN RH.[Reminder Level]>1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Final Reminder]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('20','25') THEN 1 ELSE 0 END) [Count Pending Closure]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('21','26') THEN 1 ELSE 0 END) [Count Closure]
	  FROM [HRS-CN$Issued Reminder Header] RH WITH (NOLOCK)
 	 WHERE RH.[Posting Date] <= @PostingDateTo
	   AND RH.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND RH.[Document Type] IN ('8','16','20','21','25','26')
  GROUP BY RH.[Customer No_]
UNION ALL
    SELECT RH.[Customer No_]
	     , SUM(CASE WHEN RH.[Reminder Level]=1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Payment Reminder]
	     , SUM(CASE WHEN RH.[Reminder Level]>1 AND RH.[Document Type] IN ('8','16')  THEN 1 ELSE 0 END) [Count Final Reminder]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('20','25') THEN 1 ELSE 0 END) [Count Pending Closure]
	     , SUM(CASE WHEN                           RH.[Document Type] IN ('21','26') THEN 1 ELSE 0 END) [Count Closure]
	  FROM [HRS-BR$Issued Reminder Header] RH WITH (NOLOCK)
 	 WHERE RH.[Posting Date] <= @PostingDateTo
	   AND RH.[Document Date] BETWEEN @dateFrom AND @dateTo
	   AND RH.[Document Type] IN ('8','16','20','21','25','26')
  GROUP BY RH.[Customer No_]
)
    INSERT INTO @Reminder
    SELECT CL.[Customer No_]
	     , SUM([Count Payment Reminder]) [Count Payment Reminder]
	     , SUM([Count Final Reminder]) [Count Final Reminder]
	     , SUM([Count Pending Closure]) [Count Pending Closure]
	     , SUM([Count Closure]) [Count Closure]
	  FROM _Reminder CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]

-- ca. 0:00 ca. 2.600
DECLARE @DCA TABLE ([Customer No_] int PRIMARY KEY, [Count DCA] int)
;WITH _DCA AS
(
    SELECT CL.[Hotel No_] [Customer No_]
	     , COUNT(1) [Count DCA]
	  FROM [HRS$Debit Collection Case] CL WITH (NOLOCK)
 	 WHERE CL.[Been Added Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[State] IN (0,1,2,3)
  GROUP BY CL.[Hotel No_]
UNION ALL
    SELECT CL.[Hotel No_] [Customer No_]
	     , COUNT(1) [Count DCA]
	  FROM [HRS-CN$Debit Collection Case] CL WITH (NOLOCK)
 	 WHERE CL.[Been Added Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[State] IN (0,1,2,3)
  GROUP BY CL.[Hotel No_]
UNION ALL
    SELECT CL.[Hotel No_] [Customer No_]
	     , COUNT(1) [Count DCA]
	  FROM [HRS-BR$Debit Collection Case] CL WITH (NOLOCK)
 	 WHERE CL.[Been Added Date] BETWEEN @dateFrom AND @dateTo
	   AND CL.[State] IN (0,1,2,3)
  GROUP BY CL.[Hotel No_]
)
    INSERT INTO @DCA
    SELECT CL.[Customer No_]
	     , SUM([Count DCA]) [Count DCA]
	  FROM _DCA CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]

	SELECT CU.[No_]
		 , CU.[Responsibility Center]
		 , CR.[Name]                  [Country Name]
         , CS.[Name]                  [Contract Status Name]
		 , HS.[Description]           [Hotel Status Name]
         , LS.[Name]                  [Reason Name]
		 , CU.[Payment Method Code]
		 , CU.[Chain]
		 , CU.[Brand]
		 , CU.[Salesperson Code]
		 , IC.[Count Invoices]
		 , IC.[Count Corrections]
		 , RE.[Count Payment Reminder]
		 , RE.[Count Final Reminder]
		 , RE.[Count Pending Closure]
		 , RE.[Count Closure]
		 , DC.[Count DCA]
		 , PM.[Payed after x Days]
		 , CL.[CustBalanceDueLCY1] [>90]
		 , CL.[CustBalanceDueLCY2] [61-90]
		 , CL.[CustBalanceDueLCY3] [31-60]
		 , CL.[CustBalanceDueLCY4] [0-30]
		 , CL.[CustBalanceDueLCY5] [not dued]
		 , CL.[TotalAmountLCY]     [Total Amount]
		 , REPLACE(SPACE(20-LEN(CU.[No_])), ' ' , '0') + LTRIM(CU.[No_]) [Sorted No_]
	  FROM [HRS$Customer]                    CU WITH (NOLOCK)
 LEFT JOIN @CustSummaryAging                 CL
        ON CL.[Customer No_]               = CU.[No_]
 LEFT JOIN @Invoices                         IC
        ON IC.[Customer No_]               = CU.[No_]
 LEFT JOIN @Reminder                         RE
        ON RE.[Customer No_]               = CU.[No_]
 LEFT JOIN @Payment                          PM
        ON PM.[Customer No_]               = CU.[No_]
 LEFT JOIN @DCA                              DC
        ON DC.[Customer No_]               = CU.[No_]
	  JOIN [HRS$Contact]                     CO WITH (NOLOCK)
		ON CO.[No_]                        = CU.[No_] 
      JOIN [HRS$Dimension Value]             CS WITH (NOLOCK)
	    ON CS.[Code]                       = CU.[Contract Status]
       AND CS.[Dimension Code]             = 'CONTRACT STATUS'
 LEFT JOIN [HRS$Dimension Value]             LS WITH (NOLOCK)
	    ON LS.[Code]                       = CU.[Reason Code]
       AND LS.[Dimension Code]             = 'LOCKSTATUS'
      JOIN [HRS$Hotel Status]                HS WITH (NOLOCK)
        ON HS.[Status]                     = CU.[Hotel Status]
	  JOIN [HRS$Country_Region]              CR WITH (NOLOCK)
		ON CR.[Code]                       = CO.[Country_Region Code] 	
 	 WHERE CU.[Testhotel]                  = 0
--       AND CU.[Chain]                      = '13'
END
GO
