USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustomerReminderexport1]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 23.07.12
-- Description:	RFC-56986 NAV 2 Berichte : Mahnstatistik Zahlungserinnerung, Mahnstatistik Letzte Mahnung
/*
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50019
EXEC [RS].[PROC_CustomerReminderexport1] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustomerReminderexport1] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German
;WITH X AS
(
  SELECT CASE WHEN CHARINDEX('/',IL.[Document No_]) > 0 THEN 
           LEFT(IL.[Document No_], CHARINDEX('/',IL.[Document No_])-1)
         ELSE
           IL.[Document No_]
         END [Document No_]
       , IH.[Customer No_]
       , CASE WHEN MAX(IL.[No_ of Reminders])>1 THEN 2 ELSE 1 END [No_ of Reminders]
    FROM DynNavHRS.dbo.[HRS$Issued Reminder Header] IH WITH (NOLOCK)
    JOIN DynNavHRS.dbo.[HRS$Issued Reminder Line] IL WITH (NOLOCK)
      ON IL.[Reminder No_] = IH.[No_]
    JOIN DynNavHRS.dbo.HRS$Customer  CU WITH (NOLOCK)
      ON CU.No_ = IH.[Customer No_]
     AND CU.[Contract Status] IN ('01','02')
    JOIN DynNavHRS.dbo.[HRS$Sales Invoice Header] SH WITH (NOLOCK)
      ON SH.[No_] = IL.[Document No_]
   WHERE IH.[Posting Date] BETWEEN DATEADD(mm,-6,getdate()) AND GETDATE()
     AND IL.[Document Type] = 2
     AND IH.[Country_Region Code] IN ('33','114','43','65','140','110','122','50')
GROUP BY CASE WHEN CHARINDEX('/',IL.[Document No_]) > 0 THEN 
           LEFT(IL.[Document No_], CHARINDEX('/',IL.[Document No_])-1)
         ELSE
           IL.[Document No_]
         END
       , IH.[Customer No_]--, IH.Name, IH.[Country_Region Code], IH.City 
), Y AS
(
  SELECT [Customer No_]       
       , SUM(CASE WHEN [No_ of Reminders]=1 THEN 1 ELSE 0 END) [No_ of Reminders]
    FROM X
GROUP BY [Customer No_]         
), R AS 
(
  SELECT DISTINCT [Bill-to Customer No_] [Customer No_] 
    FROM DynNavHRS.dbo.[HRS$Sales Invoice Header] WITH (NOLOCK)
   WHERE [Posting Date] BETWEEN DATEADD(mm,-12,getdate()) AND GETDATE()
)
   SELECT CU.[No_] [Customer No_]
        , CU.Name
        , CU.[Name 2]
        , CU.[Address]
        , CU.[Address 2]
        , CU.[Post Code]
        , CU.[City]
        , C.[Name]
        , CU.[Country_Region Code]
        , COALESCE([No_ of Reminders],0) [No_ of Reminders]
        , CASE WHEN COALESCE([No_ of Reminders],0)<2 THEN 'Cluster 1: „Gutzahler“' ELSE 'Cluster 2: „Schlechtzahler“' END [Cluster]
        , CU.[Payment Method Code]
     FROM DynNavHRS.dbo.HRS$Customer CU WITH (NOLOCK)
     JOIN R ON R.[Customer No_] = CU.[No_]
     JOIN DynNavHRS.dbo.[HRS$Country_Region] C WITH (NOLOCK)
       ON C.Code = CU.[Country_Region Code]
LEFT JOIN Y ON Y.[Customer No_] = CU.[No_]
    WHERE CU.[Contract Status] IN ('01','02')
      AND CU.[Country_Region Code] IN ('33','114')
END
GO
