USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustDebitandTurnoverTrend]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 17.08.2011
-- Description:	Nav Report 50297; RFC-45240
--				Diese Procedure wird in dem Report CustDebitTrend und CustTurnoverTrend verwendet.
--				Die Struktur wird nur aus dem HRS Mandanten ermittelt

-- 
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS'
		, @ReportId					INT				= 50297
EXEC [RS].[PROC_CustDebitandTurnoverTrend] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustDebitandTurnoverTrend] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)				
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @AliasIDs					[RS].[TableIDs]
		, @DateIntervallStart		VARCHAR(10)
		, @DateIntervallEnd			VARCHAR(10)				
		, @DateIntervallStart_3M	VARCHAR(10)
		, @HRS						VARCHAR(20) = 'HRS'

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
		AND [Field ID]  = 55), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 55), '31.12.2999'), 104);	   

SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter

--BEGIN Parameter aus RS-Execution
DECLARE   @DateStart					DATETIME
		, @DateEnd						DATETIME		
		, @MonthUltimo					BIT
		
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 1), '01.01.1753'), 104);	
SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2), '31.12.2999'), 104);
SET @MonthUltimo = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 3);	    
--END Parameter aus RS-Execution	

--Intervall
SET @DateIntervallStart = CONVERT(VARCHAR(10), COALESCE(@DateStart, GETDATE()),104);
SET @DateIntervallEnd = CONVERT(VARCHAR(10), COALESCE(@DateEnd, DATEADD(mm,7,GETDATE())), 104);
SET @DateIntervallStart_3M = CONVERT(VARCHAR(10), DATEADD(mm,-3,COALESCE(@DateStart, GETDATE())),104);

--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT [Name] 
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl

--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
	( [PostingPeriodEnd]					DATETIME
	, [Debit]								DEC(38,20)
	, [Payment]								DEC(38,20)
	, [OpenDebit]							DEC(38,20)
	, [Balance]								DEC(38,20)
	, [Country]								VARCHAR(10)
	, [CountryName]							VARCHAR(50)
	, [Chain]								VARCHAR(20)
	, [ChainName]							VARCHAR(50)	
)

CREATE TABLE #RESULTS_CustLedgerEntrySum 
	( [Customer No_]					VARCHAR(20)
	, [Debit]							DEC(38,20)
	, [Payment]							DEC(38,20)
	, [Balance]							DEC(38,20)
	, [Posting Period End]				DATETIME
)


--1ter Teil
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES(    9, 'Country/Region')
	, (   18, 'Customer')

DELETE FROM @AliasIDs 
INSERT INTO @AliasIDs
VALUES(349, 'Chain')
	, (349, 'Brand')
 
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ';WITH 'ELSE ' , ' END)
+'
[CustLedgerEntry_SUM_'+[CompanyName]+'] AS 
(
    SELECT [Customer No_]
         , COALESCE(SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Document Type] IN (2, 3) 
					THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] END),0)						AS [Debit]                    
         , COALESCE(SUM(CASE WHEN NOT ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Document Type] IN (2, 3) 
					THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] END),0)						AS [Payment]
         , COALESCE(SUM(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)]),0)							AS [Balance]
         , '+CASE @MonthUltimo
             WHEN 0 THEN 
               +'CASE WHEN DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]) <= 15 
					  THEN DATEADD(dd,-DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])+15,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])
					  ELSE DATEADD(mm,1,DATEADD(dd,-DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])+15,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]))
                 END'
             WHEN 1 THEN +'DATEADD(dd,-DAY(DATEADD(mm,1,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])),DATEADD(mm,1,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]))
             ' ELSE +' '''+'01.01.1753'+''' 
            ' END +'																											AS [Posting Period End]
    FROM ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry]
	JOIN ['+[CompanyName]+'$Customer] 
	  ON ['+[CompanyName]+'$Customer].[No_] = ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Customer No_]	
   WHERE ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date] <= '''+@DateFilterEnd+''' 
GROUP BY ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Customer No_]
       , '+CASE @MonthUltimo
           WHEN 0 THEN 
               +'CASE WHEN DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]) <= 15 
					  THEN DATEADD(dd,-DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])+15,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])
					  ELSE DATEADD(mm,1,DATEADD(dd,-DAY(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])+15,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]))
                 END'
             WHEN 1 THEN +'DATEADD(dd,-DAY(DATEADD(mm,1,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date])),DATEADD(mm,1,['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date]))
             ' ELSE +' '''+'01.01.1753'+''' 
           ' END +'
)'
FROM #RESULTS_CompanyName
ORDER BY RowNumber

--2ter Tei					   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS_CustLedgerEntrySum ' ELSE ' UNION ALL ' END)	
+'SELECT [Customer No_],[Debit],[Payment],[Balance],[Posting Period End] FROM [CustLedgerEntry_SUM_'+[CompanyName]+']'  
FROM #RESULTS_CompanyName
ORDER BY RowNumber

--BEGIN WITH Teil 3 (Mandantenunabhängig)
SELECT @Stmt = @Stmt
+'; WITH [Hotel_Structur_HRS] AS
(
  SELECT  [HRS$Country_Region].[Code]					AS [Country]
        , [HRS$Country_Region].[Name]					AS [CountryName]
        , [HRS_BRAND].Code								AS [Chain]
        , [HRS_BRAND].Name								AS [ChainName]
        , [HRS_CHAIN].[Code]							AS [Brand]
        , [HRS_CHAIN].Name								AS [BrandName]
        , [HRS$Customer].[No_]							AS [Hotel]
        , [HRS$Customer].[Name]							AS [HotelName]
        , CASE [HRS$Customer].[Contract Status] 
              WHEN '''+'00'+''' THEN '''+'other'+''' --NO_CONTRACT
              WHEN '''+'01'+''' THEN '''+'FS'+'''	 --FREE_SALE
              WHEN '''+'02'+''' THEN '''+'FS'+''' 	 --FREE_SALE_CHAIN
              WHEN '''+'03'+''' THEN '''+'other'+''' --REQUEST_HOTEL 
              WHEN '''+'04'+''' THEN '''+'other'+''' --REQUEST_CHAIN 
              WHEN '''+'05'+''' THEN '''+'other'+''' --REQUEST_WITHOUT_CONTRACT
              WHEN '''+'06'+''' THEN '''+'other'+''' --CONTRACT_HAS_ERRORS
              WHEN '''+'07'+''' THEN '''+'other'+''' --REFUSAL
              WHEN '''+'08'+''' THEN '''+'other'+''' --COMPANY_RATE_TO_HOTEL
              WHEN '''+'09'+''' THEN '''+'other'+''' --COMPANY_RATE_TO_CHAIN 
              WHEN '''+'10'+''' THEN '''+'CRS'+''' 	 --CRS
              WHEN '''+'11'+''' THEN '''+'PEG'+''' 	 --NON_HRS_WITHOUT_CONTRACT
              WHEN '''+'12'+''' THEN '''+'other'+''' --UNVERIFIED
              WHEN '''+'13'+''' THEN '''+'FS'+''' 	 --UNVERIFIED 
              WHEN '''+'14'+''' THEN '''+'CRS'+''' 	 --UNVERIFIED 
              ELSE '''+'unknown'+''' 
          END											AS [ContractStatus]
     FROM [HRS$Customer]					 
     JOIN [HRS$Dimension Value]				[HRS_BRAND] 
       ON [HRS_BRAND].Code = [HRS$Customer].[Brand]
      AND [HRS_BRAND].[Dimension Code] = ''BRAND''
     JOIN [HRS$Dimension Value]				[HRS_CHAIN] 
       ON [HRS_CHAIN].Code = [HRS$Customer].[Chain]
      AND [HRS_CHAIN].[Dimension Code] = ''CHAIN''
     JOIN [HRS$Country_Region]       
       ON [HRS$Country_Region].[Code] = [HRS$Customer].[Country_Region Code] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @HRS, @ReportId, @TableIDs, 3)
 + [RS].[Nav2SqlString](@UserId, @HRS, @ReportId, @AliasIDs, 1) 
 +')
INSERT INTO #RESULTS
  SELECT S2.[Posting Period End]
       , SUM(COALESCE(S1.[Debit],0))
       , SUM(COALESCE(S1.[Payment],0))
       , SUM(COALESCE(S1.[Debit],0))+SUM(COALESCE(S1.[Payment],0))
       , SUM(COALESCE(S1.[Balance],0))
       , COALESCE(HS.[Country], '''')		[Country]			
       , COALESCE(HS.[CountryName], '''')	[CountryName]		
       , COALESCE(HS.[Chain], '''')			[Chain]
       , COALESCE(HS.[ChainName], '''')		[ChainName]		          
    FROM #RESULTS_CustLedgerEntrySum S1
    JOIN (SELECT DISTINCT [Posting Period End] FROM #RESULTS_CustLedgerEntrySum) S2
      ON S1.[Posting Period End] <= S2.[Posting Period End]
    JOIN [Hotel_Structur_HRS]				HS
      ON HS.[Hotel] = S1.[Customer No_] 
   WHERE S2.[Posting Period End] BETWEEN '''+@DateIntervallStart+''' AND '''+@DateIntervallEnd+'''
GROUP BY S2.[Posting Period End] 
       , HS.[Country]				
	   , HS.[CountryName]			
	   , HS.[Chain]				
	   , HS.[ChainName]			
ORDER BY HS.[Country], HS.[Chain]	   
'

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,16000)
PRINT	SUBSTRING(@Stmt,16001,24000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle	

--   SELECT R.*
--        , COALESCE(S_DEBIT_60.[Debit],0)	[Debit 60D]
--        , COALESCE(S_DEBIT_90.[Debit], 0)	[Debit 90D]
--     FROM #RESULTS					R
--LEFT JOIN #RESULTS					S_DEBIT_60
--       ON DATEADD(mm,2,S_DEBIT_60.[PostingPeriodEnd]) = R.[PostingPeriodEnd]
--      AND R.[Country] = S_DEBIT_60.[Country]
--LEFT JOIN #RESULTS					S_DEBIT_90
--       ON DATEADD(mm,3,S_DEBIT_90.[PostingPeriodEnd]) = R.[PostingPeriodEnd]      
--      AND R.[Country] = S_DEBIT_90.[Country]
--    WHERE R.[PostingPeriodEnd] >= @DateIntervallStart 
-- ORDER BY R.[PostingPeriodEnd]
--        , R.[Country]

SELECT * FROM #RESULTS_CustLedgerEntrySum

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
DROP TABLE #RESULTS_CustLedgerEntrySum
END
GO
