USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustDebitChainV9a]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 24.11.2011
-- Description:	Nav Report 50140; RFC-52420
--				Diese Procedure wird in dem Report CustDebitChainV9.rdl
--				Die Struktur wird nur aus dem HRS Mandanten ermittelt
--
-- 15.06.16   HRS001   TM 

-- HRS$Detailed Cust_ Ledg_ Entry,$10 aktualisiert
-- IX_HRS$Detailed Cust_ Ledg_ Entry_Posting Date um eingeschlossene Spalte [Entry Type] erweitert
-- [IX_HRS$Cust_ Ledger Entry_Reservierungsnr_] neu erstellt
       
-- 05.09.16   NAV-254  SAK
-- 24.11.16   NAV-358  TMA04 [Arrival Date], [Departure Date] instead of [Reservation Date from], [Reservation Date to]
-- 23.04.20 INC0036339 DJU   Replace ';' in [Buchungscode], [Guestname 1] and [Guestname 2]
-- 15.02.20   HRS001   DJU ACS-2201 Added TAF Amount
-- 04.09.21   ACS-3065 DJU Added Segment
--
/*
SET Language German
DECLARE   @UserId						VARCHAR(20)		= 'NAV'
		, @CompanyName					VARCHAR(30)		= 'HRS'
		, @ReportId						INT				= 50140
		, @Debug                        INT             = 0
EXEC [RS].[PROC_CustDebitChainV9a] @UserId, @CompanyName, @ReportId, @Debug 

EXEC DynNavHRS.[RS].[PROC_CustDebitChainV9a] 'TMA04', 'HRS', 50140, 0
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustDebitChainV9a] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
	, @Debug                        INT = 0
) WITH RECOMPILE
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German
SET ANSI_WARNINGS OFF

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)				
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @AliasIDs					[RS].[TableIDs]			

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
		AND [Field ID]  = 55), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 55), '31.12.2999'), 104);	   

SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter

--BEGIN Parameter aus RS-Execution
DECLARE   @BallanceFromAllPostings	VARCHAR(1)
		, @VALUEFROM				DECIMAL(38,20) = 0
		, @VALUETO					DECIMAL(38,20) = 0		
SET @BallanceFromAllPostings = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 1);	
SET @VALUEFROM = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2);   
SET @VALUETO = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 3);  	    	    
--END Parameter aus RS-Execution	

--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [CompanyName2]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'') 
     , REPLACE(REPLACE(REPLACE([Name],''.'',''_''),''-'',''_''),'' '',''_'') 
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
--PRINT @StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl

--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
	( [Customer No_]											VARCHAR(20) COLLATE Latin1_General_CS_AS
	, [Entry No_]												INT
	, [Document No_]											VARCHAR(30) COLLATE Latin1_General_CS_AS
	, [Document Type]											INT
	, [Rg__Gs_-Art]												INT
	, [Open]													TINYINT
	, [Sell-to Customer No_]									VARCHAR(20) COLLATE Latin1_General_CS_AS
	, [Belegart]												VARCHAR(20) COLLATE Latin1_General_CS_AS
	, [Description]												VARCHAR(70) COLLATE Latin1_General_CS_AS
	, [Currency Code]											VARCHAR(10) COLLATE Latin1_General_CS_AS
	, [Transaction No_]											INT
	, [Document Date]											DATETIME
	, [Country]													VARCHAR(10) COLLATE Latin1_General_CS_AS
	, [HotelNo]													VARCHAR(20) COLLATE Latin1_General_CS_AS
	, [Hotel]													VARCHAR(130) COLLATE Latin1_General_CS_AS
	, [Hotel city]												VARCHAR(70) COLLATE Latin1_General_CS_AS
	, [Salesperson Code]										VARCHAR(10) COLLATE Latin1_General_CS_AS
	, [HotelPropID]												VARCHAR(30) COLLATE Latin1_General_CS_AS
	, [VertragStatus]											VARCHAR(30) COLLATE Latin1_General_CS_AS
	, [Country Name]											VARCHAR(50) COLLATE Latin1_General_CS_AS
	, [Kette]													VARCHAR(10) COLLATE Latin1_General_CS_AS
	, [Kette Description]										VARCHAR(50) COLLATE Latin1_General_CS_AS
	, [Connect]													VARCHAR(20) COLLATE Latin1_General_CS_AS
	, [Reservierungsnr_]										INT --PRIMARY KEY --VARCHAR(20)
	, [Guestname 1]												VARCHAR(120) COLLATE Latin1_General_CS_AS
	, [Guestname 2]												VARCHAR(120) COLLATE Latin1_General_CS_AS
	, [Arrival]													DATETIME
	, [Departure]												DATETIME
	, [VAT]														DEC(38,20)
	, [Buchungscode]											VARCHAR(80) COLLATE Latin1_General_CS_AS
	, [Rate Typ]												INT
	, [Rate Bezeichnung]										VARCHAR(100) COLLATE Latin1_General_CS_AS
	, [User]													VARCHAR(30) COLLATE Latin1_General_CS_AS
	, [Amount of Debits]										MONEY
	, [Saldo]													DEC(38,20)
	, [CustSaldo]												DEC(38,20)
	, [Restbetrag]												DEC(38,20)
	, [Orgbetrag]												DEC(38,20)
	, [MWbetrag]												DEC(38,20)
	, [KettenSaldo]												DEC(38,20)
	, [LandKettenSaldo]											DEC(38,20)
	, [Unknown_R]												DEC(38,20)
	, [Initial Entry_R]											DEC(38,20)
	, [Application_R]											DEC(38,20)
	, [Unrealized Loss_R]										DEC(38,20)
	, [Unrealized Gain_R]										DEC(38,20)
	, [Realized Loss_R]											DEC(38,20)
	, [Realized Gain_R]											DEC(38,20)
	, [Payment Discount_Payment_R]								DEC(38,20)
	, [Payment Discount (VAT Excl.)_Payment_R]					DEC(38,20)
	, [Payment Discount (VAT Adjustment)_Payment_R]				DEC(38,20)
	, [ppln. Rounding_Payment_R]								DEC(38,20)
	, [Correction of Remaining Amount_Payment_R]				DEC(38,20)
	, [Payment Tolerance_Payment_R]								DEC(38,20)
	, [Payment Discount Tolerance_Payment_R]					DEC(38,20)
	, [Payment Tolerance (VAT Excl.)_Payment_R]					DEC(38,20)
	, [Payment Tolerance (VAT Adjustment)_Payment_R]			DEC(38,20)
	, [Payment Discount Tolerance (VAT Excl.)_Payment_R]		DEC(38,20)
	, [Payment Discount Tolerance (VAT Adjustment)_Payment_R]	DEC(38,20)
	, [Team]													VARCHAR(10) COLLATE Latin1_General_CS_AS	
	-- HRS001 >>
	, [Commission Amount]										DEC(38,20)
	, [TAF Amount]												DEC(38,20)
	-- HRS001 <<
	, [Segment]													VARCHAR(50) COLLATE Latin1_General_CS_AS
	, [Difference]												DEC(38,20)
)
CREATE TABLE #CS   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, ChainCode VARCHAR(10) COLLATE Latin1_General_CS_AS, ChainSaldo DECIMAL(37,20),PRIMARY KEY (Company,ChainCode))
CREATE TABLE #CCS  (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, CountryCode varchar(20) COLLATE Latin1_General_CS_AS, ChainCode VARCHAR(10) COLLATE Latin1_General_CS_AS, CountryChainSaldo DECIMAL(37,20), PRIMARY KEY (Company,CountryCode, ChainCode))
CREATE TABLE #CUS  (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, Customer varchar(20) COLLATE Latin1_General_CS_AS, Saldo DECIMAL(37,20), CustSaldo DECIMAL(37,20), PRIMARY KEY (Company,Customer))
CREATE TABLE #BS   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, [Reservierungsnr_] int primary key, [Unknown_R] DECIMAL(37,20), [Initial Entry_R] DECIMAL(37,20), [Application_R] DECIMAL(37,20), [Unrealized Loss_R] DECIMAL(37,20), [Unrealized Gain_R] DECIMAL(37,20), [Realized Loss_R] DECIMAL(37,20), [Realized Gain_R] DECIMAL(37,20), [Payment Discount_Payment_R] DECIMAL(37,20), [Payment Discount (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Discount (VAT Adjustment)_Payment_R] DECIMAL(37,20), [ppln. Rounding_Payment_R] DECIMAL(37,20), [Correction of Remaining Amount_Payment_R] DECIMAL(37,20), [Payment Tolerance_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance_Payment_R] DECIMAL(37,20), [Payment Tolerance (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Tolerance (VAT Adjustment)_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance (VAT Excl.)_Payment_R] DECIMAL(37,20), [Payment Discount Tolerance (VAT Adjustment)_Payment_R] DECIMAL(37,20))
CREATE TABLE #CUSR (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, DebPostenNr int, [Restbetrag (LCY)] DECIMAL(37,20), [Betrag] DECIMAL(37,20), [MWBetrag] DECIMAL(37,20), PRIMARY KEY (Company,DebPostenNr))
CREATE TABLE #PU   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS, [Reservierungsnr_] int, [User] varchar(20),PRIMARY KEY (Company,[Reservierungsnr_]))
CREATE TABLE #AH   (Company VARCHAR(30) COLLATE Latin1_General_CS_AS,[Posted Invoice No_] VARCHAR(20) COLLATE Latin1_General_CS_AS, [MuseID] VARCHAR(20) COLLATE Latin1_General_CS_AS, [Reservation No_] int, [Guestname 1] VARCHAR(250) COLLATE Latin1_General_CS_AS, [Guestname 2] VARCHAR(250) COLLATE Latin1_General_CS_AS, Arrival date,  Departure date, Buchungscode VARCHAR(100) COLLATE Latin1_General_CS_AS, [Rate Typ] int, [Rate Bezeichnung] VARCHAR(250) COLLATE Latin1_General_CS_AS, [Amount of Debits] dec(38,20), [Commission Amount] dec(38,20), [TAF Amount] dec(38,20), [Segment] VARCHAR(50) COLLATE Latin1_General_CS_AS)

SET @Stmt = ''
-- 1. Teil
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES(18, 'Customer')


  SELECT @Stmt = @Stmt
	   + CHAR(13) + '; WITH [_ChainSaldo_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Customer].[Chain] 											AS ChainCode'
	   + CHAR(13) + '        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0)	AS ChainSaldo'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Customer]                                WITH (READUNCOMMITTED)'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)'
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Customer].[No_] = CLE.[Customer No_]'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)'  
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_] '
	   + CHAR(13) + '       AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''	    
	   + CHAR(13) + '    WHERE (1=1) --CLE.[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''
	   + CHAR(13) + ''+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY ['+[CompanyName]+'$Customer].[Chain]'
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #CS'
	   + CHAR(13) + 'SELECT * FROM [_ChainSaldo_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_CountryChainSaldo_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Customer].[Country_Region Code]     AS CountryCode'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Customer].[Chain]                   AS ChainCode'
	   + CHAR(13) + '        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS CountryChainSaldo'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Customer]                                WITH (READUNCOMMITTED)'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)'
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Customer].[No_] = CLE.[Customer No_]'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)'  
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_] '
	   + CHAR(13) + '       AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''	    	   
	   + CHAR(13) + '    WHERE (1=1) --CLE.[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''
	   + CHAR(13) + ''+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY ['+[CompanyName]+'$Customer].[Country_Region Code]'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Customer].[Chain] '
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #CCS'
	   + CHAR(13) + 'SELECT * FROM [_CountryChainSaldo_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_CustomerSaldo_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Customer].[No_]                     AS Customer'
	   + CHAR(13) + '        , COALESCE(SUM(CLE.[SUM$Amount (LCY)]), 0) AS Saldo'
	   + CHAR(13) + '        , COALESCE(SUM(CLE.[SUM$Amount]), 0)       AS CustSaldo'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Customer]                                WITH (READUNCOMMITTED)'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry$VSIFT$13] CLE WITH (READUNCOMMITTED)'
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Customer].[No_] = CLE.[Customer No_]'
	   + CHAR(13) + 'LEFT JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]                      WITH (READUNCOMMITTED)'  
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_] = CLE.[Entry No_] '
	   + CHAR(13) + '       AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''	    	   
	   + CHAR(13) + '    WHERE (1=1) --CLE.[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''' 
	   + CHAR(13) + ''+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY ['+[CompanyName]+'$Customer].[No_]'
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #CUS'
	   + CHAR(13) + 'SELECT * FROM [_CustomerSaldo_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_BookingSums_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , ['+[CompanyName]+'$Cust_ Ledger Entry].[Reservierungsnr_]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  0 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unknown_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  1 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  2 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Application_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  3 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  4 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  5 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  6 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  7 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  8 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  9 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 10 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 11 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 12 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 13 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 14 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 15 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 16 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]'
	   + CHAR(13) + '        , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 17 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)'
	   + CHAR(13) + '     JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)'  
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]'
	   + CHAR(13) + '	  JOIN ['+[CompanyName]+'$Customer]' 
	   + CHAR(13) + '	    ON ['+[CompanyName]+'$Customer].[No_] = ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_]'
	   + CHAR(13) + '    WHERE ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''
       + CHAR(13) + '      AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Reservierungsnr_]<>0' 
	   + CHAR(13) + ''+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY [Reservierungsnr_]'
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #BS'
	   + CHAR(13) + 'SELECT * FROM [_BookingSums_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_DebPostenRestbetragErmitteln_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT DISTINCT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , [Cust_ Ledger Entry No_]                         AS DebPostenNr'
	   + CHAR(13) + '        , SUM([Amount (LCY)])                              AS [Restbetrag (LCY)]'
	   + CHAR(13) + '        , SUM(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount])   AS [Betrag]'
	   + CHAR(13) + '        , SUM('
	   + CHAR(13) + '		  CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] <> 2 '
	   + CHAR(13) + '		    THEN [Amount (LCY)] '
	   + CHAR(13) + '			ELSE 0 '
	   + CHAR(13) + '          END)                                             AS [MWBetrag]'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)'
	   + CHAR(13) + '     JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)'  
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]'	   
	   + CHAR(13) + '     JOIN ['+[CompanyName]+'$Customer] '
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Customer].[No_] = ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Customer No_]'
	   + CHAR(13) + '    WHERE ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''
	   + CHAR(13) + ''+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY [Cust_ Ledger Entry No_]'
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #CUSR'
	   + CHAR(13) + 'SELECT * FROM [_DebPostenRestbetragErmitteln_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_AgencyHeader_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , AH.[Posted Invoice No_]' 
	   + CHAR(13) + '        , AL.[MuseID]'
	   + CHAR(13) + '        , AL.[Reservation No_]'
	   + CHAR(13) + '        , AL.[Client Guestname 1]     AS [Guestname 1]'
	   + CHAR(13) + '        , AL.[Client Guestname 2]     AS [Guestname 2]'
	   + CHAR(13) + '        , MIN(AL.[Arrival Date]) AS Arrival'
	   + CHAR(13) + '        , MAX(AL.[Departure Date])   AS Departure'
	   + CHAR(13) + '        , AL.[Booking Code]           AS Buchungscode'
	   + CHAR(13) + '        , AL.[Rate Type]              AS [Rate Typ]'
	   + CHAR(13) + '        , AL.[Rate Description]       AS [Rate Bezeichnung]'
	   + CHAR(13) + '        , SUM(AL.[Line Amount] '
	   + CHAR(13) + '        / CASE WHEN AL.[Currency Faktor]=0 THEN 1 ELSE AL.[Currency Faktor] END)       AS [Amount of Debits]'
	   + CHAR(13) + '        , SUM(AL.[Line Amount]'
	   + CHAR(13) + '        - AL.[TAF Line Amount])       AS [Commission Amount]'
	   + CHAR(13) + '        , SUM(AL.[TAF Line Amount])   AS [TAF Amount]'
	   + CHAR(13) + '        , CASE WHEN MAX(AL.[Segment]) = 0 THEN '' '' WHEN MAX(AL.[Segment]) = 1 THEN ''Corporate unmanaged'' WHEN MAX(AL.[Segment]) = 2 THEN ''Leisure'' WHEN MAX(AL.[Segment]) = 3 THEN ''Corporate managed commissionable'' WHEN MAX(AL.[Segment]) = 4 THEN ''Corporate managed net'' WHEN MAX(AL.[Segment]) = 5 THEN ''MICE'' END AS [Segment]'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$Agency Display Line]   AL WITH (NOLOCK)'
	   + CHAR(13) + '     JOIN ['+[CompanyName]+'$Agency Display Header] AH WITH (NOLOCK)'
	   + CHAR(13) + '       ON AH.[Case No_] = AL.[Display Case No_]'
	   + CHAR(13) + '      AND AL.[Action] <> 3'
	   + CHAR(13) + '     JOIN ['+[CompanyName]+'$Customer]                 WITH (NOLOCK)'
	   + CHAR(13) + '       ON ['+[CompanyName]+'$Customer].[No_] = AH.[Bill-to Customer No_]'
	   + CHAR(13) + '    WHERE (1=1) ' +[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)
	   + CHAR(13) + ' GROUP BY AH.[Posted Invoice No_] '
	   + CHAR(13) + '        , AL.[MuseID]'
	   + CHAR(13) + '        , AL.[Reservation No_]'
	   + CHAR(13) + '        , AL.[Client Guestname 1]'
	   + CHAR(13) + '        , AL.[Client Guestname 2]'
	   + CHAR(13) + '        , AL.[Booking Code]'
	   + CHAR(13) + '        , AL.[Rate Type]'
	   + CHAR(13) + '        , AL.[Rate Description]              '
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #AH'
	   + CHAR(13) + 'SELECT * FROM [_AgencyHeader_'+[CompanyName]+']'
	   + CHAR(13) + ''
	   + CHAR(13) + ';WITH [_PaymentUser_'+[CompanyName]+'] AS'
	   + CHAR(13) + '('
	   + CHAR(13) + '   SELECT '''+[CompanyName]+''' AS Company'
	   + CHAR(13) + '        , I.[Reservierungsnummer] AS [Reservierungsnr_]'
	   + CHAR(13) + '        , MAX(I.[User]) AS [User]'
	   + CHAR(13) + '     FROM ['+[CompanyName]+'$CDG Import Zahlungszentralen] I WITH (READUNCOMMITTED)'
	   + CHAR(13) + '    WHERE [Reservierungsnummer]<>0'
	   + CHAR(13) + ' GROUP BY [Reservierungsnummer]'
	   + CHAR(13) + ')'
	   + CHAR(13) + 'INSERT INTO #PU'
	   + CHAR(13) + 'SELECT * FROM [_PaymentUser_'+[CompanyName]+']'
	   + CHAR(13) + ''

    FROM #RESULTS_CompanyName
ORDER BY RowNumber
--IF @Debug=1
  EXEC DebugPrint @Stmt

IF @Debug=0
  EXEC   (@Stmt)

SET @Stmt=''

--1ter Teile
--BEGIN WITH Teil (Mandantenabhängig)
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES(18, 'Customer')
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN '; WITH 'ELSE ' , ' END)
+'
          [_Result_'+[CompanyName]+'] AS
          (
     SELECT ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Document No_]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Rg__Gs_-Art]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Open]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Sell-to Customer No_]
          , CASE ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type] 
              WHEN 0 THEN ''Booking'' 
              WHEN 1 THEN ''Payment'' 
              WHEN 2 THEN ''Invoice'' 
              WHEN 3 THEN ''Credit Memo''
              ELSE ''unknown'' 
            END																		AS Belegart
          , ['+[CompanyName]+'$Cust_ Ledger Entry].Description
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Currency Code]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Transaction No_]
          , ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date]
          , ['+[CompanyName]+'$Customer].[Country_Region Code]                      AS Country
          , ['+[CompanyName]+'$Customer].No_                                        AS HotelNo
          , ['+[CompanyName]+'$Customer].Name                                       AS Hotel
          , ['+[CompanyName]+'$Customer].City                                       AS [Hotel city]
          , ['+[CompanyName]+'$Customer].[Salesperson Code]                         AS [Salesperson Code]
          , ['+[CompanyName]+'$Customer].AccorHotelCode                             AS HotelPropID
          , CASE ['+[CompanyName]+'$Customer].[Contract Status] --Gibt es [Job Contract Status] am Custonmer???????
              WHEN  0 THEN ''NO_CONTRACT''
              WHEN  1 THEN ''FREE_SALE''
              WHEN  2 THEN ''FREE_SALE_CHAIN''
              WHEN  3 THEN ''REQUEST_HOTEL''
              WHEN  4 THEN ''REQUEST_CHAIN''
              WHEN  5 THEN ''REQUEST_WITHOUT_CONTRACT''
              WHEN  6 THEN ''CONTRACT_HAS_ERRORS''
              WHEN  7 THEN ''REFUSAL''
              WHEN  8 THEN ''COMPANY_RATE_TO_HOTEL''
              WHEN  9 THEN ''COMPANY_RATE_TO_CHAIN''
              WHEN 10 THEN ''CRS''
              WHEN 11 THEN ''NON_HRS_WITHOUT_CONTRACT''
              WHEN 12 THEN ''UNVERIFIED''
              ELSE ''unknown'' 
            END																		AS VertragStatus
          , ['+[CompanyName]+'$Country_Region].[Name]                               AS [Country Name]
          , ['+[CompanyName]+'$Customer].[Chain]                                    AS Kette
          , ['+[CompanyName]+'$Dimension Value].[Name]                              AS [Kette Description]
          , [_AgencyHeader_'+[CompanyName]+'].MuseID			  					AS Connect
          , [_AgencyHeader_'+[CompanyName]+'].[Reservation No_]
          , REPLACE([_AgencyHeader_'+[CompanyName]+'].[Guestname 1], '';'', '','')  AS [Guestname 1]
          , REPLACE([_AgencyHeader_'+[CompanyName]+'].[Guestname 2], '';'', '','')  AS [Guestname 2]
          , [_AgencyHeader_'+[CompanyName]+'].Arrival
          , [_AgencyHeader_'+[CompanyName]+'].Departure
          , CASE WHEN ['+[CompanyName]+'$Sales Invoice Header].[VAT Bus_ Posting Group]=''INLAND'' THEN 19 ELSE 0 END AS VAT
          , REPLACE([_AgencyHeader_'+[CompanyName]+'].Buchungscode, '';'', '','')   AS Buchungscode
          , [_AgencyHeader_'+[CompanyName]+'].[Rate Typ]
          , [_AgencyHeader_'+[CompanyName]+'].[Rate Bezeichnung]
          , [PaymentUser].[User]													AS [User]
          , ROUND([_AgencyHeader_'+[CompanyName]+'].[Amount of Debits] * CASE WHEN ['+[CompanyName]+'$Sales Invoice Header].[VAT Bus_ Posting Group]=''INLAND'' THEN 1.19 ELSE 1 END, 2) AS [Amount of Debits]
          , ISNULL(CustomerSaldo.Saldo,0)											AS Saldo
          , ISNULL(CustomerSaldo.CustSaldo,0)										AS CustSaldo
          , ISNULL(DebPostenRestbetragErmitteln.[Restbetrag (LCY)],0)				AS Restbetrag
          , ISNULL(DebPostenRestbetragErmitteln.[Betrag],0)							AS Orgbetrag
          , ISNULL(DebPostenRestbetragErmitteln.[MWBetrag],0)						AS MWbetrag
          , ChainSaldo AS KettenSaldo
          , CountryChainSaldo AS LandKettenSaldo
          , [Unknown_R]
          , [Initial Entry_R]
          , [Application_R]
          , [Unrealized Loss_R]
          , [Unrealized Gain_R]
          , [Realized Loss_R]
          , [Realized Gain_R]
          , [Payment Discount_Payment_R]
          , [Payment Discount (VAT Excl.)_Payment_R]
          , [Payment Discount (VAT Adjustment)_Payment_R]
          , [ppln. Rounding_Payment_R]
          , [Correction of Remaining Amount_Payment_R]
          , [Payment Tolerance_Payment_R]
          , [Payment Discount Tolerance_Payment_R]
          , [Payment Tolerance (VAT Excl.)_Payment_R]
          , [Payment Tolerance (VAT Adjustment)_Payment_R]
          , [Payment Discount Tolerance (VAT Excl.)_Payment_R]
          , [Payment Discount Tolerance (VAT Adjustment)_Payment_R]
          , ['+[CompanyName]+'$Customer].[Responsibility Center]			AS Team
		  , [_AgencyHeader_'+[CompanyName]+'].[Commission Amount]
		  , [_AgencyHeader_'+[CompanyName]+'].[TAF Amount]
		  , [_AgencyHeader_'+[CompanyName]+'].[Segment]
       FROM ['+[CompanyName]+'$Cust_ Ledger Entry] WITH (READUNCOMMITTED)
       JOIN ['+[CompanyName]+'$Customer]           WITH (READUNCOMMITTED)          
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_]      = ['+[CompanyName]+'$Customer].[No_] 
	   JOIN ['+[CompanyName]+'$Dimension Value] WITH (READUNCOMMITTED)				
         ON ['+[CompanyName]+'$Dimension Value].Code = ['+[CompanyName]+'$Customer].[Chain]
        AND ['+[CompanyName]+'$Dimension Value].[Dimension Code] = '''+'CHAIN'+'''
       JOIN #CS [ChainSaldo]             
         ON ['+[CompanyName]+'$Customer].[Chain]          = [ChainSaldo].[ChainCode] 
        AND [ChainSaldo].[Company]='''+[CompanyName]+'''
       JOIN ['+[CompanyName]+'$Country_Region]            WITH (READUNCOMMITTED)
         ON ['+[CompanyName]+'$Customer].[Country_Region Code]         = ['+[CompanyName]+'$Country_Region].[Code] 
       JOIN #CCS [CountryChainSaldo] 
         ON ['+[CompanyName]+'$Customer].[Country_Region Code]                = [CountryChainSaldo].[CountryCode] 
        AND ['+[CompanyName]+'$Customer].[Chain]         = [CountryChainSaldo].[ChainCode]
        AND [CountryChainSaldo].[Company]='''+[CompanyName]+'''
       JOIN #CUSR [DebPostenRestbetragErmitteln] 
         ON [DebPostenRestbetragErmitteln].[DebPostenNr] = ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]
        AND [DebPostenRestbetragErmitteln].[Company]='''+[CompanyName]+'''
       JOIN #CUS [CustomerSaldo] 	
         ON [CustomerSaldo].[Customer]                   = ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_] 
        AND [CustomerSaldo].[Company]='''+[CompanyName]+'''
  LEFT JOIN ['+[CompanyName]+'$Sales Invoice Header] WITH (READUNCOMMITTED)
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Document No_]      = ['+[CompanyName]+'$Sales Invoice Header].[No_] 
		AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type]     = 2 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Rg__Gs_-Art]       IN (0,1) --= 1
  LEFT JOIN #AH [_AgencyHeader_'+[CompanyName]+']   WITH (READUNCOMMITTED)
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Document No_]      = [_AgencyHeader_'+[CompanyName]+'].[Posted Invoice No_] 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type]     = 2 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Rg__Gs_-Art]       IN (0,1) --= 1  
  LEFT JOIN #BS [BookingSums]
         ON [BookingSums].[Reservierungsnr_]             = [_AgencyHeader_'+[CompanyName]+'].[Reservation No_] 
  LEFT JOIN #PU [PaymentUser]
         ON [PaymentUser].[Reservierungsnr_]             = [_AgencyHeader_'+[CompanyName]+'].[Reservation No_] 
        AND [PaymentUser].[Company]='''+[CompanyName]+'''
      WHERE ['+[CompanyName]+'$Cust_ Ledger Entry].[Open]              = 1
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''
		    '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)+'
          )
          , [_ResultSum_'+[CompanyName]+'] AS
          (
               SELECT [Document No_]
                    , SUM(COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0)) [Difference]
                 FROM [_Result_'+[CompanyName]+']
             GROUP BY [Document No_]
          )'
FROM #RESULTS_CompanyName
ORDER BY RowNumber

--2ter Teil	
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(18, 'Customer')		   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' UNION ALL ' END)	
+'
     SELECT [_Result_'+[CompanyName]+'].*,[Difference]-Restbetrag [Difference]
       FROM [_Result_'+[CompanyName]+']
       JOIN [_ResultSum_'+[CompanyName]+'] ON [_ResultSum_'+[CompanyName]+'].[Document No_] = [_Result_'+[CompanyName]+'].[Document No_]
      WHERE (1 = 1)
        '  
         +CASE WHEN @VALUEFROM	<> 0  THEN +' AND Saldo >= '+CAST(@VALUEFROM AS VARCHAR) ELSE '' END
         +CASE WHEN @VALUETO	<> 0  THEN +' AND Saldo <= '+CAST(@VALUETO AS VARCHAR)  ELSE '' END+
        '
        AND ((COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0) <> 0.0) OR Belegart<>''Invoice'')
        AND Saldo <> 0.0' 
	FROM #RESULTS_CompanyName
ORDER BY RowNumber 

IF @Debug=0
SELECT @Stmt = @Stmt + ' OPTION (MAXDOP 2)
  SELECT R.*
       , BU.EXTERNAL_BOOKING_SEGMENT [IATA] 
    FROM #RESULTS R 
LEFT JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON BU.B_KEY =R.[Reservierungsnr_]
DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
'

IF @Debug=1 
BEGIN
  EXEC DebugPrint @Stmt
   SELECT R.*
        , BU.EXTERNAL_BOOKING_SEGMENT [IATA] 
     FROM #RESULTS R 
LEFT JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON BU.B_KEY =R.[Reservierungsnr_]
END

IF @Debug=0
  EXEC   (@Stmt)
--ENDE Rückgabetabelle

END

GO
