USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_AmadeusWPSExport]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 24.02.2014
-- Description:	Amadeus-Export für WPS
--              Die Daten aus den Verträgen V0000000105,V0000005948,V0000005949
--              werden zu einem angegebenen Zeitraum exportiert
--
-- 02.05.17 TM Booking Source 800..802 added (Travelport)
-- 03.07.17 TM Booking Source 613 added (LCC)
-- 21.01.19 SAL Booking Source 798 added
-- 11.02.19 TM Booking Source extended to IsGDS=1
-- 11.02.19 DJU HRS005 Added Filter to Rebate Header and Posted Rebate Header
-- 11.02.19 DJU HRS006 Replaced SUM
-- 18.10.23 KMA HRS007 Add Hotel No. and Name
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 70001
EXEC [RS].[PROC_AmadeusWPSExport] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_AmadeusWPSExport] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

--BEGIN Perioden in Variablen eintragen
DECLARE
	@DateEnd            DATETIME
  , @DateStart          DATETIME
  , @DateFilterStart    DATETIME
  , @DateFilterEnd      DATETIME
  , @PartnerType        INT
  , @TableIDs           [RS].[TableIDs]
  , @Stmt               VARCHAR(MAX) = '' 
SET @DateStart = CAST(CAST(YEAR(GETDATE())-1 AS VARCHAR(4))+'-01-01' AS DATETIME)
SET @DateEnd = DATEADD(dd,-1,DATEADD(YEAR,1,@DateStart))

--BEGIN Filter aus den FlowFilter
SET @DateStart = COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
		AND [Field ID]  = 1), @DateStart);	    

SET @DateEnd = COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2), @DateEnd);	
--END Filter aus den FlowFilter

  DELETE FROM @TableIDs
  INSERT INTO @TableIDs 
  VALUES (50142, 'Rebate Agreement Header')
  CREATE TABLE #RESULTS ([Rebate Agreement No_] varchar(20) COLLATE Latin1_General_CS_AS)
  SELECT @Stmt = 
 'INSERT INTO #RESULTS
  SELECT [No_] COLLATE Latin1_General_CS_AS
    FROM [HRS$Rebate Agreement Header] WITH (NOLOCK)
   WHERE 1=1'+ [RS].[Nav2SqlString](@UserId, 'HRS', @ReportId, @TableIDs, 2)
   EXEC (@Stmt)

 DECLARE @Empty int  
  SELECT @Empty = CASE WHEN COUNT(1) > 0 THEN 0 ELSE 1 END
    FROM #RESULTS

 DECLARE @IsTravelportCorrection int
  SELECT @IsTravelportCorrection = CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
    FROM #RESULTS
   WHERE [Rebate Agreement No_]='V0000008511'
     AND @DateStart = CAST(CAST(YEAR(GETDATE())-1 AS VARCHAR(4))+'-01-01' AS DATETIME)
	 AND @DateEnd = DATEADD(dd,-1,DATEADD(YEAR,1,@DateStart))

IF @Empty=1 
BEGIN
  INSERT INTO #RESULTS VALUES ('V0000000105')
  INSERT INTO #RESULTS VALUES ('V0000005948')
  INSERT INTO #RESULTS VALUES ('V0000005949')
  INSERT INTO #RESULTS VALUES ('V0000008511')
  SET @Empty = 0
END    

PRINT @IsTravelportCorrection
-- HRS005 >>
  CREATE TABLE #RH_RESULTS ([Rebate No_] varchar(20) COLLATE Latin1_General_CS_AS)

  DECLARE @RH_Filter int
  SELECT @RH_Filter = COUNT(1)
    FROM [RS-Report Execution]
   WHERE [Start Company] = @CompanyName
	 AND [UserID]	= @UserId
	 AND [Report ID] = @ReportId
	 AND [Table ID]  = 65001

  IF @RH_Filter > 0
  BEGIN
    DELETE FROM @TableIDs
    INSERT INTO @TableIDs 
    VALUES (65001, 'Rebate Header')
    SELECT @Stmt = 
   'INSERT INTO #RH_RESULTS
    SELECT [No_] COLLATE Latin1_General_CS_AS
      FROM [HRS$Rebate Header] WITH (NOLOCK)
     WHERE 1=1'+ [RS].[Nav2SqlString](@UserId, 'HRS', @ReportId, @TableIDs, 2)
    EXEC (@Stmt)
  END

  SELECT @RH_Filter = COUNT(1)
    FROM [RS-Report Execution]
   WHERE [Start Company] = @CompanyName
	 AND [UserID]	= @UserId
	 AND [Report ID] = @ReportId
	 AND [Table ID]  = 65003

  IF @RH_Filter > 0
  BEGIN
    DELETE FROM @TableIDs
    INSERT INTO @TableIDs 
    VALUES (65003, 'Posted Rebate Header')
    SELECT @Stmt = 
   'INSERT INTO #RH_RESULTS
    SELECT [No_] COLLATE Latin1_General_CS_AS
      FROM [HRS$Posted Rebate Header] WITH (NOLOCK)
     WHERE 1=1'+ [RS].[Nav2SqlString](@UserId, 'HRS', @ReportId, @TableIDs, 2)
    EXEC (@Stmt)
  END

 DECLARE @RH_Empty int  
  SELECT @RH_Empty = CASE WHEN COUNT(1) > 0 THEN 0 ELSE 1 END
    FROM #RH_RESULTS
-- HRS005 <<

IF @IsTravelportCorrection=1 
BEGIN
;WITH RL AS
(
   SELECT TA.[Amadeus No_]                              [AGENCY_NUMBER]
        , TI.[IATA Code]                                [AGENCY_IATA]
        , ''                                            [AGENCY_TYPE]
        , ''                                            [AGENCY_CURRENCY]
        , TA.[Name]                                     [AGENCY_TRADING_NM]
        , ''                                            [AGENCY_LEGAL_NM]
        , TA.[Address]                                  [AGENCY_STRADDR1]
        , TA.[Address 2]                                [AGENCY_STRADDR2]
        , TA.[City]                                     [AGENCY_CITY] 
        , TA.[Post Code]                                [AGENCY_POSTCD] 
        , ''                                            [AGENCY_STATECD]
        , COALESCE(CR.[ISO Code],'')                    [AGENCY_CTRYCD]
        , ''                                            [AGENCY_VAT_NO]
        , TA.[Phone No_]                                [AGENCY_TELEPH]
        , ''                                            [AGENCY_TELEFX]
        , TA.[E-Mail]                                   [AGENCY_EMAIL]
        , MAX(RL.[Booking Code])                        [CRS_CONF_NO]
        , ''                                            [HOTEL_RES_NO]
        , MAX(RL.[Process Number])                      [AMADEUS_PRN_REF]     
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            LTRIM(SUBSTRING(RL.[Description]
              , CHARINDEX(',',RL.[Description])+1
              , LEN(RL.[Description])
              - CHARINDEX(',',RL.[Description])+1) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_FIRST_NM]
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            SUBSTRING(RL.[Description]
              , 0
              , CHARINDEX(',',RL.[Description]) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_LAST_NM]
		  , RL.[Hotel No_]                              [Hotel_No]       -- >>>>>>> KMA HRS007
		  , Cust.[Name]                                 [Hotel_Name]     -- >>>>>>> KMA HRS007
        , CONVERT(CHAR(8),MIN(RL.[Arival Date]),112)    [ARRIVAL_DT]
        , CONVERT(CHAR(8),MAX(RL.[Departure Date]),112) [DEPARTURE_DT]
        , 0                                             [NO_OF_ROOMS]   
        , SUM(RL.[Room Nights Post Corection])          [ROOM_NTS]                            
        , SUM(RL.[Turnover (LCY) (corr_)])              [NET_COMMISSION_BASE_AMT]                                 
        , 4.0                                           [COMMISSION_PCT]                                 
        , 'EUR'                                         [AMT_CURRENCY]
        , ''                                            [RATE_CODE_TX]
		-- HRS006 >>
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(RL.[Turnover (LCY) (corr_)]* 4.0/100)
        --  END                                           [COMMISSION_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
        --    END)                                          
        --  END                                           [VAT_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
        --    END)
        --  END                                           [TOTAL_DUE_AMT]
		, SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            RL.[Turnover (LCY) (corr_)]* 4.0/100
          END)                                          [COMMISSION_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
            END                                          
          END)                                          [VAT_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
            END
          END)                                          [TOTAL_DUE_AMT]
		-- HRS006 <<
        , CASE
            WHEN SUM([Turnover (LCY) (corr_)]) = 0.0 THEN 'NS'
            WHEN SUM([Amount (LCY) (corr_)])   = 0.0 THEN 'NC'
            ELSE 'CO'
          END                                           [STAY_FLAG]
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]                            
        , RL.[Document No_]
        , SUM(RL.[Amount (LCY) (corr_)])              [Commission Turnover Post Correction]   
        , 1 - MIN(RL.[Eligible RevShare])             [Payment]   
		, 0 [Posted]       
		, TA.[Sabre No_]                              [AGENCY_NUMBER_SABRE]
		, TA.[Travelport No_]                         [AGENCY_NUMBER_TRAVELPORT]
     FROM DynNavHRS.dbo.[HRS$Rebate Line]                RL WITH (NOLOCK)
	 JOIN DynNavHRS.dbo.[HRS$Rebate Header]              RH WITH (NOLOCK)
	   ON RH.[No_] = RL.[Document No_]
     JOIN DynNavHRS.dbo.[Affiliate Partner]              AF WITH (NOLOCK)
       ON AF.[No_] = RL.[Affiliate Partner No_]
     JOIN DynNavHRS.dbo.[Travelagency]                   TA WITH (NOLOCK)
       ON TA.[No_] = RL.[Travelagency No_]
	 JOIN DynNavHRS.dbo.[Travelport Import Line]         TI WITH (NOLOCK)
       ON TI.[Process No_] = RL.[Process Number]
	 JOIN DynNavHRS.dbo.[Hotelzon]                       HZ WITH (NOLOCK)
       ON HZ.[Process Number] = RL.[Process Number]
LEFT JOIN DynNavHRS.dbo.[HRS$Country_Region]             CR WITH (NOLOCK)
       ON CR.[Code] = TA.[Country_Region Code]
LEFT JOIN DynNavHRS.dbo.[HRS$Customer]                       Cust WITH (NOLOCK) -- >>>>>>> KMA HRS007
       ON Cust.No_ = RL.[Hotel No_]                                         -- >>>>>>> KMA HRS007             
    WHERE (RL.[Rebate Agreement No_] IN (SELECT [Rebate Agreement No_] FROM #RESULTS) OR @Empty=1)
	  -- HRS005 >>
	  AND (RL.[Document No_] IN (SELECT [Rebate No_] FROM #RH_RESULTS) OR @RH_Empty=1)
	  -- HRS005 <<
 GROUP BY TA.[Amadeus No_]     
        , RL.[Reservation Source]
        , RL.[Reservation No_]
        , TA.[Address]
        , TA.[Address 2]
        , COALESCE(CR.[ISO Code],'')
        , TA.[Phone No_]
        , TA.[E-Mail]
        , TA.[Name]
        , TA.[City]
        , TA.[Post Code]
        , TI.[IATA Code]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]
        , RL.[Document No_]
		, TA.[Sabre No_]
		, TA.[Travelport No_]
		, RL.[Hotel No_]-- >>>>>>> KMA HRS007
		, Cust.[Name]-- >>>>>>> KMA HRS007

UNION
   SELECT TA.[Amadeus No_]                              [AGENCY_NUMBER]
        , TI.[IATA Code]                                [AGENCY_IATA]
        , ''                                            [AGENCY_TYPE]
        , ''                                            [AGENCY_CURRENCY]
        , TA.[Name]                                     [AGENCY_TRADING_NM]
        , ''                                            [AGENCY_LEGAL_NM]
        , TA.[Address]                                  [AGENCY_STRADDR1]
        , TA.[Address 2]                                [AGENCY_STRADDR2]
        , TA.[City]                                     [AGENCY_CITY] 
        , TA.[Post Code]                                [AGENCY_POSTCD] 
        , ''                                            [AGENCY_STATECD]
        , COALESCE(CR.[ISO Code],'')                    [AGENCY_CTRYCD]
        , ''                                            [AGENCY_VAT_NO]
        , TA.[Phone No_]                                [AGENCY_TELEPH]
        , ''                                            [AGENCY_TELEFX]
        , TA.[E-Mail]                                   [AGENCY_EMAIL]
        , MAX(RL.[Booking Code])                        [CRS_CONF_NO]
        , ''                                            [HOTEL_RES_NO]
        , MAX(RL.[Process Number])                      [AMADEUS_PRN_REF]     
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            LTRIM(SUBSTRING(RL.[Description]
              , CHARINDEX(',',RL.[Description])+1
              , LEN(RL.[Description])
              - CHARINDEX(',',RL.[Description])+1) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_FIRST_NM]
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            SUBSTRING(RL.[Description]
              , 0
              , CHARINDEX(',',RL.[Description]) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_LAST_NM]
		  , RL.[Hotel No_]                              [Hotel_No]       -- >>>>>>> KMA HRS007
		  , Cust.[Name]                                 [Hotel_Name]     -- >>>>>>> KMA HRS007
        , CONVERT(CHAR(8),MIN(RL.[Arival Date]),112)    [ARRIVAL_DT]
        , CONVERT(CHAR(8),MAX(RL.[Departure Date]),112) [DEPARTURE_DT]
        , 0                                             [NO_OF_ROOMS]   
        , SUM(RL.[Room Nights Post Corection])          [ROOM_NTS]                            
        , SUM(RL.[Turnover (LCY) (corr_)])              [NET_COMMISSION_BASE_AMT]                                 
        , 4.0                                           [COMMISSION_PCT]                                 
        , 'EUR'                                         [AMT_CURRENCY]
        , ''                                            [RATE_CODE_TX]
		-- HRS006 >>
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(RL.[Turnover (LCY) (corr_)]* 4.0/100)
        --  END                                           [COMMISSION_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
        --    END)                                          
        --  END                                           [VAT_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
        --    END)
        --  END                                           [TOTAL_DUE_AMT]
		, SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            RL.[Turnover (LCY) (corr_)]* 4.0/100
          END)                                          [COMMISSION_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
            END                                          
          END)                                          [VAT_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
            END
          END)                                          [TOTAL_DUE_AMT]
		-- HRS006 <<
        , CASE
            WHEN SUM([Turnover (LCY) (corr_)]) = 0.0 THEN 'NS'
            WHEN SUM([Amount (LCY) (corr_)])   = 0.0 THEN 'NC'
            ELSE 'CO'
          END                                           [STAY_FLAG]
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]                            
        , RL.[Document No_]
        , SUM(RL.[Amount (LCY) (corr_)])              [Commission Turnover Post Correction]                                 
        , 1 - MIN(RL.[Eligible RevShare])             [Payment] 
		, 1 [Posted]                            
		, TA.[Sabre No_]                              [AGENCY_NUMBER_SABRE]
		, TA.[Travelport No_]                         [AGENCY_NUMBER_TRAVELPORT]
     FROM DynNavHRS.dbo.[HRS$Posted Rebate Line]         RL WITH (NOLOCK)
	 JOIN DynNavHRS.dbo.[HRS$Posted Rebate Header]       RH WITH (NOLOCK)
	   ON RH.[No_] = RL.[Document No_]
     JOIN DynNavHRS.dbo.[Affiliate Partner]              AF WITH (NOLOCK)
       ON AF.[No_] = RL.[Affiliate Partner No_]
     JOIN DynNavHRS.dbo.[Travelagency]                   TA WITH (NOLOCK)
       ON TA.[No_] = RL.[Travelagency No_]
	 JOIN DynNavHRS.dbo.[Travelport Import Line]         TI WITH (NOLOCK)
       ON TI.[Process No_] = RL.[Process Number]
	 JOIN DynNavHRS.dbo.[Hotelzon]                       HZ WITH (NOLOCK)
       ON HZ.[Process Number] = RL.[Process Number]
LEFT JOIN DynNavHRS.dbo.[HRS$Country_Region]             CR WITH (NOLOCK)
       ON CR.[Code] = TA.[Country_Region Code]
LEFT JOIN DynNavHRS.dbo.[HRS$Customer]                       Cust WITH (NOLOCK) -- >>>>>>> KMA HRS007
       ON Cust.No_ = RL.[Hotel No_]                                         -- >>>>>>> KMA HRS007  
    WHERE RL.[Cancels] = 0
      AND (RL.[Rebate Agreement No_] IN (SELECT [Rebate Agreement No_] FROM #RESULTS) OR @Empty=1)
	  -- HRS005 >>
	  AND (RL.[Document No_] IN (SELECT [Rebate No_] FROM #RH_RESULTS) OR @RH_Empty=1)
	  -- HRS005 <<
 GROUP BY TA.[Amadeus No_]     
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , TA.[Address]
        , TA.[Address 2]
        , COALESCE(CR.[ISO Code],'')
        , TA.[Phone No_]
        , TA.[E-Mail]
        , TA.[Name]
        , TA.[City]
        , TA.[Post Code]
        , TI.[IATA Code]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]
        , RL.[Document No_]
		, TA.[Sabre No_]
		, TA.[Travelport No_]
		, RL.[Hotel No_]-- >>>>>>> KMA HRS007
		, Cust.[Name]-- >>>>>>> KMA HRS007

)        
    SELECT RL.*
      FROM RL
-- 11.02.19  HRS001          TM ++++++++++
	  JOIN [HRS$Booking Source] BS
	    ON BS.[No_] = RL.[Reservation Source]
       AND BS.[Is GDS] = 1
--WHERE [Reservation Source] IN ('565','663','320','798','799','800','801','802')
-- 11.02.19  HRS001          TM ----------
END

IF @IsTravelportCorrection=0
BEGIN
;WITH RL AS
(
   SELECT TA.[Amadeus No_]                              [AGENCY_NUMBER]
        , TA.[IATA]                                     [AGENCY_IATA]
        , ''                                            [AGENCY_TYPE]
        , ''                                            [AGENCY_CURRENCY]
        , TA.[Name]                                     [AGENCY_TRADING_NM]
        , ''                                            [AGENCY_LEGAL_NM]
        , TA.[Address]                                  [AGENCY_STRADDR1]
        , TA.[Address 2]                                [AGENCY_STRADDR2]
        , TA.[City]                                     [AGENCY_CITY] 
        , TA.[Post Code]                                [AGENCY_POSTCD] 
        , ''                                            [AGENCY_STATECD]
        , COALESCE(CR.[ISO Code],'')                    [AGENCY_CTRYCD]
        , ''                                            [AGENCY_VAT_NO]
        , TA.[Phone No_]                                [AGENCY_TELEPH]
        , ''                                            [AGENCY_TELEFX]
        , TA.[E-Mail]                                   [AGENCY_EMAIL]
        , MAX(RL.[Booking Code])                        [CRS_CONF_NO]
        , ''                                            [HOTEL_RES_NO]
        , MAX(RL.[Process Number])                      [AMADEUS_PRN_REF]     
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            LTRIM(SUBSTRING(RL.[Description]
              , CHARINDEX(',',RL.[Description])+1
              , LEN(RL.[Description])
              - CHARINDEX(',',RL.[Description])+1) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_FIRST_NM]
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            SUBSTRING(RL.[Description]
              , 0
              , CHARINDEX(',',RL.[Description]) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_LAST_NM]
		  , RL.[Hotel No_]                              [Hotel_No]       -- >>>>>>> KMA HRS007
		  , Cust.[Name]                                 [Hotel_Name]     -- >>>>>>> KMA HRS007
        , CONVERT(CHAR(8),MIN(RL.[Arival Date]),112)    [ARRIVAL_DT]
        , CONVERT(CHAR(8),MAX(RL.[Departure Date]),112) [DEPARTURE_DT]
        , 0                                             [NO_OF_ROOMS]   
        , SUM(RL.[Room Nights Post Corection])          [ROOM_NTS]                            
        , SUM(RL.[Turnover (LCY) (corr_)])              [NET_COMMISSION_BASE_AMT]                                 
        , 4.0                                           [COMMISSION_PCT]                                 
        , 'EUR'                                         [AMT_CURRENCY]
        , ''                                            [RATE_CODE_TX]
		-- HRS006 >>
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(RL.[Turnover (LCY) (corr_)]* 4.0/100)
        --  END                                           [COMMISSION_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
        --    END)                                          
        --  END                                           [VAT_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
        --    END)
        --  END                                           [TOTAL_DUE_AMT]
		, SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            RL.[Turnover (LCY) (corr_)]* 4.0/100
          END)                                          [COMMISSION_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
            END                                          
          END)                                          [VAT_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
            END
          END)                                          [TOTAL_DUE_AMT]
		-- HRS006 <<
        , CASE
            WHEN SUM([Turnover (LCY) (corr_)]) = 0.0 THEN 'NS'
            WHEN SUM([Amount (LCY) (corr_)])   = 0.0 THEN 'NC'
            ELSE 'CO'
          END                                           [STAY_FLAG]
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]                            
        , RL.[Document No_]
        , SUM(RL.[Amount (LCY) (corr_)])              [Commission Turnover Post Correction]   
        , 1 - MIN(RL.[Eligible RevShare])             [Payment]   
		, 0 [Posted]                          
		, TA.[Sabre No_]                              [AGENCY_NUMBER_SABRE]
		, TA.[Travelport No_]                         [AGENCY_NUMBER_TRAVELPORT]
     FROM DynNavHRS.dbo.[HRS$Rebate Line]                RL WITH (NOLOCK)
	 JOIN DynNavHRS.dbo.[HRS$Rebate Header]              RH WITH (NOLOCK)
	   ON RH.[No_] = RL.[Document No_]
     JOIN DynNavHRS.dbo.[Affiliate Partner]              AF WITH (NOLOCK)
       ON AF.[No_] = RL.[Affiliate Partner No_]
     JOIN DynNavHRS.dbo.[Travelagency]                   TA WITH (NOLOCK)
       ON TA.[No_] = RL.[Travelagency No_]
LEFT JOIN DynNavHRS.dbo.[HRS$Country_Region]             CR WITH (NOLOCK)
       ON CR.[Code] = TA.[Country_Region Code]
LEFT JOIN DynNavHRS.dbo.[HRS$Customer]                       Cust WITH (NOLOCK) -- >>>>>>> KMA HRS007
       ON Cust.No_ = RL.[Hotel No_]                                         -- >>>>>>> KMA HRS007  
    -- HRS005 >>
    -- WHERE RL.[Departure Date] BETWEEN @DateStart AND @DateEnd
	WHERE (RL.[Departure Date] BETWEEN @DateStart AND @DateEnd  OR @RH_Empty=0)
	  AND (RL.[Document No_] IN (SELECT [Rebate No_] FROM #RH_RESULTS) OR @RH_Empty=1)
	-- HRS005 <<
      AND (RL.[Rebate Agreement No_] IN (SELECT [Rebate Agreement No_] FROM #RESULTS) OR @Empty=1)
 GROUP BY TA.[Amadeus No_]     
        , RL.[Reservation Source]
        , RL.[Reservation No_]
        , TA.[Address]
        , TA.[Address 2]
        , COALESCE(CR.[ISO Code],'')
        , TA.[Phone No_]
        , TA.[E-Mail]
        , TA.[Name]
        , TA.[City]
        , TA.[Post Code]
        , TA.[IATA]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]
        , RL.[Document No_]
		, TA.[Sabre No_]
		, TA.[Travelport No_]
		, RL.[Hotel No_]-- >>>>>>> KMA HRS007
		, Cust.[Name]-- >>>>>>> KMA HRS007

UNION
   SELECT TA.[Amadeus No_]                              [AGENCY_NUMBER]
        , TA.[IATA]                                     [AGENCY_IATA]
        , ''                                            [AGENCY_TYPE]
        , ''                                            [AGENCY_CURRENCY]
        , TA.[Name]                                     [AGENCY_TRADING_NM]
        , ''                                            [AGENCY_LEGAL_NM]
        , TA.[Address]                                  [AGENCY_STRADDR1]
        , TA.[Address 2]                                [AGENCY_STRADDR2]
        , TA.[City]                                     [AGENCY_CITY] 
        , TA.[Post Code]                                [AGENCY_POSTCD] 
        , ''                                            [AGENCY_STATECD]
        , COALESCE(CR.[ISO Code],'')                    [AGENCY_CTRYCD]
        , ''                                            [AGENCY_VAT_NO]
        , TA.[Phone No_]                                [AGENCY_TELEPH]
        , ''                                            [AGENCY_TELEFX]
        , TA.[E-Mail]                                   [AGENCY_EMAIL]
        , MAX(RL.[Booking Code])                        [CRS_CONF_NO]
        , ''                                            [HOTEL_RES_NO]
        , MAX(RL.[Process Number])                      [AMADEUS_PRN_REF]     
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            LTRIM(SUBSTRING(RL.[Description]
              , CHARINDEX(',',RL.[Description])+1
              , LEN(RL.[Description])
              - CHARINDEX(',',RL.[Description])+1) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_FIRST_NM]
        , MAX(CASE WHEN CHARINDEX(',',RL.[Description]) > 0 THEN 
            SUBSTRING(RL.[Description]
              , 0
              , CHARINDEX(',',RL.[Description]) ) 
          ELSE 
            RL.[Description] 
          END)                                          [GUEST_LAST_NM]
		  , RL.[Hotel No_]                              [Hotel_No]       -- >>>>>>> KMA HRS007
		  , Cust.[Name]                                 [Hotel_Name]     -- >>>>>>> KMA HRS007
        , CONVERT(CHAR(8),MIN(RL.[Arival Date]),112)    [ARRIVAL_DT]
        , CONVERT(CHAR(8),MAX(RL.[Departure Date]),112) [DEPARTURE_DT]
        , 0                                             [NO_OF_ROOMS]   
        , SUM(RL.[Room Nights Post Corection])          [ROOM_NTS]                            
        , SUM(RL.[Turnover (LCY) (corr_)])              [NET_COMMISSION_BASE_AMT]                                 
        , 4.0                                           [COMMISSION_PCT]                                 
        , 'EUR'                                         [AMT_CURRENCY]
        , ''                                            [RATE_CODE_TX]
		-- HRS006 >>
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(RL.[Turnover (LCY) (corr_)]* 4.0/100)
        --  END                                           [COMMISSION_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
        --    END)                                          
        --  END                                           [VAT_AMT]
        --, CASE WHEN SUM([Amount (LCY) (corr_)])   = 0.0  THEN
        --    0
        --  ELSE
        --    SUM(CASE WHEN TA.[Country_Region Code]='33' THEN
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
        --    ELSE
        --      RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
        --    END)
        --  END                                           [TOTAL_DUE_AMT]
		, SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            RL.[Turnover (LCY) (corr_)]* 4.0/100
          END)                                          [COMMISSION_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 0.0
            END                                          
          END)                                          [VAT_AMT]
        , SUM(CASE WHEN [Amount (LCY) (corr_)]   = 0.0  THEN
            0
          ELSE
            CASE WHEN TA.[Country_Region Code]='33' THEN
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1.19
            ELSE
              RL.[Turnover (LCY) (corr_)]*4.0/100 * 1
            END
          END)                                          [TOTAL_DUE_AMT]
		-- HRS006 <<
        , CASE
            WHEN SUM([Turnover (LCY) (corr_)]) = 0.0 THEN 'NS'
            WHEN SUM([Amount (LCY) (corr_)])   = 0.0 THEN 'NC'
            ELSE 'CO'
          END                                           [STAY_FLAG]
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]                            
        , RL.[Document No_]
        , SUM(RL.[Amount (LCY) (corr_)])              [Commission Turnover Post Correction]                                 
        , 1 - MIN(RL.[Eligible RevShare])             [Payment] 
		, 1 [Posted]                            
		, TA.[Sabre No_]                              [AGENCY_NUMBER_SABRE]
		, TA.[Travelport No_]                         [AGENCY_NUMBER_TRAVELPORT]
     FROM DynNavHRS.dbo.[HRS$Posted Rebate Line]         RL WITH (NOLOCK)
	 JOIN DynNavHRS.dbo.[HRS$Posted Rebate Header]       RH WITH (NOLOCK)
	   ON RH.[No_] = RL.[Document No_]
     JOIN DynNavHRS.dbo.[Affiliate Partner]              AF WITH (NOLOCK)
       ON AF.[No_] = RL.[Affiliate Partner No_]
     JOIN DynNavHRS.dbo.[Travelagency]                   TA WITH (NOLOCK)
       ON TA.[No_] = RL.[Travelagency No_]
LEFT JOIN DynNavHRS.dbo.[HRS$Country_Region]             CR WITH (NOLOCK)
       ON CR.[Code] = TA.[Country_Region Code]
LEFT JOIN DynNavHRS.dbo.[HRS$Customer]                       Cust WITH (NOLOCK) -- >>>>>>> KMA HRS007
       ON Cust.No_ = RL.[Hotel No_]                                         -- >>>>>>> KMA HRS007  
    -- HRS005 >>
    -- WHERE RL.[Departure Date] BETWEEN @DateStart AND @DateEnd
	WHERE (RL.[Departure Date] BETWEEN @DateStart AND @DateEnd OR @RH_Empty=0)	  
	  AND (RL.[Document No_] IN (SELECT [Rebate No_] FROM #RH_RESULTS) OR @RH_Empty=1)
	  -- HRS005 <<
      AND RL.[Cancels] = 0
      AND (RL.[Rebate Agreement No_] IN (SELECT [Rebate Agreement No_] FROM #RESULTS) OR @Empty=1)
 GROUP BY TA.[Amadeus No_]     
        , RL.[Reservation No_]
        , RL.[Reservation Source]
        , TA.[Address]
        , TA.[Address 2]
        , COALESCE(CR.[ISO Code],'')
        , TA.[Phone No_]
        , TA.[E-Mail]
        , TA.[Name]
        , TA.[City]
        , TA.[Post Code]
        , TA.[IATA]
        , AF.[CIBT]
        , AF.[Company-Name]
        , RL.[Affiliate Partner No_]
        , TA.[Travelagency Code]
        , RL.[Rebate Agreement No_]
        , RL.[Document No_]
		, TA.[Sabre No_]
		, TA.[Travelport No_]
		, RL.[Hotel No_]-- >>>>>>> KMA HRS007
		, Cust.[Name]-- >>>>>>> KMA HRS007

)        
SELECT RL.*
  FROM RL
-- 11.02.19  HRS001          TM ++++++++++
	  JOIN [HRS$Booking Source] BS
	    ON BS.[No_] = RL.[Reservation Source]
       AND BS.[Is GDS] = 1
--WHERE [Reservation Source] IN ('565','663','320','798','799','800','801','802')
-- 11.02.19  HRS001          TM ----------

END

END  
GO
