USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustDebitChainV11]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 24.11.2011
-- Description:	Nav Report 50140; RFC-66542
--				Erweiterung des Berichtes CustDebitChainV9a.rdl
--				Nun werden die Felder nebeneinander angezeigt
-- 
-- Datum    Version   RFC    Sign.  Beschreibung
-- ------------------------------------------------------------
-- 09.04.20 HRS001  ACS-2201 DJU    Added TAF Amount
--
/*
SET Language German
DECLARE   @UserId						VARCHAR(20)		= 'EXTDJU02'
		, @CompanyName					VARCHAR(30)		= 'HRS'
		, @ReportId						INT				= 50140
EXEC [RS].[PROC_CustDebitChainV11] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustDebitChainV11] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
) WITH RECOMPILE
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @DepartureDateStart		VARCHAR(10)
		, @DepartureDateEnd			VARCHAR(10)
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)				
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @AliasIDs					[RS].[TableIDs]			

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
		AND [Field ID]  = 55), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 55), '31.12.2999'), 104);	   

SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter

--BEGIN Parameter aus RS-Execution
DECLARE   @BallanceFromAllPostings	VARCHAR(1)
		, @VALUEFROM				DECIMAL(38,20) = 0
		, @VALUETO					DECIMAL(38,20) = 0	
		, @DepartureFrom			DATE
		, @DepartureTo				DATE	
SET @BallanceFromAllPostings = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 1);	
SET @VALUEFROM = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 2);   
SET @VALUETO = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 3);   	 	    	    
SET @DepartureDateStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Filter Value] <> ''
	    AND [Table ID]  = 0
		AND [Field ID]  = 4), '01.01.1753'),104);	    

SET @DepartureDateEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT CAST([Filter Value] AS date)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Filter Value] <> ''
	    AND [Table ID]  = 0
	    AND [Field ID]  = 5), '31.12.2999'), 104);	   
--END Parameter aus RS-Execution	



--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'') 
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl

--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
	( [Hotel No_]					VARCHAR(20)
	, [Accounting Center]			VARCHAR(30)
	, [Document No_]				VARCHAR(20)
	, [Reservation No_]				VARCHAR(20)
	, [Position No_]				INT
	, [Booking Code]				VARCHAR(80)
	, [Arrival Date]				DATETIME
	, [Departure Date]				DATETIME
	, [Number of Nights]			INT
	, [Number of Rooms]				INT
	, [Guest Name 1]				VARCHAR(120)
	, [Guest Name 2]				VARCHAR(120)
	, [Rate Description]			VARCHAR(120)
	, [Commission Base Amount]		DECIMAL(38,20)
	, [Commission Amount]			DECIMAL(38,20)
	, [Payed Amount]				DECIMAL(38,20)
	, [Currency Code]				VARCHAR(10)
	, [Currency Factor]				DECIMAL(38,20)
	, [Gross Factor]				DECIMAL(38,20)
	, [Hotel Turnover]				DECIMAL(38,20)
	, [HRS Turnover]				DECIMAL(38,20)
	, [Commission Amount Total]		DECIMAL(38,20)
	, [Roomnights]					INT
	, [Remaining Amount]			DECIMAL(38,20)
	, [First]						INT
	, [TAF Amount]					DECIMAL(38,20)
	, [TAF Amount Total]			DECIMAL(38,20)
)
--1ter Teile
--BEGIN WITH Teil (Mandantenabhängig)
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES(18, 'Customer')
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN '; WITH 'ELSE ' , ' END)
+'
          [_DebPostenRestbetragErmitteln_'+[CompanyName]+'] AS
          (
             SELECT [Cust_ Ledger Entry No_]																		AS DebPostenNr
                  , SUM([Amount (LCY)])																				AS [Restbetrag (LCY)]
                  , SUM(['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount])																					AS [Betrag]
                  , SUM(CASE WHEN dbo.['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] <> 2 THEN [Amount (LCY)] ELSE 0 END) AS [MWBetrag]
               FROM ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)
               JOIN ['+[CompanyName]+'$Customer] 
                 ON ['+[CompanyName]+'$Customer].[No_] = ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Customer No_]	               
              WHERE (['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''' 
                 OR '+@BallanceFromAllPostings +' = 1)
					'+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)+'                 
           GROUP BY [Cust_ Ledger Entry No_]
          )
          , [_BookingSums_'+[CompanyName]+'] AS
          (
            SELECT ['+[CompanyName]+'$Cust_ Ledger Entry].[Reservierungsnr_]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  0 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unknown_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  1 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Initial Entry_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  2 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Application_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  3 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Loss_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  4 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Unrealized Gain_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  5 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Loss_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  6 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Realized Gain_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  7 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  8 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] =  9 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 10 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [ppln. Rounding_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 11 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Correction of Remaining Amount_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 12 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 13 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 14 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 15 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Tolerance (VAT Adjustment)_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 16 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Excl.)_Payment_R]
                 , SUM(CASE WHEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Entry Type] = 17 THEN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Amount (LCY)] ELSE 0 END) AS [Payment Discount Tolerance (VAT Adjustment)_Payment_R]
              FROM ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] WITH (READUNCOMMITTED)
              JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]         WITH (READUNCOMMITTED)  
                ON ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Cust_ Ledger Entry No_]=['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]
			  JOIN ['+[CompanyName]+'$Customer] 
				ON ['+[CompanyName]+'$Customer].[No_] = ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_]													  
             WHERE (['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry].[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''  
                OR '+@BallanceFromAllPostings +' = 1)
				   '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)+'                                    
          GROUP BY ['+[CompanyName]+'$Cust_ Ledger Entry].[Reservierungsnr_]
          )
          , [_PaymentUser_'+[CompanyName]+'] AS
          (
            SELECT I.[Reservierungsnummer]        [Reservierungsnr_]
                 , MAX(1/[ConversationRate])      [ConversationRate]
                 , SUM(NetCommissionTransactCurrency) [NetCommissionTransactCurrency]
                 , MAX(I.[User]) AS [User]
              FROM ['+[CompanyName]+'$CDG Import Zahlungszentralen] I WITH (READUNCOMMITTED)
          GROUP BY [Reservierungsnummer]
          )
          , [_AgencyHeader_'+[CompanyName]+'] AS
          (
            SELECT AH.[Posted Invoice No_]     [Document No_]
                 , AL.[Reservation No_]
                 , AL.[Position No_]
                 , AL.[Client Guestname 1]     [Guest Name 1]
                 , AL.[Client Guestname 2]     [Guest Name 2]
                 , AL.[Reservation Date from]  [Arrival Date]
                 , AL.[Reservation Date to]    [Departure Date]
                 , AL.[Departure Date]         [Departure Date All]
                 , AL.[Booking Code]           [Booking Code]
                 , AL.[Rate Description]       [Rate Description] 
                 , AL.[Commission Amount]      [Commission Amount]
                 , AL.[Commission Base Amount] [Commission Base Amount]
                 , AL.[Number of Nights]       [Number of Nights]
                 , AL.[Number of Rooms]        [Number of Rooms]
                 , AH.[Currency Code]          [Currency Code]
                 , AL.[Rate Type]              [Rate Type]
                 , AH.[Currency Factor]
				 , AL.[TAF Line Amount]
              FROM ['+[CompanyName]+'$Agency Display Line]   AL WITH (NOLOCK)
              JOIN ['+[CompanyName]+'$Agency Display Header] AH WITH (NOLOCK)
                ON AH.[Case No_] = AL.[Display Case No_]
               AND AL.[Action] <> 3
              JOIN ['+[CompanyName]+'$Customer]                 WITH (NOLOCK)
                ON ['+[CompanyName]+'$Customer].[No_] = AH.[Bill-to Customer No_]
             WHERE (1=1) ' +[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)+ '
          )
		  , [_Result_'+[CompanyName]+'] AS
          (
     SELECT CASE ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type] 
              WHEN 0 THEN ''Booking'' 
              WHEN 1 THEN ''Payment'' 
              WHEN 2 THEN ''Invoice'' 
              WHEN 3 THEN ''Credit Memo''
              ELSE ''unknown'' 
            END																		AS Belegart
          , ['+[CompanyName]+'$Customer].No_                                        AS [Hotel No_]
          , ['+[CompanyName]+'$Customer].[Salesperson Code]                         AS [Salesperson Code]
          , ['+[CompanyName]+'$Customer].[Accounting Center]                        AS [Accounting Center]
          , [_AgencyHeader_'+[CompanyName]+'].[Document No_]
          , [_AgencyHeader_'+[CompanyName]+'].[Reservation No_]
          , [_AgencyHeader_'+[CompanyName]+'].[Position No_]
          , [_AgencyHeader_'+[CompanyName]+'].[Guest Name 1]
          , [_AgencyHeader_'+[CompanyName]+'].[Guest Name 2]
          , [_AgencyHeader_'+[CompanyName]+'].[Arrival Date]
          , [_AgencyHeader_'+[CompanyName]+'].[Departure Date]
          , [_AgencyHeader_'+[CompanyName]+'].[Departure Date All]
          , CASE WHEN ['+[CompanyName]+'$Sales Invoice Header].[VAT Bus_ Posting Group]=''INLAND'' THEN 19 ELSE 0 END AS VAT
          , [_AgencyHeader_'+[CompanyName]+'].[Booking Code]
          , [_AgencyHeader_'+[CompanyName]+'].[Rate Type]
          , [_AgencyHeader_'+[CompanyName]+'].[Rate Description]
          , [PaymentUser].[User]													AS [User]
          , CASE WHEN ['+[CompanyName]+'$Sales Invoice Header].[VAT Bus_ Posting Group]=''INLAND'' THEN 1.19 ELSE 1 END AS [Gross Factor]
          , [_AgencyHeader_'+[CompanyName]+'].[Commission Amount]
          , [_AgencyHeader_'+[CompanyName]+'].[Commission Base Amount]
          , [_AgencyHeader_'+[CompanyName]+'].[Number of Nights]
          , [_AgencyHeader_'+[CompanyName]+'].[Number of Rooms]
          , [_AgencyHeader_'+[CompanyName]+'].[Currency Code]
          , [_AgencyHeader_'+[CompanyName]+'].[Currency Factor]
          , ISNULL(DebPostenRestbetragErmitteln.[Restbetrag (LCY)],0)				AS Restbetrag
          , ISNULL(DebPostenRestbetragErmitteln.[Betrag],0)							AS Orgbetrag
          , ISNULL(DebPostenRestbetragErmitteln.[MWBetrag],0)						AS MWbetrag
          , [Unknown_R]
          , COALESCE([NetCommissionTransactCurrency],[Application_R] * [_AgencyHeader_'+[CompanyName]+'].[Currency Factor],0) [Payed Amount]
          , ['+[CompanyName]+'$Customer].[Responsibility Center]			AS Team
		  , [_AgencyHeader_'+[CompanyName]+'].[TAF Line Amount]             AS [TAF Amount]
       FROM ['+[CompanyName]+'$Cust_ Ledger Entry] WITH (READUNCOMMITTED)
       JOIN ['+[CompanyName]+'$Customer]           WITH (READUNCOMMITTED)          
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Customer No_]      = ['+[CompanyName]+'$Customer].[No_] 
       JOIN [_DebPostenRestbetragErmitteln_'+[CompanyName]+']				[DebPostenRestbetragErmitteln] 
         ON [DebPostenRestbetragErmitteln].[DebPostenNr] = ['+[CompanyName]+'$Cust_ Ledger Entry].[Entry No_]
  LEFT JOIN ['+[CompanyName]+'$Sales Invoice Header] WITH (READUNCOMMITTED)
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Document No_]      = ['+[CompanyName]+'$Sales Invoice Header].[No_] 
		AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type]     = 2 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Rg__Gs_-Art]       IN (0,1) --= 1
  LEFT JOIN [_AgencyHeader_'+[CompanyName]+']   WITH (READUNCOMMITTED)
         ON ['+[CompanyName]+'$Cust_ Ledger Entry].[Document No_]      = [_AgencyHeader_'+[CompanyName]+'].[Document No_] 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Document Type]     = 2 
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Rg__Gs_-Art]       IN (0,1) --= 1  
  LEFT JOIN [_BookingSums_'+[CompanyName]+']								[BookingSums]
         ON [BookingSums].[Reservierungsnr_]             = [_AgencyHeader_'+[CompanyName]+'].[Reservation No_] 
  LEFT JOIN [_PaymentUser_'+[CompanyName]+']								[PaymentUser]
         ON [PaymentUser].[Reservierungsnr_]             = [_AgencyHeader_'+[CompanyName]+'].[Reservation No_] 
      WHERE ['+[CompanyName]+'$Cust_ Ledger Entry].[Open]              = 1
        AND ([PaymentUser].[NetCommissionTransactCurrency] IS NULL OR COALESCE([PaymentUser].[NetCommissionTransactCurrency],0)>0)
        AND ['+[CompanyName]+'$Cust_ Ledger Entry].[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''
		    '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3)+'
          ),[_ResultSUM_'+[CompanyName]+'] AS
          (
            SELECT [_Result_'+[CompanyName]+'].[Reservation No_]
                 , MIN([_Result_'+[CompanyName]+'].[Position No_]) [Position No_]
                 , SUM(
                   [_Result_'+[CompanyName]+'].[Commission Amount]
                 * [_Result_'+[CompanyName]+'].[Number of Nights]
                 * [_Result_'+[CompanyName]+'].[Number of Rooms] 
                 * [_Result_'+[CompanyName]+'].[Gross Factor]
                   ) [HRS Turnover]
                 , SUM([Payed Amount]) [Payed Amount] 
				 , SUM([_Result_'+[CompanyName]+'].[TAF Amount]) [TAF Amount]
              FROM [_Result_'+[CompanyName]+'] 
          GROUP BY [_Result_'+[CompanyName]+'].[Reservation No_]                              
          )'
FROM #RESULTS_CompanyName
ORDER BY RowNumber

--2ter Teil	
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(18, 'Customer')		   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' UNION ALL ' END)	
+'
     SELECT [_Result_'+[CompanyName]+'].[Hotel No_]
          , [_Result_'+[CompanyName]+'].[Accounting Center]
          , [_Result_'+[CompanyName]+'].[Document No_]
          , [_Result_'+[CompanyName]+'].[Reservation No_]
          , [_Result_'+[CompanyName]+'].[Position No_]
          , [_Result_'+[CompanyName]+'].[Booking Code]
          , [_Result_'+[CompanyName]+'].[Arrival Date]
          , [_Result_'+[CompanyName]+'].[Departure Date]
          , [_Result_'+[CompanyName]+'].[Number of Nights]
          , [_Result_'+[CompanyName]+'].[Number of Rooms]
          , [_Result_'+[CompanyName]+'].[Guest Name 1]
          , [_Result_'+[CompanyName]+'].[Guest Name 2]
          , [_Result_'+[CompanyName]+'].[Rate Description]
          , [_Result_'+[CompanyName]+'].[Commission Base Amount]
          , [_Result_'+[CompanyName]+'].[Commission Amount]
          , [_Result_'+[CompanyName]+'].[Payed Amount]
          , [_Result_'+[CompanyName]+'].[Currency Code]
          , [_Result_'+[CompanyName]+'].[Currency Factor]
          , [_Result_'+[CompanyName]+'].[Gross Factor]
          , [_Result_'+[CompanyName]+'].[Commission Base Amount]
          * [_Result_'+[CompanyName]+'].[Number of Nights]
          * [_Result_'+[CompanyName]+'].[Number of Rooms]        [Hotel Turnover]
          , [_Result_'+[CompanyName]+'].[Commission Amount]
          * [_Result_'+[CompanyName]+'].[Number of Nights]
          * [_Result_'+[CompanyName]+'].[Number of Rooms] 
          * [_Result_'+[CompanyName]+'].[Gross Factor]           [HRS Turnover]
          , [_ResultSUM_'+[CompanyName]+'].[HRS Turnover]        [Commission Amount Total]
          , [_Result_'+[CompanyName]+'].[Number of Nights]
          * [_Result_'+[CompanyName]+'].[Number of Rooms]        [Roomnights]
          , [_ResultSUM_'+[CompanyName]+'].[HRS Turnover]
		  + [_ResultSUM_'+[CompanyName]+'].[TAF Amount]
          - [_Result_'+[CompanyName]+'].[Payed Amount]           [Remaining Amount]
          , CASE WHEN [_ResultSUM_'+[CompanyName]+'].[Position No_] = [_Result_'+[CompanyName]+'].[Position No_] THEN 1 ELSE 0 END [First]
		  , [_Result_'+[CompanyName]+'].[TAF Amount]        [TAF Amount]
		  , [_ResultSUM_'+[CompanyName]+'].[TAF Amount]     [TAF Amount Total]
       FROM [_Result_'+[CompanyName]+']
       JOIN [_ResultSUM_'+[CompanyName]+'] ON [_ResultSUM_'+[CompanyName]+'].[Reservation No_] = [_Result_'+[CompanyName]+'].[Reservation No_]       
      WHERE (1 = 1)
        '  
         +CASE WHEN @VALUEFROM	<> 0  THEN +' AND Saldo >= '+CAST(@VALUEFROM AS VARCHAR) ELSE '' END
         +CASE WHEN @VALUETO	<> 0  THEN +' AND Saldo <= '+CAST(@VALUETO AS VARCHAR)  ELSE '' END+
        '
        AND Belegart = ''Invoice''
        --AND ((COALESCE([Amount of Debits],0.0) - COALESCE([Application_R],0.0) <> 0.0) OR Belegart<>''Invoice'')
        AND [_Result_'+[CompanyName]+'].[Departure Date All] BETWEEN ''' + @DepartureDateStart + ''' AND ''' + @DepartureDateEnd + '''
        AND ABS(([_ResultSUM_'+[CompanyName]+'].[HRS Turnover] + [_ResultSUM_'+[CompanyName]+'].[TAF Amount]
          - [_Result_'+[CompanyName]+'].[Payed Amount]) / [_Result_'+[CompanyName]+'].[Currency Factor]) > 0.1
        AND [_ResultSUM_'+[CompanyName]+'].[HRS Turnover] + [_ResultSUM_'+[CompanyName]+'].[TAF Amount] > [_Result_'+[CompanyName]+'].[Payed Amount]
        ' 
	FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,8000)
PRINT	SUBSTRING(@Stmt,16001,8000)
PRINT	SUBSTRING(@Stmt,24001,8000)
PRINT	SUBSTRING(@Stmt,32001,8000)
PRINT	SUBSTRING(@Stmt,40001,8000)
PRINT	SUBSTRING(@Stmt,48001,8000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle

SELECT * FROM #RESULTS ORDER BY [Hotel No_], [Booking Code], [Reservation No_], [Position No_]
--ORDER BY [Sort_Customer_No], [CompanyName], [CustLedgerEntry_PostingDate] 	

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
END
GO
