USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_AffiliatePostingsSumaryWithName_12062017]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 10.07.2015
-- Description:	Copy of [RS].[PROC_AffiliatePostingsSumary]

-- 
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'SAK01'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50151
EXEC [RS].[PROC_AffiliatePostingsSumaryWithName] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_AffiliatePostingsSumaryWithName_12062017] 
(
	  @UserId					VARCHAR(20)
	, @CompanyName			VARCHAR(30)
	, @ReportId					INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @TableIDs2				[RS].[TableIDs]

--BEGIN Filter aus den FlowFilter
SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter


--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'')
	 , ROW_NUMBER() OVER (ORDER BY [Name] DESC)
  FROM [Company] 
WHERE (1=1)
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl


--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
(	  [InvoiceNo]							VARCHAR(20)
	, [ReservationNo]						int
	, [ReservationPartNo]					int
	, [ProcessNo]							int
	, [Turnover_LCY]						DEC(38,20)
	, [Amount_LCY]							DEC(38,20)
	, [CommissionType]						VARCHAR(250)
	, [CommissionRateProz]					DEC(38,20)
	, [CommissionType_corr]                 decimal(37,20)  --New Field (GCE)
	, [Turnover_LCY_corr]					DEC(38,20)
	, [Amount_LCY_corr]						DEC(38,20)
	, [AffiliatePartnerNo]					VARCHAR(250)
	, [ArivalDate]							DATETIME
	, [DepartureDate]						DATETIME
	, [ReservationDate]						DATETIME
	, [ReservationSource]					INT
	, [ReservationSourceName]				VARCHAR(250)
	, [ReservationSourceInterface]			VARCHAR(250)
	, [HotelNo]								int
	, [Description]                         VARCHAR(250)
	, [TopBonusID]                          VARCHAR(250)
	, [Source Country]                      VARCHAR(250)
	, [Destination Country]                 VARCHAR(250)
)
--1ter Teile
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(60031, 'Affiliate Postings'),(64013, 'Booking Source')
;
DELETE FROM @TableIDs2
INSERT INTO @TableIDs2 
VALUES (50142, 'Rebate Agreement Header');
--	  , (379, 'Detailed Cust_ Ledg_ Entry')
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN '; WITH 'ELSE ' , ' END)
+'
[_'+[CompanyName]+'_AP] AS (
  SELECT InvoiceNo
       , ReservationNo
	   , ReservationPartNo
       , ProcessNumber
       , Turnover_LCY
       , Amount_LCY
       , CommissionType
       , CommissionRateProz
       , CommissionType_corr
       , Turnover_LCY_corr
       , Amount_LCY_corr
       , AffiliatePartnerNo
       , ArivalDate
       , DepartureDate
       , ReservationDate
       , [ReservationSource]
       , [HRS$Booking Source].[Name] [ReservationSourceName]
       , I.[String]
       , [HotelNo]
	   , [Description]
	   , [TopBonusID]
	   , SC.[Name] [Source Country]
	   , DC.[Name] [Destination Country]
    FROM ['+[CompanyName]+'$Affiliate Postings] WITH (NOLOCK)
    JOIN [Affiliate Partner] AP WITH (NOLOCK)
      ON AP.[No_] = ['+[CompanyName]+'$Affiliate Postings].[AffiliatePartnerNo]
    JOIN [HRS$Country_Region] SC WITH (NOLOCK)
      ON SC.[Code] = AP.[Country Code]
    JOIN [HRS$Country_Region] DC WITH (NOLOCK)
      ON DC.[Code] = ['+[CompanyName]+'$Affiliate Postings].[CountryCode]
    JOIN [HRS$Booking Source] WITH (NOLOCK)
      ON [HRS$Booking Source].[No_] = ['+[CompanyName]+'$Affiliate Postings].[ReservationSource]
    JOIN dbo.Split(''HHO-SOAP,HHOW,HHO-WIDGET,HWO,HWO_SOAP,JBook,none,SAP_SOAP,SOAP,WAP,'','','') I
      ON I.[Index] = [HRS$Booking Source].Interface
   WHERE (1=1)'+ [RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3) +' 
     --AND AffiliatePartnerNo IN 
     --    (
     --       SELECT [HRS$Affiliate Partner Vendor].[Affiliate Partner No_]
     --         FROM [HRS$Affiliate Partner Vendor] WITH (NOLOCK)
     --         JOIN [HRS$Rebate Agreement Header] WITH (NOLOCK)
     --           ON [HRS$Rebate Agreement Header].[Rebate-to Vendor No_] = [HRS$Affiliate Partner Vendor].[Vendor No_]
     --        WHERE (1=1)'+ [RS].[Nav2SqlString](@UserId, 'HRS', @ReportId, @TableIDs2, 2) +' 
     --    )
)
'   	   
FROM #RESULTS_CompanyName
ORDER BY RowNumber 	


--2ter Teil		
--SELECT @Stmt = @Stmt + ' INSERT INTO #RESULTS 
--	SELECT *
--	  FROM [_HRS-CN_AP]
--	UNION ALL
--	SELECT *
--	  FROM [_HRS_AP]
--'	  
			   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' 
UNION ALL ' END)	
+'	 
	SELECT *
	  FROM [_'+[CompanyName]+'_AP]
'	  
FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,16000)
PRINT	SUBSTRING(@Stmt,16001,24000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle	


SELECT * FROM #RESULTS 
ORDER BY [ReservationNo]

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
END
GO
