USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_GCBookings]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 26.03.2015
-- Description:	Nav Report 50298; RFC-49556
-- 
/*
EXEC [RS].[PROC_GCBookings]
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_GCBookings] 

AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE @dateFrom date
      , @dateTo date

SET @dateFrom = DATEADD(dd,-DATEPART(dd,GETDATE())+1,GETDATE())
SET @dateTo = DATEADD(dd,-1,DATEADD(mm,1,@dateFrom))

SET @dateFrom = DATEADD(dd,-14,@dateFrom)
SET @dateTo = DATEADD(dd,-14,@dateTo)

PRINT @dateFrom
PRINT @dateTo

SELECT AP.[Company-No_]
	 , REPLACE(AP.[Company-Name],'&amp;','&') [Company-Name]
     , AL.[Hotel No_]
	 , CO.[Name] [Hotel Name]
	 , CO.[City] [Hotel City]
	 , CR.[Name] [Hotel Country]
     , AL.[Reservation No_]
     , AL.[Position No_]
	 , AH.[ProcessNumber]
	 , AL.[Room Price]
	 , AL.[Breakfast Price]
	 , AL.[Commission Rate]
	 , AL.[Calculated with Function Desc_]
	 , AH.[Client Guestname 1]
	 , AH.[Client Guestname 2]
	 , AH.[Arrival Date]
	 , AH.[Departure Date]
	 , AH.[Reservation Date]
	 , AL.[Number of Nights]
	 , AL.[Number of Person]
	 , AL.[Number of Rooms]
	 , AL.[Reservation Date from]
	 , AL.[Reservation Date to]
	 , AL.[Room Type]
	 , AL.[Rate Description]
  FROM [HRS$Agency Line]    AL WITH (NOLOCK)
  JOIN [HRS$Agency Header]  AH WITH (NOLOCK)
    ON AH.[Reservation No_] = AL.[Reservation No_]
  JOIN [Affiliate Partner]  AP WITH (NOLOCK)
    ON AP.[No_] = AH.[Client No_]
  JOIN [HRS$Contact]        CO WITH (NOLOCK)
    ON CO.[No_] = AL.[Hotel No_]
  JOIN [HRS$Country_Region] CR WITH (NOLOCK)
    ON CR.[Code] = CO.[Country_Region Code]
 WHERE AH.[Reservation Source] IN (1,2,3,53,75)
   AND AH.[Departure Date] BETWEEN @dateFrom AND @dateTo
   AND AP.[Company-No_] > 0
   AND AH.[Reservation State] IN (0,1)
   AND AL.[Reservation Status] In (0,1,19997)
 ORDER BY AP.[Company-No_], CAST(AL.[Hotel No_] AS int), AH.[Departure Date]
END
GO
