USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_KPIAnalysis_INC0022478]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 01.12.2016
-- Description:	Nav Report 50079
--				KPI Analysis
-- NAV-489 SAK  Testhotel Spalte verursacht Performance Probleme
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'EXTDJU02'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50079
		, @StartDate				DATETIME		= '01.01.2019'
EXEC [RS].[PROC_KPIAnalysis_INC0022478] @UserId, @CompanyName, @ReportId, @StartDate
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_KPIAnalysis_INC0022478] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
	, @StartDate					DATETIME
)
AS
BEGIN

  SET NOCOUNT ON;
  SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
  SET Language German
  DECLARE @PostingDateTo   date = @StartDate
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)		
  DECLARE @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @TableIDs					[RS].[TableIDs]
		, @BalanceMinimum           DECIMAL(37,20) = 0
		, @BalanceMaximum           DECIMAL(37,20) = 0
		, @BalanceMinimumVar        VARCHAR(20) = ''
		, @BalanceMaximumVar        VARCHAR(20) = ''
        , @dateTo          date = '2016-09-30'
	    , @dateFrom        date = '2016-01-01'
        , @dateP30          date = DATEADD(dd,-30,@StartDate)
        , @dateP31          date = DATEADD(dd,-31,@StartDate)
        , @dateP60          date = DATEADD(dd,-60,@StartDate)
        , @dateP61          date = DATEADD(dd,-61,@StartDate)
        , @dateP90          date = DATEADD(dd,-90,@StartDate)
        , @dateP91          date = DATEADD(dd,-90,@StartDate)

  DECLARE @dateP30Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP30, 104)
        , @dateP31Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP31, 104)
        , @dateP60Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP60, 104)
        , @dateP61Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP61, 104)
        , @dateP90Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP90, 104)
        , @dateP91Var VARCHAR(10) = CONVERT(VARCHAR(10), @dateP91, 104)
		, @PostingDateVar VARCHAR(10) = CONVERT(VARCHAR(10), @PostingDateTo, 104)

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
		AND [Field ID]  = 55), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 55), '31.12.2999'), 104);	    
SET @BalanceMinimum = COALESCE
    ((SELECT CAST(REPLACE([Filter Value],',','.') AS DECIMAL(37,20))
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 3),0)
SET @BalanceMinimumVar = STR(@BalanceMinimum,37,20)
SET @BalanceMaximum = COALESCE 
    ((SELECT CAST(REPLACE([Filter Value],',','.') AS DECIMAL(37,20))
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 0
	    AND [Field ID]  = 4),0)
SET @BalanceMaximumVar = STR(@BalanceMaximum,37,20)

	PRINT '@BalanceMinimum = ' + @BalanceMinimumVar
	PRINT '@BalanceMaximum = ' + @BalanceMaximumVar

--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter


  BEGIN --Mandantenauswahl	
    CREATE TABLE #RESULTS_CompanyName ([CompanyName] VARCHAR(30), [RowNumber] INT)  

    DELETE FROM @TableIDs
    INSERT INTO @TableIDs 
    SELECT 2000000006, 'Company'

    SET @StmtCompanyName = '
    INSERT INTO #RESULTS_CompanyName
    SELECT REPLACE([Name],''.'',''_'')
	     , ROW_NUMBER() OVER (ORDER BY [Name])
      FROM [Company] 
     WHERE (1=1) '+ CASE WHEN [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)='' THEN
     ' AND ([Company].[Name] = ''' + @CompanyName + ''')'
    ELSE
      [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)
    END

    SET @StmtCompanyName = @StmtCompanyName
    EXEC(@StmtCompanyName)
    SET @Stmt = ''
  END

  DELETE FROM @TableIDs
  INSERT INTO @TableIDs 
  VALUES(18, 'Customer')

  CREATE TABLE #PreSelectPayment ([No_] varchar(20), [Payed after x Days] int)
  CREATE TABLE #Payment          ([Customer No_] int PRIMARY KEY, [Payed after x Days] decimal(38,20)) -- 09.08.19 SAL HRS002
  CREATE TABLE #CustSummaryAging ([Customer No_] int PRIMARY KEY, [CustBalanceDueLCY1] decimal(38,20), [CustBalanceDueLCY2] decimal(38,20), [CustBalanceDueLCY3] decimal(38,20), [CustBalanceDueLCY4] decimal(38,20), [CustBalanceDueLCY5] decimal(38,20), [TotalAmountLCY] decimal(38,20))
  CREATE TABLE #Invoices         ([Customer No_] int PRIMARY KEY, [Count Invoices] int, [Count Corrections] int)
  CREATE TABLE #Reminder         ([Customer No_] int PRIMARY KEY, [Count Payment Reminder] int, [Count Final Reminder] int, [Count Pending Closure] int, [Count Closure] int)
  CREATE TABLE #DCA              ([Customer No_] int PRIMARY KEY, [Count DCA] int)
  CREATE TABLE #Result           ([Customer No_] int PRIMARY KEY, [Responsibility Center] varchar(10), [Country Name] varchar(50), [Contract Status Name] varchar(50), [Hotel Status Name] varchar(80), [Reason Name] varchar(50), [Payment Method Code] varchar(10), [Chain] varchar(10), [Brand] varchar(10), [Salesperson Code] varchar(10), [Count Invoices] int, [Count Corrections] int, [Count Payment Reminder] int, [Count Final Reminder] int, [Count Pending Closure] int, [Count Closure] int, [Count DCA] int, [Payed after x Days] decimal(38,20), [>90] decimal(38,20), [61-90] decimal(38,20), [31-60] decimal(38,20), [0-30] decimal(38,20), [not dued] decimal(38,20), [Total Amount] decimal(38,20), [Sorted No_] varchar(20))

  IF 1=1
  BEGIN --CustSummaryAging
    SELECT @Stmt = ''
    SELECT @Stmt = @Stmt 
         + (SELECT CASE WHEN RowNumber = 1 THEN ';WITH _CustSummaryAging AS
(' ELSE 'UNION ALL
' END)
       + '	SELECT Customer.[No_]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] < '''+@dateP90Var+'''                        THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY1]	  		 
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN '''+@dateP90Var+''' AND '''+@dateP61Var+''' THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY2]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN '''+@dateP60Var+''' AND '''+@dateP31Var+''' THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY3]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] BETWEEN '''+@dateP30Var+''' AND '''+@PostingDateVar+''' THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY4]
		 , SUM (CASE WHEN CL.[Open] = 1 AND DLE.[Initial Entry Due Date] > '''+@PostingDateVar+'''                        THEN DLE.[Amount (LCY)] ELSE 0 END) [CustBalanceDueLCY5]
		 , SUM (CASE WHEN DLE.[Entry Type] = 1 AND CL.[Document Type] = 2                                      THEN DLE.[Amount (LCY)] ELSE 0 END) [TotalAmountLCY]
	  FROM ['+[CompanyName]+'$Customer]                    Customer WITH (NOLOCK)
	  JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = Customer.[No_] 	
	  JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date]  <= '''+@PostingDateVar+'''
	   AND CL.[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)+'
  GROUP BY Customer.[No_]
'
      FROM #RESULTS_CompanyName
  ORDER BY RowNumber 

    SELECT @Stmt = @Stmt
         + ')
    INSERT INTO #CustSummaryAging
	SELECT CU.[No_]
		 , SUM ([CustBalanceDueLCY1])      [CustBalanceDueLCY1]	  		 
		 , SUM ([CustBalanceDueLCY2])      [CustBalanceDueLCY2]
		 , SUM ([CustBalanceDueLCY3])      [CustBalanceDueLCY3]
		 , SUM ([CustBalanceDueLCY4])      [CustBalanceDueLCY4]
		 , SUM ([CustBalanceDueLCY5])      [CustBalanceDueLCY5]
		 , SUM ([TotalAmountLCY])          [TotalAmountLCY]
	  FROM _CustSummaryAging CU
  GROUP BY CU.[No_]'
    PRINT @Stmt
    EXEC(@Stmt)
  END

  IF 1=1
  BEGIN --Invoices
    SELECT @Stmt = ''
    SELECT @Stmt = @Stmt 
         + (SELECT CASE WHEN RowNumber = 1 THEN ';WITH _Invoices AS
(' ELSE 'UNION ALL
' END)
       + '    SELECT CL.[Customer No_]
	     , SUM(CASE WHEN CL.[Document No_] LIKE ''%/%'' THEN 0 ELSE 1 END) [Count Invoices]
	     , SUM(CASE WHEN CL.[Document No_] LIKE ''%/%'' THEN 1 ELSE 0 END) [Count Corrections]
	  FROM ['+[CompanyName]+'$Cust_ Ledger Entry] CL WITH (NOLOCK)
	  JOIN ['+[CompanyName]+'$Customer]                    Customer WITH (NOLOCK)
		ON CL.[Customer No_]              = Customer.[No_] 	
 	 WHERE CL.[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)+'
	   AND CL.[Document Type] = 2
  GROUP BY CL.[Customer No_]
'
      FROM #RESULTS_CompanyName
  ORDER BY RowNumber 

    SELECT @Stmt = @Stmt
         + ')
    INSERT INTO #Invoices
    SELECT CL.[Customer No_]
	     , SUM([Count Invoices]) [Count Invoices]
	     , SUM([Count Corrections]) [Count Corrections]
	  FROM _Invoices CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]'
    PRINT @Stmt
    EXEC(@Stmt)
  END

  IF 1=1
  BEGIN --Reminder
    SELECT @Stmt = ''
    SELECT @Stmt = @Stmt 
         + (SELECT CASE WHEN RowNumber = 1 THEN ';WITH _Reminder AS
(' ELSE 'UNION ALL
' END)
       + '    SELECT RH.[Customer No_]
	     , SUM(CASE WHEN RH.[Reminder Level]=1 AND RH.[Document Type] IN (''8'',''16'')  THEN 1 ELSE 0 END) [Count Payment Reminder]
	     , SUM(CASE WHEN RH.[Reminder Level]>1 AND RH.[Document Type] IN (''8'',''16'')  THEN 1 ELSE 0 END) [Count Final Reminder]
	     , SUM(CASE WHEN                           RH.[Document Type] IN (''20'',''25'') THEN 1 ELSE 0 END) [Count Pending Closure]
	     , SUM(CASE WHEN                           RH.[Document Type] IN (''21'',''26'') THEN 1 ELSE 0 END) [Count Closure]
	  FROM ['+[CompanyName]+'$Issued Reminder Header] RH WITH (NOLOCK)
	  JOIN ['+[CompanyName]+'$Customer]                    Customer WITH (NOLOCK)
		ON RH.[Customer No_]              = Customer.[No_] 	
 	 WHERE RH.[Posting Date]  <= '''+@PostingDateVar+'''
	   AND RH.[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)+'
	   AND RH.[Document Type] IN (''8'',''16'',''20'',''21'',''25'',''26'')
  GROUP BY RH.[Customer No_]'
      FROM #RESULTS_CompanyName
  ORDER BY RowNumber 

    SELECT @Stmt = @Stmt
         + ')
    INSERT INTO #Reminder
    SELECT CL.[Customer No_]
	     , SUM([Count Payment Reminder]) [Count Payment Reminder]
	     , SUM([Count Final Reminder]) [Count Final Reminder]
	     , SUM([Count Pending Closure]) [Count Pending Closure]
	     , SUM([Count Closure]) [Count Closure]
	  FROM _Reminder CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]'
    PRINT @Stmt
    EXEC(@Stmt)
  END

  IF 1=1
  BEGIN --DCA
    SELECT @Stmt = ''
    SELECT @Stmt = @Stmt 
         + (SELECT CASE WHEN RowNumber = 1 THEN ';WITH _DCA AS
(' ELSE 'UNION ALL
' END)
       + '    SELECT CL.[Hotel No_] [Customer No_]
	     , COUNT(1) [Count DCA]
	  FROM ['+[CompanyName]+'$Debit Collection Case] CL WITH (NOLOCK)
	  JOIN ['+[CompanyName]+'$Customer]                    Customer WITH (NOLOCK)
		ON CL.[Hotel No_]              = Customer.[No_] 	
 	 WHERE CL.[Been Added Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)+'
	   AND CL.[State] IN (0,1,2,3)
  GROUP BY CL.[Hotel No_]'
      FROM #RESULTS_CompanyName
  ORDER BY RowNumber 

    SELECT @Stmt = @Stmt
         + ')
    INSERT INTO #DCA
    SELECT CL.[Customer No_]
	     , SUM([Count DCA]) [Count DCA]
	  FROM _DCA CL WITH (NOLOCK)
  GROUP BY CL.[Customer No_]'
    PRINT @Stmt
    EXEC(@Stmt)
  END

  IF 1=1
  BEGIN --Payments
    SELECT @Stmt = ''
    SELECT @Stmt = @Stmt 
         + (SELECT CASE WHEN RowNumber = 1 THEN 'INSERT INTO #PreSelectPayment  
' ELSE 'UNION ALL
' END)
       + '	SELECT Customer.[No_]
		 , DATEDIFF(dd,C2.[Posting Date], CL.[Posting Date]) [Payed after x Days]
	  FROM ['+[CompanyName]+'$Customer]                    Customer WITH (NOLOCK)
	  JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] DLE WITH (NOLOCK)
		ON DLE.[Customer No_]              = Customer.[No_] 	
	  JOIN ['+[CompanyName]+'$Detailed Cust_ Ledg_ Entry] DL2 WITH (NOLOCK)
		ON DL2.[Applied Cust_ Ledger Entry No_] = DLE.[Applied Cust_ Ledger Entry No_]
       AND DL2.[Entry Type]                     = DLE.[Entry Type]
       AND DL2.[Entry No_]                     <> DLE.[Entry No_]
	  JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]          CL WITH (NOLOCK)
		ON CL.[Entry No_]                  = DLE.[Cust_ Ledger Entry No_] 	
	   AND CL.[Open]                       = 0 
	  JOIN ['+[CompanyName]+'$Cust_ Ledger Entry]          C2 WITH (NOLOCK)
		ON C2.[Entry No_]                  = DL2.[Cust_ Ledger Entry No_] 	
 	 WHERE CL.[Posting Date]  <= '''+@PostingDateVar+'''
	   AND CL.[Document Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+''''+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)+'
	   AND CL.[Document Type] = 1
	   AND DATEDIFF(dd,C2.[Posting Date], CL.[Posting Date])>=0
	   AND DLE.[Entry Type] = 2
'
      FROM #RESULTS_CompanyName
  ORDER BY RowNumber 

    SELECT @Stmt = @Stmt
         + '
    INSERT INTO #Payment
    SELECT PM.[No_]
	     , AVG([Payed after x Days]) [Payed after x Days]
	  FROM #PreSelectPayment PM
  GROUP BY PM.[No_]'
    PRINT @Stmt
    EXEC(@Stmt)
  END

  IF 1=1 -- Result
  BEGIN
  SET @Stmt = '
    INSERT INTO #Result
	SELECT Customer.[No_]
		 , Customer.[Responsibility Center]
		 , CR.[Name]                  [Country Name]
         , CS.[Name]                  [Contract Status Name]
		 , HS.[Description]           [Hotel Status Name]
         , LS.[Name]                  [Reason Name]
		 , Customer.[Payment Method Code]
		 , Customer.[Chain]
		 , Customer.[Brand]
		 , Customer.[Salesperson Code]
		 , IC.[Count Invoices]
		 , IC.[Count Corrections]
		 , RE.[Count Payment Reminder]
		 , RE.[Count Final Reminder]
		 , RE.[Count Pending Closure]
		 , RE.[Count Closure]
		 , DC.[Count DCA]
		 , PM.[Payed after x Days]
		 , CL.[CustBalanceDueLCY1] [>90]
		 , CL.[CustBalanceDueLCY2] [61-90]
		 , CL.[CustBalanceDueLCY3] [31-60]
		 , CL.[CustBalanceDueLCY4] [0-30]
		 , CL.[CustBalanceDueLCY5] [not dued]
		 , CL.[TotalAmountLCY]     [Total Amount]
		 , REPLACE(SPACE(20-LEN(Customer.[No_])), '' '' , ''0'') + LTRIM(Customer.[No_]) [Sorted No_]
	  FROM [HRS$Customer]                    Customer WITH (NOLOCK)
 LEFT JOIN #CustSummaryAging                 CL
        ON CL.[Customer No_]               = Customer.[No_]
 LEFT JOIN #Invoices                         IC
        ON IC.[Customer No_]               = Customer.[No_]
 LEFT JOIN #Reminder                         RE
        ON RE.[Customer No_]               = Customer.[No_]
 LEFT JOIN #Payment                          PM
        ON PM.[Customer No_]               = Customer.[No_]
 LEFT JOIN #DCA                              DC
        ON DC.[Customer No_]               = Customer.[No_]
	  JOIN [HRS$Contact]                     CO WITH (NOLOCK)
		ON CO.[No_]                        = Customer.[No_] 
      JOIN [HRS$Dimension Value]             CS WITH (NOLOCK)
	    ON CS.[Code]                       = Customer.[Contract Status]
       AND CS.[Dimension Code]             = ''CONTRACT STATUS''
 LEFT JOIN [HRS$Dimension Value]             LS WITH (NOLOCK)
	    ON LS.[Code]                       = Customer.[Reason Code]
       AND LS.[Dimension Code]             = ''LOCKSTATUS''
      JOIN [HRS$Hotel Status]                HS WITH (NOLOCK)
        ON HS.[Status]                     = Customer.[Hotel Status]
	  JOIN [HRS$Country_Region]              CR WITH (NOLOCK)
		ON CR.[Code]                       = CO.[Country_Region Code] 	
 	 WHERE Customer.[Testhotel]            <> ''TESTHOTEL'''+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

    IF @BalanceMaximum > @BalanceMinimum
      SET @Stmt = @Stmt + '
       AND COALESCE(CL.[TotalAmountLCY],0) BETWEEN '+@BalanceMinimumVar+' AND '+@BalanceMaximumVar

	IF @BalanceMaximum < @BalanceMinimum
      SET @Stmt = @Stmt + '
       AND COALESCE(CL.[TotalAmountLCY],0) >= '+@BalanceMinimumVar

	IF @BalanceMaximum = @BalanceMinimum  AND @BalanceMaximum <> 0
      SET @Stmt = @Stmt + '
       AND COALESCE(CL.[TotalAmountLCY],0) = '+@BalanceMinimumVar
	
	PRINT @Stmt   
    EXEC(@Stmt)
  END

  SELECT * FROM #Result ORDER BY 1
END
GO
