USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_AdditionalAffiliatePostingsSumaryWithAssignment]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 21.05.21
-- Description:	Copy of [RS].[PROC_AffiliatePostingsSumaryWithAssignment]

-- 
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'NAV'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50155
EXEC [RS].[PROC_AdditionalAffiliatePostingsSumaryWithAssignment] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_AdditionalAffiliatePostingsSumaryWithAssignment] 
(
	  @UserId					VARCHAR(20)
	, @CompanyName			VARCHAR(30)
	, @ReportId					INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @Filter_GloDim1			VARCHAR(MAX)		
		, @Filter_GloDim2			VARCHAR(MAX)
		, @Filter_Currency			VARCHAR(MAX)
		, @TableIDs					[RS].[TableIDs]
		, @TableIDs2				[RS].[TableIDs]

--BEGIN Filter aus den FlowFilter
SET @Filter_GloDim1 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 56)	  

SET @Filter_GloDim2 = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 57)

SET @Filter_Currency = 
	(SELECT [Filter Value]
	   FROM [RS-Report Execution]
 	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 18
	    AND [Field ID]  = 111)	
--Ship-to-Filter nicht beachtet!	        	   
--ENDE Filter aus FlowFilter


--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT REPLACE([Name],''.'',''_'')
	 , ROW_NUMBER() OVER (ORDER BY [Name] DESC)
  FROM [Company] 
WHERE (1=1) AND [Name] IN (''HRS'',''HRS-CN'',''HRS-BR'')
'+ [RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl


--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
(	  [InvoiceNo]							VARCHAR(20)
	, [ReservationNo]						int
	, [ReservationPartNo]					int
	, [ProcessNo]							int
    , [Product]                             varchar(30)
	, [Turnover_LCY]						DEC(38,20)
	, [Amount_LCY]							DEC(38,20)
	, [TAFAmount_LCY]						DEC(38,20)
	, [CommissionType]						VARCHAR(250)
	, [CommissionRateProz]					DEC(38,20)
	, [Turnover_LCY_corr]					DEC(38,20)
	, [Amount_LCY_corr]						DEC(38,20)
	, [TAFAmount_LCY_corr]					DEC(38,20)
	, [AffiliatePartnerNo]					VARCHAR(250)
	, [ArivalDate]							DATETIME
	, [DepartureDate]						DATETIME
	, [ReservationDate]						DATETIME
	, [ReservationSource]					INT
	, [ReservationSourceName]				VARCHAR(250)
	, [ReservationSourceInterface]			VARCHAR(250)
	, [HotelNo]								int
	, [Description]                         VARCHAR(250)
	, [TopBonusID]                          VARCHAR(250)
	, [Source Country]                      VARCHAR(250)
	, [Destination Country]                 VARCHAR(250)
	, [BookingCode]                         VARCHAR(250)
	, [NonComm]								int
	, [Assignment]							int
	, [VendorNo]							VARCHAR(20)
	, [VendorName]							VARCHAR(250)
	, [KKeyName]							VARCHAR(250)
	, [FKey]								VARCHAR(250)
	, [FKeyName]							VARCHAR(250)
	, [CompanyID]							VARCHAR(250)
	, [MasterAccountName]					VARCHAR(250)
    , [Commission Type]                     int
    , [Function Description]                VARCHAR(250)
    , [Chain ID]                            VARCHAR(10)
    , [Chain Name]                          VARCHAR(100)
)
--1ter Teile
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(50213, 'Additional Affiliate Postings'),(64013, 'Booking Source')
;
DELETE FROM @TableIDs2
INSERT INTO @TableIDs2 
VALUES (50142, 'Rebate Agreement Header');
--	  , (379, 'Detailed Cust_ Ledg_ Entry')

SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN '; WITH 'ELSE ' , ' END)
+'
[_'+[CompanyName]+'_AP] AS (
  SELECT InvoiceNo
       , ReservationNo
	   , ReservationPartNo
       , DL.ProcessNumber
       , P.[String] [Product]
       , Turnover_LCY
       , [Agency Amount (LCY)] Amount_LCY
       , [TAF Amount (LCY)]
       , CommissionType_corr CommissionType
       , CommissionRateProz_corr CommissionRateProz
       , Turnover_LCY_corr
       , [Agency Amount (LCY) (corr_)] Amount_LCY_corr
       , [TAF Amount (LCY) (corr_)]
       , AffiliatePartnerNo
       , ArivalDate
       , DepartureDate
       , ReservationDate
       , [ReservationSource]
       , [HRS$Booking Source].[Name] [ReservationSourceName]
       , I.[String]
       , [HotelNo]
	   , DL.[Description]HHO
	   , [TopBonusID]
	   , SC.[Name] [Source Country]
	   , DC.[Name] [Destination Country]
	   , BookingCode
	   , CASE WHEN Amount_LCY_corr = 0 THEN 1 ELSE 0 END [NonComm]
	   , CASE WHEN APV.[Vendor No_] IS NULL THEN 0 ELSE 1 END [Assignment]
	   , APV.[Vendor No_]
	   , V.[Name]
	   , AP.[Company-Name]
	   , AP.[Company-No_]
	   , AP.[Customer Name]
	   , AP.[Company-ID]
	   , AP.[Master Account Name]
       , DL.[Commission Type]
       , CASE WHEN DL.[TAF Function Desc_]<>'''' THEN DL.[TAF Function Desc_] ELSE DL.[Calculated with Function Desc_] END [Function Description]
       , DH.[Chain Code]
       , CH.[Description]
    FROM ['+[CompanyName]+'$Additional Affiliate Postings] WITH (NOLOCK)
    JOIN ['+[CompanyName]+'$Agency Display Line] DL WITH (NOLOCK)
      ON DL.[Reservation No_]=CAST(ReservationNo AS varchar(20)) AND DL.[Position No_]=ReservationPartNo
    JOIN ['+[CompanyName]+'$Agency Display Header] DH WITH (NOLOCK)
      ON DH.[Case No_]=DL.[Display Case No_] AND DH.[Posted Invoice No_]=['+[CompanyName]+'$Additional Affiliate Postings].InvoiceNo
LEFT JOIN [Chain] CH WITH (NOLOCK) ON CH.[Code]=DH.[Chain Code] 
    JOIN [Affiliate Partner] AP WITH (NOLOCK)
      ON AP.[No_] = ['+[CompanyName]+'$Additional Affiliate Postings].[AffiliatePartnerNo]
    JOIN [HRS$Country_Region] SC WITH (NOLOCK)
      ON SC.[Code] = AP.[Country Code]
    JOIN [HRS$Country_Region] DC WITH (NOLOCK)
      ON DC.[Code] = ['+[CompanyName]+'$Additional Affiliate Postings].[CountryCode]
    JOIN [HRS$Booking Source] WITH (NOLOCK)
      ON [HRS$Booking Source].[No_] = ['+[CompanyName]+'$Additional Affiliate Postings].[ReservationSource]
    JOIN dbo.Split(''HHO-SOAP,HHOW,HHO-WIDGET,HWO,HWO_SOAP,JBook,none,SAP_SOAP,SOAP,WAP,'','','') I
      ON I.[Index] = [HRS$Booking Source].Interface
    JOIN dbo.Split(''Traveler TAF,Chain TAF,Partnership Fee,Additional Commission,PFP,Override,Sourcing Fee'','','') P
      ON P.[Index] = ['+[CompanyName]+'$Additional Affiliate Postings].Product
LEFT JOIN [HRS$Affiliate Partner Vendor] APV WITH (NOLOCK) 
      ON ['+[CompanyName]+'$Additional Affiliate Postings].AffiliatePartnerNo = APV.[Affiliate Partner No_]
LEFT JOIN [HRS$Vendor] V WITH (NOLOCK)
	  ON APV.[Vendor No_] = V.[No_]
   WHERE (1=1)'+ [RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 3) +' 
    --AND [Travelagency No_] NOT IN (SELECT [Travelagency No_] FROM [HRS$Vendor Travelagency])
    --AND AffiliatePartnerNo NOT IN (SELECT [Affiliate Partner No_] FROM [HRS$Affiliate Partner Vendor])
	'+ CASE WHEN [RS].[Nav2SqlString](@UserId, REPLACE(@CompanyName,'.','_'), @ReportId, @TableIDs2, 2)<>'' THEN '
     AND AffiliatePartnerNo IN 
         (
            SELECT ['+REPLACE(@CompanyName,'.','_')+'$Affiliate Partner Vendor].[Affiliate Partner No_]
              FROM ['+REPLACE(@CompanyName,'.','_')+'$Affiliate Partner Vendor] WITH (NOLOCK)
              JOIN ['+REPLACE(@CompanyName,'.','_')+'$Rebate Agreement Header] WITH (NOLOCK)
                ON ['+REPLACE(@CompanyName,'.','_')+'$Rebate Agreement Header].[Rebate-to Vendor No_] = ['+REPLACE(@CompanyName,'.','_')+'$Affiliate Partner Vendor].[Vendor No_]
             WHERE (1=1)'+ [RS].[Nav2SqlString](@UserId, REPLACE(@CompanyName,'.','_'), @ReportId, @TableIDs2, 2) +' 
         )' ELSE '' END +'
)
'   	   
FROM #RESULTS_CompanyName
ORDER BY RowNumber 	


--2ter Teil		
--SELECT @Stmt = @Stmt + ' INSERT INTO #RESULTS 
--	SELECT *
--	  FROM [_HRS-CN_AP]
--	UNION ALL
--	SELECT *
--	  FROM [_HRS_AP]
--'	  
			   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' 
UNION ALL ' END)	
+'	 
	SELECT *
	  FROM [_'+[CompanyName]+'_AP]
'	  
FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,16000)
PRINT	SUBSTRING(@Stmt,16001,24000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle	


SELECT * FROM #RESULTS 
ORDER BY [ReservationNo]

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
END

GO
