USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_AffiliatePartner_List]    Script Date: 10.04.2024 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 02.02.2012
-- Description:	
-- 
/*
SET Language German
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50141
EXEC [RS].[AffiliatePartner] @UserId, @CompanyName, @ReportId
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_AffiliatePartner_List]
(
	  @UserId					VARCHAR(20)
	, @CompanyName				VARCHAR(30)
	, @ReportId					INT
)
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						AS VARCHAR(MAX) = '' 
		, @TableIDs					AS [RS].[TableIDs]

CREATE TABLE #RESULTS 
(	 
      [No_]							int,
	  [Company-Name]				VARCHAR(160)
)

SET @Stmt = ''

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES (60031, 'Affiliate Postings');
SELECT @Stmt = '; WITH [_AP] AS (
            SELECT DISTINCT [Affiliate Partner].[No_], [Affiliate Partner].[Company-Name]
              FROM [Affiliate Partner] WITH (NOLOCK)
              JOIN [HRS$Affiliate Postings] WITH (NOLOCK)
                ON [Affiliate Partner].[No_] = [HRS$Affiliate Postings].[AffiliatePartnerNo]
             WHERE (1=1)'+ [RS].[Nav2SqlString](@UserId, 'HRS', @ReportId, @TableIDs, 2) +' 
) 
INSERT #RESULTS
SELECT [No_],[Company-Name] FROM _AP
'   	   	

EXEC   (@Stmt)

SELECT * FROM #RESULTS
END
GO
