USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_CustomerReminderamounts]    Script Date: 10.04.2024 14:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Ralph Prangenberg
-- Create date: 13.07.2011
-- Description:	Nav Report 50019
--				Debitor - Mahnbeträge


-- 
/*
DECLARE   @UserId					VARCHAR(20)		= 'TMA04'
		, @CompanyName				VARCHAR(30)		= 'HRS' 
		, @ReportId					INT				= 50019
		, @UseLCY                   BIT             = 1
EXEC [RS].[PROC_CustomerReminderamounts] @UserId, @CompanyName, @ReportId, @UseLCY
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_CustomerReminderamounts] 
(
	  @UserId						VARCHAR(20)
	, @CompanyName					VARCHAR(30)
	, @ReportId						INT
	, @UseLCY                       INT
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German

DECLARE   @Stmt						VARCHAR(MAX) = '' 
		, @StmtCompanyName			VARCHAR(MAX) = ''
		, @Filter					VARCHAR(MAX) = ''
		, @DateFilterStart			VARCHAR(10)
		, @DateFilterEnd			VARCHAR(10)		
		, @TableIDs					[RS].[TableIDs]
		
DECLARE @ActualDate VARCHAR(10)
 SELECT @ActualDate = CONVERT(VARCHAR(10),GETDATE(),104)

--BEGIN Filter aus den FlowFilter
SET @DateFilterStart = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 0, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 167
		AND [Field ID]  = 51), '01.01.1753'),104);	    

SET @DateFilterEnd = CONVERT(VARCHAR(10), COALESCE(
	(SELECT SUBSTRING([Filter Value], 13, 
			CASE WHEN CHARINDEX('..', [Filter Value]) > 0 THEN 11 ELSE 250 END)
	   FROM [RS-Report Execution]
	  WHERE [Start Company] = @CompanyName
	    AND [UserID]	= @UserId
	    AND [Report ID] = @ReportId
	    AND [Table ID]  = 167
	    AND [Field ID]  = 51), '31.12.2999'), 104);	            	   
--ENDE Filter aus FlowFilter

--BEGIN Mandantenauswahl	
CREATE TABLE #RESULTS_CompanyName 
(
	    [CompanyName]			VARCHAR(30)
	  , [RowNumber]				INT
)  

DELETE FROM @TableIDs
INSERT INTO @TableIDs 
SELECT 2000000006, 'Company'

SET @StmtCompanyName = '
INSERT INTO #RESULTS_CompanyName
SELECT [Name] 
	 , ROW_NUMBER() OVER (ORDER BY [Name])
  FROM [Company] 
 WHERE (1=1)
	   '+[RS].[Nav2SqlString](@UserId, @CompanyName, @ReportId, @TableIDs, 0)

SET @StmtCompanyName = @StmtCompanyName + @Stmt
PRINT	@StmtCompanyName
EXEC   (@StmtCompanyName)
SET @Stmt = ''
--ENDE Mandantenauswahl

--BEGIN Rückgabetabelle
CREATE TABLE #RESULTS 
(	  [CompanyName]							VARCHAR(30)
	, [Country]								VARCHAR(20)
	, [Country_Name]						VARCHAR(50)
	, [Hotel]								VARCHAR(20)
	, [Hotel_Name]							VARCHAR(130)
	, [Document_No_]						VARCHAR(20)
	, [Document_Type]						INT
	, [Remaining_Amount]					DEC(38,20)
	, [Interest_Amount]						DEC(38,20)
	, [Proportional_Charges]				DEC(38,20)
	, [Posting_Date]						DATETIME
	, [Reminder_No_]						VARCHAR(20)
	, [Reminder_Level]						VARCHAR(10)
)
--1ter Teile
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(297, 'Issued Reminder Header')
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN '; WITH 'ELSE ' , ' END)
+'[_RP_'+[CompanyName]+'] AS 
	(
	  SELECT [Reminder No_]
		   , COUNT(1)      [Reminder Positions] 
		   , SUM(CASE WHEN [No_ of Reminders]>1 THEN 1 ELSE 0 END) [Reminder Charge Positions]
		FROM ['+[CompanyName]+'$Issued Reminder Line]    
		JOIN ['+[CompanyName]+'$Issued Reminder Header] 
		  ON ['+[CompanyName]+'$Issued Reminder Line].[Reminder No_]  = ['+[CompanyName]+'$Issued Reminder Header].[No_]
	   WHERE [Type] = 2 
		 AND ['+[CompanyName]+'$Issued Reminder Header].[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''
			 '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)+'	
	GROUP BY [Reminder No_]
	)
, [_RC_'+[CompanyName]+'] AS 
	(
	  SELECT [Reminder No_]
		   , SUM(CASE WHEN [Type] = 1 THEN [Amount] ELSE 0 END)  [Reminder Charges]   
		FROM ['+[CompanyName]+'$Issued Reminder Line]    
		JOIN ['+[CompanyName]+'$Issued Reminder Header] 
		  ON ['+[CompanyName]+'$Issued Reminder Line].[Reminder No_]  = ['+[CompanyName]+'$Issued Reminder Header].[No_]
	   WHERE ['+[CompanyName]+'$Issued Reminder Header].[Posting Date] BETWEEN '''+@DateFilterStart+''' AND '''+@DateFilterEnd+'''
			 '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)+'	
	GROUP BY [Reminder No_]
	)
, [_ER_'+[CompanyName]+'] AS 
	(
	  SELECT ER.[Currency Code]
           , ER.[Exchange Rate Amount]
           , ER.[Starting Date] 
        FROM ['+[CompanyName]+'$Currency Exchange Rate] ER WITH (NOLOCK) 
       WHERE ER.[Starting Date] <= '''+@ActualDate+'''
       UNION 
      SELECT ER.[Currency Code]
           , ER.[Exchange Rate Amount]
           , ER.[Starting Date] 
        FROM ['+[CompanyName]+'$OANDA_Currency Exchange Rate] ER WITH (NOLOCK) 
       WHERE ER.[Starting Date] <= '''+@ActualDate+'''
	)
, [ExchangeRate_'+[CompanyName]+'] AS 
	(
	  SELECT ER1.[Currency Code]
	       , ER1.[Exchange Rate Amount] 
	    FROM [_ER_'+[CompanyName]+'] ER1 JOIN (SELECT [Currency Code], MAX([Starting Date]) [Starting Date] FROM [_ER_'+[CompanyName]+'] GROUP BY [Currency Code]) ER2 
	      ON ER2.[Starting Date] = ER1.[Starting Date] AND ER2.[Currency Code] = ER1.[Currency Code] 
	)
, [_RL_'+[CompanyName]+'] AS
	(
	   SELECT ['+[CompanyName]+'$Issued Reminder Header].[Customer No_]
			, ['+[CompanyName]+'$Issued Reminder Line].[Reminder No_]
			, ['+[CompanyName]+'$Issued Reminder Line].[Document No_]
			, ['+[CompanyName]+'$Issued Reminder Line].[Document Type]
			, ['+[CompanyName]+'$Issued Reminder Line].[Remaining Amount]
'+CASE WHEN @UseLCY=1 THEN ' 			
			/ [ExchangeRate_'+[CompanyName]+'].[Exchange Rate Amount] [Remaining Amount]
' ELSE '' END +' 			
			, ['+[CompanyName]+'$Issued Reminder Line].[Amount] 
'+CASE WHEN @UseLCY=1 THEN ' 			
			/ [ExchangeRate_'+[CompanyName]+'].[Exchange Rate Amount]
' ELSE '' END +' [Interest Amount]		
			, CASE 
				WHEN ['+[CompanyName]+'$Issued Reminder Line].[Document Type] = 2 AND [No_ of Reminders] > 1 THEN 
				  CASE WHEN [Reminder Charge Positions]=0 THEN
					0
				  ELSE
					[Reminder Charges]/[Reminder Charge Positions] 
				  END
				ELSE 
				  0 
			  END 
'+CASE WHEN @UseLCY=1 THEN ' 			
			  / [ExchangeRate_'+[CompanyName]+'].[Exchange Rate Amount] 
' ELSE '' END +' 			
			  [Proportional Charges]
			, ['+[CompanyName]+'$Issued Reminder Header].[Posting Date] [Posting Date]
			, ['+[CompanyName]+'$Issued Reminder Header].[Reminder Level]
		 FROM ['+[CompanyName]+'$Issued Reminder Line] 
		 JOIN ['+[CompanyName]+'$Issued Reminder Header]
		   ON ['+[CompanyName]+'$Issued Reminder Line].[Reminder No_]  = ['+[CompanyName]+'$Issued Reminder Header].[No_]
		 JOIN [_RP_'+[CompanyName]+'] 
		   ON [_RP_'+[CompanyName]+'].[Reminder No_] = ['+[CompanyName]+'$Issued Reminder Header].[No_]
		 JOIN [_RC_'+[CompanyName]+'] 
		   ON [_RC_'+[CompanyName]+'].[Reminder No_] = ['+[CompanyName]+'$Issued Reminder Header].[No_]
'+CASE WHEN @UseLCY=1 THEN ' 			
		 JOIN [ExchangeRate_'+[CompanyName]+'] 
		   ON [ExchangeRate_'+[CompanyName]+'].[Currency Code] = ['+[CompanyName]+'$Issued Reminder Header].[Currency Code]
' ELSE '' END +' 			
		WHERE (['+[CompanyName]+'$Issued Reminder Line].[Type] = 2)
			  '+[RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)+'	
	)
, [_IA_'+[CompanyName]+'] AS
	(
	   SELECT [_RL_'+[CompanyName]+'].[Customer No_]								[Hotel]
			, [_RL_'+[CompanyName]+'].[Document No_]								[Document No.]
			, [_RL_'+[CompanyName]+'].[Document Type]								[Document Type]
			, MIN([_RL_'+[CompanyName]+'].[Remaining Amount])                       [Remaining Amount]
			, MAX([_RL_'+[CompanyName]+'].[Interest Amount])                        [Interest Amount]
			, MAX([_RL_'+[CompanyName]+'].[Proportional Charges])                   [Proportional Charges]
			, MAX([_RL_'+[CompanyName]+'].[Posting Date])                           [Posting Date]
			, MAX([_RL_'+[CompanyName]+'].[Reminder No_])                           [Reminder No_]
			, MAX([_RL_'+[CompanyName]+'].[Reminder Level])							[Reminder Level]
		 FROM [_RL_'+[CompanyName]+']	
	 GROUP BY [_RL_'+[CompanyName]+'].[Customer No_]
			, [_RL_'+[CompanyName]+'].[Document No_]
			, [_RL_'+[CompanyName]+'].[Document Type]
	)'
FROM #RESULTS_CompanyName
ORDER BY RowNumber 	


--2ter Teil
DELETE FROM @TableIDs
INSERT INTO @TableIDs 
VALUES	(18, 'Customer')					   
SELECT @Stmt = @Stmt
+(SELECT CASE WHEN RowNumber = 1 THEN ' INSERT INTO #RESULTS ' ELSE ' UNION ALL ' END)	
+'	
  SELECT '''+[CompanyName]+'''
	   , CO.[Code] 
       , CO.[Name]
       , ['+[CompanyName]+'$Customer].[No_]  
       , ['+[CompanyName]+'$Customer].[Name] [Name] 
       , IA.[Document No.]
       , IA.[Document Type]
       , IA.[Remaining Amount]
       , IA.[Interest Amount]
       , IA.[Proportional Charges]
       , IA.[Posting Date]
       , IA.[Reminder No_]
       , IA.[Reminder Level]
    FROM [_IA_'+[CompanyName]+'] IA
    JOIN ['+[CompanyName]+'$Sales Invoice Corrections] IC
      ON IA.[Document No.]        = IC.[Max Document No_]
    JOIN ['+[CompanyName]+'$Customer]					
	  ON ['+[CompanyName]+'$Customer].[No_]                 = IC.[Customer No]
    JOIN ['+[CompanyName]+'$Country_Region]				CO
	  ON ['+[CompanyName]+'$Customer].[Country_Region Code] = CO.[Code]
   WHERE [Document Type] = 2
		'+ [RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)	 		 	 
+'UNION     
  SELECT '''+[CompanyName]+'''
	   , CO.[Code] 
       , CO.[Name] 
       , ['+[CompanyName]+'$Customer].[No_] 
       , ['+[CompanyName]+'$Customer].[Name] [Name] 
       , IA.[Document No.]
       , IA.[Document Type]
       , IA.[Remaining Amount]
       , IA.[Interest Amount]
       , IA.[Proportional Charges]
       , IA.[Posting Date]
       , IA.[Reminder No_]
       , IA.[Reminder Level]
    FROM [_IA_'+[CompanyName]+'] IA
    JOIN ['+[CompanyName]+'$Customer]					
	  ON ['+[CompanyName]+'$Customer].[No_]                 = IA.[Hotel]
    JOIN ['+[CompanyName]+'$Country_Region]				CO
	  ON ['+[CompanyName]+'$Customer].[Country_Region Code] = CO.[Code]
   WHERE [Document Type] <> 2 
		'+ [RS].[Nav2SqlString](@UserId, #RESULTS_CompanyName.[CompanyName], @ReportId, @TableIDs, 2)
FROM #RESULTS_CompanyName
ORDER BY RowNumber 

PRINT	SUBSTRING(@Stmt,1,8000)
PRINT	SUBSTRING(@Stmt,8001,16000)
EXEC   (@Stmt)
--ENDE Rückgabetabelle	


SELECT * FROM #RESULTS 
ORDER BY [Hotel], [Document_No_], [CompanyName]

DROP TABLE #RESULTS
DROP TABLE #RESULTS_CompanyName
END
GO
