USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [RS].[PROC_RevShareCompareSingle]    Script Date: 10.04.2024 14:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Thomas Marquardt
-- Create date: 16.07.13
-- Description:	

-- 
/*
EXEC [RS].[PROC_RevShareCompareSingle] 'V0000000004', '2013-04-01'
*/
-- ================================================
CREATE PROCEDURE [RS].[PROC_RevShareCompareSingle] 
(
	  @RebateAgreementNo	VARCHAR(20)
	, @IntervallStartDate	DATE
)
AS BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET Language German
;WITH APV AS
(
  SELECT AH.[No_] [Rebate Agreement No_]
       , C.Name [Company Name]
       , [Affiliate Partner No_]
       , AH.[Enable retroactive correction]
       , AH.Interval
       , COUNT(1) CountAPV
    FROM [Company] C, [HRS$Rebate Agreement Header] AH WITH (NOLOCK), [HRS$Affiliate Partner Vendor] APV  WITH (NOLOCK)
   WHERE C.Name IN ('HRS','HRS-CN','TISCOVER')
     AND AH.[Rebate-to Vendor No_] = APV.[Vendor No_]
     AND AH.[No_] = @RebateAgreementNo
GROUP BY AH.[No_]
       , C.Name
       , APV.[Affiliate Partner No_]
       , AH.[Enable retroactive correction]
       , AH.Interval
), AP AS
(
   SELECT L.[Rebate Agreement No_]
        , L.Interval
        , CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END [Period Start Date]
        , AP.ReservationNo [Reservation No_]
        , AP.ReservationPartNo [Reservation Part No_]
        , ROUND(AP.[Turnover_LCY],2)    [AP Turnover (LCY)]
        , ROUND(AP.Turnover_LCY_corr,2) [AP Turnover (LCY) (corr_)]
        , ROUND(AP.[Amount_LCY],2)      [AP Amount (LCY)]
        , ROUND(AP.Amount_LCY_corr,2)   [AP Amount (LCY) (corr_)]
     FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS'
    WHERE CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END = @IntervallStartDate
UNION
   SELECT L.[Rebate Agreement No_]
        , L.Interval
        , CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END [Period Start Date]
        , AP.ReservationNo [Reservation No_]
        , AP.ReservationPartNo [Reservation Part No_]
        , ROUND(AP.[Turnover_LCY],2)    [AP Turnover (LCY)]
        , ROUND(AP.Turnover_LCY_corr,2) [AP Turnover (LCY) (corr_)]
        , ROUND(AP.[Amount_LCY],2)      [AP Amount (LCY)]
        , ROUND(AP.Amount_LCY_corr,2)   [AP Amount (LCY) (corr_)]
     FROM [HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS'
    WHERE CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END = @IntervallStartDate
UNION
   SELECT L.[Rebate Agreement No_]
        , L.Interval
        , CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END [Period Start Date]
        , AP.ReservationNo [Reservation No_]
        , AP.ReservationPartNo [Reservation Part No_]
        , ROUND(AP.[Turnover_LCY],2)    [AP Turnover (LCY)]
        , ROUND(AP.Turnover_LCY_corr,2) [AP Turnover (LCY) (corr_)]
        , ROUND(AP.[Amount_LCY],2)      [AP Amount (LCY)]
        , ROUND(AP.Amount_LCY_corr,2)   [AP Amount (LCY) (corr_)]
     FROM [TISCOVER$Affiliate Postings] AP WITH (NOLOCK)
     JOIN APV L
       ON AP.[AffiliatePartnerNo]      = L.[Affiliate Partner No_]
      AND L.[Company Name]             = 'HRS'
    WHERE CASE L.Interval
            WHEN 0 THEN DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate)
            WHEN 1 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%3,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 2 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%6,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
            WHEN 3 THEN DATEADD(mm,-(DATEPART(mm,AP.DepartureDate)-1)%12,DATEADD(dd,-DATEPART(dd,AP.DepartureDate)+1,AP.DepartureDate))
          END = @IntervallStartDate
), RH AS
(
   SELECT RH.[No_]
        , RH.[Rebate Agreement No_]
        , AH.[Description]
        , RH.[Interval Start Date]
        , RL.[Reservation No_]
        , RL.[Reservation Part No_]
        , ROUND(RL.[Amount (LCY)],2)           [RH Amount (LCY)]
        , ROUND(RL.[Amount (LCY) (corr_)],2)   [RH Amount (LCY) (corr_)]
        , ROUND(RL.[Turnover (LCY)],2)         [RH Turnover (LCY)]
        , ROUND(RL.[Turnover (LCY) (corr_)],2) [RH Turnover (LCY) (corr_)]
     FROM (SELECT DISTINCT AP.[Rebate Agreement No_], AP.[Period Start Date] FROM AP) AP
     JOIN [HRS$Rebate Header] RH WITH (NOLOCK)
       ON RH.[Rebate Agreement No_] = AP.[Rebate Agreement No_]
      AND RH.[Interval Start Date]  = AP.[Period Start Date]
     JOIN [HRS$Rebate Agreement Header] AH WITH (NOLOCK) ON AH.[No_] = RH.[Rebate Agreement No_]
     JOIN [HRS$Rebate Line] RL WITH (NOLOCK)
       ON RL.[Document No_] = RH.[No_]
      AND RL.Type = 5
    WHERE RH.[Interval Start Date] = @IntervallStartDate
)
    SELECT RH.[No_]
         , RH.[Rebate Agreement No_]
         , RH.[Description]
         , RH.[Interval Start Date]
         , RH.[Reservation No_]
         , RH.[Reservation Part No_]
         , RH.[RH Amount (LCY)]          , AP.[AP Amount (LCY)]          , COALESCE(RH.[RH Amount (LCY)],0)           - COALESCE(AP.[AP Amount (LCY)],0)           [Diff Amount (LCY)]      
         , RH.[RH Amount (LCY) (corr_)]  , AP.[AP Amount (LCY) (corr_)]  , COALESCE(RH.[RH Amount (LCY) (corr_)],0)   - COALESCE(AP.[AP Amount (LCY) (corr_)],0)   [Diff Amount (LCY) (corr_)]
         , RH.[RH Turnover (LCY)]        , AP.[AP Turnover (LCY)]        , COALESCE(RH.[RH Turnover (LCY)],0)         - COALESCE(AP.[AP Turnover (LCY)],0)         [Diff Turnover (LCY)]
         , RH.[RH Turnover (LCY) (corr_)], AP.[AP Turnover (LCY) (corr_)], COALESCE(RH.[RH Turnover (LCY) (corr_)],0) - COALESCE(AP.[AP Turnover (LCY) (corr_)],0) [Diff Turnover (LCY) (corr_)]
      FROM RH
LEFT OUTER      
      JOIN AP 
        ON AP.[Rebate Agreement No_] = RH.[Rebate Agreement No_] 
       AND AP.[Period Start Date]    = RH.[Interval Start Date]
       AND AP.[Reservation No_]      = RH.[Reservation No_]
       AND AP.[Reservation Part No_] = RH.[Reservation Part No_]
     WHERE ABS(COALESCE(RH.[RH Amount (LCY)],0)           - COALESCE(AP.[AP Amount (LCY)],0)          ) > 0.01
        OR ABS(COALESCE(RH.[RH Amount (LCY) (corr_)],0)   - COALESCE(AP.[AP Amount (LCY) (corr_)],0)  ) > 0.01
        OR ABS(COALESCE(RH.[RH Turnover (LCY)],0)         - COALESCE(AP.[AP Turnover (LCY)],0)        ) > 0.01
        OR ABS(COALESCE(RH.[RH Turnover (LCY) (corr_)],0) - COALESCE(AP.[AP Turnover (LCY) (corr_)],0)) > 0.01
  ORDER BY 2,3     
END
GO
