USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[SqlFilterString]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ralph Prangenberg
-- Create date: 20110621
-- Description:	SQL-Filterstring ohne die Mandantentabelle
-- SELECT [RS].[SqlFilterString]('smokersdream', 'smokersdream', 'Ralph', 50134, 18)
-- =============================================
CREATE FUNCTION [RS].[SqlFilterString]
(
	  @CompanyName			VARCHAR(30)
	, @StartCompanyName		VARCHAR(30)
	, @UserId				VARCHAR(20)
	, @ReportId				INT
	, @TableId				INT
)			
RETURNS VARCHAR(MAX) 
AS BEGIN

DECLARE 
	  @Stmt					VARCHAR(MAX) = ''
	, @Filter				VARCHAR(MAX) = ''

IF EXISTS (SELECT COUNT(*)
			FROM [RS-Report Execution]
			WHERE [Start Company]	= @StartCompanyName
				AND [UserID]		= @UserId
				AND [Report ID]		= @ReportId
				AND [Field Class]	= 0
				AND NOT ([Table ID]	= 2000000006)) 
BEGIN
	
	DECLARE FilterCursor CURSOR FOR
	SELECT Filter
	FROM RS.Nav2SqlFilters(@UserId, @CompanyName, @ReportId, @TableId)
	
	OPEN FilterCursor
	FETCH NEXT FROM FilterCursor
	INTO @Filter
	
	IF @@FETCH_STATUS = 0 
	BEGIN
		SET @Stmt = @Stmt + '
		WHERE ' + @Filter
	END
	
	FETCH NEXT FROM FilterCursor
	INTO @Filter
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		SET @Stmt = @Stmt + '
		AND ' + @Filter
		
		FETCH NEXT FROM FilterCursor
		INTO @Filter	
	END
	CLOSE FilterCursor
	DEALLOCATE FilterCursor	
END	

RETURN @Stmt 
END

GO
