USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[Split]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author:			MMC Management Solutions GmbH
Create date:	29.06.2011
Description:	Splits @StringToSplit into separate rows delimmited by @Separator
-- ============================================= */
CREATE FUNCTION [RS].[Split] ( 
	@StringToSplit VARCHAR(2048),
	@Separator VARCHAR(128))
RETURNS TABLE AS RETURN
WITH indices AS ( 
	SELECT 0 S, 1 E
	UNION all
	SELECT E, CHARINDEX(@Separator, @StringToSplit, E) + LEN(@Separator) 
    FROM indices
	WHERE E > S 
)
SELECT 
	SUBSTRING(@StringToSplit, S, 
		CASE WHEN E > LEN(@Separator) THEN 
			E-S-LEN(@Separator) 
		ELSE 
			LEN(@StringToSplit) - S + 1 
		END) AS String,
	S AS StartIndex        
	FROM indices 
	WHERE S > 0

GO
