USE [DynNavHRS]
GO
/****** Object:  UserDefinedFunction [RS].[SqlFilterAND]    Script Date: 10.04.2024 14:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author:			MMC Management Solutions GmbH
Create date:	29.06.2011
Description:	Converts NavisionFilter to SQL-FIlter (splits string at AND "&")
============================================= */
CREATE FUNCTION [RS].[SqlFilterAND](
	@NavisionFilter		VARCHAR(2048),
	@NavisionField		VARCHAR(100),
	@Quotes				INT)			-- 0 = unquoted, 1 = single quotes, 2 = double quotes
RETURNS VARCHAR(MAX) AS BEGIN

DECLARE 
	@SQL		VARCHAR(4000),
	@String		VARCHAR(2048),
	@Position	INT;

SET @SQL = '';

DECLARE CU CURSOR FAST_FORWARD FOR SELECT String FROM [RS].[Split](@NavisionFilter, '&')
OPEN CU
FETCH NEXT FROM CU INTO @String
WHILE @@FETCH_STATUS = 0 BEGIN
	IF LEN(@SQL) > 0 
		SET @SQL = @SQL + ' AND '
	ELSE
		SET @SQL = '('

	SET @Position = CHARINDEX('..', @String)
	IF @Position > 0 BEGIN
		SET @SQL = 
			CASE @Quotes
				WHEN 2 THEN @SQL + @NavisionField + ' BETWEEN ''''''' + LEFT(@String,@Position - 1) + ''''''' AND ''''''' + RIGHT(@String, LEN(@String) - @Position - 1) + ''''''''
				WHEN 1 THEN @SQL + @NavisionField + ' BETWEEN ''' + LEFT(@String, @Position-1) + ''' AND ''' + RIGHT(@String, LEN(@String) - @Position - 1) + ''''
				WHEN 0 THEN @SQL + @NavisionField + ' BETWEEN ' + LEFT(@String, @Position-1) + ' AND ' + RIGHT(@String, LEN(@String) - @Position - 1)
			END
	END ELSE IF CHARINDEX('*', @String) > 0 OR CHARINDEX('?', @String) > 0 BEGIN
		SET @SQL = 
			CASE @Quotes
				WHEN 2 THEN @SQL + @NavisionField + ' LIKE ''''''' + REPLACE(REPLACE(@String, '*', '%'), '?', '_') + ''''''''
				WHEN 1 THEN @SQL + @NavisionField + ' LIKE ''' + REPLACE(REPLACE(@String, '*','%'),'?','_') + ''''
				WHEN 0 THEN @SQL + @NavisionField + ' LIKE ' + REPLACE(REPLACE(@String, '*','%'),'?','_')
			END
	END ELSE IF CHARINDEX('<>', @String) > 0 BEGIN
		SET @SQL = 
			CASE @Quotes
				WHEN 2 THEN @SQL + @NavisionField + ' != ''''''' + SUBSTRING(@String, 3, 2500) + ''''''''
				WHEN 1 THEN @SQL + @NavisionField + ' != ''' + SUBSTRING(@String, 3, 2500) + ''''
				WHEN 0 THEN @SQL + @NavisionField + ' != ' + SUBSTRING(@String, 3, 2500)
			END
	END ELSE BEGIN
		SET @SQL = 
			CASE @Quotes
				WHEN 2 THEN @SQL + @NavisionField + ' = ''''''' + @String + ''''''''
				WHEN 1 THEN @SQL + @NavisionField + ' = ''' + @String + ''''
				WHEN 0 THEN @SQL + @NavisionField + ' = ' + @String
			END
	END
		
		
	FETCH NEXT FROM CU INTO @String
END CLOSE CU 
DEALLOCATE CU

RETURN @SQL + ')'
END

GO
