USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [WP].[SelectTurnoverPerBooking2021]    Script Date: 10.04.2024 14:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [WP].[SelectTurnoverPerBooking2021]
AS
BEGIN
SELECT 'Hotel Commission and TAF' [Product]
     , [ReservationNo]
     , [ReservationPartNo]
     , GE.[Posting Date] [Posting Date]
     , GE.[Document Date] [Document Date]
     , AP.[ArivalDate] [Arival Date]
     , AP.[DepartureDate] [Departure Date]
     , ROUND(AP.[Turnover_LCY_corr],2) [Hotel Turnover after Correction (LCY)]
     , ROUND(AP.[Agency Amount (LCY) (corr_)],2) [HRS Commission after Correction (LCY)]
     , ROUND(AP.[TAF Amount (LCY) (corr_)],2) [HRS TAF after Correction (LCY)]
  FROM [HRS$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS$G_L Entry] GE WITH (NOLOCK) ON GE.[Entry No_]=AP.[Max Entry No_]
 WHERE [DepartureDate] BETWEEN '2021-01-01' AND '2021-12-31'
UNION
SELECT 'Hotel Commission and TAF' [Product]
     , [ReservationNo]
     , [ReservationPartNo]
     , GE.[Posting Date] [Posting Date]
     , GE.[Document Date] [Document Date]
     , AP.[ArivalDate] [Arival Date]
     , AP.[DepartureDate] [Departure Date]
     , ROUND(AP.[Turnover_LCY_corr],2) [Hotel Turnover after Correction (LCY)]
     , ROUND(AP.[Agency Amount (LCY) (corr_)],2) [HRS Commission after Correction (LCY)]
     , ROUND(AP.[TAF Amount (LCY) (corr_)],2) [HRS TAF after Correction (LCY)]
  FROM [HRS-CN$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS-CN$G_L Entry] GE WITH (NOLOCK) ON GE.[Entry No_]=AP.[Max Entry No_]
 WHERE [DepartureDate] BETWEEN '2021-01-01' AND '2021-12-31'
UNION
SELECT 'Hotel Commission and TAF' [Product]
     , [ReservationNo]
     , [ReservationPartNo]
     , GE.[Posting Date] [Posting Date]
     , GE.[Document Date] [Document Date]
     , AP.[ArivalDate] [Arival Date]
     , AP.[DepartureDate] [Departure Date]
     , ROUND(AP.[Turnover_LCY_corr],2) [Hotel Turnover after Correction (LCY)]
     , ROUND(AP.[Agency Amount (LCY) (corr_)],2) [HRS Commission after Correction (LCY)]
     , ROUND(AP.[TAF Amount (LCY) (corr_)],2) [HRS TAF after Correction (LCY)]
  FROM [HRS-BR$Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS-BR$G_L Entry] GE WITH (NOLOCK) ON GE.[Entry No_]=AP.[Max Entry No_]
 WHERE [DepartureDate] BETWEEN '2021-01-01' AND '2021-12-31'
UNION
SELECT S.[String] [Product]
     , [ReservationNo]
     , [ReservationPartNo]
     , GE.[Posting Date] [Posting Date]
     , GE.[Document Date] [Document Date]
     , AP.[ArivalDate] [Arival Date]
     , AP.[DepartureDate] [Departure Date]
     , ROUND(AP.[Turnover_LCY_corr],2) [Hotel Turnover after Correction (LCY)]
     , ROUND(AP.[Agency Amount (LCY) (corr_)],2) [HRS Commission after Correction (LCY)]
     , ROUND(AP.[TAF Amount (LCY) (corr_)],2) [HRS TAF after Correction (LCY)]
  FROM [HRS$Additional Affiliate Postings] AP WITH (NOLOCK)
  JOIN [HRS$G_L Entry] GE WITH (NOLOCK) ON GE.[Entry No_]=AP.[Max Entry No_]
  JOIN Split('Hotel Commission and TAF,Traveler TAF,Chain TAF,Partnership Fee,Additional Commission,PFP,Override,Sourcing Fee',',') S On S.[Index]=AP.[Product]
 WHERE [DepartureDate] BETWEEN '2021-01-01' AND '2021-12-31'
END
GO
