USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateCorporateDiscount]    Script Date: 10.04.2024 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- HRS001   21.01.19   SAK01  ACS-1421 Corparate Discount for Radisson
-- HRS002   27.05.19   TMA04  ACS-1593 Corparate Discount for Wyndham --Rejected
-- HRS002   02.07.19   TMA04  ACS-1426 Corparate Discount for Wyndham Reactive other Discount Percent 10-->15
-- HRS003	26.11.19   SAK01  ACS-2065 Corparate Discount for Radisson (HRX)  
-- =============================================
CREATE PROCEDURE [dbo].[sp_CalculateCorporateDiscount]
AS
BEGIN

DECLARE @PostingDate DATETIME
      , @DateFrom datetime = NULL
      , @DateTo   datetime = NULL

IF DATEPART(dd,GETDATE())<5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-DATEPART(dd,GETDATE()),GETDATE()),120),10) AS DATETIME) END

IF DATEPART(dd,GETDATE())>=5 BEGIN SELECT @PostingDate = CAST(LEFT(CONVERT(VARCHAR,DATEADD(dd,-1,DATEADD(mm,1,DATEADD(dd,1-DATEPART(dd,GETDATE()),GETDATE()))),120),10) AS DATETIME) END

 SELECT @DateTo = COALESCE(@DateTo,@PostingDate)
      , @DateFrom = COALESCE(@DateFrom,DATEADD(dd,1,DATEADD(mm,-3,@PostingDate)))


PRINT @DateTo
PRINT @DateFrom

;WITH CD AS
(
   SELECT BT.B_KEY
        , BU.BP_KEY
     FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
     JOIN HRSDB.BUCHUNG  BU WITH (NOLOCK) ON BU.B_KEY = BT.B_KEY
    WHERE BT.BT_RATE_TYP = 30035
      AND BU.B_AB_DATUM >= '2014-07-01'
)
   INSERT INTO HRSDB.BKG_PROCESS_LIST_ALL_DA
   SELECT DISTINCT 
          CD.BP_KEY
        , CD.B_KEY
        , null
        , ''
        , null
     FROM CD
LEFT JOIN HRSDB.BKG_PROCESS_LIST_ALL_DA PR 
       ON PR.B_KEY = CD.B_KEY
      AND PR.BP_KEY = CD.BP_KEY
    WHERE PR.B_KEY IS null 
      AND NOT CD.BP_KEY IS null

;WITH CD AS
(
   SELECT BT.B_KEY
        , BT.BT_POS
        , CAST(ROUND(
          CASE WHEN BT2.BT_PREIS + COALESCE(BT3.BT_PREIS,0)=0 THEN 0 ELSE 
            -BT.BT_PREIS*1.0 / (BT2.BT_PREIS+ COALESCE(BT3.BT_PREIS,0)) * 100 
          END,0)
          AS int) CORP_DISCOUNT
     FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
     JOIN HRSDB.BUCHUNG  BU WITH (NOLOCK) ON BU.B_KEY = BT.B_KEY
     JOIN HRSDB.BUCHTEIL BT2 WITH (NOLOCK) ON BT2.B_KEY = BT.B_KEY AND BT2.BT_POS = BT.BT_POS - 1
LEFT JOIN HRSDB.BUCHTEIL BT3 WITH (NOLOCK) ON BT3.B_KEY = BT.B_KEY AND BT3.BT_POS = BT.BT_POS - 2 AND BT3.BT_RATE_TYP <> 30035
    WHERE BT.BT_RATE_TYP = 30035
      AND BU.B_AB_DATUM >= '2014-07-01'
)
UPDATE PR SET
       PR.CORP_DISCOUNT = CD.CORP_DISCOUNT
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA PR
  JOIN CD ON CD.B_KEY = PR.B_KEY
 WHERE COALESCE(PR.CORP_DISCOUNT,0) <> CD.CORP_DISCOUNT
 
UPDATE PR1 SET
       PR1.CORP_DISCOUNT = PR2.CORP_DISCOUNT
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA PR1
  JOIN HRSDB.BKG_PROCESS_LIST_ALL_DA PR2 ON PR1.BP_KEY = PR2.BP_KEY AND COALESCE(PR1.CORP_DISCOUNT,0) < PR2.CORP_DISCOUNT
  
--UPDATE BU SET
--       BU.B_PERCENT_DISCOUNT = PR.CORP_DISCOUNT 
--  FROM HRSDB.BUCHUNG  BU
--  JOIN HRSDB.BKG_PROCESS_LIST_ALL_DA PR WITH (NOLOCK) ON PR.B_KEY = BU.B_KEY
-- WHERE COALESCE(B_PERCENT_DISCOUNT,0) <> PR.CORP_DISCOUNT
--
-- HRS
-- 
UPDATE AH SET 
       AH.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS$Agency Header] AH
    ON AH.[Reservation No_] = BU.B_KEY
 WHERE AH.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)
 
UPDATE AL SET 
       AL.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS$Agency Line] AL
    ON AL.[Reservation No_] = BU.B_KEY
 WHERE AL.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)
--
-- HRS-CN
-- 
UPDATE AH SET 
       AH.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS-CN$Agency Header] AH
    ON AH.[Reservation No_] = BU.B_KEY
 WHERE AH.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)
 
UPDATE AL SET 
       AL.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS-CN$Agency Line] AL
    ON AL.[Reservation No_] = BU.B_KEY
 WHERE AL.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)
--
-- HRS-BR
-- 
UPDATE AH SET 
       AH.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS-BR$Agency Header] AH
    ON AH.[Reservation No_] = BU.B_KEY
 WHERE AH.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)
 
UPDATE AL SET 
       AL.[Corporate Rate Discount] = COALESCE(BU.CORP_DISCOUNT,0)
  FROM HRSDB.BKG_PROCESS_LIST_ALL_DA  BU WITH (NOLOCK)
  JOIN [HRS-BR$Agency Line] AL
    ON AL.[Reservation No_] = BU.B_KEY
 WHERE AL.[Corporate Rate Discount] <> COALESCE(BU.CORP_DISCOUNT,0)

UPDATE AL SET 
       AL.[Corporate Rate Discount]  = 20
FROM [HRS$Agency Line] AL
WHERE 1=1
AND AL.Chain = 67
AND CHARINDEX('HRQ', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 20
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 

UPDATE AH SET 
       AH.[Corporate Rate Discount]  = 20
FROM [HRS$Agency Line] AL
JOIN [HRS$Agency Header] AH ON AL.[Process Number] =  AH.ProcessNumber 
WHERE 1=1
AND AL.Chain = 67
AND CHARINDEX('HRQ', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 20
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 

-->>HRS003
UPDATE AL SET 
       AL.[Corporate Rate Discount]  = 30
FROM [HRS$Agency Line] AL
WHERE 1=1
AND AL.Chain = 67
AND AL.Brand = 1094
AND CHARINDEX('HRX', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 30
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 

UPDATE AH SET 
       AH.[Corporate Rate Discount]  = 30
FROM [HRS$Agency Line] AL
JOIN [HRS$Agency Header] AH ON AL.[Process Number] =  AH.ProcessNumber 
WHERE 1=1
AND AL.Chain = 67
AND AL.Brand = 1094
AND CHARINDEX('HRX', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 30
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 
--<<HRS003

-- HRS002 ++++++++++
UPDATE AL SET 
       AL.[Corporate Rate Discount]  = 15
FROM [HRS$Agency Line] AL
WHERE 1=1
AND AL.Chain = 5
AND CHARINDEX('HRQ', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 15
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 

UPDATE AH SET 
       AH.[Corporate Rate Discount]  = 15
FROM [HRS$Agency Line] AL
JOIN [HRS$Agency Header] AH ON AL.[Process Number] =  AH.ProcessNumber 
WHERE 1=1
AND AL.Chain = 5
AND CHARINDEX('HRQ', AL.[Rate Description]) > 0
AND AL.[Corporate Rate Discount] <> 15
AND AL.[Reservation Date to] BETWEEN  @DateFrom AND @DateTo 
-- HRS002 ---------- 

END
GO
