USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CorrectNetPriceOfMariott]    Script Date: 10.04.2024 14:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 27.06.19
-- Description:	Some Reservations com with Net Price in field BT_PREIS and BT_FRST_PREIS. The SP correct them for Mariott-Reservations
-- =============================================
CREATE PROCEDURE [dbo].[sp_CorrectNetPriceOfMariott] 
  @B_KEY int = null
AS
BEGIN
  
	CREATE TABLE #BKG (B_KEY_LU int primary key, BT_LOGIS bigint, BT_W_O_BF bigint)
	CREATE TABLE #CORR (B_KEY int primary key, BT_CORR_RATIO DEC(38,20))
	INSERT INTO #BKG 
    SELECT BT.B_KEY
	     , SUM(
           CASE WHEN DATEDIFF(dd,BT_VON,BT_BIS)=0 THEN 1 ELSE DATEDIFF(dd,BT_VON,BT_BIS) END * BT_ANZAHL * BT_PREIS
		 + CASE WHEN BT_FRSTCK = 0 THEN BT_FRSTCK * BT_ANZAHL * CASE WHEN DATEDIFF(dd,BT_VON,BT_BIS)=0 THEN 1 ELSE DATEDIFF(dd,BT_VON,BT_BIS) END * BT_PAX_COUNT ELSE 0 END
		 ) BT_LOGIS
	     , SUM(
           CASE WHEN DATEDIFF(dd,BT_VON,BT_BIS)=0 THEN 1 ELSE DATEDIFF(dd,BT_VON,BT_BIS) END * BT_ANZAHL * BT_PREIS
		 ) BT_W_O_BF
      FROM HRSDB.BUCHTEIL BT WITH (NOLOCK)
      JOIN HRSDB.BUCHUNG BU WITH (NOLOCK)
	    ON BU.B_KEY=BT.B_KEY
     WHERE BT.B_STATUS IN (0,1,10000,19997)
	   AND BU.B_STATUS < 10000
       AND (
	       BT.B_KEY IN (207885377, 207885378)
	    OR BT.B_KEY BETWEEN 0 AND 300000000
		   )
	   --AND BT.B_KEY IN (220247258,220264017,220347951,220363507,220364783,220372714,222326433,222349326,222361699,222362731,222419734,222465093,222487502,222564150,224952195,224962651,224963243,224992455,225001919,225008734,225027876,225030064,225050041,225070179,225074466,225075021,225112197,225113270,225132107,225132781,225143052,225143258,225144987,225157055,225161883,225175480,225176960,225186984,225190231,225196591,225200227,225201700,225203127,225203224,225213436,225214929,225217779,225221903,225244290,225244582,225247763,225251592,227314204,227315142,227316311,227319608,227319740,227321993,227330423,227334887,227343231,227343741,227344090,227345573,227346439,227347426,227351955,227353282,227354092,227355172,227356287,227367549,227371119,227371935,227372147,227377224,227377225,227378081,227381470,227386481,227386494,227388178,227393982,227395805,227405016,227405331,227407642,227409312,219377386,219447937,221425442,221469085,221470908,221504069,221645909,223758049,223766300,223793739,223793997,223804286,223805593,223810908,223811343,223814980,223822146,223861282,223861283,223880968,223885291,223904453,223926755,223948238,223951411,223956954,223968563,223975773,223996607,223996903,224002485,226432666,226432810,226436532,226436596,226439482,226440522,226446793,226447933,226449276,226452082,226458450,226459016,226463772,226467372,226472787,226473080,226474011,226475012,226476852,226480752,226482219,226484389,226484529,226489823,226494660,226495933,226502854,226514402,226516606,226518302,226519302,226521865,226525926,226529230,226532597,226532750,226535183,226542162,226543748,226545374,226548062,226548557,226548563,226548750,226551826,226553008,226553685,226554480,226554626,226561765,226565523,226569315,226571942,226574750,226578715,226581143,226586360,218675981,218744986,218803472,222058205,222088254,222099426,222117967,222135698,222165531,222165657,222239492,222241350,222243103,224315949,224322336,224342018,224350413,224354323,224375436,224387358,224396172,224397943,224401179,224405817,224445637,224456314,224459265,224472878,224476982,224483240,224495609,224505354,224517222,224525720,224544269,224544348,224546201,224548265,224550149,224587965,224588363,224601444,224614340,226697687,226698603,226700625,226705224,226708968,226714807,226716762,226721800,226730461,226737287,226753782,226755035,226762515,226763726,226765753,226765963,226766117,226766569,226776523,226791403,226792960,226795558,226796198,226796294,226797194,226798925,226818024,226820403,226848534,226852332,226854816,226856200,226856226,226858190,226860342,226866330,226866364,226877384,226890693,226895839,226896663,226897223,226899271,226899681,226904118,220498775,220705552,220780120,220796137,221015380,223163848,223199160,223207771,223209193,223282868,223283090,223292295,223342903,223342904,223350535,223366226,223387779,223410594,225575750,225584398,225588853,225589788,225591422,225593084,225593926,225605874,225619879,225623555,225624396,225641460,225642845,225653965,225658134,225671585,225671616,225673004,225681328,225683462,225688302,225709931,225713598,225732595,225735604,225737664,225742980,225743262,225748445,225758077,225761246,225772289,225772471,225773617,225774829,225774872,225776755,225778713,225784981,225788029,225788518,225789558,225795681,225797728,225800279,225806665,225806759,225816936,225818924,225823111,225824324,225829435,225829682,225829745,225833642,225837104,225846308,225850051,225851428,225856903,225858205,225866371,225867306,225868150,225870918,227977464,227977822,227980085,227980109,227983075,227410230,227414178,227417088,227419808,227421819,227422316,227422536,227424047,227431151,227433846,227434553,227435988,227437474,227437659,227439023,227440168,227441343,227442327,227446965,227447228,227449504,227450374,227455252,227462696,227467774,227468096,227471214,227474533,227474537,227476642,227476895,227478333,227478539,227482268,227483822,227486007,227501567,227505171,227507419,227508572,227511116,227513955,227514061,227514625,227518475,227518949,227520145,227520252,227520362,227520476,227522840,227523541,227526133,227526286,227526508,227526609,227526746,227528130,227528248,227531716,227532262,227537972,227540982,227542001,227547311,227547413,227547733,227550962,227551209,227552429,227559053,227561693,227562685,227567989,227573356,227575466,227575585,227579962,227580465,227586454,227588452,227591035,227591409,227591871,227595222,227595884,227596573,227598227,219078762,221745217,221768768,221775855,221814021,221904793,221905090,221926484,221961103,223458797,223460182,223465178,223497161,223498293,223534887,223538340,223584178,223595282,223597702,223624894,223711673,223711675,225873091,225874626,225874999,225875411,225877901,225878602,225888378,225892774,225905846,225909762,225910468,225914954,225919507,225926348,225929873,225934645,225935072,225935280,225938847,225961811,225986009,225988366,225990182,225992455,225996532,226000161,226002990,226009002,226011293,226022206,226023531,226023532,226023649,226026892,226030828,226034836,226038153,226052319,226052596,226053911,226058703,226058951,226066656,226067358,226075861,226093487,226096016,226096242,226096829,226100383,226100614,226101214,226126553,226128930,226134539,226135115,226139041,226144001,228342068,228342944,228342959,228343539,228344687,228345214,228346214,228348533,226905676,226906725,226909793,226912680,226912781,226914004,226914578,226914824,226919057,226922397,226924630,226926225,226939236,226940160,226944383,226947238,226947432,226950147,226951083,226954583,226957343,226961241,226961878,226962531,226967485,226982128,226987742,226988964,229406916,229407167,229407307,229407548,229407563,229407825,229408019,229408407,229408449,229408545,229408650,229408660,229408755,229410712,229411198,229411274,229411653,229412455,229413324,229414298,229415223,229415437,229415970,229416202,229417001,229417997,229419395,229421054,229421353,229421463,229421766,229422505,229424161,229425359,229427135,229429210,229430676,229432206,229433328,229433904,229434225,229435588,229438531,229440312,229440369,229440449,229441614,229442241,229443613,229443822,229443993,229444650,229445136,229445927,229447269,229448866,229448875,229449966,229452151,229452420,219765790,219825765,220012486,220065307,222603998,222604670,222689902,222744197,222805854,222813891,222866409,225274932,225275854,225279232,225281121,225289710,225291357,225305847,225310573,225311021,225321450,225321984,225329810,225339685,225351896,225367300,225368666,225376643,225386257,225386574,225412913,225421623,225434282,225436855,225442769,225451131,225463788,225489158,225498315,225510817,225520194,225523101,225523740,225541338,225554967,225564917,227633928,227634494,227635082,227636557,227637161,227639882,227644054,227648347,227649980,227650090,227651098,227651527,227652779,227656362,227658746,227659675,227660589,227661187,227663267,227664696,227665793,227666509,227667781,227674526,227674651,227676194,227679194,227680781,227684411,227685232,227685952,227687307,227687488,227688040,227689108,227689980,227690048,227690497,227692540,227692742,227710170,227711378,226593766,226595896,226601294,226603307,226613580,226627012,226629640,226635983,226636558,226646853,226647281,226653184,226653312,226654367,226657944,226664211,226667083,226668437,226669399,226683437,226685513,226686321,226688429,226690099,226691618,229038953,229038988,229039000,229039136,229039274,229039431,229039477,229039957,229040070,229040165,229040248,229040360,229040512,229040661,229041049,229041482,229041872,229041993,229042482,229042518,229042522,229042717,229043231,229043887,229044348,229045518,229046156,229046674,229048433,229048486,229048581,229048631,229049025,229050069,229050302,229050635,229050730,229050954,229051230,229051459,229052165,229052168,229052206,229052358,229052764,229053023,229053140,229054787,229054965,229055102,229055554,229056478,229057739,229058008,229058142,229059679,229060313,229060636,229060888,229060940,229062604,229062873,229064769,227983539,227985075,227986166,227989884,227991781,227996426,227996749,227996769,227998542,228001315,228001937,228002778,228002944,228003263,228003757,228005090,228006355,228006598,228007314,228007619,228008017,228008939,228008962,228009362,228009645,228010817,228013299,228014436,228015046,228015686,228015848,228016292,228016612,228017135,228017954,228018181,228022217,228022489,228023822,228023895,228025500,228026061,228027191,228027219,228029911,228030317,228030697,228033525,228034138,228034385,228034520,228034621,228034871,228034951,228036291,228037021,228037179,228037467,228038020,228038078,228038989,228039295,228041274,228041368,228041804,228048384,228049640,228049851,228050538,228050706,228051168,228051344,228052230,228052734,228054155,228054347,228055149,228058292,228058970,228059278,228059456,228059920,228060449,228061666,228062151,228062713,228065940,228067060,227598583,227599099,227599483,227599504,227601358,227608804,227609271,227611433,227612550,227612715,227614115,227615863,227617996,227618452,227618807,227620722,227620979,227621414,227624138,227625752,227626328,227630199,227633253,230449790,230449962,230450141,230451601,230451610,230452424,230454467,230454657,230454772,230457099,230457228,230457893,230458533,230458964,230459161,230461773,230462205,230462676,230462842,230463268,230463336,230463370,230463498,230463521,230463550,230464217,230464402,230464459,230464813,230466757,230468447,230469302,230469868,230470350,230473067,230473108,230473784,230474476,230474898,230476411,230476671,230482210,230493236,230493974,230494171,230497721,230498505,230499817,230499887,230501019,230501091,230501468,230502331,230502912,230508090,230508400,230511685,230512008,230517871,230519028,230520164,230520682,230521580,230522125,230523993,229452558,229454140,229454517,229454534,229455204,229455446,229455912,229457194,229457810,229458092,229458890,229459431,229459897,229460693,229460782,229462867,229463120,229464540,229464684,229465212,229465418,229465645,229466764,229466917,229467067,229467125,229467999,229468632,229469474,229469927,229470012,229470806,229471634,229472190,229472339,229472448,229473233,229473418,229474293,229475833,229476253,229476478,229477834,229478293,229478361,229479141,229479382,229480024,229480123,229481742,229482072,229482177,229482298,229482571,229483296,229483304,229483551,229484222,229484542,229484671,229485298,229485482,229485486,229486750,229487029,229487294,229487375,229487529,229487760,229489285,229490574,229490725,229491083,229491218,229491325,229491579,229491649,229492830,229492944,229493308,229494571,229494978,229495253,229497662,229498616,229501483,229501530,229502571,228348908,228349376,228349694,228350141,228350323,228350622,228350730,228351137,228351337,228351421,228351449,228351491,228351512,228351561,228351601,228351822,228351927,228352108,228352287,228352441,228353014,228353019,228353272,228353485,228353487,228353610,228354106,228354152,228354173,228354321,228354469,228354527,228354661,228354670,228354718,228355058,228355107,228355192,228355515,228355914,228355956,228356471,228357196,228357460,228358312,228358363,228358673,228359365,228359438,228359725,228359732,228359932,228360413,228362320,228363729,228363933,228364502,228365469,228365659,228366937,228367939,228368282,228370217,228370965,228371196,228371592,228373106,228373431,228374976,228375521,228375539,228375783,228376231,228376654,228376677,228376950,228378595,228378993,228380040,228380745,228381240,228381450,228385567,228385727,228386111,228387956,228388083,228388100,230524340,230524848,230524936,230525040,230525477,230526101,230529790,230530117,230530903,230531365,230533022,230533073,230534451,230535923,230536011,230536897,230537146,230537502,230540558,230541947,230543428,230546016,230546423,230548178,230549456,230550774,230554091,230555964,230556100,230557050,230558096,230559160,230559212,230559392,230559492,230560005,230560379,230561245,230561483,230561980,230562120,230562277,230562561,230562761,230563763,230563891,230566177,230568824,230569325,230570139,230570844,230571044,230571499,230573473,230575038,230576542,230579128,230579746,230583706,230584820,230585136,230590169,230599020,230599996,230600092,230600714,230601447,230603258,230605827,230606493,230607933,230607941,230608163,230608283,230609271,230609708,230612167,230613496,230613646,230616161,230617858,230618123,230620479,230622196,230623282,230624183,230624419,230626377,229065825,229066437,229067825,229068512,229069277,229069341,229070386,229070863,229071614,229072280,229072907,229073621,229073764,229073942,229074056,229074222,229074597,229074616,229075323,229075693,229076397,229076856,229077411,229077512,229077616,229080042,229080323,229080360,229080652,229080664,229081240,229081856,229082756,229083206,229083314,229084612,229085742,229085910,229085954,229085984,229086606,229086640,229086829,229086890,229087141,229087255,229087320,229087840,229087843,229087955,229088006,229088121,229088158,229088274,229088508,229088581,229089218,229089487,229089697,229089820,229090336,229090719,229090881,229091405,229091557,229091603,229091634,229091701,229091887,229092663,229092767,229093875,229094889,229095409,229095466,229095685,229096097,229096209,229096583,229096724,229097376,229097588,229097613,229098003,229098166,229098263,229098469,229098481,229504030,229506060,229506326,229507795,229510204,229510232,229511062,229511984,229512081,229513491,229515244,229517262,229517766,229518157,229518983,229519731,229520786,229520965,229522003,229523174,229525220,229528238,229530911,229531866,229531954,229532026,229532374,229532569,229532745,229532993,229533780,229533896,229534065,229536433,229537386,229538187,229538616,229539653,229540901,229541172,229541258,229541326,229541546,229541547,229542114,229542253,229543077,229543707,229544155,229544450,229544856,229545167,229545214,229545821,229545974,229546091,229547776,229548626,229548820,229549545,229549593,229549637,229549737,229551087,229551161,229551340,229551864,229552114,229552205,229553120,229554618,229555442,229555451,229556334,229556886,229557036,229557146,229557210,229557752,229557786,229558463,229558960,229560255,229561065,229562114,229563044,229563824,229564431,230626669,230630390,230637004,230637046,230638435,230643462,230644126,230644746,230644886,230645554,230645791,230645992,230646259,230646980,230650288,230650316,230650347,230650446,230650865,230650983,230651436,230651560,230651797,230655763,230656833,230658418,230662266,230662446,230662461,230662499,230662811,230663864,230665488,230665666,230666176,230666991,230668408,230668426,230668533,230669606,230670041,230671106,230671354,230673926,230674642,230675407,230675445,230675890,230677180,230677992,230678314,230683381,230684999,230691197,230692700,230695588,230696277,230697727,230698614,230702608,230704735,230705642,230706277,230706703,230710189,230711752,230712444,230712651,230716204,230716832,230717890,230718311,230718676,230720958,230722894,230724306,230724500,230724950,230726363,230727163,230727280,230727709,230727794,230727834,230728501,230728971,230729046,230729324,228067889,228070567,228071866,228072559,228073339,228074684,228075235,228075247,228075432,228078031,228078118,228079412,228079607,228079829,228080009,228082469,228082773,228083705,228084097,228085854,228085951,228087517,228088540,228089281,228089848,228091432,228091433,228092453,228092531,228093396,228094092,228095789,228097813,228098551,228099152,228101571,228104090,228104935,228105193,228105255,228105341,228106116,228106460,228106855,228107452,228109445,228109756,228109824,228109948,228113054,228113351,228113388,228113915,228115560,228117394,228117513,228118492,228118557,228119576,228119685,228120236,228120252,228120824,228120919,228122256,228124161,228124190,228124267,228125370,228125811,228128844,228128933,228132882,228134009,228135529,228135786,228137074,228137584,228138123,228138914,228139121,228139578,228143228,228144809,228145184,228145389,228145876,228145992,230729516,230735481,230737208,230737863,230740101,230742656,230743465,230745123,230749485,230750555,230756889,230758854,230765818,230765820,230767385,230769502,229098613,229098752,229098754,229098790,229098798,229098814,229098939,229099530,229099577,229099683,229099738,229099830,229100448,229100893,229101581,229101719,229101726,229101783,229101831,229102020,229104056,229104254,229105472,229106018,229106024,229106774,229108474,229108515,229109450,229109529,229109771,229110085,229111098,229111655,229111763,229111961,229113062,229113685,229114120,229114960,229116425,229117123,229117154,229117170,229118006,229118422,229118872,229118954,229119670,229119680,229119808,229119833,229119843,229121659,229123356,229124326,229124395,229125347,229125432,229125575,229126175,229126934,229127772,229128170,229128183,229128283,229129384,229129466,229130157,229130200,229130333,229130694,229130920,229131892,229132092,229132934,229134542,229134785,229134816,229135101,229135731,229136394,229137190,229137273,229137558,229137618,229139066,229139258,229564878,229564892,229565665,229566499,229566709,229567211,229567433,229568001,229568063,229569919,229570003,229570959,229571285,229573938,229574472,229574559,229575913,229576526,229576536,229577092,229577180,229578243,229580073,229580089,229580400,229580544,229581561,229581825,229582559,229583646,229584213,229584966,229587588,229587791,229588581,229588857,229589284,229590401,229590675,229590846,229591648,229592039,229594923,229596168,229596589,229596675,229596871,229596880,229597675,229598131,229598252,229598593,229598711,229598826,229598877,229598948,229599066,229599117,229599228,229599346,229599369,229599528,229599674,229599741,229599906,229599991,229600094,229600228,229600253,229600506,229600554,229600560,229600736,229600892,229601945,229602224,229602324,229602482,229602713,229602740,229602882,229603786,229604214,229604618,229605760,229606705,229606878,229607440,228389019,228389631,228390264,228390897,228393009,228394633,228394769,228395323,228395626,228395635,228396369,228396425,228396925,228397652,228397968,228398291,228399127,228399868,228399973,228400350,228400937,228401407,228403570,228404634,228404831,228405161,228405717,228407118,228407516,228409490,228410169,228410370,228412218,228413282,228413558,228413903,228414315,228414511,228414888,228415382,228415392,228415843,228416678,228416680,228417134,228417353,228418753,228419627,228421517,228423272,228424479,228425304,228426518,228427164,228427711,228428346,228429669,228430450,228430476,228433449,228433772,228433789,228435216,228435740,228436680,228436924,228437028,228437045,228437179,228437298,228438929,228439234,228440054,228440128,228440356,228440640,228441565,228441965,228442022,228442213,228442960,228442973,228443056,228443521,228443625,228443863,228443877,228444173,229607659,229608273,229609257,229609375,229609516,229609817,229611081,229611309,229611357,229611527,229611770,229611903,229612267,229612991,229613350,229614290,229614683,229616002,229616765,229617774,229618640,229619123,229619793,229619796,229620156,229620318,229622729,229623016,229623148,229623241,229623315,229623331,229623480,229624455,229625695,229626852,229627006,229627040,229627426,229627955,229628317,229628451,229629016,229629639,229630113,229631686,229631753,229632014,229632582,229633892,229633978,229634612,229635058,229635127,229635827,229636075,229637191,229639006,229639708,229640144,229641503,229641812,229641852,229643287,229643639,229643766,229644293,229644501,229644847,229645807,229646346,229646516,229646726,229646775,229646878,229646904,229646913,229647423,229647529,229647896,229648580,229648694,229649225,229649253,229649287,229649467,229649587,229649893,228147419,228147831,228147978,228148861,228149177,228149333,228149648,228149780,228150362,228150467,228152234,228152473,228155226,228155610,228157378,228158310,228159380,228159519,228161291,228162499,228162663,228164280,228164800,228166331,228166386,228168088,228169910,228170172,228173142,228175632,228177804,228178734,228179429,228179869,228181397,228184246,228184305,228184546,228184602,228188028,228188155,228189310,228190155,228191351,228191505,228191940,228191968,228193235,228194453,228195964,228197017,228197559,228199732,228200591,228200613,228200904,228200928,228201123,228201651,228202651,228203179,228203977,228204177,228204277,228204570,228206790,228207056,228209793,228214787,228215628,228215868,228217526,228219418,228220324,228220896,228223110,228223513,228224498,228224823,228225695,228226634,228227244,228232364,228232379,228235517,228236341,228240175,228241007,229139641,229141169,229141728,229141872,229142060,229142196,229142310,229142357,229142583,229142856,229142883,229142894,229143223,229143239,229143326,229143328,229143458,229143518,229143679,229143729,229143798,229144087,229144110,229144243,229144293,229144314,229144386,229144591,229145214,229145507,229145967,229146252,229146418,229146740,229146925,229146972,229146986,229147150,229148041,229148603,229149239,229149288,229149523,229149891,229150515,229150852,229151054,229151721,229152254,229152922,229153617,229154038,229154405,229155007,229155683,229156084,229156329,229156514,229156944,229157380,229157776,229158048,229158348,229158468,229158953,229159464,229160245,229160304,229160898,229161125,229163313,229164067,229164467,229165037,229165132,229166216,229166615,229166642,229167093,229167514,229168570,229171336,229172099,229172609,229172966,229173114,229173470,229173864,228444301,228444344,228444400,228444405,228444846,228444854,228445445,228445604,228445719,228446012,228446304,228446381,228446516,228446583,228446644,228447239,228447378,228447428,228447505,228447623,228448203,228448247,228448876,228449098,228449116,228450447,228450488,228450690,228450813,228451351,228451626,228453261,228453349,228453352,228455075,228455143,228455324,228457676,228459384,228460050,228460656,228460844,228463070,228463839,228464152,228465972,228466333,228466576,228466738,228466944,228467095,228467512,228467797,228468039,228468545,228469144,228469824,228469851,228472276,228472315,228474061,228474152,228474690,228474828,228475235,228477038,228477931,228479785,228480199,228480357,228481871,228483003,228483371,228483419,228483601,228483665,228483686,228485119,228487277,228488053,228488504,228489771,228490000,228490415,228491639,228492695,228492846,228493380,227711784,227714999,227720519,227720941,227722997,227723748,227731398,227733906,227737689,227738438,227743344,227745730,227745962,227745992,227746254,227746472,227746579,227746589,227746614,227746880,227747200,227752603,227755364,227760754,227765848,227765946,227768072,227769368,227770064,227770714,227772553,227775130,227784709,227784998,227785276,227785584,227787031,227792460,227799010,227799624,227802140,227804049,227805522,227805946,227809405,227810444,227821686,227823221,227825863,227827195,227827815,227828593,227829787,227832738,227834823,227835913,227837365,227839718,227840607,227840882,227840952,227841357,227841648,227842031,227843437,227844088,227844102,227844544,227845657,227845766,227847314,227848833,227849251,227852300,227853372,227856201,227858462,227858527,227858540,227858981,227860683,227860733,227869456,227871897,227875958,227878772,227878937,227881339,229649909,229650430,229650635,229651502,229653115,229653555,229653811,229653901,229654194,229654271,229654804,229656044,229657147,229657910,229658331,229659914,229660143,229661423,229661641,229665015,229665149,229670040,229671689,229672099,229672404,229673197,229674446,229674773,229674903,229675070,229675902,229677183,229677276,229677843,229677998,229679021,229679103,229679494,229679995,229681420,229682434,229683007,229691666,229691852,229692284,229692382,229693128,229694313,229695230,229695391,229695725,229696260,229698418,229701174,229701514,229701888,229702447,229703198,229706188,229706189,229706731,229709711,229710368,229711034,229711036,229712682,229713853,229717726,229717782,229719305,229719319,229719338,229721042,229721275,229722721,229723752,229723799,229724528,229724546,229724695,229724741,229724983,229726229,229726469,229726798,229727193,229728104,229728189,229174847,229175236,229175718,229176772,229177089,229178060,229179663,229179695,229180146,229183672,229184250,229185637,229186493,229187668,229189898,229189909,229190042,229190214,229190762,229195885,229196112,229197600,229197603,229197647,229198108,229198304,229198325,229199701,229200402,229200726,229201438,229201867,229202120,229202665,229203823,229203972,229204016,229206798,229207223,229207654,229207684,229209639,229209902,229210080,229212288,229213119,229213282,229213375,229213496,229215453,229215833,229216330,229217591,229218671,229219586,229220534,229221114,229221287,229221349,229221428,229222641,229223607,229224557,229224573,229225848,229226005,229226065,229226153,229226215,229226582,229226770,229226934,229227080,229227273,229227560,229227739,229228908,229229483,229229944,229230074,229230337,229230664,229230852,229231607,229232264,229233359,229233376,229233680,228241294,228241804,228242485,228244599,228247449,228250715,228251010,228252377,228252413,228252544,228253202,228253283,228253340,228253912,228254101,228255103,228255182,228255194,228255202,228255638,228255718,228255785,228256457,228256572,228257541,228262529,228262572,228263587,228264192,228264241,228267360,228269232,228269403,228270090,228270194,228271239,228275929,228279378,228280586,228281954,228282302,228282463,228284831,228285099,228285106,228285991,228286825,228287111,228288528,228288671,228289242,228290094,228290176,228290839,228293309,228293973,228294950,228296906,228298087,228299972,228301611,228303214,228304576,228305153,228308364,228309937,228310975,228312133,228313111,228314275,228315661,228317978,228317996,228319976,228322550,228325440,228326658,228327537,228328823,228328981,228330635,228331612,228331797,228332998,228333082,228334055,228334464,228334499,228335110,228335153,228336188,228338100,228339146,228339353,228339434,228493418,228497062,228497097,228497735,228498016,228498139,228499152,228499189,228499526,228499867,228500475,228501231,228501401,228503056,228505593,228505596,228505681,228506585,228508339,228509566,228509851,228510031,228510444,228510650,228510851,228511221,228511645,228511722,228512090,228512101,228512393,228512810,228513306,228513809,228514077,228514278,228514411,228515166,228515245,228515415,228515447,228517694,228518224,228518614,228518692,228518796,228518842,228519274,228519375,228520855,228522918,228523244,228523344,228523875,228525119,228525203,228525967,228526855,228526941,228527393,228527835,228527911,228528009,228528168,228528303,228528316,228528715,228529142,228529145,228529395,228529426,228529439,228529503,228529564,228529918,228529987,228530032,228530034,228530459,228530464,228530480,228530505,228530586,228530907,228531070,228531322,228531325,228531785,229728385,229729526,229730073,229730096,229730182,229730933,229732686,229733036,229733769,229733882,229734402,229735064,229735110,229735499,229736023,229737721,229737906,229738084,229738422,229740069,229740568,229740569,229740601,229741928,229741953,229742525,229742597,229742677,229742717,229742719,229743352,229743562,229743932,229744517,229745151,229745479,229745487,229745976,229747251,229748380,229750037,229754305,229756998,229759231,229759942,229760935,229761653,229762354,229762512,229762785,229762922,229764845,229764873,229767847,229767946,229771105,229772766,229777033,229778936,229779591,229780270,229783530,229783729,229784724,229784896,229787063,229787102,229787188,229787722,229788847,229790546,229790923,229792219,229792923,229792944,229792978,229794722,229796055,229796607,229803462,229804035,229804098,229804500,229807603,229807739,229807920,229807934,229808312,229809482,229810352,229810495,229811139,229811634,229812342,229812754,229234148,229234505,229234581,229234605,229234896,229234900,229235067,229235936,229236536,229236544,229237515,229238551,229238558,229238867,229238921,229239254,229239341,229239555,229239580,229239697,229240003,229240105,229240271,229240700,229240837,229240902,229240986,229241051,229241245,229241287,229241318,229241551,229241713,229241737,229242293,229242966,229243095,229243096,229243107,229243255,229243573,229243860,229244116,229244667,229245252,229245420,229246813,229247021,229247064,229247317,229248402,229248843,229248934,229249089,229249317,229249520,229249575,229250482,229250882,229251469,229254346,229254664,229254917,229255267,229255466,229256542,229257600,229259169,229259549,229260205,229260282,229260729,229261093,229261820,229262752,229266219,229266818,229267231,229268215,229268216,229268961,229269812,229271094,229272484,229272492,229272637,229273842,229274197,229276491,229278516,229278632,229279180,229279476,229279551,229280611,229283290,229284225,229284410,229284563,229286904,229287613,229290732,229291504,229291953,229292348,229293070,229294590,229294624,229296015,229297007,229297562,229298655,229299214,229299245,229303029,229303469,229304355,229305169,229305279,229305609,229306707,229306891,229306896,229307652,229308115,229308244,229308368,229309903,229310227,229310710,229312073,229312334,229312443,229312855,229312880,229313181,229313878,229315279,229316036,229316781,229317210,229317452,229318794,229319920,229320187,229320344,229320465,229321280,229321287,229321379,229321471,229322043,229322232,229322370,229323141,229323233,229324123,229324141,229324388,229324877,229325061,229325172,229325738,229325816,229325980,229326072,229326127,229327245,229327539,229327566,229327576,229328139,229328197,229328235,229328377,229328466,227884099,227884131,227884168,227886729,227886969,227890633,227893245,227894312,227897009,227900448,227900896,227902509,227905667,227908020,227909879,227909973,227910279,227910592,227910629,227911380,227911894,227913530,227914534,227916728,227917662,227919041,227925102,227925835,227926784,227928171,227932658,227935852,227938177,227939913,227940388,227940513,227942807,227944262,227946219,227948990,227949480,227949871,227950378,227950712,227951295,227951665,227952033,227954306,227955058,227955400,227956119,227957330,227958648,227959977,227960660,227960787,227962382,227964074,227964302,227964586,227967068,227968582,227969425,227971132,227972117,227972289,227972947,227976296,227976310,227976580,219744105,221086958,221086960,221100587,221100622,221188277,221211315,221229478,221337828,221364075,221364939,224037000,224067419,224074077,224096118,224098148,224129801,224129802,224130240,224177779,224179695,224198492,224213015,224216654,224251017,226157132,226159949,226162241,226163821,226168763,226184435,226185577,226190069,226193954,226196664,226202284,226214019,226216792,226218070,226218174,226220554,226224052,226224180,226228979,226232218,226233953,226235512,226236876,226238377,226243415,226245980,226247210,226248323,226249514,226257475,226257978,226267181,226271244,226272026,226274838,226285045,226285593,226286398,226289684,226290685,226293897,226296278,226299109,226301119,226302377,226306917,226309642,226310052,226319873,226329054,226333868,226334202,226343770,226344038,226345490,226345884,226346305,226349356,226355904,226356776,226356963,226358941,226359303,228531832,228531958,228532695,228532836,228532869,228532896,228533452,228533482,228533705,228534104,228534410,228534811,228535446,228535926,228535945,228536291,228536786,228537915,228538478,228539307,228539463,228541120,228541651,228542917,228543547,228543557,228543593,228544126,228544608,228544885,228546138,228546521,228547124,228547339,228547645,228549245,228549488,228549663,228549692,228550095,228550429,228550783,228551287,228554437,228555638,228556926,228557641,228559012,228560407,228561068,228561205,228562543,228562549,228563421,228564796,228565288,228565463,228566055,228566347,228567681,228569587,228569624,228570185,228570525,228570871,228571221,228571252,228571478,228572365,228573510,228573888,228575686,228576136,228576867,228577359,228578577,228578897,228579861,228579999,228580835,228581039,228581170,228581355,228582145,228582397,228585334,228585658,228585877,229328628,229328741,229329706,229329892,229329982,229330087,229330109,229330167,229330316,229330550,229332091,229332699,229333828,229335914,229336619,229337783,229337790,229338237,229339549,229340427,229340926,229341523,229343499,229344056,229344772,229344940,229347386,229348682,229351417,229352673,229352809,229353581,229354696,229357865,229358179,229358977,229359222,229360479,229360559,229360649,229360774,229361544,229362231,229363561,229363988,229365897,229367988,229369365,229371125,229371145,229371746,229371795,229372580,229373182,229375569,229377127,229377741,229379923,229380987,229382151,229382724,229382797,229382906,229383394,229383589,229384515,229384567,229385621,229386391,229387277,229387636,229387848,229388259,229391765,229392285,229394217,229394381,229394875,229395452,229395740,229397308,229397397,229398400,229399748,229399757,229399790,229400347,229401703,229402046,229402676,229403209,229404178,229404366,229404859,229404936,229405282,2294055)
	   --AND BT.B_KEY = 218803472
	   AND BU.KE_BID=15
	   AND BU.B_AB_DATUM >= '2019-01-01'
	   AND (BU.B_KEY = @B_KEY OR @B_KEY IS NULL)
  GROUP BY BT.B_KEY
  ORDER BY BT.B_KEY

-- BookingValue
-- ------------
-- 0 : Hotelumsatz = 0 aus Buchteil           -> keine Änderung
-- 1 : Buchteil Netto                         -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 2 : Total Rate = Total Rate Incl.          -> keine Änderung
-- 3 : Buchteil Brutto                        -> keine Änderung
-- 4 : Buchteil OK aber größer als Total Rate -> keine Änderung
-- 5 : Total Rate = Total Rate Incl. aber <> Buchteilsumme -> keine Änderung
-- 6 : Buchteil ist Netto und Total Rate ein vielfaches von Buchteil -> Zimmerpreis + Frühstückspreis um Steuer erhöhen
-- 7 : Buchteil ist Brutto und Total Rate ein vielfaches von Buchteil -> keine Änderung
;WITH Compare AS
(
SELECT BP_KEY,B_KEY, BU.B_TOTAL_RATE, BU.B_TOTAL_RATE_INCLUSIVE, BT_LOGIS, BT_W_O_BF,CASE WHEN ABS(BT_LOGIS) = 0 THEN 0 ELSE ABS(BU.B_TOTAL_RATE_INCLUSIVE-BT_LOGIS)*1.0/ABS(BT_LOGIS) END DiffRel
     , CASE
	     WHEN BT_LOGIS=0 THEN 0
	     WHEN ABS(BU.B_TOTAL_RATE - BT_LOGIS)*1.0/ABS(BT_LOGIS)<0.0001 AND ABS(BU.B_TOTAL_RATE_INCLUSIVE-BT_LOGIS)*1.0/ABS(BT_LOGIS)>=0.0001 THEN 1 
		 WHEN ABS(BU.B_TOTAL_RATE - BT_LOGIS)*1.0/ABS(BT_LOGIS)<0.0001 AND ABS(BU.B_TOTAL_RATE_INCLUSIVE - BT_LOGIS)*1.0/ABS(BT_LOGIS)<0.0001 THEN 2
		 WHEN BU.B_TOTAL_RATE=BU.B_TOTAL_RATE_INCLUSIVE THEN 5
		 WHEN BU.B_TOTAL_RATE <> BT_LOGIS AND ABS(BU.B_TOTAL_RATE_INCLUSIVE-BT_LOGIS)*1.0/ABS(BT_LOGIS)<0.01 THEN 3
		 WHEN ABS(BT_LOGIS) > ABS(BU.B_TOTAL_RATE) AND ABS(BT_LOGIS) > ABS(BU.B_TOTAL_RATE_INCLUSIVE) THEN 4
		 WHEN BU.B_TOTAL_RATE*1.0 % BT_LOGIS / BU.B_TOTAL_RATE <0.01 THEN 6
		 WHEN BU.B_TOTAL_RATE_INCLUSIVE*1.0 % BT_LOGIS / BU.B_TOTAL_RATE <0.01 THEN 7
		 ELSE null
	   END BookingValue
  FROM #BKG
  JOIN HRSDB.BUCHUNG BU WITH (NOLOCK) ON B_KEY_LU = B_KEY 
 WHERE BU.KE_BID=15
   AND BU.B_AB_DATUM >= '2019-01-01'
   AND BU.B_TOTAL_RATE>0
), R AS
(
SELECT B_KEY
     , B_TOTAL_RATE_INCLUSIVE * 1.0 / B_TOTAL_RATE BT_CORR_RATIO
  FROM Compare
 WHERE 1=1
   AND BookingValue IN (1,6)
)
INSERT INTO #CORR
SELECT * FROM R 

UPDATE BT SET
       BT.BT_NETTO_PREIS = BT.BT_PREIS
	 , BT.BT_NETTO_FRST_PREIS = BT.BT_FRST_PREIS
  FROM HRSDB.BUCHTEIL BT 
  JOIN #CORR CO
    ON CO.B_KEY=BT.B_KEY

UPDATE BT SET
       BT.BT_PREIS = BT.BT_PREIS * CO.BT_CORR_RATIO
	 , BT.BT_FRST_PREIS = BT.BT_FRST_PREIS * CO.BT_CORR_RATIO
  FROM HRSDB.BUCHTEIL BT 
  JOIN #CORR CO
    ON CO.B_KEY=BT.B_KEY

UPDATE AL SET
       AL.[Net Room Price] = BT_NETTO_PREIS / 100.
	 , AL.[Net Breakfast Price] = BT_NETTO_FRST_PREIS / 100.
     , AL.[Room Price] = BT_PREIS / 100.
	 , AL.[Breakfast Price] = BT_FRST_PREIS / 100. 
  FROM HRSDB.BUCHTEIL BT
  JOIN #CORR CO
    ON CO.B_KEY=BT.B_KEY
  JOIN [HRS$Agency Line] AL
    ON AL.[Reservation No_] = CAST(BT.B_KEY AS varchar(20))
   AND AL.[Position No_] = BT.BT_POS

END
GO
