USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CorrectACCORBrand]    Script Date: 10.04.2024 14:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 26.10.2023
-- Description:	Correct Brand ID in ACCOR-Reservations
--              ACS-4546
/*
EXEC sp_CorrectACCORBrand
*/
-- =============================================
CREATE PROCEDURE [dbo].[sp_CorrectACCORBrand]
AS
BEGIN
;WITH H1 AS
(
  SELECT HO.H_KEY,BU.KE_BID,BU.KE_ID, MAX(B_AB_DATUM) B_AB_DATUM, COUNT(1) COUNT_BID
    FROM HRSDB.BUCHUNG BU WITH (NOLOCK) 
    JOIN HRSDB.HOTEL HO WITH (NOLOCK) ON HO.H_KEY=BU.H_KEY
   WHERE HO.KE_BID=550 AND HO.KE_ID=550 AND BU.KE_ID<>550
     AND B_AB_DATUM >= '2020-01-01' 
     AND HO.KE_BID=550
     AND BU.KE_BID=550
     AND B_AB_DATUM<>'3870-01-01'
GROUP BY HO.H_KEY,BU.KE_BID,BU.KE_ID
), H2 AS
(
  SELECT H_KEY,MAX(B_AB_DATUM) B_AB_DATUM FROM H1 GROUP BY H_KEY
), HO AS
(
  SELECT H1.H_KEY,H1.KE_BID,H1.KE_ID
    FROM H1
    JOIN H2 ON H2.H_KEY=H1.H_KEY AND H2.B_AB_DATUM=H1.B_AB_DATUM
)
UPDATE BU SET
       BU.KE_ID=HO.KE_ID
  FROM HRSDB.BUCHUNG BU
  JOIN HO ON BU.H_KEY=HO.H_KEY
 WHERE BU.B_AB_DATUM >= '2023-10-01'
   AND BU.KE_ID<>HO.KE_ID

UPDATE AH SET
       AH.[Brand ID]=CAST(BU.KE_ID as varchar(10))
  FROM [HRS$Agency Header] AH
  JOIN HRSDB.BUCHUNG BU ON CAST(BU.B_KEY AS varchar(20))=AH.[Reservation No_]
 WHERE AH.[Brand ID]<>CAST(BU.KE_ID as varchar(10))
   AND AH.[Chain ID]='550'
UPDATE AH SET
       AH.[Brand ID]=CAST(BU.KE_ID as varchar(10))
  FROM [HRS-CN$Agency Header] AH
  JOIN HRSDB.BUCHUNG BU ON CAST(BU.B_KEY AS varchar(20))=AH.[Reservation No_]
 WHERE AH.[Brand ID]<>CAST(BU.KE_ID as varchar(10))
   AND AH.[Chain ID]='550'
UPDATE AH SET
       AH.[Brand ID]=CAST(BU.KE_ID as varchar(10))
  FROM [HRS-BR$Agency Header] AH
  JOIN HRSDB.BUCHUNG BU ON CAST(BU.B_KEY AS varchar(20))=AH.[Reservation No_]
 WHERE AH.[Brand ID]<>CAST(BU.KE_ID as varchar(10))
   AND AH.[Chain ID]='550'
END


GO
