USE [DynNavHRS]
GO
/****** Object:  StoredProcedure [dbo].[CorrectChain943]    Script Date: 10.04.2024 14:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thomas Marquardt
-- Create date: 31.10.22
-- Description:	Correct the Chain ID based on Brand ID
/*
EXEC [dbo].[CorrectChain943]
*/
-- Date     Version   RFC    Sign.  Description
-- ------------------------------------------------------------
-- 21.07.22 HRS001    ACS-3821  TM  Creation
CREATE PROCEDURE [dbo].[CorrectChain943] AS
BEGIN
UPDATE BU SET 
       BU.KE_BID=943
  FROM HRSDB.BUCHUNG BU WITH (NOLOCK)
 WHERE BU.KE_ID IN (943)
   AND BU.KE_BID <> 3040

UPDATE BU SET 
       BU.[Chain ID]='943'
  FROM [HRS$Agency Header] BU WITH (NOLOCK)
 WHERE BU.[Brand ID] IN ('943')
   AND BU.[Chain ID] <> '943'
END
GO
